Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

.pre-commit-config.yaml:

fail_fast: true

exclude: |
  (?x)^(
    .*/(snapshots)/.*|
  )$

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.20.2
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.26.0
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: local
    hooks:
      - id: cargo-dev-generate-all
        name: cargo dev generate-all
        entry: cargo dev generate-all
        language: system
        types: [rust]
        pass_filenames: false
        files: ^crates/(uv-cli|uv-settings)/

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

Update crates/uv-cli/src/lib.rs
  crates/uv-cli/src/lib.rs
Due: cargo-fmt, cargo-dev-generate-all

Basic functional build backend wheels (#7966)
  Cargo.lock
  crates/uv-build-backend/Cargo.toml
  crates/uv-build-backend/src/lib.rs
  crates/uv/tests/build_backend.rs
  crates/uv/tests/common/mod.rs
Due: cargo-fmt

Bump patch Python versions for project (#7972)
  .python-versions
  crates/uv/tests/pip_compile.rs
  crates/uv/tests/venv.rs
  docs/guides/scripts.md
Due: cargo-fmt

Show interpreter source during Python discovery query errors (#7928)
  crates/uv-python/src/discovery.rs
Due: cargo-fmt

Show verbose output during integration tests
  .github/workflows/ci.yml
Due: none

Show verbose logs during smoke test
  .github/workflows/ci.yml
Due: none

Fix problems with build backend metadata files
  crates/uv-build-backend/src/lib.rs
  crates/uv-build-backend/src/metadata.rs
Due: cargo-fmt

Windows
  crates/uv-build-backend/src/lib.rs
Due: cargo-fmt

Show verbose logs during smoke test (#7984)
  .github/workflows/ci.yml
Due: none

Show verbose output during integration tests (#7982)
  .github/workflows/ci.yml
Due: none

Remove `PythonPreference` toggle based on `UV_TEST_PYTHON_PATH`
  crates/uv-python/src/discovery.rs
  crates/uv/src/settings.rs
  crates/uv/tests/common/mod.rs
  crates/uv/tests/lock.rs
  crates/uv/tests/python_find.rs
  crates/uv/tests/python_pin.rs
  crates/uv/tests/show_settings.rs
Due: cargo-fmt

Remove `PythonPreference` toggle based on `UV_TEST_PYTHON_PATH` (#7989)
  crates/uv-python/src/discovery.rs
  crates/uv/src/settings.rs
  crates/uv/tests/common/mod.rs
  crates/uv/tests/lock.rs
  crates/uv/tests/python_find.rs
  crates/uv/tests/python_pin.rs
  crates/uv/tests/show_settings.rs
Due: cargo-fmt

fix formatting
  crates/uv-resolver/src/prerelease.rs
Due: cargo-fmt

Bump version to 0.4.19
  CHANGELOG.md
  Cargo.lock
  crates/uv-version/Cargo.toml
  crates/uv/Cargo.toml
  docs/guides/integration/docker.md
  docs/guides/integration/github.md
  docs/guides/integration/pre-commit.md
  pyproject.toml
Due: none

Bump version to 0.4.19 (#7991)
  CHANGELOG.md
  Cargo.lock
  crates/uv-version/Cargo.toml
  crates/uv/Cargo.toml
  docs/guides/integration/docker.md
  docs/guides/integration/github.md
  docs/guides/integration/pre-commit.md
  pyproject.toml
Due: none

Fix syntax in GitLab integration docs
  docs/guides/integration/gitlab.md
Due: none

Use idiomatic syntax in GitLab integration docs
  docs/guides/integration/gitlab.md
Due: none

Remove obsolete command in GitLab integration docs
  docs/guides/integration/gitlab.md
Due: none

Fix cache directory path in GitLab integration docs
  docs/guides/integration/gitlab.md
Due: none

Use more idiomatic CI job names in GitLab integration docs
  docs/guides/integration/gitlab.md
Due: none

Use simple `image` syntax in GitLab integration docs
  docs/guides/integration/gitlab.md
Due: none

remove `__future__` import
  crates/uv-virtualenv/src/activator/activate_this.py
Due: none

Fix problems with build backend metadata files (#7979)
  crates/uv-build-backend/src/lib.rs
  crates/uv-build-backend/src/metadata.rs
Due: cargo-fmt

Fix merge problem with main
  crates/uv-build-backend/src/lib.rs
Due: cargo-fmt

Fix merge problem with main (#8005)
  crates/uv-build-backend/src/lib.rs
Due: cargo-fmt

Build backend: Logging and more checks
  crates/uv-build-backend/src/lib.rs
Due: cargo-fmt

Build backend: Logging and more checks (#7980)
  crates/uv-build-backend/src/lib.rs
Due: cargo-fmt

Check consistency between prepare and build step
  crates/uv-build-backend/src/lib.rs
  crates/uv/src/commands/build_backend.rs
Due: cargo-fmt

Review
  crates/uv-build-backend/src/lib.rs
Due: cargo-fmt

fix: Improve compatibility with VSCode PS1 prompt
  crates/uv-virtualenv/src/activator/activate
Due: none

Check consistency between prepare and build step (#7986)
  crates/uv-build-backend/src/lib.rs
  crates/uv/src/commands/build_backend.rs
Due: cargo-fmt

Add managed downloads for CPython 3.13.0 final
  crates/uv-python/download-metadata.json
  crates/uv-python/src/downloads.inc
Due: none

Fix GitHub Actions integration test
  .github/workflows/ci.yml
Due: none

Add managed downloads for CPython 3.13.0 final (#8010)
  crates/uv-python/download-metadata.json
  crates/uv-python/src/downloads.inc
Due: none
