Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

.pre-commit-config.yaml:

fail_fast: true

exclude: |
  (?x)^(
    .*/(snapshots)/.*|
  )$

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.20.2
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.26.0
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: local
    hooks:
      - id: cargo-dev-generate-all
        name: cargo dev generate-all
        entry: cargo dev generate-all
        language: system
        types: [rust]
        pass_filenames: false
        files: ^crates/(uv-cli|uv-settings)/

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

Error on missing argument in `requirements.txt` (#12354)
  crates/uv-requirements-txt/src/lib.rs
Due: cargo-fmt

Use small string for index name type
  crates/uv-distribution-types/src/index_name.rs
Due: cargo-fmt

Use small string for index name type (#12355)
  crates/uv-distribution-types/src/index_name.rs
Due: cargo-fmt

Per review
  crates/uv/tests/it/python_find.rs
Due: cargo-fmt

Support `python find --script` (#11891)
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/mod.rs
  crates/uv/src/commands/python/find.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/python_find.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

🐛 Ensure trailing comments' positions are properly handled
  crates/uv-workspace/src/pyproject_mut.rs
Due: cargo-fmt

✅ Add unit tests
  crates/uv-workspace/src/pyproject_mut.rs
Due: cargo-fmt

🎨 Rename to targeted
  crates/uv-workspace/src/pyproject_mut.rs
Due: cargo-fmt

Apply Clippy fixes
  crates/uv-workspace/src/pyproject_mut.rs
Due: cargo-fmt

Update installation.md
  docs/getting-started/installation.md
Due: none

remove empty lines installation.md
  docs/getting-started/installation.md
Due: none

✅ Move unit tests to snapshot tests, and fix failing tests
  crates/uv-workspace/src/pyproject_mut.rs
  crates/uv/tests/it/edit.rs
Due: cargo-fmt

🎨 Rename to "end-of-line" comment
  crates/uv-workspace/src/pyproject_mut.rs
Due: cargo-fmt

Add use of pin command for changing project default p[ython version
  docs/concepts/python-versions.md
Due: none

add --force option to publish
  crates/uv-cli/src/lib.rs
  crates/uv-publish/src/lib.rs
  crates/uv/src/commands/publish.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
Due: cargo-fmt, cargo-dev-generate-all

Revert "Support `python find --script` (#11891)"
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/mod.rs
  crates/uv/src/commands/python/find.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/python_find.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Revert "Support `python find --script` (#11891)" (#12364)
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/mod.rs
  crates/uv/src/commands/python/find.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/python_find.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Revert "Revert "Support `python find --script` (#11891)" (#12364)"
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/mod.rs
  crates/uv/src/commands/python/find.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/python_find.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Logs!
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Revert "Logs!"
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Retain end-of-line comment position when adding dependency (#12360)
  crates/uv-workspace/src/pyproject_mut.rs
  crates/uv/tests/it/edit.rs
Due: cargo-fmt

Document --all-packages and --packages options
  docs/concepts/projects/sync.md
Due: none

Restore "Support `python find --script` (#11891)"
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/mod.rs
  crates/uv/src/commands/python/find.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/python_find.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Apply suggestions from code review
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/pip/operations.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Enum rename + fix tests
  crates/uv/src/commands/pip/operations.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Add `uv sync --check` flag (#12342)
  crates/uv-cli/src/lib.rs
  crates/uv-configuration/src/dry_run.rs
  crates/uv/src/commands/pip/operations.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/sync.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

change CheckUrlIndex error message to hint at --force
  crates/uv-publish/src/lib.rs
Due: cargo-fmt

update cli doc with cargo dev generate-cli-reference
  docs/reference/cli.md
Due: none

Add `--show-version` to `uv python find`
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/python/find.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/python_find.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Add `uv python list` test cases
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/main.rs
  crates/uv/tests/it/python_list.rs
Due: cargo-fmt

allow dead
  crates/uv/src/printer.rs
Due: cargo-fmt

Update `python_required_python_major_minor` with note about Homebrew
  crates/uv/tests/it/python_find.rs
Due: cargo-fmt

Update some Python find tests to use filters
  crates/uv/tests/it/python_find.rs
Due: cargo-fmt

Update `python_required_python_major_minor` with note about Homebrew (#12378)
  crates/uv/tests/it/python_find.rs
Due: cargo-fmt

Drop `list <request>` tests
  crates/uv/tests/it/python_list.rs
Due: cargo-fmt

Update some Python find tests to use filters (#12377)
  crates/uv/tests/it/python_find.rs
Due: cargo-fmt
