Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

.pre-commit-config.yaml:

fail_fast: true

exclude: |
  (?x)^(
    .*/(snapshots)/.*|
  )$

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.42.3
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: local
    hooks:
      - id: cargo-dev-generate-all
        name: cargo dev generate-all
        entry: cargo dev generate-all
        language: system
        types: [rust]
        pass_filenames: false
        files: ^crates/(uv-cli|uv-settings)/

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --ignore-unknown
        language: node
        additional_dependencies: ["prettier@3"]
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

Give Windows PGO symbol builds 64 GB of memory
  .github/workflows/debug-symbols-experiment.yml
  scripts/debug-symbols/README.md
Due: none

Keep symbolizer diagnostics separate from JSON output
  scripts/debug-symbols/run.py
Due: none

Update astral-html to inline notice revision
  Cargo.lock
  Cargo.toml
Due: none

Record native uv PGO debug symbol measurements
  scripts/debug-symbols/README.md
Due: none

Use published astral-html release
  .cargo/deny.toml
  Cargo.lock
  Cargo.toml
Due: none

Compare line-table debug symbols on available release runners
  .github/workflows/debug-symbols-experiment.yml
  scripts/debug-symbols/README.md
  scripts/debug-symbols/run.py
  scripts/debug-symbols/run_uv.py
Due: none

Bump astral-html to 0.0.2
  Cargo.lock
  Cargo.toml
Due: none

Fix CodSpeed profile imports for the x86-64 runner
  scripts/codspeed-profiles.py
Due: none

Bump astral-html to 0.0.3
  Cargo.lock
  Cargo.toml
Due: none

Update Docker guides for frozen lockfiles (#22172)
  docs/guides/integration/aws-lambda.md
  docs/guides/integration/docker.md
Due: none

Benchmark CLI construction and configuration parsing
  Cargo.lock
  crates/uv-bench/Cargo.toml
  crates/uv-bench/benches/uv.rs
  crates/uv-bench/benches/uv_startup.rs
Due: cargo-fmt

Record Windows PGO line-table symbol results
  scripts/debug-symbols/README.md
Due: none

Decouple command inputs and presentation
  Cargo.lock
  crates/uv-cli/src/lib.rs
  crates/uv-cli/src/version.rs
  crates/uv-configuration/src/env_file.rs
  crates/uv-distribution-types/src/buildable.rs
  crates/uv-shell/Cargo.toml
  crates/uv-shell/src/configuration.rs
  crates/uv-shell/src/lib.rs
  crates/uv/src/commands/mod.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/version.rs
  crates/uv/src/commands/reporters.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/src/commands/tool/upgrade.rs
  crates/uv/src/commands/update_shell.rs
  crates/uv/src/commands/version.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
Due: cargo-fmt, cargo-dev-generate-all

Narrow shared workflow inputs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/pip/operations.rs
  crates/uv/src/commands/pip/sync.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/audit.rs
  crates/uv/src/commands/project/check.rs
  crates/uv/src/commands/project/check/ty.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/remove.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/project/version.rs
  crates/uv/src/commands/tool/audit.rs
  crates/uv/src/commands/tool/common.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/src/commands/workspace/list.rs
  crates/uv/src/commands/workspace/module_owners.rs
Due: cargo-fmt

Share package selection across project commands
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/check.rs
  crates/uv/src/commands/project/export.rs
  crates/uv/src/commands/project/install_target.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
Due: cargo-fmt

Share project and script editing targets
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/edit.rs
  crates/uv/src/commands/project/remove.rs
  crates/uv/src/commands/project/version.rs
Due: cargo-fmt

Use named inputs for lockfile validation
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/tool/common.rs
Due: cargo-fmt

Migrate HTML parsing to astral-html (#22203)
  Cargo.lock
  Cargo.toml
  crates/uv-client/Cargo.toml
  crates/uv-client/src/html.rs
Due: cargo-fmt

Update Codex action to fix runner socket permissions
  .github/workflows/diagnose-workflow-failure.yml
  .github/workflows/fix-bug.yml
  .github/workflows/issue-triage.yml
  .github/workflows/pull-request-labels.yml
  .github/workflows/rebase-conflicted-pull-request.yml
  .github/workflows/release-prepare.yml
  .github/workflows/reproduce-bug.yml
  .github/workflows/update-issue-context.yml
Due: none

Handle maximal release prefixes when converting version ranges
  crates/uv-pep440/src/version_ranges.rs
Due: cargo-fmt

fix: hash equivalent version bounds consistently
  crates/uv-pep440/src/version.rs
Due: cargo-fmt

Decouple command inputs and presentation (#22205)
  Cargo.lock
  crates/uv-cli/src/lib.rs
  crates/uv-cli/src/version.rs
  crates/uv-configuration/src/env_file.rs
  crates/uv-distribution-types/src/buildable.rs
  crates/uv-shell/Cargo.toml
  crates/uv-shell/src/configuration.rs
  crates/uv-shell/src/lib.rs
  crates/uv/src/commands/mod.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/version.rs
  crates/uv/src/commands/reporters.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/src/commands/tool/upgrade.rs
  crates/uv/src/commands/update_shell.rs
  crates/uv/src/commands/version.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
Due: cargo-fmt, cargo-dev-generate-all

Narrow shared workflow inputs (#22206)
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/pip/operations.rs
  crates/uv/src/commands/pip/sync.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/audit.rs
  crates/uv/src/commands/project/check.rs
  crates/uv/src/commands/project/check/ty.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/remove.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/project/version.rs
  crates/uv/src/commands/tool/audit.rs
  crates/uv/src/commands/tool/common.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/src/commands/workspace/list.rs
  crates/uv/src/commands/workspace/module_owners.rs
Due: cargo-fmt

Share package selection across project commands (#22208)
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/check.rs
  crates/uv/src/commands/project/export.rs
  crates/uv/src/commands/project/install_target.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
Due: cargo-fmt

Fix extra reachability through incompatible paths
  crates/uv-lock/src/lock/export/mod.rs
  crates/uv/tests/project/export.rs
Due: cargo-fmt

Share project and script editing targets (#22207)
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/edit.rs
  crates/uv/src/commands/project/remove.rs
  crates/uv/src/commands/project/version.rs
Due: cargo-fmt

Update Codex action to fix runner socket permissions (#22213)
  .github/workflows/diagnose-workflow-failure.yml
  .github/workflows/fix-bug.yml
  .github/workflows/issue-triage.yml
  .github/workflows/pull-request-labels.yml
  .github/workflows/rebase-conflicted-pull-request.yml
  .github/workflows/release-prepare.yml
  .github/workflows/reproduce-bug.yml
  .github/workflows/update-issue-context.yml
Due: none

Preserve JSON version output in quiet mode
  crates/uv/src/commands/project/version.rs
  crates/uv/src/commands/version.rs
  crates/uv/tests/it/version.rs
Due: cargo-fmt

Move resolution state wrappers into uv-dispatch
  crates/uv-dispatch/src/lib.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/audit.rs
  crates/uv/src/commands/project/check.rs
  crates/uv/src/commands/project/environment.rs
  crates/uv/src/commands/project/export.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/remove.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/project/tree.rs
  crates/uv/src/commands/project/upgrade.rs
  crates/uv/src/commands/project/version.rs
  crates/uv/src/commands/tool/common.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/src/commands/tool/upgrade.rs
  crates/uv/src/commands/workspace/metadata.rs
  crates/uv/src/commands/workspace/module_owners.rs
Due: cargo-fmt

Move shared script discovery into uv-scripts
  Cargo.lock
  crates/uv-scripts/Cargo.toml
  crates/uv-scripts/src/discovery.rs
  crates/uv-scripts/src/lib.rs
  crates/uv/Cargo.toml
  crates/uv/src/commands/project/check/ty.rs
  crates/uv/src/commands/workspace/list.rs
Due: cargo-fmt

Move script requirement lowering into uv-requirements
  Cargo.lock
  crates/uv-requirements/Cargo.toml
  crates/uv-requirements/src/lib.rs
  crates/uv-requirements/src/script.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
Due: cargo-fmt

Move resolution state wrappers into uv-dispatch (#22224)
  crates/uv-dispatch/src/lib.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/audit.rs
  crates/uv/src/commands/project/check.rs
  crates/uv/src/commands/project/environment.rs
  crates/uv/src/commands/project/export.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/remove.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/project/tree.rs
  crates/uv/src/commands/project/upgrade.rs
  crates/uv/src/commands/project/version.rs
  crates/uv/src/commands/tool/common.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/src/commands/tool/upgrade.rs
  crates/uv/src/commands/workspace/metadata.rs
  crates/uv/src/commands/workspace/module_owners.rs
Due: cargo-fmt

Move script requirement lowering into uv-requirements (#22225)
  Cargo.lock
  crates/uv-requirements/Cargo.toml
  crates/uv-requirements/src/lib.rs
  crates/uv-requirements/src/script.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
Due: cargo-fmt

Move shared script discovery into uv-scripts (#22226)
  Cargo.lock
  crates/uv-scripts/Cargo.toml
  crates/uv-scripts/src/discovery.rs
  crates/uv-scripts/src/lib.rs
  crates/uv/Cargo.toml
  crates/uv/src/commands/project/check/ty.rs
  crates/uv/src/commands/workspace/list.rs
Due: cargo-fmt

Fix propagation of extras on already reachable packages
  crates/uv-lock/src/lock/export/mod.rs
  crates/uv/tests/project/export.rs
Due: cargo-fmt
