Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

.pre-commit-config.yaml:

fail_fast: true

exclude: |
  (?x)^(
    .*/(snapshots)/.*|
  )$

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.42.3
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: local
    hooks:
      - id: cargo-dev-generate-all
        name: cargo dev generate-all
        entry: cargo dev generate-all
        language: system
        types: [rust]
        pass_filenames: false
        files: ^crates/(uv-cli|uv-settings)/

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --ignore-unknown
        language: node
        additional_dependencies: ["prettier@3"]
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

Remove the redundant system certificate environment test
  crates/uv/tests/sync/show_settings.rs
Due: cargo-fmt

Represent the complete candidate universe for version widening
  crates/uv-resolver/src/resolver/mod.rs
Due: cargo-fmt

Bind resolver metadata waits to registered request handles
  crates/uv-once-map/src/lib.rs
  crates/uv-resolver/src/resolver/batch_prefetch.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-resolver/src/resolver/requests.rs
Due: cargo-fmt

Validate resolver output before installation conversion
  crates/uv-dispatch/src/lib.rs
  crates/uv-resolver-types/src/lib.rs
  crates/uv-resolver-types/src/output.rs
  crates/uv-resolver/src/lib.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/sync.rs
  crates/uv/src/commands/project/environment.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/upgrade.rs
Due: cargo-fmt

Represent resolver package facets with an enum
  crates/uv-lock/src/lock/mod.rs
  crates/uv-resolver-types/src/distribution.rs
  crates/uv-resolver-types/src/lib.rs
  crates/uv-resolver-types/src/output.rs
  crates/uv-resolver/src/error.rs
  crates/uv-resolver/src/pubgrub/dependencies.rs
  crates/uv-resolver/src/pubgrub/package.rs
  crates/uv-resolver/src/pubgrub/report.rs
  crates/uv-resolver/src/resolution/output.rs
  crates/uv-resolver/src/resolution/requirements_txt.rs
  crates/uv-resolver/src/resolver/batch_prefetch.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-resolver/src/resolver/resolution.rs
Due: cargo-fmt

Separate validated lock package identities from wire data
  crates/uv-lock/src/lock/id.rs
  crates/uv-lock/src/lock/mod.rs
Due: cargo-fmt

Distinguish relative lock dependency markers from reachability
  crates/uv-lock/src/lock/dependency_marker.rs
  crates/uv-lock/src/lock/installable.rs
  crates/uv-lock/src/lock/mod.rs
  crates/uv-lock/src/lock/tree.rs
Due: cargo-fmt

Rename PackageFacet to PackageVariant
  crates/uv-lock/src/lock/mod.rs
  crates/uv-resolver-types/src/distribution.rs
  crates/uv-resolver-types/src/lib.rs
  crates/uv-resolver-types/src/output.rs
  crates/uv-resolver/src/error.rs
  crates/uv-resolver/src/pubgrub/dependencies.rs
  crates/uv-resolver/src/pubgrub/package.rs
  crates/uv-resolver/src/pubgrub/report.rs
  crates/uv-resolver/src/resolution/output.rs
  crates/uv-resolver/src/resolution/requirements_txt.rs
  crates/uv-resolver/src/resolver/batch_prefetch.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-resolver/src/resolver/resolution.rs
Due: cargo-fmt

Simplify resolver output conversion validation
  crates/uv-resolver-types/src/output.rs
  crates/uv-resolver/src/lib.rs
Due: cargo-fmt

Retain registered metadata handles in selected pins
  crates/uv-resolver/src/pins.rs
  crates/uv-resolver/src/resolver/batch_prefetch.rs
  crates/uv-resolver/src/resolver/environment.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-resolver/src/resolver/requests.rs
  crates/uv-resolver/src/resolver/resolution.rs
Due: cargo-fmt

Sort missing lower bound warnings by package name
  crates/uv-resolver/src/resolution/output.rs
  crates/uv/tests/lock/lock.rs
Due: cargo-fmt

Use releases bot for documentation publishing
  .github/workflows/publish-docs.yml
Due: none

Retain registered cache entries in resolver request handles
  crates/uv-once-map/src/lib.rs
  crates/uv-once-map/tests/once_map.rs
  crates/uv-resolver/src/pins.rs
  crates/uv-resolver/src/resolver/batch_prefetch.rs
  crates/uv-resolver/src/resolver/environment.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-resolver/src/resolver/requests.rs
  crates/uv-resolver/src/resolver/resolution.rs
Due: cargo-fmt

Use explicit fallible package identity conversions
  crates/uv-lock/src/lock/mod.rs
Due: cargo-fmt

Keep checked resolver output private
  crates/uv-resolver-types/src/lib.rs
  crates/uv-resolver-types/src/output.rs
Due: cargo-fmt

Avoid warning when both certificate settings are configured
  crates/uv/src/settings.rs
  crates/uv/tests/sync/show_settings.rs
Due: cargo-fmt

Ignore deprecated TLS environment variable when replaced
  crates/uv-settings/src/lib.rs
  crates/uv/tests/sync/show_settings.rs
Due: cargo-fmt, cargo-dev-generate-all

Use explicit fallible resolution conversions
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/upgrade.rs
Due: cargo-fmt

Rename PackageVariant to PackageNodeKind
  crates/uv-lock/src/lock/mod.rs
  crates/uv-resolver-types/src/distribution.rs
  crates/uv-resolver-types/src/lib.rs
  crates/uv-resolver-types/src/output.rs
  crates/uv-resolver/src/error.rs
  crates/uv-resolver/src/pubgrub/dependencies.rs
  crates/uv-resolver/src/pubgrub/package.rs
  crates/uv-resolver/src/pubgrub/report.rs
  crates/uv-resolver/src/resolution/output.rs
  crates/uv-resolver/src/resolution/requirements_txt.rs
  crates/uv-resolver/src/resolver/batch_prefetch.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-resolver/src/resolver/resolution.rs
Due: cargo-fmt

Keep resolver request handles on existing cache storage
  crates/uv-once-map/src/lib.rs
  crates/uv-once-map/tests/once_map.rs
  crates/uv-resolver/src/pins.rs
  crates/uv-resolver/src/resolver/batch_prefetch.rs
  crates/uv-resolver/src/resolver/environment.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-resolver/src/resolver/requests.rs
  crates/uv-resolver/src/resolver/resolution.rs
Due: cargo-fmt

Apply suggestion from @zanieb
  crates/uv-settings/src/lib.rs
Due: cargo-fmt, cargo-dev-generate-all

Simplify system certificate environment precedence test
  crates/uv/tests/sync/show_settings.rs
Due: cargo-fmt

Require exclusive cache access to invalidate registered entries
  crates/uv-dispatch/src/lib.rs
  crates/uv-once-map/Cargo.toml
  crates/uv-once-map/src/append_only.rs
  crates/uv-once-map/src/lib.rs
  crates/uv-once-map/tests/append_only.rs
  crates/uv-resolver-types/src/metadata.rs
  crates/uv-resolver/src/resolver/batch_prefetch.rs
  crates/uv-resolver/src/resolver/index.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-resolver/src/resolver/requests.rs
  crates/uv-resolver/tests/index.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/mod.rs
Due: cargo-fmt

Rename registered cache wrapper to RegisteredOnceMap
  crates/uv-once-map/src/lib.rs
  crates/uv-once-map/src/registered.rs
  crates/uv-once-map/tests/registered.rs
  crates/uv-resolver-types/src/metadata.rs
  crates/uv-resolver/src/resolver/index.rs
Due: cargo-fmt

Check crate publishing policies on release pull requests
  .github/automations-dispatch.json
  .github/workflows/check-crates-policies.yml
  .github/workflows/report-crates-policies.yml
  scripts/release.sh
Due: none

Run crate policy checks through the CI plan
  .github/automations-dispatch.json
  .github/secure-token-service.json
  .github/workflows/check-crates-policies.yml
  .github/workflows/ci.yml
  .github/workflows/plan.yml
  .github/workflows/report-crates-policies.yml
Due: none

Assign release pull requests to the workflow initiator
  .github/workflows/release-prepare.yml
Due: none

Mention release assignees in crate policy failures
  .github/workflows/check-crates-policies.yml
Due: none

Format crate policy comments with a heredoc
  .github/workflows/check-crates-policies.yml
Due: none

Require crate policy checks for uv version changes
  .github/secure-token-service.json
  .github/workflows/ci.yml
  .github/workflows/plan.yml
Due: none

Clarify release version detection comment
  .github/workflows/plan.yml
Due: none

Use uv to read release versions
  .github/workflows/plan.yml
Due: none

Remove obsolete cache waits and narrow helper visibility
  crates/uv-once-map/src/lib.rs
  crates/uv/src/commands/project/mod.rs
  hawk.toml
Due: cargo-fmt

Avoid allocations for duplicate OnceMap registrations
  crates/uv-once-map/src/lib.rs
Due: cargo-fmt

Avoid allocations for duplicate OnceMap registrations (#21810)
  crates/uv-once-map/src/lib.rs
Due: cargo-fmt

Keep release detection inputs in the plan step
  .github/workflows/plan.yml
Due: none

Keep release check eligibility in CI
  .github/workflows/ci.yml
  .github/workflows/plan.yml
Due: none

Compose release detection from CI predicates
  .github/workflows/ci.yml
  .github/workflows/plan.yml
Due: none

Temporarily skip GitLab registry publishing tests
  scripts/publish/test_publish.py
Due: none

Comment out the expired GitLab publishing credential
  .github/workflows/ci.yml
Due: none
