Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-dev-generate-all:
  name: cargo dev generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

Use cached aborting test builds on Windows
  .github/workflows/test.yml
Due: none

Benchmark Windows workspace test caching
  .github/workflows/reproduce-bug.yml
Due: none

Cache workspace member compilation during Linux tests (#20448)
  .github/workflows/test.yml
Due: none

Use cached aborting test builds on macOS
  .github/workflows/test.yml
Due: none

Recover Windows cache benchmark sample 2
  .github/workflows/reproduce-bug.yml
Due: none

Use an enum for virtual environment seeding
  crates/uv-build-frontend/src/lib.rs
  crates/uv-tool/src/lib.rs
  crates/uv-virtualenv/src/lib.rs
  crates/uv-virtualenv/src/virtualenv.rs
  crates/uv/src/commands/project/check.rs
  crates/uv/src/commands/project/environment.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/venv.rs
  crates/uv/src/lib.rs
Due: cargo-fmt

Recover Windows cache benchmark sample 3
  .github/workflows/reproduce-bug.yml
Due: none

Use an enum for virtual environment seeding (#20454)
  crates/uv-build-frontend/src/lib.rs
  crates/uv-tool/src/lib.rs
  crates/uv-virtualenv/src/lib.rs
  crates/uv-virtualenv/src/virtualenv.rs
  crates/uv/src/commands/project/check.rs
  crates/uv/src/commands/project/environment.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/venv.rs
  crates/uv/src/lib.rs
Due: cargo-fmt

Replace no-config booleans with an enum
  crates/uv-python/src/lib.rs
  crates/uv-python/src/version_files.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/audit.rs
  crates/uv/src/commands/project/check.rs
  crates/uv/src/commands/project/export.rs
  crates/uv/src/commands/project/init.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/remove.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/project/tree.rs
  crates/uv/src/commands/project/upgrade.rs
  crates/uv/src/commands/project/version.rs
  crates/uv/src/commands/python/find.rs
  crates/uv/src/commands/python/install.rs
  crates/uv/src/commands/tool/common.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/src/commands/venv.rs
  crates/uv/src/commands/workspace/metadata.rs
  crates/uv/src/lib.rs
  crates/uv/tests/project/export.rs
Due: cargo-fmt

Limit Tokio blocking worker threads
  crates/uv/src/lib.rs
Due: cargo-fmt

Use four cache-read blocking workers
  crates/uv-client/src/cached_client.rs
Due: cargo-fmt

Adapt cache-read concurrency under pressure
  crates/uv-client/src/cached_client.rs
Due: cargo-fmt

Isolate cache reads on a blocking pool
  crates/uv-client/src/cached_client.rs
  crates/uv/src/lib.rs
Due: cargo-fmt

Revert "Adapt cache-read concurrency under pressure"
  crates/uv-client/src/cached_client.rs
Due: cargo-fmt

Make cache-read concurrency configurable
  crates/uv-client/src/base_client.rs
  crates/uv-client/src/cached_client.rs
  crates/uv-configuration/src/concurrency.rs
  crates/uv-settings/src/lib.rs
  crates/uv-static/src/env_vars.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/sync/show_settings.rs
Due: cargo-fmt, cargo-dev-generate-all

Enable nightly Rust features for macOS tests (#20451)
  .github/workflows/test.yml
Due: none

Update publish settings snapshot
  crates/uv/tests/sync/show_settings.rs
Due: cargo-fmt

Use DevMode for dependency group arguments
  crates/uv-configuration/src/dependency_groups.rs
  crates/uv-requirements/src/specification.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/settings.rs
Due: cargo-fmt

Add a nightly fast-build test profile
  .github/workflows/test.yml
  Cargo.toml
Due: none

Enable nightly Rust features for development builds
  .github/workflows/build-dev-binaries.yml
  Cargo.toml
Due: none

Benchmark nightly development binary builds
  .github/workflows/reproduce-bug.yml
Due: none

Use DevMode for dependency group arguments (#20457)
  crates/uv-configuration/src/dependency_groups.rs
  crates/uv-requirements/src/specification.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/settings.rs
Due: cargo-fmt

Replace no-config booleans with an enum (#20455)
  crates/uv-python/src/lib.rs
  crates/uv-python/src/version_files.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/audit.rs
  crates/uv/src/commands/project/check.rs
  crates/uv/src/commands/project/export.rs
  crates/uv/src/commands/project/init.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/remove.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/project/tree.rs
  crates/uv/src/commands/project/upgrade.rs
  crates/uv/src/commands/project/version.rs
  crates/uv/src/commands/python/find.rs
  crates/uv/src/commands/python/install.rs
  crates/uv/src/commands/tool/common.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/src/commands/venv.rs
  crates/uv/src/commands/workspace/metadata.rs
  crates/uv/src/lib.rs
  crates/uv/tests/project/export.rs
Due: cargo-fmt

Isolate cache reads on a blocking pool (#20427)
  crates/uv-client/src/base_client.rs
  crates/uv-client/src/cached_client.rs
  crates/uv-configuration/src/concurrency.rs
  crates/uv-settings/src/lib.rs
  crates/uv-static/src/env_vars.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/sync/show_settings.rs
Due: cargo-fmt, cargo-dev-generate-all

Stabilize dev build benchmark cache keys
  .github/workflows/reproduce-bug.yml
Due: none

Isolate benchmark toolchains from runner images
  .github/workflows/reproduce-bug.yml
Due: none

Cache workspace member compilation during Clippy
  .github/workflows/check-lint.yml
Due: none

Benchmark Clippy workspace caching
  .github/workflows/reproduce-bug.yml
Due: none

Fix unbalanced backtick in environment docs
  crates/uv-static/src/env_vars.rs
Due: cargo-fmt

Fix nightly Clippy doc warning for benchmark
  crates/uv-static/src/env_vars.rs
Due: cargo-fmt

Return ready futures from empty credential providers
  crates/uv-auth/src/credentials.rs
Due: cargo-fmt

Fix nightly Clippy credential warnings for benchmark
  crates/uv-auth/src/credentials.rs
Due: cargo-fmt

Address pinned nightly Clippy diagnostics
  crates/uv-dispatch/src/lib.rs
  crates/uv-publish/src/trusted_publishing.rs
  crates/uv-publish/src/trusted_publishing/pypi.rs
  crates/uv-publish/src/trusted_publishing/pyx.rs
  crates/uv-requirements-txt/src/lib.rs
  crates/uv-resolver/src/candidate_selector.rs
  crates/uv-resolver/src/pubgrub/priority.rs
  crates/uv-resolver/src/redirect.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/commands/self_update.rs
Due: cargo-fmt

Address nightly Clippy diagnostics for benchmark
  crates/uv-dispatch/src/lib.rs
  crates/uv-publish/src/trusted_publishing.rs
  crates/uv-publish/src/trusted_publishing/pypi.rs
  crates/uv-publish/src/trusted_publishing/pyx.rs
  crates/uv-requirements-txt/src/lib.rs
  crates/uv-resolver/src/candidate_selector.rs
  crates/uv-resolver/src/pubgrub/priority.rs
  crates/uv-resolver/src/redirect.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/commands/self_update.rs
Due: cargo-fmt

Complete pinned nightly Clippy cleanup
  crates/uv/src/commands/self_update.rs
Due: cargo-fmt

Complete nightly Clippy cleanup for benchmark
  crates/uv/src/commands/self_update.rs
Due: cargo-fmt

Use fresh Clippy benchmark cache generation
  .github/workflows/reproduce-bug.yml
Due: none

Enable nightly Rust features for Windows tests (#20452)
  .github/workflows/test.yml
  Cargo.toml
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/(snapshots)/.*|
)$

  cargo-dev-generate-all: any of: ^crates/(uv-cli|uv-settings)/ and \.rs$ and not ((?x)^(
  .*/(snapshots)/.*|
)$
)
