Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-dev-generate-all:
  name: cargo dev generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

Review
  crates/uv-resolver/src/upgrade.rs
Due: cargo-fmt

Avoid version commit info build churn when using jj
  crates/uv-cli/build.rs
Due: cargo-fmt, cargo-dev-generate-all

Infer Python version requests from source trees in `uv tool` invocations
  crates/uv-python/src/discovery.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/commands/project/init.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/tool/common.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/tests/it/tool_install.rs
  crates/uv/tests/it/tool_run.rs
Due: cargo-fmt

Add missing `riscv64gc-unknown-linux-musl` entry to `dist-workspace`
  dist-workspace.toml
Due: none

Add missing `riscv64gc-unknown-linux-musl` entry to `dist-workspace` (#18686)
  dist-workspace.toml
Due: none

address review comments
  crates/uv/src/commands/self_update.rs
  crates/uv/src/printer.rs
  crates/uv/tests/it/self_update.rs
Due: cargo-fmt

Add mocked integration tests for -q / -qq output behavior
  crates/uv/tests/it/self_update.rs
Due: cargo-fmt

Fallback to direct download when direct URL streaming is unsupported
  crates/uv-distribution/src/distribution_database.rs
Due: cargo-fmt

Make official uv self-update manifest fetching mirror-first
  crates/uv-bin-install/src/lib.rs
Due: cargo-fmt

Fallback to direct download when direct URL streaming is unsupported (#18688)
  crates/uv-distribution/src/distribution_database.rs
Due: cargo-fmt

Fix `attr_added_in("next version")` annotations with actual versions
  crates/uv-static/src/env_vars.rs
Due: cargo-fmt

Avoid version commit info build churn when using jj (#18685)
  crates/uv-cli/build.rs
Due: cargo-fmt, cargo-dev-generate-all

Fix version annotations for PS_MODULE_PATH and UV_WORKING_DIR (#18691)
  crates/uv-static/src/env_vars.rs
Due: cargo-fmt

Revert PR #18669
  crates/uv-pypi-types/src/metadata/metadata_resolver.rs
Due: cargo-fmt

Revert treating 'Dynamic' values as case-insensitive (#18692)
  crates/uv-pypi-types/src/metadata/metadata_resolver.rs
Due: cargo-fmt

Cover `--python <dir>` in "Using arbitrary Python environments"
  docs/pip/environments.md
Due: none

Apply suggestion from @zanieb
  docs/pip/environments.md
Due: none

Cover `--python <dir>` in "Using arbitrary Python environments" (#6457)
  docs/pip/environments.md
Due: none

Validate locked versions against specifiers in lock file (#12276)
  crates/uv-resolver/src/lock/mod.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Add an in-memory cache for `ManagedInstallations::find_all`
  crates/uv-python/src/managed.rs
Due: cargo-fmt

Special-case `==` Python version request ranges
  crates/uv-python/src/discovery.rs
  crates/uv/tests/it/python_find.rs
Due: cargo-fmt

Update the Git fetch API to be async
  crates/uv-git/src/git.rs
  crates/uv-git/src/resolver.rs
  crates/uv-git/src/source.rs
Due: cargo-fmt

Special-case `==` Python version request ranges (#9697)
  crates/uv-python/src/discovery.rs
  crates/uv/tests/it/python_find.rs
Due: cargo-fmt

Dim uninstalled Python keys in `uv python list`
  crates/uv/src/commands/python/list.rs
Due: cargo-fmt

Review
  crates/uv-python/src/discovery.rs
  crates/uv-python/src/installation.rs
Due: cargo-fmt

Tell agents to use [`...`] style references
  CLAUDE.md
Due: none

Tell agents to use [`...`] style references (#18698)
  CLAUDE.md
Due: none

Use wiremock in uv-bin-install manifest tests
  Cargo.lock
  crates/uv-bin-install/Cargo.toml
  crates/uv-bin-install/src/lib.rs
Due: cargo-fmt

Consolidate `requires-python` conversion to `PythonRequest`
  crates/uv-distribution-types/src/requires_python.rs
  crates/uv-python/src/discovery.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/commands/project/init.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/tool/common.rs
  crates/uv/tests/it/python_find.rs
Due: cargo-fmt

Infer Python version requests from source trees in `uv tool` invocations
  crates/uv-preview/src/lib.rs
  crates/uv-python/src/discovery.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/commands/project/init.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/tool/common.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/tests/it/show_settings.rs
  crates/uv/tests/it/tool_install.rs
  crates/uv/tests/it/tool_run.rs
Due: cargo-fmt

Remove torchdata from list of packages to source from the PyTorch index
  crates/uv-torch/src/backend.rs
Due: cargo-fmt

Remove `torchdata` from list of packages to source from the PyTorch index (#18703)
  crates/uv-torch/src/backend.rs
Due: cargo-fmt

Add `--locked` to `uv tool` to respect `uv.lock` from target source trees
  crates/uv-cli/src/lib.rs
  crates/uv-preview/src/lib.rs
  crates/uv/src/commands/tool/common.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/tool_install.rs
  crates/uv/tests/it/tool_run.rs
Due: cargo-fmt, cargo-dev-generate-all

Extract RunCommand::download_remote_script helper
  crates/uv/src/commands/project/run.rs
Due: cargo-fmt

Improve run_target_workspace_discovery test to catch reading cwd
  crates/uv/tests/it/run.rs
Due: cargo-fmt

Simplify project_dir parsing using `if let`
  crates/uv/src/lib.rs
Due: cargo-fmt

Parse only the target project with target-workspace-discovery feature
  crates/uv/src/commands/project/run.rs
  crates/uv/src/lib.rs
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/(snapshots)/.*|
)$

  cargo-dev-generate-all: any of: ^crates/(uv-cli|uv-settings)/ and \.rs$ and not ((?x)^(
  .*/(snapshots)/.*|
)$
)
