Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-dev-generate-all:
  name: cargo dev generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

fix: add windows manifest to uv binaries
  Cargo.lock
  Cargo.toml
  crates/uv/Cargo.toml
  crates/uv/build.rs
Due: cargo-fmt

wih_unset_git_credential_helper: Using assert_fs.write_str
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Isolating test from accessing global git credential helper config (#16895)
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Attach subcommand to User-Agent string (#16837)
  crates/uv-client/src/base_client.rs
  crates/uv-client/src/linehaul.rs
  crates/uv-client/tests/it/user_agent_version.rs
  crates/uv/src/lib.rs
Due: cargo-fmt

Implement 0.0.3
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-variants/src/variants_json.rs
  files/built_by_uv-0.1.0-py3-none-any-cpu1.whl
  files/built_by_uv-0.1.0-py3-none-any-cpu2.whl
  files/built_by_uv-0.1.0-py3-none-any-cpu3.whl
  files/built_by_uv-0.1.0-py3-none-any-cpu4.whl
  files/built_by_uv-0.1.0-variants.json
  files_sdist/built_by_uv-0.1.0.tar.gz
  files_wheel/built_by_uv-0.1.0-py3-none-any.whl
  scripts/packages/built-by-uv/pyproject.toml
Due: cargo-fmt

Enable PEP 740 attestations when publishing to PyPI
  .github/workflows/publish-pypi.yml
Due: none

Respect NO_COLOR when paging help
  crates/uv/src/commands/help.rs
Due: cargo-fmt

Use a header rather than less prompt when paging help
  crates/uv/src/commands/help.rs
Due: cargo-fmt

Respect `NO_COLOR` and always show the command as a header when paging `uv help` output (#16908)
  crates/uv/src/commands/help.rs
Due: cargo-fmt

Enable PEP 740 attestations when publishing to PyPI (#16910)
  .github/workflows/publish-pypi.yml
Due: none

Use 0o666 permissions for flock files instead of 0o777 (#16845)
  crates/uv-fs/src/lib.rs
Due: cargo-fmt

Add a Windows manifest to uv binaries (#16894)
  Cargo.lock
  Cargo.toml
  crates/uv/Cargo.toml
  crates/uv/build.rs
Due: cargo-fmt

Use `npm ci --ignore-scripts` in update_schemastore.py
  scripts/update_schemastore.py
Due: none

fix comment
  scripts/update_schemastore.py
Due: none

Use `npm ci --ignore-scripts` in update_schemastore.py (#16915)
  scripts/update_schemastore.py
Due: none

Add ROCm 6.4 to --torch-backend=auto
  crates/uv-torch/src/backend.rs
  docs/reference/cli.md
  uv.schema.json
Due: cargo-fmt

Add ROCm 6.4 to `--torch-backend=auto` (#16919)
  crates/uv-torch/src/backend.rs
  docs/reference/cli.md
  uv.schema.json
Due: cargo-fmt

Add `lfs = true` support in Git source declarations
  crates/uv-distribution-types/src/requirement.rs
  crates/uv-distribution/src/metadata/lowering.rs
  crates/uv-distribution/src/metadata/requires_dist.rs
  crates/uv-git-types/src/lib.rs
  crates/uv-git/src/git.rs
  crates/uv-git/src/source.rs
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__line-endings-whitespace.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-whitespace.txt.snap
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-workspace/src/pyproject.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/tests/it/sync.rs
  uv.schema.json
Due: cargo-fmt

chore: initial cleanup
  Cargo.lock
  crates/uv-git-types/Cargo.toml
  crates/uv-git-types/src/lib.rs
Due: cargo-fmt

fix: ensure lfs state is propagated in the git database and checkouts
  Cargo.lock
  crates/uv-cache-key/src/canonical_url.rs
  crates/uv-git/Cargo.toml
  crates/uv-git/src/git.rs
  crates/uv-git/src/source.rs
  crates/uv-static/src/env_vars.rs
  crates/uv/tests/it/show_settings.rs
Due: cargo-fmt

fix: support stateful lfs fragments and indicators
  crates/uv-distribution-types/src/requirement.rs
  crates/uv-distribution/src/metadata/lowering.rs
  crates/uv-git-types/src/lib.rs
  crates/uv-installer/src/satisfies.rs
  crates/uv-pypi-types/src/direct_url.rs
  crates/uv-pypi-types/src/parsed_url.rs
  crates/uv-resolver/src/lock/export/pylock_toml.rs
  crates/uv-resolver/src/lock/export/requirements_txt.rs
  crates/uv-resolver/src/lock/mod.rs
Due: cargo-fmt

fix: proper caching lfs-based built wheels
  crates/uv-cache/src/wheel.rs
  crates/uv-distribution-types/src/requirement.rs
  crates/uv-distribution/src/error.rs
  crates/uv-distribution/src/source/mod.rs
  crates/uv-git/src/git.rs
  crates/uv-git/src/lib.rs
  crates/uv-git/src/source.rs
Due: cargo-fmt

tests: initial uv-sync test adjustments
  .github/workflows/ci.yml
  crates/uv-static/src/env_vars.rs
  crates/uv/Cargo.toml
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

feat: support --lfs in uv add
  crates/uv-cli/src/lib.rs
  crates/uv-distribution-types/src/specified_requirement.rs
  crates/uv-git/src/git.rs
  crates/uv-static/src/env_vars.rs
  crates/uv-workspace/src/pyproject.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/edit.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

docs: add documentation for lfs usage and configuration
  CONTRIBUTING.md
  docs/concepts/projects/dependencies.md
  docs/guides/tools.md
Due: none

feat: support --lfs in uv tool run/install
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/tool_install.rs
  crates/uv/tests/it/tool_run.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Add span for LFS `git fsck`
  crates/uv-git/src/git.rs
Due: cargo-fmt

chore: remove bookworm, and alpine 3.21 published images
  .github/workflows/build-docker.yml
  docs/guides/integration/docker.md
Due: none

Fix `uv-trampoline-builder` builds from crates.io by moving bundled executables
  .github/workflows/ci.yml
  crates/uv-trampoline-builder/Cargo.toml
  crates/uv-trampoline-builder/src/lib.rs
  crates/uv-trampoline-builder/trampolines/uv-trampoline-aarch64-console.exe
  crates/uv-trampoline-builder/trampolines/uv-trampoline-aarch64-gui.exe
  crates/uv-trampoline-builder/trampolines/uv-trampoline-i686-console.exe
  crates/uv-trampoline-builder/trampolines/uv-trampoline-i686-gui.exe
  crates/uv-trampoline-builder/trampolines/uv-trampoline-x86_64-console.exe
  crates/uv-trampoline-builder/trampolines/uv-trampoline-x86_64-gui.exe
  crates/uv-trampoline/README.md
  pyproject.toml
Due: cargo-fmt

Cache source reads during resolution (#16888)
  crates/uv-requirements-txt/src/lib.rs
  crates/uv-requirements/src/specification.rs
Due: cargo-fmt

Support requirements without an extension (#16889)
  crates/uv-requirements-txt/src/lib.rs
  crates/uv-requirements/src/sources.rs
  crates/uv-requirements/src/specification.rs
  crates/uv-requirements/src/upgrade.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/tool_run.rs
Due: cargo-fmt

Bump timeout for macOS tests from 15m -> 20m
  .github/workflows/ci.yml
Due: none

Bump timeout for macOS tests from 15m -> 20m (#16925)
  .github/workflows/ci.yml
Due: none

Support requirements without an extension (#16923)
  crates/uv-requirements-txt/src/lib.rs
  crates/uv-requirements/src/sources.rs
  crates/uv-requirements/src/specification.rs
  crates/uv-requirements/src/upgrade.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/tool_run.rs
Due: cargo-fmt

Allow HTTP
  crates/uv-requirements/src/sources.rs
  crates/uv-requirements/src/specification.rs
  crates/uv/tests/it/edit.rs
Due: cargo-fmt

Add a check for accidental cache modifications
  .github/workflows/ci.yml
  scripts/check-cache-changes/check-cache-changes.py
  scripts/check-cache-changes/pyproject.toml
  scripts/check-cache-changes/uv.lock
Due: none

Final touch-ups
  Cargo.lock
  crates/uv-git-types/src/lib.rs
  crates/uv-git/Cargo.toml
  crates/uv-git/src/git.rs
  docs/concepts/projects/dependencies.md
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/(snapshots)/.*|
)$

  cargo-dev-generate-all: any of: ^crates/(uv-cli|uv-settings)/ and \.rs$ and not ((?x)^(
  .*/(snapshots)/.*|
)$
)
