Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

.pre-commit-config.yaml:

fail_fast: true

exclude: |
  (?x)^(
    .*/(snapshots)/.*|
  )$

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.20.2
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.26.0
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: local
    hooks:
      - id: cargo-dev-generate-all
        name: cargo dev generate-all
        entry: cargo dev generate-all
        language: system
        types: [rust]
        pass_filenames: false
        files: ^crates/(uv-cli|uv-settings)/

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

Add tiny change to changelog
  CHANGELOG.md
Due: none

Add tiny change to changelog (#11517)
  CHANGELOG.md
Due: none

uv/tests: add regression test for duplicate torch and sympy dependencies
  crates/uv/tests/it/lock_conflict.rs
Due: cargo-fmt

uv-resolver: fix conflict marker simplification bug
  crates/uv-resolver/src/graph_ops.rs
  crates/uv-resolver/src/resolution/output.rs
  crates/uv/tests/it/lock_conflict.rs
Due: cargo-fmt

uv/tests: update snapshots to account for more conservative conflict marker simplification
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/lock_conflict.rs
Due: cargo-fmt

Note that main.py used to be hello.py
  docs/concepts/projects/init.md
Due: none

Respect all platforms
  crates/uv-distribution-types/src/known_platform.rs
  crates/uv-distribution-types/src/lib.rs
  crates/uv-distribution-types/src/prioritized_distribution.rs
  crates/uv-pypi-types/src/supported_environments.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__hash_optional_missing.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__hash_optional_present.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__hash_required_present.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__missing_dependency_source_unambiguous.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__missing_dependency_source_version_unambiguous.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__missing_dependency_version_dynamic.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__missing_dependency_version_unambiguous.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__source_direct_has_subdir.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__source_direct_no_subdir.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__source_directory.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__source_editable.snap
  crates/uv-resolver/src/options.rs
  crates/uv-resolver/src/pubgrub/package.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-settings/src/settings.rs
  crates/uv-workspace/src/pyproject.rs
  crates/uv-workspace/src/workspace.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/lock_target.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/show_settings.rs
  docs/reference/settings.md
  uv.schema.json
Due: cargo-fmt, cargo-dev-generate-all

Allow users to mark platforms as "required" for wheel coverage (#10067)
  crates/uv-distribution-types/src/known_platform.rs
  crates/uv-distribution-types/src/lib.rs
  crates/uv-distribution-types/src/prioritized_distribution.rs
  crates/uv-pypi-types/src/supported_environments.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__hash_optional_missing.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__hash_optional_present.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__hash_required_present.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__missing_dependency_source_unambiguous.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__missing_dependency_source_version_unambiguous.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__missing_dependency_version_dynamic.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__missing_dependency_version_unambiguous.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__source_direct_has_subdir.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__source_direct_no_subdir.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__source_directory.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__source_editable.snap
  crates/uv-resolver/src/options.rs
  crates/uv-resolver/src/pubgrub/package.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-settings/src/settings.rs
  crates/uv-workspace/src/pyproject.rs
  crates/uv-workspace/src/workspace.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/lock_target.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/show_settings.rs
  docs/reference/settings.md
  uv.schema.json
Due: cargo-fmt, cargo-dev-generate-all

Respect verbatim executable name in uvx
  crates/uv/src/commands/tool/run.rs
  crates/uv/tests/it/tool_run.rs
Due: cargo-fmt

Respect verbatim executable name in uvx (#11524)
  crates/uv/src/commands/tool/run.rs
  crates/uv/tests/it/tool_run.rs
Due: cargo-fmt

Update docs/concepts/projects/init.md
  docs/concepts/projects/init.md
Due: none

Note that main.py used to be hello.py (#11519)
  docs/concepts/projects/init.md
Due: none

Sync latest Python releases
  crates/uv-python/download-metadata.json
  crates/uv-python/src/downloads.inc
Due: none

Add --all to uvx --reinstall message
  crates/uv/src/settings.rs
Due: cargo-fmt

Add `--all` to `uvx --reinstall` message (#11535)
  crates/uv/src/settings.rs
Due: cargo-fmt

Fallback to `GET` on HTTP 400 when attempting to use range requests for wheel download
  crates/uv-client/src/error.rs
Due: cargo-fmt

Add documentation for required environments
  docs/concepts/projects/config.md
  docs/concepts/resolution.md
Due: none

Remove redundant index from preference key
  crates/uv-resolver/src/candidate_selector.rs
Due: cargo-fmt

Remove redundant index from preference key (#11543)
  crates/uv-resolver/src/candidate_selector.rs
Due: cargo-fmt

Prefer local
  crates/uv-resolver/src/candidate_selector.rs
  crates/uv-resolver/src/version_map.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/pip_compile.rs
Due: cargo-fmt

Prefer local variants in preference selection (#11546)
  crates/uv-resolver/src/candidate_selector.rs
  crates/uv-resolver/src/version_map.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/pip_compile.rs
Due: cargo-fmt

Fallback to `GET` on HTTP 400 when attempting to use range requests for wheel download (#11539)
  crates/uv-client/src/error.rs
Due: cargo-fmt

add shebang sectiong for scripts
  docs/guides/scripts.md
Due: none

Update scripts.md
  docs/guides/scripts.md
Due: none

Remove clone from marker evaluation
  crates/uv-resolver/src/graph_ops.rs
  crates/uv-resolver/src/universal_marker.rs
Due: cargo-fmt

Remove clone from marker evaluation (#11562)
  crates/uv-resolver/src/graph_ops.rs
  crates/uv-resolver/src/universal_marker.rs
Due: cargo-fmt

Accept iterator in universal marker evaluation
  crates/uv-resolver/src/lock/installable.rs
  crates/uv-resolver/src/universal_marker.rs
Due: cargo-fmt

Accept iterator in universal marker evaluation (#11571)
  crates/uv-resolver/src/lock/installable.rs
  crates/uv-resolver/src/universal_marker.rs
Due: cargo-fmt

Make fetch python downloads deterministic
  crates/uv-python/download-metadata.json
  crates/uv-python/fetch-download-metadata.py
  crates/uv-python/src/downloads.inc
Due: none

Split uv-git and uv-git-types (#11448)
  Cargo.lock
  Cargo.toml
  crates/uv-distribution-types/Cargo.toml
  crates/uv-distribution-types/src/buildable.rs
  crates/uv-distribution-types/src/lib.rs
  crates/uv-distribution/Cargo.toml
  crates/uv-distribution/src/metadata/lowering.rs
  crates/uv-distribution/src/source/mod.rs
  crates/uv-git-types/Cargo.toml
  crates/uv-git-types/src/github.rs
  crates/uv-git-types/src/lib.rs
  crates/uv-git-types/src/oid.rs
  crates/uv-git-types/src/reference.rs
  crates/uv-git/Cargo.toml
  crates/uv-git/src/git.rs
  crates/uv-git/src/lib.rs
  crates/uv-git/src/resolver.rs
  crates/uv-git/src/source.rs
  crates/uv-installer/Cargo.toml
  crates/uv-installer/src/satisfies.rs
  crates/uv-pypi-types/Cargo.toml
  crates/uv-pypi-types/src/parsed_url.rs
  crates/uv-pypi-types/src/requirement.rs
  crates/uv-requirements/Cargo.toml
  crates/uv-requirements/src/lib.rs
  crates/uv-resolver/Cargo.toml
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-resolver/src/lock/requirements_txt.rs
  crates/uv-workspace/Cargo.toml
  crates/uv-workspace/src/pyproject.rs
  crates/uv/Cargo.toml
  crates/uv/src/commands/project/add.rs
Due: cargo-fmt

Eagerly reject unsupported Git schemes
  Cargo.lock
  crates/uv-distribution-types/src/lib.rs
  crates/uv-distribution-types/src/resolution.rs
  crates/uv-distribution/src/metadata/lowering.rs
  crates/uv-git-types/src/lib.rs
  crates/uv-installer/src/satisfies.rs
  crates/uv-pypi-types/src/parsed_url.rs
  crates/uv-pypi-types/src/requirement.rs
  crates/uv-requirements/Cargo.toml
  crates/uv-requirements/src/lib.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-resolver/src/lock/requirements_txt.rs
  crates/uv-resolver/src/pubgrub/dependencies.rs
  crates/uv-workspace/src/pyproject.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

#[cfg(feature = "git")]
  crates/uv/tests/it/edit.rs
Due: cargo-fmt

Fix macro typo
  crates/uv/src/lib.rs
Due: cargo-fmt

Warn for builds in non-build and workspace root pyproject.toml
  Cargo.lock
  crates/uv-build-frontend/Cargo.toml
  crates/uv-build-frontend/src/lib.rs
  crates/uv/tests/it/build.rs
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Make fetch python downloads deterministic (#11572)
  crates/uv-python/download-metadata.json
  crates/uv-python/fetch-download-metadata.py
  crates/uv-python/src/downloads.inc
Due: none
