Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

.pre-commit-config.yaml:

fail_fast: true

exclude: |
  (?x)^(
    .*/(snapshots)/.*|
  )$

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.20.2
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.26.0
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: local
    hooks:
      - id: cargo-dev-generate-all
        name: cargo dev generate-all
        entry: cargo dev generate-all
        language: system
        types: [rust]
        pass_filenames: false
        files: ^crates/(uv-cli|uv-settings)/

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

Ignore empty or missing hrefs in Simple HTML (#10276)
  crates/uv-client/src/html.rs
Due: cargo-fmt

another tweak to the help test
  crates/uv/tests/it/help.rs
Due: cargo-fmt

Bump version to v0.5.14
  CHANGELOG.md
  Cargo.lock
  crates/uv-version/Cargo.toml
  crates/uv/Cargo.toml
  docs/getting-started/installation.md
  docs/guides/integration/docker.md
  docs/guides/integration/github.md
  docs/guides/integration/pre-commit.md
  pyproject.toml
Due: none

changed pillow version back to 11.0.0
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Bump version to v0.5.14 (#10279)
  CHANGELOG.md
  Cargo.lock
  crates/uv-version/Cargo.toml
  crates/uv/Cargo.toml
  docs/getting-started/installation.md
  docs/guides/integration/docker.md
  docs/guides/integration/github.md
  docs/guides/integration/pre-commit.md
  pyproject.toml
Due: none

reverting the pillow version
  crates/uv/tests/it/build.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Visit source distributions before wheels
  crates/uv-client/src/registry_client.rs
  crates/uv-distribution-types/src/prioritized_distribution.rs
Due: cargo-fmt

Visit source distributions before wheels (#10291)
  crates/uv-client/src/registry_client.rs
  crates/uv-distribution-types/src/prioritized_distribution.rs
Due: cargo-fmt

Extract supported architectures from wheel tags
  crates/uv-distribution-types/src/prioritized_distribution.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/pip_compile.rs
Due: cargo-fmt

Remove `[u64; 4]` from small version to move `Arc` to full version
  crates/uv-distribution-types/src/lib.rs
  crates/uv-pep440/src/version.rs
  crates/uv-pep440/src/version_ranges.rs
  crates/uv-pep440/src/version_specifier.rs
  crates/uv-pep508/src/marker/algebra.rs
  crates/uv-pep508/src/marker/simplify.rs
  crates/uv-python/src/discovery.rs
  crates/uv/src/commands/python/list.rs
Due: cargo-fmt

Speed up file pins
  crates/uv-resolver/src/pins.rs
Due: cargo-fmt

Simplify `requirements_for_extra`
  crates/uv-resolver/src/resolver/mod.rs
Due: cargo-fmt

Optimize `requirements_for_extra`
  crates/uv-configuration/src/overrides.rs
  crates/uv-resolver/src/resolver/mod.rs
Due: cargo-fmt

Extract supported architectures from wheel tags (#10179)
  crates/uv-distribution-types/src/prioritized_distribution.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/pip_compile.rs
Due: cargo-fmt

Add AWS Lambda integration guide
  docs/guides/integration/aws-lambda.md
  docs/guides/integration/index.md
  mkdocs.template.yml
Due: none

Add deployment commands
  docs/guides/integration/aws-lambda.md
Due: none

Update copyright year
  LICENSE-APACHE
  LICENSE-MIT
Due: none

Update copyright year (#10297)
  LICENSE-APACHE
  LICENSE-MIT
Due: none

Rename CI runners and use Windows 2025 preview on large runners
  .github/workflows/build-binaries.yml
  .github/workflows/ci.yml
Due: none

README.md: revise powershell install cmd
  README.md
Due: none

added aarch64 runner for windows
  .github/workflows/ci.yml
Due: none

fixed typo.
  .github/workflows/ci.yml
Due: none

rename build-binary-windows-x86 back to build-binary-windows
  .github/workflows/ci.yml
Due: none

removed dev drive from build-binary-windows-aarch64
  .github/workflows/ci.yml
Due: none

added explict step to install rust in `build-binary-windows-aarch64`
  .github/workflows/ci.yml
Due: none

Rename CI runners and use Windows 2025 preview on large runners (#10298)
  .github/workflows/build-binaries.yml
  .github/workflows/ci.yml
Due: none

Split determining and executing batch prefetch
  crates/uv-resolver/src/resolver/batch_prefetch.rs
Due: cargo-fmt

Split out BatchPrefetcherRunner
  Cargo.lock
  crates/uv-resolver/Cargo.toml
  crates/uv-resolver/src/resolver/batch_prefetch.rs
Due: cargo-fmt

Deactivate tracing for choose version
  crates/uv-resolver/Cargo.toml
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv/Cargo.toml
Due: cargo-fmt

Avoid overcounting versions in batch prefetcher
  crates/uv-resolver/src/resolver/batch_prefetch.rs
  crates/uv-resolver/src/resolver/mod.rs
Due: cargo-fmt

Add Send bounds to cache deserialization
  crates/uv-client/src/cached_client.rs
Due: cargo-fmt

Avoid generating unused hashes during uv lock
  crates/uv-distribution-types/src/hash.rs
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-requirements/src/source_tree.rs
  crates/uv-types/src/hash.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Avoid generating unused hashes during `uv lock` (#10307)
  crates/uv-distribution-types/src/hash.rs
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-requirements/src/source_tree.rs
  crates/uv-types/src/hash.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Respect FORCE_COLOR environment variable
  crates/uv-cli/src/lib.rs
  crates/uv/tests/it/help.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Run cargo lock
  Cargo.lock
Due: none
