Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

.pre-commit-config.yaml:

fail_fast: true

exclude: |
  (?x)^(
    .*/(snapshots)/.*|
  )$

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.42.3
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: local
    hooks:
      - id: cargo-dev-generate-all
        name: cargo dev generate-all
        entry: cargo dev generate-all
        language: system
        types: [rust]
        pass_filenames: false
        files: ^crates/(uv-cli|uv-settings)/

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --ignore-unknown
        language: node
        additional_dependencies: ["prettier@3"]
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

Reject required project build locks in tool installation
  crates/uv/src/commands/tool/common.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/upgrade.rs
  crates/uv/tests/lock/build_dependencies.rs
  docs/concepts/projects/sync.md
Due: cargo-fmt

Scope URL provider authority to active environments
  Cargo.lock
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-git/src/git.rs
  crates/uv-git/src/resolver.rs
  crates/uv-git/src/source.rs
  crates/uv-lock/src/lock/export/mod.rs
  crates/uv-lock/src/lock/mod.rs
  crates/uv-resolver/Cargo.toml
  crates/uv-resolver/src/pubgrub/solver_version.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-resolver/src/resolver/provider.rs
  crates/uv-resolver/src/resolver/requests.rs
  crates/uv-resolver/src/resolver/requirements.rs
  crates/uv-resolver/src/resolver/sources.rs
  crates/uv-resolver/src/resolver/urls.rs
  crates/uv/tests/lock/lock.rs
  crates/uv/tests/pip_compile/pip_compile.rs
  docs/reference/internals/resolver.md
Due: cargo-fmt

cargo-deny: ban wildcards, bump two deps (#21760)
  .cargo/deny.toml
  Cargo.lock
  crates/uv-dev/Cargo.toml
Due: none

Sync with Ruff
  scripts/check-cargo-bans.py
Due: none

Avoid source graph walks for registry dependency batches
  crates/uv-resolver/src/resolver/mod.rs
Due: cargo-fmt

uv-trampoline: simplify README instructions
  crates/uv-trampoline/README.md
Due: none

Fold xwin into dev group
  CONTRIBUTING.md
  crates/uv-trampoline/README.md
  pyproject.toml
  uv.lock
Due: none

Use astral-dev-toolchain for cargo-xwin
  CONTRIBUTING.md
  crates/uv-trampoline/Dockerfile
  crates/uv-trampoline/README.md
  pyproject.toml
  uv.lock
Due: none

uv-trampoline: switch Docker to our toolchain
  crates/uv-trampoline/Dockerfile
Due: none

Enforce non-staleness of cargo deny's `bans.build` list (#21756)
  .cargo/deny.toml
  .github/workflows/check-lint.yml
  scripts/check-cargo-bans.py
  scripts/check-cargo-bans.py.lock
Due: none

Infer Darwin release markers from macOS wheel tags
  crates/uv-distribution-types/src/prioritized_distribution.rs
  crates/uv-pep508/src/marker/algebra.rs
  crates/uv-pep508/src/marker/simplify.rs
  crates/uv-pep508/src/marker/tree.rs
  crates/uv-resolver-types/src/output.rs
  crates/uv-resolver/src/marker.rs
  crates/uv/tests/lock/lock.rs
  docs/concepts/resolution.md
Due: cargo-fmt

trampoline: lock astral_dev_toolchain_cargo_xwin more idiomatically
  crates/uv-trampoline/Dockerfile
  crates/uv-trampoline/README.md
  crates/uv-trampoline/toolchain/pyproject.toml
  crates/uv-trampoline/toolchain/uv.lock
Due: none

Attempt to trim our rand deps
  Cargo.lock
  Cargo.toml
  crates/uv-fastid/src/lib.rs
Due: cargo-fmt

Fix lock
  Cargo.lock
Due: none

Apply suggestion from @woodruffw
  docs/concepts/projects/layout.md
Due: none

Fix a test
  crates/uv/tests/build/audit.rs
Due: cargo-fmt

uv audit: pylock.toml support
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/project/audit.rs
  crates/uv/src/commands/pylock.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/build/audit.rs
  docs/concepts/projects/layout.md
Due: cargo-fmt, cargo-dev-generate-all

Avoid a bail
  crates/uv/src/commands/project/audit.rs
  crates/uv/src/commands/tool/audit.rs
  crates/uv/src/settings.rs
  crates/uv/tests/build/audit.rs
Due: cargo-fmt

Fix missing Windows error filter
  crates/uv/tests/build/audit.rs
Due: cargo-fmt

Remove scope
  crates/uv/src/commands/project/audit.rs
  crates/uv/src/commands/tool/audit.rs
  crates/uv/tests/build/audit.rs
  crates/uv/tests/tool/tool_audit.rs
Due: cargo-fmt

Fix stale entry
  .cargo/deny.toml
Due: none

Format Darwin release documentation
  docs/concepts/resolution.md
Due: none

Retain newer libc wheels while enforcing baseline coverage
  crates/uv-distribution-types/src/minimum_libc_version.rs
  crates/uv-distribution-types/src/prioritized_distribution.rs
  crates/uv-resolver-types/src/output.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-workspace/src/pyproject.rs
  crates/uv/tests/lock/minimum_libc.rs
  docs/concepts/resolution.md
  uv.schema.json
Due: cargo-fmt

Format libc documentation
  docs/concepts/resolution.md
Due: none

Fix resolver metadata, diagnostics, and registry performance
  crates/uv-distribution-types/src/index.rs
  crates/uv-distribution-types/src/lib.rs
  crates/uv-resolver/src/pubgrub/solver_version.rs
  crates/uv-resolver/src/resolver/availability.rs
  crates/uv-resolver/src/resolver/index.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-resolver/src/resolver/requests.rs
  crates/uv-resolver/src/resolver/sources.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/upgrade.rs
  crates/uv/tests/lock/lock.rs
  crates/uv/tests/lock_scenarios/lock_scenarios.rs
  crates/uv/tests/pip/pip_compile_scenarios.rs
  crates/uv/tests/pip/pip_sync.rs
  crates/uv/tests/pip_compile/pip_compile.rs
  crates/uv/tests/pip_install/pip_install.rs
  crates/uv/tests/project/edit.rs
  crates/uv/tests/tool/tool_run.rs
  docs/reference/internals/resolver.md
Due: cargo-fmt

Narrow libc coverage helper visibility
  crates/uv-distribution-types/src/minimum_libc_version.rs
Due: cargo-fmt

Preserve artifact selection through resolution and export
  crates/uv-distribution-types/src/lib.rs
  crates/uv-distribution-types/src/pinned.rs
  crates/uv-distribution-types/src/prioritized_distribution.rs
  crates/uv-lock/src/lock/export/pylock_toml.rs
  crates/uv-lock/src/lock/mod.rs
  crates/uv-resolver-types/src/distribution.rs
  crates/uv-resolver-types/src/lib.rs
  crates/uv-resolver-types/src/output.rs
  crates/uv-resolver-types/src/requirements.rs
  crates/uv-resolver/src/flat_index.rs
  crates/uv-resolver/src/lib.rs
  crates/uv-resolver/src/pins.rs
  crates/uv-resolver/src/resolution/display.rs
  crates/uv-resolver/src/resolution/output.rs
  crates/uv-resolver/src/resolution/requirements_txt.rs
  crates/uv-resolver/src/version_map.rs
  crates/uv/src/commands/pip/compile.rs
Due: cargo-fmt

Make pinned hash sources explicit
  crates/uv-distribution-types/src/lib.rs
  crates/uv-distribution-types/src/pinned.rs
  crates/uv-distribution-types/src/prioritized_distribution.rs
  crates/uv-resolver-types/src/requirements.rs
  crates/uv-resolver/src/resolution/display.rs
  crates/uv/tests/lock/minimum_libc.rs
Due: cargo-fmt

Format platform baseline documentation
  docs/concepts/resolution.md
Due: none

Add global minimum macOS version for universal resolution
  Cargo.lock
  crates/uv-configuration/src/target_triple.rs
  crates/uv-distribution-types/src/artifact_policy.rs
  crates/uv-distribution-types/src/lib.rs
  crates/uv-distribution-types/src/prioritized_distribution.rs
  crates/uv-lock/src/lock/mod.rs
  crates/uv-lock/src/lock/serialize.rs
  crates/uv-platform-tags/src/lib.rs
  crates/uv-platform-tags/src/macos.rs
  crates/uv-platform-tags/src/tags.rs
  crates/uv-resolver-types/Cargo.toml
  crates/uv-resolver-types/src/options.rs
  crates/uv-resolver/src/error.rs
  crates/uv-resolver/src/flat_index.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-resolver/src/resolver/provider.rs
  crates/uv-resolver/src/version_map.rs
  crates/uv-settings/Cargo.toml
  crates/uv-settings/src/combine.rs
  crates/uv-settings/src/lib.rs
  crates/uv-settings/src/settings.rs
  crates/uv-static/src/env_vars.rs
  crates/uv-test/src/lib.rs
  crates/uv-workspace/Cargo.toml
  crates/uv-workspace/src/pyproject.rs
  crates/uv-workspace/src/workspace.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/lock_target.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/lock/macos_deployment_target.rs
  crates/uv/tests/lock/main.rs
  crates/uv/tests/sync/show_settings.rs
  docs/concepts/projects/config.md
  docs/concepts/resolution.md
  uv.schema.json
Due: cargo-fmt, cargo-dev-generate-all

Keep libc wheel filtering internal to artifact policy
  crates/uv-distribution-types/src/minimum_libc_version.rs
Due: cargo-fmt

Add benchmarks for Digest APIs
  crates/uv-bench/benches/uv_pypi_types.rs
  crates/uv-pypi-types/src/simple_json.rs
Due: cargo-fmt

Keep ordinary registry candidate sets compact
  crates/uv-resolver/src/pubgrub/solver_version.rs
Due: cargo-fmt

Respect selected directory installation modes
  crates/uv-distribution-types/src/id.rs
  crates/uv-distribution-types/src/lib.rs
  crates/uv-lock/src/lock/mod.rs
  crates/uv-resolver/src/resolver/index.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-resolver/src/resolver/sources.rs
  crates/uv-resolver/src/resolver/urls.rs
  crates/uv/tests/lock/lock.rs
  crates/uv/tests/pip_compile/pip_compile.rs
  docs/reference/internals/resolver.md
Due: cargo-fmt

Model directory build modes in resolution
  crates/uv-distribution/src/source/mod.rs
  crates/uv-lock/src/lock/mod.rs
  crates/uv-resolver/src/pubgrub/mod.rs
  crates/uv-resolver/src/pubgrub/solver_version.rs
  crates/uv-resolver/src/resolver/derivation.rs
  crates/uv-resolver/src/resolver/index.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-resolver/src/resolver/requests.rs
  crates/uv-resolver/src/resolver/sources.rs
  crates/uv-resolver/src/resolver/urls.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/tests/lock/lock.rs
  crates/uv/tests/pip_compile/pip_compile.rs
  crates/uv/tests/pip_install/direct_url_hashes.rs
  crates/uv/tests/sync/sync.rs
  docs/reference/internals/resolver.md
Due: cargo-fmt

Preserve selected directory modes in resolver diagnostics
  crates/uv-pypi-types/src/parsed_url.rs
  crates/uv-resolver/src/pubgrub/solver_version.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv/tests/lock/lock.rs
  crates/uv/tests/pip_compile/pip_compile.rs
  crates/uv/tests/pip_install/pip_install.rs
  crates/uv/tests/project/export.rs
  crates/uv/tests/sync/sync.rs
Due: cargo-fmt

Fix URL metadata and provider backtracking
  crates/uv-distribution-types/src/hash.rs
  crates/uv-lock/src/lock/mod.rs
  crates/uv-pep508/src/verbatim_url.rs
  crates/uv-pypi-types/src/simple_json.rs
  crates/uv-resolver/src/pubgrub/mod.rs
  crates/uv-resolver/src/pubgrub/solver_version.rs
  crates/uv-resolver/src/resolution/output.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-resolver/src/resolver/sources.rs
  crates/uv-resolver/src/resolver/urls.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/tests/lock/lock.rs
  crates/uv/tests/pip_compile/pip_compile.rs
  crates/uv/tests/sync/sync.rs
  docs/reference/internals/resolver.md
Due: cargo-fmt

Support --override in uv run
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/project/run.rs
Due: cargo-fmt, cargo-dev-generate-all

Fix upgrade index settings tests
  crates/uv/src/settings.rs
  crates/uv/tests/it/upgrade.rs
  crates/uv/tests/sync/show_settings.rs
Due: cargo-fmt

Fix `uv check` without a workspace
  crates/uv/src/commands/project/check/ty.rs
  crates/uv/tests/project/check.rs
Due: cargo-fmt
