Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-dev-generate-all:
  name: cargo dev generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

Fix redundant enumeration of all package versions in some resolver errors
  crates/uv-resolver/src/error.rs
  crates/uv/tests/it/pip_compile.rs
Due: cargo-fmt

Document the --fork-strategy setting
  crates/uv-cli/src/lib.rs
  crates/uv-settings/src/settings.rs
  docs/concepts/resolution.md
  docs/reference/settings.md
Due: cargo-fmt, cargo-dev-generate-all

Remove period
  crates/uv-fs/src/path.rs
Due: cargo-fmt

Document the `--fork-strategy` setting (#9887)
  crates/uv-cli/src/lib.rs
  crates/uv-settings/src/settings.rs
  docs/concepts/resolution.md
  docs/reference/settings.md
Due: cargo-fmt, cargo-dev-generate-all

Add lzma to benchmark install
  .github/workflows/ci.yml
Due: none

Avoid `panic!()` when current directory does not exist (#9876)
  crates/uv-fs/src/path.rs
Due: cargo-fmt

Cache available ranges and refer to "all versions" in subsequent display
  crates/uv-resolver/src/error.rs
  crates/uv-resolver/src/pubgrub/report.rs
  crates/uv/tests/it/cache_prune.rs
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Add lzma to benchmark install (#9888)
  .github/workflows/ci.yml
Due: none

Bump version to v0.5.9
  CHANGELOG.md
  Cargo.lock
  README.md
  crates/uv-version/Cargo.toml
  crates/uv/Cargo.toml
  docs/getting-started/installation.md
  docs/guides/integration/docker.md
  docs/guides/integration/github.md
  docs/guides/integration/pre-commit.md
  pyproject.toml
Due: none

Mark .inc files as Rust
  .gitattributes
Due: none

Mark `.inc` files as Rust for GitHub Linguist (#9890)
  .gitattributes
Due: none

Bump version to v0.5.9 (#9889)
  CHANGELOG.md
  Cargo.lock
  README.md
  crates/uv-version/Cargo.toml
  crates/uv/Cargo.toml
  docs/getting-started/installation.md
  docs/guides/integration/docker.md
  docs/guides/integration/github.md
  docs/guides/integration/pre-commit.md
  pyproject.toml
Due: none

Allow multiple disjoint URLs in overrides
  crates/uv-resolver/src/error.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-resolver/src/resolver/urls.rs
  crates/uv/tests/it/pip_compile.rs
Due: cargo-fmt

Allow multiple disjoint URLs in overrides (#9893)
  crates/uv-resolver/src/error.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-resolver/src/resolver/urls.rs
  crates/uv/tests/it/pip_compile.rs
Due: cargo-fmt

Show terms in derivation tree debug output (#9862)
  crates/uv-resolver/src/error.rs
Due: cargo-fmt

Remove `pypy` from top-level pin example
  README.md
  docs/index.md
Due: none

Remove `pypy` from top-level pin example (#9896)
  README.md
  docs/index.md
Due: none

change example so it works as is on powershell and cmd
  docs/guides/install-python.md
Due: none

feat(uv-python): support patching additional sysconfig data
  crates/uv-python/src/sysconfig/mod.rs
Due: cargo-fmt

Skip --native-tls in pip compile header
  crates/uv/src/commands/pip/compile.rs
Due: cargo-fmt

Skip `--native-tls` in `pip compile` header (#9913)
  crates/uv/src/commands/pip/compile.rs
Due: cargo-fmt

Show a concise error message for missing version field
  crates/uv-pypi-types/src/metadata/mod.rs
  crates/uv-pypi-types/src/metadata/pyproject_toml.rs
  crates/uv-workspace/src/pyproject.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/run.rs
Due: cargo-fmt

feedback: only replace AR for now
  crates/uv-python/src/sysconfig/mod.rs
Due: cargo-fmt

Show a concise error message for missing version field (#9912)
  crates/uv-pypi-types/src/metadata/mod.rs
  crates/uv-pypi-types/src/metadata/pyproject_toml.rs
  crates/uv-workspace/src/pyproject.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/run.rs
Due: cargo-fmt

Patch additional `sysconfig` values such as AR at install time (#9905)
  crates/uv-python/src/sysconfig/mod.rs
Due: cargo-fmt

Remove file in mkdir
  docs/getting-started/installation.md
Due: none

change example so it works as is on powershell and cmd (#9903)
  docs/guides/install-python.md
Due: none

Add functional draft
  Cargo.lock
  crates/uv-auth/Cargo.toml
  crates/uv-auth/src/credentials.rs
  crates/uv-auth/src/keyring.rs
  crates/uv-auth/src/keyring_config.rs
  crates/uv-auth/src/lib.rs
  crates/uv-cli/src/lib.rs
  crates/uv-distribution-types/src/index.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/commands/index.rs
  crates/uv/src/commands/mod.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/sync.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/venv.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
Due: cargo-fmt, cargo-dev-generate-all

Format code
  crates/uv-auth/src/credentials.rs
  crates/uv-auth/src/keyring.rs
  crates/uv-auth/src/keyring_config.rs
  crates/uv-auth/src/lib.rs
  crates/uv-cli/src/lib.rs
  crates/uv-distribution-types/src/index.rs
  crates/uv/src/commands/index.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
Due: cargo-fmt, cargo-dev-generate-all

Clear environment in settings tests
  crates/uv/tests/it/show_settings.rs
Due: cargo-fmt

Clear environment in settings tests (#9914)
  crates/uv/tests/it/show_settings.rs
Due: cargo-fmt

Re-simplify logging format
  crates/uv-resolver/src/resolver/mod.rs
Due: cargo-fmt

Review
  crates/uv-resolver/src/pubgrub/priority.rs
Due: cargo-fmt

Change backtracking when packages conflict a lot
  Cargo.lock
  Cargo.toml
  crates/uv-resolver/src/pubgrub/priority.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/snapshots/it__ecosystem__transformers-lock-file.snap
  crates/uv/tests/it/snapshots/it__ecosystem__warehouse-lock-file.snap
  docs/reference/resolver-internals.md
Due: cargo-fmt

Sync with cargo/solana changes
  Cargo.lock
  Cargo.toml
  crates/uv-resolver/src/dependency_provider.rs
  crates/uv-resolver/src/resolver/mod.rs
Due: cargo-fmt

Review
  crates/uv-resolver/src/pubgrub/priority.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Correctly document default value of `fork-strategy` setting
  docs/reference/settings.md
Due: none

Rustfmt
  crates/uv-resolver/src/resolver/mod.rs
Due: cargo-fmt

Include explicit indexes in publish index choice
  crates/uv-distribution-types/src/index_url.rs
  crates/uv/src/lib.rs
  crates/uv/tests/it/publish.rs
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/(snapshots)/.*|
)$

  cargo-dev-generate-all: any of: ^crates/(uv-cli|uv-settings)/ and \.rs$ and not ((?x)^(
  .*/(snapshots)/.*|
)$
)
