Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

.pre-commit-config.yaml:

fail_fast: true

exclude: |
  (?x)^(
    .*/(snapshots)/.*|
  )$

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.20.2
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.26.0
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: local
    hooks:
      - id: cargo-dev-generate-all
        name: cargo dev generate-all
        entry: cargo dev generate-all
        language: system
        types: [rust]
        pass_filenames: false
        files: ^crates/(uv-cli|uv-settings)/

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

Allow PEP 508 requirements in tool requests (#11337)
  crates/uv/src/commands/tool/mod.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/tests/it/tool_run.rs
Due: cargo-fmt

Bring parity to uvx and uv tool install requests
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/mod.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/tests/it/tool_install.rs
  crates/uv/tests/it/tool_run.rs
Due: cargo-fmt

Bring parity to `uvx` and `uv tool install` requests (#11345)
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/mod.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/tests/it/tool_install.rs
  crates/uv/tests/it/tool_run.rs
Due: cargo-fmt

Add stable dir for scripts
  crates/uv-cache/src/lib.rs
  crates/uv-resolver/src/redirect.rs
  crates/uv-scripts/src/lib.rs
  crates/uv/src/commands/project/environment.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/tests/it/run.rs
Due: cargo-fmt

retry local clones without hardlinks if they fail (#11421)
  crates/uv-git/src/git.rs
Due: cargo-fmt

Use a stable directory for (local) script virtual environments (#11347)
  crates/uv-cache/src/lib.rs
  crates/uv-resolver/src/redirect.rs
  crates/uv-scripts/src/lib.rs
  crates/uv/src/commands/project/environment.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/tests/it/run.rs
Due: cargo-fmt

Use stable environments for remote and stdin scripts
  Cargo.lock
  crates/uv-python/src/environment.rs
  crates/uv-scripts/Cargo.toml
  crates/uv-scripts/src/lib.rs
  crates/uv/src/commands/project/environment.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/lib.rs
Due: cargo-fmt

Use stable environments for remote and stdin scripts (#11364)
  Cargo.lock
  crates/uv-python/src/environment.rs
  crates/uv-scripts/Cargo.toml
  crates/uv-scripts/src/lib.rs
  crates/uv/src/commands/project/environment.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/lib.rs
Due: cargo-fmt

Add uv sync --script
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/sync.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Be compatible with non-PEP440 version under env var UV_NON_PEP440_COMPAT
  crates/uv-pep440/src/version.rs
Due: cargo-fmt

Speed up UV_NON_PEP440_COMPAT
  crates/uv-pep440/src/version.rs
Due: cargo-fmt

fixed pipsyncargs
  crates/uv-cli/src/lib.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Update scripts.md with details on package indexes
  docs/guides/scripts.md
Due: none

Fix formatting with prettier
  docs/guides/scripts.md
Due: none

Remove mentions of submodules
  .github/workflows/build-binaries.yml
Due: none

Review
  crates/uv-cli/src/lib.rs
  crates/uv-static/src/env_vars.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/tests/it/run.rs
Due: cargo-fmt, cargo-dev-generate-all

Consistent pip invocation
  .github/workflows/build-binaries.yml
Due: none

Consistent quoting
  .github/workflows/build-binaries.yml
Due: none

Review
  docs/guides/scripts.md
Due: none

Update scripts docs with package indexes (#11443)
  docs/guides/scripts.md
Due: none

Test `python -m uv --help` in all branches
  .github/workflows/build-binaries.yml
Due: none

Avoid creating lockfile
  crates/uv-cli/src/lib.rs
  crates/uv-distribution/src/lib.rs
  crates/uv-distribution/src/metadata/mod.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/upgrade.rs
  crates/uv/tests/it/sync.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Check for executable permissions in `is_executable`
  crates/uv-fs/src/which.rs
Due: cargo-fmt

Optional schemars dependency
  crates/uv-pypi-types/Cargo.toml
  crates/uv-pypi-types/src/conflicts.rs
  crates/uv-workspace/Cargo.toml
Due: cargo-fmt

Add `uv sync --script` (#11361)
  crates/uv-cli/src/lib.rs
  crates/uv-distribution/src/lib.rs
  crates/uv-distribution/src/metadata/mod.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/upgrade.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/sync.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Sync latest Python releases
  crates/uv-python/download-metadata.json
  crates/uv-python/src/downloads.inc
Due: none

Add indexes in reverse-priority order
  crates/uv-distribution-types/src/index_url.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/tests/it/edit.rs
Due: cargo-fmt

Review
  crates/uv-pypi-types/Cargo.toml
Due: none

address review
  crates/uv/src/commands/project/install_target.rs
  crates/uv/src/commands/project/sync.rs
Due: cargo-fmt

Add indexes in reverse-priority order (#11451)
  crates/uv-distribution-types/src/index_url.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/tests/it/edit.rs
Due: cargo-fmt

Optional schemars dependency (#11449)
  crates/uv-pypi-types/Cargo.toml
  crates/uv-pypi-types/src/conflicts.rs
  crates/uv-workspace/Cargo.toml
Due: cargo-fmt

Fix cross-drive script installation
  crates/uv-install-wheel/src/install.rs
  crates/uv-install-wheel/src/wheel.rs
Due: cargo-fmt

Review
  crates/uv-install-wheel/src/wheel.rs
Due: cargo-fmt

Bump alpine default tag to 3.21 (#11157)
  .github/workflows/build-docker.yml
Due: none

Set `UV` to the uv executable path (#11326)
  crates/uv-static/src/env_vars.rs
  crates/uv/src/bin/uv.rs
  crates/uv/src/lib.rs
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/run.rs
  docs/configuration/environment.md
Due: cargo-fmt

add provides-extras to lockfile (#11063)
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__hash_optional_missing.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__hash_optional_present.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__hash_required_present.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__missing_dependency_source_unambiguous.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__missing_dependency_source_version_unambiguous.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__missing_dependency_version_unambiguous.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__source_direct_has_subdir.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__source_direct_no_subdir.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__source_directory.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__source_editable.snap
  crates/uv/tests/it/branching_urls.rs
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/export.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/lock_conflict.rs
  crates/uv/tests/it/lock_scenarios.rs
  crates/uv/tests/it/run.rs
  crates/uv/tests/it/snapshots/it__ecosystem__black-lock-file.snap
  crates/uv/tests/it/snapshots/it__ecosystem__github-wikidata-bot-lock-file.snap
  crates/uv/tests/it/snapshots/it__ecosystem__home-assistant-core-lock-file.snap
  crates/uv/tests/it/snapshots/it__ecosystem__packse-lock-file.snap
  crates/uv/tests/it/snapshots/it__ecosystem__saleor-lock-file.snap
  crates/uv/tests/it/snapshots/it__ecosystem__transformers-lock-file.snap
  crates/uv/tests/it/snapshots/it__ecosystem__warehouse-lock-file.snap
  crates/uv/tests/it/snapshots/it__workflow__jax_instability-2.snap
  crates/uv/tests/it/snapshots/it__workflow__packse_add_remove_existing_package_noop-2.snap
  crates/uv/tests/it/snapshots/it__workflow__packse_add_remove_one_package-2.snap
  crates/uv/tests/it/snapshots/it__workflow__packse_promote_transitive_to_direct_then_remove-2.snap
  crates/uv/tests/it/sync.rs
  crates/uv/tests/it/tree.rs
  crates/uv/tests/it/workflow.rs
  crates/uv/tests/it/workspace.rs
Due: cargo-fmt

Stabilize `uv publish` (#11032)
  crates/uv/src/lib.rs
  crates/uv/tests/it/publish.rs
Due: cargo-fmt

Use files instead of junctions on Windows (#11269)
  Cargo.lock
  crates/uv-cache/Cargo.toml
  crates/uv-cache/src/archive.rs
  crates/uv-cache/src/lib.rs
  crates/uv-distribution-filename/src/wheel.rs
  crates/uv-distribution/src/archive.rs
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-distribution/src/index/built_wheel_index.rs
  crates/uv-distribution/src/index/cached_wheel.rs
  crates/uv-distribution/src/index/registry_wheel_index.rs
  crates/uv-fs/src/lib.rs
  crates/uv/src/commands/project/environment.rs
  crates/uv/src/commands/python/uninstall.rs
  crates/uv/tests/it/cache_prune.rs
Due: cargo-fmt

Avoid reading metadata from `.egg-info` files (#11395)
  crates/uv-distribution/src/error.rs
  crates/uv-distribution/src/source/mod.rs
  crates/uv-install-wheel/src/install.rs
  crates/uv-pypi-types/src/metadata/metadata10.rs
  crates/uv-pypi-types/src/metadata/metadata12.rs
  crates/uv-pypi-types/src/metadata/mod.rs
  crates/uv/tests/it/pip_compile.rs
Due: cargo-fmt

Include archive bucket version in archive pointers (#11306)
  crates/uv-cache/src/lib.rs
  crates/uv-distribution/src/archive.rs
  crates/uv-distribution/src/index/cached_wheel.rs
  crates/uv/tests/it/cache_prune.rs
Due: cargo-fmt
