Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

.pre-commit-config.yaml:

fail_fast: true

exclude: |
  (?x)^(
    .*/(snapshots)/.*|
  )$

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.20.2
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.26.0
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: local
    hooks:
      - id: cargo-dev-generate-all
        name: cargo dev generate-all
        entry: cargo dev generate-all
        language: system
        types: [rust]
        pass_filenames: false
        files: ^crates/(uv-cli|uv-settings)/

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

Fix `prune_unzipped` test on `main`
  crates/uv/tests/it/cache_prune.rs
Due: cargo-fmt

Remove some missed references to `~/.cargo/bin` (#8936)
  crates/uv-static/src/env_vars.rs
  docs/configuration/environment.md
  docs/guides/integration/docker.md
Due: cargo-fmt

Fix `prune_unzipped` test on `main` (#8938)
  crates/uv/tests/it/cache_prune.rs
Due: cargo-fmt

Allow non-registry dependencies in uv pip list --outdated
  crates/uv/src/commands/pip/latest.rs
  crates/uv/tests/it/pip_list.rs
Due: cargo-fmt

Allow non-registry dependencies in `uv pip list --outdated` (#8939)
  crates/uv/src/commands/pip/latest.rs
  crates/uv/tests/it/pip_list.rs
Due: cargo-fmt

Respect --index-url in uv pip list
  crates/uv-cli/src/lib.rs
  crates/uv-cli/src/options.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/pip_list.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Allow installation of manylinux wheels on riscv64
  crates/uv-platform-tags/src/platform.rs
Due: cargo-fmt

Propagate SIGTERM to uv run
  crates/uv/src/commands/tool/run.rs
Due: cargo-fmt

Handle platform differences and propagate sigterm
  Cargo.lock
  crates/uv/Cargo.toml
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/tool/run.rs
Due: cargo-fmt

Respect `--index-url` in `uv pip list` (#8942)
  crates/uv-cli/src/lib.rs
  crates/uv-cli/src/options.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/pip_list.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Update uv development status classifier to "Stable" on PyPI
  pyproject.toml
Due: none

Allow installation of manylinux wheels on riscv64 (#8934)
  crates/uv-platform-tags/src/platform.rs
Due: cargo-fmt

Reimplement
  crates/uv-cli/src/lib.rs
  crates/uv-configuration/src/dev.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-resolver/src/lock/requirements_txt.rs
  crates/uv-resolver/src/lock/target.rs
  crates/uv-resolver/src/lock/tree.rs
  crates/uv/src/commands/project/export.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/project/tree.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Wait longer for index updates
  scripts/publish/test_publish.py
Due: none

Wait longer for index updates in publish test (#8950)
  scripts/publish/test_publish.py
Due: none

Compute superset of existing and required hashes when healing cache
  crates/uv-distribution/src/error.rs
  crates/uv-distribution/src/source/mod.rs
Due: cargo-fmt

Respect comma-separated extras in --with
  crates/uv-cli/src/comma.rs
  crates/uv-cli/src/comma/tests.rs
  crates/uv-cli/src/lib.rs
  crates/uv/src/settings.rs
Due: cargo-fmt, cargo-dev-generate-all

Compute superset of existing and required hashes when healing cache (#8955)
  crates/uv-distribution/src/error.rs
  crates/uv-distribution/src/source/mod.rs
Due: cargo-fmt

Respect comma-separated extras in `--with` (#8946)
  crates/uv-cli/src/comma.rs
  crates/uv-cli/src/comma/tests.rs
  crates/uv-cli/src/lib.rs
  crates/uv/src/settings.rs
Due: cargo-fmt, cargo-dev-generate-all

Upgrade to cargo-dist `0.25.2-prerelease.3`
  .github/workflows/release.yml
  Cargo.toml
Due: none

Bump to 0.5.1
  CHANGELOG.md
  Cargo.lock
  crates/uv-version/Cargo.toml
  crates/uv/Cargo.toml
  docs/getting-started/installation.md
  docs/guides/integration/docker.md
  docs/guides/integration/github.md
  docs/guides/integration/pre-commit.md
  pyproject.toml
Due: none

Move "from PyPI" install message to above the relevant code block
  README.md
Due: none

Move "from PyPI" install message to above the relevant code block (#8906)
  README.md
Due: none

Upgrade to cargo-dist `0.25.2-prerelease.3` (#8958)
  .github/workflows/release.yml
  Cargo.toml
Due: none

Support multiple extras in universal pip compile output
  crates/uv-resolver/src/resolution/display.rs
  crates/uv-resolver/src/resolution/requirements_txt.rs
  crates/uv/tests/it/pip_compile.rs
Due: cargo-fmt

Bump to 0.5.1 (#8959)
  CHANGELOG.md
  Cargo.lock
  crates/uv-version/Cargo.toml
  crates/uv/Cargo.toml
  docs/getting-started/installation.md
  docs/guides/integration/docker.md
  docs/guides/integration/github.md
  docs/guides/integration/pre-commit.md
  pyproject.toml
Due: none

Support multiple extras in universal pip compile output (#8960)
  crates/uv-resolver/src/resolution/display.rs
  crates/uv-resolver/src/resolution/requirements_txt.rs
  crates/uv/tests/it/pip_compile.rs
Due: cargo-fmt

Prefer compatible to incompatible distributions when packages exist on multiple indexes
  crates/uv-resolver/src/candidate_selector.rs
  crates/uv/tests/it/pip_compile.rs
Due: cargo-fmt

Prefer compatible to incompatible distributions when packages exist on multiple indexes (#8961)
  crates/uv-resolver/src/candidate_selector.rs
  crates/uv/tests/it/pip_compile.rs
Due: cargo-fmt

Update uv development status classifier to "Stable" on PyPI (#8943)
  pyproject.toml
Due: none

Update resolution.md
  docs/concepts/resolution.md
Due: none

Self delete
  Cargo.lock
  crates/uv-tool/src/lib.rs
  crates/uv-virtualenv/src/virtualenv.rs
  crates/uv/Cargo.toml
  crates/uv/src/commands/tool/common.rs
  crates/uv/src/commands/tool/uninstall.rs
Due: cargo-fmt

Format
  docs/concepts/resolution.md
Due: none

Fix reference to `--resolution` in docs (#8968)
  docs/concepts/resolution.md
Due: none

Fix references to --resolution-strategy in error message output
  crates/uv-distribution-types/src/resolution.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/pip_compile.rs
Due: cargo-fmt

docs(tools): mention how to use extras
  docs/guides/tools.md
Due: none

Fix references to `--resolution-strategy` in error message output (#8971)
  crates/uv-distribution-types/src/resolution.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/pip_compile.rs
Due: cargo-fmt

ci: validate project metadata
  .github/workflows/ci.yml
Due: none

ci: validate project metadata (#8973)
  .github/workflows/ci.yml
Due: none

Use latest nix; remove cfg-if
  Cargo.lock
  Cargo.toml
  crates/uv/Cargo.toml
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/tool/run.rs
Due: cargo-fmt
