Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

.pre-commit-config.yaml:

fail_fast: true

exclude: |
  (?x)^(
    .*/(snapshots)/.*|
  )$

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.20.2
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.26.0
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: local
    hooks:
      - id: cargo-dev-generate-all
        name: cargo dev generate-all
        entry: cargo dev generate-all
        language: system
        types: [rust]
        pass_filenames: false
        files: ^crates/(uv-cli|uv-settings)/

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

Ask Claude to stop assuming clippy warnings are pre-existing and fine
  CLAUDE.md
Due: none

Improve the wording of publish errors during dry-run
  crates/uv-publish/src/lib.rs
  crates/uv/tests/it/publish.rs
Due: cargo-fmt

Identify the invidividual clients in `uv publish` trace logs
  crates/uv-client/src/base_client.rs
  crates/uv/src/commands/publish.rs
Due: cargo-fmt

Introduce index-versions command
  crates/uv-cli/src/lib.rs
  crates/uv/src/lib.rs
Due: cargo-fmt, cargo-dev-generate-all

add stub pip_index_versions function
  crates/uv/src/commands/mod.rs
  crates/uv/src/commands/pip/mod.rs
  crates/uv/src/commands/pip/versions.rs
  crates/uv/src/lib.rs
Due: cargo-fmt

Ask Claude to stop assuming clippy warnings are pre-existing and fine (#17781)
  CLAUDE.md
Due: none

Check all files during a dry-run publish instead of stopping at the first failure
  crates/uv/src/commands/publish.rs
  crates/uv/tests/it/publish.rs
Due: cargo-fmt

Include the Python request source in not found error messages
  crates/uv-dev/src/compile.rs
  crates/uv-python/src/discovery.rs
  crates/uv-python/src/environment.rs
  crates/uv-python/src/installation.rs
  crates/uv-python/src/lib.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/commands/pip/check.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/pip/freeze.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/list.rs
  crates/uv/src/commands/pip/show.rs
  crates/uv/src/commands/pip/sync.rs
  crates/uv/src/commands/pip/tree.rs
  crates/uv/src/commands/pip/uninstall.rs
  crates/uv/src/commands/project/init.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/python/find.rs
  crates/uv/src/commands/python/list.rs
  crates/uv/src/commands/python/pin.rs
  crates/uv/src/commands/tool/common.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/src/commands/tool/upgrade.rs
  crates/uv/src/commands/venv.rs
Due: cargo-fmt

Improve display of RFC 9457 Problem Detail responses in `uv publish` server errors
  crates/uv-client/src/cached_client.rs
  crates/uv-client/src/error.rs
  crates/uv-client/src/lib.rs
  crates/uv-publish/src/lib.rs
Due: cargo-fmt

Improve the wording of publish errors during dry-run (#17782)
  crates/uv-publish/src/lib.rs
  crates/uv/tests/it/publish.rs
Due: cargo-fmt

Validate version components in wheel filenames during `uv publish`
  crates/uv-preview/src/lib.rs
  crates/uv/src/commands/publish.rs
  crates/uv/tests/it/publish.rs
  crates/uv/tests/it/show_settings.rs
Due: cargo-fmt

Add `--on-failure` to `uv publish` and continue on errors by default
  crates/uv-cli/src/lib.rs
  crates/uv-configuration/src/lib.rs
  crates/uv-configuration/src/publish_failure_strategy.rs
  crates/uv-settings/src/combine.rs
  crates/uv-settings/src/lib.rs
  crates/uv-settings/src/settings.rs
  crates/uv-static/src/env_vars.rs
  crates/uv/src/commands/publish.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/publish.rs
  crates/uv/tests/it/show_settings.rs
Due: cargo-fmt, cargo-dev-generate-all

Update pip pre-release compatibility information
  docs/pip/compatibility.md
Due: none

Update docs/pip/compatibility.md
  docs/pip/compatibility.md
Due: none

Further clarification
  docs/pip/compatibility.md
Due: none

Add note
  docs/pip/compatibility.md
Due: none

Notify the note
  docs/pip/compatibility.md
Due: none

Update pip pre-release compatibility information (#17788)
  docs/pip/compatibility.md
Due: none

Improve display of RFC 9457 Problem Detail responses in `uv publish` server errors
  crates/uv-client/src/cached_client.rs
  crates/uv-client/src/error.rs
  crates/uv-client/src/lib.rs
  crates/uv-publish/src/lib.rs
  crates/uv/tests/it/publish.rs
Due: cargo-fmt

Allow concurrent uploads and wheel validations in `uv publish`
  crates/uv-configuration/src/concurrency.rs
  crates/uv-settings/src/lib.rs
  crates/uv-static/src/env_vars.rs
  crates/uv/src/commands/publish.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/show_settings.rs
Due: cargo-fmt, cargo-dev-generate-all

basic uv pip index versions that queries pypi
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/pip/versions.rs
  crates/uv/src/lib.rs
Due: cargo-fmt, cargo-dev-generate-all

Improve "already exists" output when concurrent by showing filename
  crates/uv/src/commands/publish.rs
  crates/uv/tests/it/publish.rs
Due: cargo-fmt

Avoid interleaved messages
  crates/uv/src/commands/publish.rs
Due: cargo-fmt

Show errors in `uv publish` with `-q` and require `-qq` to suppress them
  crates/uv/src/commands/publish.rs
  crates/uv/src/printer.rs
Due: cargo-fmt

Fix the progress reporting
  crates/uv/src/commands/publish.rs
  crates/uv/src/commands/reporters.rs
Due: cargo-fmt

Use download concurrency for checks instead of the publish level
  crates/uv/src/commands/publish.rs
Due: cargo-fmt

unarchive the versions to produce readible metadata
  crates/uv/src/commands/pip/versions.rs
Due: cargo-fmt

(almost) match pip index versions default output format
  crates/uv/src/commands/pip/versions.rs
Due: cargo-fmt

propagate (but dont yet use) prerelease mode
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/pip/versions.rs
  crates/uv/src/lib.rs
Due: cargo-fmt, cargo-dev-generate-all

Gate special conda env name handling behind `special-conda-env-names` preview feature
  crates/uv-preview/src/lib.rs
  crates/uv-python/src/discovery.rs
  crates/uv-python/src/lib.rs
  crates/uv-python/src/virtualenv.rs
Due: cargo-fmt

Refresh pyx access tokens when process lifetime exceeds token tolerance
  crates/uv-auth/src/middleware.rs
Due: cargo-fmt

Update show_settings snapshot for `special-conda-env-names` preview feature
  crates/uv/tests/it/show_settings.rs
Due: cargo-fmt

Require `--clear` to remove virtual environments
  Cargo.lock
  crates/uv-virtualenv/Cargo.toml
  crates/uv-virtualenv/src/lib.rs
  crates/uv-virtualenv/src/virtualenv.rs
  crates/uv/tests/it/build.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/python_module.rs
  crates/uv/tests/it/run.rs
  crates/uv/tests/it/venv.rs
Due: cargo-fmt

Remove special casing for `base` and `default` conda environment names (#17758)
  crates/uv-preview/src/lib.rs
  crates/uv-python/src/discovery.rs
  crates/uv-python/src/lib.rs
  crates/uv-python/src/virtualenv.rs
  crates/uv/tests/it/show_settings.rs
Due: cargo-fmt

Require `--clear` to remove virtual environments (#17757)
  Cargo.lock
  crates/uv-virtualenv/Cargo.toml
  crates/uv-virtualenv/src/lib.rs
  crates/uv-virtualenv/src/virtualenv.rs
  crates/uv/tests/it/build.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/python_module.rs
  crates/uv/tests/it/run.rs
  crates/uv/tests/it/venv.rs
Due: cargo-fmt

allow --prerelease flag
  crates/uv/src/commands/pip/versions.rs
Due: cargo-fmt

docs: remove misleading FLASH_ATTENTION_SKIP_CUDA_BUILD recommendation
  docs/concepts/projects/config.md
Due: none

pass json flag through (unimplemented!) and swap to settings object usage
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/pip/versions.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
Due: cargo-fmt, cargo-dev-generate-all

start to use the newly parsed args
  crates/uv/src/lib.rs
Due: cargo-fmt

Hint on `uv version --bump dev` similar to pre-release bumps
  crates/uv/src/commands/project/version.rs
  crates/uv/tests/it/version.rs
Due: cargo-fmt
