Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-dev-generate-all:
  name: cargo dev generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

Update the tests
  crates/uv/tests/it/lock_exclude_newer_relative.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Avoid invalidating the lockfile versions after an exclude newer change (#17721)
  crates/uv/src/commands/project/lock.rs
  crates/uv/tests/it/lock_exclude_newer_relative.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Rename test features to use `test-` namespace prefix
  .github/workflows/test.yml
  crates/uv/Cargo.toml
  crates/uv/tests/it/branching_urls.rs
  crates/uv/tests/it/build_backend.rs
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/export.rs
  crates/uv/tests/it/extract.rs
  crates/uv/tests/it/init.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/lock_scenarios.rs
  crates/uv/tests/it/main.rs
  crates/uv/tests/it/network.rs
  crates/uv/tests/it/pip_compile.rs
  crates/uv/tests/it/pip_compile_scenarios.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/pip_install_scenarios.rs
  crates/uv/tests/it/pip_list.rs
  crates/uv/tests/it/pip_show.rs
  crates/uv/tests/it/pip_sync.rs
  crates/uv/tests/it/pip_tree.rs
  crates/uv/tests/it/pip_uninstall.rs
  crates/uv/tests/it/python_find.rs
  crates/uv/tests/it/python_list.rs
  crates/uv/tests/it/python_module.rs
  crates/uv/tests/it/python_pin.rs
  crates/uv/tests/it/run.rs
  crates/uv/tests/it/sync.rs
  crates/uv/tests/it/tool_install.rs
  crates/uv/tests/it/tool_run.rs
  crates/uv/tests/it/venv.rs
  crates/uv/tests/it/version.rs
  crates/uv/tests/it/workspace.rs
  scripts/scenarios/templates/compile.mustache
  scripts/scenarios/templates/install.mustache
  scripts/scenarios/templates/lock.mustache
Due: cargo-fmt

Rename `test-slow-tests` to `test-slow`
  crates/uv/Cargo.toml
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Rename `default-tests` to `test-defaults`
  crates/uv/Cargo.toml
Due: none

Review
  Cargo.lock
  Cargo.toml
  crates/uv-cli/src/lib.rs
  crates/uv-client/Cargo.toml
  crates/uv-client/src/base_client.rs
  crates/uv-client/src/tls.rs
  crates/uv-client/tests/it/http_util.rs
  crates/uv-client/tests/it/ssl_certs.rs
  crates/uv-configuration/src/tls.rs
  crates/uv-settings/src/settings.rs
  crates/uv-static/src/env_vars.rs
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/help.rs
  docs/concepts/authentication/certificates.md
  uv.schema.json
Due: cargo-fmt, cargo-dev-generate-all

settings: accept optional 's' for HTTP timeouts
  crates/uv-settings/src/lib.rs
Due: cargo-fmt, cargo-dev-generate-all

refactor(settings): rename timeout seconds parsers
  crates/uv-settings/src/lib.rs
Due: cargo-fmt, cargo-dev-generate-all

Skip macOS WHEEL tags with invalid versions
  crates/uv-distribution-filename/src/expanded_tags.rs
  crates/uv-distribution-types/src/installed.rs
  crates/uv-platform-tags/src/platform_tag.rs
Due: cargo-fmt

feat(env): add UV_ACTIVE for --active
  crates/uv-cli/src/lib.rs
  crates/uv-settings/src/lib.rs
  crates/uv-static/src/env_vars.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/run.rs
  docs/concepts/projects/config.md
Due: cargo-fmt, cargo-dev-generate-all

Introduce a 10s connect timeout
  crates/uv-client/src/base_client.rs
  crates/uv-client/src/lib.rs
  crates/uv-client/src/registry_client.rs
  crates/uv-client/tests/it/proxy.rs
  crates/uv-dev/src/list_packages.rs
  crates/uv-dev/src/validate_zip.rs
  crates/uv-dev/src/wheel_metadata.rs
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-settings/src/lib.rs
  crates/uv-static/src/env_vars.rs
  crates/uv/src/commands/publish.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/network.rs
  crates/uv/tests/it/show_settings.rs
Due: cargo-fmt, cargo-dev-generate-all

Consistent naming for DEFAULT_READ_TIMEOUT_UPLOAD
  crates/uv-client/src/base_client.rs
  crates/uv-client/src/lib.rs
  crates/uv-settings/src/lib.rs
Due: cargo-fmt, cargo-dev-generate-all

Review
  crates/uv-distribution-types/src/requires_python.rs
  crates/uv-installer/src/plan.rs
  crates/uv-installer/src/satisfies.rs
  crates/uv-platform-tags/src/abi_tag.rs
  crates/uv-platform-tags/src/lib.rs
  crates/uv-platform-tags/src/tags.rs
Due: cargo-fmt

Update snapshots
  crates/uv-distribution-filename/src/expanded_tags.rs
  crates/uv-distribution-filename/src/snapshots/uv_distribution_filename__wheel__tests__ok_multiple_tags.snap
Due: cargo-fmt

Introduce a 10s connect timeout (#17733)
  crates/uv-client/src/base_client.rs
  crates/uv-client/src/lib.rs
  crates/uv-client/src/registry_client.rs
  crates/uv-client/tests/it/proxy.rs
  crates/uv-dev/src/list_packages.rs
  crates/uv-dev/src/validate_zip.rs
  crates/uv-dev/src/wheel_metadata.rs
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-settings/src/lib.rs
  crates/uv-static/src/env_vars.rs
  crates/uv/src/commands/publish.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/network.rs
  crates/uv/tests/it/show_settings.rs
Due: cargo-fmt, cargo-dev-generate-all

Fix PowerShell detection on non-Windows platforms
  crates/uv-shell/src/lib.rs
  crates/uv-static/src/env_vars.rs
Due: cargo-fmt

Retry timeout errors for streams
  Cargo.lock
  Cargo.toml
  crates/uv-client/src/base_client.rs
  crates/uv/Cargo.toml
  crates/uv/tests/it/network.rs
Due: cargo-fmt

Remove 3.9.12 from test requirements
  .python-versions
Due: none

Add support for detecting PowerShell on Linux and macOS (#17870)
  crates/uv-shell/src/lib.rs
  crates/uv-static/src/env_vars.rs
Due: cargo-fmt

editing
  crates/uv/tests/it/network.rs
Due: cargo-fmt

Remove 3.9.12 from test requirements (#17876)
  .python-versions
Due: none

Review
  Cargo.lock
  Cargo.toml
  crates/uv-cli/src/lib.rs
  crates/uv-client/Cargo.toml
  crates/uv-client/src/base_client.rs
  crates/uv-client/src/tls.rs
  crates/uv-client/tests/it/http_util.rs
  crates/uv-client/tests/it/ssl_certs.rs
  crates/uv-configuration/src/tls.rs
  crates/uv-settings/src/settings.rs
  crates/uv-static/src/env_vars.rs
  crates/uv/src/commands/self_update.rs
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/help.rs
  docs/concepts/authentication/certificates.md
  uv.schema.json
Due: cargo-fmt, cargo-dev-generate-all

Retry timeout errors for streams (#17875)
  Cargo.lock
  Cargo.toml
  crates/uv-client/src/base_client.rs
  crates/uv/Cargo.toml
  crates/uv/tests/it/network.rs
Due: cargo-fmt

in -> for
  crates/uv-platform-tags/src/abi_tag.rs
Due: cargo-fmt

Update uv test features to use `test-` as a prefix (#17860)
  .github/workflows/test.yml
  crates/uv/Cargo.toml
  crates/uv/tests/it/branching_urls.rs
  crates/uv/tests/it/build_backend.rs
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/export.rs
  crates/uv/tests/it/extract.rs
  crates/uv/tests/it/init.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/lock_scenarios.rs
  crates/uv/tests/it/main.rs
  crates/uv/tests/it/network.rs
  crates/uv/tests/it/pip_compile.rs
  crates/uv/tests/it/pip_compile_scenarios.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/pip_install_scenarios.rs
  crates/uv/tests/it/pip_list.rs
  crates/uv/tests/it/pip_show.rs
  crates/uv/tests/it/pip_sync.rs
  crates/uv/tests/it/pip_tree.rs
  crates/uv/tests/it/pip_uninstall.rs
  crates/uv/tests/it/python_find.rs
  crates/uv/tests/it/python_list.rs
  crates/uv/tests/it/python_module.rs
  crates/uv/tests/it/python_pin.rs
  crates/uv/tests/it/run.rs
  crates/uv/tests/it/sync.rs
  crates/uv/tests/it/tool_install.rs
  crates/uv/tests/it/tool_run.rs
  crates/uv/tests/it/venv.rs
  crates/uv/tests/it/version.rs
  crates/uv/tests/it/workspace.rs
  scripts/scenarios/templates/compile.mustache
  scripts/scenarios/templates/install.mustache
  scripts/scenarios/templates/lock.mustache
Due: cargo-fmt

Support all CPython ABI tag suffixes properly (#17817)
  Cargo.lock
  crates/uv-cache/src/lib.rs
  crates/uv-distribution-filename/src/expanded_tags.rs
  crates/uv-distribution-filename/src/snapshots/uv_distribution_filename__wheel__tests__ok_multiple_tags.snap
  crates/uv-distribution-filename/src/wheel.rs
  crates/uv-distribution-types/src/requires_python.rs
  crates/uv-installer/src/plan.rs
  crates/uv-installer/src/satisfies.rs
  crates/uv-platform-tags/Cargo.toml
  crates/uv-platform-tags/src/abi_tag.rs
  crates/uv-platform-tags/src/lib.rs
  crates/uv-platform-tags/src/tags.rs
  crates/uv/tests/it/cache_clean.rs
  crates/uv/tests/it/cache_prune.rs
Due: cargo-fmt

Improve ABI tag error message phrasing
  crates/uv-platform-tags/src/abi_tag.rs
Due: cargo-fmt

Review
  crates/uv-platform-tags/src/abi_tag.rs
Due: cargo-fmt

Improve ABI tag error message phrasing (#17878)
  crates/uv-platform-tags/src/abi_tag.rs
Due: cargo-fmt

Fix bug where links could mismatch the requests
  crates/uv-python/src/managed.rs
  crates/uv/src/commands/python/install.rs
  crates/uv/src/commands/python/uninstall.rs
  crates/uv/tests/it/python_find.rs
  docs/concepts/python-versions.md
Due: cargo-fmt

Fix
  Cargo.lock
  crates/uv-dev/Cargo.toml
  crates/uv-python/Cargo.toml
  crates/uv-python/src/lib.rs
  crates/uv-python/src/managed.rs
  crates/uv-virtualenv/src/virtualenv.rs
  crates/uv/src/commands/pip/operations.rs
  crates/uv/src/commands/python/install.rs
  crates/uv/src/commands/python/uninstall.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/src/lib.rs
  crates/uv/tests/it/common/mod.rs
Due: cargo-fmt

Fix reporting on Windows
  crates/uv/src/commands/pip/operations.rs
Due: cargo-fmt

Fix yet another bug
  Cargo.lock
  crates/uv-python/Cargo.toml
  crates/uv-python/src/managed.rs
Due: cargo-fmt

Add support for resolving links in `uv python find` and use in tests
  Cargo.lock
  crates/uv-build-frontend/Cargo.toml
  crates/uv-cli/src/lib.rs
  crates/uv-dev/Cargo.toml
  crates/uv-python/Cargo.toml
  crates/uv-tool/Cargo.toml
  crates/uv-virtualenv/Cargo.toml
  crates/uv/src/commands/python/find.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/python_find.rs
  crates/uv/tests/it/python_install.rs
  crates/uv/tests/it/python_list.rs
Due: cargo-fmt, cargo-dev-generate-all

Handle minor version link directories in environment reporting
  crates/uv/src/commands/pip/operations.rs
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Stabilize Python upgrades
  crates/uv-build-frontend/src/lib.rs
  crates/uv-dispatch/src/lib.rs
  crates/uv-python/src/discovery.rs
  crates/uv-python/src/installation.rs
  crates/uv-python/src/lib.rs
  crates/uv-python/src/managed.rs
  crates/uv-tool/src/lib.rs
  crates/uv-virtualenv/src/lib.rs
  crates/uv-virtualenv/src/virtualenv.rs
  crates/uv/src/commands/project/environment.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/python/install.rs
  crates/uv/src/commands/python/uninstall.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/src/commands/tool/upgrade.rs
  crates/uv/src/commands/venv.rs
  crates/uv/src/lib.rs
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/python_upgrade.rs
  docs/concepts/preview.md
  docs/concepts/python-versions.md
Due: cargo-fmt

Questionable fix
  crates/uv-python/src/managed.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/python_install.rs
Due: cargo-fmt

Bump ambient-id to 0.0.10
  Cargo.lock
  Cargo.toml
Due: none

More fixes
  crates/uv-python/src/lib.rs
  crates/uv-python/src/managed.rs
  crates/uv/tests/it/python_install.rs
Due: cargo-fmt

Stabilize `extra-build-dependencies` (#17767)
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/sync.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/(snapshots)/.*|
)$

  cargo-dev-generate-all: any of: ^crates/(uv-cli|uv-settings)/ and \.rs$ and not ((?x)^(
  .*/(snapshots)/.*|
)$
)
