Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-dev-generate-all:
  name: cargo dev generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

Fix sync Python CI after test crate split-out (#18086)
  .github/workflows/sync-python-releases.yml
Due: none

Fix cfg feature gate: use 'test-r2' instead of 'r2'
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

ruff format
  crates/uv-test/src/lib.rs
  crates/uv/tests/it/lock_scenarios.rs
  crates/uv/tests/it/pip_compile_scenarios.rs
  crates/uv/tests/it/pip_install_scenarios.rs
  scripts/scenarios/generate.py
  scripts/scenarios/pylock.toml
  scripts/scenarios/pyproject.toml
Due: cargo-fmt

Update time to 0.3.47
  Cargo.lock
Due: none

Update rsa to 0.9.10
  Cargo.lock
Due: none

Update time to 0.3.47 (#18088)
  Cargo.lock
Due: none

Update rsa to 0.9.10 (#18089)
  Cargo.lock
Due: none

Update packse and remove Python 3.9.20 from test requirements (#17881)
  .python-versions
  crates/uv-test/src/lib.rs
  crates/uv/tests/it/lock_scenarios.rs
  crates/uv/tests/it/pip_compile_scenarios.rs
  crates/uv/tests/it/pip_install_scenarios.rs
  scripts/scenarios/generate.py
  scripts/scenarios/pylock.toml
  scripts/scenarios/pyproject.toml
  scripts/scenarios/templates/compile.mustache
  scripts/sync-python-version-constants.py
Due: cargo-fmt

Allow tests to manage global preview safely
  crates/uv-preview/src/lib.rs
Due: cargo-fmt

Use global preview in uv-build
  crates/uv-build-backend/src/lib.rs
  crates/uv-build-backend/src/wheel.rs
  crates/uv-build/src/main.rs
  crates/uv-dispatch/src/lib.rs
  crates/uv-preview/src/lib.rs
  crates/uv/src/commands/build_backend.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/lib.rs
Due: cargo-fmt

Recover from the test mutex getting poisoned
  crates/uv-preview/src/lib.rs
Due: cargo-fmt

Support `cp3-none-any`
  crates/uv-distribution-types/src/prioritized_distribution.rs
  crates/uv-platform-tags/src/language_tag.rs
  crates/uv-platform-tags/src/tags.rs
Due: cargo-fmt

Drop shear change
  Cargo.toml
Due: none

Use `with_filter` in more places
  crates/uv/tests/it/build.rs
  crates/uv/tests/it/cache.rs
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/format.rs
  crates/uv/tests/it/pip_compile.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/python_install.rs
  crates/uv/tests/it/python_upgrade.rs
  crates/uv/tests/it/run.rs
  crates/uv/tests/it/sync.rs
  crates/uv/tests/it/tool_install.rs
  crates/uv/tests/it/tool_run.rs
  crates/uv/tests/it/venv.rs
Due: cargo-fmt

Add retry configuration to conda setup steps in CI
  .github/workflows/test-integration.yml
  .github/workflows/test-system.yml
Due: none

Fix filter ordering and scoping issues for with_filter
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/run.rs
  crates/uv/tests/it/tool_install.rs
  crates/uv/tests/it/tool_run.rs
Due: cargo-fmt

Remove stale markers-change-after-selection scenario (dropped in packse 0.3.59)
  crates/uv/tests/it/lock_scenarios.rs
  test/scenarios/wheels/markers-change-after-selection.toml
Due: cargo-fmt

Use with_filter for LFS tests, update snapshots for global exit_code filter
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/tool_install.rs
  crates/uv/tests/it/tool_run.rs
Due: cargo-fmt

Fix comment about `uv export` formats
  crates/uv-cli/src/lib.rs
Due: cargo-fmt, cargo-dev-generate-all

Add CycloneDX to clippy allowlist
  clippy.toml
  crates/uv-cli/src/lib.rs
Due: cargo-fmt, cargo-dev-generate-all

Use `TestContext::with_filter` in more places (#18091)
  crates/uv/tests/it/build.rs
  crates/uv/tests/it/cache.rs
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/format.rs
  crates/uv/tests/it/pip_compile.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/python_install.rs
  crates/uv/tests/it/python_upgrade.rs
  crates/uv/tests/it/run.rs
  crates/uv/tests/it/sync.rs
  crates/uv/tests/it/tool_install.rs
  crates/uv/tests/it/tool_run.rs
  crates/uv/tests/it/venv.rs
Due: cargo-fmt

Fix Python formatting in generate.py
  scripts/scenarios/generate.py
Due: none

Fix comment about `uv export` formats (#17900)
  clippy.toml
  crates/uv-cli/src/lib.rs
Due: cargo-fmt, cargo-dev-generate-all

Improve performance of repeated conflicts with an extra
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv/tests/it/lock_conflict.rs
Due: cargo-fmt

Add test for tool upgrade failure after Python version removal
  crates/uv/tests/it/tool_upgrade.rs
Due: cargo-fmt

Fix `--no-emit-workspace` being ignored with `--all-packages` on single-member workspaces
  crates/uv/src/commands/project/install_target.rs
  crates/uv/tests/it/export.rs
Due: cargo-fmt

Fix exclude-newer lockfile message to say "Resolving despite" instead of "Ignoring"
  crates/uv/src/commands/project/lock.rs
  crates/uv/tests/it/lock_exclude_newer_relative.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Address review comments: fix comment wording and remove unnecessary lock
  crates/uv/src/commands/project/install_target.rs
  crates/uv/tests/it/export.rs
Due: cargo-fmt

Apply suggestion from @zanieb
  crates/uv-resolver/src/resolver/environment.rs
Due: cargo-fmt

Fix handling of groups
  crates/uv-resolver/src/resolver/environment.rs
  crates/uv/tests/it/lock_conflict.rs
  crates/uv/tests/it/snapshots/it__lock_conflict__project_level_conflict_with_extra-2.snap
  crates/uv/tests/it/snapshots/it__lock_conflict__project_level_conflict_with_extras_and_cross_dependency-2.snap
Due: cargo-fmt

Fix script `requires-python` being ignored in favor of `.python-version`
  Cargo.lock
  crates/uv-python/Cargo.toml
  crates/uv-python/src/discovery.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/tests/it/run.rs
Due: cargo-fmt

Fix combinatorial explosion in conflicted marker expressions
  crates/uv-pep508/src/marker/algebra.rs
  crates/uv-pep508/src/marker/tree.rs
Due: cargo-fmt

Fix typos false positives for CPY_VERSION_RE and base64 hashes
  _typos.toml
Due: none

Fix typos false positive for certifi package name
  _typos.toml
Due: none

Fix message when `exclude-newer` invalidates the lock file (#18100)
  crates/uv/src/commands/project/lock.rs
  crates/uv/tests/it/lock_exclude_newer_relative.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Update zip to v8 (#18050)
  Cargo.lock
  Cargo.toml
  crates/uv-build-backend/src/wheel.rs
Due: cargo-fmt

Move the copy implementation to `uv-fs` (#17772)
  Cargo.lock
  crates/uv-fs/Cargo.toml
  crates/uv-fs/src/lib.rs
  crates/uv-fs/src/link.rs
  crates/uv-install-wheel/Cargo.toml
  crates/uv-install-wheel/src/install.rs
  crates/uv-install-wheel/src/lib.rs
  crates/uv-install-wheel/src/linker.rs
  crates/uv-installer/src/installer.rs
  uv.schema.json
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/(snapshots)/.*|
)$

  cargo-dev-generate-all: any of: ^crates/(uv-cli|uv-settings)/ and \.rs$ and not ((?x)^(
  .*/(snapshots)/.*|
)$
)
