Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

.pre-commit-config.yaml:

fail_fast: true

exclude: |
  (?x)^(
    .*/(snapshots)/.*|
  )$

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.42.3
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: local
    hooks:
      - id: cargo-dev-generate-all
        name: cargo dev generate-all
        entry: cargo dev generate-all
        language: system
        types: [rust]
        pass_filenames: false
        files: ^crates/(uv-cli|uv-settings)/

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --ignore-unknown
        language: node
        additional_dependencies: ["prettier@3"]
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

Support Python 3.13+ on Android (#18301)
  crates/uv-python/python/get_interpreter_info.py
Due: none

Update the platform support policy with a tier 3 section including freebsd and 32-bit windows
  docs/reference/policies/platforms.md
Due: none

Improve documentation on virtual dependencies
  docs/concepts/projects/dependencies.md
Due: none

Log the duration we took before erroring (#18231)
  crates/uv-bin-install/src/lib.rs
  crates/uv-client/src/base_client.rs
  crates/uv-client/src/cached_client.rs
  crates/uv-client/src/error.rs
  crates/uv-python/src/downloads.rs
  crates/uv-resolver/src/resolver/provider.rs
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/network.rs
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Fix code style issues
  docs/concepts/projects/dependencies.md
Due: none

Move the registry tests out of the integration test job
  .github/workflows/ci.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-registries.yml
Due: none

Create complementary dependencies for extra-only sources
  crates/uv-resolver/src/pubgrub/package.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Fixes
  crates/uv-resolver/src/pubgrub/package.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Drop the `sys-info` dependency
  Cargo.lock
  Cargo.toml
  crates/uv-client/Cargo.toml
  crates/uv-client/src/linehaul.rs
  crates/uv-client/tests/it/user_agent_version.rs
  crates/uv-platform/Cargo.toml
  crates/uv-platform/src/host.rs
  crates/uv-platform/src/lib.rs
  crates/uv-python/Cargo.toml
  crates/uv-python/src/interpreter.rs
Due: cargo-fmt

Restore secrets: inherit for test-registries
  .github/workflows/ci.yml
Due: none

Skip building of dhi images in contributor pull requests (#18330)
  .github/workflows/build-docker.yml
Due: none

Drop the `sys-info` dependency (#18324)
  Cargo.lock
  Cargo.toml
  crates/uv-client/Cargo.toml
  crates/uv-client/src/linehaul.rs
  crates/uv-client/tests/it/user_agent_version.rs
  crates/uv-platform/Cargo.toml
  crates/uv-platform/src/host.rs
  crates/uv-platform/src/lib.rs
  crates/uv-python/Cargo.toml
  crates/uv-python/src/interpreter.rs
Due: cargo-fmt

Add a Termux integration test
  .github/workflows/test-integration.yml
  test/integration/termux.sh
Due: none

Add Android aarch64 build to dev binaries CI
  .github/workflows/build-dev-binaries.yml
Due: none

Add fallback to `/usr/lib/os-release` on Linux
  crates/uv-platform/src/host.rs
Due: cargo-fmt

Respect build constraints for workspace members
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/build.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Add a Termux integration test (#18332)
  .github/workflows/test-integration.yml
  test/integration/termux.sh
Due: none

Add a development build of `aarch64-linux-android` to CI (#18333)
  .github/workflows/build-dev-binaries.yml
Due: none

Revalidate editables and other dependencies in scripts (#18328)
  crates/uv-resolver/src/lock/mod.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Improve documentation on virtual dependencies (#18346)
  docs/concepts/projects/dependencies.md
Due: none

Add fallback to `/usr/lib/os-release` on Linux (#18349)
  crates/uv-platform/src/host.rs
Due: cargo-fmt

Review
  crates/uv-configuration/src/package_options.rs
  crates/uv-requirements/src/upgrade.rs
  crates/uv/tests/it/show_settings.rs
Due: cargo-fmt

Respect build constraints for workspace members (#18350)
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/build.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

feat: Log when using custom configuration file
  crates/uv/src/lib.rs
Due: cargo-fmt

Use `cargo auditable` to include SBOM in uv builds (#18276)
  .github/workflows/build-release-binaries.yml
  Dockerfile
  scripts/cargo.cmd
  scripts/cargo.sh
  scripts/check-release-artifact-sboms.sh
  scripts/install-cargo-extensions.sh
Due: none

Use code-sign secrets from a GitHub environment (#18295)
  .github/workflows/build-release-binaries.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  scripts/generate-codesign-test-secrets.sh
  scripts/install-cargo-extensions.sh
Due: none

Add code signing of release binaries via `cargo-code-sign`
  .github/workflows/build-release-binaries.yml
  scripts/cargo-auditable.cmd
  scripts/cargo-auditable.sh
  scripts/cargo-code-sign.cmd
  scripts/cargo-code-sign.sh
  scripts/cargo.cmd
  scripts/cargo.sh
  scripts/check-release-artifacts-signed.sh
  scripts/install-cargo-extensions.sh
Due: none

Log explicit config file path in verbose output
  crates/uv/src/lib.rs
Due: cargo-fmt

Use uv 0.10.8 for internal workflows
  .github/workflows/check-docs.yml
  .github/workflows/check-fmt.yml
  .github/workflows/check-lint.yml
  .github/workflows/publish-docs.yml
  .github/workflows/test.yml
Due: none

Use optimized rustfmt step in .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Use optimized `rustfmt` step in `.pre-commit-config.yaml` (#18355)
  .pre-commit-config.yaml
Due: none

Expand `uv workspace metadata` with dependency information from the lock
  Cargo.lock
  crates/uv-cli/src/lib.rs
  crates/uv-resolver/Cargo.toml
  crates/uv-resolver/src/lib.rs
  crates/uv-resolver/src/lock/export/metadata.rs
  crates/uv-resolver/src/lock/export/mod.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/workspace/metadata.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/workspace_metadata.rs
Due: cargo-fmt, cargo-dev-generate-all

add complex test that hits many features
  crates/uv/tests/it/workspace_metadata.rs
Due: cargo-fmt

fmt
  crates/uv/src/commands/workspace/metadata.rs
  crates/uv/tests/it/workspace_metadata.rs
Due: cargo-fmt

Use uv 0.10.8 for internal workflows (#18354)
  .github/workflows/check-docs.yml
  .github/workflows/check-fmt.yml
  .github/workflows/check-lint.yml
  .github/workflows/publish-docs.yml
  .github/workflows/test.yml
Due: none

Update to published cargo-code-sign
  .github/workflows/build-release-binaries.yml
  scripts/generate-codesign-test-secrets.sh
  scripts/install-cargo-extensions.sh
Due: none

Add RetriableError trait and fetch_with_url_fallback
  crates/uv-client/src/base_client.rs
  crates/uv-client/src/lib.rs
  crates/uv-python/src/downloads.rs
Due: cargo-fmt

Fetch ruff from an Astral mirror
  crates/uv-bin-install/src/lib.rs
Due: cargo-fmt
