Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

.pre-commit-config.yaml:

fail_fast: true

exclude: |
  (?x)^(
    .*/(snapshots)/.*|
  )$

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.20.2
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.26.0
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: local
    hooks:
      - id: cargo-dev-generate-all
        name: cargo dev generate-all
        entry: cargo dev generate-all
        language: system
        types: [rust]
        pass_filenames: false
        files: ^crates/(uv-cli|uv-settings)/

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

Remove unused macro branch with typo
  crates/uv/src/lib.rs
Due: cargo-fmt

Minor tweaks
  crates/uv-build-frontend/src/lib.rs
  crates/uv/tests/it/build.rs
Due: cargo-fmt

Warn for builds in non-build and workspace root pyproject.toml (#11394)
  Cargo.lock
  crates/uv-build-frontend/Cargo.toml
  crates/uv-build-frontend/src/lib.rs
  crates/uv/tests/it/build.rs
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Fix macro typo (#11578)
  crates/uv/src/lib.rs
Due: cargo-fmt

prettier
  docs/guides/scripts.md
Due: none

Add documentation for required environments (#11542)
  docs/concepts/projects/config.md
  docs/concepts/resolution.md
Due: none

Bump version to 0.6.1
  CHANGELOG.md
  Cargo.lock
  crates/uv-version/Cargo.toml
  crates/uv/Cargo.toml
  docs/getting-started/installation.md
  docs/guides/integration/aws-lambda.md
  docs/guides/integration/docker.md
  docs/guides/integration/github.md
  docs/guides/integration/pre-commit.md
  pyproject.toml
Due: none

Bump version to 0.6.1 (#11580)
  CHANGELOG.md
  Cargo.lock
  crates/uv-version/Cargo.toml
  crates/uv/Cargo.toml
  docs/getting-started/installation.md
  docs/guides/integration/aws-lambda.md
  docs/guides/integration/docker.md
  docs/guides/integration/github.md
  docs/guides/integration/pre-commit.md
  pyproject.toml
Due: none

Temporarily disable cloudsmith test
  scripts/publish/test_publish.py
Due: none

Temporarily disable cloudsmith test (#11581)
  scripts/publish/test_publish.py
Due: none

Add 'tool.uv.build-constraint-dependencies' to pyproject.toml. Add tests for `uv lock`, `uv add`, `uv pip isntall`, and `uv pip compile`.
  crates/uv-scripts/src/lib.rs
  crates/uv-settings/src/settings.rs
  crates/uv-workspace/src/pyproject.rs
  crates/uv-workspace/src/workspace.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/lock_target.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/pip_compile.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/show_settings.rs
  uv.schema.json
Due: cargo-fmt, cargo-dev-generate-all

docs: add build-constraint-dependencies documentation
  docs/pip/compile.md
  docs/reference/settings.md
  docs/reference/troubleshooting/build-failures.md
Due: none

chore: fix typos; reformat
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/lock.rs
  docs/pip/compile.md
  docs/reference/settings.md
  docs/reference/troubleshooting/build-failures.md
Due: cargo-fmt

Tweak tests and docs
  crates/uv-workspace/src/pyproject.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/pip_install.rs
  docs/pip/compile.md
  docs/reference/settings.md
  docs/reference/troubleshooting/build-failures.md
Due: cargo-fmt

Add `tool.uv.build-constraint-dependencies` to `pyproject.toml` (#11585)
  crates/uv-scripts/src/lib.rs
  crates/uv-settings/src/settings.rs
  crates/uv-workspace/src/pyproject.rs
  crates/uv-workspace/src/workspace.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/lock_target.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/pip_compile.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/show_settings.rs
  docs/pip/compile.md
  docs/reference/settings.md
  docs/reference/troubleshooting/build-failures.md
  uv.schema.json
Due: cargo-fmt, cargo-dev-generate-all

Tweaks
  crates/uv-git-types/src/lib.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Use an Arc for Index URLs
  crates/uv-distribution-types/src/index_url.rs
Due: cargo-fmt

Eagerly reject unsupported Git schemes (#11514)
  Cargo.lock
  crates/uv-distribution-types/src/lib.rs
  crates/uv-distribution-types/src/resolution.rs
  crates/uv-distribution/src/metadata/lowering.rs
  crates/uv-git-types/src/lib.rs
  crates/uv-installer/src/satisfies.rs
  crates/uv-pypi-types/src/parsed_url.rs
  crates/uv-pypi-types/src/requirement.rs
  crates/uv-requirements/Cargo.toml
  crates/uv-requirements/src/lib.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-resolver/src/lock/requirements_txt.rs
  crates/uv-resolver/src/pubgrub/dependencies.rs
  crates/uv-workspace/src/pyproject.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Use an `Arc` for Index URLs (#11586)
  crates/uv-distribution-types/src/index_url.rs
Due: cargo-fmt

Revert "Temporarily disable cloudsmith test"
  scripts/publish/test_publish.py
Due: none

Revert "Temporarily disable cloudsmith test" (#11590)
  scripts/publish/test_publish.py
Due: none

Sort dependency group keys when adding new group
  crates/uv-workspace/src/pyproject_mut.rs
  crates/uv/tests/it/edit.rs
Due: cargo-fmt

Remove cargo-util
  Cargo.lock
  crates/uv-git/Cargo.toml
  crates/uv-git/src/git.rs
Due: cargo-fmt

Display built file name instead of canonicalized name in `uv build`
  crates/uv/src/commands/build_frontend.rs
  crates/uv/tests/it/build.rs
Due: cargo-fmt

uv/tests: add lock file bloating regression test
  crates/uv/tests/it/lock_conflict.rs
Due: cargo-fmt

uv-resolver: fix lock file instability with conflict markers
  crates/uv-resolver/src/error.rs
  crates/uv-resolver/src/resolver/environment.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-resolver/src/universal_marker.rs
  crates/uv/tests/it/lock_conflict.rs
Due: cargo-fmt

uv-pep508: add routine for visiting all extras in a marker tree
  crates/uv-pep508/src/marker/tree.rs
Due: cargo-fmt

uv-resolver: fix conflict marker simplification bug
  crates/uv-resolver/src/graph_ops.rs
  crates/uv-resolver/src/resolution/output.rs
  crates/uv/tests/it/lock_conflict.rs
Due: cargo-fmt

uv/tests: add regression test for duplicate torch and sympy dependencies
  crates/uv/tests/it/lock_conflict.rs
Due: cargo-fmt

uv/tests: update snapshots to account for more conservative conflict marker simplification
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/lock_conflict.rs
Due: cargo-fmt

uv/tests: update snapshots for bad merge
  crates/uv/tests/it/lock_conflict.rs
Due: cargo-fmt

Add document for specifying Python interpreter in tool installation and upgrade commands.
  docs/guides/tools.md
Due: none

uv/tests: update snapshots for bad merge (#11597)
  crates/uv/tests/it/lock_conflict.rs
Due: cargo-fmt

Set `COLUMNS` in test context to ensure consistent wrapping
  crates/uv-static/src/env_vars.rs
  crates/uv/tests/it/common/mod.rs
Due: cargo-fmt

Move `clone_recursive` documentation
  clippy.toml
  crates/uv-install-wheel/src/linker.rs
Due: cargo-fmt

Updates
  crates/uv-static/src/env_vars.rs
  crates/uv/tests/it/tool_run.rs
  docs/configuration/environment.md
Due: cargo-fmt

Update comment
  crates/uv/tests/it/common/mod.rs
Due: cargo-fmt

Add tests with commented groups and remove filters
  crates/uv/tests/it/edit.rs
Due: cargo-fmt

Put the relevant documents into the `Requesting Python versions` section.
  docs/guides/tools.md
Due: none

To make the description clearer and easier to understand.
  docs/guides/tools.md
Due: none
