Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-dev-generate-all:
  name: cargo dev generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

Bump version to 0.7.11 (#13844)
  CHANGELOG.md
  Cargo.lock
  crates/uv-build/Cargo.toml
  crates/uv-build/pyproject.toml
  crates/uv-version/Cargo.toml
  crates/uv/Cargo.toml
  docs/configuration/build-backend.md
  docs/getting-started/installation.md
  docs/guides/integration/aws-lambda.md
  docs/guides/integration/docker.md
  docs/guides/integration/github.md
  docs/guides/integration/pre-commit.md
  pyproject.toml
Due: none

update Git and GitHub Actions docs to mention `gh auth login`
  docs/configuration/authentication.md
  docs/guides/integration/github.md
Due: none

autoformat
  docs/configuration/authentication.md
  docs/guides/integration/github.md
Due: none

link to .md files directly
  docs/configuration/authentication.md
  docs/guides/integration/github.md
Due: none

Sync latest Python releases
  crates/uv-dev/src/generate_sysconfig_mappings.rs
  crates/uv-python/src/sysconfig/generated_mappings.rs
Due: cargo-fmt

pep 751 support --no-editable
  crates/uv-resolver/src/lock/export/pylock_toml.rs
  crates/uv/src/commands/project/export.rs
  crates/uv/tests/it/export.rs
Due: cargo-fmt

Make `requirements_txt_ssh_git_username` not write into homedir
  crates/uv/tests/it/export.rs
Due: cargo-fmt

Handle the other git invocation too
  crates/uv/tests/it/export.rs
Due: cargo-fmt

Make `requirements_txt_ssh_git_username` not write into homedir (#13857)
  crates/uv/tests/it/export.rs
Due: cargo-fmt

Switch `sync_dry_run` test to Python 3.9
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Switch `sync_dry_run` test to Python 3.9 (#13858)
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

List `.gitignore` in project init files (#13855)
  docs/guides/projects.md
Due: none

Add `uv python pin --rm` to remove `.python-version` pins
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/python/pin.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/python_pin.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Review for GitHub authentication docs changes
  docs/configuration/authentication.md
  docs/guides/integration/github.md
Due: none

Move the pip interface documentation into the concepts section (#13841)
  docs/concepts/index.md
  mkdocs.template.yml
Due: none

Remove the configuration section in favor of concepts / reference
  .github/workflows/ci.yml
  .prettierignore
  changelogs/0.4.x.md
  crates/uv-dev/src/generate_env_vars_reference.rs
  docs/concepts/authentication.md
  docs/concepts/build-backend.md
  docs/concepts/configuration-files.md
  docs/concepts/index.md
  docs/concepts/indexes.md
  docs/concepts/projects/dependencies.md
  docs/concepts/python-versions.md
  docs/configuration/index.md
  docs/getting-started/installation.md
  docs/guides/integration/alternative-indexes.md
  docs/guides/projects.md
  docs/guides/scripts.md
  docs/pip/compatibility.md
  docs/pip/packages.md
  docs/reference/environment.md
  docs/reference/installer.md
  mkdocs.template.yml
  pyproject.toml
Due: cargo-fmt

Add credential persistence note for HTTP authentication
  docs/configuration/authentication.md
Due: none

Add `uv python pin --rm` to remove `.python-version` pins (#13860)
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/python/pin.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/python_pin.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Remove the configuration section in favor of concepts / reference (#13842)
  .github/workflows/ci.yml
  .prettierignore
  changelogs/0.4.x.md
  crates/uv-dev/src/generate_env_vars_reference.rs
  docs/concepts/authentication.md
  docs/concepts/build-backend.md
  docs/concepts/configuration-files.md
  docs/concepts/index.md
  docs/concepts/indexes.md
  docs/concepts/projects/dependencies.md
  docs/concepts/python-versions.md
  docs/configuration/index.md
  docs/getting-started/installation.md
  docs/guides/integration/alternative-indexes.md
  docs/guides/projects.md
  docs/guides/scripts.md
  docs/pip/compatibility.md
  docs/pip/packages.md
  docs/reference/environment.md
  docs/reference/installer.md
  mkdocs.template.yml
  pyproject.toml
Due: cargo-fmt

Fix `lock_requires_python` test case
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Fix `lock_requires_python` test case (#13866)
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Add credential persistence note for HTTP authentication (#13865)
  docs/configuration/authentication.md
Due: none

Lock during `uv sync`, `uv add` and `uv remove` to avoid race conditions
  crates/uv-python/src/environment.rs
  crates/uv-python/src/interpreter.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/remove.rs
  crates/uv/src/commands/project/sync.rs
Due: cargo-fmt

support python@latest for newest, stable, available python
  crates/uv-python/src/discovery.rs
  crates/uv-python/src/downloads.rs
  crates/uv-python/src/lib.rs
  crates/uv-python/src/managed.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/tests/it/tool_run.rs
Due: cargo-fmt

update Git and GitHub Actions docs to mention `gh auth login`
  docs/concepts/authentication.md
  docs/guides/integration/github.md
Due: none

configuration -> concepts after rebase
  docs/guides/integration/github.md
Due: none

update Git and GitHub Actions docs to mention `gh auth login` (#13850)
  docs/concepts/authentication.md
  docs/guides/integration/github.md
Due: none

Improve `python pin` error messages
  crates/uv/src/commands/python/pin.rs
  crates/uv/tests/it/python_pin.rs
Due: cargo-fmt

Improve `python pin` error messages (#13862)
  crates/uv/src/commands/python/pin.rs
  crates/uv/tests/it/python_pin.rs
Due: cargo-fmt

Align list elements specifiers and case
  crates/uv-pep440/Readme.md
Due: none

Apply prettier
  crates/uv-pep440/Readme.md
Due: none

Expand environment variables in user-provided index URLs
  Cargo.lock
  Cargo.toml
  crates/uv-distribution-types/Cargo.toml
  crates/uv-distribution-types/src/index.rs
  docs/concepts/indexes.md
  docs/guides/integration/alternative-indexes.md
  docs/reference/settings.md
Due: cargo-fmt

Update settings.md
  docs/reference/settings.md
Due: none

Change fallback to `true`
  crates/uv-globfilter/src/glob_dir_filter.rs
Due: cargo-fmt

PEP 751 uv export supports --no-editable (#13852)
  crates/uv-resolver/src/lock/export/pylock_toml.rs
  crates/uv/src/commands/project/export.rs
  crates/uv/tests/it/export.rs
Due: cargo-fmt

rustfmt crates/uv-distribution-types/src/index.rs
  crates/uv-distribution-types/src/index.rs
Due: cargo-fmt

Change `GlobDirFilter` fallback to `true` (#13882)
  crates/uv-globfilter/src/glob_dir_filter.rs
Due: cargo-fmt

npx prettier --write --prose-wrap always --check "**/*.md"
  docs/concepts/indexes.md
Due: none

Lock during `uv sync`, `uv add` and `uv remove` to avoid race conditions (#13869)
  crates/uv-python/src/environment.rs
  crates/uv-python/src/interpreter.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/remove.rs
  crates/uv/src/commands/project/sync.rs
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/(snapshots)/.*|
)$

  cargo-dev-generate-all: any of: ^crates/(uv-cli|uv-settings)/ and \.rs$ and not ((?x)^(
  .*/(snapshots)/.*|
)$
)
