Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

.pre-commit-config.yaml:

fail_fast: true

exclude: |
  (?x)^(
    .*/(snapshots)/.*|
  )$

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.42.3
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: local
    hooks:
      - id: cargo-dev-generate-all
        name: cargo dev generate-all
        entry: cargo dev generate-all
        language: system
        types: [rust]
        pass_filenames: false
        files: ^crates/(uv-cli|uv-settings)/

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --ignore-unknown
        language: node
        additional_dependencies: ["prettier@3"]
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

Clarify minimum libc version documentation
  docs/concepts/projects/config.md
  docs/concepts/resolution.md
Due: none

Remove redundant libc compatibility note
  crates/uv-workspace/src/pyproject.rs
  uv.schema.json
Due: cargo-fmt

Remove unused supported environment helpers
  crates/uv-pypi-types/src/supported_environments.rs
Due: cargo-fmt

Format artifact policy errors lazily
  crates/uv-distribution-types/src/artifact_policy.rs
Due: cargo-fmt

Separate libc hash filtering from hash selection
  crates/uv-resolver/src/resolution/output.rs
  crates/uv/tests/lock/minimum_libc.rs
Due: cargo-fmt

Share required environment normalization
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-resolver/src/lock/serialize.rs
  crates/uv/src/commands/project/lock.rs
Due: cargo-fmt

Simplify source-provider metadata handling
  crates/uv-resolver/src/lock/mod.rs
Due: cargo-fmt

Crunch tests
  crates/uv/tests/pip_install/pip_install.rs
Due: cargo-fmt

Cover system installation of wheel man pages
  .github/workflows/plan.yml
  scripts/check_system_python.py
  test/packages/man_pages/.gitignore
  test/packages/man_pages/README.md
  test/packages/man_pages/data/man/man1/uv-test-man-pages.1
  test/packages/man_pages/pyproject.toml
  test/packages/man_pages/src/uv_test_man_pages/__init__.py
Due: none

Expand Debian and official Python system-test images
  .github/workflows/test-system.yml
Due: none

Make Python and Conda setup explicit in CI (#21701)
  .github/workflows/check-docs.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-system.yml
Due: none

Limit man-page system check to Linux
  scripts/check_system_python.py
Due: none

renovate: update uv hashes correctly with setup-uv
  .github/workflows/bench.yml
  .github/workflows/check-docs.yml
  .github/workflows/check-fmt.yml
  .github/workflows/check-generated-files.yml
  .github/workflows/check-lint.yml
  .github/workflows/check-lock.yml
  .github/workflows/check-release.yml
  .github/workflows/import-codspeed-profiles.yml
  .github/workflows/publish-docs.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/publish-versions.yml
  .github/workflows/pull-request-security-review.yml
  .github/workflows/rebase-conflicted-pull-request.yml
  .github/workflows/release-prepare.yml
  .github/workflows/release.yml
  .github/workflows/sign-release-binaries.yml
  .github/workflows/sync-python-releases.yml
  .github/workflows/test-windows-trampolines.yml
  .github/workflows/test.yml
Due: none

Require system tests for labeled pull requests
  .github/workflows/ci.yml
Due: none

Add checksums
  .github/workflows/build-release-binaries.yml
  .github/workflows/fix-bug.yml
  .github/workflows/reproduce-bug.yml
  .github/workflows/test-windows-trampolines.yml
Due: none

Generalize conditional required jobs
  .github/workflows/ci.yml
Due: none

Share source discovery between resolution and lock validation
  Cargo.lock
  crates/uv-dispatch/src/lib.rs
  crates/uv-requirements/src/lookahead.rs
  crates/uv-resolver/Cargo.toml
  crates/uv-resolver/src/lib.rs
  crates/uv-resolver/src/lock/deserialize.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-resolver/src/lock/serialize.rs
  crates/uv-resolver/src/lock/source_inputs.rs
  crates/uv-resolver/src/lock/source_inputs_validation.rs
  crates/uv-resolver/src/manifest.rs
  crates/uv-resolver/src/resolution/output.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-resolver/src/source_discovery.rs
  crates/uv/src/commands/pip/operations.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/tool/common.rs
  crates/uv/tests/lock/lock.rs
Due: cargo-fmt

Explain the macOS man-page test exclusion
  scripts/check_system_python.py
Due: none

renovate: update uv hashes correctly with setup-uv (#21724)
  .github/workflows/bench.yml
  .github/workflows/build-release-binaries.yml
  .github/workflows/check-docs.yml
  .github/workflows/check-fmt.yml
  .github/workflows/check-generated-files.yml
  .github/workflows/check-lint.yml
  .github/workflows/check-lock.yml
  .github/workflows/check-release.yml
  .github/workflows/fix-bug.yml
  .github/workflows/import-codspeed-profiles.yml
  .github/workflows/publish-docs.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/publish-versions.yml
  .github/workflows/pull-request-security-review.yml
  .github/workflows/rebase-conflicted-pull-request.yml
  .github/workflows/release-prepare.yml
  .github/workflows/release.yml
  .github/workflows/reproduce-bug.yml
  .github/workflows/sign-release-binaries.yml
  .github/workflows/sync-python-releases.yml
  .github/workflows/test-windows-trampolines.yml
  .github/workflows/test.yml
Due: none

Redact query credentials in ambiguous URL errors
  crates/uv-redacted/src/lib.rs
Due: cargo-fmt

Use a dedicated type for lookahead providers
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-resolver/src/resolution/mod.rs
  crates/uv-resolver/src/resolution/output.rs
  crates/uv-resolver/src/resolver/mod.rs
Due: cargo-fmt

Keep default-group field private to pyproject module
  crates/uv-workspace/src/pyproject.rs
Due: cargo-fmt

Use cargo-deny from toolchain
  .cargo/deny.toml
  .github/workflows/check-lint.yml
  .github/zizmor.yml
  pyproject.toml
  uv.lock
Due: none

Simplify source-provider validation
  crates/uv-resolver/src/lock/mod.rs
Due: cargo-fmt

Move default-group selection onto project and workspace types (#21689)
  crates/uv-workspace/src/lib.rs
  crates/uv-workspace/src/pyproject.rs
  crates/uv-workspace/src/workspace.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/audit.rs
  crates/uv/src/commands/project/check.rs
  crates/uv/src/commands/project/export.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/remove.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/project/tree.rs
  crates/uv/src/commands/project/version.rs
  crates/uv/src/commands/venv.rs
  crates/uv/tests/project/export.rs
Due: cargo-fmt

Name the lock setting in missing-lockfile hints
  crates/uv/src/commands/project/mod.rs
  crates/uv/tests/build/audit.rs
  crates/uv/tests/lock/lock.rs
  crates/uv/tests/project/check.rs
  crates/uv/tests/project/run.rs
  crates/uv/tests/sync/sync.rs
Due: cargo-fmt

Show lockfile creation guidance as a hint
  crates/uv/src/commands/project/mod.rs
  crates/uv/tests/build/audit.rs
  crates/uv/tests/lock/lock.rs
  crates/uv/tests/project/check.rs
  crates/uv/tests/project/run.rs
  crates/uv/tests/sync/sync.rs
Due: cargo-fmt

Suggest retrying the command with its lock mode disabled
  crates/uv/src/commands/project/mod.rs
  crates/uv/tests/build/audit.rs
  crates/uv/tests/lock/lock.rs
  crates/uv/tests/project/check.rs
  crates/uv/tests/project/run.rs
  crates/uv/tests/sync/sync.rs
Due: cargo-fmt

Use explicit lock mode overrides in recovery hints
  crates/uv/src/commands/project/mod.rs
  crates/uv/tests/build/audit.rs
  crates/uv/tests/lock/lock.rs
  crates/uv/tests/project/check.rs
  crates/uv/tests/project/run.rs
  crates/uv/tests/sync/sync.rs
Due: cargo-fmt

Restore the purpose of lockfile recovery commands
  crates/uv/src/commands/project/lock_target.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/tests/build/audit.rs
  crates/uv/tests/lock/lock.rs
  crates/uv/tests/project/check.rs
  crates/uv/tests/project/run.rs
  crates/uv/tests/sync/sync.rs
  crates/uv/tests/workspace/workspace_metadata.rs
Due: cargo-fmt

Track the invoking command in lockfile recovery hints
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/audit.rs
  crates/uv/src/commands/project/check.rs
  crates/uv/src/commands/project/export.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/lock_target.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/remove.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/project/tree.rs
  crates/uv/src/commands/project/upgrade.rs
  crates/uv/src/commands/project/version.rs
  crates/uv/src/commands/workspace/metadata.rs
  crates/uv/tests/build/audit.rs
  crates/uv/tests/lock/lock.rs
  crates/uv/tests/project/check.rs
  crates/uv/tests/project/run.rs
  crates/uv/tests/sync/sync.rs
  crates/uv/tests/workspace/workspace_metadata.rs
Due: cargo-fmt

Use cargo-deny from toolchain (#21730)
  .cargo/deny.toml
  .github/workflows/check-lint.yml
  .github/zizmor.yml
  pyproject.toml
  uv.lock
Due: none

cargo deny: restrict build scripts
  .cargo/deny.toml
Due: none

Make resolver fork continuations explicit
  crates/uv-resolver/src/resolver/environment.rs
  crates/uv-resolver/src/resolver/mod.rs
Due: cargo-fmt

Encapsulate resolver metadata requests
  crates/uv-resolver/src/resolver/batch_prefetch.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-resolver/src/resolver/requests.rs
Due: cargo-fmt

Retain full metadata for unselected lookahead contexts
  crates/uv-requirements/src/lookahead.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-resolver/src/resolution/output.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-types/src/requirements.rs
  crates/uv/tests/lock/lock.rs
Due: cargo-fmt

Separate resolver environment and continuation updates
  crates/uv-resolver/src/resolver/environment.rs
  crates/uv-resolver/src/resolver/mod.rs
Due: cargo-fmt

Move resolver configuration into uv-configuration
  Cargo.lock
  crates/uv-cli/Cargo.toml
  crates/uv-cli/src/lib.rs
  crates/uv-cli/src/options.rs
  crates/uv-configuration/Cargo.toml
  crates/uv-configuration/src/annotation_style.rs
  crates/uv-configuration/src/exclude_newer.rs
  crates/uv-configuration/src/fork_strategy.rs
  crates/uv-configuration/src/lib.rs
  crates/uv-configuration/src/prerelease.rs
  crates/uv-configuration/src/resolution_mode.rs
  crates/uv-resolver/Cargo.toml
  crates/uv-resolver/src/lib.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-resolver/src/options.rs
  crates/uv-resolver/src/prerelease.rs
  crates/uv-resolver/src/pubgrub/report.rs
  crates/uv-resolver/src/resolution/display.rs
  crates/uv-resolver/src/resolution/mod.rs
  crates/uv-resolver/src/resolution_mode.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-settings/Cargo.toml
  crates/uv-settings/src/combine.rs
  crates/uv-settings/src/settings.rs
Due: cargo-fmt, cargo-dev-generate-all

Move resolver configuration into uv-configuration (#21737)
  Cargo.lock
  crates/uv-cli/Cargo.toml
  crates/uv-cli/src/lib.rs
  crates/uv-cli/src/options.rs
  crates/uv-configuration/Cargo.toml
  crates/uv-configuration/src/annotation_style.rs
  crates/uv-configuration/src/exclude_newer.rs
  crates/uv-configuration/src/fork_strategy.rs
  crates/uv-configuration/src/lib.rs
  crates/uv-configuration/src/prerelease.rs
  crates/uv-configuration/src/resolution_mode.rs
  crates/uv-resolver/Cargo.toml
  crates/uv-resolver/src/lib.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-resolver/src/options.rs
  crates/uv-resolver/src/prerelease.rs
  crates/uv-resolver/src/pubgrub/report.rs
  crates/uv-resolver/src/resolution/display.rs
  crates/uv-resolver/src/resolution/mod.rs
  crates/uv-resolver/src/resolution_mode.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-settings/Cargo.toml
  crates/uv-settings/src/combine.rs
  crates/uv-settings/src/settings.rs
Due: cargo-fmt, cargo-dev-generate-all

Make resolver fork continuations explicit (#21732)
  crates/uv-resolver/src/resolver/mod.rs
Due: cargo-fmt
