Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

.pre-commit-config.yaml:

fail_fast: true

exclude: |
  (?x)^(
    .*/(snapshots)/.*|
  )$

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.20.2
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.26.0
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: local
    hooks:
      - id: cargo-dev-generate-all
        name: cargo dev generate-all
        entry: cargo dev generate-all
        language: system
        types: [rust]
        pass_filenames: false
        files: ^crates/(uv-cli|uv-settings)/

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

Add `-E` short flag and comma-separated values for `--extra` option
  crates/uv-cli/src/lib.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt, cargo-dev-generate-all

Fixes
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/commands/diagnostics.rs
  crates/uv/tests/it/branching_urls.rs
  crates/uv/tests/it/build_backend.rs
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/network.rs
  crates/uv/tests/it/pip_compile_scenarios.rs
  crates/uv/tests/it/publish.rs
  crates/uv/tests/it/workspace_dir.rs
Due: cargo-fmt

Update cargo-xwin install to use --locked instead of version pin
  CONTRIBUTING.md
Due: none

Remove `-E` shorthand
  crates/uv-cli/src/lib.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt, cargo-dev-generate-all

Use `--locked` to install `cargo-xwin` in guide (#17530)
  CONTRIBUTING.md
Due: none

Remove some abandoned dependencies
  .github/workflows/build-dev-binaries.yml
  .github/workflows/check-lint.yml
  .pre-commit-config.yaml
Due: none

Move MSRV section from versioning to platform support
  docs/reference/policies/platforms.md
  docs/reference/policies/versioning.md
Due: none

Update the testing instructions in the CONTRIBUTING guide (#17528)
  CONTRIBUTING.md
Due: none

Remove miette
  Cargo.lock
  Cargo.toml
  crates/uv/Cargo.toml
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/commands/diagnostics.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/src/lib.rs
  crates/uv/tests/it/branching_urls.rs
  crates/uv/tests/it/build.rs
  crates/uv/tests/it/build_backend.rs
  crates/uv/tests/it/cache_prune.rs
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/export.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/lock_conflict.rs
  crates/uv/tests/it/lock_exclude_newer_relative.rs
  crates/uv/tests/it/lock_scenarios.rs
  crates/uv/tests/it/network.rs
  crates/uv/tests/it/pip_compile.rs
  crates/uv/tests/it/pip_compile_scenarios.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/pip_install_scenarios.rs
  crates/uv/tests/it/pip_sync.rs
  crates/uv/tests/it/publish.rs
  crates/uv/tests/it/python_find.rs
  crates/uv/tests/it/python_list.rs
  crates/uv/tests/it/run.rs
  crates/uv/tests/it/sync.rs
  crates/uv/tests/it/tool_install.rs
  crates/uv/tests/it/tool_run.rs
  crates/uv/tests/it/workspace.rs
  crates/uv/tests/it/workspace_dir.rs
Due: cargo-fmt

Move MSRV to platform support section (#17534)
  docs/reference/policies/platforms.md
  docs/reference/policies/versioning.md
Due: none

Remove some abandoned dependencies (#17532)
  .github/workflows/build-dev-binaries.yml
  .github/workflows/check-lint.yml
  .pre-commit-config.yaml
Due: none

wip
  Cargo.toml
  crates/uv-python/Cargo.toml
  crates/uv-python/src/macos_dylib.rs
  crates/uv/Cargo.toml
Due: cargo-fmt

Add a `CLAUDE.md` (#17517)
  CLAUDE.md
Due: none

Upgrade the trampolines to nightly-2025-11-02
  crates/uv-trampoline-builder/src/lib.rs
  crates/uv-trampoline-builder/trampolines/uv-trampoline-aarch64-console.exe
  crates/uv-trampoline-builder/trampolines/uv-trampoline-aarch64-gui.exe
  crates/uv-trampoline-builder/trampolines/uv-trampoline-i686-console.exe
  crates/uv-trampoline-builder/trampolines/uv-trampoline-i686-gui.exe
  crates/uv-trampoline-builder/trampolines/uv-trampoline-x86_64-console.exe
  crates/uv-trampoline-builder/trampolines/uv-trampoline-x86_64-gui.exe
  crates/uv-trampoline/.cargo/config.toml
  crates/uv-trampoline/Cargo.toml
  crates/uv-trampoline/README.md
  crates/uv-trampoline/rust-toolchain.toml
Due: cargo-fmt

Trigger Windows trampoline checks for root Cargo.toml and workflow changes
  .github/workflows/ci.yml
Due: none

Refactor disjoint target hint into generate_hints()
  crates/uv-resolver/src/error.rs
  crates/uv-resolver/src/pubgrub/report.rs
Due: cargo-fmt

Run Windows trampoline checks when Rust dependencies change (#17539)
  .github/workflows/ci.yml
Due: none

Update snapshot tests for disjoint hint order change
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/pip_compile.rs
Due: cargo-fmt

remove unnecessary is_empty check
  crates/uv/src/commands/pip/freeze.rs
Due: cargo-fmt

Implement `uv pip freeze --exclude` flag
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/pip/freeze.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/pip_freeze.rs
Due: cargo-fmt, cargo-dev-generate-all

fix(arg): pass 'exclude' by reference in 'pip freeze'
  crates/uv/src/commands/pip/freeze.rs
  crates/uv/src/lib.rs
Due: cargo-fmt

use pip_install instead of pip_sync in test case
  crates/uv/tests/it/pip_freeze.rs
Due: cargo-fmt

transform exclude from Vec to HashSet
  crates/uv/src/commands/pip/freeze.rs
  crates/uv/src/settings.rs
Due: cargo-fmt

install test dependencies as cli arguments rather than through requirements.txt file
  crates/uv/tests/it/pip_freeze.rs
Due: cargo-fmt

fix: remove return type for test function
  crates/uv/tests/it/pip_freeze.rs
Due: cargo-fmt

Upgrade the trampolines to nightly-2025-11-02 (#17538)
  crates/uv-trampoline-builder/src/lib.rs
  crates/uv-trampoline-builder/trampolines/uv-trampoline-aarch64-console.exe
  crates/uv-trampoline-builder/trampolines/uv-trampoline-aarch64-gui.exe
  crates/uv-trampoline-builder/trampolines/uv-trampoline-i686-console.exe
  crates/uv-trampoline-builder/trampolines/uv-trampoline-i686-gui.exe
  crates/uv-trampoline-builder/trampolines/uv-trampoline-x86_64-console.exe
  crates/uv-trampoline-builder/trampolines/uv-trampoline-x86_64-gui.exe
  crates/uv-trampoline/.cargo/config.toml
  crates/uv-trampoline/Cargo.toml
  crates/uv-trampoline/README.md
  crates/uv-trampoline/rust-toolchain.toml
Due: cargo-fmt

Implement `uv pip freeze --exclude` flag (#17045)
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/pip/freeze.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/pip_freeze.rs
Due: cargo-fmt, cargo-dev-generate-all

Upgrade rustls-pki-types to 1.13.3 (#17519)
  Cargo.lock
Due: none

Use `FxHashSet` for `PipListSettings::exclude` and `PipFreezeSettings::exclude` for O(1) lookups
  crates/uv/src/commands/pip/freeze.rs
  crates/uv/src/commands/pip/list.rs
  crates/uv/src/settings.rs
Due: cargo-fmt

Add macOS code signing as a nextest setup hook
  .config/nextest.toml
  CONTRIBUTING.md
  scripts/codesign-macos.sh
  scripts/nextest-setup-hook-unix.sh
Due: none

Use `FxHashSet<PackageName>` instead of `Vec` for `exclude` in `uv pip list` (#17550)
  crates/uv/src/commands/pip/freeze.rs
  crates/uv/src/commands/pip/list.rs
  crates/uv/src/settings.rs
Due: cargo-fmt

Remove miette
  Cargo.lock
  Cargo.toml
  crates/uv/Cargo.toml
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/commands/diagnostics.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/src/lib.rs
  crates/uv/tests/it/auth.rs
  crates/uv/tests/it/branching_urls.rs
  crates/uv/tests/it/build.rs
  crates/uv/tests/it/build_backend.rs
  crates/uv/tests/it/cache_prune.rs
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/export.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/lock_conflict.rs
  crates/uv/tests/it/lock_exclude_newer_relative.rs
  crates/uv/tests/it/lock_scenarios.rs
  crates/uv/tests/it/network.rs
  crates/uv/tests/it/pip_compile.rs
  crates/uv/tests/it/pip_compile_scenarios.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/pip_install_scenarios.rs
  crates/uv/tests/it/pip_sync.rs
  crates/uv/tests/it/run.rs
  crates/uv/tests/it/sync.rs
  crates/uv/tests/it/tool_install.rs
  crates/uv/tests/it/tool_run.rs
  crates/uv/tests/it/workspace.rs
Due: cargo-fmt

Refactor hints
  crates/uv-resolver/src/error.rs
  crates/uv-resolver/src/lib.rs
  crates/uv-resolver/src/pubgrub/mod.rs
  crates/uv-resolver/src/pubgrub/report.rs
  crates/uv-warnings/src/lib.rs
  crates/uv/src/commands/diagnostics.rs
  crates/uv/tests/it/auth.rs
  crates/uv/tests/it/cache_prune.rs
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/lock_scenarios.rs
  crates/uv/tests/it/pip_compile.rs
  crates/uv/tests/it/pip_compile_scenarios.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/pip_install_scenarios.rs
  crates/uv/tests/it/pip_sync.rs
  crates/uv/tests/it/sync.rs
  crates/uv/tests/it/tool_install.rs
  crates/uv/tests/it/workspace.rs
Due: cargo-fmt

Add first-party line wrapping
  Cargo.lock
  Cargo.toml
  crates/uv-publish/src/lib.rs
  crates/uv-python/src/discovery.rs
  crates/uv-warnings/Cargo.toml
  crates/uv-warnings/src/lib.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/commands/diagnostics.rs
  crates/uv/src/commands/publish.rs
  crates/uv/src/commands/python/install.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/src/commands/tool/upgrade.rs
Due: cargo-fmt

Fix concurrent updates and add target gating
  Cargo.lock
  crates/uv-mdtest/Cargo.toml
  crates/uv-mdtest/src/lib.rs
  crates/uv-mdtest/src/parser.rs
  crates/uv-mdtest/src/runner.rs
  crates/uv-mdtest/src/snapshot.rs
  crates/uv-mdtest/src/types.rs
  crates/uv-static/src/env_vars.rs
  crates/uv/tests/mdtest.rs
Due: cargo-fmt

Run tests concurrently within files
  Cargo.lock
  Cargo.toml
  crates/uv-mdtest/ARCHITECTURE.md
  crates/uv/Cargo.toml
  crates/uv/tests/mdtest.rs
Due: cargo-fmt

Initial mdtest implementation
  Cargo.lock
  Cargo.toml
  crates/uv-mdtest/ARCHITECTURE.md
  crates/uv-mdtest/Cargo.toml
  crates/uv-mdtest/src/lib.rs
  crates/uv-mdtest/src/parser.rs
  crates/uv-mdtest/src/runner.rs
  crates/uv-mdtest/src/snapshot.rs
  crates/uv-mdtest/src/types.rs
  crates/uv/Cargo.toml
  crates/uv/tests/mdtest.rs
  crates/uv/tests/mdtest/add.md
  crates/uv/tests/mdtest/init.md
  crates/uv/tests/mdtest/lock.md
  crates/uv/tests/mdtest/mdtest-features.md
  crates/uv/tests/mdtest/remove.md
  crates/uv/tests/mdtest/sync.md
  crates/uv/tests/mdtest/tree.md
  crates/uv/tests/mdtest/version.md
  crates/uv/tests/mdtest/workspace.md
Due: cargo-fmt

Fixes for `uv-test` changes
  crates/uv/tests/mdtest.rs
Due: cargo-fmt

Move the tests to `test/uv`
  crates/uv-mdtest/README.md
  crates/uv/tests/mdtest.rs
  test/uv/add.md
  test/uv/init.md
  test/uv/lock.md
  test/uv/readme.md
  test/uv/remove.md
  test/uv/sync.md
  test/uv/tree.md
  test/uv/version.md
  test/uv/workspace.md
Due: cargo-fmt
