Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-dev-generate-all:
  name: cargo dev generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

Respect wheel variant constraints during resolution and export
  Cargo.lock
  Cargo.toml
  crates/uv-build-backend/src/metadata.rs
  crates/uv-client/src/error.rs
  crates/uv-client/src/registry_client.rs
  crates/uv-distribution-types/src/prioritized_distribution.rs
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-distribution/src/error.rs
  crates/uv-lock/Cargo.toml
  crates/uv-lock/src/lock/export/pylock_toml.rs
  crates/uv-lock/src/lock/installable.rs
  crates/uv-lock/src/lock/mod.rs
  crates/uv-pep508/src/marker/tree.rs
  crates/uv-requirements/src/lookahead.rs
  crates/uv-resolver/Cargo.toml
  crates/uv-resolver/src/error.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-resolver/src/resolver/requests.rs
  crates/uv-resolver/src/resolver/requirements.rs
  crates/uv-variant-frontend/Cargo.toml
  crates/uv-variants/Cargo.toml
  crates/uv-variants/src/lib.rs
  crates/uv-variants/src/variants_json.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/tests/pip_install/variants.rs
  crates/uv/tests/pip_install/variants_markers.rs
  crates/uv/tests/pip_install/variants_packse.rs
  crates/uv/tests/pip_install/variants_pylock.rs
  docs/reference/environment.md
Due: cargo-fmt

Convert markers into required environments with From
  crates/uv-distribution-types/src/required_environment.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/project/lock.rs
Due: cargo-fmt

Add minimum libc versions to required environments
  crates/uv-dev/src/generate_preview_features_reference.rs
  crates/uv-distribution-types/src/artifact_policy.rs
  crates/uv-distribution-types/src/lib.rs
  crates/uv-distribution-types/src/prioritized_distribution.rs
  crates/uv-distribution-types/src/required_environment.rs
  crates/uv-lock/src/lock/mod.rs
  crates/uv-lock/src/lock/serialize.rs
  crates/uv-platform-tags/src/lib.rs
  crates/uv-platform-tags/src/libc_version.rs
  crates/uv-preview/src/lib.rs
  crates/uv-resolver-types/src/options.rs
  crates/uv-resolver/src/flat_index.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-resolver/src/resolver/provider.rs
  crates/uv-resolver/src/version_map.rs
  crates/uv-settings/src/combine.rs
  crates/uv-settings/src/settings.rs
  crates/uv-workspace/src/pyproject.rs
  crates/uv-workspace/src/workspace.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/lock_target.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/settings.rs
  crates/uv/tests/lock/main.rs
  crates/uv/tests/lock/minimum_libc.rs
  crates/uv/tests/sync/show_settings.rs
  docs/concepts/projects/config.md
  docs/concepts/resolution.md
  uv.schema.json
Due: cargo-fmt, cargo-dev-generate-all

Remove artifact coverage insertion test
  crates/uv-distribution-types/src/prioritized_distribution.rs
Due: cargo-fmt

Clarify minimum libc version documentation
  docs/concepts/projects/config.md
  docs/concepts/resolution.md
Due: none

refactor: extract PR security review payload and helpers
  .github/renovate.json5
  .github/workflows/pull-request-security-review.yml
  agents/security-pr-review/prompt.md
  agents/security-pr-review/schema.json
  agents/security-pr-review/scripts/agent-review-to-github-comments.py
  agents/security-pr-review/scripts/agent-review-to-github-comments.py.lock
  agents/security-pr-review/scripts/check-coverage.sh
  agents/security-pr-review/scripts/collect-context.sh
  agents/security-pr-review/scripts/install-codex-security.sh
  agents/security-pr-review/scripts/prepare.sh
  agents/security-pr-review/scripts/setup.sh
Due: none

Format artifact policy errors lazily
  crates/uv-distribution-types/src/artifact_policy.rs
Due: cargo-fmt

chore: generalize PR security review setup
  .github/workflows/pull-request-security-review.yml
  agents/codex/config.toml
  agents/prompts/pull-request-security-review.md
  agents/security-pr-review/config.toml
Due: none

Use libc for required environment constraints
  crates/uv-distribution-types/src/artifact_policy.rs
  crates/uv-distribution-types/src/required_environment.rs
  crates/uv-lock/src/lock/mod.rs
  crates/uv-lock/src/lock/serialize.rs
  crates/uv-workspace/src/pyproject.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/tests/lock/minimum_libc.rs
  docs/concepts/projects/config.md
  docs/concepts/resolution.md
  uv.schema.json
Due: cargo-fmt

Separate required libc coverage from artifact filtering
  crates/uv-distribution-types/src/artifact_policy.rs
  crates/uv-distribution-types/src/environment.rs
  crates/uv-distribution-types/src/lib.rs
  crates/uv-lock/src/lock/mod.rs
  crates/uv-lock/src/lock/serialize.rs
  crates/uv-lock/src/lock/tree.rs
  crates/uv-pypi-types/src/lib.rs
  crates/uv-pypi-types/src/supported_environments.rs
  crates/uv-resolver-types/src/options.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-settings/src/combine.rs
  crates/uv-settings/src/settings.rs
  crates/uv-workspace/src/pyproject.rs
  crates/uv-workspace/src/workspace.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/lock_target.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/project/upgrade.rs
  crates/uv/src/settings.rs
  crates/uv/tests/lock/minimum_libc.rs
  crates/uv/tests/sync/show_settings.rs
  docs/concepts/resolution.md
  uv.schema.json
Due: cargo-fmt, cargo-dev-generate-all

Select policy-compatible hashes during resolution
  crates/uv-resolver/src/resolver/mod.rs
Due: cargo-fmt

Remove unused supported environment helpers
  crates/uv-pypi-types/src/supported_environments.rs
Due: cargo-fmt

Separate libc hash filtering from hash selection
  crates/uv/tests/lock/minimum_libc.rs
Due: cargo-fmt

Remove redundant libc compatibility note
  crates/uv-workspace/src/pyproject.rs
  uv.schema.json
Due: cargo-fmt

Share required environment normalization
  crates/uv-lock/src/lock/mod.rs
  crates/uv-lock/src/lock/serialize.rs
  crates/uv/src/commands/project/lock.rs
Due: cargo-fmt

Skip redundant artifact coverage calculations
  crates/uv-distribution-types/src/artifact_policy.rs
Due: cargo-fmt

Compute hashes for retained libc artifacts
  Cargo.lock
  crates/uv-client/src/file_hash.rs
  crates/uv-distribution-types/src/prioritized_distribution.rs
  crates/uv-lock/src/lock/mod.rs
  crates/uv-resolver-types/Cargo.toml
  crates/uv-resolver-types/src/options.rs
  crates/uv-resolver-types/src/output.rs
  crates/uv-settings/src/combine.rs
  crates/uv-settings/src/settings.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/tests/lock/minimum_libc.rs
Due: cargo-fmt, cargo-dev-generate-all

feat: allow uv add sources to be specified outside of the requirement
  crates/uv-cli/src/lib.rs
  crates/uv-requirements/src/sources.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/project/edit.rs
  pyproject.toml
  uv.lock
Due: cargo-fmt, cargo-dev-generate-all

Simplify artifact policy initialization and documentation
  crates/uv-distribution-types/src/artifact_policy.rs
  crates/uv-distribution-types/src/environment.rs
  crates/uv-distribution-types/src/prioritized_distribution.rs
  crates/uv-lock/src/lock/serialize.rs
  crates/uv-resolver-types/src/output.rs
Due: cargo-fmt

cargo-deny: ban wildcards, bump two deps
  .cargo/deny.toml
  Cargo.lock
Due: none

Allow build script from crossbeam-epoch
  .cargo/deny.toml
Due: none

uv-dev use uv-performance-memory-allocator via workspace
  crates/uv-dev/Cargo.toml
Due: none

Resolve URL dependencies without lookahead
  Cargo.lock
  crates/uv-configuration/src/overrides.rs
  crates/uv-dispatch/Cargo.toml
  crates/uv-dispatch/src/lib.rs
  crates/uv-distribution-types/src/hash.rs
  crates/uv-lock/src/lock/mod.rs
  crates/uv-requirements/src/lib.rs
  crates/uv-requirements/src/lookahead.rs
  crates/uv-requirements/src/specification.rs
  crates/uv-resolver/src/candidate_selector.rs
  crates/uv-resolver/src/dependency_provider.rs
  crates/uv-resolver/src/error.rs
  crates/uv-resolver/src/fork_urls.rs
  crates/uv-resolver/src/manifest.rs
  crates/uv-resolver/src/prerelease.rs
  crates/uv-resolver/src/pubgrub/dependencies.rs
  crates/uv-resolver/src/pubgrub/mod.rs
  crates/uv-resolver/src/pubgrub/priority.rs
  crates/uv-resolver/src/pubgrub/solver_version.rs
  crates/uv-resolver/src/resolution/output.rs
  crates/uv-resolver/src/resolution_mode.rs
  crates/uv-resolver/src/resolver/derivation.rs
  crates/uv-resolver/src/resolver/index.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-resolver/src/resolver/package_source.rs
  crates/uv-resolver/src/resolver/provider.rs
  crates/uv-resolver/src/resolver/requests.rs
  crates/uv-resolver/src/resolver/requirements.rs
  crates/uv-resolver/src/resolver/sources.rs
  crates/uv-resolver/src/resolver/system.rs
  crates/uv-resolver/src/resolver/urls.rs
  crates/uv-resolver/src/version_map.rs
  crates/uv-resolver/src/yanks.rs
  crates/uv-types/src/requirements.rs
  crates/uv/src/commands/pip/operations.rs
  crates/uv/tests/lock/lock.rs
  crates/uv/tests/pip_compile/pip_compile.rs
  docs/reference/internals/resolver.md
Due: cargo-fmt

Expose complete build dependency resolution graphs
  crates/uv-dispatch/src/lib.rs
  crates/uv-lock/src/lock/mod.rs
Due: cargo-fmt

Represent build environments as independent lock graphs
  Cargo.lock
  crates/uv-lock/Cargo.toml
  crates/uv-lock/src/lib.rs
  crates/uv-lock/src/lock/build.rs
  crates/uv-lock/src/lock/deserialize.rs
  crates/uv-lock/src/lock/mod.rs
  crates/uv-lock/src/lock/serialize.rs
  crates/uv-lock/src/lock/snapshots/uv_lock__lock__tests__hash_optional_missing.snap
  crates/uv-lock/src/lock/snapshots/uv_lock__lock__tests__hash_optional_present.snap
  crates/uv-lock/src/lock/snapshots/uv_lock__lock__tests__hash_required_present.snap
  crates/uv-lock/src/lock/snapshots/uv_lock__lock__tests__missing_dependency_source_unambiguous.snap
  crates/uv-lock/src/lock/snapshots/uv_lock__lock__tests__missing_dependency_source_version_unambiguous.snap
  crates/uv-lock/src/lock/snapshots/uv_lock__lock__tests__missing_dependency_version_dynamic.snap
  crates/uv-lock/src/lock/snapshots/uv_lock__lock__tests__missing_dependency_version_unambiguous.snap
  crates/uv-lock/src/lock/snapshots/uv_lock__lock__tests__source_direct_has_subdir.snap
  crates/uv-lock/src/lock/snapshots/uv_lock__lock__tests__source_direct_no_subdir.snap
  crates/uv-lock/src/lock/snapshots/uv_lock__lock__tests__source_directory.snap
  crates/uv-lock/src/lock/snapshots/uv_lock__lock__tests__source_editable.snap
  crates/uv/src/commands/project/mod.rs
  crates/uv/tests/lock/lock.rs
Due: cargo-fmt

Expose selected-source build requirement discovery
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-distribution/src/source/mod.rs
Due: cargo-fmt

Write project lockfiles atomically
  crates/uv/src/commands/project/lock_target.rs
Due: cargo-fmt

Preserve unconditional conflict marker projections
  crates/uv-resolver-types/src/universal_marker.rs
Due: cargo-fmt

Scope resolver sources and candidate policies to selected dependencies
  crates/uv-resolver/src/candidate_selector.rs
  crates/uv-resolver/src/error.rs
  crates/uv-resolver/src/fork_indexes.rs
  crates/uv-resolver/src/pins.rs
  crates/uv-resolver/src/prerelease.rs
  crates/uv-resolver/src/pubgrub/mod.rs
  crates/uv-resolver/src/pubgrub/report.rs
  crates/uv-resolver/src/pubgrub/solver_version.rs
  crates/uv-resolver/src/resolution/output.rs
  crates/uv-resolver/src/resolver/batch_prefetch.rs
  crates/uv-resolver/src/resolver/fork_map.rs
  crates/uv-resolver/src/resolver/index.rs
  crates/uv-resolver/src/resolver/indexes.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-resolver/src/resolver/requests.rs
  crates/uv-resolver/src/resolver/sources.rs
  crates/uv-resolver/src/yanks.rs
  crates/uv/tests/lock/lock.rs
  crates/uv/tests/pip_compile/pip_compile.rs
  docs/reference/internals/resolver.md
Due: cargo-fmt

Capture and replay isolated build lock environments
  Cargo.lock
  crates/uv-build-frontend/src/lib.rs
  crates/uv-dispatch/Cargo.toml
  crates/uv-dispatch/src/build_lock.rs
  crates/uv-dispatch/src/lib.rs
  crates/uv-distribution-types/src/build_info.rs
  crates/uv-distribution-types/src/resolution.rs
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-distribution/src/index/built_wheel_index.rs
  crates/uv-distribution/src/index/registry_wheel_index.rs
  crates/uv-distribution/src/source/mod.rs
  crates/uv-installer/src/plan.rs
  crates/uv-installer/src/preparer.rs
  crates/uv-installer/src/satisfies.rs
  crates/uv-installer/src/site_packages.rs
  crates/uv-lock/src/lock/build.rs
  crates/uv-lock/src/lock/installable.rs
  crates/uv-lock/src/lock/mod.rs
  crates/uv-lock/src/lock/serialize.rs
  crates/uv-lock/src/lock/snapshots/uv_lock__lock__tests__hash_optional_missing.snap
  crates/uv-lock/src/lock/snapshots/uv_lock__lock__tests__hash_optional_present.snap
  crates/uv-lock/src/lock/snapshots/uv_lock__lock__tests__hash_required_present.snap
  crates/uv-lock/src/lock/snapshots/uv_lock__lock__tests__missing_dependency_source_unambiguous.snap
  crates/uv-lock/src/lock/snapshots/uv_lock__lock__tests__missing_dependency_source_version_unambiguous.snap
  crates/uv-lock/src/lock/snapshots/uv_lock__lock__tests__missing_dependency_version_dynamic.snap
  crates/uv-lock/src/lock/snapshots/uv_lock__lock__tests__missing_dependency_version_unambiguous.snap
  crates/uv-lock/src/lock/snapshots/uv_lock__lock__tests__source_direct_has_subdir.snap
  crates/uv-lock/src/lock/snapshots/uv_lock__lock__tests__source_direct_no_subdir.snap
  crates/uv-lock/src/lock/snapshots/uv_lock__lock__tests__source_directory.snap
  crates/uv-lock/src/lock/snapshots/uv_lock__lock__tests__source_editable.snap
  crates/uv-resolver/src/manifest.rs
  crates/uv-types/src/builds.rs
  crates/uv-types/src/traits.rs
Due: cargo-fmt

Add opt-in project build dependency locking
  crates/uv-cli/src/lib.rs
  crates/uv-preview/src/lib.rs
  crates/uv/src/commands/project/export.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/lock/build_dependencies.rs
  crates/uv/tests/lock/main.rs
Due: cargo-fmt, cargo-dev-generate-all

Check remote wheel metadata prefetch ranges
  crates/uv-client/src/remote_metadata.rs
  crates/uv-client/tests/it/remote_metadata.rs
Due: cargo-fmt

Remove top-level module bytecode during wheel uninstall
  crates/uv-install-wheel/src/uninstall.rs
Due: cargo-fmt

Enforce required build locks across project operations
  crates/uv-dispatch/src/build_lock.rs
  crates/uv-dispatch/src/lib.rs
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-lock/src/lock/build.rs
  crates/uv-lock/src/lock/mod.rs
  crates/uv-test/src/packse/mod.rs
  crates/uv-test/src/packse/wheel.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/lock_target.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/tests/lock/build_dependencies.rs
Due: cargo-fmt

Document the build dependency locking preview
  docs/concepts/projects/layout.md
  docs/concepts/projects/sync.md
  uv.schema.json
Due: none

Require static runtime metadata for independent build locks
  crates/uv-cli/src/lib.rs
  crates/uv-dispatch/src/build_lock.rs
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-distribution/src/error.rs
  crates/uv-distribution/src/source/mod.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/tests/lock/build_dependencies.rs
  docs/concepts/projects/sync.md
Due: cargo-fmt, cargo-dev-generate-all

Update build locking settings snapshots
  crates/uv/tests/sync/show_settings.rs
Due: cargo-fmt

Report the destination of failed atomic lockfile writes
  crates/uv/src/commands/project/lock_target.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/tests/sync/sync.rs
Due: cargo-fmt

Limit build locking helpers to their consumers
  crates/uv-dispatch/src/build_lock.rs
  crates/uv-dispatch/src/lib.rs
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-distribution/src/source/mod.rs
  crates/uv-lock/src/lock/mod.rs
  crates/uv/src/commands/project/lock.rs
Due: cargo-fmt

Update lock version and preview reference expectations
  crates/uv-dev/src/generate_preview_features_reference.rs
  crates/uv/src/commands/tool/audit.rs
  crates/uv/tests/tool/tool_audit.rs
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/(snapshots)/.*|
)$

  cargo-dev-generate-all: any of: ^crates/(uv-cli|uv-settings)/ and \.rs$ and not ((?x)^(
  .*/(snapshots)/.*|
)$
)
