Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-dev-generate-all:
  name: cargo dev generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

Use custom filters for windows test
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/tool_list.rs
Due: cargo-fmt

Display path separators as backslashes on Windows (#11667)
  crates/uv-tool/src/tool.rs
  crates/uv/src/commands/tool/list.rs
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/tool_list.rs
Due: cargo-fmt

Reuse refined interpreter to create tool environment
  crates/uv/src/commands/tool/install.rs
Due: cargo-fmt

Reuse refined interpreter to create tool environment (#11680)
  crates/uv/src/commands/tool/install.rs
Due: cargo-fmt

Include uppercase platforms for Windows wheels
  crates/uv-resolver/src/lock/mod.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Include uppercase platforms for Windows wheels (#11681)
  crates/uv-resolver/src/lock/mod.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Run `uv-dev` tests (#11618)
  crates/uv-dev/Cargo.toml
  crates/uv-dev/src/lib.rs
  crates/uv-dev/src/main.rs
Due: cargo-fmt

Remove in-memory locks from distribution database (#11412)
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-distribution/src/lib.rs
  crates/uv-distribution/src/locks.rs
  crates/uv-requirements/src/source_tree.rs
Due: cargo-fmt

Re-allow HTTP schemes for Git dependencies
  crates/uv-git-types/src/lib.rs
Due: cargo-fmt

Re-allow HTTP schemes for Git dependencies (#11687)
  crates/uv-git-types/src/lib.rs
Due: cargo-fmt

Use value delimiter
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/project/run.rs
Due: cargo-fmt, cargo-dev-generate-all

Accept multiple `.env` files in `UV_ENV_FILE` (#11665)
  crates/uv-cli/src/lib.rs
  crates/uv/tests/it/run.rs
Due: cargo-fmt, cargo-dev-generate-all

logging setup other than removing color in file logs
  crates/uv-cli/src/lib.rs
  crates/uv-static/src/env_vars.rs
  crates/uv/src/lib.rs
  crates/uv/src/logging.rs
  crates/uv/src/settings.rs
Due: cargo-fmt, cargo-dev-generate-all

add smoke test
  .github/workflows/ci.yml
Due: none

docs: refactor/enhance group dependencies
  docs/concepts/projects/dependencies.md
Due: none

can self uninstall iff can self update
  crates/uv/src/commands/mod.rs
  crates/uv/src/lib.rs
Due: cargo-fmt

escape braces
  crates/uv/src/lib.rs
Due: cargo-fmt

changed `UV_PYTHON_DOWNLOADS_JSON_PATH` to `UV_PYTHON_DOWNLOADS_JSON_URL` and moved it to `crates/uv-static/src/env_vars.rs`
  crates/uv-python/src/downloads.rs
  crates/uv-static/src/env_vars.rs
  docs/configuration/environment.md
Due: cargo-fmt

surface the errors to the user
  Cargo.lock
  Cargo.toml
  crates/uv-python/Cargo.toml
  crates/uv-python/src/downloads.rs
  crates/uv/src/commands/python/list.rs
Due: cargo-fmt

Refactor Python downloads handling to support JSON configuration
  crates/uv-python/src/downloads.inc
  crates/uv-python/src/downloads.inc.mustache
  crates/uv-python/src/downloads.rs
  crates/uv-python/src/installation.rs
Due: cargo-fmt

avoid needless clones
  crates/uv-python/src/downloads.inc
  crates/uv-python/src/downloads.inc.mustache
  crates/uv-python/src/downloads.rs
Due: cargo-fmt

Update credential message in snapshot
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Treat lockfile as outdated if (empty) extras are added
  crates/uv-resolver/src/lock/mod.rs
  crates/uv/src/commands/project/install_target.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Update credential message in snapshot (#11705)
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Treat lockfile as outdated if (empty) extras are added (#11702)
  crates/uv-resolver/src/lock/mod.rs
  crates/uv/src/commands/project/install_target.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

logging feature added
  .gitignore
  crates/uv/src/lib.rs
  crates/uv/src/logging.rs
Due: cargo-fmt

docs: apply edits to Google and AWS
  docs/guides/integration/alternative-indexes.md
Due: none

docs: password -> credentials
  docs/guides/integration/alternative-indexes.md
Due: none

clarify Azure PAT usage
  docs/configuration/indexes.md
  docs/guides/integration/alternative-indexes.md
Due: none

Respect in-flight requests in source tree and lookahead resolver
  crates/uv-requirements/src/lookahead.rs
  crates/uv-requirements/src/source_tree.rs
Due: cargo-fmt

Remove TODO around reducing incompatible wheel size
  crates/uv-distribution-types/src/prioritized_distribution.rs
Due: cargo-fmt

Remove unused thiserror variants
  Cargo.lock
  Cargo.toml
  crates/uv-build-backend/src/lib.rs
  crates/uv-build-frontend/src/error.rs
  crates/uv-distribution/src/error.rs
  crates/uv-extract/src/error.rs
  crates/uv-install-wheel/Cargo.toml
  crates/uv-install-wheel/src/lib.rs
  crates/uv-tool/src/lib.rs
  crates/uv-virtualenv/Cargo.toml
  crates/uv-virtualenv/src/lib.rs
Due: cargo-fmt

Remove TODO around atomic writes
  crates/uv-fs/src/lib.rs
Due: cargo-fmt

embed minified download metadata json inside the binary
  .github/workflows/sync-python-releases.yml
  crates/uv-python/minify-download-metadata.py
  crates/uv-python/src/download-metadata-minified.json
  crates/uv-python/src/downloads.inc
  crates/uv-python/src/downloads.inc.mustache
  crates/uv-python/src/downloads.rs
  crates/uv-python/template-download-metadata.py
Due: cargo-fmt

logging works for snapshot tests however break in help snapshots is uninteded UV_LOG env= shouldn't have the env in front of it
  crates/uv-static/src/env_vars.rs
  crates/uv/src/lib.rs
  crates/uv/src/logging.rs
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/help.rs
  crates/uv/tests/it/pip_install_scenarios.rs
  crates/uv/tests/it/pip_sync.rs
  crates/uv/tests/it/python_install.rs
  crates/uv/tests/it/python_pin.rs
  crates/uv/tests/logs/.gitkeep
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/(snapshots)/.*|
)$

  cargo-dev-generate-all: any of: ^crates/(uv-cli|uv-settings)/ and \.rs$ and not ((?x)^(
  .*/(snapshots)/.*|
)$
)
