Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-dev-generate-all:
  name: cargo dev generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

Use workspace anyhow
  crates/uv-install-wheel/Cargo.toml
  crates/uv-python/Cargo.toml
  crates/uv-requirements-txt/Cargo.toml
  crates/uv-trampoline-builder/Cargo.toml
Due: none

Context for site packages io Error
  crates/uv-installer/src/site_packages.rs
Due: cargo-fmt

Context for confirm prompt failures
  crates/uv-requirements/src/sources.rs
Due: cargo-fmt

main checks on Windows
  crates/uv-python/src/discovery.rs
Due: cargo-fmt

..
  crates/uv-python/src/interpreter.rs
Due: cargo-fmt

More error context
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/sync.rs
  crates/uv/src/commands/project/init.rs
  crates/uv/src/commands/run.rs
  crates/uv/src/commands/tool/run.rs
Due: cargo-fmt

Fix display of HTTP responses in trace logs for retry of errors (#13339)
  crates/uv-client/src/base_client.rs
Due: cargo-fmt

Less wrapping
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/commands/project/init.rs
Due: cargo-fmt

More error context
  crates/uv-installer/src/site_packages.rs
  crates/uv-requirements/src/sources.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/sync.rs
  crates/uv/src/commands/run.rs
  crates/uv/src/commands/tool/run.rs
Due: cargo-fmt

Lint fixes
  crates/uv-requirements/src/sources.rs
  crates/uv/src/commands/run.rs
Due: cargo-fmt

Rename `--raw-sources` to `--raw`
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/edit.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Fix detection of sorted dependencies when include-group is used
  crates/uv-workspace/src/pyproject_mut.rs
  crates/uv/tests/it/edit.rs
Due: cargo-fmt

Rename `--raw-sources` to `--raw` (#13348)
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/edit.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Avoid unnecessary clone
  crates/uv-workspace/src/pyproject_mut.rs
Due: cargo-fmt

add some tests and make the sync Sufficient
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/project/version.rs
  crates/uv/tests/it/version.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Add pyodide integration test
  .github/workflows/ci.yml
Due: none

Install pip in native venv
  .github/workflows/ci.yml
Due: none

..
  crates/uv/src/commands/project/run.rs
Due: cargo-fmt

Fix double self-dependency
  Cargo.lock
  Cargo.toml
  crates/uv/tests/it/pip_compile.rs
Due: cargo-fmt

.
  crates/uv/tests/it/pip_compile.rs
Due: cargo-fmt

Redact URL credentials when displaying
  crates/uv-auth/src/cache.rs
  crates/uv-auth/src/credentials.rs
  crates/uv-auth/src/keyring.rs
  crates/uv-auth/src/lib.rs
  crates/uv-auth/src/middleware.rs
  crates/uv-client/src/error.rs
  crates/uv-client/src/flat_index.rs
  crates/uv-client/src/registry_client.rs
  crates/uv-git-types/src/lib.rs
  crates/uv-git/src/credentials.rs
  crates/uv-git/src/source.rs
  crates/uv-resolver/src/pubgrub/report.rs
  crates/uv/src/commands/reporters.rs
Due: cargo-fmt

Add cache test
  crates/uv-auth/src/cache.rs
Due: cargo-fmt

Remove redacted_url tracing gate
  crates/uv-auth/src/credentials.rs
  crates/uv-git-types/src/lib.rs
Due: cargo-fmt

Update issue templates to use `uv self version` command
  .github/ISSUE_TEMPLATE/1_bug_report.yaml
  .github/ISSUE_TEMPLATE/3_question.yaml
Due: none

Update issue templates to use `uv self version` command (#13370)
  .github/ISSUE_TEMPLATE/1_bug_report.yaml
  .github/ISSUE_TEMPLATE/3_question.yaml
Due: none

Minor tweaks
  crates/uv-workspace/src/pyproject_mut.rs
Due: cargo-fmt

Fix detection of sorted dependencies when include-group is used (#13354)
  crates/uv-workspace/src/pyproject_mut.rs
  crates/uv/tests/it/edit.rs
Due: cargo-fmt

Retain dot-separated wheel tags during cache prune
  Cargo.lock
  crates/uv-cache/Cargo.toml
  crates/uv-cache/src/lib.rs
Due: cargo-fmt

Retain dot-separated wheel tags during cache prune (#13379)
  Cargo.lock
  crates/uv-cache/Cargo.toml
  crates/uv-cache/src/lib.rs
Due: cargo-fmt

Respect default extras in uv remove
  crates/uv/src/commands/project/remove.rs
  crates/uv/tests/it/edit.rs
Due: cargo-fmt

Fix .tgz parsing to respect true extension
  crates/uv-distribution-filename/src/extension.rs
  crates/uv-distribution-filename/src/source_dist.rs
  crates/uv-extract/src/stream.rs
Due: cargo-fmt

Fix `.tgz` parsing to respect true extension (#13382)
  crates/uv-distribution-filename/src/extension.rs
  crates/uv-distribution-filename/src/source_dist.rs
  crates/uv-extract/src/stream.rs
Due: cargo-fmt

Avoid erroring on pylock.toml dependency entries
  crates/uv-resolver/src/lock/export/pylock_toml.rs
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/(snapshots)/.*|
)$

  cargo-dev-generate-all: any of: ^crates/(uv-cli|uv-settings)/ and \.rs$ and not ((?x)^(
  .*/(snapshots)/.*|
)$
)
