Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

.pre-commit-config.yaml:

fail_fast: true

exclude: |
  (?x)^(
    .*/(snapshots)/.*|
  )$

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.42.3
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: local
    hooks:
      - id: cargo-dev-generate-all
        name: cargo dev generate-all
        entry: cargo dev generate-all
        language: system
        types: [rust]
        pass_filenames: false
        files: ^crates/(uv-cli|uv-settings)/

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --ignore-unknown
        language: node
        additional_dependencies: ["prettier@3"]
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

Align GraalPy mirror coverage with PyPy
  crates/uv-python/src/downloads.rs
Due: cargo-fmt

Add GraalPy installation mirrors (#22269)
  crates/uv-cli/src/lib.rs
  crates/uv-python/src/discovery.rs
  crates/uv-python/src/downloads.rs
  crates/uv-python/src/installation.rs
  crates/uv-python/src/lib.rs
  crates/uv-settings/src/lib.rs
  crates/uv-settings/src/settings.rs
  crates/uv-static/src/env_vars.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/sync.rs
  crates/uv/src/commands/project/check.rs
  crates/uv/src/commands/project/init.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/python.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/python/install.rs
  crates/uv/src/commands/python/list.rs
  crates/uv/src/commands/python/pin.rs
  crates/uv/src/commands/tool/common.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/src/commands/tool/upgrade.rs
  crates/uv/src/commands/venv.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/help.rs
  crates/uv/tests/pip_install/pip_install.rs
  crates/uv/tests/python/python_list.rs
  crates/uv/tests/sync/show_settings.rs
  scripts/create-python-mirror.py
  uv.schema.json
Due: cargo-fmt, cargo-dev-generate-all

Introduce a `PythonDownloadMirrors` type
  crates/uv-python/src/discovery.rs
  crates/uv-python/src/downloads.rs
  crates/uv-python/src/installation.rs
  crates/uv-python/src/lib.rs
  crates/uv-python/src/mirrors.rs
  crates/uv-settings/src/settings.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/sync.rs
  crates/uv/src/commands/project/check.rs
  crates/uv/src/commands/project/init.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/python.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/python/install.rs
  crates/uv/src/commands/python/list.rs
  crates/uv/src/commands/python/pin.rs
  crates/uv/src/commands/tool/common.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/src/commands/tool/upgrade.rs
  crates/uv/src/commands/venv.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/python/python_list.rs
Due: cargo-fmt, cargo-dev-generate-all

Introduce a `PythonDownloadMirrors` type (#22270)
  crates/uv-python/src/discovery.rs
  crates/uv-python/src/downloads.rs
  crates/uv-python/src/installation.rs
  crates/uv-python/src/lib.rs
  crates/uv-python/src/mirrors.rs
  crates/uv-settings/src/settings.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/sync.rs
  crates/uv/src/commands/project/check.rs
  crates/uv/src/commands/project/init.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/python.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/python/install.rs
  crates/uv/src/commands/python/list.rs
  crates/uv/src/commands/python/pin.rs
  crates/uv/src/commands/tool/common.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/src/commands/tool/upgrade.rs
  crates/uv/src/commands/venv.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/python/python_list.rs
Due: cargo-fmt, cargo-dev-generate-all

Preserve string fallback for Darwin release markers
  crates/uv-pep508/src/lib.rs
  crates/uv-pep508/src/marker/algebra.rs
  crates/uv-pep508/src/marker/mod.rs
  crates/uv-pep508/src/marker/simplify.rs
  crates/uv-pep508/src/marker/tree.rs
  crates/uv-pep508/tests/marker_platform_release.rs
  crates/uv-resolver-types/src/output.rs
  crates/uv-resolver/src/marker.rs
  crates/uv/tests/lock/lock.rs
  crates/uv/tests/pip_compile/pip_compile.rs
Due: cargo-fmt

Handle opaque Darwin releases in exact comparisons
  crates/uv-pep508/src/lib.rs
  crates/uv-pep508/src/marker/algebra.rs
  crates/uv-pep508/src/marker/mod.rs
  crates/uv-pep508/src/marker/simplify.rs
  crates/uv-pep508/src/marker/tree.rs
  crates/uv-pep508/tests/marker_platform_release.rs
  crates/uv-resolver-types/src/output.rs
  crates/uv-resolver/src/marker.rs
  crates/uv/tests/lock/lock.rs
Due: cargo-fmt

Measure limited debug information in symbol experiments
  .github/workflows/debug-symbols-experiment.yml
  scripts/debug-symbols/README.md
  scripts/debug-symbols/run.py
  scripts/debug-symbols/run_uv.py
Due: none

Preserve opaque Darwin releases through marker operations
  crates/uv-build-backend/src/lib.rs
  crates/uv-build-backend/src/metadata.rs
  crates/uv-lock/src/lock/deserialize.rs
  crates/uv-lock/src/lock/export/pylock_toml.rs
  crates/uv-lock/src/lock/export/requirements_txt.rs
  crates/uv-lock/src/lock/mod.rs
  crates/uv-lock/src/lock/serialize.rs
  crates/uv-pep508/src/lib.rs
  crates/uv-pep508/src/marker/algebra.rs
  crates/uv-pep508/src/marker/mod.rs
  crates/uv-pep508/src/marker/parse.rs
  crates/uv-pep508/src/marker/simplify.rs
  crates/uv-pep508/src/marker/tree.rs
  crates/uv-pep508/tests/marker_platform_release.rs
  crates/uv-resolver-types/src/output.rs
  crates/uv-resolver/src/marker.rs
  crates/uv-resolver/src/resolution/display.rs
  crates/uv-resolver/src/resolution/requirements_txt.rs
  crates/uv-workspace/src/pyproject_mut.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/project/export.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/tool/audit.rs
  crates/uv/tests/lock/lock.rs
  crates/uv/tests/pip_compile/pip_compile.rs
  crates/uv/tests/project/export.rs
  crates/uv/tests/tool/tool_audit.rs
  docs/concepts/resolution.md
Due: cargo-fmt

Preserve lexical fallback in Darwin marker algebra
  crates/uv-build-backend/src/lib.rs
  crates/uv-build-backend/src/metadata.rs
  crates/uv-lock/src/lock/deserialize.rs
  crates/uv-lock/src/lock/export/pylock_toml.rs
  crates/uv-lock/src/lock/export/requirements_txt.rs
  crates/uv-lock/src/lock/mod.rs
  crates/uv-lock/src/lock/serialize.rs
  crates/uv-pep508/src/lib.rs
  crates/uv-pep508/src/marker/algebra.rs
  crates/uv-pep508/src/marker/mod.rs
  crates/uv-pep508/src/marker/parse.rs
  crates/uv-pep508/src/marker/simplify.rs
  crates/uv-pep508/src/marker/tree.rs
  crates/uv-pep508/tests/marker_platform_release.rs
  crates/uv-resolver-types/src/output.rs
  crates/uv-resolver/src/marker.rs
  crates/uv-resolver/src/resolution/display.rs
  crates/uv-resolver/src/resolution/requirements_txt.rs
  crates/uv-workspace/src/pyproject_mut.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/project/export.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/tool/audit.rs
  crates/uv/tests/lock/lock.rs
  crates/uv/tests/pip_compile/pip_compile.rs
  crates/uv/tests/project/export.rs
  crates/uv/tests/tool/tool_audit.rs
  docs/concepts/resolution.md
Due: cargo-fmt

Keep version and string ranges together in marker algebra
  crates/uv-pep508/src/marker/algebra.rs
Due: cargo-fmt

Record limited debug symbol PGO measurements
  scripts/debug-symbols/README.md
Due: none

Reject editable requirements in nested constraints
  crates/uv-requirements-txt/src/lib.rs
  crates/uv/tests/pip_install/pip_install.rs
Due: cargo-fmt

Retain auth lookup behavior and diagnostics around native storage
  crates/uv-auth/src/cache.rs
  crates/uv-auth/src/keyring.rs
  crates/uv-auth/src/middleware.rs
  crates/uv-auth/src/store.rs
  crates/uv/src/commands/auth/logout.rs
Due: cargo-fmt

Keep native credential updates locked through cancellation
  crates/uv-auth/src/keyring.rs
  crates/uv-auth/src/keyring/native.rs
  crates/uv-auth/src/keyring/native/collection.rs
  crates/uv-auth/src/keyring/native/windows.rs
  crates/uv-auth/tests/native_collection.rs
  crates/uv/tests/it/auth.rs
Due: cargo-fmt

Document rejection of editable requirements in included constraints
  CHANGELOG.md
Due: none

Retain plaintext credential reuse for registry downloads
  crates/uv-auth/src/middleware.rs
Due: cargo-fmt

Separate frozen-lockfile requirements from Python discovery
  crates/uv/src/commands/project/install_target.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/python.rs
  crates/uv/src/commands/project/tree.rs
Due: cargo-fmt

Separate lock validation from the lock command
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/validated_lock.rs
  crates/uv/src/commands/tool/common.rs
Due: cargo-fmt

Separate shared synchronization from the sync command
  crates/uv/src/commands/operations/malware.rs
  crates/uv/src/commands/operations/mod.rs
  crates/uv/src/commands/operations/sync.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/check.rs
  crates/uv/src/commands/project/environment.rs
  crates/uv/src/commands/project/remove.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/project/version.rs
  crates/uv/src/commands/workspace/module_owners.rs
Due: cargo-fmt

Separate shared workflow errors from project commands
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/commands/diagnostics.rs
  crates/uv/src/commands/mod.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/environment.rs
  crates/uv/src/commands/project/environment_error.rs
  crates/uv/src/commands/project/error.rs
  crates/uv/src/commands/project/install_target.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/lock_error.rs
  crates/uv/src/commands/project/lock_target.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/python.rs
  crates/uv/src/commands/project/python_error.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/tool/common.rs
  crates/uv/src/commands/tool/error.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/mod.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/src/commands/workspace/metadata.rs
  crates/uv/src/lib.rs
Due: cargo-fmt

Separate shared auditing from project commands
  crates/uv/src/commands/audit/json.rs
  crates/uv/src/commands/audit/mod.rs
  crates/uv/src/commands/audit/reporter.rs
  crates/uv/src/commands/audit/sarif.rs
  crates/uv/src/commands/mod.rs
  crates/uv/src/commands/project/audit.rs
  crates/uv/src/commands/reporters.rs
  crates/uv/src/commands/tool/audit.rs
Due: cargo-fmt

Extract project commands into uv-project-commands
  Cargo.lock
  Cargo.toml
  crates/uv-project-commands/Cargo.toml
  crates/uv-project-commands/src/lib.rs
  crates/uv-project-commands/src/project/add.rs
  crates/uv-project-commands/src/project/audit.rs
  crates/uv-project-commands/src/project/check.rs
  crates/uv-project-commands/src/project/check/ty.rs
  crates/uv-project-commands/src/project/edit.rs
  crates/uv-project-commands/src/project/error.rs
  crates/uv-project-commands/src/project/export.rs
  crates/uv-project-commands/src/project/format.rs
  crates/uv-project-commands/src/project/init.rs
  crates/uv-project-commands/src/project/lock.rs
  crates/uv-project-commands/src/project/mod.rs
  crates/uv-project-commands/src/project/remove.rs
  crates/uv-project-commands/src/project/run.rs
  crates/uv-project-commands/src/project/sync.rs
  crates/uv-project-commands/src/project/toolchain.rs
  crates/uv-project-commands/src/project/tree.rs
  crates/uv-project-commands/src/project/upgrade.rs
  crates/uv-project-commands/src/project/version.rs
  crates/uv-project-commands/src/reporters.rs
  crates/uv/Cargo.toml
  crates/uv/src/commands/diagnostics.rs
  crates/uv/src/commands/mod.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/reporters.rs
Due: cargo-fmt

Extract workspace commands into uv-workspace-commands
  Cargo.lock
  Cargo.toml
  crates/uv-workspace-commands/Cargo.toml
  crates/uv-workspace-commands/src/dir.rs
  crates/uv-workspace-commands/src/lib.rs
  crates/uv-workspace-commands/src/list.rs
  crates/uv-workspace-commands/src/metadata.rs
  crates/uv-workspace-commands/src/module_owners.rs
  crates/uv/Cargo.toml
  crates/uv/src/commands/mod.rs
  crates/uv/src/commands/project/check/ty.rs
  crates/uv/src/commands/workspace/mod.rs
Due: cargo-fmt

Extract lockfile discovery, validation, and resolution
  Cargo.lock
  Cargo.toml
  crates/uv-lock-operations/Cargo.toml
  crates/uv-lock-operations/src/discovery.rs
  crates/uv-lock-operations/src/error.rs
  crates/uv-lock-operations/src/lib.rs
  crates/uv-lock-operations/src/lock.rs
  crates/uv-lock-operations/src/lock_target.rs
  crates/uv-lock-operations/src/lockfile.rs
  crates/uv-lock-operations/src/validated_lock.rs
  crates/uv/Cargo.toml
  crates/uv/src/commands/diagnostics.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/audit.rs
  crates/uv/src/commands/project/check.rs
  crates/uv/src/commands/project/edit.rs
  crates/uv/src/commands/project/error.rs
  crates/uv/src/commands/project/export.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/remove.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/project/tree.rs
  crates/uv/src/commands/project/upgrade.rs
  crates/uv/src/commands/project/version.rs
  crates/uv/src/commands/tool/common.rs
  crates/uv/src/commands/tool/error.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/mod.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/src/commands/tool/upgrade.rs
  crates/uv/src/commands/workspace/metadata.rs
  crates/uv/src/commands/workspace/module_owners.rs
Due: cargo-fmt

Extract shared lockfile audit and reporting workflows
  Cargo.lock
  Cargo.toml
  crates/uv-audit-operations/Cargo.toml
  crates/uv-audit-operations/src/json.rs
  crates/uv-audit-operations/src/lib.rs
  crates/uv-audit-operations/src/reporter.rs
  crates/uv-audit-operations/src/sarif.rs
  crates/uv/Cargo.toml
  crates/uv/src/commands/mod.rs
  crates/uv/src/commands/project/audit.rs
  crates/uv/src/commands/tool/audit.rs
Due: cargo-fmt

Extract tool commands into uv-tool-commands
  Cargo.lock
  Cargo.toml
  crates/uv-tool-commands/Cargo.toml
  crates/uv-tool-commands/src/audit.rs
  crates/uv-tool-commands/src/common.rs
  crates/uv-tool-commands/src/dir.rs
  crates/uv-tool-commands/src/error.rs
  crates/uv-tool-commands/src/install.rs
  crates/uv-tool-commands/src/lib.rs
  crates/uv-tool-commands/src/list.rs
  crates/uv-tool-commands/src/requirements.rs
  crates/uv-tool-commands/src/run.rs
  crates/uv-tool-commands/src/uninstall.rs
  crates/uv-tool-commands/src/update_shell.rs
  crates/uv-tool-commands/src/upgrade.rs
  crates/uv/Cargo.toml
  crates/uv/src/commands/diagnostics.rs
  crates/uv/src/commands/mod.rs
Due: cargo-fmt

Extract build commands into uv-build-commands
  Cargo.lock
  Cargo.toml
  crates/uv-build-commands/Cargo.toml
  crates/uv-build-commands/src/lib.rs
  crates/uv/Cargo.toml
  crates/uv/src/commands/diagnostics.rs
  crates/uv/src/commands/mod.rs
  crates/uv/src/lib.rs
Due: cargo-fmt

Extract pip commands into uv-pip-commands
  Cargo.lock
  Cargo.toml
  crates/uv-pip-commands/Cargo.toml
  crates/uv-pip-commands/src/check.rs
  crates/uv-pip-commands/src/compile.rs
  crates/uv-pip-commands/src/freeze.rs
  crates/uv-pip-commands/src/install.rs
  crates/uv-pip-commands/src/install_report.rs
  crates/uv-pip-commands/src/lib.rs
  crates/uv-pip-commands/src/list.rs
  crates/uv-pip-commands/src/pylock.rs
  crates/uv-pip-commands/src/reporters.rs
  crates/uv-pip-commands/src/show.rs
  crates/uv-pip-commands/src/sync.rs
  crates/uv-pip-commands/src/tree.rs
  crates/uv-pip-commands/src/uninstall.rs
  crates/uv/Cargo.toml
  crates/uv/src/commands/mod.rs
  crates/uv/src/commands/pip/mod.rs
Due: cargo-fmt

Extract project, script, and tool environment workflows
  Cargo.lock
  Cargo.toml
  crates/uv-environment-operations/Cargo.toml
  crates/uv-environment-operations/src/environment.rs
  crates/uv-environment-operations/src/error.rs
  crates/uv-environment-operations/src/install_target.rs
  crates/uv-environment-operations/src/lib.rs
  crates/uv-environment-operations/src/malware.rs
  crates/uv-environment-operations/src/sync.rs
  crates/uv/Cargo.toml
  crates/uv/src/commands/diagnostics.rs
  crates/uv/src/commands/mod.rs
  crates/uv/src/commands/operations/mod.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/audit.rs
  crates/uv/src/commands/project/check.rs
  crates/uv/src/commands/project/error.rs
  crates/uv/src/commands/project/export.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/remove.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/project/tree.rs
  crates/uv/src/commands/project/upgrade.rs
  crates/uv/src/commands/project/version.rs
  crates/uv/src/commands/tool/common.rs
  crates/uv/src/commands/tool/error.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/mod.rs
  crates/uv/src/commands/tool/requirements.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/src/commands/tool/upgrade.rs
  crates/uv/src/commands/venv.rs
  crates/uv/src/commands/workspace/metadata.rs
  crates/uv/src/commands/workspace/module_owners.rs
Due: cargo-fmt

Extract publish commands into uv-publish-commands
  Cargo.lock
  Cargo.toml
  crates/uv-publish-commands/Cargo.toml
  crates/uv-publish-commands/src/lib.rs
  crates/uv-publish-commands/src/reporters.rs
  crates/uv/Cargo.toml
  crates/uv/src/commands/mod.rs
  crates/uv/src/commands/reporters.rs
Due: cargo-fmt

Select publish tests for the extracted command crate
  .github/workflows/plan.yml
Due: none

Keep command-specific hint types behind crate interfaces
  Cargo.lock
  crates/uv-build-commands/src/diagnostics.rs
  crates/uv-build-commands/src/lib.rs
  crates/uv-errors/src/lib.rs
  crates/uv-pip-commands/src/diagnostics.rs
  crates/uv-pip-commands/src/install.rs
  crates/uv-pip-commands/src/lib.rs
  crates/uv-project-commands/Cargo.toml
  crates/uv-project-commands/src/diagnostics.rs
  crates/uv-project-commands/src/lib.rs
  crates/uv-project-commands/src/project/add.rs
  crates/uv-project-commands/src/project/error.rs
  crates/uv-project-commands/src/project/mod.rs
  crates/uv-project-commands/src/project/remove.rs
  crates/uv-project-commands/src/project/run.rs
  crates/uv-project-commands/src/project/version.rs
  crates/uv-python-commands/src/diagnostics.rs
  crates/uv-python-commands/src/install.rs
  crates/uv-python-commands/src/lib.rs
  crates/uv-tool-commands/src/common.rs
  crates/uv-tool-commands/src/diagnostics.rs
  crates/uv-tool-commands/src/lib.rs
  crates/uv-tool-commands/src/run.rs
  crates/uv/src/commands/diagnostics.rs
  crates/uv/src/commands/mod.rs
Due: cargo-fmt

Reduce release comparisons at algebra operation boundaries
  crates/uv-pep508/src/marker/algebra.rs
Due: cargo-fmt

Compare marker semantics when editing and validating dependencies
  crates/uv-configuration/src/normalized_requirements.rs
  crates/uv-lock/src/lock/mod.rs
  crates/uv-lock/src/lock/requirements.rs
  crates/uv-pep508/src/marker/tree.rs
  crates/uv-pep508/tests/marker_platform_release.rs
  crates/uv-resolver-types/src/universal_marker.rs
  crates/uv-workspace/src/pyproject_mut.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/tests/lock/lock.rs
  crates/uv/tests/project/edit.rs
Due: cargo-fmt

Fix quoted requirement-file paths
  crates/uv-cli/src/lib.rs
  crates/uv-settings/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/pip_install/pip_install.rs
Due: cargo-fmt, cargo-dev-generate-all
