Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

.pre-commit-config.yaml:

fail_fast: true

exclude: |
  (?x)^(
    .*/(snapshots)/.*|
  )$

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.42.3
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: local
    hooks:
      - id: cargo-dev-generate-all
        name: cargo dev generate-all
        entry: cargo dev generate-all
        language: system
        types: [rust]
        pass_filenames: false
        files: ^crates/(uv-cli|uv-settings)/

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --ignore-unknown
        language: node
        additional_dependencies: ["prettier@3"]
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

Skip CLI construction for version-only invocations
  crates/uv/src/lib.rs
  crates/uv/tests/it/version.rs
Due: cargo-fmt

Widen resolver singletons using adjacent versions
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-resolver/src/version_map.rs
Due: cargo-fmt

Regenerate Packse lock scenario
  crates/uv/tests/lock_scenarios/lock_scenarios.rs
Due: cargo-fmt

Support `--active` in `uv workspace metadata` (#20500)
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/workspace/metadata.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/workspace/workspace_metadata.rs
Due: cargo-fmt, cargo-dev-generate-all

Avoid Tokio startup for synchronous CLI commands
  crates/uv/src/lib.rs
  crates/uv/tests/build/cache.rs
  crates/uv/tests/build/cache_size.rs
  crates/uv/tests/it/help.rs
  crates/uv/tests/it/version.rs
  crates/uv/tests/python/python_dir.rs
Due: cargo-fmt

Discover workspace settings synchronously for CLI-only commands
  crates/uv-workspace/src/workspace.rs
  crates/uv/src/lib.rs
  crates/uv/tests/build/cache.rs
  crates/uv/tests/build/cache_size.rs
  crates/uv/tests/it/help.rs
  crates/uv/tests/python/python_dir.rs
Due: cargo-fmt

Represent invalid marker environments with don't-care nodes
  crates/uv-pep508/src/marker/algebra.rs
  crates/uv-pep508/src/marker/parse.rs
  crates/uv-pep508/src/marker/tree.rs
Due: cargo-fmt

Make synchronous command dispatch explicit
  crates/uv/src/lib.rs
Due: cargo-fmt

Skip validity masking for non-conflicting markers
  crates/uv-pep508/src/marker/algebra.rs
  crates/uv-pep508/src/marker/tree.rs
Due: cargo-fmt

Simplify synchronous command dispatch
  crates/uv-workspace/src/workspace.rs
  crates/uv/src/lib.rs
  crates/uv/tests/python/python_dir.rs
Due: cargo-fmt

Avoid materializing marker conjunctions during disjointness checks
  crates/uv-pep508/src/marker/algebra.rs
Due: cargo-fmt

Keep Boolean marker traversal off the interner mutex
  crates/uv-pep508/src/marker/algebra.rs
  crates/uv-pep508/src/marker/tree.rs
Due: cargo-fmt

Make the don't-care marker terminal private
  crates/uv-pep508/src/marker/algebra.rs
Due: cargo-fmt

Share command configuration policy
  crates/uv/src/lib.rs
Due: cargo-fmt

Canonicalize projected platform marker trees
  crates/uv-pep508/src/marker/algebra.rs
  crates/uv-pep508/src/marker/tree.rs
  crates/uv-resolver/src/universal_marker.rs
Due: cargo-fmt

Memoize platform marker disjointness checks
  crates/uv-pep508/src/marker/algebra.rs
Due: cargo-fmt

Defer validity masking for singleton platform markers
  crates/uv-pep508/src/marker/algebra.rs
Due: cargo-fmt

Keep projected platform marker traversal off the interner mutex
  crates/uv-pep508/src/marker/algebra.rs
  crates/uv-pep508/src/marker/tree.rs
Due: cargo-fmt

Attach the requires-python hint to the build error instead of a wrapper variant
  crates/uv-distribution/src/error.rs
  crates/uv-distribution/src/source/mod.rs
  crates/uv-types/src/traits.rs
  crates/uv/tests/pip/pip_sync.rs
  crates/uv/tests/pip_install/pip_install.rs
Due: cargo-fmt

Remove dead code
  crates/uv-distribution-types/src/lib.rs
Due: cargo-fmt

Add contributing section to Mkdocs
  CONTRIBUTING.md
  docs/guides/contributing.md
  docs/guides/index.md
  mkdocs.yml
Due: none

Prettier fix
  docs/guides/contributing.md
Due: none

Add method to async creation of tmpfiles
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-fs/src/lib.rs
Due: cargo-fmt

Add contributing section to docs (#20511)
  CONTRIBUTING.md
  docs/guides/contributing.md
  docs/guides/index.md
  mkdocs.yml
Due: none

add generic handling for wrapped fs_err files
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-fs/src/lib.rs
Due: cargo-fmt

pin prettier version all the places
  agents/hooks/post-edit-format.py
  crates/uv-dev/src/generate_json_schema.rs
Due: cargo-fmt

Add step on node installation so npx is available
  CONTRIBUTING.md
Due: none

Simplify synchronous command execution
  crates/uv/src/lib.rs
Due: cargo-fmt

Remove "unused code" build warnings
  crates/uv-keyring/src/lib.rs
  crates/uv-keyring/src/macos.rs
Due: cargo-fmt

Remove "unused code" build warnings
  crates/uv-keyring/Cargo.toml
Due: none

Avoid caching cheap marker disjointness checks
  crates/uv-pep508/src/marker/algebra.rs
Due: cargo-fmt

Skip projection for non-conflicting marker trees
  crates/uv-pep508/src/marker/tree.rs
Due: cargo-fmt

Skip validity masking when excluded ranges are unreachable
  crates/uv-pep508/src/marker/algebra.rs
  crates/uv-pep508/src/marker/tree.rs
Due: cargo-fmt

Add json output to `uv tool list`
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/tool/list.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
Due: cargo-fmt, cargo-dev-generate-all

Format line that has become too long
  agents/hooks/post-edit-format.py
Due: none

Add python interpreter key
  crates/uv/src/commands/tool/list.rs
Due: cargo-fmt

Add `--output-format` to `uv tool upgrade`
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/tool/upgrade.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/tool/tool_upgrade.rs
Due: cargo-fmt, cargo-dev-generate-all

Deduplicate skipping up-to-date tools
  crates/uv/src/commands/tool/list.rs
Due: cargo-fmt

Make clippy happy
  crates/uv/src/commands/tool/list.rs
Due: cargo-fmt

Use Depot for conflicted pull request rebases
  .github/workflows/rebase-conflicted-pull-request.yml
Due: none
