Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

.pre-commit-config.yaml:

fail_fast: true

exclude: |
  (?x)^(
    .*/(snapshots)/.*|
  )$

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.20.2
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.26.0
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: local
    hooks:
      - id: cargo-dev-generate-all
        name: cargo dev generate-all
        entry: cargo dev generate-all
        language: system
        types: [rust]
        pass_filenames: false
        files: ^crates/(uv-cli|uv-settings)/

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

Mock uv version in build backend tests
  Cargo.lock
  crates/uv-build-backend/Cargo.toml
  crates/uv-build-backend/src/lib.rs
  crates/uv-build-backend/src/metadata.rs
  crates/uv-build-backend/src/metadata/tests.rs
  crates/uv-build-backend/src/tests.rs
  crates/uv/Cargo.toml
  crates/uv/src/commands/build_backend.rs
Due: cargo-fmt

Mock uv version in build backend tests (#8205)
  Cargo.lock
  crates/uv-build-backend/Cargo.toml
  crates/uv-build-backend/src/lib.rs
  crates/uv-build-backend/src/metadata.rs
  crates/uv-build-backend/src/metadata/tests.rs
  crates/uv-build-backend/src/tests.rs
  crates/uv/Cargo.toml
  crates/uv/src/commands/build_backend.rs
Due: cargo-fmt

chore(uv): more env var mappings (#8193)
  crates/uv-cli/Cargo.toml
  crates/uv-cli/build.rs
Due: cargo-fmt, cargo-dev-generate-all

Prefer optimized builds for freethreaded Python downloads (#8196)
  crates/uv-python/download-metadata.json
  crates/uv-python/fetch-download-metadata.py
  crates/uv-python/src/downloads.inc
Due: none

Publish: Better message for missing password
  crates/uv/src/commands/publish.rs
Due: cargo-fmt

Publish: Workaround using raw filename (#8204)
  crates/uv-publish/src/lib.rs
  crates/uv-publish/src/tests.rs
  crates/uv/src/commands/publish.rs
Due: cargo-fmt

Publish: Warn about unnormalized filenames.
  crates/uv-publish/src/lib.rs
  crates/uv/tests/it/publish.rs
Due: cargo-fmt

Publish: Better message for missing password (#8211)
  crates/uv/src/commands/publish.rs
Due: cargo-fmt

Add lowercasing test case.
  crates/uv/tests/it/publish.rs
Due: cargo-fmt

Remove PEP 753 comment
  crates/uv-build-backend/src/metadata.rs
Due: cargo-fmt

new commit
  crates/uv/src/settings.rs
Due: cargo-fmt

changes made
  crates/uv/src/settings.rs
Due: cargo-fmt

Fix typo in changelog
  CHANGELOG.md
Due: none

Fix typo in changelog (#8218)
  CHANGELOG.md
Due: none

Avoid environment check optimisation for `uv pip install --exact`
  crates/uv/src/commands/pip/install.rs
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Retain old python-build-standalone releases
  crates/uv-python/download-metadata.json
  crates/uv-python/fetch-download-metadata.py
  crates/uv-python/src/downloads.inc
Due: none

Add a fake git root for `dist`
  crates/uv/src/commands/build_frontend.rs
  crates/uv/tests/it/build.rs
Due: cargo-fmt

Avoid environment check optimisation for `uv pip install --exact` (#8219)
  crates/uv/src/commands/pip/install.rs
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Respect sources in build requirements
  Cargo.lock
  crates/uv-build-frontend/Cargo.toml
  crates/uv-build-frontend/src/error.rs
  crates/uv-build-frontend/src/lib.rs
  crates/uv-dispatch/src/lib.rs
  crates/uv-distribution/src/lib.rs
  crates/uv-distribution/src/metadata/lowering.rs
  crates/uv-distribution/src/metadata/mod.rs
  crates/uv-distribution/src/metadata/requires_dist.rs
  crates/uv-distribution/src/source/mod.rs
  crates/uv-types/src/traits.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/tests/it/sync.rs
  docs/concepts/dependencies.md
  docs/guides/publish.md
Due: cargo-fmt

option color choice
  crates/uv-cli/src/lib.rs
  crates/uv/src/settings.rs
Due: cargo-fmt, cargo-dev-generate-all

Respect `[tool.uv.sources]` in build requirements (#7172)
  Cargo.lock
  crates/uv-build-frontend/Cargo.toml
  crates/uv-build-frontend/src/error.rs
  crates/uv-build-frontend/src/lib.rs
  crates/uv-dispatch/src/lib.rs
  crates/uv-distribution/src/lib.rs
  crates/uv-distribution/src/metadata/lowering.rs
  crates/uv-distribution/src/metadata/mod.rs
  crates/uv-distribution/src/metadata/requires_dist.rs
  crates/uv-distribution/src/source/mod.rs
  crates/uv-types/src/traits.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/tests/it/sync.rs
  docs/concepts/dependencies.md
  docs/guides/publish.md
Due: cargo-fmt

Fix AWS CodeArtifact UV_PUBLISH_URL
  docs/guides/integration/alternative-indexes.md
Due: none

Fix AWS CodeArtifact UV_PUBLISH_URL (#8222)
  docs/guides/integration/alternative-indexes.md
Due: none

Retain old python-build-standalone releases (#8216)
  crates/uv-python/download-metadata.json
  crates/uv-python/fetch-download-metadata.py
  crates/uv-python/src/downloads.inc
Due: none

Reuse the result of `which git`
  Cargo.lock
  crates/uv-git/Cargo.toml
  crates/uv-git/src/git.rs
  crates/uv-git/src/lib.rs
  crates/uv/src/commands/project/init.rs
Due: cargo-fmt

Use source distribution bucket
  crates/uv/src/commands/build_frontend.rs
Due: cargo-fmt

Fix typo
  crates/uv-cache/src/lib.rs
Due: cargo-fmt

Fix snapshot
  crates/uv/tests/it/pip_compile.rs
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Run `uv build` builds in the source distribution bucket (#8220)
  crates/uv-cache/src/lib.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/tests/it/build.rs
Due: cargo-fmt

Reuse the result of `which git` (#8224)
  Cargo.lock
  crates/uv-git/Cargo.toml
  crates/uv-git/src/git.rs
  crates/uv-git/src/lib.rs
  crates/uv/src/commands/project/init.rs
  crates/uv/tests/it/pip_compile.rs
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

fix bug/duplicate-url
  crates/uv/src/commands/pip/compile.rs
Due: cargo-fmt

Bump version to v0.4.22
  CHANGELOG.md
  Cargo.lock
  crates/uv-version/Cargo.toml
  crates/uv/Cargo.toml
  docs/guides/integration/docker.md
  docs/guides/integration/github.md
  docs/guides/integration/pre-commit.md
  pyproject.toml
Due: none

Bump version to v0.4.22 (#8227)
  CHANGELOG.md
  Cargo.lock
  crates/uv-version/Cargo.toml
  crates/uv/Cargo.toml
  docs/guides/integration/docker.md
  docs/guides/integration/github.md
  docs/guides/integration/pre-commit.md
  pyproject.toml
Due: none

feat(init): support different init build backends
  crates/uv-cli/src/lib.rs
  crates/uv-configuration/src/lib.rs
  crates/uv-configuration/src/project_build_backend.rs
  crates/uv/src/commands/project/init.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/init.rs
  docs/concepts/projects.md
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

fixup! feedback
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/project/init.rs
  crates/uv/tests/it/init.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

fixup! meson-removal
  crates/uv-configuration/src/project_build_backend.rs
  crates/uv/src/commands/project/init.rs
  crates/uv/tests/it/init.rs
  docs/concepts/projects.md
  docs/reference/cli.md
Due: cargo-fmt

Review feedback
  crates/uv-cli/src/lib.rs
  crates/uv-distribution-types/src/index.rs
  crates/uv-distribution-types/src/index_url.rs
  crates/uv-pypi-types/src/requirement.rs
  crates/uv-settings/src/settings.rs
  crates/uv-workspace/src/pyproject.rs
  crates/uv-workspace/src/workspace.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/show_settings.rs
  crates/uv/tests/it/sync.rs
  docs/concepts/dependencies.md
  docs/configuration/environment.md
  docs/configuration/indexes.md
  docs/reference/cli.md
  docs/reference/settings.md
  uv.schema.json
Due: cargo-fmt, cargo-dev-generate-all

Enable environment variable authentication for named indexes
  Cargo.lock
  crates/uv-auth/src/credentials.rs
  crates/uv-auth/src/lib.rs
  crates/uv-distribution-types/Cargo.toml
  crates/uv-distribution-types/src/index.rs
  crates/uv-distribution-types/src/index_url.rs
  crates/uv-distribution/src/index/registry_wheel_index.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-resolver/src/pubgrub/report.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/sync.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/venv.rs
  crates/uv/tests/it/lock.rs
  docs/configuration/indexes.md
Due: cargo-fmt
