Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-dev-generate-all:
  name: cargo dev generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

Export runtime locks with uv_build
  Cargo.lock
  crates/uv-build-backend/Cargo.toml
  crates/uv-build-backend/src/lib.rs
  crates/uv-build-backend/src/lock.rs
  crates/uv-build-backend/src/source_dist.rs
  crates/uv-build-backend/src/wheel.rs
  crates/uv-build-frontend/src/lib.rs
  crates/uv-build/python/uv_build/__init__.py
  crates/uv-build/src/main.rs
  crates/uv-configuration/Cargo.toml
  crates/uv-configuration/src/build_backend.rs
  crates/uv-configuration/src/lib.rs
  crates/uv-dev/src/generate_preview_features_reference.rs
  crates/uv-dispatch/Cargo.toml
  crates/uv-dispatch/src/lib.rs
  crates/uv-lock/src/lock/export/pylock_toml.rs
  crates/uv-preview/src/lib.rs
  crates/uv-static/src/env_vars.rs
  crates/uv-workspace/Cargo.toml
  crates/uv-workspace/src/pyproject.rs
  crates/uv/src/lib.rs
  crates/uv/tests/build/build_backend.rs
  crates/uv/tests/sync/show_settings.rs
  docs/concepts/build-backend.md
  uv.schema.json
Due: cargo-fmt

Replace serde_yaml with yaml_serde
  Cargo.lock
  crates/uv-dev/Cargo.toml
  crates/uv-dev/src/generate_sysconfig_mappings.rs
Due: cargo-fmt

Restore batched HTTP cache writes
  crates/uv-client/src/cached_client.rs
Due: cargo-fmt

Limit ext4 writeback workaround to replacements
  crates/uv-fs/src/lib.rs
Due: cargo-fmt

Publish new atomic writes without a destination lookup
  crates/uv-fs/src/lib.rs
  crates/uv-fs/src/named_temp_file.rs
  crates/uv-fs/tests/atomic_write.rs
Due: cargo-fmt

Avoid ext4 writeback contention in atomic writes
  crates/uv-fs/src/lib.rs
Due: cargo-fmt

Add a HashReader benchmark
  crates/uv-bench/benches/uv.rs
Due: cargo-fmt

Attempt to make the benches more realistic
  crates/uv-bench/benches/uv.rs
Due: cargo-fmt

Keep the interpreter when recreating a relocatable venv
  crates/uv/tests/project/run.rs
Due: cargo-fmt

Randomize HashReader runs
  Cargo.lock
  crates/uv-bench/Cargo.toml
  crates/uv-bench/benches/uv.rs
Due: cargo-fmt

Bump h2 to 0.4.19
  Cargo.lock
Due: none

cargo vet basic setup
  .github/workflows/ci.yml
  pyproject.toml
  uv.lock
Due: none

Replace serde_yaml with yaml_serde (#22069)
  Cargo.lock
  crates/uv-dev/Cargo.toml
  crates/uv-dev/src/generate_sysconfig_mappings.rs
Due: cargo-fmt

Limit prerelease constraint omission to compatible bounds
  crates/uv-lock/src/lock/inputs.rs
  crates/uv-lock/src/lock/mod.rs
  crates/uv-lock/src/lock/prereleases.rs
  crates/uv-lock/src/lock/sources.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/tool/common.rs
  crates/uv/tests/lock/lock.rs
Due: cargo-fmt

Keep package change summaries unchanged
  STYLE.md
  crates/uv/src/commands/pip/operations.rs
  crates/uv/tests/build/build.rs
  crates/uv/tests/build/build_backend.rs
  crates/uv/tests/build/cache.rs
  crates/uv/tests/build/cache_prune.rs
  crates/uv/tests/it/network.rs
  crates/uv/tests/it/version.rs
  crates/uv/tests/lock/lock.rs
  crates/uv/tests/lock_scenarios/lock_conflict.rs
  crates/uv/tests/pip/pip_list.rs
  crates/uv/tests/pip/pip_sync.rs
  crates/uv/tests/pip/pip_tree.rs
  crates/uv/tests/pip/pip_uninstall.rs
  crates/uv/tests/pip_compile/pip_compile.rs
  crates/uv/tests/pip_install/direct_url_hashes.rs
  crates/uv/tests/pip_install/pip_install.rs
  crates/uv/tests/project/edit.rs
  crates/uv/tests/project/export.rs
  crates/uv/tests/project/init.rs
  crates/uv/tests/project/run.rs
  crates/uv/tests/python/python_module.rs
  crates/uv/tests/sync/sync.rs
  crates/uv/tests/tool/tool_install.rs
  crates/uv/tests/tool/tool_run.rs
  crates/uv/tests/workspace/workspace.rs
Due: cargo-fmt

Clarify ignored requirements file settings
  crates/uv/src/commands/project/mod.rs
  crates/uv/tests/project/run.rs
  crates/uv/tests/tool/tool_install.rs
  crates/uv/tests/tool/tool_run.rs
Due: cargo-fmt

Omit backticks inside parentheses
  crates/uv-cli/src/options.rs
  crates/uv-client/src/tls.rs
  crates/uv-extract/src/error.rs
  crates/uv-globfilter/src/portable_glob.rs
  crates/uv-install-wheel/src/lib.rs
  crates/uv-install-wheel/src/wheel.rs
  crates/uv-installer/src/plan.rs
  crates/uv-python/src/downloads.rs
  crates/uv-python/src/windows_registry.rs
  crates/uv-requirements-txt/src/lib.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv/src/commands/python/install.rs
  crates/uv/tests/build/cache.rs
  crates/uv/tests/pip/pip_sync.rs
  crates/uv/tests/pip_install/pip_install.rs
Due: cargo-fmt, cargo-dev-generate-all

Add a HashReader benchmark (#21782)
  Cargo.lock
  crates/uv-bench/Cargo.toml
  crates/uv-bench/benches/uv.rs
Due: cargo-fmt

Avoid quoting invalid Git values after a colon
  crates/uv-cache-info/src/git_info.rs
Due: cargo-fmt

Fix diagnostic snapshots after updating main
  crates/uv-extract/src/error.rs
  crates/uv-python/src/downloads.rs
  crates/uv-requirements-txt/src/lib.rs
  crates/uv/tests/build/build.rs
  crates/uv/tests/pip_install/pip_install.rs
  crates/uv/tests/python/python_install.rs
Due: cargo-fmt

Update `STYLE.md`
  STYLE.md
Due: none

Use a colon before URLs in missing credentials errors
  crates/uv-auth/src/middleware.rs
  crates/uv/tests/it/publish.rs
  crates/uv/tests/lock/lock.rs
  crates/uv/tests/project/edit.rs
  crates/uv/tests/tool/tool_install.rs
  crates/uv/tests/tool/tool_upgrade.rs
Due: cargo-fmt

Infer the release version from project metadata
  .github/workflows/release.yml
  CONTRIBUTING.md
Due: none

Quote egg-link in error messages
  crates/uv-distribution-types/src/installed.rs
Due: cargo-fmt

Quote both paths in relative path errors
  crates/uv-fs/src/path.rs
Due: cargo-fmt

Make release dry runs opt-in
  .github/workflows/release.yml
  CONTRIBUTING.md
Due: none

Keep the parent directory operator quoted
  crates/uv-globfilter/src/portable_glob.rs
Due: cargo-fmt

Quote glob patterns in diagnostics
  crates/uv-build-backend/src/lib.rs
  crates/uv-globfilter/src/portable_glob.rs
  crates/uv-publish/src/lib.rs
  crates/uv-workspace/src/workspace.rs
Due: cargo-fmt

fix(requirements-txt): show better error when uv lockfile is used with -r
  crates/uv-requirements-txt/src/lib.rs
Due: cargo-fmt

Remove redundant release build conditions
  .github/workflows/release.yml
Due: none

Quote both paths in broken interpreter links
  crates/uv-tool/src/lib.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/tests/sync/sync.rs
Due: cargo-fmt

Keep default progress output unchanged
  crates/uv/src/commands/auth/login.rs
  crates/uv/src/commands/auth/logout.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/commands/pip/uninstall.rs
  crates/uv/src/commands/publish.rs
  crates/uv/src/commands/reporters.rs
  crates/uv/src/commands/update_shell.rs
  crates/uv/tests/build/build.rs
  crates/uv/tests/build/build_backend.rs
  crates/uv/tests/build/cache.rs
  crates/uv/tests/it/auth.rs
  crates/uv/tests/it/publish.rs
Due: cargo-fmt

docs: link Dynamic metadata cache settings from the project config page
  docs/concepts/projects/config.md
Due: none

Clarify diagnostic values and file locations
  crates/uv-install-wheel/src/wheel.rs
  crates/uv-requirements-txt/src/lib.rs
  crates/uv-requirements/src/sources.rs
  crates/uv-requirements/src/specification.rs
  crates/uv-workspace/src/workspace.rs
  crates/uv/tests/pip_compile/pip_compile.rs
  crates/uv/tests/pip_install/pip_install.rs
Due: cargo-fmt

docs: link 'Locking and syncing' from the 'Running commands' page
  docs/concepts/projects/run.md
Due: none

docs: cross-reference editable mode docs between sync and config pages
  docs/concepts/projects/sync.md
Due: none

Omit empty manifest headers from lockfiles
  crates/uv-lock/src/lock/deserialize.rs
  crates/uv-lock/src/lock/serialize.rs
  crates/uv/tests/it/snapshots/it__ecosystem__warehouse-lock-file.snap
  crates/uv/tests/lock/lock.rs
  crates/uv/tests/lock_scenarios/lock_conflict.rs
  crates/uv/tests/project/edit.rs
Due: cargo-fmt

Keep diagnostic values clear and consistent
  STYLE.md
  crates/uv-cache-info/src/cache_info.rs
  crates/uv-client/src/tls.rs
  crates/uv-distribution-types/src/installed.rs
  crates/uv-distribution/src/error.rs
  crates/uv-fs/src/path.rs
  crates/uv-install-wheel/src/lib.rs
  crates/uv-installer/src/plan.rs
  crates/uv-platform/src/libc.rs
  crates/uv-publish/src/lib.rs
  crates/uv-pypi-types/src/parsed_url.rs
  crates/uv-python/src/downloads.rs
  crates/uv-requirements/src/sources.rs
  crates/uv-requirements/src/specification.rs
  crates/uv-resolver/src/error.rs
  crates/uv-settings/src/lib.rs
  crates/uv-virtualenv/src/virtualenv.rs
  crates/uv-workspace/src/workspace.rs
  crates/uv/src/commands/mod.rs
  crates/uv/src/commands/project/export.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/tool/common.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/tests/lock/minimum_libc.rs
  crates/uv/tests/pip_compile/pip_compile.rs
  crates/uv/tests/pip_install/pip_install.rs
Due: cargo-fmt, cargo-dev-generate-all

Omit redundant runtime constraints from lockfiles (#22004)
  crates/uv-dev/src/generate_preview_features_reference.rs
  crates/uv-lock/src/lock/inputs.rs
  crates/uv-lock/src/lock/mod.rs
  crates/uv-preview/src/lib.rs
  crates/uv/tests/lock/lock.rs
  crates/uv/tests/tool/tool_install.rs
Due: cargo-fmt

Omit compatible prerelease version constraints (#22068)
  crates/uv-configuration/src/normalized_requirements.rs
  crates/uv-configuration/src/prerelease.rs
  crates/uv-lock/src/lock/inputs.rs
  crates/uv-resolver/src/prerelease.rs
  crates/uv/tests/lock/lock.rs
  crates/uv/tests/tool/tool_install.rs
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/(snapshots)/.*|
)$

  cargo-dev-generate-all: any of: ^crates/(uv-cli|uv-settings)/ and \.rs$ and not ((?x)^(
  .*/(snapshots)/.*|
)$
)
