Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

.pre-commit-config.yaml:

fail_fast: true

exclude: |
  (?x)^(
    .*/(snapshots)/.*|
  )$

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.42.3
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: local
    hooks:
      - id: cargo-dev-generate-all
        name: cargo dev generate-all
        entry: cargo dev generate-all
        language: system
        types: [rust]
        pass_filenames: false
        files: ^crates/(uv-cli|uv-settings)/

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --ignore-unknown
        language: node
        additional_dependencies: ["prettier@3"]
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

Refactor uv diff snapshot helpers
  crates/uv-test/src/lib.rs
Due: cargo-fmt

Use intra-test diffs
  crates/uv/tests/it/show_settings.rs
Due: cargo-fmt

Remove snapshot contents
  crates/uv/tests/it/show_settings.rs
Due: cargo-fmt

Use baselines and diff snapshots
  crates/uv/tests/it/show_settings.rs
Due: cargo-fmt

Populate diff snapshots
  crates/uv/tests/it/show_settings.rs
Due: cargo-fmt

Improve existing diff snapshots
  crates/uv/tests/it/show_settings.rs
Due: cargo-fmt

Clarify existing diff snapshot comparisons
  crates/uv/tests/it/show_settings.rs
Due: cargo-fmt

Populate baseline snapshots
  crates/uv/tests/it/show_settings.rs
Due: cargo-fmt

Add baseline tests
  crates/uv/tests/it/show_settings.rs
Due: cargo-fmt

Always compute SHA256 for remote distributions (#19662)
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-distribution/src/hash.rs
  crates/uv-distribution/src/lib.rs
  crates/uv-distribution/src/source/mod.rs
  crates/uv/tests/it/pip_sync.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Remove more duplication in `show_settings` tests (#19664)
  crates/uv-test/src/lib.rs
  crates/uv/tests/it/show_settings.rs
  crates/uv/tests/it/workflow.rs
Due: cargo-fmt

Allow consumers to override dependency cache-keys.
  crates/uv-bench/benches/uv.rs
  crates/uv-cache-info/src/cache_info.rs
  crates/uv-cli/src/options.rs
  crates/uv-dispatch/src/lib.rs
  crates/uv-distribution-types/Cargo.toml
  crates/uv-distribution-types/src/config_settings.rs
  crates/uv-distribution/src/index/built_wheel_index.rs
  crates/uv-distribution/src/source/mod.rs
  crates/uv-installer/src/plan.rs
  crates/uv-installer/src/satisfies.rs
  crates/uv-installer/src/site_packages.rs
  crates/uv-settings/src/combine.rs
  crates/uv-settings/src/lib.rs
  crates/uv-settings/src/settings.rs
  crates/uv-types/src/traits.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/operations.rs
  crates/uv/src/commands/pip/sync.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/project/tree.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/src/commands/venv.rs
  crates/uv/src/commands/workspace/module_owners.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt, cargo-dev-generate-all

Add default cache-key for convenience.
  crates/uv-cache-info/src/cache_info.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Allow dependency-group enabled cache-keys.
  Cargo.lock
  crates/uv-cache-info/Cargo.toml
  crates/uv-cache-info/src/cache_info.rs
  crates/uv-dispatch/src/lib.rs
  crates/uv-distribution/src/index/built_wheel_index.rs
  crates/uv-distribution/src/source/mod.rs
  crates/uv-installer/src/plan.rs
  crates/uv-installer/src/satisfies.rs
  crates/uv-installer/src/site_packages.rs
  crates/uv-types/src/traits.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/operations.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Run cargo fmt.
  crates/uv-installer/src/site_packages.rs
Due: cargo-fmt

Document bundled LLD workaround
  .github/workflows/build-dev-binaries.yml
Due: none

Fix CI.
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/show_settings.rs
Due: cargo-fmt

Respect `--isolated` in `uv check`
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/project/check.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/check.rs
Due: cargo-fmt, cargo-dev-generate-all

Respect `--isolated` in `uv check` (#19666)
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/project/check.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/check.rs
Due: cargo-fmt, cargo-dev-generate-all

Restore leniency for unknown preview features
  crates/uv-cli/src/lib.rs
  crates/uv-preview/src/lib.rs
  crates/uv/tests/it/show_settings.rs
Due: cargo-fmt, cargo-dev-generate-all

Fix setup-crates-io-publish call
  scripts/release.sh
Due: none

Test empty preview feature names
  crates/uv/tests/it/show_settings.rs
Due: cargo-fmt

Remove ineffective preview feature value_enum
  crates/uv-cli/src/lib.rs
Due: cargo-fmt, cargo-dev-generate-all

Make isolated check snapshot platform-independent
  crates/uv/tests/it/check.rs
Due: cargo-fmt

Fix setup-crates-io-publish call (#19667)
  scripts/release.sh
Due: none

Allow unknown preview flags with a warning again (#19669)
  crates/uv-cli/src/lib.rs
  crates/uv-preview/src/lib.rs
  crates/uv/tests/it/show_settings.rs
Due: cargo-fmt, cargo-dev-generate-all

Plumb source-aware dependency edges through forks
  crates/uv-distribution/src/metadata/build_requires.rs
  crates/uv-resolver/src/pubgrub/dependencies.rs
  crates/uv-resolver/src/pubgrub/package.rs
  crates/uv-resolver/src/resolver/dependency_builder.rs
  crates/uv-resolver/src/resolver/fork_map.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv/tests/it/export.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Fix complementary source fork constraints
  crates/uv-resolver/src/resolver/dependency_builder.rs
  crates/uv-resolver/src/resolver/fork_map.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Update conflict marker export snapshot
  crates/uv/tests/it/export.rs
Due: cargo-fmt

Preserve extra predicates in conflict scopes
  crates/uv-resolver/src/lock/installable.rs
  crates/uv-resolver/src/resolver/fork_map.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Select complementary sources during sync
  crates/uv-resolver/src/lock/installable.rs
  crates/uv-resolver/src/universal_marker.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Encode URL source extra scopes
  crates/uv-resolver/src/resolver/environment.rs
  crates/uv-resolver/src/resolver/fork_map.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-resolver/src/universal_marker.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Record extras activated by dependency groups
  crates/uv-resolver/src/lock/installable.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Skip path dependency groups during locking
  crates/uv-resolver/src/resolver/dependency_builder.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Preserve URL sources with negative extra markers
  crates/uv-resolver/src/manifest.rs
  crates/uv-resolver/src/resolver/dependency_builder.rs
  crates/uv-resolver/src/resolver/urls.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Skip complementary source work without sources
  crates/uv-resolver/src/resolver/dependency_builder.rs
  crates/uv-resolver/src/resolver/fork_map.rs
  crates/uv-resolver/src/resolver/indexes.rs
  crates/uv-resolver/src/resolver/urls.rs
Due: cargo-fmt

Use an incompatible lock version for source markers
  crates/uv-resolver/src/lib.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv/src/commands/project/lock_target.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt
