Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-dev-generate-all:
  name: cargo dev generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

Use `Self` in constructors
  crates/uv/src/commands/project/sync.rs
Due: cargo-fmt

Add an exception handler on Windows (#14582)
  Cargo.lock
  Cargo.toml
  crates/uv/Cargo.toml
  crates/uv/src/lib.rs
  crates/uv/src/windows_exception.rs
Due: cargo-fmt

Add experimental `uv sync --output-format json` (#13689)
  crates/uv-cli/src/lib.rs
  crates/uv-fs/src/path.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/sync.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Follow links when cache-key is a glob (#13438)
  Cargo.lock
  crates/uv-cache-info/Cargo.toml
  crates/uv-cache-info/src/cache_info.rs
Due: cargo-fmt

Tear miette out of the `uv venv` command (#14546)
  crates/uv/src/commands/venv.rs
  crates/uv/tests/it/pip_compile.rs
  crates/uv/tests/it/venv.rs
Due: cargo-fmt

Bump `--python-platform linux` to `manylinux_2_28` (#14300)
  crates/uv-configuration/src/target_triple.rs
  crates/uv/tests/it/pip_compile.rs
  docs/reference/cli.md
  uv.schema.json
Due: cargo-fmt

Support conflicting editable settings across groups (#14197)
  crates/uv-distribution-types/src/buildable.rs
  crates/uv-distribution-types/src/lib.rs
  crates/uv-distribution-types/src/requirement.rs
  crates/uv-distribution/src/index/built_wheel_index.rs
  crates/uv-distribution/src/metadata/lowering.rs
  crates/uv-distribution/src/source/mod.rs
  crates/uv-installer/src/satisfies.rs
  crates/uv-pypi-types/src/parsed_url.rs
  crates/uv-requirements-txt/src/lib.rs
  crates/uv-requirements-txt/src/requirement.rs
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-unix-bare-url.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-unix-editable.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-windows-bare-url.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-windows-editable.txt.snap
  crates/uv-requirements/src/source_tree.rs
  crates/uv-resolver/src/lock/export/pylock_toml.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-resolver/src/resolver/urls.rs
  crates/uv-workspace/src/workspace.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

feat(docker): set default `UV_TOOL_BIN_DIR` on docker images (#13391)
  .github/workflows/build-docker.yml
  docs/guides/integration/docker.md
Due: none

Require `--global` for removal of the global Python pin (#14169)
  Cargo.lock
  crates/uv-python/src/version_files.rs
  crates/uv/Cargo.toml
  crates/uv/src/commands/python/pin.rs
  crates/uv/tests/it/python_pin.rs
Due: cargo-fmt

Default to `--workspace` when adding subdirectories (#14529)
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/edit.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Add missing validations for disallowed `uv.toml` fields (#14322)
  crates/uv-settings/src/lib.rs
  crates/uv-settings/src/settings.rs
Due: cargo-fmt, cargo-dev-generate-all

Warn on existing directory if not tty
  Cargo.lock
  crates/uv-virtualenv/Cargo.toml
  crates/uv-virtualenv/src/virtualenv.rs
  crates/uv/tests/it/venv.rs
Due: cargo-fmt

Use `VenvCreationPolicy` instead of clear and allow-existing bools
  .github/workflows/ci.yml
  crates/uv-build-frontend/src/lib.rs
  crates/uv-tool/src/lib.rs
  crates/uv-virtualenv/src/lib.rs
  crates/uv-virtualenv/src/virtualenv.rs
  crates/uv/src/commands/project/environment.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/venv.rs
  crates/uv/src/lib.rs
Due: cargo-fmt

Review
  crates/uv-static/src/env_vars.rs
  crates/uv-virtualenv/src/virtualenv.rs
  crates/uv/src/lib.rs
  crates/uv/tests/it/venv.rs
  docs/reference/environment.md
Due: cargo-fmt

Require `uv venv --clear` before clearing an existing directory
  .github/workflows/ci.yml
  Cargo.lock
  crates/uv-build-frontend/src/lib.rs
  crates/uv-cli/src/compat.rs
  crates/uv-cli/src/lib.rs
  crates/uv-static/src/env_vars.rs
  crates/uv-tool/src/lib.rs
  crates/uv-virtualenv/Cargo.toml
  crates/uv-virtualenv/src/lib.rs
  crates/uv-virtualenv/src/virtualenv.rs
  crates/uv/src/commands/project/environment.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/venv.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/cache_prune.rs
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/pip_sync.rs
  crates/uv/tests/it/sync.rs
  crates/uv/tests/it/venv.rs
  docs/reference/cli.md
  docs/reference/environment.md
Due: cargo-fmt, cargo-dev-generate-all

..
  crates/uv-cli/src/lib.rs
  crates/uv-virtualenv/src/virtualenv.rs
Due: cargo-fmt, cargo-dev-generate-all

..
  Cargo.lock
Due: none

make `uv sync --check` outdated a non-error status 1
  crates/uv/src/commands/diagnostics.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

add tests for basic uv lock --check
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Add better diagnostic for lock --check
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Cover `uv lock` and `uv sync` --locked, --check, and --dry-run cases
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

..
  crates/uv/src/commands/project/sync.rs
Due: cargo-fmt

Bump version to 0.7.21
  CHANGELOG.md
  Cargo.lock
  crates/uv-build/Cargo.toml
  crates/uv-build/pyproject.toml
  crates/uv-version/Cargo.toml
  crates/uv/Cargo.toml
  docs/concepts/build-backend.md
  docs/getting-started/installation.md
  docs/guides/integration/aws-lambda.md
  docs/guides/integration/docker.md
  docs/guides/integration/github.md
  docs/guides/integration/pre-commit.md
  pyproject.toml
Due: none

Use an extra layer of ephemeral deps
  crates/uv-python/src/environment.rs
  crates/uv/src/commands/project/environment.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/run.rs
Due: cargo-fmt

Use an ephemeral environment for `uv run --with` invocations (#14447)
  crates/uv-python/src/environment.rs
  crates/uv/src/commands/project/environment.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/run.rs
Due: cargo-fmt

Fix sync_json test
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

make `--check` outdated a non-error status 1 (#14167)
  crates/uv/src/commands/diagnostics.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Bump version to 0.7.21 (#14611)
  CHANGELOG.md
  Cargo.lock
  crates/uv-build/Cargo.toml
  crates/uv-build/pyproject.toml
  crates/uv-version/Cargo.toml
  crates/uv/Cargo.toml
  docs/concepts/build-backend.md
  docs/getting-started/installation.md
  docs/guides/integration/aws-lambda.md
  docs/guides/integration/docker.md
  docs/guides/integration/github.md
  docs/guides/integration/pre-commit.md
  pyproject.toml
Due: none

Per review
  crates/uv-cli/src/lib.rs
Due: cargo-fmt, cargo-dev-generate-all

Add missing comma in `projects/dependencies.md`
  docs/concepts/projects/dependencies.md
Due: none

Add missing comma in `projects/dependencies.md` (#14613)
  docs/concepts/projects/dependencies.md
Due: none

Fix 0.7.21 changelog
  CHANGELOG.md
Due: none

Fix 0.7.21 changelog (#14615)
  CHANGELOG.md
Due: none

windows_exception: Improve async signal safety
  Cargo.lock
  Cargo.toml
  crates/uv/Cargo.toml
  crates/uv/src/windows_exception.rs
Due: cargo-fmt

Allow users to override index cache-control headers
  crates/uv-client/src/cached_client.rs
  crates/uv-client/src/error.rs
  crates/uv-client/src/registry_client.rs
  crates/uv-distribution-types/src/index.rs
  crates/uv-distribution-types/src/index_url.rs
  crates/uv/tests/it/show_settings.rs
  docs/concepts/indexes.md
  uv.schema.json
Due: cargo-fmt

fix linter issue
  docs/guides/projects.md
Due: none

Allow users to override index `cache-control` headers (#14620)
  crates/uv-client/src/cached_client.rs
  crates/uv-client/src/error.rs
  crates/uv-client/src/registry_client.rs
  crates/uv-distribution-types/src/index.rs
  crates/uv-distribution-types/src/index_url.rs
  crates/uv/tests/it/show_settings.rs
  docs/concepts/indexes.md
  uv.schema.json
Due: cargo-fmt

Respect .python-version in pip-compile
  crates/uv/src/commands/pip/compile.rs
  crates/uv/tests/it/pip_compile.rs
Due: cargo-fmt

Update preview installation of Python executables to be non-fatal
  crates/uv-cli/src/lib.rs
  crates/uv-python/src/windows_registry.rs
  crates/uv/src/commands/python/install.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/help.rs
  crates/uv/tests/it/python_install.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Initial design doc for centralized venvs
  design/1495-centralized-venvs.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/(snapshots)/.*|
)$

  cargo-dev-generate-all: any of: ^crates/(uv-cli|uv-settings)/ and \.rs$ and not ((?x)^(
  .*/(snapshots)/.*|
)$
)
