Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-dev-generate-all:
  name: cargo dev generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

Separate musl and libc linux builds in CI
  .github/workflows/ci.yml
Due: none

Add test coverage for `uv pip install <dir> --group <name>`
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Add test coverage for `uv pip install <dir> --group <name>` (#10907)
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Update `overlapping_resolution_markers`
  crates/uv/tests/it/lock_conflict.rs
Due: cargo-fmt

Update `overlapping_resolution_markers` (#10910)
  crates/uv/tests/it/lock_conflict.rs
Due: cargo-fmt

make test filter permissive of bdist.win32
  crates/uv/tests/it/tool_install.rs
Due: cargo-fmt

temporarily disable new uv pip dependency-group flags
  crates/uv-cli/src/lib.rs
  crates/uv-settings/src/settings.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/pip_compile.rs
  crates/uv/tests/it/pip_install.rs
  docs/reference/cli.md
  docs/reference/settings.md
  uv.schema.json
Due: cargo-fmt, cargo-dev-generate-all

make test filter permissive of bdist.win32 (#10911)
  crates/uv/tests/it/tool_install.rs
Due: cargo-fmt

Require tests to opt-in to managed Python installation
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/python_install.rs
Due: cargo-fmt

Update tests which incorrectly download Python versions
  crates/uv/tests/it/lock_conflict.rs
Due: cargo-fmt

Add `.python-version` pin to `built-by-uv` test package
  scripts/packages/built-by-uv/.python-version
Due: none

temporarily disable new uv pip dependency-group flags (#10909)
  crates/uv-cli/src/lib.rs
  crates/uv-settings/src/settings.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/pip_compile.rs
  crates/uv/tests/it/pip_install.rs
  docs/reference/cli.md
  docs/reference/settings.md
  uv.schema.json
Due: cargo-fmt, cargo-dev-generate-all

Add a `.python-version` file to `anyio_local` too
  scripts/packages/anyio_local/.python-version
Due: none

Separate musl and libc linux builds in CI (#10830)
  .github/workflows/ci.yml
Due: none

Require tests to opt-in to managed Python installation (#10912)
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/lock_conflict.rs
  crates/uv/tests/it/python_install.rs
  scripts/packages/anyio_local/.python-version
  scripts/packages/built-by-uv/.python-version
Due: cargo-fmt

Fix render of matrix arch for system conda tests
  .github/workflows/ci.yml
Due: none

Fix render of matrix arch for system conda tests (#10914)
  .github/workflows/ci.yml
Due: none

Add test case for automatic installs
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/python_install.rs
Due: cargo-fmt

Add ecosystem test case for `pydantic/pydantic-core`
  .github/workflows/ci.yml
Due: none

Add test case for automatic installs (#10913)
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/python_install.rs
Due: cargo-fmt

Skip clean-up of test temporary directories
  crates/uv/tests/it/common/mod.rs
Due: cargo-fmt

Allow fallback to Python download on non-critical discovery errors
  crates/uv-python/src/installation.rs
  crates/uv/tests/it/python_install.rs
Due: cargo-fmt

Allow fallback to Python download on non-critical discovery errors (#10908)
  crates/uv-python/src/installation.rs
  crates/uv/tests/it/python_install.rs
Due: cargo-fmt

Bump version to 0.5.24
  CHANGELOG.md
  Cargo.lock
  crates/uv-version/Cargo.toml
  crates/uv/Cargo.toml
  docs/getting-started/installation.md
  docs/guides/integration/aws-lambda.md
  docs/guides/integration/docker.md
  docs/guides/integration/github.md
  docs/guides/integration/pre-commit.md
  pyproject.toml
Due: none

Add ecosystem test case for `pydantic/pydantic-core` (#10917)
  .github/workflows/ci.yml
Due: none

Run multiple commands in ecosystem tests
  .github/workflows/ci.yml
Due: none

Bump version to 0.5.24 (#10922)
  CHANGELOG.md
  Cargo.lock
  crates/uv-version/Cargo.toml
  crates/uv/Cargo.toml
  docs/getting-started/installation.md
  docs/guides/integration/aws-lambda.md
  docs/guides/integration/docker.md
  docs/guides/integration/github.md
  docs/guides/integration/pre-commit.md
  pyproject.toml
Due: none

test(lock): update assertion to account for invalid extra
  crates/uv/tests/it/lock_conflict.rs
Due: cargo-fmt

feat: add method to validate extras
  crates/uv-resolver/src/lock/mod.rs
  crates/uv/src/commands/project/install_target.rs
  crates/uv/src/commands/project/mod.rs
Due: cargo-fmt

feat: validate that requested extras exist
  crates/uv/src/commands/project/sync.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

test(sync): add test for `--frozen`
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Add documentation for `uv add -r`
  docs/concepts/projects/dependencies.md
Due: none

Add documentation for `uv add -r` (#10926)
  docs/concepts/projects/dependencies.md
Due: none

Allow installation of manylinux wheels on loongarch64
  crates/uv-platform-tags/src/platform.rs
Due: cargo-fmt

Add link to files.md#env for UV_ENV_FILE in environment.md
  docs/configuration/environment.md
Due: none

Make `--no-default-groups` works with `--all-groups`
  crates/uv-cli/src/lib.rs
  crates/uv-configuration/src/dev.rs
  crates/uv-requirements/src/source_tree.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt, cargo-dev-generate-all

Use pacakge id in priority storage
  Cargo.lock
  Cargo.toml
  crates/uv-resolver/src/dependency_provider.rs
  crates/uv-resolver/src/pubgrub/mod.rs
  crates/uv-resolver/src/pubgrub/priority.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv/tests/it/pip_install_scenarios.rs
Due: cargo-fmt

Solve virtual package with the strongest constraints first
  crates/uv-resolver/src/dependency_provider.rs
  crates/uv-resolver/src/pubgrub/mod.rs
  crates/uv-resolver/src/pubgrub/priority.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv/tests/it/pip_install_scenarios.rs
Due: cargo-fmt

git
  Cargo.toml
Due: none

git
  Cargo.lock
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/(snapshots)/.*|
)$

  cargo-dev-generate-all: any of: ^crates/(uv-cli|uv-settings)/ and \.rs$ and not ((?x)^(
  .*/(snapshots)/.*|
)$
)
