Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-dev-generate-all:
  name: cargo dev generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

feat: error on non-existent extra from lock file (#11426)
  crates/uv-resolver/src/lock/mod.rs
  crates/uv/src/commands/project/install_target.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/tests/it/lock_conflict.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Use copy with retry too
  crates/uv-fs/src/lib.rs
  crates/uv-install-wheel/src/wheel.rs
Due: cargo-fmt

regenerate snapshots
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__missing_dependency_version_dynamic.snap
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/lock_conflict.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

rename hello.py to app.py
  crates/uv/src/commands/project/init.rs
  crates/uv/tests/it/init.rs
  docs/concepts/projects/init.md
  docs/guides/projects.md
Due: cargo-fmt

app.py => main.py
  crates/uv/src/commands/project/init.rs
  crates/uv/tests/it/init.rs
  docs/concepts/projects/init.md
  docs/guides/projects.md
Due: cargo-fmt

Fix cross-drive script installation (#11167)
  crates/uv-fs/src/lib.rs
  crates/uv-install-wheel/src/install.rs
  crates/uv-install-wheel/src/wheel.rs
Due: cargo-fmt

Update README.md
  README.md
Due: none

Prefer running executables in the environment with `<name>` over `<name>/__main__.py` (#11431)
  crates/uv/src/commands/project/run.rs
  crates/uv/tests/it/run.rs
Due: cargo-fmt

Allow `--python <dir>` requests to match existing environments if `sys.executable` is the same file (#11290)
  crates/uv-python/src/discovery.rs
Due: cargo-fmt

Lint
  crates/uv/src/commands/project/run.rs
Due: cargo-fmt

Detect infinite recursion in uv run. (#11386)
  crates/uv-cli/src/lib.rs
  crates/uv-static/src/env_vars.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/run.rs
Due: cargo-fmt, cargo-dev-generate-all

Bump version to 0.5.31
  CHANGELOG.md
  Cargo.lock
  crates/uv-version/Cargo.toml
  crates/uv/Cargo.toml
  docs/getting-started/installation.md
  docs/guides/integration/aws-lambda.md
  docs/guides/integration/docker.md
  docs/guides/integration/github.md
  docs/guides/integration/pre-commit.md
  pyproject.toml
Due: none

Check for executable permissions in `is_executable` (#11430)
  crates/uv-fs/src/which.rs
Due: cargo-fmt

Bump version to 0.5.31 (#11459)
  CHANGELOG.md
  Cargo.lock
  crates/uv-version/Cargo.toml
  crates/uv/Cargo.toml
  docs/getting-started/installation.md
  docs/guides/integration/aws-lambda.md
  docs/guides/integration/docker.md
  docs/guides/integration/github.md
  docs/guides/integration/pre-commit.md
  pyproject.toml
Due: none

Colocate pyproject.toml metadata parsing with other file kinds
  crates/uv-pypi-types/src/metadata/metadata_resolver.rs
  crates/uv-pypi-types/src/metadata/pyproject_toml.rs
Due: cargo-fmt

Respect executable name in uvx --from tool@latest
  crates/uv/src/commands/tool/run.rs
  crates/uv/tests/it/tool_run.rs
Due: cargo-fmt

Respect executable name in `uvx --from tool@latest` (#11465)
  crates/uv/src/commands/tool/run.rs
  crates/uv/tests/it/tool_run.rs
Due: cargo-fmt

Sync latest Python releases
  crates/uv-python/download-metadata.json
  crates/uv-python/src/downloads.inc
Due: none

Colocate `pyproject.toml` metadata parsing with other file kinds (#11462)
  crates/uv-pypi-types/src/metadata/metadata_resolver.rs
  crates/uv-pypi-types/src/metadata/pyproject_toml.rs
Due: cargo-fmt

Omit lockfile version when additional fields are dynamic
  crates/uv-distribution/src/source/mod.rs
  crates/uv-pypi-types/src/metadata/metadata_resolver.rs
  crates/uv-pypi-types/src/metadata/mod.rs
  crates/uv-pypi-types/src/metadata/pyproject_toml.rs
  crates/uv-pypi-types/src/metadata/requires_dist.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Omit lockfile version when additional fields are dynamic (#11468)
  crates/uv-distribution/src/source/mod.rs
  crates/uv-pypi-types/src/metadata/metadata_resolver.rs
  crates/uv-pypi-types/src/metadata/mod.rs
  crates/uv-pypi-types/src/metadata/pyproject_toml.rs
  crates/uv-pypi-types/src/metadata/requires_dist.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Split uv-git and uv-git-types
  Cargo.lock
  Cargo.toml
  crates/uv-distribution-types/Cargo.toml
  crates/uv-distribution-types/src/buildable.rs
  crates/uv-distribution-types/src/lib.rs
  crates/uv-distribution/Cargo.toml
  crates/uv-distribution/src/metadata/lowering.rs
  crates/uv-distribution/src/source/mod.rs
  crates/uv-git-types/Cargo.toml
  crates/uv-git-types/src/github.rs
  crates/uv-git-types/src/lib.rs
  crates/uv-git-types/src/oid.rs
  crates/uv-git-types/src/reference.rs
  crates/uv-git/Cargo.toml
  crates/uv-git/src/git.rs
  crates/uv-git/src/lib.rs
  crates/uv-git/src/resolver.rs
  crates/uv-git/src/source.rs
  crates/uv-installer/Cargo.toml
  crates/uv-installer/src/satisfies.rs
  crates/uv-pypi-types/Cargo.toml
  crates/uv-pypi-types/src/parsed_url.rs
  crates/uv-pypi-types/src/requirement.rs
  crates/uv-requirements/Cargo.toml
  crates/uv-requirements/src/lib.rs
  crates/uv-resolver/Cargo.toml
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-resolver/src/lock/requirements_txt.rs
  crates/uv-workspace/Cargo.toml
  crates/uv-workspace/src/pyproject.rs
  crates/uv/Cargo.toml
  crates/uv/src/commands/project/add.rs
Due: cargo-fmt

Remove mentions of submodules
  .github/workflows/build-binaries.yml
Due: none

Consistent pip invocations with find links
  .github/workflows/build-binaries.yml
Due: none

Test `python -m uv --help` in all branches
  .github/workflows/build-binaries.yml
Due: none

Use python-as-python3 on debian
  .github/workflows/build-binaries.yml
Due: none

Consistent quoting
  .github/workflows/build-binaries.yml
Due: none

Use uv-build as build backend consistently
  crates/uv-build-backend/src/lib.rs
  crates/uv-build-backend/src/metadata.rs
  crates/uv/src/commands/project/init.rs
  crates/uv/tests/it/init.rs
Due: cargo-fmt

Split out uv-build package
  Cargo.lock
  crates/uv-build/Cargo.toml
  crates/uv-build/LICENSE-APACHE
  crates/uv-build/LICENSE-MIT
  crates/uv-build/README.md
  crates/uv-build/pyproject.toml
  crates/uv-build/python/uv_build/__init__.py
  crates/uv-build/python/uv_build/__main__.py
  crates/uv-build/python/uv_build/py.typed
  crates/uv-build/src/main.rs
  scripts/packages/built-by-uv/pyproject.toml
Due: cargo-fmt

Publish `uv-build` from CI
  .github/workflows/build-binaries.yml
  .github/workflows/publish-pypi.yml
  .gitignore
  Cargo.toml
  crates/uv-build/src/main.rs
Due: cargo-fmt

Remove build backend Python shims from `uv`
  crates/uv-build-backend/src/metadata.rs
  python/uv/__init__.py
  python/uv/_build_backend.py
Due: cargo-fmt

Use cargo-deny to prevent extra crates being pulled into the build backend
  .github/workflows/build-binaries.yml
  .github/workflows/ci.yml
  crates/uv-build/deny.toml
Due: none

Bump version
  crates/uv-build/Cargo.toml
Due: none

Make the cache dir inside project when --no-cache specified
  crates/uv-cache/src/lib.rs
Due: cargo-fmt

Make --no-cache respect UV_CACHE_DIR
  crates/uv-cache/src/cli.rs
  crates/uv-cache/src/lib.rs
  crates/uv-client/src/registry_client.rs
  crates/uv-client/tests/it/remote_metadata.rs
  crates/uv-client/tests/it/user_agent_version.rs
  crates/uv-python/src/interpreter.rs
  crates/uv-python/src/lib.rs
Due: cargo-fmt

Remove unused clippy allows
  Cargo.lock
  crates/uv-build/src/main.rs
  crates/uv/src/commands/build_backend.rs
Due: cargo-fmt

Use panic abort
  Cargo.toml
Due: none

Update .github/workflows/build-binaries.yml
  .github/workflows/build-binaries.yml
Due: none

Fix isolation of recursion test
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/pip_compile_scenarios.rs
  crates/uv/tests/it/pip_install_scenarios.rs
  crates/uv/tests/it/run.rs
Due: cargo-fmt

Short name for "--group" option
  crates/uv-cli/src/lib.rs
Due: cargo-fmt, cargo-dev-generate-all

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/(snapshots)/.*|
)$

  cargo-dev-generate-all: any of: ^crates/(uv-cli|uv-settings)/ and \.rs$ and not ((?x)^(
  .*/(snapshots)/.*|
)$
)
