Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-dev-generate-all:
  name: cargo dev generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

fix patch-level python tests
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

hint to use uv self version
  crates/uv-workspace/src/workspace.rs
Due: cargo-fmt

adjusted to double linebreak
  crates/uv-workspace/src/workspace.rs
Due: cargo-fmt

Never apply sources
  crates/uv-build-frontend/src/lib.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Apply Cache-Control overrides to response, not request headers
  crates/uv-client/src/cached_client.rs
  crates/uv-distribution-types/src/index_url.rs
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-distribution/src/source/mod.rs
Due: cargo-fmt

Apply Cache-Control overrides to response, not request headers (#14736)
  crates/uv-client/src/cached_client.rs
  crates/uv-distribution-types/src/index_url.rs
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-distribution/src/source/mod.rs
Due: cargo-fmt

ensure uv is installed after setting up Python (`activate-envinroment: true` doesn't work otherwise)
  docs/guides/integration/github.md
Due: none

update docs to explain usage of `--with-executables-from`
  crates/uv-cli/src/lib.rs
  docs/concepts/tools.md
  docs/guides/tools.md
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

change arg value to comma separated requirements
  crates/uv-cli/src/lib.rs
  crates/uv-tool/src/tool.rs
  crates/uv/src/commands/tool/common.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/upgrade.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/tool_install.rs
Due: cargo-fmt, cargo-dev-generate-all

shorten warning message
  crates/uv/src/commands/tool/common.rs
  crates/uv/tests/it/tool_install.rs
Due: cargo-fmt

update `toml_edit` to include trailing comments fix
  Cargo.lock
  Cargo.toml
  crates/uv/tests/it/edit.rs
Due: cargo-fmt

uv-python: Refactor ManagedPythonDownload state management
  Cargo.lock
  Cargo.toml
  crates/uv-python/Cargo.toml
  crates/uv-python/src/downloads.rs
  crates/uv-python/src/installation.rs
  crates/uv/src/commands/python/install.rs
  crates/uv/src/commands/python/list.rs
  crates/uv/src/lib.rs
Due: cargo-fmt

comments from Konsti
  crates/uv/src/commands/python/install.rs
  crates/uv/src/commands/python/list.rs
Due: cargo-fmt

update docs
  crates/uv-cli/src/lib.rs
  crates/uv-settings/src/settings.rs
  crates/uv-static/src/env_vars.rs
  docs/reference/cli.md
  docs/reference/environment.md
  docs/reference/settings.md
  uv.schema.json
Due: cargo-fmt, cargo-dev-generate-all

Support http/https URLs in uv python --python-downloads-json-url
  crates/uv-python/src/downloads.rs
Due: cargo-fmt

Add a version backwards incompatibility scheme for the JSON Python download list
  crates/uv-python/src/downloads.rs
Due: cargo-fmt

Rename ManagedPythonDownloadList methods for readability
  crates/uv-python/src/downloads.rs
  crates/uv-python/src/installation.rs
  crates/uv/src/commands/python/install.rs
  crates/uv/src/commands/python/list.rs
Due: cargo-fmt

review comment
  crates/uv-python/src/downloads.rs
Due: cargo-fmt

Directly ask the NVIDIA kernel driver what version it is
  Cargo.lock
  crates/uv-torch/Cargo.toml
  crates/uv-torch/src/accelerator.rs
Due: cargo-fmt

Clarify which portions of requires-python behavior are consistent with pip
  docs/pip/compatibility.md
Due: none

Clarify which portions of requires-python behavior are consistent with pip (#14752)
  docs/pip/compatibility.md
Due: none

Fix tests requiring patch-level Python (#14733)
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Support extras and dependency_groups markers in PEP 508 grammar
  crates/uv-pep508/src/marker/algebra.rs
  crates/uv-pep508/src/marker/lowering.rs
  crates/uv-pep508/src/marker/parse.rs
  crates/uv-pep508/src/marker/simplify.rs
  crates/uv-pep508/src/marker/tree.rs
  crates/uv-resolver/src/marker.rs
  crates/uv-resolver/src/resolution/output.rs
Due: cargo-fmt

Fix comment on extra_names
  crates/uv-configuration/src/extras.rs
Due: cargo-fmt

Fix comment on `extra_names` (#14756)
  crates/uv-configuration/src/extras.rs
Due: cargo-fmt

Disallow multiple pylock.toml files
  crates/uv-requirements/src/specification.rs
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Move dependency group normalization into specification
  crates/uv-normalize/src/group_name.rs
  crates/uv-requirements/src/specification.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/operations.rs
  crates/uv/src/commands/pip/sync.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/src/lib.rs
Due: cargo-fmt

Support `extras` and `dependency_groups` markers in PEP 508 grammar (#14753)
  crates/uv-pep508/src/marker/algebra.rs
  crates/uv-pep508/src/marker/lowering.rs
  crates/uv-pep508/src/marker/parse.rs
  crates/uv-pep508/src/marker/simplify.rs
  crates/uv-pep508/src/marker/tree.rs
  crates/uv-resolver/src/marker.rs
  crates/uv-resolver/src/resolution/output.rs
Due: cargo-fmt

Move dependency group normalization into specification (#14757)
  crates/uv-normalize/src/group_name.rs
  crates/uv-requirements/src/specification.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/operations.rs
  crates/uv/src/commands/pip/sync.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/src/lib.rs
Due: cargo-fmt

Fix typo in concepts/projects/config.md
  docs/concepts/projects/config.md
Due: none

Run Prettier
  docs/concepts/projects/config.md
Due: none

Fix typo in `concepts/projects/config.md` (#14759)
  docs/concepts/projects/config.md
Due: none

Fix kebab casing of README variants in build backend
  crates/uv-build-backend/src/metadata.rs
Due: cargo-fmt

docs: fix wording in features guide
  docs/getting-started/features.md
Due: none

Update features.md
  docs/getting-started/features.md
Due: none

Add missing `the` in concept link (#14763)
  docs/getting-started/features.md
Due: none

Fix kebab casing of README variants in build backend (#14762)
  crates/uv-build-backend/src/metadata.rs
Due: cargo-fmt

Implement PartialEq for OptionSet
  crates/uv-options-metadata/src/lib.rs
Due: cargo-fmt

Implement `PartialEq` for `OptionSet` (#14765)
  crates/uv-options-metadata/src/lib.rs
Due: cargo-fmt

Retry request on invalid data error (#14703)
  crates/uv-client/src/base_client.rs
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/(snapshots)/.*|
)$

  cargo-dev-generate-all: any of: ^crates/(uv-cli|uv-settings)/ and \.rs$ and not ((?x)^(
  .*/(snapshots)/.*|
)$
)
