Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

.pre-commit-config.yaml:

fail_fast: true

exclude: |
  (?x)^(
    .*/(snapshots)/.*|
  )$

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.20.2
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.26.0
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: local
    hooks:
      - id: cargo-dev-generate-all
        name: cargo dev generate-all
        entry: cargo dev generate-all
        language: system
        types: [rust]
        pass_filenames: false
        files: ^crates/(uv-cli|uv-settings)/

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

uv-resolver: support project-level conflicts
  crates/uv-resolver/src/pubgrub/dependencies.rs
  crates/uv-resolver/src/pubgrub/package.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

uv-pypi-types: add ConflictKind::Project
  crates/uv-pypi-types/src/conflicts.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv/src/commands/project/mod.rs
Due: cargo-fmt

Update "tl" crate URL following repository transfer
  Cargo.lock
  Cargo.toml
Due: none

Use portable paths
  crates/uv-build-backend/src/lib.rs
Due: cargo-fmt

Update "tl" crate URL following repository transfer (#9147)
  Cargo.lock
  Cargo.toml
Due: none

Fix source dist root name
  crates/uv-build-backend/src/lib.rs
  crates/uv/tests/it/build_backend.rs
Due: cargo-fmt

Expose pyproject.toml
  crates/uv-build-backend/src/metadata.rs
Due: cargo-fmt

Support readme in source dist
  crates/uv-build-backend/src/lib.rs
Due: cargo-fmt

Test readme support in wheel
  crates/uv-build-backend/src/tests.rs
  scripts/packages/built-by-uv/pyproject.toml
Due: cargo-fmt

Include license files in source dist
  crates/uv-build-backend/src/lib.rs
Due: cargo-fmt

Support license files in wheel
  crates/uv-build-backend/src/lib.rs
Due: cargo-fmt

Test license files support
  crates/uv-build-backend/src/tests.rs
  scripts/packages/built-by-uv/LICENSE-APACHE
  scripts/packages/built-by-uv/LICENSE-MIT
  scripts/packages/built-by-uv/pyproject.toml
  scripts/packages/built-by-uv/third-party-licenses/PEP-401.txt
Due: cargo-fmt

Add test for file inclusions
  crates/uv-build-backend/src/tests.rs
Due: cargo-fmt

Migrate
  crates/uv-build-backend/src/lib.rs
  crates/uv-distribution/src/error.rs
  crates/uv-python/src/discovery.rs
  crates/uv-settings/src/lib.rs
  crates/uv-workspace/src/workspace.rs
Due: cargo-fmt, cargo-dev-generate-all

Trim down `PyProjectToml` privacy
  crates/uv-build-backend/src/lib.rs
  crates/uv-build-backend/src/metadata.rs
Due: cargo-fmt

Handle windows paths in tests
  crates/uv-build-backend/src/tests.rs
Due: cargo-fmt

Build backend: Include readme and license files (#9149)
  crates/uv-build-backend/src/lib.rs
  crates/uv-build-backend/src/metadata.rs
  crates/uv-build-backend/src/tests.rs
  crates/uv/tests/it/build_backend.rs
  scripts/packages/built-by-uv/LICENSE-APACHE
  scripts/packages/built-by-uv/LICENSE-MIT
  scripts/packages/built-by-uv/pyproject.toml
  scripts/packages/built-by-uv/third-party-licenses/PEP-401.txt
Due: cargo-fmt

Add `--index <name>=<url>` syntax to index documentation (#9139)
  docs/configuration/indexes.md
Due: none

Add --gui-script flag for running Python scripts with pythonw.exe on Windows
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/run.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

WIP
  crates/uv-build-frontend/src/lib.rs
  crates/uv-tool/src/lib.rs
  crates/uv-virtualenv/src/lib.rs
  crates/uv-virtualenv/src/virtualenv.rs
  crates/uv/src/commands/project/environment.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/venv.rs
  crates/uv/src/lib.rs
Due: cargo-fmt

fix formatting
  crates/uv/tests/it/run.rs
Due: cargo-fmt

remove comments
  crates/uv/tests/it/run.rs
Due: cargo-fmt

remove space
  crates/uv/tests/it/run.rs
Due: cargo-fmt

lint fix
  crates/uv/tests/it/run.rs
Due: cargo-fmt

add etter logging for windows gui test
  crates/uv/tests/it/run.rs
Due: cargo-fmt

Use Depot runners instead of GitHub larger runners for Unix
  .github/workflows/ci.yml
Due: none

Include version constraints in derivation chains
  Cargo.lock
  crates/uv-distribution-types/Cargo.toml
  crates/uv-distribution-types/src/derivation.rs
  crates/uv-resolver/src/error.rs
  crates/uv-resolver/src/lib.rs
  crates/uv-resolver/src/resolver/derivation.rs
  crates/uv/Cargo.toml
  crates/uv/src/commands/diagnostics.rs
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/pip_compile.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Include version constraints in derivation chains (#9112)
  Cargo.lock
  crates/uv-distribution-types/Cargo.toml
  crates/uv-distribution-types/src/derivation.rs
  crates/uv-resolver/src/error.rs
  crates/uv-resolver/src/lib.rs
  crates/uv-resolver/src/resolver/derivation.rs
  crates/uv/Cargo.toml
  crates/uv/src/commands/diagnostics.rs
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/pip_compile.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Include extras and dependency groups in derivation chains
  crates/uv-distribution-types/src/derivation.rs
  crates/uv-resolver/src/resolver/derivation.rs
  crates/uv/src/commands/diagnostics.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

fix docs fmt
  docs/reference/cli.md
Due: none

adjusted test
  crates/uv/tests/it/run.rs
Due: cargo-fmt

Include extras and dependency groups in derivation chains (#9113)
  crates/uv-distribution-types/src/derivation.rs
  crates/uv-resolver/src/resolver/derivation.rs
  crates/uv/src/commands/diagnostics.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Include cyan for prefix on versions
  crates/uv/src/commands/diagnostics.rs
Due: cargo-fmt

Include cyan for prefix on versions (#9155)
  crates/uv/src/commands/diagnostics.rs
Due: cargo-fmt

add os
  crates/uv/tests/it/run.rs
Due: cargo-fmt

Update styles to support collapsible nav (#9095)
  docs/stylesheets/extra.css
Due: none

Use Depot runners instead of GitHub larger runners for Unix (#9154)
  .github/workflows/ci.yml
Due: none

Use Depot for Docker image builds
  .github/workflows/build-docker.yml
Due: none

Support overrides and constraints in PEP 723 scripts
  crates/uv-requirements/src/specification.rs
  crates/uv-scripts/src/lib.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/lib.rs
  crates/uv/tests/it/run.rs
Due: cargo-fmt

Support overrides and constraints in PEP 723 scripts (#9162)
  crates/uv-requirements/src/specification.rs
  crates/uv-scripts/src/lib.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/lib.rs
  crates/uv/tests/it/run.rs
Due: cargo-fmt
