Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

.pre-commit-config.yaml:

fail_fast: true

exclude: |
  (?x)^(
    .*/(snapshots)/.*|
  )$

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.20.2
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.26.0
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: local
    hooks:
      - id: cargo-dev-generate-all
        name: cargo dev generate-all
        entry: cargo dev generate-all
        language: system
        types: [rust]
        pass_filenames: false
        files: ^crates/(uv-cli|uv-settings)/

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

change test output
  crates/uv/tests/it/run.rs
Due: cargo-fmt

revert test changes
  crates/uv/tests/it/run.rs
Due: cargo-fmt

resolved and audited times
  crates/uv/tests/it/run.rs
Due: cargo-fmt

removed extra line
  crates/uv/tests/it/run.rs
Due: cargo-fmt

added ###
  crates/uv/tests/it/run.rs
Due: cargo-fmt

uv-resolver: simplify `fork_markers` construction
  crates/uv-resolver/src/resolution/output.rs
Due: cargo-fmt

uv-resolver: remove 'fork.is_false()' filtering
  crates/uv-resolver/src/resolution/output.rs
Due: cargo-fmt

uv-pep508: add a clarifying test
  crates/uv-pep508/src/marker/tree.rs
Due: cargo-fmt

uv-resolver: remove 'package_markers'
  crates/uv-resolver/src/resolution/output.rs
  crates/uv-resolver/src/resolver/mod.rs
Due: cargo-fmt

uv/pip/compile: slightly simplify conflicts
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/lib.rs
Due: cargo-fmt

uv-resolver: introduce new UniversalMarker type
  crates/uv-resolver/src/candidate_selector.rs
  crates/uv-resolver/src/graph_ops.rs
  crates/uv-resolver/src/lib.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-resolver/src/lock/requirements_txt.rs
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__missing_dependency_source_unambiguous.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__missing_dependency_source_version_unambiguous.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__missing_dependency_version_unambiguous.snap
  crates/uv-resolver/src/lock/target.rs
  crates/uv-resolver/src/preferences.rs
  crates/uv-resolver/src/resolution/display.rs
  crates/uv-resolver/src/resolution/mod.rs
  crates/uv-resolver/src/resolution/output.rs
  crates/uv-resolver/src/resolution/requirements_txt.rs
  crates/uv-resolver/src/resolver/environment.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-resolver/src/universal_marker.rs
  crates/uv/src/commands/project/lock.rs
Due: cargo-fmt

docs: reference `--no-progress` option in related environment variable
  docs/configuration/environment.md
Due: none

Update docs
  docs/configuration/environment.md
Due: none

Revert "Update docs"
  docs/configuration/environment.md
Due: none

Update the code documentation too
  crates/uv-static/src/env_vars.rs
  docs/configuration/environment.md
Due: cargo-fmt

docs: reference `--no-progress` option in related environment variable (#9357)
  crates/uv-static/src/env_vars.rs
  docs/configuration/environment.md
Due: cargo-fmt

Update the dependencies documentation
  docs/concepts/projects/dependencies.md
Due: none

Move the dependency specifiers specification into the reference section
  docs/concepts/projects/dependencies.md
  docs/reference/dependency-specifiers.md
  mkdocs.template.yml
Due: none

Add a note to say that dependencies between workspace members are editable
  docs/concepts/projects/workspaces.md
Due: none

Surface conflicts in uv export
  crates/uv/src/commands/project/export.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Surface extras and group conflicts in `uv export` (#9365)
  crates/uv/src/commands/project/export.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Annotate default groups in conflict error messages
  crates/uv-configuration/src/dev.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Annotate default groups in conflict error messages (#9368)
  crates/uv-configuration/src/dev.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Allow system Python discovery with --target and --prefix
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/sync.rs
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/pip_sync.rs
Due: cargo-fmt

Allow system Python discovery with `--target` and `--prefix` (#9371)
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/sync.rs
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/pip_sync.rs
Due: cargo-fmt

Add various grammar changes to conflict error messages
  crates/uv-python/src/discovery.rs
  crates/uv/src/commands/mod.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/tool/upgrade.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Add various grammar changes to conflict error messages (#9369)
  crates/uv-python/src/discovery.rs
  crates/uv/src/commands/mod.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/tool/upgrade.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Avoid project1 and project2 in conflict tests
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Avoid `project1` and `project2` in conflict tests (#9372)
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Report marker diagnostics during parsing, rather than evaluation
  crates/uv-pep508/src/lib.rs
  crates/uv-pep508/src/marker/parse.rs
  crates/uv-pep508/src/marker/tree.rs
  crates/uv-pep508/src/verbatim_url.rs
Due: cargo-fmt

Add a lowered representation for markers
  crates/uv-pep508/src/lib.rs
  crates/uv-pep508/src/marker/algebra.rs
  crates/uv-pep508/src/marker/environment.rs
  crates/uv-pep508/src/marker/lowering.rs
  crates/uv-pep508/src/marker/mod.rs
  crates/uv-pep508/src/marker/simplify.rs
  crates/uv-pep508/src/marker/tree.rs
  crates/uv-resolver/src/marker.rs
  crates/uv-resolver/src/resolution/output.rs
Due: cargo-fmt

Re-compile when --compile is passed to an install operation
  crates/uv/src/commands/pip/operations.rs
  crates/uv/tests/it/pip_sync.rs
Due: cargo-fmt

Re-compile when `--compile` is passed to an install operation (#9378)
  crates/uv/src/commands/pip/operations.rs
  crates/uv/tests/it/pip_sync.rs
Due: cargo-fmt

Add the differences between `pip install` and `uv pip install` installation directories in the pip compatibility document.
  docs/pip/compatibility.md
Due: none

Small spelling adjust per STYLE.md
  docs/pip/compatibility.md
Due: none

feat: add support for `--no-extra` flag and setting
  crates/uv-cli/src/lib.rs
  crates/uv-configuration/src/extras.rs
  crates/uv-requirements/src/source_tree.rs
  crates/uv-resolver/src/lock/requirements_txt.rs
  crates/uv-resolver/src/lock/target.rs
  crates/uv-settings/src/settings.rs
  crates/uv/src/settings.rs
Due: cargo-fmt, cargo-dev-generate-all

uv-resolver: fix Display impl for UniversalMarker
  crates/uv-resolver/src/universal_marker.rs
Due: cargo-fmt

uv-resolver: add "include" rules to `ResolverEnvironment`
  crates/uv-resolver/src/resolver/environment.rs
  crates/uv-resolver/src/resolver/mod.rs
Due: cargo-fmt

uv-resolver: slight tweek to try_universal_markers
  crates/uv-resolver/src/resolution/output.rs
  crates/uv-resolver/src/resolver/environment.rs
Due: cargo-fmt

uv-pep508: add MarkerTree::implies
  crates/uv-pep508/src/marker/tree.rs
Due: cargo-fmt
