Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

.pre-commit-config.yaml:

fail_fast: true

exclude: |
  (?x)^(
    .*/(snapshots)/.*|
  )$

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.20.2
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.26.0
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: local
    hooks:
      - id: cargo-dev-generate-all
        name: cargo dev generate-all
        entry: cargo dev generate-all
        language: system
        types: [rust]
        pass_filenames: false
        files: ^crates/(uv-cli|uv-settings)/

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

Make `augment_requirement` a method
  crates/uv-distribution-types/src/specified_requirement.rs
  crates/uv/src/commands/project/add.rs
Due: cargo-fmt

Remove superfluous borrow
  crates/uv-python/src/virtualenv.rs
Due: cargo-fmt

Docker builds target rust toolchain with bundled musl v1.2.5 (#16584)
  Dockerfile
  rust-toolchain.toml
Due: none

Make `augment_requirement` a method (#16592)
  crates/uv-distribution-types/src/specified_requirement.rs
  crates/uv/src/commands/project/add.rs
Due: cargo-fmt

Add initial work
  crates/uv-build-backend/src/metadata.rs
  crates/uv-publish/src/lib.rs
  crates/uv-pypi-types/src/metadata/metadata23.rs
Due: cargo-fmt

Fix lint
  crates/uv-build-backend/src/metadata.rs
Due: cargo-fmt

Fix lint
  crates/uv-pypi-types/src/metadata/metadata23.rs
Due: cargo-fmt

Update line
  docs/concepts/configuration-files.md
Due: none

Prettier fix
  docs/concepts/configuration-files.md
Due: none

review feedback
  docs/reference/storage.md
Due: none

Add debug logging for exclude-newer filtering
  crates/uv-resolver/src/candidate_selector.rs
  crates/uv-resolver/src/pubgrub/report.rs
  crates/uv-resolver/src/resolver/batch_prefetch.rs
  crates/uv-resolver/src/resolver/mod.rs
Due: cargo-fmt

Accept multiple packages in uv export
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/project/export.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/export.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Accept multiple packages in `uv export` (#16603)
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/project/export.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/export.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Remove fast path from uv-git fetch
  crates/uv-distribution/src/source/mod.rs
  crates/uv-git/src/git.rs
  crates/uv-git/src/resolver.rs
  crates/uv-git/src/source.rs
Due: cargo-fmt

Fix test + styling
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Add managed-prerelease upgrade hint to `uv run`
  crates/uv/src/commands/project/run.rs
  crates/uv/tests/it/run.rs
Due: cargo-fmt

Remove `Result` return type from test
  crates/uv/tests/it/run.rs
Due: cargo-fmt

Add variant suffix
  crates/uv/src/commands/project/run.rs
Due: cargo-fmt

add docs: why both relative_to and url.given() are needed
  crates/uv-resolver/src/lock/mod.rs
Due: cargo-fmt

Address comments
  crates/uv-python/src/downloads.rs
  crates/uv-python/src/installation.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/tests/it/run.rs
Due: cargo-fmt

Pull out specific variant
  crates/uv-python/src/downloads.rs
Due: cargo-fmt

Make `try_from_key` infer prerelease
  crates/uv-python/src/downloads.rs
  crates/uv-python/src/installation.rs
Due: cargo-fmt

Update snapshots
  crates/uv/tests/it/python_find.rs
Due: cargo-fmt

Remove warning for explicit pre-releases
  crates/uv/tests/it/python_find.rs
Due: cargo-fmt

Remove superfluous tests
  crates/uv/tests/it/run.rs
Due: cargo-fmt

Handle externally managed system Pythons when validating global installs
  scripts/check_system_python.py
Due: none

Fix typo in uv tool list doc
  crates/uv-cli/src/lib.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Completed assignment.sh with data organization logic
  assignment.sh
Due: none

Updated assignment.sh with data organization
  assignment.sh
Due: none

Fix typo in uv tool list doc (#16625)
  crates/uv-cli/src/lib.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Add expectation for externally managed marker in x86-64 macOS system test
  .github/workflows/ci.yml
Due: none

Remove fast path from `uv-git` fetch (#16607)
  crates/uv-distribution/src/source/mod.rs
  crates/uv-git/src/git.rs
  crates/uv-git/src/resolver.rs
  crates/uv-git/src/source.rs
Due: cargo-fmt

Fix inclusive constraints on available package versions in resolver errors
  crates/uv-resolver/src/pubgrub/report.rs
  crates/uv/tests/it/lock_scenarios.rs
  crates/uv/tests/it/pip_compile.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/pip_install_scenarios.rs
Due: cargo-fmt

Add expectation for externally managed marker in x86-64 macOS system test (#16628)
  .github/workflows/ci.yml
Due: none

Show help on `uv build -h`
  crates/uv-build/python/uv_build/__main__.py
Due: none

Show help on `uv build -h` (#16632)
  crates/uv-build/python/uv_build/__main__.py
Due: none

Fix inclusive constraints on available package versions in resolver errors (#16629)
  crates/uv-resolver/src/pubgrub/report.rs
  crates/uv/tests/it/lock_scenarios.rs
  crates/uv/tests/it/pip_compile.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/pip_install_scenarios.rs
Due: cargo-fmt

Add comment
  crates/uv-python/src/virtualenv.rs
Due: cargo-fmt

Bump version to 0.9.8
  CHANGELOG.md
  Cargo.lock
  crates/uv-build/Cargo.toml
  crates/uv-build/pyproject.toml
  crates/uv-version/Cargo.toml
  crates/uv/Cargo.toml
  docs/concepts/build-backend.md
  docs/concepts/projects/init.md
  docs/concepts/projects/workspaces.md
  docs/getting-started/installation.md
  docs/guides/integration/aws-lambda.md
  docs/guides/integration/docker.md
  docs/guides/integration/github.md
  docs/guides/integration/pre-commit.md
  pyproject.toml
Due: none

Show workspace dependencies in `uv workspace metadata`
  crates/uv/src/commands/workspace/metadata.rs
  crates/uv/tests/it/workspace_metadata.rs
Due: cargo-fmt
