Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

.pre-commit-config.yaml:

fail_fast: true

exclude: |
  (?x)^(
    .*/(snapshots)/.*|
  )$

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.42.3
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: local
    hooks:
      - id: cargo-dev-generate-all
        name: cargo dev generate-all
        entry: cargo dev generate-all
        language: system
        types: [rust]
        pass_filenames: false
        files: ^crates/(uv-cli|uv-settings)/

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --ignore-unknown
        language: node
        additional_dependencies: ["prettier@3"]
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

Respect --require-hashes when installing from pylock.toml files
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/sync.rs
  crates/uv/src/commands/pylock.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/pip_sync.rs
Due: cargo-fmt

Clarify tool install executable conflicts
  crates/uv/src/commands/tool/common.rs
  crates/uv/tests/it/tool_install.rs
Due: cargo-fmt

fix: show LockMismatch error with --quiet flag (#19326)
  crates/uv/src/commands/project/sync.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

add 'uv cache ls' command: extract libraries + version + diskspace from the cache and print as terminal list or json, with tests and error handling tested
  crates/uv-cli/src/lib.rs
  crates/uv-test/src/lib.rs
  crates/uv/src/commands/cache_ls.rs
  crates/uv/src/commands/mod.rs
  crates/uv/src/lib.rs
  crates/uv/tests/it/cache_ls.rs
  crates/uv/tests/it/main.rs
Due: cargo-fmt, cargo-dev-generate-all

Remove stale uv-bench platform tags input
  crates/uv-bench/inputs/platform_tags.rs
Due: cargo-fmt

Avoid applying .env files in parent process
  crates/uv/src/commands/tool/run.rs
  crates/uv/tests/it/tool_run.rs
Due: cargo-fmt

Sync latest Python releases
  crates/uv-dev/src/generate_sysconfig_mappings.rs
  crates/uv-python/download-metadata.json
  crates/uv-python/src/sysconfig/generated_mappings.rs
  crates/uv-test/src/lib.rs
Due: cargo-fmt

remore reference to 3.14.5rc1
  crates/uv/tests/it/python_upgrade.rs
Due: cargo-fmt

Fix `uv tree` showing extra-conditional deps for packages required without extras
  crates/uv-resolver/src/lock/tree.rs
  crates/uv/tests/it/tree.rs
Due: cargo-fmt

Dedupe by activated extras
  crates/uv-resolver/src/lock/tree.rs
  crates/uv/tests/it/tree.rs
Due: cargo-fmt

Dedupe on node
  crates/uv-resolver/src/lock/tree.rs
  crates/uv/tests/it/tree.rs
Due: cargo-fmt

Update crates/uv/src/commands/tool/run.rs
  crates/uv/src/commands/tool/run.rs
Due: cargo-fmt

fix: use temporary venv for scripts with --isolated flag
  crates/uv/src/commands/project/run.rs
  crates/uv/tests/it/run.rs
Due: cargo-fmt

Fixes for #16455
  crates/uv-python/src/interpreter.rs
Due: cargo-fmt

Remove workaround from #18815
  crates/uv/src/commands/python/uninstall.rs
Due: cargo-fmt

Add comment to regression test
  crates/uv/tests/it/python_install.rs
Due: cargo-fmt

Ensure publish to crates.io is idempotent
  .github/workflows/publish-crates.yml
  scripts/publish-crates.py
Due: none

[ISSUE-19355]
  .github/workflows/bench.yml
Due: none

[ISSUE-19355] remove unnecessary build step
  .github/workflows/bench.yml
Due: none

[ISSUE-19355] add macOS walltime benchmark
  .github/workflows/bench.yml
Due: none

Fix JUnit upload on Windows runners
  .github/workflows/test.yml
Due: none

Ignore top_level.txt entries in uninstall that are not valid Python identifiers
  Cargo.lock
  Cargo.toml
  crates/uv-install-wheel/Cargo.toml
  crates/uv-install-wheel/src/uninstall.rs
  crates/uv-installer/src/uninstall.rs
  crates/uv/tests/it/pip_uninstall.rs
Due: cargo-fmt

Accept arbitrary, but reject paths
  Cargo.lock
  Cargo.toml
  crates/uv-install-wheel/Cargo.toml
  crates/uv-install-wheel/src/uninstall.rs
  crates/uv/tests/it/pip_uninstall.rs
Due: cargo-fmt

Support no-editable in uv config
  crates/uv-settings/src/lib.rs
  crates/uv-settings/src/settings.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/export.rs
  crates/uv/tests/it/run.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt, cargo-dev-generate-all

Update settings snapshots
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/show_settings.rs
Due: cargo-fmt

docs: fix indefinite article in two doc/assertion strings
  crates/uv-pypi-types/src/metadata/metadata23.rs
  crates/uv-python/src/lib.rs
Due: cargo-fmt

Address no-editable review feedback
  crates/uv/src/settings.rs
  crates/uv/tests/it/export.rs
Due: cargo-fmt

Fix no-editable clippy warning
  crates/uv/src/settings.rs
Due: cargo-fmt

Update changelog
  CHANGELOG.md
Due: none

Respect required-environments in uv pip compile
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/pip_compile.rs
  crates/uv/tests/it/show_settings.rs
Due: cargo-fmt

Simplify release architecture parsing
  crates/uv-platform-tags/src/platform_tag.rs
Due: cargo-fmt

Add missing metadata to test
  crates/uv/tests/it/build_backend.rs
Due: cargo-fmt

Reject empty import namespace metadata
  crates/uv-build-backend/src/metadata.rs
Due: cargo-fmt

Warn on missing import metadata prefixes
  crates/uv-build-backend/src/metadata.rs
Due: cargo-fmt

Use published async zip rc2
  Cargo.lock
  Cargo.toml
Due: none

Remove write paths
  Cargo.lock
  Cargo.toml
  crates/uv-build-backend/Cargo.toml
  crates/uv-build-backend/src/lib.rs
  crates/uv-build-backend/src/wheel.rs
  crates/uv-trampoline-builder/Cargo.toml
  crates/uv-trampoline-builder/src/lib.rs
Due: cargo-fmt

Review feedback
  crates/uv-build-backend/src/wheel.rs
  crates/uv-extract/src/sync.rs
  crates/uv-extract/src/vendor/cloneable_seekable_reader.rs
Due: cargo-fmt

Update uv build wheel snapshot
  crates/uv-build-backend/src/lib.rs
  crates/uv-extract/src/vendor/cloneable_seekable_reader.rs
Due: cargo-fmt
