Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

.pre-commit-config.yaml:

fail_fast: true

exclude: |
  (?x)^(
    .*/(snapshots)/.*|
  )$

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.20.2
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.26.0
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: local
    hooks:
      - id: cargo-dev-generate-all
        name: cargo dev generate-all
        entry: cargo dev generate-all
        language: system
        types: [rust]
        pass_filenames: false
        files: ^crates/(uv-cli|uv-settings)/

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

define `UV_USE_ACTIVE_ENVIRONMENT` as an alternative to `--active`
  crates/uv-cli/src/lib.rs
  crates/uv-static/src/env_vars.rs
  crates/uv/tests/it/run.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt, cargo-dev-generate-all

add docs for the new env var
  docs/configuration/environment.md
  docs/reference/cli.md
Due: none

generate docs properly
  crates/uv-static/src/env_vars.rs
  docs/configuration/environment.md
  docs/reference/cli.md
Due: cargo-fmt

allow Python version ranges, e.g. `uvx 'python>3.8,<3.10'`
  crates/uv-python/src/discovery.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/tests/it/tool_run.rs
Due: cargo-fmt

merge the two managed::Error variants in discovery::Error
  crates/uv-python/src/discovery.rs
Due: cargo-fmt

update test
  crates/uv/tests/it/pip_compile.rs
Due: cargo-fmt

fix too-specific wording for the discovery::Error variant
  crates/uv-python/src/discovery.rs
Due: cargo-fmt

restore the prior @latest error message
  crates/uv-python/src/discovery.rs
  crates/uv/tests/it/tool_run.rs
Due: cargo-fmt

fix windows snap regex
  crates/uv/tests/it/common/mod.rs
Due: cargo-fmt

Disallow arm64 Windows Python installs for now
  crates/uv-python/src/platform.rs
Due: cargo-fmt

make the error message clearer when running distroless containers (#13549)
  crates/uv-python/src/discovery.rs
  crates/uv-python/src/downloads.rs
  crates/uv-python/src/libc.rs
  crates/uv-python/src/managed.rs
Due: cargo-fmt

Use codspeed runner for wall time benchmarking (#13586)
  .github/workflows/ci.yml
Due: none

Implement ordering for Python architectures to prefer native installations
  crates/uv-python/src/installation.rs
  crates/uv-python/src/platform.rs
Due: cargo-fmt

Implement ordering for Python architectures to prefer native installations (#13709)
  crates/uv-python/src/installation.rs
  crates/uv-python/src/platform.rs
Due: cargo-fmt

only conditionally consider os/arch when filtering downloads
  crates/uv/src/commands/python/list.rs
Due: cargo-fmt

fmt
  crates/uv/src/commands/python/list.rs
Due: cargo-fmt

improve the explanation of the env var
  crates/uv-static/src/env_vars.rs
  docs/configuration/environment.md
Due: cargo-fmt

Only show the first match per platform (and architecture) by default in `uv python list` (#13721)
  crates/uv/src/commands/python/list.rs
Due: cargo-fmt

Track implicit vs explicit architecture requests
  crates/uv-python/src/discovery.rs
  crates/uv-python/src/downloads.rs
  crates/uv/src/commands/python/install.rs
  crates/uv/tests/it/python_find.rs
Due: cargo-fmt

Differentiate between implicit vs explicit architecture requests (#13723)
  crates/uv-python/src/discovery.rs
  crates/uv-python/src/downloads.rs
  crates/uv/src/commands/python/install.rs
  crates/uv/tests/it/python_find.rs
Due: cargo-fmt

Allow discovery of x86-64 managed Python builds on macOS
  crates/uv-python/src/platform.rs
  crates/uv/tests/it/python_install.rs
Due: cargo-fmt

Allow discovery of x86-64 managed Python builds on macOS (#13722)
  crates/uv-python/src/platform.rs
  crates/uv/tests/it/python_install.rs
Due: cargo-fmt

Add basic network error tests
  crates/uv/tests/it/main.rs
  crates/uv/tests/it/network.rs
Due: cargo-fmt

Add tests for IO Error retries
  Cargo.lock
  Cargo.toml
  crates/uv/tests/it/network.rs
Due: cargo-fmt

comment wording
  crates/uv-python/src/discovery.rs
Due: cargo-fmt

Sync latest Python releases
  crates/uv-python/download-metadata.json
Due: none

close the bad linux range
  crates/uv-python/fetch-download-metadata.py
Due: none

unhide the alpha
  crates/uv-python/fetch-download-metadata.py
Due: none

unhide alpha for real
  crates/uv-python/download-metadata.json
  crates/uv-python/fetch-download-metadata.py
Due: none

update snapshot
  crates/uv/tests/it/python_install.rs
Due: cargo-fmt

complete remove blocklist
  crates/uv-python/fetch-download-metadata.py
Due: none

allow running non-default Python interpreters directly via uvx (#13583)
  crates/uv-python/src/discovery.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/mod.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/tests/it/tool_run.rs
Due: cargo-fmt

lint
  crates/uv-python/fetch-download-metadata.py
Due: none

update python build standalone, unblocklist linux updates (#13732)
  crates/uv-python/download-metadata.json
  crates/uv-python/fetch-download-metadata.py
  crates/uv/tests/it/python_install.rs
Due: cargo-fmt

Don't fail direct URL hash checking with dependency metadata
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-distribution/src/metadata/mod.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

.
  crates/uv-build-backend/src/lib.rs
  crates/uv-build-backend/src/settings.rs
Due: cargo-fmt

Don't fail direct URL hash checking with dependency metadata (#13736)
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-distribution/src/metadata/mod.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Bump version to 0.7.9
  CHANGELOG.md
  Cargo.lock
  crates/uv-build/Cargo.toml
  crates/uv-build/pyproject.toml
  crates/uv-version/Cargo.toml
  crates/uv/Cargo.toml
  docs/configuration/build-backend.md
  docs/getting-started/installation.md
  docs/guides/integration/aws-lambda.md
  docs/guides/integration/docker.md
  docs/guides/integration/github.md
  docs/guides/integration/pre-commit.md
  pyproject.toml
Due: none

Bump version to 0.7.9 (#13739)
  CHANGELOG.md
  Cargo.lock
  crates/uv-build/Cargo.toml
  crates/uv-build/pyproject.toml
  crates/uv-version/Cargo.toml
  crates/uv/Cargo.toml
  docs/configuration/build-backend.md
  docs/getting-started/installation.md
  docs/guides/integration/aws-lambda.md
  docs/guides/integration/docker.md
  docs/guides/integration/github.md
  docs/guides/integration/pre-commit.md
  pyproject.toml
Due: none
