Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-dev-generate-all:
  name: cargo dev generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

Set `UV` to the uv executable path (#11326)
  crates/uv-static/src/env_vars.rs
  crates/uv/src/bin/uv.rs
  crates/uv/src/lib.rs
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/run.rs
  docs/configuration/environment.md
Due: cargo-fmt

Bump alpine default tag to 3.21 (#11157)
  .github/workflows/build-docker.yml
Due: none

Include archive bucket version in archive pointers
  crates/uv-cache/src/lib.rs
  crates/uv-distribution/src/archive.rs
  crates/uv-distribution/src/index/cached_wheel.rs
  crates/uv/tests/it/cache_prune.rs
Due: cargo-fmt

Optimize flattening in apache airflow workspace (#11313)
  crates/uv-distribution/src/metadata/build_requires.rs
  crates/uv-distribution/src/metadata/lowering.rs
  crates/uv-distribution/src/metadata/requires_dist.rs
  crates/uv-pep508/src/marker/tree.rs
Due: cargo-fmt

Add note about available versions (#11331)
  crates/uv-cli/src/lib.rs
  crates/uv/tests/it/help.rs
  docs/concepts/python-versions.md
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Respect `no-build` label in Docker image builds
  .github/workflows/build-docker.yml
Due: none

Include archive bucket version in archive pointers (#11306)
  crates/uv-cache/src/lib.rs
  crates/uv-distribution/src/archive.rs
  crates/uv-distribution/src/index/cached_wheel.rs
  crates/uv/tests/it/cache_prune.rs
Due: cargo-fmt

Use refined specifiers when logging narrowed Python range
  crates/uv-resolver/src/requires_python.rs
Due: cargo-fmt

Use files instead of junctions on Windows
  Cargo.lock
  Cargo.toml
  crates/uv-cache/Cargo.toml
  crates/uv-cache/src/cli.rs
  crates/uv-cache/src/lib.rs
  crates/uv-distribution-filename/src/wheel.rs
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-distribution/src/index/built_wheel_index.rs
  crates/uv-distribution/src/index/cached_wheel.rs
  crates/uv-distribution/src/index/registry_wheel_index.rs
  crates/uv-fs/Cargo.toml
  crates/uv-fs/src/lib.rs
  crates/uv/src/commands/project/environment.rs
  crates/uv/tests/it/cache_prune.rs
Due: cargo-fmt

Make it relative
  Cargo.lock
  crates/uv-cache/src/lib.rs
  crates/uv-cache/src/link.rs
  crates/uv-distribution/src/index/cached_wheel.rs
  crates/uv-fs/src/lib.rs
  crates/uv-virtualenv/Cargo.toml
  crates/uv-virtualenv/src/virtualenv.rs
  crates/uv/src/commands/python/uninstall.rs
Due: cargo-fmt

Use a link abstraction instead of writing a path
  Cargo.lock
  crates/uv-cache/src/cli.rs
  crates/uv-cache/src/lib.rs
  crates/uv-cache/src/link.rs
  crates/uv-distribution/src/archive.rs
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-distribution/src/index/built_wheel_index.rs
  crates/uv-distribution/src/index/cached_wheel.rs
  crates/uv-distribution/src/index/registry_wheel_index.rs
  crates/uv-fs/src/lib.rs
  crates/uv-virtualenv/Cargo.toml
  crates/uv-virtualenv/src/virtualenv.rs
  crates/uv/src/commands/project/environment.rs
Due: cargo-fmt

Use refined specifiers when logging narrowed Python range (#11334)
  crates/uv-resolver/src/requires_python.rs
Due: cargo-fmt

Tweak
  crates/uv-cli/src/lib.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Add docs for `uv tool install --editable` (#11280)
  crates/uv-cli/src/lib.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Patch pkg-config files to be relocatable (#11291)
  crates/uv-python/src/sysconfig/mod.rs
Due: cargo-fmt

Task runner demo: poe
  pyproject.toml
  uv.lock
Due: none

Restore junctions for toolchain migration
  Cargo.lock
  Cargo.toml
  crates/uv-cache/src/archive.rs
  crates/uv-cache/src/lib.rs
  crates/uv-distribution/src/index/built_wheel_index.rs
  crates/uv-distribution/src/index/registry_wheel_index.rs
  crates/uv-fs/Cargo.toml
  crates/uv-fs/src/lib.rs
Due: cargo-fmt

Add test case for trailing `/`
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Support extras in @ requests for tools
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/mod.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/tests/it/tool_run.rs
Due: cargo-fmt

Support extras in `@` requests for tools (#11335)
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/mod.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/tests/it/tool_run.rs
Due: cargo-fmt

Respect `no-build` label in Docker image builds (#11333)
  .github/workflows/build-docker.yml
Due: none

Fix credential caching for index roots when URL ends in `simple/`
  crates/uv-distribution-types/src/index.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Fix broken anchors in readme and docs index
  README.md
  docs/index.md
Due: none

Ignore 'egg' fragment in HTML Simple API response
  crates/uv-client/src/html.rs
Due: cargo-fmt

Ignore 'egg' fragment in HTML Simple API response (#11340)
  crates/uv-client/src/html.rs
Due: cargo-fmt

Fix broken links in README.md
  README.md
Due: none

Prettier
  README.md
Due: none

Fix broken anchors in readme and docs index (#11338)
  README.md
  docs/index.md
Due: none

Fix credential caching for index roots when URL ends in `simple/` (#11336)
  crates/uv-distribution-types/src/index.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

feat: migrate more windows calls to rust
  .github/workflows/ci.yml
  crates/uv-trampoline-builder/src/lib.rs
  crates/uv-trampoline/Cargo.toml
  crates/uv-trampoline/src/bounce.rs
  crates/uv-trampoline/src/lib.rs
Due: cargo-fmt

feat: wide-char impl
  crates/uv-trampoline/src/bounce.rs
  crates/uv-trampoline/src/diagnostics.rs
Due: cargo-fmt

tmp: temporary builds
  crates/uv-trampoline/trampolines/uv-trampoline-aarch64-console.exe
  crates/uv-trampoline/trampolines/uv-trampoline-aarch64-gui.exe
  crates/uv-trampoline/trampolines/uv-trampoline-i686-console.exe
  crates/uv-trampoline/trampolines/uv-trampoline-i686-gui.exe
  crates/uv-trampoline/trampolines/uv-trampoline-x86_64-console.exe
  crates/uv-trampoline/trampolines/uv-trampoline-x86_64-gui.exe
Due: none

Allow PEP 508 requirements in tool requests
  crates/uv/src/commands/tool/mod.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/tests/it/tool_run.rs
Due: cargo-fmt

use basedpyright
  .github/workflows/ci.yml
Due: none

Attempt to reproduce tar failures
  .github/workflows/build-binaries.yml
  .github/workflows/build-docker.yml
  .github/workflows/ci.yml
  .github/workflows/publish-docs.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/release.yml
  .github/workflows/setup-dev-drive.ps1
  .github/workflows/sync-python-releases.yml
  Cargo.lock
  crates/uv-distribution/src/source/mod.rs
  crates/uv-python/Cargo.toml
Due: cargo-fmt

Random tar changes
  .dockerignore
  Cargo.lock
  crates/uv-distribution/src/source/mod.rs
  crates/uv-virtualenv/Cargo.toml
  crates/uv/tests/it/run.rs
  foo/Dockerfile
Due: cargo-fmt

Use 0.5.24
  .github/workflows/ci.yml
  Cargo.lock
  crates/uv/Cargo.toml
  crates/uv/src/commands/build_frontend.rs
Due: cargo-fmt

Allow sync and update environment methods to take modifications
  crates/uv/src/commands/project/environment.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/upgrade.rs
Due: cargo-fmt

Allow sync and update environment methods to take modifications (#11346)
  crates/uv/src/commands/project/environment.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/upgrade.rs
Due: cargo-fmt

feat: add uv version to lock file (#11319)
  crates/uv-resolver/src/lock/mod.rs
  crates/uv/src/commands/project/lock.rs
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/(snapshots)/.*|
)$

  cargo-dev-generate-all: any of: ^crates/(uv-cli|uv-settings)/ and \.rs$ and not ((?x)^(
  .*/(snapshots)/.*|
)$
)
