Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

.pre-commit-config.yaml:

fail_fast: true

exclude: |
  (?x)^(
    .*/(snapshots)/.*|
  )$

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.42.3
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: local
    hooks:
      - id: cargo-dev-generate-all
        name: cargo dev generate-all
        entry: cargo dev generate-all
        language: system
        types: [rust]
        pass_filenames: false
        files: ^crates/(uv-cli|uv-settings)/

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --ignore-unknown
        language: node
        additional_dependencies: ["prettier@3"]
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

Reject ignored cache overrides in integration snapshots
  crates/uv-test/src/lib.rs
Due: cargo-fmt

Stabilize publish index readiness checks (#21050)
  scripts/publish/test_publish.py
Due: none

Add a cache directory builder to test contexts
  crates/uv-test/src/lib.rs
  crates/uv/tests/build/cache.rs
  crates/uv/tests/it/ecosystem.rs
Due: cargo-fmt

Propagate tool enumeration errors in 'uv tool upgrade --all'
  crates/uv/src/commands/tool/upgrade.rs
  crates/uv/tests/tool/tool_upgrade.rs
Due: cargo-fmt

Use the cache directory builder throughout integration tests
  crates/uv/tests/build/cache.rs
  crates/uv/tests/it/version.rs
  crates/uv/tests/sync/centralized_project_envs.rs
  crates/uv/tests/workspace/workspace_dir.rs
  crates/uv/tests/workspace/workspace_list.rs
Due: cargo-fmt

Normalize nested test cache paths on Windows
  crates/uv-test/src/lib.rs
  crates/uv/tests/build/cache.rs
Due: cargo-fmt

Reproduce free-threaded Python range selection
  crates/uv/tests/python/python_find.rs
Due: cargo-fmt

Remove redundant cache initialization snapshot filters
  crates/uv/tests/build/cache.rs
Due: cargo-fmt

Simplify free-threaded Python range reproduction
  crates/uv/tests/python/python_find.rs
Due: cargo-fmt

Test unnamed Git source build exceptions
  crates/uv/tests/project/edit.rs
Due: cargo-fmt

Document removing uv-receipt.json on Windows uninstall
  docs/getting-started/installation.md
Due: none

cleanup
  crates/uv/src/commands/project/add.rs
  crates/uv/src/lib.rs
  crates/uv/tests/project/run.rs
Due: cargo-fmt

merge test cases
  crates/uv/tests/project/run.rs
Due: cargo-fmt

Fix relative indexes in PEP 723 scripts (#21097)
  crates/uv-settings/src/lib.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/lib.rs
  crates/uv/tests/project/edit.rs
  crates/uv/tests/project/run.rs
Due: cargo-fmt, cargo-dev-generate-all

Refactor pip options conversion
  crates/uv-cli/src/options.rs
  crates/uv/src/settings.rs
Due: cargo-fmt, cargo-dev-generate-all

allow `--index` and `--default-index` to take names
  crates/uv-cli/src/lib.rs
  crates/uv-cli/src/options.rs
  crates/uv-dev/src/generate_preview_features_reference.rs
  crates/uv-preview/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/project/edit.rs
  crates/uv/tests/sync/show_settings.rs
  docs/concepts/indexes.md
  uv.schema.json
Due: cargo-fmt, cargo-dev-generate-all

Test named indexes across settings resolution paths
  crates/uv/tests/sync/show_settings.rs
Due: cargo-fmt

Warn on ambiguous index paths for all commands
  crates/uv-cli/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/sync/show_settings.rs
Due: cargo-fmt, cargo-dev-generate-all

include hashes in cyclonedx exports
  crates/uv-resolver/src/lock/export/cyclonedx_json.rs
  crates/uv/src/commands/project/export.rs
  crates/uv/tests/project/export.rs
Due: cargo-fmt

Address review comments
  crates/uv-cli/src/lib.rs
  crates/uv-static/src/env_vars.rs
  crates/uv/tests/project/edit.rs
  crates/uv/tests/sync/show_settings.rs
  docs/concepts/indexes.md
  docs/concepts/projects/dependencies.md
  docs/guides/integration/pytorch.md
Due: cargo-fmt, cargo-dev-generate-all

Support referencing indexes by name via `--index` and `--default-index` (#17455)
  crates/uv-cli/src/lib.rs
  crates/uv-cli/src/options.rs
  crates/uv-dev/src/generate_preview_features_reference.rs
  crates/uv-preview/src/lib.rs
  crates/uv-static/src/env_vars.rs
  crates/uv/src/settings.rs
  crates/uv/tests/project/edit.rs
  crates/uv/tests/sync/show_settings.rs
  docs/concepts/indexes.md
  docs/concepts/projects/dependencies.md
  docs/guides/integration/pytorch.md
  uv.schema.json
Due: cargo-fmt, cargo-dev-generate-all

Pass resolver manifest into lock construction
  crates/uv-resolver/src/lock/mod.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/tool/common.rs
Due: cargo-fmt

Get rid of `Lock::with_manifest`, make `Lock::from_resolution` take the manifest (#21132)
  crates/uv-resolver/src/lock/mod.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/tool/common.rs
Due: cargo-fmt

Centralize editable URL conversion
  crates/uv-pypi-types/src/parsed_url.rs
  crates/uv-requirements-txt/src/requirement.rs
Due: cargo-fmt

Simplify editable requirement errors and hints
  Cargo.lock
  crates/uv-requirements-txt/Cargo.toml
  crates/uv-requirements-txt/src/lib.rs
  crates/uv-requirements-txt/src/requirement.rs
  crates/uv-requirements/src/specification.rs
  crates/uv/src/commands/diagnostics.rs
  crates/uv/tests/pip_compile/pip_compile.rs
  crates/uv/tests/pip_install/pip_install.rs
Due: cargo-fmt

Fall back to logical cache accounting on unsupported filesystems
  crates/uv-cache/src/removal.rs
  crates/uv-fs/src/lib.rs
  crates/uv-fs/src/space.rs
  crates/uv/tests/build/cache_clean.rs
  crates/uv/tests/build/cache_prune.rs
Due: cargo-fmt

Fall back to logical cache accounting on unsupported filesystems (#21133)
  crates/uv-cache/src/removal.rs
  crates/uv-fs/src/lib.rs
  crates/uv-fs/src/space.rs
  crates/uv/tests/build/cache_clean.rs
  crates/uv/tests/build/cache_prune.rs
Due: cargo-fmt

Simplify Python installation key ordering
  crates/uv-python/src/discovery.rs
  crates/uv-python/src/lib.rs
Due: cargo-fmt

Order equal-priority Python installations by key
  crates/uv-python/src/discovery.rs
  crates/uv-python/src/lib.rs
  crates/uv/tests/python/python_find.rs
Due: cargo-fmt

Simplify interpreter groups to vectors
  crates/uv-python/src/discovery.rs
Due: cargo-fmt

Expand interpreter group ordering regression coverage
  crates/uv/tests/python/python_find.rs
Due: cargo-fmt

Preserve parallel queries within interpreter groups
  crates/uv-python/src/discovery.rs
Due: cargo-fmt

Document interpreter groups for exact and range requests
  crates/uv-python/src/discovery.rs
Due: cargo-fmt

Clarify interpreter grouping example
  crates/uv-python/src/discovery.rs
Due: cargo-fmt

Preserve executable discovery and query boundaries
  crates/uv-python/src/discovery.rs
Due: cargo-fmt

associate cyclonedx hashes with distribution artifacts
  crates/uv-resolver/src/lock/export/cyclonedx_json.rs
  crates/uv/tests/project/export.rs
Due: cargo-fmt

Simplify editable requirement errors and hints (#21130)
  Cargo.lock
  crates/uv-pypi-types/src/parsed_url.rs
  crates/uv-requirements-txt/Cargo.toml
  crates/uv-requirements-txt/src/lib.rs
  crates/uv-requirements-txt/src/requirement.rs
  crates/uv-requirements/src/specification.rs
  crates/uv/src/commands/diagnostics.rs
  crates/uv/tests/pip_compile/pip_compile.rs
  crates/uv/tests/pip_install/pip_install.rs
Due: cargo-fmt

Support per-requirement build settings in requirements files
  crates/uv-distribution-types/src/config_settings.rs
  crates/uv-requirements-txt/src/lib.rs
  crates/uv-requirements/src/specification.rs
  crates/uv-resolver/src/resolution/display.rs
  crates/uv-workspace/src/pyproject_mut.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/sync.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/tests/pip/pip_sync.rs
  crates/uv/tests/pip_compile/pip_compile.rs
  crates/uv/tests/pip_install/pip_install.rs
  crates/uv/tests/project/edit.rs
Due: cargo-fmt
