Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

.pre-commit-config.yaml:

fail_fast: true

exclude: |
  (?x)^(
    .*/(snapshots)/.*|
  )$

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.20.2
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.26.0
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: local
    hooks:
      - id: cargo-dev-generate-all
        name: cargo dev generate-all
        entry: cargo dev generate-all
        language: system
        types: [rust]
        pass_filenames: false
        files: ^crates/(uv-cli|uv-settings)/

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

Update .python-version
  scripts/benchmark/.python-version
Due: none

Avoid showing disjoint marker error with true
  crates/uv-workspace/src/pyproject.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Turn `--verify-hashes` on by default
  crates/uv-settings/src/settings.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/pip_install.rs
  docs/reference/settings.md
Due: cargo-fmt, cargo-dev-generate-all

test default
  crates/uv/src/settings.rs
  crates/uv/tests/it/pip_install.rs
  docs/reference/settings.md
Due: cargo-fmt

fix show settings
  crates/uv/tests/it/show_settings.rs
Due: cargo-fmt

fix build_sha
  crates/uv/tests/it/build.rs
Due: cargo-fmt

suspicious change to make tests pass
  crates/uv/tests/it/build.rs
Due: cargo-fmt

show --no-verify-hashes in --help
  crates/uv-cli/src/lib.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Include trampolines in sdist on Windows
  pyproject.toml
Due: none

Add a dedicated error for include = "dev" with tool.uv.dev-dependencies
  crates/uv-distribution/src/metadata/requires_dist.rs
  crates/uv-resolver/src/lock/target.rs
  crates/uv-workspace/src/dependency_groups.rs
  crates/uv-workspace/src/workspace.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Add a dedicated error for `include = "dev"` with `tool.uv.dev-dependencies` (#9173)
  crates/uv-distribution/src/metadata/requires_dist.rs
  crates/uv-resolver/src/lock/target.rs
  crates/uv-workspace/src/dependency_groups.rs
  crates/uv-workspace/src/workspace.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

make env var precedence work
  crates/uv-cli/src/lib.rs
  crates/uv-cli/src/options.rs
  crates/uv/src/settings.rs
Due: cargo-fmt, cargo-dev-generate-all

cargo dev generate-all
  docs/reference/cli.md
Due: none

Use --no-verify-hashes
  crates/uv-cli/src/lib.rs
  crates/uv-cli/src/options.rs
  crates/uv-configuration/src/hash.rs
  crates/uv-static/src/env_vars.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/show_settings.rs
  docs/configuration/environment.md
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

More tests, etc.
  crates/uv-configuration/src/hash.rs
  crates/uv/tests/it/show_settings.rs
Due: cargo-fmt

Include trampolines in sdist on Windows (#9172)
  pyproject.toml
Due: none

Avoid showing disjoint marker error with `true` (#9169)
  crates/uv-workspace/src/pyproject.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Turn `--verify-hashes` on by default (#9170)
  crates/uv-cli/src/lib.rs
  crates/uv-configuration/src/hash.rs
  crates/uv-settings/src/settings.rs
  crates/uv-static/src/env_vars.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/build.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/show_settings.rs
  docs/configuration/environment.md
  docs/reference/cli.md
  docs/reference/settings.md
Due: cargo-fmt, cargo-dev-generate-all

Sort distributions when computing hash
  crates/uv/src/commands/project/environment.rs
Due: cargo-fmt

Fix typo in environment variable name
  crates/uv-static/src/env_vars.rs
Due: cargo-fmt

Avoid flaky preparedness error in verify_hashes_mismatch
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

cargo dev generate
  docs/reference/cli.md
Due: none

Sort distributions when computing hash (#9185)
  crates/uv/src/commands/project/environment.rs
Due: cargo-fmt

Fixture
  crates/uv/tests/it/show_settings.rs
Due: cargo-fmt

Fix typo in environment variable name (#9186)
  crates/uv-static/src/env_vars.rs
  crates/uv/tests/it/show_settings.rs
  docs/reference/cli.md
Due: cargo-fmt

Update pubgrub to `Ranges::from_iter`
  Cargo.lock
  Cargo.toml
  crates/uv-pep508/src/marker/algebra.rs
  crates/uv-resolver/src/error.rs
Due: cargo-fmt

Update pubgrub to `Ranges::from_iter` (#9145)
  Cargo.lock
  Cargo.toml
  crates/uv-pep508/src/marker/algebra.rs
  crates/uv-resolver/src/error.rs
Due: cargo-fmt

DOC - Fix syntax for local file
  docs/pip/packages.md
Due: none

DOC - Fix syntax for local directory installation (#9193)
  docs/pip/packages.md
Due: none

Fix flaky failure in verify_hashes_mismatch
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Fix flaky failure in `verify_hashes_mismatch` (#9198)
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Migrate to zlib-rs
  Cargo.lock
  crates/uv-performance-flate2-backend/Cargo.toml
Due: none

Ignore clippy error
  crates/uv/src/commands/project/run.rs
Due: cargo-fmt

Migrate to `zlib-rs` (#9184)
  Cargo.lock
  crates/uv-performance-flate2-backend/Cargo.toml
Due: none

Enable zlib-rs on all platforms
  .github/workflows/build-binaries.yml
Due: none

Add hint to use `--script` on unix
  crates/uv/src/commands/project/run.rs
  crates/uv/tests/it/run.rs
Due: cargo-fmt

Enable `zlib-rs` on all platforms (#9202)
  .github/workflows/build-binaries.yml
Due: none

Better error message when `git` is not found
  crates/uv-git/src/git.rs
Due: cargo-fmt

Avoid multiple dependencies in verify_hashes_mismatch
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Avoid multiple dependencies in `verify_hashes_mismatch` (#9207)
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt
