Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-dev-generate-all:
  name: cargo dev generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

Fix stale release job reference
  .github/workflows/release.yml
Due: none

Reject pylock artifacts with mismatched declared sizes
  crates/uv-client/src/registry_client.rs
  crates/uv-client/tests/it/remote_metadata.rs
  crates/uv-dev/src/wheel_metadata.rs
  crates/uv-distribution-types/src/lib.rs
  crates/uv-distribution/src/archive.rs
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-distribution/src/error.rs
  crates/uv-distribution/src/source/mod.rs
  crates/uv-distribution/src/source/revision.rs
  crates/uv-extract/src/hash.rs
  crates/uv-resolver/src/flat_index.rs
  crates/uv-resolver/src/lock/export/pylock_toml.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-resolver/src/version_map.rs
  crates/uv/tests/pip/pip_sync.rs
  crates/uv/tests/pip_install/pip_install.rs
Due: cargo-fmt

Reject mismatched source distribution and wheel names
  crates/uv/src/commands/build_frontend.rs
  crates/uv/tests/build/build.rs
Due: cargo-fmt

Remove unused keyring test dependency
  Cargo.lock
  crates/uv-auth/Cargo.toml
Due: none

Reject dev dependency removal from scripts (#20437)
  crates/uv-cli/src/lib.rs
  crates/uv/tests/project/edit.rs
Due: cargo-fmt, cargo-dev-generate-all

Use aborting panics for Linux tests
  .github/workflows/test.yml
  crates/uv-auth/src/keyring.rs
Due: cargo-fmt

Measure five Linux test-job samples
  .github/workflows/reproduce-bug.yml
Due: none

Validate virtualenv paths before creation
  crates/uv-virtualenv/src/virtualenv.rs
  crates/uv/tests/python/venv.rs
Due: cargo-fmt

Document site initialization requirement during interpreter discovery
  crates/uv-python/src/interpreter.rs
Due: cargo-fmt

Pair Linux test benchmark samples by runner
  .github/workflows/reproduce-bug.yml
Due: none

Address virtualenv path review feedback
  crates/uv-virtualenv/src/virtualenv.rs
  crates/uv/tests/python/venv.rs
Due: cargo-fmt

Show resolved publish settings (#20438)
  crates/uv-pep508/src/verbatim_url.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/sync/show_settings.rs
Due: cargo-fmt

Validate virtualenv paths before creation (#20445)
  crates/uv-virtualenv/src/virtualenv.rs
  crates/uv/tests/python/venv.rs
Due: cargo-fmt

Select pull request reviewers with Codex
  .github/workflows/pull-request-reviewers.yml
  agents/codex/config.toml
  agents/prompts/pull-request-reviewers.md
  agents/schemas/pull-request-reviewers.json
Due: none

Align reviewer automation trigger
  .github/workflows/pull-request-reviewers.yml
Due: none

Drop PyPy bz2 dists (#20423)
  crates/uv-python/download-metadata.json
  crates/uv-python/fetch-download-metadata.py
  crates/uv/tests/python/python_list.rs
Due: cargo-fmt

Document why interpreter discovery cannot use `-S` (#20444)
  crates/uv-python/src/interpreter.rs
Due: cargo-fmt

Benchmark Cargo workspace cache freshness
  .github/workflows/reproduce-bug.yml
Due: none

Isolate workspace cache seed jobs
  .github/workflows/reproduce-bug.yml
Due: none

Keep workspace cache restore keys stable
  .github/workflows/reproduce-bug.yml
Due: none

Add a reusable entry-points reader for legacy uninstalls (#20446)
  crates/uv-install-wheel/src/script.rs
  crates/uv-install-wheel/src/wheel.rs
Due: cargo-fmt

Stop virtualenv discovery at broken child links
  crates/uv-python/src/lib.rs
  crates/uv-python/src/virtualenv.rs
Due: cargo-fmt

Cache Linux workspace test artifacts
  .github/workflows/test.yml
Due: none

Reuse centralized environments through workspace symlinks (#20436)
  crates/uv/src/commands/project/mod.rs
  crates/uv/tests/sync/centralized_project_envs.rs
Due: cargo-fmt

Benchmark workspace cache save and restore
  .github/workflows/reproduce-bug.yml
Due: none

Use script-aware lock mismatch diagnostics
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/lock_target.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/tests/lock/lock.rs
  crates/uv/tests/project/run.rs
  crates/uv/tests/sync/sync.rs
Due: cargo-fmt

Use centralized crates.io publishing policies
  .known-crates
  CONTRIBUTING.md
  scripts/setup-crates-io-publish.py
Due: none

Use cached aborting test builds on macOS
  .github/workflows/test.yml
Due: none

Benchmark macOS workspace test caching
  .github/workflows/reproduce-bug.yml
Due: none

Run centralized crate check during release preparation
  CONTRIBUTING.md
  scripts/release.sh
  scripts/setup-crates-io-publish.py
Due: none

Reuse macOS benchmark cache keys
  .github/workflows/reproduce-bug.yml
Due: none

Align macOS benchmark toolchain cache keys
  .github/workflows/reproduce-bug.yml
Due: none

Use centralized workflow to bootstrap new crates
  CONTRIBUTING.md
  scripts/setup-crates-io-publish.py
  scripts/setup-crates-io-publish.py.lock
Due: none

Update centralized Apply workflow reference
  CONTRIBUTING.md
Due: none

Isolate macOS benchmark keychains
  .github/workflows/reproduce-bug.yml
Due: none

Use aborting panics for Linux tests (#20441)
  .github/workflows/test.yml
  Cargo.lock
  crates/uv-auth/Cargo.toml
  crates/uv-auth/src/keyring.rs
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/(snapshots)/.*|
)$

  cargo-dev-generate-all: any of: ^crates/(uv-cli|uv-settings)/ and \.rs$ and not ((?x)^(
  .*/(snapshots)/.*|
)$
)
