Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-dev-generate-all:
  name: cargo dev generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

Harden direct lock parsing against TOML mismatches
  crates/uv-resolver/src/lock/deserialize.rs
  crates/uv/tests/lock/lock.rs
Due: cargo-fmt

Check locked tools for malware before cache reuse
  crates/uv/src/commands/project/check.rs
  crates/uv/src/commands/project/environment.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/tests/project/check.rs
Due: cargo-fmt

Deduplicate malware checks across project syncs
  crates/uv/src/commands/project/sync.rs
Due: cargo-fmt

Use a set for checked malware dependencies
  crates/uv/src/commands/project/sync.rs
Due: cargo-fmt

Reuse locked package dependency traversal
  crates/uv-resolver/src/lock/mod.rs
Due: cargo-fmt

Refer to preview feature documentation in CLI help
  crates/uv-cli/src/lib.rs
Due: cargo-fmt, cargo-dev-generate-all

Annotate preview feature aliases
  crates/uv-dev/src/generate_preview_features_reference.rs
  crates/uv-macros/src/lib.rs
  crates/uv-preview/src/lib.rs
  crates/uv/tests/sync/show_settings.rs
Due: cargo-fmt

Generate canonical preview feature names
  crates/uv-macros/src/lib.rs
  crates/uv-preview/src/lib.rs
Due: cargo-fmt

Remove redundant preview feature name tests
  crates/uv-preview/src/lib.rs
Due: cargo-fmt

Normalize preview command feature names
  crates/uv-preview/src/lib.rs
  crates/uv/src/commands/project/audit.rs
  crates/uv/src/commands/project/check.rs
  crates/uv/src/commands/project/format.rs
  crates/uv/tests/sync/show_settings.rs
Due: cargo-fmt

Remove redundant issue identity validation
  .github/workflows/issue-triage.yml
  agents/scripts/test_issue_context.py
Due: none

Suppress excluded-package footer with --no-annotate (#20085)
  crates/uv/src/commands/pip/compile.rs
  crates/uv/tests/pip_compile/pip_compile.rs
Due: cargo-fmt

Drop PyPy bz2 dists (#20423)
  crates/uv-python/download-metadata.json
  crates/uv-python/fetch-download-metadata.py
  crates/uv/tests/python/python_list.rs
Due: cargo-fmt

Preserve absolute/relative paths passed to `uv add` (#18402)
  crates/uv-pep508/src/unnamed.rs
  crates/uv-pep508/src/verbatim_url.rs
  crates/uv-pypi-types/src/parsed_url.rs
  crates/uv-workspace/src/pyproject.rs
  crates/uv/tests/project/edit.rs
Due: cargo-fmt

Validate `--upgrade-group` targets (#18957)
  crates/uv-configuration/src/package_options.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/lock_target.rs
  crates/uv/tests/lock/lock.rs
  crates/uv/tests/sync/show_settings.rs
Due: cargo-fmt

Support `--require-hashes` in `requirements.txt files` (#19336)
  crates/uv-configuration/src/hash.rs
  crates/uv-requirements-txt/src/lib.rs
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__line-endings-basic.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__line-endings-constraints-a.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__line-endings-constraints-b.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__line-endings-empty.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__line-endings-for-poetry.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__line-endings-include-a.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__line-endings-include-b.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__line-endings-poetry-with-hashes.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__line-endings-small.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__line-endings-whitespace.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-basic.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-constraints-a.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-constraints-b.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-empty.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-for-poetry.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-include-a.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-include-b.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-poetry-with-hashes.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-small.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-unix-bare-url.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-unix-editable.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-whitespace.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-windows-bare-url.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-windows-editable.txt.snap
  crates/uv-requirements/src/specification.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/sync.rs
  crates/uv/tests/pip/pip_sync.rs
  crates/uv/tests/pip_install/pip_install.rs
Due: cargo-fmt

Avoid duplicate security review comments
  .github/workflows/pull-request-security-review.yml
  agents/prompts/pull-request-security-review.md
Due: none

Preserve failures and prior comments in security reviews
  .github/workflows/pull-request-security-review.yml
Due: none

Simplify direct lock parsing validation
  crates/uv-bench/Cargo.toml
  crates/uv-bench/benches/lock_parsing.rs
  crates/uv-resolver/src/lock/deserialize.rs
  crates/uv/tests/lock/lock.rs
Due: cargo-fmt

Ignore Codex runtime files when creating bug tests
  .github/workflows/reproduce-bug.yml
  .gitignore
Due: none

Support combined upgrade and reinstall in Python install (#20659)
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/python/install.rs
  crates/uv/tests/it/help.rs
  crates/uv/tests/python/python_install.rs
  crates/uv/tests/python/python_upgrade.rs
Due: cargo-fmt, cargo-dev-generate-all

Simplify issue context branch publication
  .github/workflows/issue-triage.yml
  agents/scripts/test_issue_context.py
Due: none

Use canonical issue references in context commits
  .github/workflows/issue-triage.yml
Due: none

Namespace issue context branches by source repository
  .github/workflows/issue-triage.yml
Due: none

Exclude PEP 723 scripts from project checks
  crates/uv/src/commands/project/check.rs
  crates/uv/src/commands/workspace/list.rs
  crates/uv/tests/project/check.rs
Due: cargo-fmt

Remove manual preview feature bit assignments
  crates/uv-preview/src/lib.rs
Due: cargo-fmt

Fix lint for inferred preview feature bits
  crates/uv-preview/src/lib.rs
Due: cargo-fmt

pull out duplicate build-isolation-ish args
  crates/uv-cli/src/lib.rs
  crates/uv-cli/src/options.rs
  crates/uv/src/settings.rs
Due: cargo-fmt, cargo-dev-generate-all

pull out duplicate hash-checking-ish args
  crates/uv-cli/src/lib.rs
  crates/uv/src/settings.rs
Due: cargo-fmt, cargo-dev-generate-all

pull out duplicate sources-ish args
  crates/uv-cli/src/lib.rs
  crates/uv-cli/src/options.rs
  crates/uv/src/settings.rs
Due: cargo-fmt, cargo-dev-generate-all

pull out duplicate version-selection-ish args
  crates/uv-cli/src/lib.rs
  crates/uv-cli/src/options.rs
  crates/uv/src/settings.rs
Due: cargo-fmt, cargo-dev-generate-all

MacOS wheel signing in CI
  .github/workflows/ci.yml
  .github/workflows/plan.yml
  .github/workflows/sign-release-binaries.yml
  scripts/assemble-signed-macos-artifacts.py
  scripts/replace-wheel-binaries.py
Due: none

pull out duplicate fork-strategy-ish args
  crates/uv-cli/src/lib.rs
  crates/uv-cli/src/options.rs
  crates/uv/src/settings.rs
Due: cargo-fmt, cargo-dev-generate-all

Deduplicate PubGrub requirement source conversion
  crates/uv-resolver/src/pubgrub/dependencies.rs
Due: cargo-fmt

Refactor editable requirements to update in place
  crates/uv-requirements-txt/src/requirement.rs
Due: cargo-fmt

Preserve local source paths when merging dependency metadata
  crates/uv-distribution-types/src/cached.rs
  crates/uv-distribution-types/src/lib.rs
  crates/uv-distribution-types/src/local_source.rs
  crates/uv-distribution-types/src/requirement.rs
  crates/uv-installer/src/plan.rs
  crates/uv-pypi-types/src/parsed_url.rs
  crates/uv-requirements-txt/src/lib.rs
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__line-endings-whitespace.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-unix-bare-url.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-unix-editable.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-whitespace.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-windows-bare-url.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-windows-editable.txt.snap
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-resolver/src/manifest.rs
  crates/uv-resolver/src/resolver/urls.rs
  crates/uv/tests/lock/lock.rs
  crates/uv/tests/pip_compile/pip_compile.rs
Due: cargo-fmt

Refactor requirement sources to accept complete parsed URLs
  crates/uv-distribution-types/src/requirement.rs
  crates/uv-distribution-types/src/specified_requirement.rs
Due: cargo-fmt

Group local distribution paths with their original URLs
  crates/uv-client/src/registry_client.rs
  crates/uv-distribution-types/src/buildable.rs
  crates/uv-distribution-types/src/cached.rs
  crates/uv-distribution-types/src/lib.rs
  crates/uv-distribution-types/src/local_source.rs
  crates/uv-distribution-types/src/requirement.rs
  crates/uv-distribution-types/src/resolution.rs
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-distribution/src/index/built_wheel_index.rs
  crates/uv-distribution/src/metadata/lowering.rs
  crates/uv-distribution/src/source/mod.rs
  crates/uv-installer/src/plan.rs
  crates/uv-installer/src/satisfies.rs
  crates/uv-requirements/src/lib.rs
  crates/uv-resolver/src/lock/export/pylock_toml.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-resolver/src/resolver/fork_map.rs
  crates/uv-types/src/hash.rs
  crates/uv-workspace/src/pyproject.rs
  crates/uv-workspace/src/workspace.rs
  crates/uv/src/commands/editable.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/environment.rs
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/(snapshots)/.*|
)$

  cargo-dev-generate-all: any of: ^crates/(uv-cli|uv-settings)/ and \.rs$ and not ((?x)^(
  .*/(snapshots)/.*|
)$
)
