Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-dev-generate-all:
  name: cargo dev generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

Retry failed Depot image publication
  .github/workflows/publish-docker-image.yml
Due: none

Extract Depot push retry helper
  .github/workflows/publish-docker-image.yml
  scripts/depot-push-with-retry.sh
Due: none

Group Docker helpers under scripts/docker
  .github/workflows/publish-docker-image.yml
  scripts/docker/depot-push-with-retry.sh
Due: none

Represent resolver package node kinds with an enum (#21802)
  crates/uv-lock/src/lock/mod.rs
  crates/uv-resolver-types/src/distribution.rs
  crates/uv-resolver-types/src/lib.rs
  crates/uv-resolver-types/src/output.rs
  crates/uv-resolver/src/error.rs
  crates/uv-resolver/src/pubgrub/dependencies.rs
  crates/uv-resolver/src/pubgrub/package.rs
  crates/uv-resolver/src/pubgrub/report.rs
  crates/uv-resolver/src/resolution/output.rs
  crates/uv-resolver/src/resolution/requirements_txt.rs
  crates/uv-resolver/src/resolver/batch_prefetch.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-resolver/src/resolver/resolution.rs
  crates/uv/tests/lock/lock.rs
Due: cargo-fmt

Run formatting checks after CI planning
  .github/workflows/ci.yml
Due: none

Skip redundant CI jobs on main
  .github/workflows/ci.yml
Due: none

Restore the GitLab publishing credential mapping
  .github/workflows/ci.yml
Due: none

Temporarily skip GitLab registry publishing tests (#21812)
  scripts/publish/test_publish.py
Due: none

Categorize the 0.12.14 and 0.12.15 changelog entries
  CHANGELOG.md
Due: none

Keep changelog entries in categorized lists
  agents/prompts/editorialize-changelog.md
Due: none

Clarify the wheel installation regression entry
  CHANGELOG.md
Due: none

Clarify the error rendering changelog entry
  CHANGELOG.md
Due: none

Limit the changelog prompt change to introduction guidance
  agents/prompts/editorialize-changelog.md
Due: none

Use explicit branching for metadata requests
  crates/uv-resolver/src/resolver/mod.rs
Due: cargo-fmt

Bind resolver metadata waits to registered request handles (#21798)
  crates/uv-dispatch/src/lib.rs
  crates/uv-once-map/Cargo.toml
  crates/uv-once-map/src/lib.rs
  crates/uv-once-map/src/registered.rs
  crates/uv-once-map/tests/registered.rs
  crates/uv-resolver-types/src/metadata.rs
  crates/uv-resolver/src/pins.rs
  crates/uv-resolver/src/resolver/batch_prefetch.rs
  crates/uv-resolver/src/resolver/environment.rs
  crates/uv-resolver/src/resolver/index.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-resolver/src/resolver/requests.rs
  crates/uv-resolver/src/resolver/resolution.rs
  crates/uv-resolver/tests/index.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/mod.rs
  hawk.toml
Due: cargo-fmt

Add separate variant
  crates/uv-lock/src/lock/mod.rs
  crates/uv/tests/project/export.rs
Due: cargo-fmt

Test without fragment too
  crates/uv/tests/project/export.rs
Due: cargo-fmt

Reject invalid Git archive paths in lockfiles (#21780)
  crates/uv-lock/src/lock/mod.rs
  crates/uv/tests/project/export.rs
Due: cargo-fmt

Finalize selected distributions before constructing resolver output
  crates/uv-resolver/src/resolution/output.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-resolver/src/resolver/resolution.rs
Due: cargo-fmt

Move finalized distributions into resolver output
  crates/uv-resolver/src/resolution/output.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-resolver/src/resolver/resolution.rs
Due: cargo-fmt

Avoid writing lockfiles when reading workspace metadata
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/project/check.rs
  crates/uv/src/commands/project/check/ty.rs
  crates/uv/src/commands/workspace/metadata.rs
  crates/uv/tests/project/check.rs
  crates/uv/tests/workspace/workspace_metadata.rs
Due: cargo-fmt, cargo-dev-generate-all

Align existing environment path files with PEP 832
  crates/uv/src/commands/project/mod.rs
  crates/uv/tests/project/run.rs
Due: cargo-fmt

Add preview support for consuming PEP 832 redirect files
  crates/uv-fs/src/lib.rs
  crates/uv-preview/src/lib.rs
  crates/uv-python/src/virtualenv.rs
  crates/uv-workspace/src/workspace.rs
  crates/uv/src/commands/project/init.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/tests/project/init.rs
  crates/uv/tests/python/python_find.rs
  crates/uv/tests/sync/centralized_project_envs.rs
Due: cargo-fmt

Finalize selected distributions before constructing resolver output (#21801)
  crates/uv-resolver/src/resolution/output.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-resolver/src/resolver/resolution.rs
Due: cargo-fmt

Re-enable GitLab registry publishing tests
  scripts/publish/test_publish.py
Due: none

Re-enable GitLab registry publishing tests (#21823)
  scripts/publish/test_publish.py
Due: none

Expose dependency groups for resolved distributions
  crates/uv-distribution-types/src/resolution.rs
Due: cargo-fmt

Enforce dependency order in the wheel installer
  crates/uv-dispatch/src/lib.rs
  crates/uv-installer/src/install_order.rs
  crates/uv-installer/src/installer.rs
  crates/uv-installer/src/lib.rs
  crates/uv/src/commands/pip/operations.rs
Due: cargo-fmt

Cover and document dependency-ordered installation
  crates/uv/tests/pip_install/install_order.rs
  crates/uv/tests/pip_install/main.rs
  docs/pip/compatibility.md
Due: cargo-fmt

Simplify workspace metadata lockfile handling
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/project/check/ty.rs
  crates/uv/src/commands/workspace/metadata.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/workspace/workspace_metadata.rs
Due: cargo-fmt, cargo-dev-generate-all

Avoid writing lockfiles when reading workspace metadata (#21821)
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/project/check.rs
  crates/uv/src/commands/project/check/ty.rs
  crates/uv/src/commands/workspace/metadata.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/project/check.rs
  crates/uv/tests/workspace/workspace_metadata.rs
Due: cargo-fmt, cargo-dev-generate-all

Widen required-environment forks to wheel compatibility boundaries
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv/tests/lock/lock.rs
  crates/uv/tests/pip_compile/pip_compile.rs
Due: cargo-fmt

Scope required-environment wheel coverage to the current fork
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv/tests/lock/lock.rs
Due: cargo-fmt

Fix snapshots
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-unix-hash.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-unix-semicolon.txt.snap
Due: none

Parse requirements-style inputs into RequirementsInput
  crates/uv-cli/src/lib.rs
  crates/uv-configuration/src/lib.rs
  crates/uv-configuration/src/requirements_input.rs
  crates/uv-requirements-txt/src/lib.rs
  crates/uv-requirements/src/lib.rs
  crates/uv-requirements/src/sources.rs
  crates/uv-requirements/src/specification.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/sync.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/pylock.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/requirements.rs
  crates/uv/tests/pip_install/pip_install.rs
  crates/uv/tests/sync/show_settings.rs
Due: cargo-fmt, cargo-dev-generate-all

Add a proper RequirementsInput::Stdin variant
  crates/uv-configuration/src/requirements_input.rs
  crates/uv-fs/src/lib.rs
  crates/uv-requirements-txt/src/lib.rs
  crates/uv-requirements/src/sources.rs
  crates/uv-requirements/src/specification.rs
  crates/uv/src/commands/pylock.rs
  crates/uv/tests/it/requirements.rs
Due: cargo-fmt

Fix snapshot
  Cargo.lock
  crates/uv-configuration/Cargo.toml
  crates/uv-configuration/src/requirements_input.rs
Due: cargo-fmt

Remove parse_maybe_requirements_input
  crates/uv-cli/src/lib.rs
Due: cargo-fmt, cargo-dev-generate-all

Remove RequirementsInput::is_stdin
  crates/uv-configuration/src/requirements_input.rs
  crates/uv-requirements-txt/src/lib.rs
  crates/uv-requirements/src/specification.rs
  crates/uv/src/commands/project/run.rs
Due: cargo-fmt

Ensure that local inputs always have precedence
  crates/uv-configuration/src/requirements_input.rs
  crates/uv-requirements-txt/src/lib.rs
  crates/uv/tests/it/requirements.rs
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/(snapshots)/.*|
)$

  cargo-dev-generate-all: any of: ^crates/(uv-cli|uv-settings)/ and \.rs$ and not ((?x)^(
  .*/(snapshots)/.*|
)$
)
