Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-dev-generate-all:
  name: cargo dev generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

Remove `torch-model-archiver` and `torch-tb-profiler` from PyTorch backend (#16655)
  crates/uv-torch/src/backend.rs
Due: cargo-fmt

Tweaks for mobile
  docs/.overrides/main.html
  docs/stylesheets/extra.css
Due: none

Add support for the Simple index API
  crates/uv-client/src/flat_index.rs
  crates/uv-client/src/html.rs
  crates/uv-client/src/lib.rs
  crates/uv-client/src/registry_client.rs
  crates/uv-publish/src/lib.rs
  crates/uv-pypi-types/src/simple_json.rs
  crates/uv-resolver/src/resolver/provider.rs
  crates/uv/src/commands/pip/latest.rs
Due: cargo-fmt

Fix search; fix zensical dependency
  docs/.overrides/main.html
  docs/requirements.in
  docs/requirements.txt
  docs/stylesheets/extra.css
Due: none

Add tests and issue warning for `--project` with init
  crates/uv/src/lib.rs
  crates/uv/tests/it/init.rs
Due: cargo-fmt

Add preview flag
  crates/uv-preview/src/lib.rs
Due: cargo-fmt

Include warn & bail functionality
  crates/uv/src/lib.rs
  crates/uv/tests/it/init.rs
Due: cargo-fmt

Review feedback
  crates/uv-client/src/error.rs
  crates/uv-client/src/html.rs
  crates/uv-client/src/lib.rs
  crates/uv-client/src/registry_client.rs
  crates/uv-dev/src/lib.rs
  crates/uv-dev/src/list_packages.rs
  crates/uv-publish/src/lib.rs
  crates/uv-resolver/src/resolver/provider.rs
  crates/uv-resolver/src/version_map.rs
  crates/uv/src/commands/pip/latest.rs
Due: cargo-fmt

fix failure in `show_settings` preview features test
  crates/uv/tests/it/show_settings.rs
Due: cargo-fmt

Add support for the Simple index API top-level route (#16656)
  crates/uv-client/src/error.rs
  crates/uv-client/src/flat_index.rs
  crates/uv-client/src/html.rs
  crates/uv-client/src/lib.rs
  crates/uv-client/src/registry_client.rs
  crates/uv-dev/src/lib.rs
  crates/uv-dev/src/list_packages.rs
  crates/uv-publish/src/lib.rs
  crates/uv-pypi-types/src/simple_json.rs
  crates/uv-resolver/src/resolver/provider.rs
  crates/uv-resolver/src/version_map.rs
  crates/uv/src/commands/pip/latest.rs
Due: cargo-fmt

Rename preview flag
  crates/uv-preview/src/lib.rs
  crates/uv/src/lib.rs
  crates/uv/tests/it/init.rs
  crates/uv/tests/it/show_settings.rs
Due: cargo-fmt

feat(cli): expose `UV_NO_DEFAULT_GROUPS` environment variable (#16645)
  crates/uv-cli/src/lib.rs
  crates/uv-static/src/env_vars.rs
  crates/uv/tests/it/sync.rs
  docs/reference/cli.md
  docs/reference/environment.md
Due: cargo-fmt, cargo-dev-generate-all

Respect `UV_PYTHON_DOWNLOAD_MIRROR` in `uv python list`
  crates/uv-python/src/downloads.rs
  crates/uv/src/commands/python/list.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/python_list.rs
Due: cargo-fmt

Clearer messages + fixed tests
  crates/uv/src/lib.rs
  crates/uv/tests/it/init.rs
Due: cargo-fmt

Add documentation note
  crates/uv/src/lib.rs
  docs/concepts/projects/init.md
Due: cargo-fmt

formatting fixes
  crates/uv/src/lib.rs
  crates/uv/tests/it/init.rs
Due: cargo-fmt

Rename function and add doc comment
  crates/uv-python/src/installation.rs
Due: cargo-fmt

Add comment
  crates/uv-python/src/installation.rs
Due: cargo-fmt

Inline `has_stable_download_at_least`
  crates/uv-python/src/downloads.rs
  crates/uv-python/src/installation.rs
Due: cargo-fmt

Fix lint and format
  crates/uv-python/src/downloads.rs
  crates/uv-python/src/installation.rs
Due: cargo-fmt

Update messages + fix clippy errors
  crates/uv/src/lib.rs
  crates/uv/tests/it/init.rs
Due: cargo-fmt

Deprecate `--project` arg for init (#16674)
  crates/uv-preview/src/lib.rs
  crates/uv/src/lib.rs
  crates/uv/tests/it/init.rs
  crates/uv/tests/it/show_settings.rs
  docs/concepts/projects/init.md
Due: cargo-fmt

Use simplified display for download request
  crates/uv-python/src/downloads.rs
  crates/uv-python/src/installation.rs
Due: cargo-fmt

Return early if no stable download
  crates/uv-python/src/installation.rs
Due: cargo-fmt

Remove Git-based dependency for tl
  Cargo.lock
  Cargo.toml
  crates/uv-client/Cargo.toml
Due: none

Add only- variants for export
  crates/uv-cli/src/lib.rs
  crates/uv-configuration/src/install_options.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
Due: cargo-fmt, cargo-dev-generate-all

Hide from CLI
  crates/uv-cli/src/lib.rs
  crates/uv-configuration/src/install_options.rs
  crates/uv/tests/it/export.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Add iOS support
  crates/uv-python/python/get_interpreter_info.py
Due: none

Remove Git-based dependency for tl (#16679)
  Cargo.lock
  Cargo.toml
  crates/uv-client/Cargo.toml
Due: none

Add `uv workspace metadata`
  crates/uv-cli/src/lib.rs
  crates/uv-preview/src/lib.rs
  crates/uv/src/commands/mod.rs
  crates/uv/src/commands/workspace/metadata.rs
  crates/uv/src/commands/workspace/mod.rs
  crates/uv/src/lib.rs
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/help.rs
  crates/uv/tests/it/main.rs
  crates/uv/tests/it/show_settings.rs
  crates/uv/tests/it/workspace_metadata.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Hide
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/workspace/metadata.rs
  crates/uv/tests/it/help.rs
  docs/concepts/preview.md
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Add `uv workspace metadata` (#16516)
  crates/uv-cli/src/lib.rs
  crates/uv-preview/src/lib.rs
  crates/uv/src/commands/mod.rs
  crates/uv/src/commands/workspace/metadata.rs
  crates/uv/src/commands/workspace/mod.rs
  crates/uv/src/lib.rs
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/main.rs
  crates/uv/tests/it/show_settings.rs
  crates/uv/tests/it/workspace_metadata.rs
  docs/concepts/preview.md
Due: cargo-fmt, cargo-dev-generate-all

Initial implementation of workspace dir
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/mod.rs
  crates/uv/src/commands/workspace/dir.rs
  crates/uv/src/commands/workspace/mod.rs
  crates/uv/src/lib.rs
Due: cargo-fmt, cargo-dev-generate-all

Add tests, clean up, doc string
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/workspace/dir.rs
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/main.rs
  crates/uv/tests/it/workspace_dir.rs
  docs/concepts/preview.md
Due: cargo-fmt, cargo-dev-generate-all

Formatting fixes
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/mod.rs
  crates/uv/src/commands/workspace/dir.rs
  crates/uv/src/commands/workspace/mod.rs
  crates/uv/src/lib.rs
  crates/uv/tests/it/main.rs
  crates/uv/tests/it/workspace_dir.rs
Due: cargo-fmt, cargo-dev-generate-all

version -> release
  crates/uv-python/python/get_interpreter_info.py
Due: none

Update docstring
  crates/uv-cli/src/lib.rs
Due: cargo-fmt, cargo-dev-generate-all

Allow explicit values with `uv version --bump` (#16555)
  crates/uv-cli/src/lib.rs
  crates/uv-pep440/src/version.rs
  crates/uv/src/commands/project/version.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/version.rs
  docs/guides/package.md
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Update for review comments
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/workspace/dir.rs
  crates/uv/src/lib.rs
  crates/uv/tests/it/workspace_dir.rs
Due: cargo-fmt, cargo-dev-generate-all

Use println from anstream
  crates/uv/src/commands/workspace/dir.rs
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/(snapshots)/.*|
)$

  cargo-dev-generate-all: any of: ^crates/(uv-cli|uv-settings)/ and \.rs$ and not ((?x)^(
  .*/(snapshots)/.*|
)$
)
