Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

.pre-commit-config.yaml:

fail_fast: true

exclude: |
  (?x)^(
    .*/(snapshots)/.*|
  )$

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.20.2
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.26.0
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: local
    hooks:
      - id: cargo-dev-generate-all
        name: cargo dev generate-all
        entry: cargo dev generate-all
        language: system
        types: [rust]
        pass_filenames: false
        files: ^crates/(uv-cli|uv-settings)/

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

Set `VIRTUAL_ENV` in `uv tool run`
  crates/uv/src/commands/tool/run.rs
Due: cargo-fmt

Bump version to 0.8.11
  CHANGELOG.md
  Cargo.lock
  crates/uv-build/Cargo.toml
  crates/uv-build/pyproject.toml
  crates/uv-version/Cargo.toml
  crates/uv/Cargo.toml
  docs/concepts/build-backend.md
  docs/concepts/projects/init.md
  docs/concepts/projects/workspaces.md
  docs/getting-started/installation.md
  docs/guides/integration/aws-lambda.md
  docs/guides/integration/docker.md
  docs/guides/integration/github.md
  docs/guides/integration/pre-commit.md
  pyproject.toml
Due: none

Bump version to 0.8.11 (#15287)
  CHANGELOG.md
  Cargo.lock
  crates/uv-build/Cargo.toml
  crates/uv-build/pyproject.toml
  crates/uv-version/Cargo.toml
  crates/uv/Cargo.toml
  docs/concepts/build-backend.md
  docs/concepts/projects/init.md
  docs/concepts/projects/workspaces.md
  docs/getting-started/installation.md
  docs/guides/integration/aws-lambda.md
  docs/guides/integration/docker.md
  docs/guides/integration/github.md
  docs/guides/integration/pre-commit.md
  pyproject.toml
Due: none

Add `build` to managed Python versions
  crates/uv-python/download-metadata.json
  crates/uv-python/fetch-download-metadata.py
  crates/uv-python/src/downloads.rs
Due: cargo-fmt

Rename InstalledDist methods to reflect read operation
  crates/uv-distribution-types/src/installed.rs
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-installer/src/site_packages.rs
  crates/uv/src/commands/pip/show.rs
  crates/uv/src/commands/pip/tree.rs
Due: cargo-fmt

Rename `InstalledDist` methods to reflect read operation (#15290)
  crates/uv-distribution-types/src/installed.rs
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-installer/src/site_packages.rs
  crates/uv/src/commands/pip/show.rs
  crates/uv/src/commands/pip/tree.rs
Due: cargo-fmt

Force cache indexes to set hash digests and cache info
  crates/uv-distribution/src/index/built_wheel_index.rs
  crates/uv-distribution/src/index/cached_wheel.rs
  crates/uv-distribution/src/index/registry_wheel_index.rs
Due: cargo-fmt

Force cache indexes to set hash digests and cache info (#15291)
  crates/uv-distribution/src/index/built_wheel_index.rs
  crates/uv-distribution/src/index/cached_wheel.rs
  crates/uv-distribution/src/index/registry_wheel_index.rs
Due: cargo-fmt

Reject match-runtime = true for dynamic packages
  crates/uv-build-frontend/src/error.rs
  crates/uv-build-frontend/src/lib.rs
  crates/uv-dispatch/src/lib.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Improved `match` statements
  crates/uv-cache/src/lib.rs
  crates/uv-client/src/cached_client.rs
  crates/uv-configuration/src/dry_run.rs
  crates/uv-dev/src/generate_options_reference.rs
  crates/uv-distribution-types/src/any.rs
  crates/uv-distribution-types/src/index_url.rs
  crates/uv-distribution-types/src/lib.rs
  crates/uv-distribution-types/src/prioritized_distribution.rs
  crates/uv-extract/src/hash.rs
  crates/uv-pep508/src/origin.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-resolver/src/pubgrub/package.rs
  crates/uv-resolver/src/universal_marker.rs
  crates/uv-workspace/src/pyproject.rs
  crates/uv/src/commands/project/install_target.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/sync.rs
Due: cargo-fmt

Update cli.md
  docs/reference/cli.md
Due: none

Reject `match-runtime = true` for dynamic packages (#15292)
  crates/uv-build-frontend/src/error.rs
  crates/uv-build-frontend/src/lib.rs
  crates/uv-dispatch/src/lib.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Avoid &String in installer
  crates/uv-installer/src/installer.rs
Due: cargo-fmt

Avoid `&String` in installer (#15299)
  crates/uv-installer/src/installer.rs
Due: cargo-fmt

Lint
  crates/uv-shell/src/runnable.rs
Due: cargo-fmt

Allow pinning the Python build version via env vars
  crates/uv-python/src/discovery.rs
  crates/uv-python/src/downloads.rs
  crates/uv-static/src/env_vars.rs
  crates/uv/tests/it/python_install.rs
Due: cargo-fmt

Move python bin filtering into test that needs it
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/python_module.rs
Due: cargo-fmt

feature: UV_UPGRADE_RECURSIVE=true or --recursive
  crates/uv-cli/src/lib.rs
  crates/uv-static/src/env_vars.rs
  crates/uv/src/commands/project/update.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

feature: --types=prod,dev,extra,group
  crates/uv-cli/src/lib.rs
  crates/uv-static/src/env_vars.rs
  crates/uv-workspace/src/pyproject.rs
  crates/uv-workspace/src/pyproject_mut.rs
  crates/uv/src/commands/project/update.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

fix tests
  crates/uv/tests/it/help.rs
  docs/reference/cli.md
Due: cargo-fmt

feat: upgrade dependencies in pyproject.toml
  Cargo.lock
  crates/uv-cli/src/lib.rs
  crates/uv-distribution-types/src/index_url.rs
  crates/uv-fs/src/lib.rs
  crates/uv-pep440/src/version.rs
  crates/uv-pep440/src/version_specifier.rs
  crates/uv-pep508/src/lib.rs
  crates/uv-workspace/src/pyproject_mut.rs
  crates/uv/Cargo.toml
  crates/uv/src/commands/mod.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/remove.rs
  crates/uv/src/commands/project/update.rs
  crates/uv/src/lib.rs
Due: cargo-fmt, cargo-dev-generate-all

fix tilde equal
  crates/uv-pep440/src/version.rs
  crates/uv-pep440/src/version_specifier.rs
Due: cargo-fmt

UV_UPGRADE_ALLOW or --allow=1,2,3,4 filters version digits
  crates/uv-cli/src/lib.rs
  crates/uv-pep440/src/lib.rs
  crates/uv-pep440/src/version.rs
  crates/uv-pep440/src/version_specifier.rs
  crates/uv-static/src/env_vars.rs
  crates/uv-workspace/src/pyproject_mut.rs
  crates/uv/src/commands/project/update.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Show changed semver digit (1=major, 2=minor, 3=patch, 4=build number)
  crates/uv-pep440/src/version.rs
  crates/uv-pep440/src/version_specifier.rs
  crates/uv-workspace/src/pyproject_mut.rs
  crates/uv/src/commands/project/update.rs
Due: cargo-fmt

fetch latest versions in parallel
  crates/uv-workspace/src/pyproject_mut.rs
  crates/uv/src/commands/project/update.rs
Due: cargo-fmt

support refresh args (default: cache for 10 minutes)
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/project/update.rs
  crates/uv/src/lib.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

group fetches by requires-python
  crates/uv-workspace/src/pyproject_mut.rs
  crates/uv/src/commands/project/update.rs
Due: cargo-fmt

--packages-only
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/project/update.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

use requires-python of tool.uv.dependency-groups
  crates/uv-distribution-types/src/requires_python.rs
  crates/uv-pep440/src/version.rs
  crates/uv-pep440/src/version_specifier.rs
  crates/uv-workspace/src/pyproject_mut.rs
  crates/uv/src/commands/project/update.rs
Due: cargo-fmt

Move python bin filtering into test that needs it (#15305)
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/python_module.rs
Due: cargo-fmt

Write `BUILD` files to managed install directories
  crates/uv-python/src/downloads.rs
  crates/uv-python/src/installation.rs
  crates/uv-python/src/managed.rs
  crates/uv/src/commands/python/install.rs
  crates/uv/tests/it/python_install.rs
Due: cargo-fmt

Add new `uv-keyring` crate that vendors the `keyring-rs` crate (#14725)
  .github/workflows/ci.yml
  Cargo.lock
  crates/uv-keyring/Cargo.toml
  crates/uv-keyring/README.md
  crates/uv-keyring/src/blocking.rs
  crates/uv-keyring/src/credential.rs
  crates/uv-keyring/src/error.rs
  crates/uv-keyring/src/lib.rs
  crates/uv-keyring/src/macos.rs
  crates/uv-keyring/src/mock.rs
  crates/uv-keyring/src/secret_service.rs
  crates/uv-keyring/src/windows.rs
  crates/uv-keyring/tests/basic.rs
  crates/uv-keyring/tests/common/mod.rs
  crates/uv-keyring/tests/threading.rs
Due: cargo-fmt

refactor(uv-trampoline): use PE resources to store trampoline type + path to python binary
  Cargo.lock
  Cargo.toml
  crates/uv-distribution/src/metadata/requires_dist.rs
  crates/uv-install-wheel/Cargo.toml
  crates/uv-install-wheel/src/lib.rs
  crates/uv-install-wheel/src/wheel.rs
  crates/uv-python/Cargo.toml
  crates/uv-python/src/managed.rs
  crates/uv-trampoline-builder/Cargo.toml
  crates/uv-trampoline-builder/src/lib.rs
  crates/uv-trampoline/Cargo.toml
  crates/uv-trampoline/README.md
  crates/uv-trampoline/src/bounce.rs
  crates/uv-trampoline/trampolines/uv-trampoline-i686-console.exe
  crates/uv-trampoline/trampolines/uv-trampoline-i686-gui.exe
  crates/uv-trampoline/trampolines/uv-trampoline-x86_64-console.exe
  crates/uv-trampoline/trampolines/uv-trampoline-x86_64-gui.exe
  crates/uv/Cargo.toml
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/python/install.rs
Due: cargo-fmt

chore(deps): move `windows` version to workspace
  Cargo.lock
  Cargo.toml
  crates/uv-trampoline-builder/Cargo.toml
  crates/uv-trampoline-builder/src/lib.rs
  crates/uv-trampoline/src/bounce.rs
  crates/uv/src/commands/python/install.rs
  crates/uv/src/windows_exception.rs
Due: cargo-fmt

tmp: aarch64 trampolines
  crates/uv-trampoline/trampolines/uv-trampoline-aarch64-console.exe
  crates/uv-trampoline/trampolines/uv-trampoline-aarch64-gui.exe
Due: none

Add build info to cache
  Cargo.lock
  crates/uv-distribution-types/src/build_info.rs
  crates/uv-distribution-types/src/build_requires.rs
  crates/uv-distribution-types/src/cached.rs
  crates/uv-distribution-types/src/config_settings.rs
  crates/uv-distribution-types/src/installed.rs
  crates/uv-distribution-types/src/lib.rs
  crates/uv-distribution/Cargo.toml
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-distribution/src/download.rs
  crates/uv-distribution/src/index/built_wheel_index.rs
  crates/uv-distribution/src/index/cached_wheel.rs
  crates/uv-distribution/src/index/registry_wheel_index.rs
  crates/uv-distribution/src/source/built_wheel_metadata.rs
  crates/uv-distribution/src/source/mod.rs
  crates/uv-install-wheel/Cargo.toml
  crates/uv-install-wheel/src/install.rs
  crates/uv-install-wheel/src/wheel.rs
  crates/uv-installer/src/installer.rs
  crates/uv-installer/src/plan.rs
  crates/uv-installer/src/satisfies.rs
  crates/uv-installer/src/site_packages.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Reject already-installed wheels built with outdated settings (#15289)
  Cargo.lock
  crates/uv-distribution-types/src/build_info.rs
  crates/uv-distribution-types/src/build_requires.rs
  crates/uv-distribution-types/src/cached.rs
  crates/uv-distribution-types/src/config_settings.rs
  crates/uv-distribution-types/src/installed.rs
  crates/uv-distribution-types/src/lib.rs
  crates/uv-distribution/Cargo.toml
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-distribution/src/download.rs
  crates/uv-distribution/src/index/built_wheel_index.rs
  crates/uv-distribution/src/index/cached_wheel.rs
  crates/uv-distribution/src/index/registry_wheel_index.rs
  crates/uv-distribution/src/source/built_wheel_metadata.rs
  crates/uv-distribution/src/source/mod.rs
  crates/uv-install-wheel/Cargo.toml
  crates/uv-install-wheel/src/install.rs
  crates/uv-install-wheel/src/wheel.rs
  crates/uv-installer/src/installer.rs
  crates/uv-installer/src/plan.rs
  crates/uv-installer/src/satisfies.rs
  crates/uv-installer/src/site_packages.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Make Windows-specific tests only run with a Windows build target
  crates/uv-shell/src/runnable.rs
Due: cargo-fmt

Trying to figure out how to get the python info
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/tool/list.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
Due: cargo-fmt, cargo-dev-generate-all

update CLI help text
  crates/uv-cli/src/lib.rs
Due: cargo-fmt, cargo-dev-generate-all
