Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-dev-generate-all:
  name: cargo dev generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

Show a dedicated error for venvs in source trees
  crates/uv-build-backend/src/lib.rs
  crates/uv-build-backend/src/metadata.rs
  crates/uv-build-backend/src/source_dist.rs
  crates/uv-build-backend/src/wheel.rs
  crates/uv/tests/it/build_backend.rs
Due: cargo-fmt

Upgrade to the latest rooster version
  pyproject.toml
  scripts/release.sh
Due: none

remove dbg
  crates/uv-build-backend/src/lib.rs
Due: cargo-fmt

code style
  crates/uv-build-backend/src/lib.rs
Due: cargo-fmt

Show a dedicated error for venvs in source trees (#15748)
  crates/uv-build-backend/src/lib.rs
  crates/uv-build-backend/src/metadata.rs
  crates/uv-build-backend/src/source_dist.rs
  crates/uv-build-backend/src/wheel.rs
  crates/uv/tests/it/build_backend.rs
Due: cargo-fmt

Ignore pre-release versions in `uv init --script`
  .python-versions
  crates/uv-python/src/discovery.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/tests/it/init.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/sync.rs
  crates/uv/tests/it/venv.rs
Due: cargo-fmt

Replace fs2 by fs4
  Cargo.lock
  Cargo.toml
  crates/uv-fs/Cargo.toml
  crates/uv-fs/src/lib.rs
Due: cargo-fmt

Add GitHub Actions to PyPI trusted publishing example
  docs/assets/github-add-environment.png
  docs/assets/pypi-add-trusted-publisher.png
  docs/assets/pypi-with-trusted-publisher.png
  docs/guides/integration/github.md
  docs/guides/package.md
Due: none

Use the `windows` crate directly in most places
  Cargo.lock
  Cargo.toml
  crates/uv-fs/Cargo.toml
  crates/uv-fs/src/which.rs
  crates/uv-python/Cargo.toml
  crates/uv-python/src/discovery.rs
  crates/uv-python/src/interpreter.rs
  crates/uv-python/src/managed.rs
  crates/uv-python/src/windows_registry.rs
  crates/uv-shell/Cargo.toml
  crates/uv-shell/src/windows.rs
  crates/uv/Cargo.toml
  crates/uv/src/windows_exception.rs
Due: cargo-fmt

Use the `windows` crate shim wherever possible
  Cargo.lock
  Cargo.toml
  crates/uv-keyring/Cargo.toml
  crates/uv-keyring/src/windows.rs
  crates/uv-python/Cargo.toml
Due: cargo-fmt

Use the `windows` crate facade consistently (#15737)
  Cargo.lock
  Cargo.toml
  crates/uv-fs/Cargo.toml
  crates/uv-fs/src/which.rs
  crates/uv-keyring/Cargo.toml
  crates/uv-keyring/src/windows.rs
  crates/uv-python/Cargo.toml
  crates/uv-python/src/discovery.rs
  crates/uv-python/src/interpreter.rs
  crates/uv-python/src/managed.rs
  crates/uv-python/src/windows_registry.rs
  crates/uv-shell/Cargo.toml
  crates/uv-shell/src/windows.rs
  crates/uv/Cargo.toml
  crates/uv/src/windows_exception.rs
Due: cargo-fmt

auth: allow insecure http only on localhost
  crates/uv-auth/src/service.rs
  crates/uv/tests/it/auth.rs
Due: cargo-fmt

feat: implement --force flag for lock
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/export.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/remove.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/project/tree.rs
  crates/uv/src/commands/project/version.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Use token store credentials for uv publish
  crates/uv/src/commands/publish.rs
Due: cargo-fmt

chore: fix clippy error
  crates/uv/src/commands/project/sync.rs
Due: cargo-fmt

Use token store credentials for `uv publish` (#15759)
  crates/uv/src/commands/publish.rs
Due: cargo-fmt

auth: allow insecure http only on localhost (#15755)
  crates/uv-auth/src/service.rs
  crates/uv/tests/it/auth.rs
Due: cargo-fmt

Build backend error message style consistency
  crates/uv-build-backend/src/lib.rs
  crates/uv-build-backend/src/metadata.rs
  crates/uv-build-backend/src/source_dist.rs
  crates/uv-build-backend/src/wheel.rs
  crates/uv/tests/it/build.rs
  crates/uv/tests/it/build_backend.rs
Due: cargo-fmt

Build backend error message style consistency (#15735)
  crates/uv-build-backend/src/lib.rs
  crates/uv-build-backend/src/metadata.rs
  crates/uv-build-backend/src/source_dist.rs
  crates/uv-build-backend/src/wheel.rs
  crates/uv/tests/it/build.rs
  crates/uv/tests/it/build_backend.rs
Due: cargo-fmt

switch to ambient_id for OIDC token discovery
  Cargo.lock
  Cargo.toml
  crates/uv-publish/Cargo.toml
  crates/uv-publish/src/lib.rs
  crates/uv-publish/src/trusted_publishing.rs
Due: cargo-fmt

fix clippy findings
  crates/uv-publish/src/trusted_publishing.rs
Due: cargo-fmt

fix some tests
  crates/uv-publish/src/trusted_publishing.rs
  crates/uv-static/src/env_vars.rs
  crates/uv/tests/it/publish.rs
Due: cargo-fmt

fix remaining tests
  crates/uv-publish/Cargo.toml
  crates/uv-publish/src/trusted_publishing.rs
  crates/uv/Cargo.toml
Due: cargo-fmt

bump docs, run full clippy
  crates/uv-static/src/env_vars.rs
  crates/uv/tests/it/publish.rs
  docs/reference/environment.md
Due: cargo-fmt

bump ambient_id
  Cargo.lock
  Cargo.toml
  crates/uv/tests/it/publish.rs
Due: cargo-fmt

Bump version to v0.8.16
  CHANGELOG.md
  Cargo.lock
  crates/uv-build/Cargo.toml
  crates/uv-build/pyproject.toml
  crates/uv-version/Cargo.toml
  crates/uv/Cargo.toml
  docs/concepts/build-backend.md
  docs/concepts/projects/init.md
  docs/concepts/projects/workspaces.md
  docs/getting-started/installation.md
  docs/guides/integration/aws-lambda.md
  docs/guides/integration/docker.md
  docs/guides/integration/github.md
  docs/guides/integration/pre-commit.md
  pyproject.toml
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Bump version to v0.8.16 (#15761)
  CHANGELOG.md
  Cargo.lock
  crates/uv-build/Cargo.toml
  crates/uv-build/pyproject.toml
  crates/uv-version/Cargo.toml
  crates/uv/Cargo.toml
  docs/concepts/build-backend.md
  docs/concepts/projects/init.md
  docs/concepts/projects/workspaces.md
  docs/getting-started/installation.md
  docs/guides/integration/aws-lambda.md
  docs/guides/integration/docker.md
  docs/guides/integration/github.md
  docs/guides/integration/pre-commit.md
  pyproject.toml
Due: none

Fix the glob for filtering `uv_build` loongarch wheels
  .github/workflows/publish-pypi.yml
Due: none

Fix the glob for filtering `uv_build` loongarch wheels (#15762)
  .github/workflows/publish-pypi.yml
Due: none

Remove fs2 dependency and update rust to 1.89
  Cargo.lock
  Cargo.toml
  crates/uv-fs/Cargo.toml
  crates/uv-fs/src/lib.rs
Due: cargo-fmt

Improve error message for HTTP validation in auth services
  crates/uv-auth/src/service.rs
  crates/uv/tests/it/auth.rs
Due: cargo-fmt

specialize GitHub permissions error case rendering
  Cargo.lock
  Cargo.toml
  crates/uv-publish/src/trusted_publishing.rs
  crates/uv/tests/it/publish.rs
Due: cargo-fmt

push IdToken further into params
  crates/uv-publish/src/trusted_publishing.rs
Due: cargo-fmt

improve suggestion on NoToken
  crates/uv-publish/src/trusted_publishing.rs
Due: cargo-fmt

bump snapshot
  crates/uv/tests/it/publish.rs
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/(snapshots)/.*|
)$

  cargo-dev-generate-all: any of: ^crates/(uv-cli|uv-settings)/ and \.rs$ and not ((?x)^(
  .*/(snapshots)/.*|
)$
)
