Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-dev-generate-all:
  name: cargo dev generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

Explicitly set EntryType for file entries in tar
  crates/uv-build-backend/src/source_dist.rs
Due: cargo-fmt

ci: added 'gitlab.md' to rooster version_files
  docs/guides/integration/gitlab.md
  pyproject.toml
Due: none

Fix SHA in test
  crates/uv-build-backend/src/lib.rs
Due: cargo-fmt

Implement `uv pip freeze --exclude` flag
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/pip/freeze.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/pip_freeze.rs
Due: cargo-fmt, cargo-dev-generate-all

fix(arg): pass 'exclude' by reference in 'pip freeze'
  crates/uv/src/commands/pip/freeze.rs
  crates/uv/src/lib.rs
Due: cargo-fmt

Fix relocatable nushell activation script (#17036)
  crates/uv-virtualenv/src/activator/activate.nu
  crates/uv-virtualenv/src/virtualenv.rs
  crates/uv/tests/it/venv.rs
Due: cargo-fmt

Don't apply a filter
  crates/uv/tests/it/tool_run.rs
Due: cargo-fmt

Test for false positives
  crates/uv/tests/it/tool_run.rs
Due: cargo-fmt

Add hint for misplaced `--verbose` in `uv tool run` (#17020)
  crates/uv/src/commands/tool/run.rs
  crates/uv/tests/it/tool_run.rs
Due: cargo-fmt

Bump ambient-id to 0.0.7
  Cargo.lock
  Cargo.toml
Due: none

remove intermediate publish job
  .github/workflows/publish.yml
  .github/workflows/release.yml
  dist-workspace.toml
Due: none

make a dirty change to release.yml
  .github/workflows/release.yml
Due: none

allow dirty CI for now
  dist-workspace.toml
Due: none

Bump ambient-id to 0.0.7 (#17048)
  Cargo.lock
  Cargo.toml
Due: none

Recommend `UV_NO_DEV` in Docker installs (#17030)
  docs/guides/integration/docker.md
Due: none

Review
  crates/uv-cli/src/lib.rs
  crates/uv-resolver/src/exclude_newer.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/lock_exclude_newer_relative.rs
  docs/concepts/resolution.md
  docs/reference/cli.md
  docs/reference/settings.md
Due: cargo-fmt, cargo-dev-generate-all

Add initial devcontainer configuration
  .devcontainer/devcontainer.json
Due: none

Review
  crates/uv-cli/src/lib.rs
  crates/uv-resolver/src/exclude_newer.rs
  docs/concepts/resolution.md
  uv.schema.json
Due: cargo-fmt, cargo-dev-generate-all

Sort packages in GPU lists
  crates/uv-torch/src/backend.rs
Due: cargo-fmt

Add support for relative durations in `exclude-newer` (#16814)
  crates/uv-cli/src/lib.rs
  crates/uv-resolver/src/exclude_newer.rs
  crates/uv-resolver/src/lib.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__hash_optional_missing.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__hash_optional_present.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__hash_required_present.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__missing_dependency_source_unambiguous.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__missing_dependency_source_version_unambiguous.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__missing_dependency_version_dynamic.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__missing_dependency_version_unambiguous.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__source_direct_has_subdir.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__source_direct_no_subdir.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__source_directory.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__source_editable.snap
  crates/uv-resolver/src/version_map.rs
  crates/uv-settings/src/combine.rs
  crates/uv-settings/src/settings.rs
  crates/uv-static/src/env_vars.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/tool/upgrade.rs
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/lock_exclude_newer_relative.rs
  crates/uv/tests/it/main.rs
  crates/uv/tests/it/pip_compile.rs
  crates/uv/tests/it/snapshots/it__ecosystem__home-assistant-core-uv-lock-output.snap
  crates/uv/tests/it/snapshots/it__ecosystem__saleor-uv-lock-output.snap
  crates/uv/tests/it/sync.rs
  docs/concepts/resolution.md
  docs/guides/scripts.md
  uv.schema.json
Due: cargo-fmt, cargo-dev-generate-all

Sort packages in GPU lists (#17054)
  crates/uv-torch/src/backend.rs
Due: cargo-fmt

Add torch-tensorrt and torchao to the PyTorch list
  crates/uv-torch/src/backend.rs
Due: cargo-fmt

Add `torch-tensorrt` and `torchao` to the PyTorch list (#17053)
  crates/uv-torch/src/backend.rs
Due: cargo-fmt

Update UV_VERSION in docs for GitLab CI/CD (#17040)
  docs/guides/integration/gitlab.md
  pyproject.toml
Due: none

Update the exclude newer duration tests to demonstrate package version changes
  crates/uv/tests/it/lock_exclude_newer_relative.rs
Due: cargo-fmt

Revert Windows runner change
  .github/workflows/build-binaries.yml
Due: none

Better source-exclude reference docs (#16832)
  crates/uv-build-backend/src/settings.rs
  docs/concepts/build-backend.md
  uv.schema.json
Due: cargo-fmt

Publish PyPI releases before crates.io artifacts (#16989)
  .github/workflows/release.yml
  dist-workspace.toml
Due: none

Fix a typo
  crates/uv-settings/src/lib.rs
Due: cargo-fmt, cargo-dev-generate-all

Fix a typo (#17056)
  crates/uv-settings/src/lib.rs
Due: cargo-fmt, cargo-dev-generate-all

Increase the size of binary build runners (#17016)
  .github/workflows/build-binaries.yml
Due: none

Sync latest Python releases
  crates/uv-dev/src/generate_sysconfig_mappings.rs
  crates/uv-python/download-metadata.json
  crates/uv-python/src/sysconfig/generated_mappings.rs
Due: cargo-fmt

Allow disabling `exclude-newer` per package
  crates/uv-resolver/src/exclude_newer.rs
  crates/uv-resolver/src/lib.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-settings/src/combine.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/pip_compile.rs
  docs/concepts/resolution.md
  uv.schema.json
Due: cargo-fmt, cargo-dev-generate-all

Rename and remove backwards compatibility scheme
  crates/uv-resolver/src/exclude_newer.rs
  crates/uv-resolver/src/lib.rs
  crates/uv-resolver/src/lock/mod.rs
Due: cargo-fmt

Update schema
  uv.schema.json
Due: none

Rename variant and shuffle documentation
  crates/uv-resolver/src/exclude_newer.rs
  crates/uv-resolver/src/lock/mod.rs
  docs/concepts/resolution.md
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/(snapshots)/.*|
)$

  cargo-dev-generate-all: any of: ^crates/(uv-cli|uv-settings)/ and \.rs$ and not ((?x)^(
  .*/(snapshots)/.*|
)$
)
