Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-dev-generate-all:
  name: cargo dev generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

add wip docs
  docs/reference/metadata.md
Due: none

Expand `uv workspace metadata` with dependency information from the lock
  Cargo.lock
  crates/uv-cli/src/lib.rs
  crates/uv-resolver/Cargo.toml
  crates/uv-resolver/src/lib.rs
  crates/uv-resolver/src/lock/export/metadata.rs
  crates/uv-resolver/src/lock/export/mod.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/workspace/metadata.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/workspace_metadata.rs
Due: cargo-fmt, cargo-dev-generate-all

apply fixes
  crates/uv-cli/src/lib.rs
  crates/uv-resolver/src/lock/export/metadata.rs
  crates/uv/src/commands/workspace/metadata.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/workspace_metadata.rs
  docs/reference/internals/index.md
  docs/reference/internals/metadata.md
Due: cargo-fmt, cargo-dev-generate-all

fixup
  crates/uv-cli/src/lib.rs
Due: cargo-fmt, cargo-dev-generate-all

add group-only test
  crates/uv/src/commands/workspace/metadata.rs
  crates/uv/tests/it/workspace_metadata.rs
  test/workspaces/albatross-groups-only/pyproject.toml
Due: cargo-fmt

fixup tests
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/workspace/metadata.rs
  crates/uv/tests/it/workspace_metadata.rs
Due: cargo-fmt, cargo-dev-generate-all

checkin tests
  test/workspaces/albatross-dependency-rainbow/check_installed_albatross.py
  test/workspaces/albatross-dependency-rainbow/pyproject.toml
  test/workspaces/albatross-dependency-rainbow/src/albatross/__init__.py
Due: none

fixup docs
  docs/reference/internals/metadata.md
Due: none

add to nav
  mkdocs.yml
Due: none

Centralised environment storage
  Cargo.lock
  crates/uv-cache-key/src/digest.rs
  crates/uv-cache-key/src/lib.rs
  crates/uv-preview/src/lib.rs
  crates/uv-python/src/environment.rs
  crates/uv-workspace/Cargo.toml
  crates/uv-workspace/src/lib.rs
  crates/uv-workspace/src/workspace.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/remove.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/project/version.rs
  crates/uv/src/commands/venv.rs
  crates/uv/tests/it/cache_clean.rs
  crates/uv/tests/it/run.rs
  crates/uv/tests/it/show_settings.rs
  crates/uv/tests/it/sync.rs
  crates/uv/tests/it/venv.rs
Due: cargo-fmt

Remove dangling sentence
  crates/uv/src/commands/project/mod.rs
Due: cargo-fmt

Fail path file generation if path is not utf8
  crates/uv-python/src/environment.rs
Due: cargo-fmt

Integration tests for `uv audit` (#18673)
  crates/uv-test/src/lib.rs
  crates/uv/src/commands/project/audit.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/audit.rs
  crates/uv/tests/it/main.rs
Due: cargo-fmt

Alternative wording when creating environments
  crates/uv-python/src/environment.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/venv.rs
  crates/uv/tests/it/run.rs
  crates/uv/tests/it/sync.rs
  crates/uv/tests/it/venv.rs
Due: cargo-fmt

Hide cache path on creation failure
  crates/uv-build-frontend/src/lib.rs
  crates/uv-tool/src/lib.rs
  crates/uv-virtualenv/src/lib.rs
  crates/uv-virtualenv/src/virtualenv.rs
  crates/uv/src/commands/project/environment.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/venv.rs
  crates/uv/tests/it/venv.rs
Due: cargo-fmt

Mention env dir name in "Creating" messages
  crates/uv-test/src/lib.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/venv.rs
  crates/uv/tests/it/run.rs
  crates/uv/tests/it/sync.rs
  crates/uv/tests/it/venv.rs
Due: cargo-fmt

Test `--active`
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Test existing `.venv` cases
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Test no project case
  crates/uv/tests/it/venv.rs
Due: cargo-fmt

VenvPath -> ProjectEnvironmentPath + ::Active
  crates/uv-workspace/src/lib.rs
  crates/uv-workspace/src/workspace.rs
Due: cargo-fmt

Attempt at simplifying
  Cargo.lock
  crates/uv-workspace/Cargo.toml
  crates/uv-workspace/src/lib.rs
  crates/uv-workspace/src/workspace.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/venv.rs
Due: cargo-fmt

Remove centralised env specific venv path func
  crates/uv-fs/src/lib.rs
  crates/uv-python/src/environment.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/venv.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Add python version to environment dir name
  crates/uv-test/src/lib.rs
  crates/uv-workspace/src/workspace.rs
  crates/uv/tests/it/run.rs
  crates/uv/tests/it/sync.rs
  crates/uv/tests/it/venv.rs
Due: cargo-fmt

Never prompt for or complain about removing centralised environments
  crates/uv-build-frontend/src/lib.rs
  crates/uv-tool/src/lib.rs
  crates/uv-virtualenv/src/lib.rs
  crates/uv-virtualenv/src/virtualenv.rs
  crates/uv/src/commands/project/environment.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/venv.rs
  crates/uv/tests/it/venv.rs
Due: cargo-fmt

Clobber existing `.venv`s instead of disabling centralised mode
  Cargo.lock
  crates/uv-fs/Cargo.toml
  crates/uv-fs/src/lib.rs
  crates/uv-python/src/environment.rs
  crates/uv-tool/src/lib.rs
  crates/uv-virtualenv/Cargo.toml
  crates/uv-virtualenv/src/lib.rs
  crates/uv-virtualenv/src/virtualenv.rs
  crates/uv-workspace/src/workspace.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Replace `impl FromStr for Index` with `Index::from_cli`
  crates/uv-cli/src/lib.rs
  crates/uv-distribution-types/src/index.rs
Due: cargo-fmt, cargo-dev-generate-all

Use Index::with_origin where possible
  crates/uv-cli/src/lib.rs
Due: cargo-fmt, cargo-dev-generate-all

Add an `IndexArg` type to allow unresolved index arguments
  crates/uv-cli/src/lib.rs
  crates/uv-cli/src/options.rs
  crates/uv-distribution-types/src/index.rs
  crates/uv/src/settings.rs
Due: cargo-fmt, cargo-dev-generate-all

impl FromStr for IndexArg
  crates/uv-cli/src/lib.rs
  crates/uv-distribution-types/src/index.rs
Due: cargo-fmt, cargo-dev-generate-all

Basic `--index` by name support
  crates/uv-cli/src/options.rs
  crates/uv-distribution-types/src/index.rs
  crates/uv-settings/src/settings.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/edit.rs
Due: cargo-fmt, cargo-dev-generate-all

Basic test case
  crates/uv/tests/it/edit.rs
Due: cargo-fmt

Document new `--index <name>` behaviour
  docs/concepts/indexes.md
Due: none

Remove support for `--default-index <name>`
  crates/uv-cli/src/lib.rs
  crates/uv-cli/src/options.rs
  crates/uv-distribution-types/src/index.rs
  crates/uv/tests/it/edit.rs
Due: cargo-fmt, cargo-dev-generate-all

Just exit during index resolution to avoid the Result mess
  crates/uv-cli/src/options.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
Due: cargo-fmt, cargo-dev-generate-all

More tests
  crates/uv/tests/it/edit.rs
Due: cargo-fmt

Remove serialisation and schema support from IndexArg
  crates/uv-distribution-types/src/index.rs
Due: cargo-fmt

prioritize package indexes when a package is specified
  crates/uv-cli/src/options.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/edit.rs
Due: cargo-fmt, cargo-dev-generate-all

Adjust CLI documentation
  crates/uv-cli/src/lib.rs
Due: cargo-fmt, cargo-dev-generate-all

Some additional comments
  crates/uv-distribution-types/src/index.rs
Due: cargo-fmt

More sophisticated precedence testing
  crates/uv/tests/it/edit.rs
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/(snapshots)/.*|
)$

  cargo-dev-generate-all: any of: ^crates/(uv-cli|uv-settings)/ and \.rs$ and not ((?x)^(
  .*/(snapshots)/.*|
)$
)
