Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-dev-generate-all:
  name: cargo dev generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

Improve tool list output when tool environment is broken
  crates/uv/src/commands/tool/list.rs
  crates/uv/tests/it/tool_list.rs
Due: cargo-fmt

Respect PEP 723 script lockfiles in uv run
  crates/uv-configuration/src/dev.rs
  crates/uv-scripts/src/lib.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/environment.rs
  crates/uv/src/commands/project/install_target.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/tests/it/run.rs
Due: cargo-fmt

Respect PEP 723 script lockfiles in uv run (#10136)
  crates/uv-configuration/src/dev.rs
  crates/uv-scripts/src/lib.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/environment.rs
  crates/uv/src/commands/project/install_target.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/tests/it/run.rs
Due: cargo-fmt

Update lockfile in uv add --script
  crates/uv-cli/src/lib.rs
  crates/uv-scripts/src/lib.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/lock_target.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/remove.rs
  crates/uv/tests/it/edit.rs
Due: cargo-fmt, cargo-dev-generate-all

Update PEP 723 lockfile in `uv add --script` (#10145)
  crates/uv-cli/src/lib.rs
  crates/uv-scripts/src/lib.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/lock_target.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/remove.rs
  crates/uv/tests/it/edit.rs
Due: cargo-fmt, cargo-dev-generate-all

Add support for uv tree
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/tree.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/tree.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Add `--script` support to `uv tree` for PEP 723 scripts (#10159)
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/tree.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/tree.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Add export support for PEP 723 scripts
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/export.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/export.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Add `--script` support to `uv export` for PEP 723 scripts (#10160)
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/export.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/export.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Add remove support for PEP 723 scripts
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/remove.rs
  crates/uv/tests/it/edit.rs
Due: cargo-fmt

Update PEP 723 lockfile in `uv remove --script` (#10162)
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/remove.rs
  crates/uv/tests/it/edit.rs
Due: cargo-fmt

Add Lambda layer instructions to AWS Lambda guide
  docs/guides/integration/aws-lambda.md
Due: none

Add Lambda layer instructions to AWS Lambda guide (#10411)
  docs/guides/integration/aws-lambda.md
Due: none

Add uv lock --script to the docs
  docs/guides/scripts.md
Due: none

Ignore target in Prettier
  .prettierignore
Due: none

Remove duplicated comment
  crates/uv-resolver/src/resolver/mod.rs
Due: cargo-fmt

Remove duplicated comment (#10416)
  crates/uv-resolver/src/resolver/mod.rs
Due: cargo-fmt

Remove unnecessary .to_string() call
  crates/uv-platform-tags/src/tags.rs
Due: cargo-fmt

Remove unnecessary `.to_string()` call (#10419)
  crates/uv-platform-tags/src/tags.rs
Due: cargo-fmt

Add `uv lock --script` to the docs (#10414)
  docs/guides/scripts.md
Due: none

Use matches rather than contains in requirements.txt parsing
  crates/uv-requirements-txt/src/lib.rs
Due: cargo-fmt

Use `matches` rather than `contains` in `requirements.txt` parsing (#10423)
  crates/uv-requirements-txt/src/lib.rs
Due: cargo-fmt

Add caching
  .github/workflows/ci.yml
Due: none

Add the differences between `pip install` and `uv pip install` installation directories in the pip compatibility document.
  docs/pip/compatibility.md
Due: none

Small spelling adjust per STYLE.md
  docs/pip/compatibility.md
Due: none

Suggest reinstalling the tool
  crates/uv/src/commands/tool/list.rs
  crates/uv/tests/it/tool_list.rs
Due: cargo-fmt

Upgrade to the latest Ruff version
  scripts/benchmark/src/benchmark/resolver.py
  scripts/popular_packages/pypi_10k_most_dependents.ipynb
  scripts/publish/test_publish.py
  scripts/scenarios/generate.py
Due: none

Complete type annotations for build backend
  python/uv/_build_backend.py
Due: none

Upgrade to the latest Ruff version (#10433)
  scripts/benchmark/src/benchmark/resolver.py
  scripts/popular_packages/pypi_10k_most_dependents.ipynb
  scripts/publish/test_publish.py
  scripts/scenarios/generate.py
Due: none

Fetch concurrently for non-first-match index strategies
  crates/uv-client/src/registry_client.rs
Due: cargo-fmt

Add meta descriptions for guides
  docs/guides/integration/docker.md
  docs/guides/integration/fastapi.md
  docs/guides/integration/jupyter.md
  docs/guides/integration/pre-commit.md
Due: none

Update _build_backend.py
  python/uv/_build_backend.py
Due: none

Add meta descriptions for some guides (#10421)
  docs/guides/integration/docker.md
  docs/guides/integration/fastapi.md
  docs/guides/integration/jupyter.md
  docs/guides/integration/pre-commit.md
Due: none

docs: Clarify build system specific features usage
  docs/concepts/projects/config.md
Due: none

Split into separate section
  docs/concepts/projects/config.md
Due: none

Add more features
  docs/concepts/projects/config.md
Due: none

docs: Clarify build system specific features usage. (#10261)
  docs/concepts/projects/config.md
Due: none

Fetch concurrently for non-first-match index strategies (#10432)
  crates/uv-client/src/registry_client.rs
Due: cargo-fmt

Use faster disjointness check for markers
  crates/uv-pep508/src/marker/algebra.rs
Due: cargo-fmt

Warn-and-ignore for unsupported requirements.txt options
  Cargo.lock
  crates/uv-requirements-txt/Cargo.toml
  crates/uv-requirements-txt/src/lib.rs
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/(snapshots)/.*|
)$

  cargo-dev-generate-all: any of: ^crates/(uv-cli|uv-settings)/ and \.rs$ and not ((?x)^(
  .*/(snapshots)/.*|
)$
)
