Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

.pre-commit-config.yaml:

fail_fast: true

exclude: |
  (?x)^(
    .*/(snapshots)/.*|
  )$

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.20.2
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.26.0
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: local
    hooks:
      - id: cargo-dev-generate-all
        name: cargo dev generate-all
        entry: cargo dev generate-all
        language: system
        types: [rust]
        pass_filenames: false
        files: ^crates/(uv-cli|uv-settings)/

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

Add `--group` and `--only-group` to `uv sync` and includes all groups in `uv lock` (#8110)
  crates/uv-cli/src/lib.rs
  crates/uv-configuration/src/dev.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/sync.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Add `--group` and `--only-group` to `uv export` (#8332)
  crates/uv-cli/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/export.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Error on duplicate PEP 735 dependency groups (#8390)
  crates/uv-workspace/src/pyproject.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Error when --group includes non-existent groups (#8394)
  crates/uv-configuration/src/dev.rs
  crates/uv-workspace/src/pyproject.rs
  crates/uv/src/commands/project/export.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Rename dev dependencies to dependency groups in lockfile (#8391)
  crates/uv-distribution/src/metadata/mod.rs
  crates/uv-distribution/src/metadata/requires_dist.rs
  crates/uv-requirements/src/lookahead.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-resolver/src/lock/requirements_txt.rs
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__hash_optional_missing.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__hash_optional_present.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__hash_required_present.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__missing_dependency_source_unambiguous.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__missing_dependency_source_version_unambiguous.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__missing_dependency_version_unambiguous.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__source_direct_has_subdir.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__source_direct_no_subdir.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__source_directory.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__source_editable.snap
  crates/uv-resolver/src/lock/tree.rs
  crates/uv-resolver/src/resolution/graph.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/snapshots/it__ecosystem__github-wikidata-bot-lock-file.snap
  crates/uv/tests/it/snapshots/it__ecosystem__packse-lock-file.snap
  crates/uv/tests/it/snapshots/it__ecosystem__warehouse-lock-file.snap
  crates/uv/tests/it/snapshots/it__workflow__packse_add_remove_existing_package_noop-2.snap
  crates/uv/tests/it/snapshots/it__workflow__packse_add_remove_one_package-2.snap
  crates/uv/tests/it/snapshots/it__workflow__packse_promote_transitive_to_direct_then_remove-2.snap
  crates/uv/tests/it/workflow.rs
Due: cargo-fmt

Check dependency groups for credentials (#8393)
  crates/uv/src/commands/project/sync.rs
Due: cargo-fmt

Add basic testing of managed Python installs
  crates/uv/Cargo.toml
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/main.rs
  crates/uv/tests/it/python_install.rs
Due: cargo-fmt

Add `uv-dirs` to consolidate directory lookup methods
  Cargo.lock
  Cargo.toml
  crates/uv-cache/Cargo.toml
  crates/uv-cache/src/cli.rs
  crates/uv-dirs/Cargo.toml
  crates/uv-dirs/src/lib.rs
  crates/uv-state/src/lib.rs
  crates/uv-tool/Cargo.toml
  crates/uv-tool/src/lib.rs
  crates/uv/src/commands/tool/common.rs
  crates/uv/src/commands/tool/dir.rs
  crates/uv/src/commands/tool/update_shell.rs
Due: cargo-fmt

Invalidate clippy-xwin cache in CI
  .github/workflows/ci.yml
Due: none

Add type-based validation for index names (#8464)
  crates/uv-auth/src/credentials.rs
  crates/uv-distribution-types/src/index.rs
  crates/uv-distribution-types/src/index_name.rs
  crates/uv-distribution-types/src/lib.rs
  crates/uv-distribution/src/metadata/lowering.rs
  crates/uv-workspace/src/pyproject.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/tests/it/lock.rs
  docs/configuration/indexes.md
  uv.schema.json
Due: cargo-fmt

Replace `cargo xwin clippy` with native clippy run on Windows temporarily
  .github/workflows/ci.yml
Due: none

Replace `cargo xwin clippy` with native clippy run on Windows again (#8468)
  .github/workflows/ci.yml
Due: none

Add `uv-dirs` to consolidate directory lookup methods (#8453)
  Cargo.lock
  Cargo.toml
  crates/uv-cache/Cargo.toml
  crates/uv-cache/src/cli.rs
  crates/uv-dirs/Cargo.toml
  crates/uv-dirs/src/lib.rs
  crates/uv-state/src/lib.rs
  crates/uv-tool/Cargo.toml
  crates/uv-tool/src/lib.rs
  crates/uv/src/commands/tool/common.rs
  crates/uv/src/commands/tool/dir.rs
  crates/uv/src/commands/tool/update_shell.rs
Due: cargo-fmt

do not imply pre-release when `!=` operator is used (#7974)
  crates/uv-resolver/src/prerelease.rs
  crates/uv/tests/it/pip_compile.rs
Due: cargo-fmt

Use 3.13 in CI (#8014)
  .github/workflows/ci.yml
  .python-versions
  crates/uv/tests/it/venv.rs
Due: cargo-fmt

Improve interactions between color environment variables and CLI options (#8215)
  crates/uv-cli/src/lib.rs
  crates/uv/src/settings.rs
Due: cargo-fmt, cargo-dev-generate-all

Eliminate dependencies on `directores` and `dirs-sys` (#8048)
  Cargo.lock
  Cargo.toml
  crates/uv-dirs/Cargo.toml
  crates/uv-dirs/src/lib.rs
  crates/uv-settings/Cargo.toml
  crates/uv-settings/src/lib.rs
  crates/uv-tool/src/lib.rs
Due: cargo-fmt, cargo-dev-generate-all

Treat the base Conda environment as a system environment (#7691)
  crates/uv-python/src/discovery.rs
  crates/uv-python/src/tests.rs
  crates/uv-python/src/virtualenv.rs
  crates/uv-static/src/env_vars.rs
Due: cargo-fmt

Accept multiple `.env` files in `--env-file` (#8463)
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/run.rs
  docs/configuration/files.md
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Add support for `.env` and custom env files in `uv run` (#8263)
  Cargo.lock
  Cargo.toml
  crates/uv-cli/src/lib.rs
  crates/uv-static/src/env_vars.rs
  crates/uv/Cargo.toml
  crates/uv/src/commands/project/run.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/run.rs
  docs/configuration/environment.md
  docs/configuration/files.md
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Use native Windows runner for trampoline checks
  .github/workflows/ci.yml
Due: none

Use native Windows runner for trampoline checks (#8469)
  .github/workflows/ci.yml
Due: none

Suggest `--from` command when executable is available for `uvx`/`uv tool run`
  crates/uv/src/commands/tool/run.rs
  crates/uv/tests/it/tool_run.rs
Due: cargo-fmt

Support `--with-editable` in `uv tool install`
  crates/uv-cli/src/lib.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/show_settings.rs
  crates/uv/tests/it/tool_install.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Add support for default-groups
  crates/uv-configuration/src/dev.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-resolver/src/lock/requirements_txt.rs
  crates/uv-resolver/src/lock/tree.rs
  crates/uv-settings/src/settings.rs
  crates/uv-workspace/src/pyproject.rs
  crates/uv-workspace/src/workspace/tests.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/export.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/remove.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/project/tree.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/show_settings.rs
  crates/uv/tests/it/sync.rs
  docs/reference/settings.md
  uv.schema.json
Due: cargo-fmt, cargo-dev-generate-all

Add support for `default-groups` (#8471)
  crates/uv-configuration/src/dev.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-resolver/src/lock/requirements_txt.rs
  crates/uv-resolver/src/lock/tree.rs
  crates/uv-settings/src/settings.rs
  crates/uv-workspace/src/pyproject.rs
  crates/uv-workspace/src/workspace/tests.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/export.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/remove.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/project/tree.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/show_settings.rs
  crates/uv/tests/it/sync.rs
  docs/reference/settings.md
  uv.schema.json
Due: cargo-fmt, cargo-dev-generate-all

Upgrade `axoupdater`
  Cargo.lock
Due: none

Suggest `--from` command when executable is available for `uvx` (#8473)
  crates/uv/src/commands/tool/run.rs
  crates/uv/tests/it/tool_run.rs
Due: cargo-fmt

More specific workspaces recommendation
  docs/concepts/dependencies.md
Due: none

Preserve symlinks when creating virtual environments
  Cargo.lock
  crates/uv-build-frontend/Cargo.toml
  crates/uv-build-frontend/src/lib.rs
  crates/uv-dispatch/src/lib.rs
  crates/uv-fs/src/path.rs
  crates/uv-tool/src/lib.rs
  crates/uv-virtualenv/Cargo.toml
  crates/uv-virtualenv/src/lib.rs
  crates/uv-virtualenv/src/virtualenv.rs
  crates/uv/src/commands/project/environment.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/upgrade.rs
  crates/uv/src/commands/venv.rs
Due: cargo-fmt

Update crates/uv/tests/it/tool_install.rs
  crates/uv/tests/it/tool_install.rs
Due: cargo-fmt

Add --no-group to CLI
  crates/uv-cli/src/lib.rs
  crates/uv-configuration/src/dev.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/sync.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Emulate virtualenv canonicalization failure
  .github/workflows/ci.yml
Due: none

Support `--with-editable` in `uv tool install` (#8472)
  crates/uv-cli/src/lib.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/show_settings.rs
  crates/uv/tests/it/tool_install.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

More specific workspaces recommendation (#8478)
  docs/concepts/dependencies.md
Due: none

Upgrade `axoupdater` (#8475)
  Cargo.lock
Due: none

Allow dependency metadata entires for direct URL requirements
  crates/uv-distribution-types/src/dependency_metadata.rs
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-distribution/src/source/mod.rs
  crates/uv-git/src/git.rs
  crates/uv-git/src/resolver.rs
  crates/uv-git/src/source.rs
  crates/uv-resolver/src/redirect.rs
  crates/uv/tests/it/lock.rs
  docs/concepts/projects.md
  docs/concepts/resolution.md
Due: cargo-fmt

Allow dependency metadata entries for direct URL requirements (#7846)
  crates/uv-distribution-types/src/dependency_metadata.rs
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-distribution/src/source/mod.rs
  crates/uv-git/src/git.rs
  crates/uv-git/src/resolver.rs
  crates/uv-git/src/source.rs
  crates/uv-resolver/src/redirect.rs
  crates/uv/tests/it/lock.rs
  docs/concepts/projects.md
  docs/concepts/resolution.md
Due: cargo-fmt

Add docs example for [tool.uv.dependency-metadata]
  docs/concepts/resolution.md
Due: none

Add docs example for URLs with `[tool.uv.dependency-metadata]` (#8484)
  docs/concepts/resolution.md
Due: none
