Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-dev-generate-all:
  name: cargo dev generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

Accept multiple `.env` files in `--env-file` (#8463)
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/run.rs
  docs/configuration/files.md
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Add support for `.env` and custom env files in `uv run` (#8263)
  Cargo.lock
  Cargo.toml
  crates/uv-cli/src/lib.rs
  crates/uv-static/src/env_vars.rs
  crates/uv/Cargo.toml
  crates/uv/src/commands/project/run.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/run.rs
  docs/configuration/environment.md
  docs/configuration/files.md
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Remove extra copy
  crates/uv-cli/src/options.rs
  crates/uv-settings/src/settings.rs
  docs/reference/settings.md
Due: cargo-fmt, cargo-dev-generate-all

Remove allow insecure host from ResolverInstallerArgs
  crates/uv-cli/src/lib.rs
  crates/uv-cli/src/options.rs
  docs/reference/settings.md
Due: cargo-fmt, cargo-dev-generate-all

Implement combine
  crates/uv-cli/src/options.rs
  crates/uv-settings/src/settings.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/export.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/project/tree.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  docs/reference/settings.md
  uv.schema.json
Due: cargo-fmt, cargo-dev-generate-all

Make allow insecure host a global option
  crates/uv-cli/src/lib.rs
  crates/uv-cli/src/options.rs
  crates/uv-settings/src/settings.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/sync.rs
  crates/uv/src/commands/pip/uninstall.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/environment.rs
  crates/uv/src/commands/project/export.rs
  crates/uv/src/commands/project/init.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/remove.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/project/tree.rs
  crates/uv/src/commands/publish.rs
  crates/uv/src/commands/python/install.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/src/commands/tool/upgrade.rs
  crates/uv/src/commands/venv.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/help.rs
  crates/uv/tests/it/show_settings.rs
  docs/reference/cli.md
  docs/reference/settings.md
Due: cargo-fmt, cargo-dev-generate-all

Fix tests
  crates/uv/tests/it/show_settings.rs
Due: cargo-fmt

Add support for requesting free-threaded builds via `+freethreaded`
  crates/uv-python/src/discovery.rs
Due: cargo-fmt

Add note about local version segments
  crates/uv-pep440/src/version.rs
Due: cargo-fmt

Make `--allow-insecure-host` a global option (#8476)
  crates/uv-cli/src/lib.rs
  crates/uv-cli/src/options.rs
  crates/uv-settings/src/settings.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/sync.rs
  crates/uv/src/commands/pip/uninstall.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/environment.rs
  crates/uv/src/commands/project/export.rs
  crates/uv/src/commands/project/init.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/remove.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/project/tree.rs
  crates/uv/src/commands/publish.rs
  crates/uv/src/commands/python/install.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/src/commands/tool/upgrade.rs
  crates/uv/src/commands/venv.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/help.rs
  crates/uv/tests/it/show_settings.rs
  docs/reference/cli.md
  docs/reference/settings.md
  uv.schema.json
Due: cargo-fmt, cargo-dev-generate-all

Add note instead
  .github/workflows/ci.yml
Due: none

Install versioned Python executables into the bin directory during `uv python install`
  .github/workflows/ci.yml
  Cargo.lock
  crates/uv-python/Cargo.toml
  crates/uv-python/src/discovery.rs
  crates/uv-python/src/installation.rs
  crates/uv-python/src/managed.rs
  crates/uv-static/src/env_vars.rs
  crates/uv-tool/src/lib.rs
  crates/uv/Cargo.toml
  crates/uv/src/commands/python/install.rs
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/python_install.rs
Due: cargo-fmt

Report all conflicts at once
  crates/uv-publish/src/lib.rs
  crates/uv/tests/it/publish.rs
Due: cargo-fmt

Add note about local version segments (#8646)
  crates/uv-pep440/src/version.rs
Due: cargo-fmt

Add note about trampoline tests on aarch64 (#8643)
  .github/workflows/ci.yml
Due: none

Install versioned Python executables into the bin directory during `uv python install`
  crates/uv/tests/it/python_install.rs
Due: cargo-fmt

Add support for `uv python dir --bin`
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/python/dir.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Remove Python executables on uninstall
  crates/uv/src/commands/python/uninstall.rs
Due: cargo-fmt

Add uninstall test
  crates/uv/tests/it/python_install.rs
Due: cargo-fmt

Better trusted publishing error story (#8633)
  crates/uv-publish/src/lib.rs
  crates/uv-publish/src/trusted_publishing.rs
  crates/uv/src/commands/publish.rs
  crates/uv/tests/it/publish.rs
Due: cargo-fmt

Add `uv-trampoline-builder` crate for shared trampoline launcher construction utilities
  Cargo.lock
  Cargo.toml
  crates/uv-install-wheel/Cargo.toml
  crates/uv-install-wheel/src/lib.rs
  crates/uv-install-wheel/src/wheel.rs
  crates/uv-trampoline-builder/Cargo.toml
  crates/uv-trampoline-builder/src/lib.rs
Due: cargo-fmt

Bump rust toolchain version
  crates/uv-trampoline/rust-toolchain.toml
Due: none

Add a trampoline variant that executes `python`
  crates/uv-install-wheel/src/wheel.rs
  crates/uv-trampoline/src/bounce.rs
Due: cargo-fmt

Update build instructions
  crates/uv-trampoline/README.md
Due: none

Move tests to new crate
  .github/workflows/ci.yml
  Cargo.lock
  crates/uv-install-wheel/src/wheel.rs
  crates/uv-trampoline-builder/Cargo.toml
  crates/uv-trampoline-builder/src/lib.rs
  crates/uv-trampoline/Cargo.lock
  crates/uv-trampoline/src/bounce.rs
  crates/uv-trampoline/tests/harness.rs
Due: cargo-fmt

Bump allowed launcher size
  crates/uv-trampoline-builder/src/lib.rs
Due: cargo-fmt

Add support for requesting free-threaded builds via `+freethreaded` (#8645)
  crates/uv-python/src/discovery.rs
Due: cargo-fmt

Add some test cases for `python list`
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/main.rs
  crates/uv/tests/it/python_list.rs
Due: cargo-fmt

Rebuild bundled trampolines
  crates/uv-trampoline/trampolines/uv-trampoline-aarch64-console.exe
  crates/uv-trampoline/trampolines/uv-trampoline-aarch64-gui.exe
  crates/uv-trampoline/trampolines/uv-trampoline-i686-console.exe
  crates/uv-trampoline/trampolines/uv-trampoline-i686-gui.exe
  crates/uv-trampoline/trampolines/uv-trampoline-x86_64-console.exe
  crates/uv-trampoline/trampolines/uv-trampoline-x86_64-gui.exe
Due: none

Bump version to 0.4.28
  CHANGELOG.md
  Cargo.lock
  crates/uv-version/Cargo.toml
  crates/uv/Cargo.toml
  docs/guides/integration/docker.md
  docs/guides/integration/github.md
  docs/guides/integration/pre-commit.md
  pyproject.toml
Due: none

Bump version to 0.4.28 (#8648)
  CHANGELOG.md
  Cargo.lock
  crates/uv-version/Cargo.toml
  crates/uv/Cargo.toml
  docs/guides/integration/docker.md
  docs/guides/integration/github.md
  docs/guides/integration/pre-commit.md
  pyproject.toml
Due: none

Update snapshots
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Update changelog
  CHANGELOG.md
Due: none

Update Windows trampolines for compatibility with Python 3.7 and earlier
  crates/uv-install-wheel/src/wheel.rs
  crates/uv-trampoline/README.md
  crates/uv-trampoline/src/bounce.rs
  crates/uv-trampoline/tests/harness.rs
  crates/uv-trampoline/trampolines/uv-trampoline-aarch64-console.exe
  crates/uv-trampoline/trampolines/uv-trampoline-aarch64-gui.exe
  crates/uv-trampoline/trampolines/uv-trampoline-i686-console.exe
  crates/uv-trampoline/trampolines/uv-trampoline-i686-gui.exe
  crates/uv-trampoline/trampolines/uv-trampoline-x86_64-console.exe
  crates/uv-trampoline/trampolines/uv-trampoline-x86_64-gui.exe
  crates/uv/tests/it/tool_install.rs
Due: cargo-fmt

Use `dev-dependencies` and `requires-dev` for lockfile compatibility (#8599)
  CHANGELOG.md
  crates/uv-resolver/src/lock/mod.rs
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/snapshots/it__ecosystem__github-wikidata-bot-lock-file.snap
  crates/uv/tests/it/snapshots/it__ecosystem__packse-lock-file.snap
  crates/uv/tests/it/snapshots/it__ecosystem__warehouse-lock-file.snap
  crates/uv/tests/it/snapshots/it__workflow__packse_add_remove_existing_package_noop-2.snap
  crates/uv/tests/it/snapshots/it__workflow__packse_add_remove_one_package-2.snap
  crates/uv/tests/it/snapshots/it__workflow__packse_promote_transitive_to_direct_then_remove-2.snap
  crates/uv/tests/it/workflow.rs
Due: cargo-fmt

Fix tests on main
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Fix tests on main (#8655)
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Respect dependency group markers in uv export
  crates/uv-resolver/src/lock/requirements_txt.rs
  crates/uv/tests/it/export.rs
Due: cargo-fmt

Add riscv64 to supported Python platform tags
  crates/uv-platform-tags/src/platform.rs
  crates/uv-python/src/platform.rs
Due: cargo-fmt

Respect dependency group markers in `uv export` (#8659)
  crates/uv-resolver/src/lock/requirements_txt.rs
  crates/uv/tests/it/export.rs
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/(snapshots)/.*|
)$

  cargo-dev-generate-all: any of: ^crates/(uv-cli|uv-settings)/ and \.rs$ and not ((?x)^(
  .*/(snapshots)/.*|
)$
)
