Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-dev-generate-all:
  name: cargo dev generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

move RequiresPython to uv-distribution-types
  crates/uv-bench/benches/uv.rs
  crates/uv-distribution-types/src/lib.rs
  crates/uv-distribution-types/src/requires_python.rs
  crates/uv-resolver/src/lib.rs
  crates/uv-resolver/src/lock/export/pylock_toml.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-resolver/src/marker.rs
  crates/uv-resolver/src/pubgrub/report.rs
  crates/uv-resolver/src/python_requirement.rs
  crates/uv-resolver/src/resolution/output.rs
  crates/uv-resolver/src/resolution/requirements_txt.rs
  crates/uv-resolver/src/resolver/environment.rs
  crates/uv-resolver/src/resolver/provider.rs
  crates/uv-resolver/src/version_map.rs
  crates/uv-workspace/src/pyproject.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/pip/latest.rs
  crates/uv/src/commands/pip/list.rs
  crates/uv/src/commands/pip/tree.rs
  crates/uv/src/commands/project/init.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/lock_target.rs
  crates/uv/src/commands/project/mod.rs
Due: cargo-fmt

add test
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

fix doc
  crates/uv-workspace/src/pyproject.rs
  docs/reference/settings.md
Due: cargo-fmt

add more test
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

cleanup diagnostic
  crates/uv-distribution/src/metadata/requires_dist.rs
  crates/uv-workspace/src/dependency_groups.rs
  crates/uv-workspace/src/workspace.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/run.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

cleanup from review
  crates/uv-configuration/src/dependency_groups.rs
  crates/uv-workspace/src/dependency_groups.rs
Due: cargo-fmt

use enabled groups in interpretter discovery
  Cargo.lock
  crates/uv-configuration/src/dependency_groups.rs
  crates/uv-configuration/src/extras.rs
  crates/uv-workspace/Cargo.toml
  crates/uv-workspace/src/workspace.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/export.rs
  crates/uv/src/commands/project/init.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/lock_target.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/remove.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/project/tree.rs
  crates/uv/src/commands/project/version.rs
  crates/uv/src/commands/python/find.rs
  crates/uv/src/commands/python/pin.rs
  crates/uv/src/commands/venv.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/venv.rs
Due: cargo-fmt

apply settings pre-flatening
  crates/uv-distribution/src/metadata/lowering.rs
  crates/uv-distribution/src/metadata/requires_dist.rs
  crates/uv-workspace/src/dependency_groups.rs
  crates/uv-workspace/src/workspace.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

fmt
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

regen
  docs/reference/settings.md
  uv.schema.json
Due: none

add test of transitive contradiction
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

cleanup group inheritance test
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/tests/it/run.rs
Due: cargo-fmt

properly flatten dependency-group requires-pythons
  crates/uv-distribution/src/metadata/requires_dist.rs
  crates/uv-workspace/src/dependency_groups.rs
  crates/uv-workspace/src/workspace.rs
  crates/uv/src/commands/project/install_target.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/lock_target.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/run.rs
  crates/uv/tests/it/sync.rs
  crates/uv/tests/it/venv.rs
Due: cargo-fmt

Add a "storage" reference document
  docs/getting-started/installation.md
  docs/reference/index.md
  docs/reference/installer.md
  docs/reference/storage.md
  mkdocs.template.yml
Due: none

Simplify Python version link construction in discovery
  crates/uv-python/src/discovery.rs
Due: cargo-fmt

Simplify Python version link construction in discovery (#13980)
  crates/uv-python/src/discovery.rs
Due: cargo-fmt

cleanups from review
  crates/uv-workspace/src/dependency_groups.rs
  crates/uv/src/commands/project/lock_target.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/version.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/run.rs
  crates/uv/tests/it/sync.rs
  crates/uv/tests/it/venv.rs
Due: cargo-fmt

Add zstd to Accept-Encoding
  Cargo.toml
  crates/uv-client/src/registry_client.rs
Due: cargo-fmt

try to improve error message
  crates/uv-workspace/src/lib.rs
  crates/uv-workspace/src/workspace.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/python/find.rs
  crates/uv/src/commands/venv.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/python_find.rs
  crates/uv/tests/it/run.rs
  crates/uv/tests/it/sync.rs
  crates/uv/tests/it/venv.rs
Due: cargo-fmt

Add `zstd` and `deflate` to `Accept-Encoding` (#13982)
  Cargo.toml
  crates/uv-client/src/registry_client.rs
Due: cargo-fmt

Universal sync_required_environment_hint test (#13975)
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Update the CLI help and reference to include references to the Python bin directory
  crates/uv-cli/src/lib.rs
  crates/uv/tests/it/help.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Update the CLI help and reference to include references to the Python bin directory (#13978)
  crates/uv-cli/src/lib.rs
  crates/uv/tests/it/help.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Debug `sync_dry_run` flake by panicking with verbose output on failure (#13817)
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

wip
  crates/uv-workspace/Cargo.toml
  crates/uv-workspace/src/pyproject.rs
  crates/uv/src/commands/project/mod.rs
  docs/reference/settings.md
  uv.schema.json
Due: cargo-fmt

Sync latest Python releases
  crates/uv-dev/src/generate_sysconfig_mappings.rs
  crates/uv-python/download-metadata.json
  crates/uv-python/src/sysconfig/generated_mappings.rs
Due: cargo-fmt

Snaps
  crates/uv/tests/it/python_install.rs
Due: cargo-fmt

Change entrypoint paths to use double backslashes on Windows
  crates/uv/src/commands/tool/list.rs
  crates/uv/tests/it/common/mod.rs
Due: cargo-fmt

Do not allow `uv add --group ... --script`
  crates/uv-cli/src/lib.rs
Due: cargo-fmt, cargo-dev-generate-all

Fix
  crates/uv/tests/it/tool_list.rs
Due: cargo-fmt

Add test back
  crates/uv/tests/it/edit.rs
Due: cargo-fmt

Do not allow `uv add --group ... --script` (#13997)
  crates/uv-cli/src/lib.rs
  crates/uv/tests/it/edit.rs
Due: cargo-fmt, cargo-dev-generate-all

Update platform support reference to include Python implementation list
  docs/reference/policies/platforms.md
Due: none

Update platform support reference to include Python implementation list (#13991)
  docs/reference/policies/platforms.md
Due: none

Add supported macOS version to the platform reference
  docs/reference/policies/platforms.md
Due: none

Add 3.14 to the supported platform reference
  docs/reference/policies/platforms.md
Due: none

Add supported macOS version to the platform reference (#13993)
  docs/reference/policies/platforms.md
Due: none

Add 3.14 to the supported platform reference (#13990)
  docs/reference/policies/platforms.md
Due: none

Add UV_PACKAGE environment variable
  crates/uv-cli/src/lib.rs
  crates/uv-static/src/env_vars.rs
Due: cargo-fmt, cargo-dev-generate-all

Generate docs
  docs/reference/cli.md
  docs/reference/environment.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/(snapshots)/.*|
)$

  cargo-dev-generate-all: any of: ^crates/(uv-cli|uv-settings)/ and \.rs$ and not ((?x)^(
  .*/(snapshots)/.*|
)$
)
