Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-dev-generate-all:
  name: cargo dev generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

Fix `uv-trampoline-builder` builds from crates.io by moving bundled executables (#16922)
  .github/workflows/ci.yml
  crates/uv-trampoline-builder/Cargo.toml
  crates/uv-trampoline-builder/src/lib.rs
  crates/uv-trampoline-builder/trampolines/uv-trampoline-aarch64-console.exe
  crates/uv-trampoline-builder/trampolines/uv-trampoline-aarch64-gui.exe
  crates/uv-trampoline-builder/trampolines/uv-trampoline-i686-console.exe
  crates/uv-trampoline-builder/trampolines/uv-trampoline-i686-gui.exe
  crates/uv-trampoline-builder/trampolines/uv-trampoline-x86_64-console.exe
  crates/uv-trampoline-builder/trampolines/uv-trampoline-x86_64-gui.exe
  crates/uv-trampoline/README.md
  pyproject.toml
Due: cargo-fmt

Ignore if default is set
  crates/uv-distribution-types/src/index_url.rs
Due: cargo-fmt

Use https://download.pytorch.org/whl/variant
  crates/uv-distribution-types/src/index_url.rs
Due: cargo-fmt

Automatically include extra variant index in variant prototype
  crates/uv-distribution-types/src/index_url.rs
Due: cargo-fmt

Allow version
  .github/workflows/build-binaries.yml
  publish/main.py
Due: none

Try larger runners
  .github/workflows/build-binaries.yml
Due: none

Move to https://wheelnext.github.io/variants-index/v0.0.2/
  crates/uv-distribution-types/src/index_url.rs
Due: cargo-fmt

Add a release pipeline
  .github/workflows/release.yml
  dist-workspace.toml
Due: none

Add a publish script
  publish/.gitignore
  publish/main.py
Due: none

Prefix cache buckets
  crates/uv-cache/src/lib.rs
  crates/uv-cli/src/lib.rs
  crates/uv-cli/src/version.rs
Due: cargo-fmt, cargo-dev-generate-all

Move to https://wheelnext.github.io/variants-index/v0.0.3
  crates/uv-distribution-types/src/index_url.rs
Due: cargo-fmt

Use our org-wide Renovate preset
  .github/renovate.json5
Due: none

remove prHourlyLimit
  .github/renovate.json5
Due: none

Use our org-wide Renovate preset (#16935)
  .github/renovate.json5
Due: none

Revert "Bump `astral-tl` to v0.7.10 (#16887)"
  Cargo.lock
  Cargo.toml
Due: none

Remove attestations
  .github/workflows/release.yml
Due: none

Revert "Bump `astral-tl` to v0.7.10 (#16887)" (#16938)
  Cargo.lock
  Cargo.toml
Due: none

Update snapshot
  crates/uv/tests/it/tool_run.rs
Due: cargo-fmt

Add CPython 3.14.1 and 3.13.10
  crates/uv-python/download-metadata.json
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/python_install.rs
  crates/uv/tests/it/python_upgrade.rs
Due: cargo-fmt

Windows
  crates/uv/tests/it/tool_run.rs
Due: cargo-fmt

Add CPython 3.14.1 and 3.13.10 (#16941)
  crates/uv-python/download-metadata.json
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/python_install.rs
  crates/uv/tests/it/python_upgrade.rs
Due: cargo-fmt

Allow reading requirements from scripts with HTTP(S) paths (#16891)
  crates/uv-requirements/src/sources.rs
  crates/uv-requirements/src/specification.rs
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/tool_run.rs
Due: cargo-fmt

Disable PEP 740 attestations for PyPI publishing
  .github/workflows/publish-pypi.yml
Due: none

Add `UV_HIDE_BUILD_OUTPUT` to omit build logs (#16885)
  Cargo.lock
  crates/uv-distribution/Cargo.toml
  crates/uv-distribution/src/source/mod.rs
  crates/uv-flags/src/lib.rs
  crates/uv-settings/src/lib.rs
  crates/uv-static/src/env_vars.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/tests/it/build.rs
  docs/reference/environment.md
Due: cargo-fmt, cargo-dev-generate-all

Disable PEP 740 attestations for PyPI publishing (#16944)
  .github/workflows/publish-pypi.yml
Due: none

Temporarily drop `crates-publish` from the release for 0.9.15 re-run
  .github/workflows/release.yml
  dist-workspace.toml
Due: none

Amend the 0.9.15 changelog
  CHANGELOG.md
Due: none

Temporarily drop `crates-publish` from the release for 0.9.15 re-run (#16945)
  .github/workflows/release.yml
  dist-workspace.toml
Due: none

Amend the 0.9.15 changelog (#16946)
  CHANGELOG.md
Due: none

Clarify UV_HTTP_TIMEOUT format in error message
  crates/uv-client/src/registry_client.rs
  crates/uv-distribution/src/distribution_database.rs
Due: cargo-fmt

Revert "Temporarily drop `crates-publish` from the release for 0.9.15 re-run (#16945)"
  .github/workflows/release.yml
  dist-workspace.toml
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/(snapshots)/.*|
)$

  cargo-dev-generate-all: any of: ^crates/(uv-cli|uv-settings)/ and \.rs$ and not ((?x)^(
  .*/(snapshots)/.*|
)$
)
