Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

.pre-commit-config.yaml:

fail_fast: true

exclude: |
  (?x)^(
    .*/(snapshots)/.*|
  )$

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.42.3
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: local
    hooks:
      - id: cargo-dev-generate-all
        name: cargo dev generate-all
        entry: cargo dev generate-all
        language: system
        types: [rust]
        pass_filenames: false
        files: ^crates/(uv-cli|uv-settings)/

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --ignore-unknown
        language: node
        additional_dependencies: ["prettier@3"]
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

feat: add --env-file-override flag to uv run and uv tool run
  crates/uv-cli/src/lib.rs
  crates/uv-static/src/env_vars.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/run.rs
  crates/uv/tests/it/tool_run.rs
  docs/concepts/configuration-files.md
Due: cargo-fmt, cargo-dev-generate-all

fix(distribution): validate cached wheel archives against corruption
  crates/uv-distribution/src/archive.rs
Due: cargo-fmt

Reject duplicate PEP 723 script blocks
  crates/uv-scripts/src/lib.rs
  crates/uv/tests/it/run.rs
Due: cargo-fmt

Remove graalpy and pypy install tests
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Fix schemars propagation for uv-distribution-types
  crates/uv-distribution-types/Cargo.toml
  crates/uv-workspace/Cargo.toml
Due: none

Fix schemars propagation for `uv-distribution-types` (#19564)
  crates/uv-distribution-types/Cargo.toml
  crates/uv-workspace/Cargo.toml
Due: none

Reject duplicate PEP 723 script blocks (#19544)
  crates/uv-scripts/src/lib.rs
  crates/uv/tests/it/run.rs
Due: cargo-fmt

Ban graalpy and pypy as script/gui entry point names (#19536)
  crates/uv-install-wheel/src/wheel.rs
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

[WIP] crunch the diff a bit
  crates/uv-distribution/src/distribution_database.rs
  crates/uv/tests/it/network.rs
Due: cargo-fmt

Make logging explicit
  crates/uv/tests/it/network.rs
Due: cargo-fmt

Avoid modifying process with --env-file in uv run
  crates/uv/src/commands/mod.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/tests/it/run.rs
Due: cargo-fmt

Improve the 403 forbidden hint to suggest `ignore-error-codes` when applicable
  crates/uv-resolver/src/pubgrub/report.rs
  crates/uv/tests/it/edit.rs
Due: cargo-fmt

Defensive range check
  Cargo.lock
  Cargo.toml
  crates/uv-distribution/Cargo.toml
  crates/uv-distribution/src/distribution_database.rs
  crates/uv/tests/it/network.rs
Due: cargo-fmt

Ban calls
  clippy.toml
Due: none

Remove two muts
  crates/uv-distribution/src/distribution_database.rs
Due: cargo-fmt

Avoid modifying process with `--env-file` in `uv run` (#19567)
  clippy.toml
  crates/uv/src/commands/mod.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/tests/it/run.rs
Due: cargo-fmt

Improve the 403 forbidden hint to suggest `ignore-error-codes` when applicable (#19521)
  crates/uv-resolver/src/pubgrub/report.rs
  crates/uv/tests/it/edit.rs
Due: cargo-fmt

Don't bypass retry logic
  crates/uv-distribution/src/distribution_database.rs
  crates/uv/tests/it/network.rs
Due: cargo-fmt

Explanatory comment
  crates/uv-distribution/src/distribution_database.rs
Due: cargo-fmt

Add module owners to workspace metadata
  crates/uv-cli/src/lib.rs
  crates/uv-resolver/src/lock/export/metadata.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/workspace/metadata.rs
  crates/uv/src/commands/workspace/mod.rs
  crates/uv/src/commands/workspace/module_owners.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/workspace_metadata.rs
Due: cargo-fmt, cargo-dev-generate-all

Address review feedback
  crates/uv-cli/src/lib.rs
  crates/uv-distribution-types/src/installed_modules.rs
  crates/uv-distribution-types/src/lib.rs
  crates/uv-pypi-types/src/lib.rs
  crates/uv-pypi-types/src/module_name.rs
  crates/uv-resolver/src/lock/export/metadata.rs
  crates/uv/src/commands/workspace/module_owners.rs
  crates/uv/tests/it/workspace_metadata.rs
Due: cargo-fmt, cargo-dev-generate-all

Rename workspace metadata sync flag
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/workspace/metadata.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/workspace_metadata.rs
Due: cargo-fmt, cargo-dev-generate-all

Make workspace metadata sync conflict with dry-run
  crates/uv-cli/src/lib.rs
  crates/uv/tests/it/workspace_metadata.rs
Due: cargo-fmt, cargo-dev-generate-all

Use package IDs for module owners
  crates/uv-cli/src/lib.rs
  crates/uv-resolver/src/lock/export/metadata.rs
  crates/uv/src/commands/workspace/module_owners.rs
  crates/uv/tests/it/workspace_metadata.rs
Due: cargo-fmt, cargo-dev-generate-all

Avoid Python discovery for frozen workspace metadata
  crates/uv/src/commands/workspace/metadata.rs
Due: cargo-fmt

Avoid stale owners for virtual metadata packages
  crates/uv/src/commands/workspace/module_owners.rs
  crates/uv/tests/it/workspace_metadata.rs
Due: cargo-fmt

Simplify workspace metadata module owners
  crates/uv-configuration/src/dependency_groups.rs
  crates/uv-distribution-types/src/installed_modules.rs
  crates/uv-pypi-types/src/module_name.rs
  crates/uv-resolver/src/lock/export/metadata.rs
  crates/uv/src/commands/workspace/module_owners.rs
Due: cargo-fmt

clippy
  crates/uv-distribution-types/src/installed_modules.rs
Due: cargo-fmt

Harden bytecode and extension stemming
  crates/uv-distribution-types/src/installed_modules.rs
  crates/uv/tests/it/workspace_metadata.rs
Due: cargo-fmt

Use async_zip for workspace metadata wheel fixtures
  crates/uv/tests/it/workspace_metadata.rs
Due: cargo-fmt

Pass malware settings to workspace metadata sync
  crates/uv/src/commands/workspace/metadata.rs
  crates/uv/src/commands/workspace/module_owners.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
Due: cargo-fmt

Review
  crates/uv-dev/src/generate_scenarios.rs
  crates/uv-dev/src/lib.rs
  crates/uv-test/Cargo.toml
  crates/uv-test/src/packse/scenario.rs
  crates/uv-test/src/packse/server.rs
  crates/uv-test/src/packse/wheel.rs
  crates/uv-test/src/vendor.rs
  crates/uv/tests/it/lock_scenarios.rs
  crates/uv/tests/it/pip_compile_scenarios.rs
  crates/uv/tests/it/pip_install_scenarios.rs
Due: cargo-fmt

Readjust the trampoline CI check (#19225)
  .github/workflows/ci.yml
  .github/workflows/test-windows-trampolines.yml
  crates/uv-trampoline-builder/trampolines/uv-trampoline-aarch64-console.exe
  crates/uv-trampoline-builder/trampolines/uv-trampoline-aarch64-gui.exe
  crates/uv-trampoline-builder/trampolines/uv-trampoline-i686-console.exe
  crates/uv-trampoline-builder/trampolines/uv-trampoline-i686-gui.exe
  crates/uv-trampoline-builder/trampolines/uv-trampoline-x86_64-console.exe
  crates/uv-trampoline-builder/trampolines/uv-trampoline-x86_64-gui.exe
  scripts/build-trampolines-in-docker.sh
  scripts/build-trampolines.sh
Due: none

Allow future `exclude-newer` values during `uv lock --check`
  crates/uv-resolver/src/exclude_newer.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Invalidate cached interpreters when pyvenv.cfg changes
  crates/uv-python/src/interpreter.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/tests/it/run.rs
Due: cargo-fmt

Add a diagnostic for uv add with standard library modules
  crates/uv-static/src/known_stdlib.rs
  crates/uv-static/src/lib.rs
  crates/uv/src/commands/diagnostics.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/tests/it/edit.rs
  scripts/generate-known-stdlib.py
Due: cargo-fmt

Use relative path when creating symlinks in cache.
  crates/uv-cache/src/lib.rs
Due: cargo-fmt

uv-auth/credentials: test that a caller-set x-ms-version is preserved by Azure signer
  crates/uv-auth/src/credentials.rs
Due: cargo-fmt

uv-auth/providers: test is_endpoint_url with realistic Azure Blob Storage URL pattern
  crates/uv-auth/src/providers.rs
Due: cargo-fmt

uv-auth: apply rustfmt
  crates/uv-auth/src/providers.rs
Due: cargo-fmt
