Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-dev-generate-all:
  name: cargo dev generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

Fix versionless egg-info file handling
  crates/uv-distribution-types/src/installed.rs
  crates/uv/tests/pip/pip_check.rs
  crates/uv/tests/pip/pip_uninstall.rs
Due: cargo-fmt

Reject duplicate active pylock packages
  crates/uv-resolver/src/lock/export/pylock_toml.rs
  crates/uv/tests/pip/pip_sync.rs
Due: cargo-fmt

Report strict diagnostics for satisfied installs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/operations.rs
  crates/uv/src/commands/pip/sync.rs
  crates/uv/tests/pip_install/pip_install.rs
Due: cargo-fmt

Prevent core metadata header injection
  crates/uv-build-backend/src/metadata.rs
  crates/uv-pypi-types/src/metadata/metadata23.rs
  crates/uv/tests/build/build_backend.rs
Due: cargo-fmt

Parse audit service URLs in the CLI layer
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/project/audit.rs
  crates/uv/src/settings.rs
  crates/uv/tests/build/audit.rs
Due: cargo-fmt, cargo-dev-generate-all

Apply suggestion from @zanieb
  .github/workflows/issue-triage.yml
Due: none

Allow manual issue triage
  .github/workflows/issue-triage.yml
Due: none

Normalize certificate error snapshots
  crates/uv/tests/pip/pip_sync.rs
  crates/uv/tests/pip_compile/pip_compile.rs
Due: cargo-fmt

Add --cert support to uv pip
  crates/uv-cli/src/compat.rs
  crates/uv-cli/src/lib.rs
  crates/uv-client/src/base_client.rs
  crates/uv-client/src/lib.rs
  crates/uv-client/src/tls.rs
  crates/uv-client/tests/it/ssl_certs.rs
  crates/uv/src/lib.rs
  crates/uv/tests/it/help.rs
  crates/uv/tests/pip/pip_sync.rs
  crates/uv/tests/pip_compile/pip_compile.rs
  docs/concepts/authentication/certificates.md
Due: cargo-fmt, cargo-dev-generate-all

Allow issue triage automation to run manually (#20377)
  .github/workflows/issue-triage.yml
Due: none

Address certificate review feedback
  crates/uv-client/src/base_client.rs
  crates/uv-client/src/lib.rs
  crates/uv-client/src/tls.rs
  crates/uv-client/tests/it/ssl_certs.rs
  crates/uv/src/lib.rs
Due: cargo-fmt

Make if-necessary the default pre-release mode
  crates/uv-cli/src/lib.rs
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__hash_optional_missing.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__hash_optional_present.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__hash_required_present.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__missing_dependency_source_unambiguous.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__missing_dependency_source_version_unambiguous.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__missing_dependency_version_dynamic.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__missing_dependency_version_unambiguous.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__source_direct_has_subdir.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__source_direct_no_subdir.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__source_directory.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__source_editable.snap
  crates/uv-resolver/src/prerelease.rs
  crates/uv-settings/src/settings.rs
  crates/uv/src/settings.rs
  crates/uv/tests/lock/lock.rs
  crates/uv/tests/pip_install/pip_install.rs
  crates/uv/tests/sync/show_settings.rs
  docs/concepts/resolution.md
  docs/pip/compatibility.md
  test/ecosystem/semantic-kernel/pyproject.toml
  uv.schema.json
Due: cargo-fmt, cargo-dev-generate-all

Preserve deprecated explicit pre-release mode (#20246)
  crates/uv-resolver/src/manifest.rs
  crates/uv-resolver/src/prerelease.rs
  crates/uv-resolver/src/yanks.rs
  crates/uv/src/settings.rs
  crates/uv/tests/lock/lock.rs
  crates/uv/tests/pip_install/pip_install.rs
  docs/concepts/resolution.md
  docs/pip/compatibility.md
  uv.schema.json
Due: cargo-fmt

Make pre-release proxy selection self-contained (#20161)
  crates/uv-resolver/src/dependency_provider.rs
  crates/uv-resolver/src/pubgrub/priority.rs
  crates/uv-resolver/src/resolver/mod.rs
Due: cargo-fmt

Preserve first-index pre-release ordering
  crates/uv-resolver/src/candidate_selector.rs
  crates/uv/tests/pip_install/pip_install.rs
Due: cargo-fmt

Support --require-hashes in requirements.txt files
  crates/uv-configuration/src/hash.rs
  crates/uv-requirements-txt/src/lib.rs
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__line-endings-basic.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__line-endings-constraints-a.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__line-endings-constraints-b.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__line-endings-empty.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__line-endings-for-poetry.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__line-endings-include-a.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__line-endings-include-b.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__line-endings-poetry-with-hashes.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__line-endings-small.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__line-endings-whitespace.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-basic.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-constraints-a.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-constraints-b.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-empty.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-for-poetry.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-include-a.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-include-b.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-poetry-with-hashes.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-small.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-unix-bare-url.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-unix-editable.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-whitespace.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-windows-bare-url.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-windows-editable.txt.snap
  crates/uv-requirements/src/specification.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/sync.rs
  crates/uv/tests/pip/pip_sync.rs
  crates/uv/tests/pip_install/pip_install.rs
Due: cargo-fmt

Validate --upgrade-group targets
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/lock_target.rs
  crates/uv/tests/lock/lock.rs
Due: cargo-fmt

Batch large OSV queries
  crates/uv-audit/src/service/osv.rs
Due: cargo-fmt

Honor Python version pins when initializing scripts
  crates/uv/src/commands/project/init.rs
  crates/uv/tests/project/init.rs
Due: cargo-fmt

Update issue created automation to perform classification (#20344)
  agents/prompts/triage-issue.md
  agents/schemas/issue-triage.json
Due: none

Reproduce reported bugs during issue triage
  .github/workflows/issue-triage.yml
  agents/codex/config.toml
  agents/prompts/issue-triage-bug.md
  agents/prompts/triage-issue.md
  agents/schemas/issue-triage.json
Due: none

Fix the broken terminal bench task
  log-report/environment/Dockerfile
  log-report/environment/access.log
  log-report/environment/ctrf.json
  log-report/environment/report.json
  log-report/environment/reward.txt
  log-report/environment/solution_hint.py
  log-report/instruction.md
  log-report/solution/solve.py
  log-report/solution/solve.sh
  log-report/task.toml
  log-report/tests/test.sh
  log-report/tests/test_outputs.py
Due: none

Respect wheel data boundaries and excludes
  crates/uv-build-backend/src/wheel.rs
  crates/uv/tests/build/build_backend.rs
Due: cargo-fmt

Fix upgrade group validation edge cases
  crates/uv-configuration/src/package_options.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/tests/lock/lock.rs
  crates/uv/tests/sync/show_settings.rs
Due: cargo-fmt

Support `--require-hashes` in `requirements.txt files` (#19336)
  crates/uv-configuration/src/hash.rs
  crates/uv-requirements-txt/src/lib.rs
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__line-endings-basic.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__line-endings-constraints-a.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__line-endings-constraints-b.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__line-endings-empty.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__line-endings-for-poetry.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__line-endings-include-a.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__line-endings-include-b.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__line-endings-poetry-with-hashes.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__line-endings-small.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__line-endings-whitespace.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-basic.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-constraints-a.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-constraints-b.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-empty.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-for-poetry.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-include-a.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-include-b.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-poetry-with-hashes.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-small.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-unix-bare-url.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-unix-editable.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-whitespace.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-windows-bare-url.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-windows-editable.txt.snap
  crates/uv-requirements/src/specification.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/sync.rs
  crates/uv/tests/pip/pip_sync.rs
  crates/uv/tests/pip_install/pip_install.rs
Due: cargo-fmt

docs: clarify that --exclude can be used multiple times
  crates/uv-cli/src/lib.rs
Due: cargo-fmt, cargo-dev-generate-all

Clarify custom certificate loading
  crates/uv-client/src/tls.rs
  crates/uv/src/lib.rs
Due: cargo-fmt

Reject invalid build entry points
  crates/uv-build-backend/Cargo.toml
  crates/uv-build-backend/src/metadata.rs
  crates/uv/tests/build/build.rs
Due: cargo-fmt

Allow issue triage to write the uv cache
  .github/workflows/issue-triage.yml
Due: none

Validate `--upgrade-group` targets (#18957)
  crates/uv-configuration/src/package_options.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/lock_target.rs
  crates/uv/tests/lock/lock.rs
  crates/uv/tests/sync/show_settings.rs
Due: cargo-fmt

Use the installed uv for issue reproduction
  agents/prompts/issue-triage-bug.md
Due: none

Preserve direct archive hashes in pip freeze
  crates/uv-distribution-types/src/requirement.rs
  crates/uv-distribution-types/src/specified_requirement.rs
  crates/uv-pypi-types/src/direct_url.rs
  crates/uv/tests/pip/pip_freeze.rs
Due: cargo-fmt

Scan platlib when purelib is missing
  crates/uv-installer/src/site_packages.rs
Due: cargo-fmt

docs: differentiate global index option anchors by type
  crates/uv-dev/src/generate_options_reference.rs
Due: cargo-fmt

docs: document platform limitation for required-environments
  crates/uv-workspace/src/pyproject.rs
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/(snapshots)/.*|
)$

  cargo-dev-generate-all: any of: ^crates/(uv-cli|uv-settings)/ and \.rs$ and not ((?x)^(
  .*/(snapshots)/.*|
)$
)
