Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

.pre-commit-config.yaml:

fail_fast: true

exclude: |
  (?x)^(
    .*/(snapshots)/.*|
  )$

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.42.3
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: local
    hooks:
      - id: cargo-dev-generate-all
        name: cargo dev generate-all
        entry: cargo dev generate-all
        language: system
        types: [rust]
        pass_filenames: false
        files: ^crates/(uv-cli|uv-settings)/

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --ignore-unknown
        language: node
        additional_dependencies: ["prettier@3"]
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

Auto-enable TOML backwards compatibility
  crates/uv-build-backend/Cargo.toml
  crates/uv-build-backend/src/lib.rs
  crates/uv-build-backend/src/source_dist.rs
Due: cargo-fmt

Update readme
  crates/uv-toml/README.md
Due: none

Integration test for warning
  crates/uv/tests/it/build_backend.rs
Due: cargo-fmt

Rebase followup
  Cargo.lock
Due: none

Normalize second-less TOML datetimes for TOML 1.0 (#19338)
  Cargo.lock
  Cargo.toml
  crates/uv-build-backend/src/lib.rs
  crates/uv-build-backend/src/source_dist.rs
  crates/uv-toml/Cargo.toml
  crates/uv-toml/README.md
  crates/uv-toml/src/lib.rs
  docs/concepts/build-backend.md
Due: cargo-fmt

Rebase fixes
  Cargo.lock
  Cargo.toml
  crates/uv-build-backend/src/lib.rs
  crates/uv-preview/src/lib.rs
  crates/uv-resolver/Cargo.toml
  crates/uv-toml/Cargo.toml
  crates/uv-toml/README.md
  crates/uv/README.md
Due: cargo-fmt

Add TOML v1.1 -> v1.0 backwards compatibility for source distributions (#18741)
  Cargo.lock
  Cargo.toml
  crates/uv-build-backend/Cargo.toml
  crates/uv-build-backend/src/lib.rs
  crates/uv-build-backend/src/source_dist.rs
  crates/uv-preview/src/lib.rs
  crates/uv-resolver/Cargo.toml
  crates/uv-resolver/src/lock/export/pylock_toml.rs
  crates/uv-toml/Cargo.toml
  crates/uv-toml/README.md
  crates/uv-toml/src/lib.rs
  crates/uv/README.md
  crates/uv/tests/it/build.rs
  crates/uv/tests/it/build_backend.rs
  crates/uv/tests/it/show_settings.rs
  docs/concepts/build-backend.md
Due: cargo-fmt

Remove duplicate winnow dependency
  Cargo.lock
Due: none

Remove duplicate winnow dependency (#19455)
  Cargo.lock
Due: none

fix(#12986): CLI docs papercut for `--verbose`
  crates/uv-cli/src/lib.rs
  crates/uv/tests/it/help.rs
Due: cargo-fmt, cargo-dev-generate-all

Configure maturin and uv so `uv run` can be used to work on uv itself
  pyproject.toml
Due: none

Pin cargo-shear to v1.12.4
  .github/workflows/check-lint.yml
Due: none

Bump astral-tokio-tar from 0.6.1 to 0.6.2
  Cargo.lock
  Cargo.toml
Due: none

Bump astral-tokio-tar from 0.6.1 to 0.6.2 (#19463)
  Cargo.lock
  Cargo.toml
Due: none

Pin cargo-shear to v1.12.4 (#19462)
  .github/workflows/check-lint.yml
Due: none

Configure maturin and uv so `uv run` can be used to work on uv itself (#19461)
  pyproject.toml
Due: none

Revert "Update maturin to v1.13.2 (#19445)"
  .github/workflows/build-release-binaries.yml
Due: none

Run release builds on maturin version bumps in CI
  .github/renovate.json5
Due: none

Revert "Update maturin to v1.13.2 (#19445)" (#19465)
  .github/workflows/build-release-binaries.yml
Due: none

Enforce that entry points cannot escape in the scripts directory
  crates/uv-fs/src/path.rs
  crates/uv-install-wheel/src/lib.rs
  crates/uv-install-wheel/src/wheel.rs
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Disable `test_simultaneous_create_set_then_move` on Linux
  crates/uv-keyring/tests/threading.rs
Due: cargo-fmt

Enforce that entry points cannot escape in the scripts directory (#19464)
  crates/uv-fs/src/path.rs
  crates/uv-install-wheel/src/lib.rs
  crates/uv-install-wheel/src/wheel.rs
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Run release builds on maturin version bumps in CI (#19466)
  .github/renovate.json5
Due: none

Allow retry of `custom-publish-crates` separately from the announcement
  .github/workflows/release.yml
Due: none

Allow retry of `custom-publish-crates` separately from `announce` (#19470)
  .github/workflows/release.yml
Due: none

Clean up failed Ctrl-C handler setup
  crates/uv-unix/src/ctrl_c.rs
  crates/uv-windows/src/ctrl_c.rs
Due: cargo-fmt

Exercise nonblocking Ctrl-C delivery
  crates/uv-sys/tests/ctrl_c.rs
Due: cargo-fmt

Test the Unix Ctrl-C pipe flags
  crates/uv-unix/src/ctrl_c.rs
Due: cargo-fmt

Make the Unix Ctrl-C self-pipe nonblocking
  crates/uv-unix/src/ctrl_c.rs
Due: cargo-fmt

Warn when Ctrl-C rollback setup fails
  crates/uv/src/commands/project/add.rs
Due: cargo-fmt

Drop the `ctrlc` dependency
  Cargo.lock
  Cargo.toml
  crates/uv-sys/Cargo.toml
  crates/uv-sys/src/ctrl_c.rs
  crates/uv-sys/src/lib.rs
  crates/uv-sys/tests/ctrl_c.rs
  crates/uv-trampoline/src/bounce.rs
  crates/uv-unix/src/ctrl_c.rs
  crates/uv-unix/src/lib.rs
  crates/uv-windows/src/ctrl_c.rs
  crates/uv-windows/src/ctrl_handler.rs
  crates/uv-windows/src/lib.rs
  crates/uv-windows/src/spawn.rs
  crates/uv/Cargo.toml
  crates/uv/src/commands/project/add.rs
Due: cargo-fmt

Disable `test_simultaneous_create_set_then_move` on Linux (#19469)
  crates/uv-keyring/tests/threading.rs
Due: cargo-fmt

Restrict delimiters in entry point parsing
  crates/uv-install-wheel/src/script.rs
Due: cargo-fmt

Hide uv-auth keyring backend
  crates/uv-auth/src/keyring.rs
Due: cargo-fmt

Hide uv-git-types revision encoder
  crates/uv-git-types/src/reference.rs
Due: cargo-fmt

Hide uv-shell internals
  crates/uv-shell/src/lib.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/python/update_shell.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/src/commands/tool/update_shell.rs
Due: cargo-fmt

Hide uv-git-types LFS static
  crates/uv-git-types/src/lib.rs
Due: cargo-fmt

Hide uv-client linehaul internals
  crates/uv-client/src/lib.rs
  crates/uv-client/src/linehaul.rs
  crates/uv-client/tests/it/user_agent_version.rs
Due: cargo-fmt

Remove unused uv-cache-info file pattern
  crates/uv-cache-info/src/cache_info.rs
Due: cargo-fmt

Hide uv-install-wheel lib kind
  crates/uv-install-wheel/src/lib.rs
  crates/uv-install-wheel/src/wheel.rs
Due: cargo-fmt
