Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

.pre-commit-config.yaml:

fail_fast: true

exclude: |
  (?x)^(
    .*/(snapshots)/.*|
  )$

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.20.2
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.26.0
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: local
    hooks:
      - id: cargo-dev-generate-all
        name: cargo dev generate-all
        entry: cargo dev generate-all
        language: system
        types: [rust]
        pass_filenames: false
        files: ^crates/(uv-cli|uv-settings)/

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

test and format
  crates/uv-cache-info/src/cache_info.rs
Due: cargo-fmt

clippy
  crates/uv-cache-info/src/cache_info.rs
Due: cargo-fmt

respect --project during uv python find (#11990)
  crates/uv-python/src/discovery.rs
  crates/uv-python/src/environment.rs
  crates/uv-python/src/installation.rs
  crates/uv-python/src/lib.rs
  crates/uv-python/src/virtualenv.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/sync.rs
  crates/uv/src/commands/python/find.rs
  crates/uv/src/commands/python/list.rs
  crates/uv/src/commands/python/pin.rs
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/python_find.rs
Due: cargo-fmt

Ensure virtual environment is compatible with interpreter on sync
  crates/uv-python/src/environment.rs
  crates/uv-python/src/virtualenv.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

..
  crates/uv-python/src/environment.rs
Due: cargo-fmt

..
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Remove `if if`
  crates/uv/src/commands/project/run.rs
Due: cargo-fmt

Remove `if if` (#12892)
  crates/uv/src/commands/project/run.rs
Due: cargo-fmt

..
  crates/uv/src/commands/project/mod.rs
Due: cargo-fmt

correctly describe the compatible release clause "~="
  docs/concepts/projects/dependencies.md
Due: none

Cache `which git` in `uv init`
  Cargo.lock
  crates/uv-configuration/Cargo.toml
  crates/uv-configuration/src/vcs.rs
Due: cargo-fmt

Cache `which git` in `uv init` (#12893)
  Cargo.lock
  crates/uv-configuration/Cargo.toml
  crates/uv-configuration/src/vcs.rs
Due: cargo-fmt

Ensure virtual environment is compatible with interpreter on sync (#12884)
  crates/uv-python/src/environment.rs
  crates/uv-python/src/virtualenv.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Fallback to known Git source for same no-Git source with Git reference
  crates/uv-workspace/src/pyproject.rs
  crates/uv/src/commands/project/add.rs
Due: cargo-fmt

Extend Git reference fallback to script dependencies
  crates/uv-workspace/src/pyproject.rs
  crates/uv/src/commands/project/add.rs
Due: cargo-fmt

Downgrade cache state log message
  Cargo.lock
  crates/uv-cache-info/Cargo.toml
  crates/uv-cache-info/src/cache_info.rs
Due: cargo-fmt

Downgrade cache state log message
  crates/uv-distribution-types/src/resolution.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/lock_conflict.rs
Due: cargo-fmt

Write requested python variant to pin file in `uv init` (#12870)
  crates/uv/src/commands/project/init.rs
  crates/uv/tests/it/init.rs
Due: cargo-fmt

docs: Fix highlight line in explicit index documentation (#12887)
  docs/concepts/projects/dependencies.md
Due: none

Treat empty `UV_PYTHON_INSTALL_DIR` as unset
  crates/uv-python/src/managed.rs
Due: cargo-fmt

Treat empty `UV_TOOL_DIR` as unset
  crates/uv-tool/src/lib.rs
Due: cargo-fmt

gramatical error
  docs/guides/integration/fastapi.md
Due: none

teeny gramatical error in docs (#12908)
  docs/guides/integration/fastapi.md
Due: none

Require `--force` to replace existing virtual environments in `uv venv`
  crates/uv-build-frontend/src/lib.rs
  crates/uv-cli/src/lib.rs
  crates/uv-tool/src/lib.rs
  crates/uv-virtualenv/src/lib.rs
  crates/uv-virtualenv/src/virtualenv.rs
  crates/uv/src/commands/project/environment.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/venv.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
Due: cargo-fmt, cargo-dev-generate-all

teeny gramatical error in docs (#12908)
  docs/guides/integration/fastapi.md
  docs/guides/scripts.md
Due: none

add shebang reference to scripts documentation
  docs/guides/scripts.md
Due: none

Set 4MB stack size for all threads, introduce `UV_STACK_SIZE` (#12839)
  crates/uv-configuration/src/lib.rs
  crates/uv-configuration/src/rayon.rs
  crates/uv-configuration/src/threading.rs
  crates/uv-static/src/env_vars.rs
  crates/uv/src/lib.rs
  docs/configuration/environment.md
Due: cargo-fmt

Improve docs for `uv python list --only-downloads` and `--only-installed`
  crates/uv-cli/src/lib.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Patch `CC` and `CCX` entries in sysconfig for cross-compiled `aarch64` Python distributions (#12239)
  crates/uv-python/src/sysconfig/mod.rs
Due: cargo-fmt

Review
  docs/guides/scripts.md
Due: none

..
  docs/guides/scripts.md
Due: none

[docs] Add shebang section for scripts (#11553)
  docs/guides/scripts.md
Due: none

Apply credentials to redirect URL
  Cargo.lock
  crates/uv-client/Cargo.toml
  crates/uv-client/src/base_client.rs
  crates/uv-client/src/cached_client.rs
  crates/uv-client/src/lib.rs
  crates/uv-client/src/registry_client.rs
  crates/uv/Cargo.toml
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/edit.rs
Due: cargo-fmt

Improve docs for `uv python list --only-downloads` and `--only-installed` (#12916)
  crates/uv-cli/src/lib.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

(tests) Resolve known Git url for pkg name with Git reference ref
  crates/uv/tests/it/edit.rs
Due: cargo-fmt

Use suffix on uvx binary when searching for uv binary
  crates/uv/src/bin/uvx.rs
Due: cargo-fmt

Fall back to `uv` if `uv{suffix}` doesn't exist
  crates/uv/src/bin/uvx.rs
Due: cargo-fmt

Use distinct error messages
  crates/uv/src/bin/uvx.rs
Due: cargo-fmt
