Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

.pre-commit-config.yaml:

fail_fast: true

exclude: |
  (?x)^(
    .*/(snapshots)/.*|
  )$

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.20.2
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.26.0
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: local
    hooks:
      - id: cargo-dev-generate-all
        name: cargo dev generate-all
        entry: cargo dev generate-all
        language: system
        types: [rust]
        pass_filenames: false
        files: ^crates/(uv-cli|uv-settings)/

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

Add support for ruff version constraints and `exclude-newer` in `uv format`
  Cargo.lock
  crates/uv-bin-install/Cargo.toml
  crates/uv-bin-install/src/lib.rs
  crates/uv-cli/src/lib.rs
  crates/uv-test/src/lib.rs
  crates/uv/Cargo.toml
  crates/uv/src/commands/project/format.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/format.rs
Due: cargo-fmt, cargo-dev-generate-all

Review
  crates/uv-bin-install/src/lib.rs
  crates/uv/src/commands/project/format.rs
Due: cargo-fmt

Fix test context: use test_context_with_versions macro
  crates/uv/tests/it/format.rs
Due: cargo-fmt

Update trampolines
  crates/uv-trampoline-builder/trampolines/uv-trampoline-aarch64-console.exe
  crates/uv-trampoline-builder/trampolines/uv-trampoline-aarch64-gui.exe
  crates/uv-trampoline-builder/trampolines/uv-trampoline-i686-console.exe
  crates/uv-trampoline-builder/trampolines/uv-trampoline-i686-gui.exe
  crates/uv-trampoline-builder/trampolines/uv-trampoline-x86_64-console.exe
  crates/uv-trampoline-builder/trampolines/uv-trampoline-x86_64-gui.exe
Due: none

Add support for ruff version constraints and `exclude-newer` in `uv format` (#17651)
  Cargo.lock
  crates/uv-bin-install/Cargo.toml
  crates/uv-bin-install/src/lib.rs
  crates/uv-cli/src/lib.rs
  crates/uv-test/src/lib.rs
  crates/uv/Cargo.toml
  crates/uv/src/commands/project/format.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/format.rs
Due: cargo-fmt, cargo-dev-generate-all

Make trampoline error messages consistent with uv proper (#17969)
  crates/uv-trampoline-builder/trampolines/uv-trampoline-aarch64-console.exe
  crates/uv-trampoline-builder/trampolines/uv-trampoline-aarch64-gui.exe
  crates/uv-trampoline-builder/trampolines/uv-trampoline-i686-console.exe
  crates/uv-trampoline-builder/trampolines/uv-trampoline-i686-gui.exe
  crates/uv-trampoline-builder/trampolines/uv-trampoline-x86_64-console.exe
  crates/uv-trampoline-builder/trampolines/uv-trampoline-x86_64-gui.exe
  crates/uv-trampoline/src/bounce.rs
  crates/uv-trampoline/src/diagnostics.rs
Due: cargo-fmt

Add a regression test for #17963
  crates/uv/tests/it/python_install.rs
Due: cargo-fmt

Use inheritance for nextest CI profiles
  .config/nextest.toml
Due: none

Fix
  crates/uv-python/src/managed.rs
  crates/uv-virtualenv/src/virtualenv.rs
Due: cargo-fmt

Use version constraints for default ruff version and fix test context
  crates/uv-bin-install/src/lib.rs
  crates/uv-cli/src/lib.rs
  crates/uv-test/src/lib.rs
  crates/uv/src/commands/project/format.rs
  crates/uv/tests/it/format.rs
Due: cargo-fmt, cargo-dev-generate-all

Use local proxies instead of pypi-proxy.fly.dev for tests
  Cargo.lock
  crates/uv-auth/src/keyring.rs
  crates/uv/Cargo.toml
  crates/uv/tests/it/auth.rs
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/export.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/main.rs
  crates/uv/tests/it/pip_compile.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/pypi_proxy.rs
  crates/uv/tests/it/tool_install.rs
  crates/uv/tests/it/tool_run.rs
Due: cargo-fmt

Use uv reqwest client for self update
  Cargo.lock
  Cargo.toml
  crates/uv-client/src/base_client.rs
  crates/uv/src/commands/self_update.rs
Due: cargo-fmt

Automated fix for update
  crates/uv-torch/src/accelerator.rs
Due: cargo-fmt

Rebase
  Cargo.lock
Due: none

Don't panic for `uv init / --name foo`
  crates/uv/src/commands/project/init.rs
Due: cargo-fmt

Review
  crates/uv-build/src/main.rs
  crates/uv/src/lib.rs
Due: cargo-fmt

Log which preview features are enabled (#17968)
  Cargo.lock
  crates/uv-build/Cargo.toml
  crates/uv-build/src/main.rs
  crates/uv-fs/src/locked_file.rs
  crates/uv-preview/src/lib.rs
  crates/uv/src/lib.rs
  crates/uv/tests/it/cache_clean.rs
  crates/uv/tests/it/cache_prune.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Review
  crates/uv-fs/src/lib.rs
  crates/uv-fs/src/link.rs
  crates/uv-install-wheel/src/install.rs
  crates/uv-install-wheel/src/lib.rs
  crates/uv-install-wheel/src/linker.rs
Due: cargo-fmt

Add test cases
  crates/uv-distribution-filename/src/lib.rs
  crates/uv-distribution-filename/src/wheel.rs
  crates/uv-distribution-filename/src/wheel_tag.rs
  crates/uv-fs/src/link.rs
  crates/uv-preview/src/lib.rs
  crates/uv/src/commands/publish.rs
  crates/uv/tests/it/show_settings.rs
  uv.schema.json
Due: cargo-fmt

Review
  crates/uv-fs/src/link.rs
Due: cargo-fmt

Move the copy implementation to `uv-fs`
  Cargo.lock
  crates/uv-fs/Cargo.toml
  crates/uv-fs/src/lib.rs
  crates/uv-fs/src/link.rs
  crates/uv-install-wheel/Cargo.toml
  crates/uv-install-wheel/src/install.rs
  crates/uv-install-wheel/src/lib.rs
  crates/uv-install-wheel/src/linker.rs
  crates/uv-installer/src/installer.rs
Due: cargo-fmt

Remove unrelated publish/normalized filename changes
  crates/uv-distribution-filename/src/lib.rs
  crates/uv-distribution-filename/src/wheel.rs
  crates/uv-distribution-filename/src/wheel_tag.rs
  crates/uv-preview/src/lib.rs
  crates/uv/src/commands/publish.rs
  crates/uv/tests/it/show_settings.rs
Due: cargo-fmt

Reject `u64::MAX` in version segments to prevent overflow
  crates/uv-pep440/src/version.rs
  crates/uv-pep440/src/version_ranges.rs
  crates/uv-pep440/src/version_specifier.rs
  crates/uv-pep508/src/marker/algebra.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Return cache headers matching PyPI
  crates/uv/tests/it/auth.rs
  crates/uv/tests/it/pypi_proxy.rs
Due: cargo-fmt

Positive case too
  crates/uv-python/src/managed.rs
Due: cargo-fmt

use ERE syntax in sed for compatibility with macOS
  crates/uv-dev/sync_sysconfig_targets.sh
Due: none

use new path to python tests
  scripts/sync-python-version-constants.py
Due: none

Add CPython 3.15.0a6
  crates/uv-dev/src/generate_sysconfig_mappings.rs
  crates/uv-python/download-metadata.json
  crates/uv-python/src/sysconfig/generated_mappings.rs
  crates/uv-test/src/lib.rs
Due: cargo-fmt

Use local proxies instead of pypi-proxy.fly.dev for tests (#17948)
  Cargo.lock
  crates/uv-auth/src/keyring.rs
  crates/uv/Cargo.toml
  crates/uv/tests/it/auth.rs
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/export.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/main.rs
  crates/uv/tests/it/pip_compile.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/pypi_proxy.rs
  crates/uv/tests/it/tool_install.rs
  crates/uv/tests/it/tool_run.rs
Due: cargo-fmt

Add CPython 3.15.0a6 (#17987)
  crates/uv-dev/src/generate_sysconfig_mappings.rs
  crates/uv-dev/sync_sysconfig_targets.sh
  crates/uv-python/download-metadata.json
  crates/uv-python/src/sysconfig/generated_mappings.rs
  crates/uv-test/src/lib.rs
  scripts/sync-python-version-constants.py
Due: cargo-fmt

Reject `u64::MAX` in version segments to prevent overflow (#17985)
  crates/uv-pep440/src/version.rs
  crates/uv-pep440/src/version_ranges.rs
  crates/uv-pep440/src/version_specifier.rs
  crates/uv-pep508/src/marker/algebra.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Fix handling of `--allow-existing` with minor version links on Windows (#17978)
  crates/uv-python/src/managed.rs
  crates/uv-virtualenv/src/virtualenv.rs
  crates/uv/tests/it/python_install.rs
Due: cargo-fmt

Use the `VersionRequest` implementation of version matching
  crates/uv-python/src/discovery.rs
  crates/uv-python/src/managed.rs
Due: cargo-fmt

Do not match cpython 3.10 for cpython-3.1 (#17972)
  crates/uv-python/src/discovery.rs
  crates/uv-python/src/managed.rs
Due: cargo-fmt

Clean up legacy workspace root concept
  crates/uv-resolver/src/lock/export/mod.rs
  crates/uv-resolver/src/lock/installable.rs
  crates/uv-workspace/src/workspace.rs
  crates/uv/src/commands/project/install_target.rs
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Add support for sandboxing
  Cargo.lock
  Cargo.toml
  crates/uv-cli/src/lib.rs
  crates/uv-preview/src/lib.rs
  crates/uv-sandbox/Cargo.toml
  crates/uv-sandbox/src/lib.rs
  crates/uv-sandbox/src/linux.rs
  crates/uv-sandbox/src/macos.rs
  crates/uv-sandbox/src/options.rs
  crates/uv-sandbox/src/presets.rs
  crates/uv-sandbox/src/resolve.rs
  crates/uv-sandbox/src/settings.rs
  crates/uv-sandbox/src/spawn.rs
  crates/uv-sandbox/src/spec.rs
  crates/uv-settings/Cargo.toml
  crates/uv-settings/src/combine.rs
  crates/uv-settings/src/lib.rs
  crates/uv-settings/src/settings.rs
  crates/uv-test/src/lib.rs
  crates/uv-workspace/Cargo.toml
  crates/uv-workspace/src/pyproject.rs
  crates/uv/Cargo.toml
  crates/uv/src/commands/mod.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/main.rs
  crates/uv/tests/it/run_sandbox.rs
  docs/concepts/sandboxing.md
Due: cargo-fmt, cargo-dev-generate-all

Store unpacked Python installations in the cache
  .github/workflows/setup-dev-drive.ps1
  crates/uv-python/src/downloads.rs
  crates/uv-test/src/lib.rs
Due: cargo-fmt

Update docs to replace bookworm with trixie Docker image references
  docs/guides/integration/gitlab.md
  docs/reference/troubleshooting/build-failures.md
Due: none

Improve unsat diagnostics by attributing transitive pins to constraints files
  crates/uv-resolver/src/error.rs
  crates/uv-resolver/src/pubgrub/report.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Transform the tree to inject constraint dependencies for error messages
  crates/uv-resolver/src/error.rs
  crates/uv-resolver/src/pubgrub/report.rs
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt
