Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-dev-generate-all:
  name: cargo dev generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

feat: Get `LockCheckSource` from `LockArgs`, so we can display the right flag which prevented `uv` command to run on outdated lockfile.
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/export.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/remove.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/project/tree.rs
  crates/uv/src/commands/project/version.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt, cargo-dev-generate-all

refactor: rename `locked` argument to `lock_check` in commands for better semantic
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/export.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/remove.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/project/tree.rs
  crates/uv/src/commands/project/version.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
Due: cargo-fmt

docs: Regenerate CLI documentation
  docs/reference/cli.md
Due: none

test: Update tests accordingly to changes
  crates/uv/tests/it/show_settings.rs
Due: cargo-fmt

style: apply fmt fixes
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Add an it test
  crates/uv/tests/it/network.rs
Due: cargo-fmt

Move parsing http retries to EnvironmentOptions
  crates/uv-client/src/base_client.rs
  crates/uv-client/src/lib.rs
  crates/uv-publish/src/lib.rs
  crates/uv-python/src/installation.rs
  crates/uv-settings/src/lib.rs
  crates/uv/src/commands/auth/login.rs
  crates/uv/src/commands/auth/logout.rs
  crates/uv/src/commands/auth/token.rs
  crates/uv/src/commands/project/format.rs
  crates/uv/src/commands/publish.rs
  crates/uv/src/commands/python/install.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/show_settings.rs
  crates/uv/tests/it/venv.rs
Due: cargo-fmt, cargo-dev-generate-all

Fix
  Cargo.lock
  crates/uv/Cargo.toml
Due: none

Fix tests
  crates/uv/tests/it/network.rs
Due: cargo-fmt

Refactor
  crates/uv-client/src/base_client.rs
  crates/uv-settings/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/show_settings.rs
Due: cargo-fmt, cargo-dev-generate-all

Fix
  crates/uv-client/src/base_client.rs
Due: cargo-fmt

Improve error message and add test
  crates/uv-settings/src/lib.rs
  crates/uv/tests/it/network.rs
  crates/uv/tests/it/venv.rs
Due: cargo-fmt, cargo-dev-generate-all

Migrate from deprecated `macos-13` runner to `macos-15-intel` (#16316)
  .github/workflows/ci.yml
Due: none

Boxing to fix the clippy error (large variant)
  crates/uv-client/src/error.rs
Due: cargo-fmt

Add `@generated` marker to `uv.lock` files
  crates/uv-resolver/src/lock/mod.rs
  crates/uv/tests/it/branching_urls.rs
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/export.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/lock_conflict.rs
  crates/uv/tests/it/lock_scenarios.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/run.rs
  crates/uv/tests/it/snapshots/it__ecosystem__black-lock-file.snap
  crates/uv/tests/it/snapshots/it__ecosystem__github-wikidata-bot-lock-file.snap
  crates/uv/tests/it/snapshots/it__ecosystem__home-assistant-core-lock-file.snap
  crates/uv/tests/it/snapshots/it__ecosystem__packse-lock-file.snap
  crates/uv/tests/it/snapshots/it__ecosystem__saleor-lock-file.snap
  crates/uv/tests/it/snapshots/it__ecosystem__transformers-lock-file.snap
  crates/uv/tests/it/snapshots/it__workflow__jax_instability-2.snap
  crates/uv/tests/it/snapshots/it__workflow__packse_add_remove_existing_package_noop-2.snap
  crates/uv/tests/it/snapshots/it__workflow__packse_add_remove_one_package-2.snap
  crates/uv/tests/it/snapshots/it__workflow__packse_promote_transitive_to_direct_then_remove-2.snap
  crates/uv/tests/it/sync.rs
  crates/uv/tests/it/tree.rs
  crates/uv/tests/it/version.rs
  crates/uv/tests/it/workflow.rs
  crates/uv/tests/it/workspace.rs
Due: cargo-fmt

Fix linter problems
  crates/uv-client/src/error.rs
  crates/uv-python/src/downloads.rs
  crates/uv/tests/it/network.rs
Due: cargo-fmt

Box in a different place to not break `is_transient_network_error`
  crates/uv-client/src/error.rs
  crates/uv-python/src/downloads.rs
Due: cargo-fmt

Implement RFC9457 compliant messaging (#16199)
  crates/uv-client/src/cached_client.rs
  crates/uv-client/src/error.rs
  crates/uv/tests/it/network.rs
Due: cargo-fmt

Add WMI to comment
  crates/uv-torch/src/accelerator.rs
Due: cargo-fmt

#[cfg(windows)]
  crates/uv-torch/src/accelerator.rs
Due: cargo-fmt

Error when built wheel is for the wrong platform
  crates/uv-bench/benches/uv.rs
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-distribution/src/error.rs
  crates/uv-platform-tags/src/tags.rs
  crates/uv-python/src/interpreter.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/pip/mod.rs
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Add auto-detection for Intel GPU on Windows (#16280)
  Cargo.lock
  Cargo.toml
  crates/uv-torch/Cargo.toml
  crates/uv-torch/src/accelerator.rs
  crates/uv-torch/src/backend.rs
  docs/guides/integration/pytorch.md
Due: cargo-fmt

Add `plugin-use` support
  crates/uv-distribution-filename/src/variant_label.rs
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-variants/src/variants_json.rs
Due: cargo-fmt

Refactor dist info variants json
  Cargo.lock
  crates/uv-distribution-types/src/installed.rs
  crates/uv-distribution-types/src/variant_json.rs
  crates/uv-variants/src/variants_json.rs
  crates/uv/Cargo.toml
  crates/uv/src/commands/pip/list.rs
Due: cargo-fmt

Fix provider import
  crates/uv-variant-frontend/src/error.rs
  crates/uv-variant-frontend/src/lib.rs
  crates/uv-variants/src/variants_json.rs
Due: cargo-fmt

Add variant support to uv-pep508
  crates/uv-pep508/src/lib.rs
  crates/uv-pep508/src/marker/lowering.rs
  crates/uv-pep508/src/marker/parse.rs
  crates/uv-pep508/src/marker/tree.rs
  crates/uv-pep508/src/unnamed.rs
Due: cargo-fmt

Add temporary test files
  build-wheels.sh
  files/anyio-4.9.0-py3-none-any.whl
  files/built_by_uv-0.1.0-py3-none-any-cpu1.whl
  files/built_by_uv-0.1.0-py3-none-any-cpu2.whl
  files/built_by_uv-0.1.0-py3-none-any-cpu3.whl
  files/built_by_uv-0.1.0-py3-none-any-cpu4.whl
  files/built_by_uv-0.1.0-variants.json
  files/cpu_level_provider-0.1.0-py3-none-any.whl
  files/cpu_level_provider-0.1.0.tar.gz
  files/idna-3.10-py3-none-any.whl
  files/sniffio-1.3.1-py3-none-any.whl
  files_sdist/built_by_uv-0.1.0.tar.gz
  files_wheel/built_by_uv-0.1.0-py3-none-any.whl
  scripts/packages/built-by-uv/pyproject.toml
  test_torch.sh
  test_variants.sh
Due: none

Add `variant_label`
  crates/uv-distribution-filename/src/variant_label.rs
  crates/uv-distribution-types/src/requirement.rs
  crates/uv-distribution-types/src/specified_requirement.rs
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-installer/src/site_packages.rs
  crates/uv-pep508/src/lib.rs
  crates/uv-pep508/src/marker/environment.rs
  crates/uv-pep508/src/marker/lowering.rs
  crates/uv-pep508/src/marker/tree.rs
  crates/uv-pep508/src/unnamed.rs
  crates/uv-requirements/src/lookahead.rs
  crates/uv-resolver/src/error.rs
  crates/uv-resolver/src/lock/export/pylock_toml.rs
  crates/uv-resolver/src/lock/installable.rs
  crates/uv-resolver/src/lock/tree.rs
  crates/uv-resolver/src/manifest.rs
  crates/uv-resolver/src/preferences.rs
  crates/uv-resolver/src/resolution/display.rs
  crates/uv-resolver/src/resolution/output.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-resolver/src/universal_marker.rs
  crates/uv-types/src/hash.rs
  crates/uv-variants/src/lib.rs
  crates/uv-variants/src/variant_with_label.rs
  crates/uv-variants/src/variants_json.rs
  crates/uv/src/commands/pip/show.rs
  crates/uv/src/commands/pip/tree.rs
  crates/uv/src/commands/project/sync.rs
Due: cargo-fmt

Add static properties support
  Cargo.lock
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-distribution/src/error.rs
  crates/uv-variants/Cargo.toml
  crates/uv-variants/src/lib.rs
  crates/uv-variants/src/variant_lock.rs
  files/built_by_uv-0.1.0-variants.json
  files/variant-lock-incomplete.toml
  files/variant-lock-none.toml
  files/variant-lock.toml
  test_variants.sh
Due: cargo-fmt

Rename to VariantsJsonFilename
  crates/uv-client/src/registry_client.rs
  crates/uv-distribution-types/src/index_entry.rs
  crates/uv-distribution-types/src/lib.rs
  crates/uv-distribution-types/src/variant_json.rs
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-resolver/src/lock/mod.rs
Due: cargo-fmt

Support empty requires
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-variant-frontend/src/error.rs
  crates/uv-variant-frontend/src/lib.rs
  crates/uv-variants/src/variants_json.rs
Due: cargo-fmt

Add support for disabling provider isolation with `UV_NO_PROVIDER_ISOLATION`
  crates/uv-static/src/env_vars.rs
  crates/uv-variant-frontend/src/lib.rs
Due: cargo-fmt

Update test cases
  scripts/packages/torch_user/pyproject.toml
  scripts/packages/torch_user/uv.lock
  test_torch.sh
Due: none

cargo
  crates/uv-variants/Cargo.toml
Due: none

Remove dynamic providers
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-types/src/traits.rs
  crates/uv-variant-frontend/src/lib.rs
  files/cpu_level_provider-0.1.0-py3-none-any.whl
  files/cpu_level_provider-0.1.0.tar.gz
  scripts/packages/cpu_level_provider/src/cpu_level_provider/__init__.py
Due: cargo-fmt

Don't warn about disabled providers
  Cargo.lock
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-variant-frontend/src/lib.rs
  crates/uv-variants/src/resolved_variants.rs
Due: cargo-fmt

Show variants in `uv pip list` (#16091)
  crates/uv-distribution-types/src/installed.rs
  crates/uv-distribution-types/src/variant_json.rs
  crates/uv/src/commands/pip/list.rs
Due: cargo-fmt

Ignore if default is set
  crates/uv-distribution-types/src/index_url.rs
Due: cargo-fmt

Use https://download.pytorch.org/whl/variant
  crates/uv-distribution-types/src/index_url.rs
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/(snapshots)/.*|
)$

  cargo-dev-generate-all: any of: ^crates/(uv-cli|uv-settings)/ and \.rs$ and not ((?x)^(
  .*/(snapshots)/.*|
)$
)
