Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

.pre-commit-config.yaml:

fail_fast: true

exclude: |
  (?x)^(
    .*/(snapshots)/.*|
  )$

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.20.2
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.26.0
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: local
    hooks:
      - id: cargo-dev-generate-all
        name: cargo dev generate-all
        entry: cargo dev generate-all
        language: system
        types: [rust]
        pass_filenames: false
        files: ^crates/(uv-cli|uv-settings)/

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

Add missing fields to the Cargo package manifests (#16179)
  crates/uv-auth/Cargo.toml
  crates/uv-client/Cargo.toml
  crates/uv-keyring/Cargo.toml
  crates/uv-scripts/Cargo.toml
  crates/uv-shell/Cargo.toml
Due: none

Refactor `uv init` requires-python into a function
  crates/uv/src/commands/project/init.rs
Due: cargo-fmt

Log Python choice in `uv init`
  crates/uv/src/commands/project/init.rs
Due: cargo-fmt

Move 'Scripts' section down
  docs/getting-started/features.md
Due: none

Support `UV_WORKING_DIRECTORY` for setting `--directory` (#16125)
  crates/uv-cli/src/lib.rs
  crates/uv-static/src/env_vars.rs
  crates/uv/tests/it/help.rs
  docs/reference/cli.md
  docs/reference/environment.md
Due: cargo-fmt, cargo-dev-generate-all

system -> default
  crates/uv/src/commands/project/init.rs
Due: cargo-fmt

Fix provider import
  crates/uv-variant-frontend/src/error.rs
  crates/uv-variant-frontend/src/lib.rs
  crates/uv-variants/src/variants_json.rs
Due: cargo-fmt

Upgrade reqsign to 0.18.0 to remove chrono deps (#16172)
  Cargo.lock
  Cargo.toml
Due: none

Treat deleted Windows registry keys as equivalent to missing ones
  crates/uv-python/src/windows_registry.rs
Due: cargo-fmt

Retry on Rocky Linux 8 Python install
  .github/workflows/ci.yml
Due: none

Add a system test for Rocky Linux 10
  .github/workflows/ci.yml
Due: none

Include the RFC in the docs for our `Credentials` variants (#16162)
  crates/uv-auth/src/credentials.rs
Due: cargo-fmt

Add a system test for Rocky Linux 10 (#16191)
  .github/workflows/ci.yml
Due: none

Retry on Rocky Linux Python install (#16190)
  .github/workflows/ci.yml
Due: none

Treat deleted Windows registry keys as equivalent to missing ones (#16194)
  crates/uv-python/src/windows_registry.rs
Due: cargo-fmt

document uv version for environment variables (#15196)
  crates/uv-dev/src/generate_env_vars_reference.rs
  crates/uv-macros/src/lib.rs
  crates/uv-static/src/env_vars.rs
  docs/reference/environment.md
  docs/stylesheets/extra.css
  pyproject.toml
Due: cargo-fmt

Add RFC9457 compliant messaging
  crates/uv-client/src/cached_client.rs
  crates/uv-client/src/error.rs
Due: cargo-fmt

Replace `fs::remove_dir_all` with `fs_err::remove_dir_all`
  crates/uv-install-wheel/src/install.rs
  crates/uv-install-wheel/src/uninstall.rs
  crates/uv-virtualenv/src/virtualenv.rs
Due: cargo-fmt

update python install snapshots about the error output
  crates/uv/tests/it/python_install.rs
Due: cargo-fmt

cargo formatting
  crates/uv-client/src/cached_client.rs
  crates/uv-client/src/error.rs
Due: cargo-fmt

Remove `fs_err` -> `fs` alias
  crates/uv-install-wheel/src/install.rs
  crates/uv-install-wheel/src/uninstall.rs
  crates/uv-virtualenv/src/virtualenv.rs
Due: cargo-fmt

Add failing windows python install manager test
  .github/workflows/ci.yml
Due: none

.
  .github/workflows/ci.yml
Due: none

Replace `fs_err` alias (#16201)
  crates/uv-install-wheel/src/install.rs
  crates/uv-install-wheel/src/uninstall.rs
  crates/uv-virtualenv/src/virtualenv.rs
Due: cargo-fmt

Update pypa/gh-action-pypi-publish to release tag (#16176)
  .github/workflows/ci.yml
Due: none

Pin a uv version in CI
  .github/workflows/ci.yml
Due: none

Retry all h2 errors
  crates/uv-client/src/base_client.rs
Due: cargo-fmt

Retry all h2 errors (#16038)
  crates/uv-client/src/base_client.rs
Due: cargo-fmt

Pin a uv version in CI (#16207)
  .github/workflows/ci.yml
Due: none

Log Python choice in `uv init` (#16182)
  crates/uv/src/commands/project/init.rs
Due: cargo-fmt

Update docs/reference/internals/resolver.md
  docs/reference/internals/resolver.md
Due: none

Review
  docs/reference/internals/resolver.md
Due: none

Document why uv discards upper bounds
  docs/reference/internals/resolver.md
Due: none

Add note about wheel pruning
  docs/reference/internals/resolver.md
Due: none

Update codspeed to v4 (#16139)
  .github/workflows/ci.yml
  Cargo.lock
  crates/uv-bench/Cargo.toml
  crates/uv-bench/benches/uv.rs
  crates/uv-bench/src/lib.rs
Due: cargo-fmt

Phrasing
  docs/reference/internals/resolver.md
Due: none
