Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

.pre-commit-config.yaml:

fail_fast: true

exclude: |
  (?x)^(
    .*/(snapshots)/.*|
  )$

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.20.2
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.26.0
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: local
    hooks:
      - id: cargo-dev-generate-all
        name: cargo dev generate-all
        entry: cargo dev generate-all
        language: system
        types: [rust]
        pass_filenames: false
        files: ^crates/(uv-cli|uv-settings)/

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

uv-resolver: add new ResolverEnvironment type
  crates/uv-resolver/src/resolver/environment.rs
Due: cargo-fmt

uv-normalize: add `as_str` method
  crates/uv-normalize/src/extra_name.rs
Due: cargo-fmt

uv/tests: make `python_version < '0'` regression test smaller (#8809)
  crates/uv/tests/it/pip_compile.rs
Due: cargo-fmt

Improve interactions between color environment variables and CLI options (#8215)
  crates/uv-cli/src/lib.rs
  crates/uv/src/settings.rs
Due: cargo-fmt, cargo-dev-generate-all

Use 3.13 in CI (#8014)
  .github/workflows/ci.yml
  .python-versions
  crates/uv/tests/it/venv.rs
Due: cargo-fmt

do not imply pre-release when `!=` operator is used (#7974)
  crates/uv-resolver/src/prerelease.rs
  crates/uv/tests/it/pip_compile.rs
Due: cargo-fmt

Eliminate dependencies on `directores` and `dirs-sys` (#8048)
  Cargo.lock
  Cargo.toml
  crates/uv-dirs/Cargo.toml
  crates/uv-dirs/src/lib.rs
  crates/uv-settings/Cargo.toml
  crates/uv-settings/src/lib.rs
  crates/uv-tool/src/lib.rs
Due: cargo-fmt, cargo-dev-generate-all

Treat the base Conda environment as a system environment (#7691)
  crates/uv-python/src/discovery.rs
  crates/uv-python/src/tests.rs
  crates/uv-python/src/virtualenv.rs
  crates/uv-static/src/env_vars.rs
  docs/configuration/environment.md
Due: cargo-fmt

Use base executable to set virtualenv Python path (#8481)
  crates/uv-python/python/get_interpreter_info.py
  crates/uv-python/src/interpreter.rs
  crates/uv-virtualenv/src/virtualenv.rs
Due: cargo-fmt

Use XDG (i.e. `~/.local/bin`) instead of the Cargo home directory in the installer (#8420)
  Cargo.toml
  docs/configuration/installer.md
  docs/getting-started/installation.md
Due: none

Make `--allow-insecure-host` a global option (#8476)
  crates/uv-cli/src/lib.rs
  crates/uv-cli/src/options.rs
  crates/uv-settings/src/settings.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/sync.rs
  crates/uv/src/commands/pip/uninstall.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/environment.rs
  crates/uv/src/commands/project/export.rs
  crates/uv/src/commands/project/init.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/remove.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/project/tree.rs
  crates/uv/src/commands/publish.rs
  crates/uv/src/commands/python/install.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/src/commands/tool/upgrade.rs
  crates/uv/src/commands/venv.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/help.rs
  crates/uv/tests/it/show_settings.rs
  docs/reference/cli.md
  docs/reference/settings.md
  uv.schema.json
Due: cargo-fmt, cargo-dev-generate-all

Error when disallowed settings are defined in `uv.toml` (#8550)
  crates/uv-settings/src/combine.rs
  crates/uv-settings/src/lib.rs
  crates/uv-settings/src/settings.rs
  crates/uv-workspace/src/pyproject.rs
  crates/uv/tests/it/pip_install.rs
  docs/reference/settings.md
Due: cargo-fmt, cargo-dev-generate-all

Add support for `.env` and custom env files in `uv run` (#8263)
  Cargo.lock
  Cargo.toml
  crates/uv-cli/src/lib.rs
  crates/uv-static/src/env_vars.rs
  crates/uv/Cargo.toml
  crates/uv/src/commands/project/run.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/run.rs
  docs/configuration/environment.md
  docs/configuration/files.md
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Accept multiple `.env` files in `--env-file` (#8463)
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/run.rs
  docs/configuration/files.md
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Make opt-in
  crates/uv-cli/src/lib.rs
  crates/uv-static/src/env_vars.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/tests/it/run.rs
  docs/configuration/environment.md
  docs/configuration/files.md
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Added reference to correct issue for conflicting dependency groups strategy in the dependencies documentation
  docs/concepts/dependencies.md
Due: none

Discover and respect `.python-version` files in parent directories
  crates/uv-python/src/lib.rs
  crates/uv-python/src/version_files.rs
  crates/uv-scripts/src/lib.rs
  crates/uv-workspace/src/workspace.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/export.rs
  crates/uv/src/commands/project/init.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/remove.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/project/tree.rs
  crates/uv/src/commands/python/find.rs
  crates/uv/src/commands/python/install.rs
  crates/uv/src/commands/python/pin.rs
  crates/uv/src/commands/venv.rs
  crates/uv/src/lib.rs
  crates/uv/tests/it/init.rs
  crates/uv/tests/it/python_find.rs
  crates/uv/tests/it/sync.rs
  crates/uv/tests/it/venv.rs
Due: cargo-fmt

Add support for `.env` and custom env files in `uv run` (#8811)
  Cargo.lock
  Cargo.toml
  crates/uv-cli/src/lib.rs
  crates/uv-static/src/env_vars.rs
  crates/uv/Cargo.toml
  crates/uv/src/commands/project/run.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/run.rs
  docs/configuration/environment.md
  docs/configuration/files.md
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Fix test case on `main`
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Fix test case on `main` (#8816)
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Improve interactions with existing Python executables during install
  Cargo.lock
  crates/uv-cli/src/lib.rs
  crates/uv-python/src/managed.rs
  crates/uv/Cargo.toml
  crates/uv/src/commands/python/install.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/help.rs
  crates/uv/tests/it/python_install.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Improve interactions with existing Python executables during install (#8733)
  Cargo.lock
  crates/uv-cli/src/lib.rs
  crates/uv-python/src/managed.rs
  crates/uv/Cargo.toml
  crates/uv/src/commands/python/install.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/help.rs
  crates/uv/tests/it/python_install.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Get representations working
  Cargo.lock
  Cargo.toml
  crates/uv-pep440/src/version.rs
  crates/uv-pep440/src/version_ranges.rs
  crates/uv-resolver/src/error.rs
  crates/uv-resolver/src/pubgrub/report.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv/tests/it/lock_scenarios.rs
  crates/uv/tests/it/pip_install_scenarios.rs
Due: cargo-fmt

Update Packse snapshots
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/lock_scenarios.rs
  crates/uv/tests/it/pip_compile_scenarios.rs
  crates/uv/tests/it/pip_install_scenarios.rs
  scripts/scenarios/generate.py
  scripts/scenarios/requirements.in
  scripts/scenarios/requirements.txt
Due: cargo-fmt

Update snapshots
  crates/uv-resolver/src/error.rs
  crates/uv-resolver/src/pubgrub/report.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv/tests/it/pip_compile.rs
  crates/uv/tests/it/snapshots/it__ecosystem__transformers-lock-file.snap
  crates/uv/tests/it/snapshots/it__ecosystem__transformers-uv-lock-output.snap
Due: cargo-fmt

Update Packse snapshots (#8795)
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/lock_scenarios.rs
  crates/uv/tests/it/pip_compile_scenarios.rs
  crates/uv/tests/it/pip_install_scenarios.rs
  scripts/scenarios/generate.py
  scripts/scenarios/requirements.in
  scripts/scenarios/requirements.txt
Due: cargo-fmt

Make UV_PYTHON_INSTALL_MIRROR configurable in uv.toml
  crates/uv-cli/src/lib.rs
  crates/uv-python/src/downloads.rs
  crates/uv-python/src/installation.rs
  crates/uv-settings/src/settings.rs
  crates/uv/src/commands/python/install.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  uv.schema.json
Due: cargo-fmt, cargo-dev-generate-all

Make UV_PYPY_INSTALL_MIRROR configurable in uv.toml
  crates/uv-cli/src/lib.rs
  crates/uv-python/src/downloads.rs
  crates/uv-python/src/installation.rs
  crates/uv-settings/src/settings.rs
  crates/uv/src/commands/python/install.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  uv.schema.json
Due: cargo-fmt, cargo-dev-generate-all

Pass install mirrors to other fetching commands
  crates/uv-cli/src/lib.rs
  crates/uv-python/src/installation.rs
  crates/uv-settings/src/settings.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/export.rs
  crates/uv/src/commands/project/init.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/remove.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/project/tree.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/src/commands/tool/upgrade.rs
  crates/uv/src/commands/venv.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  docs/reference/cli.md
  docs/reference/settings.md
Due: cargo-fmt, cargo-dev-generate-all

Update Packse snapshots
  crates/uv/tests/it/pip_install_scenarios.rs
  scripts/scenarios/generate.py
Due: cargo-fmt

Update snapshot
  crates/uv/tests/it/publish.rs
Due: cargo-fmt

Publish: Hint at `--skip-existing` -> `--check-url` transition (#8803)
  crates/uv-cli/src/lib.rs
  crates/uv/src/lib.rs
  crates/uv/tests/it/publish.rs
Due: cargo-fmt, cargo-dev-generate-all

Add more versions
  crates/uv/tests/it/pip_install_scenarios.rs
Due: cargo-fmt

Update insta snapshots for install command
  crates/uv/tests/it/help.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/show_settings.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Bump verison to 0.4.30
  CHANGELOG.md
  Cargo.lock
  crates/uv-version/Cargo.toml
  crates/uv/Cargo.toml
  docs/guides/integration/docker.md
  docs/guides/integration/github.md
  docs/guides/integration/pre-commit.md
  pyproject.toml
Due: none

Bump version to 0.4.30 (#8820)
  CHANGELOG.md
  Cargo.lock
  crates/uv-version/Cargo.toml
  crates/uv/Cargo.toml
  docs/guides/integration/docker.md
  docs/guides/integration/github.md
  docs/guides/integration/pre-commit.md
  pyproject.toml
Due: none

Rename some variants
  crates/uv-pep440/src/version.rs
  crates/uv-pep440/src/version_ranges.rs
  crates/uv-pep440/src/version_specifier.rs
  crates/uv-python/src/discovery.rs
  crates/uv-resolver/src/error.rs
Due: cargo-fmt

Update pip-and-uv strictness example
  docs/pip/compatibility.md
Due: none
