Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

.pre-commit-config.yaml:

fail_fast: true

exclude: |
  (?x)^(
    .*/(snapshots)/.*|
  )$

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.42.3
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: local
    hooks:
      - id: cargo-dev-generate-all
        name: cargo dev generate-all
        entry: cargo dev generate-all
        language: system
        types: [rust]
        pass_filenames: false
        files: ^crates/(uv-cli|uv-settings)/

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --ignore-unknown
        language: node
        additional_dependencies: ["prettier@3"]
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

Fetch ruff ndjson from an Astral mirror
  crates/uv-bin-install/src/lib.rs
Due: cargo-fmt

Switch to free runners when on a fork
  .github/runners.json
  .github/workflows/bench.yml
  .github/workflows/build-dev-binaries.yml
  .github/workflows/build-release-binaries.yml
  .github/workflows/check-lint.yml
  .github/workflows/check-publish.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/test-smoke.yml
  .github/workflows/test.yml
Due: none

Treat PermissionDenied as boundary during workspace discovery
  crates/uv-workspace/src/workspace.rs
Due: cargo-fmt

add json feature to reqwest-middleware
  crates/uv-publish/Cargo.toml
Due: none

Send mint-token requests with a proper Content-Type (#18334)
  crates/uv-publish/Cargo.toml
  crates/uv-publish/src/trusted_publishing/pypi.rs
  crates/uv-publish/src/trusted_publishing/pyx.rs
Due: cargo-fmt

Bump zlib-rs from 0.6.0 to 0.6.2
  Cargo.lock
Due: none

Update the platform support policy with a tier 3 section including freebsd and 32-bit windows (#18345)
  docs/reference/policies/platforms.md
Due: none

docs: clarify that uv lock uses universal resolution
  docs/concepts/projects/sync.md
Due: none

Bump zlib-rs to 0.6.2 to fix panic on decompression of large wheels on Windows (#18362)
  Cargo.lock
Due: none

Log config-file override in verbose output
  crates/uv/src/lib.rs
  crates/uv/tests/it/cache_clean.rs
Due: cargo-fmt

Add an integration test for android
  .github/workflows/build-dev-binaries.yml
  .github/workflows/test-integration.yml
  test/integration/android-python-launcher.c
  test/integration/android.sh
Due: none

uv-client: ignore empty SSL_CERT_FILE
  crates/uv-client/src/base_client.rs
  crates/uv-client/tests/it/ssl_certs.rs
Due: cargo-fmt

chore(ci): switch artifact attestations gen to actions/attest v4
  .github/workflows/build-docker.yml
  .github/workflows/release.yml
  dist-workspace.toml
Due: none

Fixups
  crates/uv-resolver/src/lock/export/mod.rs
  crates/uv-resolver/src/pubgrub/package.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

docs: add uv workspace commands documentation
  docs/concepts/projects/workspaces.md
Due: none

Fix broken relative links in sync.md
  docs/concepts/projects/sync.md
Due: none

Fix relative links to use .md extensions for MkDocs compatibility
  docs/concepts/projects/sync.md
Due: none

Conditionalize two new tests on the test-pypi feature
  crates/uv/tests/it/build_backend.rs
Due: cargo-fmt

fix: emit index urls & find links in uv export
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/project/export.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/export.rs
Due: cargo-fmt, cargo-dev-generate-all

Conditionalize two new tests on the test-pypi feature (#18369)
  crates/uv/tests/it/build_backend.rs
Due: cargo-fmt

Switch to free runners when on a fork
  .config/nextest.toml
  .github/runners.json
  .github/workflows/bench.yml
  .github/workflows/build-dev-binaries.yml
  .github/workflows/build-release-binaries.yml
  .github/workflows/check-lint.yml
  .github/workflows/check-publish.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/test-smoke.yml
  .github/workflows/test.yml
Due: none

Add `--outdated` flag to `uv tool list` (#18318)
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/tool/list.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/tool_list.rs
Due: cargo-fmt, cargo-dev-generate-all

[ty] Avoid copying /usr in install test
  crates/uv/tests/it/tool_install.rs
Due: cargo-fmt

Avoid sharing version metadata across indexes
  crates/uv-requirements/src/extras.rs
  crates/uv-requirements/src/lookahead.rs
  crates/uv-requirements/src/source_tree.rs
  crates/uv-requirements/src/unnamed.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-resolver/src/pubgrub/distribution.rs
  crates/uv-resolver/src/pubgrub/mod.rs
  crates/uv-resolver/src/resolution/output.rs
  crates/uv-resolver/src/resolver/batch_prefetch.rs
  crates/uv-resolver/src/resolver/index.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/tests/it/lock_conflict.rs
Due: cargo-fmt

Fix FilePins
  crates/uv-resolver/src/pins.rs
  crates/uv-resolver/src/resolution/output.rs
  crates/uv-resolver/src/resolver/mod.rs
Due: cargo-fmt

Add `--no-wait` argument for the `run` command to not wait for spawned process to finish
  crates/uv-cli/src/lib.rs
  crates/uv-static/src/env_vars.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
Due: cargo-fmt, cargo-dev-generate-all

Fix inconsistent Windows host information
  crates/uv-platform/src/host.rs
Due: cargo-fmt

fix: adjust ostype to match sys-info-rs, fix windows version
  Cargo.lock
  Cargo.toml
  crates/uv-platform/Cargo.toml
  crates/uv-platform/src/host.rs
Due: cargo-fmt

fix(uv-platform): adjust windows ostype to match sys-info-rs, fix windows version (#18383)
  Cargo.lock
  Cargo.toml
  crates/uv-platform/Cargo.toml
  crates/uv-platform/src/host.rs
Due: cargo-fmt

Contributing: Require a human in the loop for LLM contributions (#18315)
  CONTRIBUTING.md
Due: none

Apply suggestion from @EliteTK
  crates/uv/tests/it/tool_install.rs
Due: cargo-fmt

Fix imports
  crates/uv/tests/it/tool_install.rs
Due: cargo-fmt

Avoid copying /usr in install test (#18372)
  crates/uv/tests/it/tool_install.rs
Due: cargo-fmt

Emit initial results for `uv audit`
  Cargo.lock
  Cargo.toml
  _typos.toml
  crates/uv-audit/src/service/osv.rs
  crates/uv-audit/src/types.rs
  crates/uv/Cargo.toml
  crates/uv/src/commands/project/audit.rs
  crates/uv/src/commands/reporters.rs
Due: cargo-fmt

Filter down to auditable packages (#18322)
  crates/uv/src/commands/project/audit.rs
  crates/uv/src/commands/reporters.rs
Due: cargo-fmt

update uv/Cargo.toml dependencies uv-client/base_client.rs uv-client/registry_client.rs for cargo build
  Cargo.toml
  crates/uv-client/src/base_client.rs
  crates/uv-client/src/registry_client.rs
Due: cargo-fmt

update uv-client/base_client.rs to enable support for SSL_CERT_* vars
  crates/uv-client/src/base_client.rs
Due: cargo-fmt

refactor uv-client/ssl_certs.rs and add 7 new test cases for base_client update
  crates/uv-client/tests/it/ssl_certs.rs
Due: cargo-fmt

update for new native-tls flag backend
  crates/uv-cli/src/lib.rs
  crates/uv-settings/src/settings.rs
  crates/uv-static/src/env_vars.rs
  crates/uv/tests/it/help.rs
  uv.schema.json
Due: cargo-fmt, cargo-dev-generate-all

remove dead_code no longer needed from uv-client/tests/ssl_certs.rs
  crates/uv-client/tests/it/ssl_certs.rs
Due: cargo-fmt
