Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-dev-generate-all:
  name: cargo dev generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

Log the debug error trace (#14458)
  crates/uv-dev/src/main.rs
  crates/uv/src/commands/publish.rs
  crates/uv/src/commands/python/install.rs
  crates/uv/src/commands/tool/upgrade.rs
  crates/uv/src/lib.rs
Due: cargo-fmt

Move UV_LOG_CONTEXT to EnvironmentOptions
  crates/uv-settings/src/lib.rs
  crates/uv/src/logging.rs
Due: cargo-fmt, cargo-dev-generate-all

add back uv_static::EnvVars under export feature
  crates/uv/src/logging.rs
Due: cargo-fmt

docs/guides/integration/jupyter: section about ephemeral environments
  docs/guides/integration/jupyter.md
Due: none

Move retries
  crates/uv-client/src/cached_client.rs
  crates/uv-client/src/error.rs
  crates/uv-resolver/src/resolver/provider.rs
Due: cargo-fmt

replace manual env removal with remove_virtualenv
  crates/uv-tool/src/lib.rs
  crates/uv/src/commands/project/mod.rs
Due: cargo-fmt

Remove duplicate windows self-replace handling
  crates/uv-tool/src/lib.rs
Due: cargo-fmt

Remove retry wrapper when matching on error kind (#14996)
  crates/uv-client/src/cached_client.rs
  crates/uv-client/src/error.rs
  crates/uv-client/src/registry_client.rs
  crates/uv-publish/src/lib.rs
  crates/uv-resolver/src/resolver/provider.rs
  crates/uv/src/commands/pip/latest.rs
Due: cargo-fmt

Fix Error on tool removal and remove self-replace
  Cargo.lock
  crates/uv-tool/Cargo.toml
  crates/uv/src/commands/tool/uninstall.rs
Due: cargo-fmt

Add UV_DEV and UV_NO_DEV environment variables
  crates/uv-cli/src/lib.rs
  crates/uv-static/src/env_vars.rs
  docs/reference/cli.md
  docs/reference/environment.md
Due: cargo-fmt, cargo-dev-generate-all

Add support for installing pyodide Pythons
  crates/uv-platform/src/arch.rs
  crates/uv-platform/src/libc.rs
  crates/uv-platform/src/os.rs
  crates/uv-python/download-metadata.json
  crates/uv-python/fetch-download-metadata.py
  crates/uv-python/src/downloads.rs
  crates/uv-python/src/managed.rs
Due: cargo-fmt

Add Pyodide discovery test
  crates/uv-python/src/lib.rs
Due: cargo-fmt

Prefer any native Python to the Emscripten Python
  crates/uv-python/src/discovery.rs
  crates/uv-python/src/lib.rs
Due: cargo-fmt

Add integration test
  .github/workflows/ci.yml
Due: none

Fix typo
  crates/uv-python/src/lib.rs
Due: cargo-fmt

uv => ./uv
  .github/workflows/ci.yml
Due: none

Review
  docs/guides/integration/coiled.md
Due: none

..
  docs/guides/integration/coiled.md
Due: none

fix typo
  docs/guides/integration/coiled.md
Due: none

Ignore GraalPy devtag
  crates/uv-python/python/get_interpreter_info.py
Due: none

Adjust Errors to enable error kind check
  crates/uv/src/commands/tool/uninstall.rs
Due: cargo-fmt

Help Rustfmt
  crates/uv-resolver/src/resolver/mod.rs
Due: cargo-fmt

Get rid of anyhow in the resolver
  crates/uv-distribution-types/src/index_entry.rs
  crates/uv-distribution-types/src/lib.rs
  crates/uv-resolver/Cargo.toml
  crates/uv-resolver/src/error.rs
  crates/uv-resolver/src/lib.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-resolver/src/resolver/provider.rs
Due: cargo-fmt

Marker workaround :/
  crates/uv-pep508/src/marker/tree.rs
  crates/uv-variants/src/variants_json.rs
Due: cargo-fmt

Use generic marker variant mechanism
  crates/uv-distribution-types/src/requirement.rs
  crates/uv-distribution-types/src/specified_requirement.rs
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-installer/src/site_packages.rs
  crates/uv-pep508/src/lib.rs
  crates/uv-pep508/src/marker/mod.rs
  crates/uv-pep508/src/marker/tree.rs
  crates/uv-pep508/src/unnamed.rs
  crates/uv-requirements/src/lookahead.rs
  crates/uv-resolver/src/error.rs
  crates/uv-resolver/src/graph_ops.rs
  crates/uv-resolver/src/lock/export/pylock_toml.rs
  crates/uv-resolver/src/lock/installable.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-resolver/src/lock/tree.rs
  crates/uv-resolver/src/manifest.rs
  crates/uv-resolver/src/preferences.rs
  crates/uv-resolver/src/resolution/display.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-resolver/src/universal_marker.rs
  crates/uv-types/src/hash.rs
  crates/uv-variants/src/lib.rs
  crates/uv-variants/src/variants_json.rs
  crates/uv/src/commands/pip/show.rs
  crates/uv/src/commands/pip/tree.rs
  crates/uv/src/commands/project/sync.rs
Due: cargo-fmt

Add naive caching for variant provider running
  crates/uv-distribution-types/src/lib.rs
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-distribution/src/lib.rs
  crates/uv-resolver/src/lock/installable.rs
  crates/uv-variants/src/resolved_variants.rs
  crates/uv/src/commands/project/sync.rs
  test_variants.sh
Due: cargo-fmt

Less unwraps, move `fetch_variants_json` into the client
  Cargo.lock
  Cargo.toml
  crates/uv-client/Cargo.toml
  crates/uv-client/src/error.rs
  crates/uv-client/src/registry_client.rs
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-distribution/src/source/mod.rs
  test_torch.sh
Due: cargo-fmt

Code quality
  crates/uv-distribution-types/src/prioritized_distribution.rs
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-resolver/src/lock/installable.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-variants/src/lib.rs
Due: cargo-fmt

Add temporary test files
  build-wheels.sh
  files/anyio-4.9.0-py3-none-any.whl
  files/built_by_uv-0.1.0-py3-none-any-cpu1.whl
  files/built_by_uv-0.1.0-py3-none-any-cpu2.whl
  files/built_by_uv-0.1.0-py3-none-any-cpu3.whl
  files/built_by_uv-0.1.0-py3-none-any-cpu4.whl
  files/built_by_uv-0.1.0-variants.json
  files/cpu_level_provider-0.1.0-py3-none-any.whl
  files/cpu_level_provider-0.1.0.tar.gz
  files/idna-3.10-py3-none-any.whl
  files/sniffio-1.3.1-py3-none-any.whl
  files_sdist/built_by_uv-0.1.0.tar.gz
  files_wheel/built_by_uv-0.1.0-py3-none-any.whl
  scripts/packages/built-by-uv/pyproject.toml
  test_torch.sh
  test_variants.sh
Due: none

Add variant support to uv-pep508
  crates/uv-pep508/src/lib.rs
  crates/uv-pep508/src/marker/lowering.rs
  crates/uv-pep508/src/marker/parse.rs
  crates/uv-pep508/src/marker/tree.rs
  crates/uv-pep508/src/unnamed.rs
Due: cargo-fmt

Commit package for torch test script
  scripts/packages/torch_user/.python-version
  scripts/packages/torch_user/README.md
  scripts/packages/torch_user/pyproject.toml
  scripts/packages/torch_user/src/torch_user/__init__.py
  scripts/packages/torch_user/src/torch_user/py.typed
  test_torch.sh
  test_variants.sh
Due: none

Some more error handling
  crates/uv-distribution-types/src/prioritized_distribution.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-variant-frontend/src/error.rs
  crates/uv-variant-frontend/src/lib.rs
Due: cargo-fmt

.
  crates/uv-client/src/registry_client.rs
  crates/uv-dispatch/Cargo.toml
Due: cargo-fmt

Test script style
  test_torch.sh
Due: none

Fix build
  crates/uv-variant-frontend/src/lib.rs
  scripts/packages/torch_user/uv.lock
Due: cargo-fmt

.
  test_torch.sh
Due: none

Support replacing the binary in test scripts
  test_torch.sh
  test_variants.sh
Due: none

Add lockfile too
  scripts/packages/torch_user/uv.lock
Due: none

Bump simple index to invalidate caches
  crates/uv-cache/src/lib.rs
  crates/uv/tests/it/cache_clean.rs
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/(snapshots)/.*|
)$

  cargo-dev-generate-all: any of: ^crates/(uv-cli|uv-settings)/ and \.rs$ and not ((?x)^(
  .*/(snapshots)/.*|
)$
)
