Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-dev-generate-all:
  name: cargo dev generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

Instrument build sdist and build wheel
  crates/uv/src/commands/build_frontend.rs
Due: cargo-fmt

Split `.tar.gz` setup and source dist writing
  crates/uv-build-backend/src/lib.rs
Due: cargo-fmt

typo
  crates/uv-build-backend/src/lib.rs
Due: cargo-fmt

Build backend: Refactoring before list (#9558)
  crates/uv-build-backend/src/lib.rs
  crates/uv/src/commands/build_frontend.rs
Due: cargo-fmt

Add documentation on using dependencies from private GitLab package indexes.
  docs/guides/integration/alternative-indexes.md
Due: none

uv/tests: re-enable conflict tests
  crates/uv/tests/it/lock_conflict.rs
  crates/uv/tests/it/main.rs
Due: cargo-fmt

uv-resolver: conditionally include the base package dependency
  crates/uv-resolver/src/pubgrub/dependencies.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv/tests/it/lock_conflict.rs
Due: cargo-fmt

Update build failures document
  docs/reference/build_failures.md
  mkdocs.template.yml
Due: none

Mention `uv pip` behavior in build system note
  docs/concepts/projects/config.md
Due: none

Include base installation directory in uv run PATH
  crates/uv/src/commands/project/run.rs
Due: cargo-fmt

Mention `uv pip` behavior in build system note (#9586)
  docs/concepts/projects/config.md
Due: none

Include base installation directory in uv run PATH (#9585)
  crates/uv/src/commands/project/run.rs
Due: cargo-fmt

Omit origin when comparing requirements (#9570)
  crates/uv-pypi-types/src/requirement.rs
  crates/uv/tests/it/tool_install.rs
Due: cargo-fmt

Make `check-url` available in configuration files (#9032)
  crates/uv-settings/src/settings.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/show_settings.rs
  docs/reference/settings.md
  uv.schema.json
Due: cargo-fmt, cargo-dev-generate-all

Update message
  crates/uv/src/commands/project/mod.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/python_find.rs
  crates/uv/tests/it/run.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Review feedback
  crates/uv/src/commands/python/install.rs
  crates/uv/tests/it/python_install.rs
Due: cargo-fmt

Allow --constraints and --overrides in uv tool install
  crates/uv-cli/src/lib.rs
  crates/uv-tool/src/tool.rs
  crates/uv/src/commands/tool/common.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/upgrade.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/show_settings.rs
  crates/uv/tests/it/tool_install.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Add suggested action when `.python-version` pin is incompatible with the project (#9590)
  crates/uv/src/commands/project/mod.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/python_find.rs
  crates/uv/tests/it/run.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Add `uv python install --default` (#8650)
  crates/uv-cli/src/lib.rs
  crates/uv-python/src/installation.rs
  crates/uv/src/commands/python/install.rs
  crates/uv/src/commands/python/uninstall.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/help.rs
  crates/uv/tests/it/python_install.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Display Python executables on uninstall
  crates/uv/src/commands/python/install.rs
  crates/uv/src/commands/python/uninstall.rs
  crates/uv/tests/it/python_install.rs
Due: cargo-fmt

Allow `--constraints` and `--overrides` in `uv tool install` (#9547)
  crates/uv-cli/src/lib.rs
  crates/uv-tool/src/tool.rs
  crates/uv/src/commands/tool/common.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/upgrade.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/show_settings.rs
  crates/uv/tests/it/tool_install.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Display removed Python executables on uninstall (#9459)
  crates/uv/src/commands/python/install.rs
  crates/uv/src/commands/python/uninstall.rs
  crates/uv/tests/it/python_install.rs
Due: cargo-fmt

Add failing test
  crates/uv-distribution/src/source/mod.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Respect path dependencies within Git dependencies
  crates/uv-distribution/src/metadata/lowering.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Include Git member information when getting metadata from cache (#9388)
  crates/uv-distribution/src/source/mod.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Respect path dependencies within Git dependencies (#9594)
  crates/uv-distribution/src/metadata/lowering.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Normalize paths when lowering Git dependencies
  crates/uv-distribution/src/metadata/lowering.rs
  crates/uv-resolver/src/resolver/urls.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Normalize paths when lowering Git dependencies (#9595)
  crates/uv-distribution/src/metadata/lowering.rs
  crates/uv-resolver/src/resolver/urls.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Move wheel building into its own module
  crates/uv-build-backend/src/lib.rs
  crates/uv-build-backend/src/wheel.rs
Due: cargo-fmt

Move source dist building into its own module
  crates/uv-build-backend/src/lib.rs
  crates/uv-build-backend/src/source_dist.rs
Due: cargo-fmt

Split build backend into modules (#9599)
  crates/uv-build-backend/src/lib.rs
  crates/uv-build-backend/src/source_dist.rs
  crates/uv-build-backend/src/wheel.rs
Due: cargo-fmt

Build backend: Rename `--no-fast-path` to `--force-pep517`
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Build backend: Rename `--no-fast-path` to `--force-pep517` (#9600)
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Add function to list wheel files only
  crates/uv-build-backend/src/lib.rs
  crates/uv-build-backend/src/wheel.rs
Due: cargo-fmt

Split `build_wheel` into functions
  crates/uv-build-backend/src/wheel.rs
Due: cargo-fmt

Add function to list source dist files only
  crates/uv-build-backend/src/lib.rs
  crates/uv-build-backend/src/source_dist.rs
Due: cargo-fmt

Add doc comment about `write_bytes`
  crates/uv-build-backend/src/lib.rs
Due: cargo-fmt

Build backend: Add functions to collect file list (#9602)
  crates/uv-build-backend/src/lib.rs
  crates/uv-build-backend/src/source_dist.rs
  crates/uv-build-backend/src/wheel.rs
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/(snapshots)/.*|
)$

  cargo-dev-generate-all: any of: ^crates/(uv-cli|uv-settings)/ and \.rs$ and not ((?x)^(
  .*/(snapshots)/.*|
)$
)
