Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-dev-generate-all:
  name: cargo dev generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

Add a `uv-python` shim executable
  .github/workflows/build-dev-binaries.yml
  .github/workflows/build-docker.yml
  .github/workflows/build-release-binaries.yml
  Dockerfile
  crates/uv-cli/src/lib.rs
  crates/uv-python/src/interpreter.rs
  crates/uv-static/src/env_vars.rs
  crates/uv/src/bin/uv-python.rs
  crates/uv/src/commands/python/install.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/help.rs
  crates/uv/tests/python/main.rs
  crates/uv/tests/python/python_install.rs
  crates/uv/tests/python/python_shim.rs
  dist-workspace.toml
  scripts/build_uv_pgo.py
  scripts/check-release-artifact-sboms.sh
  scripts/check_uv_wheel_contents.py
  scripts/nextest-setup-hook-unix.sh
Due: cargo-fmt, cargo-dev-generate-all

Disable install scripts in the Prettier hook
  .pre-commit-config.yaml
  CONTRIBUTING.md
Due: none

Require wheels for Python tooling dependencies
  .github/workflows/test-integration.yml
  crates/uv-build/pyproject.toml
  pyproject.toml
  scripts/benchmark/pyproject.toml
Due: none

Promote ready uv-security pull requests
  .github/automations-dispatch.json
  .github/ost-simple-sts.json
  .github/workflows/promote-pull-request.yml
Due: none

Remove contributor pre-commit configuration
  .github/renovate.json5
  .pre-commit-config.yaml
  CONTRIBUTING.md
Due: none

Enforce Git revision invariants by construction
  crates/uv-git-types/src/lib.rs
  crates/uv-git/src/resolver.rs
  crates/uv-git/src/source.rs
  crates/uv/tests/pip_install/pip_install.rs
Due: cargo-fmt

Preserve private promotion through parent updates
  .github/workflows/promote-pull-request.yml
  .github/workflows/update-pull-request-parent.yml
Due: none

Keep source-build tests and local tooling working
  .github/workflows/test-integration.yml
  crates/uv/pyproject.toml
  scripts/benchmark/pyproject.toml
  test/uv.toml
Due: none

Pin build dependencies for source-build exceptions
  scripts/benchmark/pyproject.toml
  scripts/benchmark/uv.lock
Due: none

Try APT fallback mirrors sooner in Linux CI
  .github/workflows/test.yml
Due: none

Document manual release workflow maintenance
  .github/workflows/release.yml
Due: none

Fix riscv64 musl TLS segfaults by updating aws-lc-rs (#21158)
  .github/workflows/build-release-binaries.yml
  Cargo.lock
  Dockerfile
Due: none

Fix recursive extras with mixed production markers (#21181)
  crates/uv-distribution/src/metadata/requires_dist.rs
  crates/uv/tests/pip_compile/pip_compile.rs
Due: cargo-fmt

Move pyproject validation into a script
  .github/workflows/check-lint.yml
  CONTRIBUTING.md
  scripts/validate-pyproject.sh
Due: none

Require wheels for PEP 723 script dependencies
  agents/hooks/post-edit-format.py
  agents/scripts/agent-review-to-github-comments.py
  crates/uv-extract/test_vectors/dirhash.py
  crates/uv-python/fetch-download-metadata.py
  scripts/build_uv_pgo.py
  scripts/bump-workspace-crate-versions.py
  scripts/check-trampoline-version-consistency.py
  scripts/create-python-mirror.py
  scripts/generate-crate-readmes.py
  scripts/generate-known-stdlib.py
  scripts/publish/test_publish.py
  scripts/registries-test.py
  scripts/sync-python-version-constants.py
  scripts/update-latest-changelog-section.py
  scripts/uv-run-remote-script-test.py
  scripts/vendor-packaging.py
Due: none

Remove contributor pre-commit configuration (#21197)
  .github/renovate.json5
  .github/workflows/check-lint.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  scripts/validate-pyproject.sh
Due: none

Require wheels for Python tooling dependencies (#21195)
  .github/workflows/test-integration.yml
  crates/uv-build/pyproject.toml
  crates/uv/pyproject.toml
  pyproject.toml
  scripts/benchmark/pyproject.toml
  scripts/benchmark/uv.lock
  test/uv.toml
Due: none

Use fixture configuration when priming benchmark caches
  .github/workflows/bench.yml
Due: none

Use fixture configuration when priming benchmark caches (#21203)
  .github/workflows/bench.yml
Due: none

Disable install scripts when running Prettier
  .github/workflows/check-fmt.yml
  CONTRIBUTING.md
  agents/hooks/post-edit-format.py
  crates/uv-dev/src/generate_json_schema.rs
  scripts/generate-crate-readmes.py
Due: cargo-fmt

Pin the formatter CI Node runtime
  .github/workflows/check-fmt.yml
  .github/workflows/check-generated-files.yml
  .github/workflows/release-prepare.yml
Due: none

Enforce the formatter package release age
  .github/workflows/check-fmt.yml
  .github/workflows/check-generated-files.yml
  .github/workflows/release-prepare.yml
  .npmrc
  CONTRIBUTING.md
  package-lock.json
  package.json
Due: none

Lock the JavaScript formatting tools
  .github/renovate.json5
  .github/workflows/check-fmt.yml
  .github/workflows/check-generated-files.yml
  .gitignore
  .npmrc
  CONTRIBUTING.md
  agents/hooks/post-edit-format.py
  crates/uv-dev/src/generate_json_schema.rs
  package-lock.json
  package.json
  scripts/generate-crate-readmes.py
  scripts/release.sh
Due: cargo-fmt

Remove more uvx usages, add typos to check group
  CONTRIBUTING.md
  _typos.toml
  agents/hooks/post-edit-format.py
  pyproject.toml
  scripts/smoke-test/commands.sh
  uv.lock
Due: none

Allow more time for simulated benchmarks
  .github/workflows/bench.yml
Due: none

Fix smoketest
  scripts/smoke-test/commands.sh
Due: none

Require wheels for PEP 723 script dependencies (#21201)
  agents/hooks/post-edit-format.py
  agents/scripts/agent-review-to-github-comments.py
  crates/uv-extract/test_vectors/dirhash.py
  crates/uv-python/fetch-download-metadata.py
  scripts/build_uv_pgo.py
  scripts/bump-workspace-crate-versions.py
  scripts/check-trampoline-version-consistency.py
  scripts/create-python-mirror.py
  scripts/generate-crate-readmes.py
  scripts/generate-known-stdlib.py
  scripts/publish/test_publish.py
  scripts/registries-test.py
  scripts/sync-python-version-constants.py
  scripts/update-latest-changelog-section.py
  scripts/uv-run-remote-script-test.py
  scripts/vendor-packaging.py
Due: none

Allow more time for simulated benchmarks (#21205)
  .github/workflows/bench.yml
Due: none

Document manual maintenance of the release workflow (#21200)
  .github/workflows/release.yml
Due: none

Try APT fallback mirrors sooner in ARMv7 setup
  .github/workflows/build-dev-binaries.yml
Due: none

Remove more uvx usages, add typos to check group (#21204)
  CONTRIBUTING.md
  _typos.toml
  agents/hooks/post-edit-format.py
  pyproject.toml
  scripts/smoke-test/commands.sh
  uv.lock
Due: none

Run schema formatting through the npm script
  crates/uv-dev/src/generate_json_schema.rs
Due: cargo-fmt

Revert "Run schema formatting through the npm script"
  crates/uv-dev/src/generate_json_schema.rs
Due: cargo-fmt

Restore NumPy in the smoke tests
  scripts/smoke-test/commands.sh
Due: none

Restore NumPy in the smoke tests (#21207)
  scripts/smoke-test/commands.sh
Due: none

Report native test process status
  crates/uv-test/src/lib.rs
Due: cargo-fmt

Share tar-gzip test archive creation
  crates/uv-test/src/archive.rs
  crates/uv-test/src/lib.rs
  crates/uv/tests/pip_compile/pip_compile.rs
  crates/uv/tests/pip_install/pip_install.rs
Due: cargo-fmt

Warn about unbounded build backends only for source distributions
  crates/uv-build-backend/src/metadata.rs
  crates/uv-build-backend/src/source_dist.rs
  crates/uv/tests/build/build.rs
Due: cargo-fmt

Cover unbounded build backends during project sync
  crates/uv/tests/sync/sync.rs
Due: cargo-fmt

Share build kind with the standalone backend
  Cargo.lock
  crates/uv-build-backend/src/metadata.rs
  crates/uv-build-backend/src/source_dist.rs
  crates/uv-build-backend/src/wheel.rs
  crates/uv-configuration/Cargo.toml
  crates/uv-configuration/src/build_options.rs
  crates/uv-pypi-types/src/build.rs
  crates/uv-pypi-types/src/lib.rs
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/(snapshots)/.*|
)$

  cargo-dev-generate-all: any of: ^crates/(uv-cli|uv-settings)/ and \.rs$ and not ((?x)^(
  .*/(snapshots)/.*|
)$
)
