Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-dev-generate-all:
  name: cargo dev generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

feat(workspace): add `dynamic` to `Project`
  crates/uv-workspace/src/pyproject.rs
  crates/uv-workspace/src/workspace.rs
Due: cargo-fmt

feat(workspace): add methods to check if key is dynamic
  crates/uv-workspace/src/pyproject.rs
  crates/uv-workspace/src/workspace.rs
Due: cargo-fmt

feat(project): add method to validate extras
  crates/uv/src/commands/project/mod.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

feat: validate that requested extras exist
  crates/uv/src/commands/project/export.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

test(lock): update assertion to account for invalid extra
  crates/uv/tests/it/lock_conflict.rs
Due: cargo-fmt

Revert `Cargo.lock` changes
  Cargo.lock
Due: none

Use `-` for x86-64 instead of `_` in display names
  .github/workflows/ci.yml
Due: none

Add Windows aarch64 build and test job to CI
  .github/workflows/ci.yml
Due: none

Bump cargo-dist version to 0.28.0
  .github/workflows/release.yml
  Cargo.toml
Due: none

Add Windows aarch64 to the release binaries
  .github/workflows/build-binaries.yml
  Cargo.toml
Due: none

Print dependencies in uv pip list.
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/pip/list.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
Due: cargo-fmt, cargo-dev-generate-all

Improve some env var document
  crates/uv-static/src/env_vars.rs
  docs/configuration/environment.md
Due: cargo-fmt

Document `name=index` format for `--index` and `--default-index`
  crates/uv-cli/src/lib.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

WIP add subdirectory
  crates/uv-cli/src/lib.rs
  crates/uv-workspace/src/pyproject.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
Due: cargo-fmt, cargo-dev-generate-all

Remove dependencies clone in resolver (#10880)
  crates/uv-resolver/src/resolver/mod.rs
Due: cargo-fmt

Add and remove managed Pythons from the Windows registry
  crates/uv-python/Cargo.toml
  crates/uv-python/src/discovery.rs
  crates/uv-python/src/downloads.rs
  crates/uv-python/src/installation.rs
  crates/uv-python/src/lib.rs
  crates/uv-python/src/macos_dylib.rs
  crates/uv-python/src/managed.rs
  crates/uv-python/src/microsoft_store.rs
  crates/uv-python/src/platform.rs
  crates/uv-python/src/py_launcher.rs
  crates/uv-python/src/windows_registry.rs
  crates/uv/src/commands/python/install.rs
  crates/uv/src/commands/python/uninstall.rs
  crates/uv/src/lib.rs
  crates/uv/tests/it/common/mod.rs
Due: cargo-fmt

Refactoring: Move to function
  crates/uv/src/commands/python/install.rs
Due: cargo-fmt

Add system test
  .github/workflows/ci.yml
  scripts/check_registry.py
Due: none

Move to its own system test
  .github/workflows/ci.yml
Due: none

docs(git): add subdirectory example
  docs/concepts/projects/dependencies.md
Due: none

Add dependency-group cli flags to `uv pip install` and `uv pip compile` (`--group`, `--no-group`, `--only-group`, `--all-groups`) (#10861)
  crates/uv-cli/src/lib.rs
  crates/uv-configuration/src/dev.rs
  crates/uv-requirements/src/source_tree.rs
  crates/uv-requirements/src/sources.rs
  crates/uv-settings/src/settings.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/operations.rs
  crates/uv/src/commands/pip/sync.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/pip_compile.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/show_settings.rs
  docs/reference/cli.md
  docs/reference/settings.md
  uv.schema.json
Due: cargo-fmt, cargo-dev-generate-all

docs(git): add subdirectory example (#10894)
  docs/concepts/projects/dependencies.md
Due: none

Use Hashbrown's raw entry API to reduce hashes and clone in priority
  crates/uv-resolver/src/lib.rs
  crates/uv-resolver/src/pubgrub/package.rs
  crates/uv-resolver/src/pubgrub/priority.rs
Due: cargo-fmt

Improve some env var document (#10887)
  crates/uv-static/src/env_vars.rs
  docs/configuration/environment.md
Due: cargo-fmt

Install and remove managed Python to and from the Windows Registry (PEP 514) (#10634)
  .github/workflows/ci.yml
  crates/uv-python/Cargo.toml
  crates/uv-python/src/discovery.rs
  crates/uv-python/src/downloads.rs
  crates/uv-python/src/installation.rs
  crates/uv-python/src/lib.rs
  crates/uv-python/src/macos_dylib.rs
  crates/uv-python/src/managed.rs
  crates/uv-python/src/microsoft_store.rs
  crates/uv-python/src/platform.rs
  crates/uv-python/src/py_launcher.rs
  crates/uv-python/src/windows_registry.rs
  crates/uv/src/commands/python/install.rs
  crates/uv/src/commands/python/uninstall.rs
  crates/uv/src/lib.rs
  crates/uv/tests/it/common/mod.rs
  scripts/check_registry.py
Due: cargo-fmt

Use Hashbrown's raw entry API to reduce hashes and clone in priority (#10881)
  crates/uv-resolver/src/lib.rs
  crates/uv-resolver/src/pubgrub/package.rs
  crates/uv-resolver/src/pubgrub/priority.rs
Due: cargo-fmt

Add a `uv pip install --group` test case with `default-groups`
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Disable the progress bar with `RUST_LOG`
  crates/uv/src/settings.rs
Due: cargo-fmt

fix --only-group in pip interface
  crates/uv-requirements/src/source_tree.rs
  crates/uv/tests/it/pip_compile.rs
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Add test coverage for use of `git` without feature flag (#10874)
  crates/uv/tests/it/branching_urls.rs
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/main.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/run.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

All (virtual) packages must have a priority
  crates/uv-resolver/src/dependency_provider.rs
  crates/uv-resolver/src/pubgrub/priority.rs
Due: cargo-fmt

Add test for priority size
  crates/uv-resolver/src/dependency_provider.rs
Due: cargo-fmt

Use debug asserts
  crates/uv-resolver/src/pubgrub/priority.rs
Due: cargo-fmt

All (virtual) packages must have a priority (#10853)
  crates/uv-resolver/src/dependency_provider.rs
  crates/uv-resolver/src/pubgrub/priority.rs
Due: cargo-fmt

fix `--only-group` in `uv pip` interface (#10902)
  crates/uv-requirements/src/source_tree.rs
  crates/uv/tests/it/pip_compile.rs
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Add a `uv pip install --group` test case with `default-groups` (#10899)
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Bump cargo-dist version to 0.28.0 (#10884)
  .github/workflows/release.yml
  Cargo.toml
Due: none

Disable the progress bar with `RUST_LOG` (#10901)
  crates/uv/src/settings.rs
Due: cargo-fmt

Fix test snapshot for `--only-group` changes
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Fix test snapshot for `--only-group` changes (#10906)
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/(snapshots)/.*|
)$

  cargo-dev-generate-all: any of: ^crates/(uv-cli|uv-settings)/ and \.rs$ and not ((?x)^(
  .*/(snapshots)/.*|
)$
)
