Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

.pre-commit-config.yaml:

fail_fast: true

exclude: |
  (?x)^(
    .*/(snapshots)/.*|
  )$

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.20.2
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.26.0
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: local
    hooks:
      - id: cargo-dev-generate-all
        name: cargo dev generate-all
        entry: cargo dev generate-all
        language: system
        types: [rust]
        pass_filenames: false
        files: ^crates/(uv-cli|uv-settings)/

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

Update the binary build workflow names to just show targets (#17453)
  .github/workflows/build-release-binaries.yml
Due: none

Add retry logic for "too many open files" errors during Python uninstall
  crates/uv-fs/Cargo.toml
  crates/uv-fs/src/lib.rs
  crates/uv/src/commands/python/uninstall.rs
Due: cargo-fmt

Move download handling to a separate function
  crates/uv-python/src/discovery.rs
Due: cargo-fmt

No downloads enabled but Requesting::Any or Default should be an error.
  crates/uv-python/src/installation.rs
Due: cargo-fmt

Improve up update hint wording and snapshot testing
  crates/uv-python/src/installation.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Review
  Cargo.lock
  crates/uv-distribution-types/src/prioritized_distribution.rs
  crates/uv-installer/Cargo.toml
  crates/uv-installer/src/plan.rs
  crates/uv-installer/src/satisfies.rs
  crates/uv-platform-tags/src/tags.rs
  crates/uv-resolver/src/pubgrub/report.rs
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Skip benchmarks when no Rust code changed
  .github/workflows/ci.yml
Due: none

Update pretty rendering
  crates/uv-installer/src/plan.rs
  crates/uv-platform-tags/src/abi_tag.rs
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Skip benchmarks when Rust code is unchanged (#17454)
  .github/workflows/ci.yml
Due: none

Add clippy installation to web session start hook
  .claude/hooks/session-start-web.sh
Due: none

Deprecate non-PEP 625 source distributions
  Cargo.lock
  crates/uv-distribution-filename/Cargo.toml
  crates/uv-distribution-filename/src/extension.rs
  docs/concepts/resolution.md
Due: cargo-fmt

Avoid errors which would previously have not occurred
  crates/uv-python/src/discovery.rs
  crates/uv/tests/it/pip_compile.rs
Due: cargo-fmt

Re-attempt a download when falling back to a version without a patch number.
  crates/uv-python/src/discovery.rs
  crates/uv/tests/it/pip_compile.rs
Due: cargo-fmt

Install Clippy in Claude Code for Web (#17466)
  .claude/hooks/session-start-web.sh
Due: none

Skip flaky `test_simultaneous_independent_create_set` on Windows
  crates/uv-keyring/tests/threading.rs
Due: cargo-fmt

Add `METADATA.json` and `WHEEL.json` to build backend
  Cargo.lock
  crates/uv-build-backend/Cargo.toml
  crates/uv-build-backend/src/lib.rs
  crates/uv-build-backend/src/metadata.rs
  crates/uv-build-backend/src/wheel.rs
  crates/uv-build/Cargo.toml
  crates/uv-build/src/main.rs
  crates/uv-dispatch/src/lib.rs
  crates/uv-preview/src/lib.rs
  crates/uv-publish/src/lib.rs
  crates/uv-pypi-types/src/metadata/metadata23.rs
  crates/uv-pypi-types/src/metadata/mod.rs
  crates/uv-settings/src/lib.rs
  crates/uv-static/Cargo.toml
  crates/uv-static/src/lib.rs
  crates/uv-trampoline/Cargo.lock
  crates/uv/src/commands/build_backend.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/lib.rs
Due: cargo-fmt, cargo-dev-generate-all

A metadata and wheel snapshots
  crates/uv-build/src/main.rs
  crates/uv-publish/src/lib.rs
  crates/uv-pypi-types/src/metadata/metadata23.rs
  crates/uv/tests/it/build_backend.rs
Due: cargo-fmt

Rebase fixup
  crates/uv/tests/it/show_settings.rs
Due: cargo-fmt

Add a comment elaborating need to warn on download error
  crates/uv-python/src/discovery.rs
Due: cargo-fmt

Add Formatting and Linting sections to CONTRIBUTING guide
  CONTRIBUTING.md
Due: none

Push PEP 625 check into build_wheel
  Cargo.lock
  crates/uv-distribution-filename/Cargo.toml
  crates/uv-distribution-filename/src/extension.rs
  crates/uv-distribution-types/src/lib.rs
  crates/uv-distribution/Cargo.toml
  crates/uv-distribution/src/distribution_database.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/pip_sync.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Skip flaky `test_simultaneous_independent_create_set` on Windows (#17468)
  crates/uv-keyring/tests/threading.rs
Due: cargo-fmt

Reduce the number of CI checks run on pull requests
  .github/workflows/ci.yml
Due: none

Don't attempt a second download if the first one failed for any reason
  crates/uv-python/src/discovery.rs
Due: cargo-fmt

Use a Depot runner for `plan` jobs
  .github/workflows/ci.yml
Due: none

Add error chaining for cache initialization failures
  crates/uv-cache/src/lib.rs
  crates/uv/tests/it/cache.rs
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/main.rs
Due: cargo-fmt

Use a Depot runner for `plan` jobs (#17472)
  .github/workflows/ci.yml
Due: none

Avoid rendering `pyproject.toml` examples for more system-level settings (#17462)
  crates/uv-settings/src/settings.rs
Due: cargo-fmt, cargo-dev-generate-all

Add linting and formatting instructions to the CONTRIBUTING guide (#17470)
  CONTRIBUTING.md
Due: none

Gate some tests added in 0.9.23 on the pypi feature
  crates/uv/tests/it/network.rs
Due: cargo-fmt

Test fixtures
  crates/uv/tests/it/show_settings.rs
Due: cargo-fmt

Add timeouts to Docker build jobs
  .github/workflows/build-docker.yml
Due: none

Update Windows test snapshot for cache initialization error
  crates/uv/tests/it/venv.rs
Due: cargo-fmt

Keep smoke tests by default
  .github/workflows/ci.yml
Due: none

Download python in the default fallback case too
  crates/uv-python/src/discovery.rs
  crates/uv/tests/it/pip_compile.rs
Due: cargo-fmt

Remove stuttery Result type
  crates/uv-python/src/discovery.rs
  crates/uv-python/src/installation.rs
  crates/uv-python/src/lib.rs
Due: cargo-fmt

Add `METADATA.json` and `WHEEL.json` in uv build backend (#15510)
  Cargo.lock
  crates/uv-build-backend/Cargo.toml
  crates/uv-build-backend/src/lib.rs
  crates/uv-build-backend/src/metadata.rs
  crates/uv-build-backend/src/wheel.rs
  crates/uv-build/Cargo.toml
  crates/uv-build/src/main.rs
  crates/uv-dispatch/src/lib.rs
  crates/uv-preview/src/lib.rs
  crates/uv-publish/src/lib.rs
  crates/uv-pypi-types/src/metadata/metadata23.rs
  crates/uv-pypi-types/src/metadata/mod.rs
  crates/uv-settings/src/lib.rs
  crates/uv-static/Cargo.toml
  crates/uv-static/src/lib.rs
  crates/uv-trampoline/Cargo.lock
  crates/uv/src/commands/build_backend.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/lib.rs
  crates/uv/tests/it/build_backend.rs
  crates/uv/tests/it/show_settings.rs
Due: cargo-fmt, cargo-dev-generate-all

Add timeouts to Docker build jobs (#17473)
  .github/workflows/build-docker.yml
Due: none

Reduce the number of CI checks run on pull requests (#17471)
  .github/workflows/ci.yml
Due: none

Roll everything into a loop
  crates/uv-python/src/discovery.rs
Due: cargo-fmt
