Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-dev-generate-all:
  name: cargo dev generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

Update documentation for activating virtual environments in different shells
  docs/pip/environments.md
Due: none

Update snapshot
  crates/uv/tests/it/pip_compile.rs
Due: cargo-fmt

Update `compile_enumerate_no_versions ` snapshot (#10998)
  crates/uv/tests/it/pip_compile.rs
Due: cargo-fmt

Improve publish test script resilience (#10984)
  scripts/publish/test_publish.py
Due: none

Review
  docs/pip/environments.md
Due: none

Update documentation for activating virtual environments in different shell (#11000)
  docs/pip/environments.md
Due: none

Feedback
  docs/reference/troubleshooting/reproducible-examples.md
Due: none

Reject --editable flag on non-directory requirements
  crates/uv-workspace/src/pyproject.rs
  crates/uv/tests/it/edit.rs
Due: cargo-fmt

Add a troubleshooting section and reproducible example guide (#10947)
  docs/getting-started/help.md
  docs/reference/troubleshooting/build-failures.md
  docs/reference/troubleshooting/index.md
  docs/reference/troubleshooting/reproducible-examples.md
  mkdocs.template.yml
Due: none

Properly format publish error
  scripts/publish/test_publish.py
Due: none

Reject `--editable` flag on non-directory requirements (#10994)
  crates/uv-workspace/src/pyproject.rs
  crates/uv/tests/it/edit.rs
Due: cargo-fmt

Properly format test publish error (#11001)
  scripts/publish/test_publish.py
Due: none

Respect `--no-sources` for `uv pip install` workspace discovery
  crates/uv-distribution/src/metadata/build_requires.rs
  crates/uv-distribution/src/metadata/requires_dist.rs
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Remove unnecessary distribution clone
  crates/uv-distribution/src/distribution_database.rs
Due: cargo-fmt

Remove unnecessary distribution clone (#11004)
  crates/uv-distribution/src/distribution_database.rs
Due: cargo-fmt

Respect `--no-sources` for `uv pip install` workspace discovery (#11003)
  crates/uv-distribution/src/metadata/build_requires.rs
  crates/uv-distribution/src/metadata/requires_dist.rs
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

fix async windows file persist retries
  crates/uv-fs/src/lib.rs
Due: cargo-fmt

fix async windows file persist retries (#11008)
  crates/uv-fs/src/lib.rs
Due: cargo-fmt

fix errors when specifying `workspace` with other options
  crates/uv-workspace/src/pyproject.rs
Due: cargo-fmt

Make --backend a flag
  crates/uv-cli/src/lib.rs
  crates/uv/tests/it/init.rs
Due: cargo-fmt, cargo-dev-generate-all

Include Rust toolchain in cache in trampoline test job
  .github/workflows/ci.yml
Due: none

Fix incorrect error message when specifying `tool.uv.sources.(package).workspace` with other options (#11013)
  crates/uv-workspace/src/pyproject.rs
Due: cargo-fmt

Include Rust toolchain in cache in trampoline test job (#11019)
  .github/workflows/ci.yml
Due: none

tests: update snapshots
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/pip_compile.rs
Due: cargo-fmt

Amend `requires-python` rules in resolver documentation (#10993)
  docs/concepts/resolution.md
Due: none

Add `Requires-Python` upper bound behavior to the docs (#10964)
  docs/concepts/resolution.md
  docs/pip/compatibility.md
Due: none

tests: update snapshots (#11023)
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/pip_compile.rs
Due: cargo-fmt

Set `JEMALLOC_SYS_WITH_LG_PAGE=16` in arm Docker builds (#10943)
  Dockerfile
Due: none

tests: update snapshots again
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/pip_compile.rs
Due: cargo-fmt

tests: update snapshots again (#11026)
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/pip_compile.rs
Due: cargo-fmt

Update torch snaps again
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Add upper bounds to `lock_pytorch_cpu` torch versions
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Add upper bounds to `lock_pytorch_cpu` torch versions (#11033)
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Add upper bound constraints to test cases that use pytorch index
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/pip_compile.rs
Due: cargo-fmt

Add test coverage for #10978
  crates/uv/tests/it/pip_compile.rs
Due: cargo-fmt

Add test coverage for #10978 (#11029)
  crates/uv/tests/it/pip_compile.rs
Due: cargo-fmt

Fix best-interpreter lookups when there is an invalid interpreter in the PATH
  crates/uv-python/src/discovery.rs
  crates/uv/tests/it/pip_compile.rs
Due: cargo-fmt

Improve SIGINT handling in `uv run`
  crates/uv/src/commands/run.rs
Due: cargo-fmt

Refactor a litte
  crates/uv/src/commands/run.rs
Due: cargo-fmt

Add upper bound constraints to (more) test cases that use pytorch index (#11034)
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/pip_compile.rs
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/(snapshots)/.*|
)$

  cargo-dev-generate-all: any of: ^crates/(uv-cli|uv-settings)/ and \.rs$ and not ((?x)^(
  .*/(snapshots)/.*|
)$
)
