Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

.pre-commit-config.yaml:

fail_fast: true

exclude: |
  (?x)^(
    .*/(snapshots)/.*|
  )$

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.42.3
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: local
    hooks:
      - id: cargo-dev-generate-all
        name: cargo dev generate-all
        entry: cargo dev generate-all
        language: system
        types: [rust]
        pass_filenames: false
        files: ^crates/(uv-cli|uv-settings)/

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --ignore-unknown
        language: node
        additional_dependencies: ["prettier@3"]
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

Parse wheel filenames with variant labels
  crates/uv-distribution-filename/src/expanded_tags.rs
  crates/uv-distribution-filename/src/lib.rs
  crates/uv-distribution-filename/src/variant_label.rs
  crates/uv-distribution-filename/src/wheel.rs
  crates/uv-distribution-filename/src/wheel_tag.rs
  crates/uv-distribution-types/src/lib.rs
  crates/uv-distribution-types/src/prioritized_distribution.rs
  crates/uv-distribution-types/src/resolved.rs
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-distribution/src/error.rs
  crates/uv-installer/src/plan.rs
  crates/uv-lock/src/lock/mod.rs
  crates/uv-platform-tags/src/tags.rs
  crates/uv-resolver/src/flat_index.rs
  crates/uv-resolver/src/pubgrub/report.rs
  crates/uv-resolver/src/version_map.rs
  crates/uv/src/commands/pip/latest.rs
  crates/uv/tests/pip_install/main.rs
  crates/uv/tests/pip_install/wheel_variants.rs
Due: cargo-fmt

Export selectable extras and groups in pylock.toml
  crates/uv-cli/src/lib.rs
  crates/uv-lock/src/lock/export/mod.rs
  crates/uv-lock/src/lock/export/pylock_toml.rs
  crates/uv-lock/tests/pylock_extras.rs
  crates/uv-pep508/src/marker/tree.rs
  crates/uv-preview/src/lib.rs
  crates/uv/src/commands/project/export.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/project/export.rs
  docs/concepts/projects/export.md
Due: cargo-fmt, cargo-dev-generate-all

Stabilize multi-use pylock exports
  crates/uv-cli/src/lib.rs
  crates/uv-preview/src/lib.rs
  crates/uv/src/commands/project/export.rs
  crates/uv/tests/project/export.rs
  docs/concepts/projects/export.md
Due: cargo-fmt, cargo-dev-generate-all

Update astral_async_zip, astral_async_http_range_reader
  Cargo.lock
  Cargo.toml
Due: none

Include selected default groups in multi-use pylock exports
  crates/uv-cli/src/lib.rs
  crates/uv-lock/src/lock/export/mod.rs
  crates/uv-lock/src/lock/export/pylock_toml.rs
  crates/uv-lock/tests/pylock_extras.rs
  crates/uv/src/commands/project/export.rs
  crates/uv/tests/project/export.rs
  docs/concepts/projects/export.md
Due: cargo-fmt, cargo-dev-generate-all

Review
  STYLE.md
  crates/uv-client/src/error.rs
  crates/uv-client/src/httpcache/mod.rs
  crates/uv-client/src/middleware.rs
  crates/uv-client/src/registry_client.rs
  crates/uv-dispatch/src/lib.rs
  crates/uv-errors/src/lib.rs
  crates/uv/tests/pip_compile/pip_compile.rs
  crates/uv/tests/python/python_install.rs
Due: cargo-fmt

Hash pin reusable PR security-review workflow for STS
  .github/secure-token-service.json
Due: none

Hash pin reusable PR security-review workflow for STS (#22120)
  .github/secure-token-service.json
Due: none

Account for Windows-only retry API in Hawk
  hawk.toml
Due: none

Test script rename errors with real filesystems
  crates/uv-fs/src/lib.rs
  crates/uv-install-wheel/src/wheel.rs
Due: cargo-fmt

Restrict Windows script-copy fallback to `CrossesDevices`
  crates/uv-fs/src/lib.rs
  crates/uv-install-wheel/src/wheel.rs
  hawk.toml
Due: cargo-fmt

Clarify the cross-device copy branch
  crates/uv-install-wheel/src/wheel.rs
Due: cargo-fmt

refactor: extract PR security review payload and helpers
  .github/renovate.json5
  .github/workflows/pull-request-security-review.yml
  agents/security-pr-review/prompt.md
  agents/security-pr-review/schema.json
  agents/security-pr-review/scripts/agent-review-to-github-comments.py
  agents/security-pr-review/scripts/agent-review-to-github-comments.py.lock
  agents/security-pr-review/scripts/check-coverage.sh
  agents/security-pr-review/scripts/collect-context.sh
  agents/security-pr-review/scripts/install-codex-security.sh
  agents/security-pr-review/scripts/prepare.sh
  agents/security-pr-review/scripts/setup.sh
Due: none

feat: make PR security review reusable across Astral repositories
  .github/renovate.json5
  .github/workflows/ci.yml
  .github/workflows/pull-request-security-review.yml
Due: none

chore: generalize PR security review setup
  .github/workflows/pull-request-security-review.yml
  agents/codex/config.toml
  agents/prompts/pull-request-security-review.md
  agents/security-pr-review/config.toml
Due: none

Use shared PR security review workflow
  .github/renovate.json5
  .github/secure-token-service.json
  .github/workflows/ci.yml
  .github/workflows/pull-request-security-review.yml
  agents/security-pr-review/config.toml
  agents/security-pr-review/prompt.md
  agents/security-pr-review/schema.json
  agents/security-pr-review/scripts/agent-review-to-github-comments.py
  agents/security-pr-review/scripts/agent-review-to-github-comments.py.lock
  agents/security-pr-review/scripts/check-coverage.sh
  agents/security-pr-review/scripts/collect-context.sh
  agents/security-pr-review/scripts/install-codex-security.sh
  agents/security-pr-review/scripts/prepare.sh
  agents/security-pr-review/scripts/setup.sh
Due: none

Use shared reusable PR security-review workflow (#21778)
  .github/renovate.json5
  .github/secure-token-service.json
  .github/workflows/ci.yml
  .github/workflows/pull-request-security-review.yml
  agents/codex/config.toml
  agents/prompts/pull-request-security-review.md
  agents/schemas/pull-request-security-review.json
  agents/scripts/agent-review-to-github-comments.py
  agents/scripts/agent-review-to-github-comments.py.lock
  agents/scripts/install-codex-security.sh
Due: none

Apply suggestion from @zanieb
  CHANGELOG.md
Due: none

Update astral_async_zip, astral_async_http_range_reader (#22119)
  Cargo.lock
  Cargo.toml
Due: none

Hide the `--offline` flag for uv audit (#22114)
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/project/audit.rs
  crates/uv/src/commands/tool/audit.rs
  crates/uv/src/settings.rs
  crates/uv/tests/build/audit.rs
  crates/uv/tests/tool/tool_audit.rs
Due: cargo-fmt, cargo-dev-generate-all

Hide the `--offline` flag in `uv publish`
  crates/uv-cli/src/lib.rs
Due: cargo-fmt, cargo-dev-generate-all

Make Windows architecture ordering explicit
  crates/uv-platform/src/arch.rs
  crates/uv-platform/src/lib.rs
Due: cargo-fmt

Clarify architecture ordering comments
  crates/uv-platform/src/arch.rs
Due: cargo-fmt

Document architecture preference ranks
  crates/uv-platform/src/arch.rs
Due: cargo-fmt

Defer cache format changes to 0.13
  Cargo.lock
  Cargo.toml
  crates/uv-cache/src/lib.rs
  crates/uv-client/Cargo.toml
  crates/uv-client/src/cached_client.rs
  crates/uv-client/src/httpcache/control.rs
  crates/uv-client/src/httpcache/mod.rs
  crates/uv-client/src/registry_client.rs
  crates/uv-client/tests/it/cached_client.rs
  crates/uv-distribution/Cargo.toml
  crates/uv-distribution/src/archive.rs
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-distribution/src/source/mod.rs
  crates/uv-distribution/src/source/revision.rs
  crates/uv-pypi-types/src/simple_json.rs
  crates/uv/tests/build/build.rs
  crates/uv/tests/build/cache_clean.rs
  crates/uv/tests/build/cache_prune.rs
  crates/uv/tests/lock/lock.rs
  crates/uv/tests/pip_install/pip_install.rs
  docs/concepts/cache.md
Due: cargo-fmt

Clarify Windows ARM wheel compatibility tests
  crates/uv-lock/src/lock/mod.rs
  crates/uv-lock/src/lock/windows_emulation_tests.rs
Due: cargo-fmt

Defer cache format changes to 0.13 (#22128)
  Cargo.lock
  Cargo.toml
  crates/uv-cache/src/lib.rs
  crates/uv-client/Cargo.toml
  crates/uv-client/src/cached_client.rs
  crates/uv-client/src/httpcache/control.rs
  crates/uv-client/src/httpcache/mod.rs
  crates/uv-client/src/registry_client.rs
  crates/uv-client/tests/it/cached_client.rs
  crates/uv-distribution/Cargo.toml
  crates/uv-distribution/src/archive.rs
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-distribution/src/source/mod.rs
  crates/uv-distribution/src/source/revision.rs
  crates/uv-pypi-types/src/simple_json.rs
  crates/uv/tests/build/build.rs
  crates/uv/tests/build/cache_clean.rs
  crates/uv/tests/build/cache_prune.rs
  crates/uv/tests/lock/lock.rs
  crates/uv/tests/pip_install/pip_install.rs
  docs/concepts/cache.md
Due: cargo-fmt

Stabilize `no-distutils-patch` (#22096)
  CHANGELOG.md
  Cargo.lock
  crates/uv-dev/src/generate_preview_features_reference.rs
  crates/uv-preview/src/lib.rs
  crates/uv-virtualenv/Cargo.toml
  crates/uv-virtualenv/src/virtualenv.rs
  crates/uv/tests/pip/pip_sync.rs
  crates/uv/tests/pip_install/pip_install.rs
  crates/uv/tests/python/venv.rs
  crates/uv/tests/sync/show_settings.rs
  uv.schema.json
Due: cargo-fmt

Prefer native Python on Windows ARM64 (#22100)
  CHANGELOG.md
  crates/uv-platform/src/arch.rs
  crates/uv-platform/src/lib.rs
  crates/uv-python/src/downloads.rs
  crates/uv/src/commands/python/install.rs
Due: cargo-fmt

Archive the 0.12.x changelog (#22095)
  CHANGELOG.md
  changelogs/0.12.x.md
Due: none

Use tar-codec by default (#22094)
  CHANGELOG.md
  Cargo.lock
  crates/uv-bench/Cargo.toml
  crates/uv-bench/benches/uv.rs
  crates/uv-bin-install/src/lib.rs
  crates/uv-build-backend/Cargo.toml
  crates/uv-build-backend/src/lib.rs
  crates/uv-build-backend/src/source_dist.rs
  crates/uv-build/src/main.rs
  crates/uv-dev/src/generate_preview_features_reference.rs
  crates/uv-dispatch/Cargo.toml
  crates/uv-dispatch/src/lib.rs
  crates/uv-distribution/Cargo.toml
  crates/uv-distribution/src/source/mod.rs
  crates/uv-distribution/src/source/validated_archive.rs
  crates/uv-extract/Cargo.toml
  crates/uv-extract/src/stream.rs
  crates/uv-preview/src/lib.rs
  crates/uv-publish/Cargo.toml
  crates/uv-publish/src/lib.rs
  crates/uv-python/src/downloads.rs
  crates/uv-static/src/env_vars.rs
  crates/uv-static/src/lib.rs
  crates/uv-types/Cargo.toml
  crates/uv-types/src/traits.rs
  crates/uv/src/commands/build_backend.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/commands/publish.rs
  crates/uv/tests/build/build.rs
  crates/uv/tests/build/build_backend.rs
  crates/uv/tests/lock/lock.rs
  crates/uv/tests/python/python_install.rs
  crates/uv/tests/sync/show_settings.rs
  uv.schema.json
Due: cargo-fmt

Add the 0.13.0 changelog section (#22093)
  CHANGELOG.md
Due: none

Refresh HTTP cache policies in place (#22052)
  Cargo.lock
  Cargo.toml
  crates/uv-cache/src/lib.rs
  crates/uv-client/Cargo.toml
  crates/uv-client/src/cached_client.rs
  crates/uv-client/tests/it/cached_client.rs
  crates/uv-distribution/src/source/revision.rs
  crates/uv/tests/build/build.rs
  crates/uv/tests/build/cache_clean.rs
  crates/uv/tests/build/cache_prune.rs
  crates/uv/tests/lock/lock.rs
  crates/uv/tests/pip_install/pip_install.rs
  docs/concepts/cache.md
Due: cargo-fmt

Store source distribution revision IDs inline (#22059)
  crates/uv-distribution/Cargo.toml
  crates/uv-distribution/src/source/revision.rs
Due: cargo-fmt

Remove the legacy hash digest cache representation (#22060)
  crates/uv-cache/src/lib.rs
  crates/uv-pypi-types/src/simple_json.rs
Due: cargo-fmt
