Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-dev-generate-all:
  name: cargo dev generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

generate more docs
  docs/reference/settings.md
Due: none

Allow setting proxy variables via configuration
  crates/uv-client/src/base_client.rs
  crates/uv-client/tests/it/main.rs
  crates/uv-client/tests/it/proxy.rs
  crates/uv-settings/src/lib.rs
  crates/uv-settings/src/settings.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
Due: cargo-fmt, cargo-dev-generate-all

fix clippy + test failures
  crates/uv-client/tests/it/proxy.rs
  crates/uv/tests/it/show_settings.rs
  uv.schema.json
Due: cargo-fmt

Ignore pyproject index username in lockfile comparison
  crates/uv-resolver/src/preferences.rs
Due: cargo-fmt

workspace metadata: enable preview warning
  crates/uv/src/commands/workspace/metadata.rs
  crates/uv/tests/it/workspace_metadata.rs
Due: cargo-fmt

workspace metadata: enable preview warning (#16988)
  crates/uv/src/commands/workspace/metadata.rs
  crates/uv/tests/it/workspace_metadata.rs
Due: cargo-fmt

Add helpful error message for 'uv activate'
  crates/uv/src/lib.rs
Due: cargo-fmt

Update error message
  crates/uv/tests/it/build_backend.rs
Due: cargo-fmt

Error when built wheel is for the wrong platform (#16074)
  crates/uv-bench/benches/uv.rs
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-distribution/src/error.rs
  crates/uv-distribution/src/source/mod.rs
  crates/uv-platform-tags/src/tags.rs
  crates/uv-python/src/interpreter.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/pip/mod.rs
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/pip_compile.rs
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Update the versioning policy to retain the minor breaking scheme indefinitely (#16710)
  docs/reference/policies/versioning.md
Due: none

Tweak language for build backend validation errors (#16720)
  crates/uv-build-backend/src/lib.rs
  crates/uv-build-backend/src/metadata.rs
  crates/uv-build-backend/src/source_dist.rs
  crates/uv-build-backend/src/wheel.rs
  crates/uv/tests/it/build_backend.rs
Due: cargo-fmt

Help rustfmt a little
  crates/uv-auth/src/middleware.rs
Due: cargo-fmt

Help rustfmt a little (#17004)
  crates/uv-auth/src/middleware.rs
Due: cargo-fmt

Sync latest Python releases
  crates/uv-dev/src/generate_sysconfig_mappings.rs
  crates/uv-python/download-metadata.json
  crates/uv-python/src/sysconfig/generated_mappings.rs
Due: cargo-fmt

Add `--isolated-lock` flag to `uv sync`
  crates/uv-cli/src/lib.rs
  crates/uv-static/src/env_vars.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/sync.rs
  docs/reference/cli.md
  docs/reference/environment.md
Due: cargo-fmt, cargo-dev-generate-all

Update snapts
  crates/uv/tests/it/python_install.rs
  crates/uv/tests/it/python_upgrade.rs
Due: cargo-fmt

update Python 3.14 patch version in install_missing_python_with_target
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Add GitHub Actions workflow for Rust project
  .github/workflows/rust.yml
Due: none

Bump `astral-tl` to v0.7.11
  Cargo.lock
  Cargo.toml
Due: none

Error if multiple indexes include default = true
  crates/uv-workspace/src/pyproject.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Bump `astral-tl` to v0.7.11 (#17010)
  Cargo.lock
  Cargo.toml
Due: none

Add entry
  CHANGELOG.md
Due: none

Respect dropped (but explicit) indexes in dependency groups
  crates/uv-resolver/src/lock/mod.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Respect dropped (but explicit) indexes in dependency groups (#17012)
  crates/uv-resolver/src/lock/mod.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Speed up cache size command
  Cargo.lock
  Cargo.toml
  crates/uv-cli/src/lib.rs
  crates/uv/Cargo.toml
  crates/uv/src/commands/cache_size.rs
  crates/uv/src/lib.rs
  crates/uv/tests/it/cache_size.rs
Due: cargo-fmt, cargo-dev-generate-all

Update cli reference
  docs/reference/cli.md
Due: none

Increase the size of binary build runners
  .github/workflows/build-binaries.yml
Due: none

Vendor code from diskus
  Cargo.lock
  Cargo.toml
  crates/uv/Cargo.toml
  crates/uv/src/commands/cache_size.rs
Due: cargo-fmt

Sort uv crate Cargo.toml
  crates/uv/Cargo.toml
Due: none

Update test comment
  crates/uv/tests/it/cache_size.rs
Due: cargo-fmt

Add shell detection and venv discovery to 'uv activate' error message
  crates/uv/src/lib.rs
Due: cargo-fmt

Use diskus again
  Cargo.lock
  Cargo.toml
  crates/uv/Cargo.toml
  crates/uv/src/commands/cache_size.rs
Due: cargo-fmt

Remove crossbeamchannel dep
  Cargo.toml
Due: none

expand tilde in cache_dir
  Cargo.lock
  Cargo.toml
  crates/uv-cache/Cargo.toml
  crates/uv-cache/src/cli.rs
Due: cargo-fmt

chore: mark location for verbose flag hint implementation
  crates/uv/src/commands/tool/run.rs
Due: cargo-fmt

updates post clippy
  crates/uv-cache/src/cli.rs
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/(snapshots)/.*|
)$

  cargo-dev-generate-all: any of: ^crates/(uv-cli|uv-settings)/ and \.rs$ and not ((?x)^(
  .*/(snapshots)/.*|
)$
)
