Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

.pre-commit-config.yaml:

fail_fast: true

exclude: |
  (?x)^(
    .*/(snapshots)/.*|
  )$

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.20.2
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.26.0
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: local
    hooks:
      - id: cargo-dev-generate-all
        name: cargo dev generate-all
        entry: cargo dev generate-all
        language: system
        types: [rust]
        pass_filenames: false
        files: ^crates/(uv-cli|uv-settings)/

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

replace manual venv removal with remove_virtualenv (#15007)
  Cargo.lock
  crates/uv-tool/Cargo.toml
  crates/uv-tool/src/lib.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/tool/uninstall.rs
Due: cargo-fmt

Ignore GraalPy devtag (#15013)
  .github/workflows/ci.yml
  crates/uv-python/python/get_interpreter_info.py
Due: none

Update comment
  python/uv/_find_uv.py
Due: none

chore(ci): fix linting findings in ci.yml
  .github/workflows/ci.yml
Due: none

Fix regression where `--require-hashes` applied to build dependencies in `uv pip install`
  crates/uv/src/commands/pip/install.rs
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Fix regression where `--require-hashes` applied to build dependencies in `uv pip install` (#15153)
  crates/uv/src/commands/pip/install.rs
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Do not update `uv.lock` when using `--isolated`
  crates/uv/src/commands/project/run.rs
  crates/uv/tests/it/run.rs
Due: cargo-fmt

chore(ci): fix linting findings in ci.yml (#15152)
  .github/workflows/ci.yml
Due: none

Add support for `--prefix` and `--with` installations in `find_uv_bin` (#14184)
  crates/uv/tests/it/python_module.rs
  python/uv/_find_uv.py
Due: cargo-fmt

Search in the user scheme scripts directory last in `find_uv_bin`
  python/uv/_find_uv.py
Due: none

feat: upgrade dependencies in pyproject.toml
  Cargo.lock
  crates/uv-cli/src/lib.rs
  crates/uv-distribution-types/src/index_url.rs
  crates/uv-fs/src/lib.rs
  crates/uv-pep440/src/version.rs
  crates/uv-pep440/src/version_specifier.rs
  crates/uv-pep508/src/lib.rs
  crates/uv-workspace/src/pyproject_mut.rs
  crates/uv/Cargo.toml
  crates/uv/src/commands/mod.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/remove.rs
  crates/uv/src/commands/project/update.rs
  crates/uv/src/lib.rs
Due: cargo-fmt, cargo-dev-generate-all

use requires-python of tool.uv.dependency-groups
  crates/uv-distribution-types/src/requires_python.rs
  crates/uv-pep440/src/version.rs
  crates/uv-pep440/src/version_specifier.rs
  crates/uv-workspace/src/pyproject_mut.rs
  crates/uv/src/commands/project/update.rs
Due: cargo-fmt

UV_UPGRADE_ALLOW or --allow=1,2,3,4 filters version digits
  crates/uv-cli/src/lib.rs
  crates/uv-pep440/src/lib.rs
  crates/uv-pep440/src/version.rs
  crates/uv-pep440/src/version_specifier.rs
  crates/uv-static/src/env_vars.rs
  crates/uv-workspace/src/pyproject_mut.rs
  crates/uv/src/commands/project/update.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

feature: --types=prod,dev,extra,group
  crates/uv-cli/src/lib.rs
  crates/uv-static/src/env_vars.rs
  crates/uv-workspace/src/pyproject.rs
  crates/uv-workspace/src/pyproject_mut.rs
  crates/uv/src/commands/project/update.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

support refresh args (default: cache for 10 minutes)
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/project/update.rs
  crates/uv/src/lib.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

--packages-only
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/project/update.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

group fetches by requires-python
  crates/uv-workspace/src/pyproject_mut.rs
  crates/uv/src/commands/project/update.rs
Due: cargo-fmt

fix tests
  crates/uv/tests/it/help.rs
  docs/reference/cli.md
Due: cargo-fmt

fetch latest versions in parallel
  crates/uv-workspace/src/pyproject_mut.rs
  crates/uv/src/commands/project/update.rs
Due: cargo-fmt

feature: UV_UPGRADE_RECURSIVE=true or --recursive
  crates/uv-cli/src/lib.rs
  crates/uv-static/src/env_vars.rs
  crates/uv/src/commands/project/update.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Show changed semver digit (1=major, 2=minor, 3=patch, 4=build number)
  crates/uv-pep440/src/version.rs
  crates/uv-pep440/src/version_specifier.rs
  crates/uv-workspace/src/pyproject_mut.rs
  crates/uv/src/commands/project/update.rs
Due: cargo-fmt

fix tilde equal
  crates/uv-pep440/src/version.rs
  crates/uv-pep440/src/version_specifier.rs
Due: cargo-fmt

Warn when two packages write to the same module
  crates/uv-install-wheel/src/install.rs
  crates/uv-install-wheel/src/linker.rs
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Use source trees directly
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Warn when two packages write to the same module (#13437)
  crates/uv-install-wheel/src/install.rs
  crates/uv-install-wheel/src/linker.rs
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

..
  crates/uv-auth/src/keyring.rs
Due: cargo-fmt

Use vendored keyring
  Cargo.lock
  Cargo.toml
  crates/uv-auth/Cargo.toml
  crates/uv-auth/src/keyring.rs
  crates/uv-auth/src/middleware.rs
Due: cargo-fmt

Add documentation
  docs/concepts/authentication.md
Due: none

Add keyring integration test
  crates/uv-auth/Cargo.toml
  crates/uv/Cargo.toml
  crates/uv/tests/it/edit.rs
Due: cargo-fmt

Add R2 feature for malo tests
  crates/uv/Cargo.toml
  crates/uv/tests/it/extract.rs
Due: cargo-fmt

Fix settings rendering for extra-build-dependencies
  crates/uv-settings/src/settings.rs
  crates/uv-workspace/src/pyproject.rs
  crates/uv-workspace/src/workspace.rs
  crates/uv/tests/it/sync.rs
  docs/reference/settings.md
  uv.schema.json
Due: cargo-fmt, cargo-dev-generate-all

Add R2 feature for malo tests (#15160)
  crates/uv/Cargo.toml
  crates/uv/tests/it/extract.rs
Due: cargo-fmt

Add test
  crates/uv/tests/it/python_module.rs
Due: cargo-fmt

Search in the user scheme scripts directory last in `find_uv_bin` (#14191)
  crates/uv/tests/it/python_module.rs
  python/uv/_find_uv.py
Due: cargo-fmt

tmp: aarch64 trampolines
  crates/uv-trampoline/trampolines/uv-trampoline-aarch64-console.exe
  crates/uv-trampoline/trampolines/uv-trampoline-aarch64-gui.exe
Due: none

Add support for `package`-level conflicts in workspaces (#14906)
  crates/uv-configuration/src/preview.rs
  crates/uv-pypi-types/src/conflicts.rs
  crates/uv-resolver/src/graph_ops.rs
  crates/uv-resolver/src/lock/installable.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-resolver/src/pubgrub/dependencies.rs
  crates/uv-resolver/src/pubgrub/package.rs
  crates/uv-resolver/src/resolver/environment.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-resolver/src/resolver/system.rs
  crates/uv-resolver/src/universal_marker.rs
  crates/uv/src/commands/project/export.rs
  crates/uv/src/commands/project/install_target.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/lock_conflict.rs
  crates/uv/tests/it/show_settings.rs
  docs/concepts/preview.md
Due: cargo-fmt

Update Rust toolchain to 1.89
  clippy.toml
  crates/uv-client/src/base_client.rs
  crates/uv-client/src/registry_client.rs
  crates/uv-configuration/src/dependency_groups.rs
  crates/uv-configuration/src/extras.rs
  crates/uv-distribution-types/src/any.rs
  crates/uv-distribution-types/src/cached.rs
  crates/uv-distribution-types/src/dist_error.rs
  crates/uv-distribution-types/src/installed.rs
  crates/uv-distribution-types/src/lib.rs
  crates/uv-distribution-types/src/prioritized_distribution.rs
  crates/uv-distribution-types/src/requested.rs
  crates/uv-distribution-types/src/resolved.rs
  crates/uv-distribution-types/src/traits.rs
  crates/uv-distribution/src/index/registry_wheel_index.rs
  crates/uv-fs/src/path.rs
  crates/uv-git/src/resolver.rs
  crates/uv-pep440/src/version.rs
  crates/uv-pep440/src/version_specifier.rs
  crates/uv-pep508/src/marker/tree.rs
  crates/uv-pep508/src/verbatim_url.rs
  crates/uv-pypi-types/src/supported_environments.rs
  crates/uv-python/src/environment.rs
  crates/uv-python/src/interpreter.rs
  crates/uv-python/src/sysconfig/parser.rs
  crates/uv-resolver/src/candidate_selector.rs
  crates/uv-resolver/src/lock/export/pylock_toml.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-resolver/src/pubgrub/distribution.rs
  crates/uv-resolver/src/resolution/mod.rs
  crates/uv-resolver/src/resolution/requirements_txt.rs
  crates/uv-resolver/src/version_map.rs
  crates/uv-types/src/hash.rs
  crates/uv-workspace/src/dependency_groups.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/self_update.rs
  rust-toolchain.toml
Due: cargo-fmt

Update Rust toolchain to 1.89 (#15157)
  clippy.toml
  crates/uv-client/src/base_client.rs
  crates/uv-client/src/registry_client.rs
  crates/uv-configuration/src/dependency_groups.rs
  crates/uv-configuration/src/extras.rs
  crates/uv-distribution-types/src/any.rs
  crates/uv-distribution-types/src/cached.rs
  crates/uv-distribution-types/src/dist_error.rs
  crates/uv-distribution-types/src/installed.rs
  crates/uv-distribution-types/src/lib.rs
  crates/uv-distribution-types/src/prioritized_distribution.rs
  crates/uv-distribution-types/src/requested.rs
  crates/uv-distribution-types/src/resolved.rs
  crates/uv-distribution-types/src/traits.rs
  crates/uv-distribution/src/index/registry_wheel_index.rs
  crates/uv-fs/src/path.rs
  crates/uv-git/src/resolver.rs
  crates/uv-pep440/src/version.rs
  crates/uv-pep440/src/version_specifier.rs
  crates/uv-pep508/src/marker/tree.rs
  crates/uv-pep508/src/verbatim_url.rs
  crates/uv-pypi-types/src/supported_environments.rs
  crates/uv-python/src/environment.rs
  crates/uv-python/src/interpreter.rs
  crates/uv-python/src/sysconfig/parser.rs
  crates/uv-resolver/src/candidate_selector.rs
  crates/uv-resolver/src/lock/export/pylock_toml.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-resolver/src/pubgrub/distribution.rs
  crates/uv-resolver/src/resolution/mod.rs
  crates/uv-resolver/src/resolution/requirements_txt.rs
  crates/uv-resolver/src/version_map.rs
  crates/uv-types/src/hash.rs
  crates/uv-workspace/src/dependency_groups.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/self_update.rs
  rust-toolchain.toml
Due: cargo-fmt

Use `\n` instead of linesep in not found error message
  python/uv/_find_uv.py
Due: none

Use `\n` instead of linesep in not found error message (#15166)
  python/uv/_find_uv.py
Due: none
