Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-dev-generate-all:
  name: cargo dev generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

Do not show empty version specifier in `uv tool list`
  crates/uv/src/commands/tool/list.rs
  crates/uv/tests/it/tool_list.rs
Due: cargo-fmt

Do not show empty version specifier in `uv tool list` (#9605)
  crates/uv/src/commands/tool/list.rs
  crates/uv/tests/it/tool_list.rs
Due: cargo-fmt

Avoid cloning STring in marker evaluation
  Cargo.lock
  Cargo.toml
  crates/uv-pep508/src/marker/tree.rs
Due: cargo-fmt

Avoid cloning `String` in marker evaluation (#9598)
  Cargo.lock
  Cargo.toml
  crates/uv-pep508/src/marker/tree.rs
Due: cargo-fmt

Fix Python executable installation when multiple patch versions are requested
  crates/uv/src/commands/python/install.rs
  crates/uv/tests/it/python_install.rs
Due: cargo-fmt

Feedback
  docs/reference/build_failures.md
Due: none

Update build failures document (#9584)
  docs/reference/build_failures.md
  mkdocs.template.yml
Due: none

Fix Python executable installation when multiple patch versions are requested (#9607)
  crates/uv/src/commands/python/install.rs
  crates/uv/tests/it/python_install.rs
Due: cargo-fmt

Build backend: Add `--list` option
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/commands/python/install.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/build.rs
  crates/uv/tests/it/python_install.rs
Due: cargo-fmt, cargo-dev-generate-all

Add policies reference section and license document (#9367)
  docs/concepts/resolution.md
  docs/reference/index.md
  docs/reference/policies/index.md
  docs/reference/policies/license.md
  docs/reference/policies/platforms.md
  docs/reference/policies/versioning.md
  mkdocs.template.yml
Due: none

Add missing filters
  crates/uv/tests/it/build.rs
Due: cargo-fmt

Bump version to 0.5.6
  CHANGELOG.md
  Cargo.lock
  README.md
  crates/uv-version/Cargo.toml
  crates/uv/Cargo.toml
  docs/getting-started/installation.md
  docs/guides/integration/docker.md
  docs/guides/integration/github.md
  docs/guides/integration/pre-commit.md
  pyproject.toml
Due: none

Add `Cargo.toml` to triggers for binary test builds
  .github/workflows/build-binaries.yml
Due: none

Talk about PEP 517 in list
  crates/uv-cli/src/lib.rs
Due: cargo-fmt, cargo-dev-generate-all

Use `1.83.0-nightly` toolchain for ppc64le builds
  .github/workflows/build-binaries.yml
Due: none

Revert "Upgrade to Rust 1.83 (#9511)"
  Cargo.toml
  crates/uv-cache/src/wheel.rs
  crates/uv-client/src/httpcache/mod.rs
  crates/uv-client/src/remote_metadata.rs
  crates/uv-configuration/src/name_specifiers.rs
  crates/uv-distribution-types/src/buildable.rs
  crates/uv-distribution-types/src/hash.rs
  crates/uv-distribution-types/src/lib.rs
  crates/uv-distribution/src/metadata/lowering.rs
  crates/uv-distribution/src/source/mod.rs
  crates/uv-extract/src/hash.rs
  crates/uv-install-wheel/src/linker.rs
  crates/uv-options-metadata/src/lib.rs
  crates/uv-pep440/src/version.rs
  crates/uv-pep508/src/marker/tree.rs
  crates/uv-pypi-types/src/conflicts.rs
  crates/uv-pypi-types/src/metadata/metadata23.rs
  crates/uv-python/src/discovery.rs
  crates/uv-python/src/installation.rs
  crates/uv-resolver/src/candidate_selector.rs
  crates/uv-resolver/src/error.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-resolver/src/pubgrub/dependencies.rs
  crates/uv-scripts/src/lib.rs
  crates/uv-settings/src/lib.rs
  crates/uv-types/src/builds.rs
  crates/uv-workspace/src/pyproject_mut.rs
  crates/uv-workspace/src/workspace.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/commands/tool/uninstall.rs
  rust-toolchain.toml
Due: cargo-fmt, cargo-dev-generate-all

Revert "Upgrade to Rust 1.83 (#9511)" (#9617)
  Cargo.toml
  crates/uv-cache/src/wheel.rs
  crates/uv-client/src/httpcache/mod.rs
  crates/uv-client/src/remote_metadata.rs
  crates/uv-configuration/src/name_specifiers.rs
  crates/uv-distribution-types/src/buildable.rs
  crates/uv-distribution-types/src/hash.rs
  crates/uv-distribution-types/src/lib.rs
  crates/uv-distribution/src/metadata/lowering.rs
  crates/uv-distribution/src/source/mod.rs
  crates/uv-extract/src/hash.rs
  crates/uv-install-wheel/src/linker.rs
  crates/uv-options-metadata/src/lib.rs
  crates/uv-pep440/src/version.rs
  crates/uv-pep508/src/marker/tree.rs
  crates/uv-pypi-types/src/conflicts.rs
  crates/uv-pypi-types/src/metadata/metadata23.rs
  crates/uv-python/src/discovery.rs
  crates/uv-python/src/installation.rs
  crates/uv-resolver/src/candidate_selector.rs
  crates/uv-resolver/src/error.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-resolver/src/pubgrub/dependencies.rs
  crates/uv-scripts/src/lib.rs
  crates/uv-settings/src/lib.rs
  crates/uv-types/src/builds.rs
  crates/uv-workspace/src/pyproject_mut.rs
  crates/uv-workspace/src/workspace.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/commands/tool/uninstall.rs
  rust-toolchain.toml
Due: cargo-fmt, cargo-dev-generate-all

Fix windows CI
  crates/uv/tests/it/build.rs
Due: cargo-fmt

Bump version to 0.5.6 (#9612)
  CHANGELOG.md
  Cargo.lock
  README.md
  crates/uv-version/Cargo.toml
  crates/uv/Cargo.toml
  docs/getting-started/installation.md
  docs/guides/integration/docker.md
  docs/guides/integration/github.md
  docs/guides/integration/pre-commit.md
  pyproject.toml
Due: none

Add `Cargo.toml` to triggers for binary test builds (#9616)
  .github/workflows/build-binaries.yml
Due: none

Debug freebsd build
  .github/workflows/ci.yml
Due: none

Disable freebsd test until we resolve the upstream problem
  .github/workflows/ci.yml
Due: none

Disable freebsd test until we resolve the upstream problem (#9620)
  .github/workflows/ci.yml
Due: none

Implement Ord and PartialOrd without origin for Requirement
  crates/uv-pypi-types/src/requirement.rs
Due: cargo-fmt

Implement `Ord` and `PartialOrd` without origin for `Requirement` (#9624)
  crates/uv-pypi-types/src/requirement.rs
Due: cargo-fmt

Docs(GitLab): add entrypoint for distroless image (#9093)
  docs/guides/integration/gitlab.md
Due: none

Model groups as a property of requirements
  crates/uv-distribution/src/metadata/lowering.rs
  crates/uv-pypi-types/src/requirement.rs
  crates/uv-requirements/src/lookahead.rs
  crates/uv-requirements/src/source_tree.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-resolver/src/manifest.rs
  crates/uv-resolver/src/pubgrub/dependencies.rs
  crates/uv-resolver/src/pubgrub/package.rs
  crates/uv-resolver/src/resolver/groups.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-workspace/src/workspace.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/operations.rs
  crates/uv/src/commands/pip/sync.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/lock_conflict.rs
  crates/uv/tests/it/workspace.rs
Due: cargo-fmt

Model groups as a property of requirements (#9545)
  crates/uv-distribution/src/metadata/lowering.rs
  crates/uv-pypi-types/src/requirement.rs
  crates/uv-requirements/src/lookahead.rs
  crates/uv-requirements/src/source_tree.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-resolver/src/manifest.rs
  crates/uv-resolver/src/pubgrub/dependencies.rs
  crates/uv-resolver/src/pubgrub/package.rs
  crates/uv-resolver/src/resolver/groups.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-workspace/src/workspace.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/operations.rs
  crates/uv/src/commands/pip/sync.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/lock_conflict.rs
  crates/uv/tests/it/workspace.rs
Due: cargo-fmt

Switch to released version
  Cargo.lock
  Cargo.toml
Due: none

Use BoolishValueParser
  crates/uv-cli/src/lib.rs
  crates/uv-static/src/env_vars.rs
  crates/uv/src/settings.rs
  docs/configuration/environment.md
Due: cargo-fmt, cargo-dev-generate-all

Add PEP 723 script declaration
  crates/uv-python/create-mirror.py
Due: none

Move to scripts
  scripts/create-python-mirror.py
Due: none

Improve message when updater receipt is for a different uv executable (#9487)
  Cargo.lock
  Cargo.toml
  crates/uv/src/commands/self_update.rs
Due: cargo-fmt

feat: add environment variable to disable writing installer metadata files (#8877)
  crates/uv-cli/src/lib.rs
  crates/uv-install-wheel/src/linker.rs
  crates/uv-install-wheel/src/wheel.rs
  crates/uv-installer/src/installer.rs
  crates/uv-static/src/env_vars.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/operations.rs
  crates/uv/src/commands/pip/sync.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/environment.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/remove.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/src/commands/tool/upgrade.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/show_settings.rs
  docs/configuration/environment.md
Due: cargo-fmt, cargo-dev-generate-all

Misc tweaks
  scripts/create-python-mirror.py
Due: none

add helper script to download the needed files to mirror for UV_PYTHON_INSTALL_MIRROR (#8548)
  scripts/create-python-mirror.py
Due: none

Disable checkout in and renable freebsd test
  .github/workflows/ci.yml
Due: none

Toggle back to true for testing
  .github/workflows/ci.yml
Due: none

DEBUG: Show large files
  .github/workflows/ci.yml
Due: none

Move instead of copy
  .github/workflows/ci.yml
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/(snapshots)/.*|
)$

  cargo-dev-generate-all: any of: ^crates/(uv-cli|uv-settings)/ and \.rs$ and not ((?x)^(
  .*/(snapshots)/.*|
)$
)
