Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

.pre-commit-config.yaml:

fail_fast: true

exclude: |
  (?x)^(
    .*/(snapshots)/.*|
  )$

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.20.2
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.26.0
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: local
    hooks:
      - id: cargo-dev-generate-all
        name: cargo dev generate-all
        entry: cargo dev generate-all
        language: system
        types: [rust]
        pass_filenames: false
        files: ^crates/(uv-cli|uv-settings)/

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

Add an `aarch64-pc-windows-msvc` target
  crates/uv-configuration/src/target_triple.rs
  docs/reference/cli.md
  uv.schema.json
Due: cargo-fmt

Allow pre-releases in pyodide test job
  .github/workflows/ci.yml
Due: none

Update freebsd-firecracker-action to v0.5.2 (#15348)
  .github/workflows/ci.yml
Due: none

Use ARM64 instead of aarch64
  crates/uv-configuration/src/target_triple.rs
Due: cargo-fmt

Allow pre-releases in pyodide test job (#15349)
  .github/workflows/ci.yml
Due: none

chore: add trixie base and alpine 3.22
  .github/workflows/build-docker.yml
Due: none

Fixes
  crates/uv-python/src/discovery.rs
  crates/uv-python/src/downloads.rs
  crates/uv-python/src/lib.rs
  crates/uv-python/src/python_version.rs
  docs/reference/environment.md
Due: cargo-fmt

doc: fix
  docs/guides/integration/docker.md
Due: none

Update crates/uv-configuration/src/target_triple.rs
  crates/uv-configuration/src/target_triple.rs
  docs/reference/cli.md
  uv.schema.json
Due: cargo-fmt

Skip interpreters that are not found on query (#15315)
  crates/uv-python/src/interpreter.rs
Due: cargo-fmt

Skip all generated content checks when in CI
  crates/uv-dev/src/generate_cli_reference.rs
  crates/uv-dev/src/generate_env_vars_reference.rs
  crates/uv-dev/src/generate_json_schema.rs
  crates/uv-dev/src/generate_sysconfig_mappings.rs
Due: cargo-fmt

Add WSL testing
  .github/workflows/ci.yml
Due: none

Skip all generated content checks when in CI (#15354)
  crates/uv-dev/src/generate_cli_reference.rs
  crates/uv-dev/src/generate_env_vars_reference.rs
  crates/uv-dev/src/generate_json_schema.rs
  crates/uv-dev/src/generate_sysconfig_mappings.rs
Due: cargo-fmt

Add fallback approach to shell detection for unix-like systems
  Cargo.lock
  crates/uv-shell/Cargo.toml
  crates/uv-shell/src/lib.rs
Due: cargo-fmt

Add WSL testing for pyenv-win (#15317)
  .github/workflows/ci.yml
Due: none

Fix linter error
  crates/uv-shell/src/lib.rs
Due: cargo-fmt

Hint about error from venv in source distribution
  Cargo.lock
  Cargo.toml
  crates/uv-extract/src/error.rs
  crates/uv-extract/src/stream.rs
  crates/uv-extract/src/sync.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/tests/it/build.rs
  crates/uv/tests/it/extract.rs
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Replace std::fs with fs-err in Shell::from_parent_process
  crates/uv-shell/Cargo.toml
  crates/uv-shell/src/lib.rs
Due: cargo-fmt

update: modify the comment to fit the existing comment
  crates/uv-cli/src/lib.rs
Due: cargo-fmt, cargo-dev-generate-all

Add conditional import for tracing::debug on Unix only
  crates/uv-shell/src/lib.rs
Due: cargo-fmt

Support scripts dependencies for -r and --with-requirements
  crates/uv-requirements/Cargo.toml
  crates/uv-requirements/src/sources.rs
  crates/uv-requirements/src/specification.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/src/lib.rs
  crates/uv/tests/it/tool_run.rs
Due: cargo-fmt

Add an `aarch64-pc-windows-msvc` target (#15347)
  crates/uv-configuration/src/target_triple.rs
  docs/reference/cli.md
  uv.schema.json
Due: cargo-fmt

Use Depot macOS runner in CI
  .github/workflows/ci.yml
Due: none

Hide the async from the error message
  crates/uv-extract/src/error.rs
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Add fallback parent process detection to `uv tool update-shell` (#15356)
  Cargo.lock
  crates/uv-shell/Cargo.toml
  crates/uv-shell/src/lib.rs
Due: cargo-fmt

Use Depot macOS runner in CI (#15358)
  .github/workflows/ci.yml
Due: none

Add tests for tool install and pip install
  crates/uv-cli/src/lib.rs
  crates/uv-requirements/src/sources.rs
  crates/uv-requirements/src/specification.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/tool_install.rs
Due: cargo-fmt, cargo-dev-generate-all

Minor tweaks
  docs/guides/integration/coiled.md
Due: none

Update cli.md
  docs/reference/cli.md
Due: none

Add todo
  crates/uv-requirements/src/sources.rs
Due: cargo-fmt

Update docstring
  crates/uv-requirements/src/sources.rs
Due: cargo-fmt

Update lock file
  Cargo.lock
Due: none

Document improvements to build-isolation setups (#15326)
  docs/concepts/projects/config.md
  docs/concepts/resolution.md
Due: none

Fix tests
  crates/uv/tests/it/tool_run.rs
Due: cargo-fmt

Sync latest Python releases
  crates/uv-dev/src/generate_sysconfig_mappings.rs
  crates/uv-python/download-metadata.json
  crates/uv-python/src/sysconfig/generated_mappings.rs
Due: cargo-fmt

update snaps
  crates/uv/tests/it/python_install.rs
Due: cargo-fmt

Bump version to 0.8.12
  CHANGELOG.md
  Cargo.lock
  crates/uv-build/Cargo.toml
  crates/uv-build/pyproject.toml
  crates/uv-version/Cargo.toml
  crates/uv/Cargo.toml
  docs/concepts/build-backend.md
  docs/concepts/projects/init.md
  docs/concepts/projects/workspaces.md
  docs/getting-started/installation.md
  docs/guides/integration/aws-lambda.md
  docs/guides/integration/docker.md
  docs/guides/integration/github.md
  docs/guides/integration/pre-commit.md
  pyproject.toml
Due: none

Add hint for venv in source distribution error (#15202)
  Cargo.lock
  Cargo.toml
  crates/uv-extract/src/error.rs
  crates/uv-extract/src/stream.rs
  crates/uv-extract/src/sync.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/tests/it/build.rs
  crates/uv/tests/it/extract.rs
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Make `build` optional for now
  crates/uv-python/src/downloads.rs
  crates/uv-python/src/managed.rs
Due: cargo-fmt

Update metadata
  crates/uv-python/download-metadata.json
Due: none
