Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

.pre-commit-config.yaml:

fail_fast: true

exclude: |
  (?x)^(
    .*/(snapshots)/.*|
  )$

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.42.3
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: local
    hooks:
      - id: cargo-dev-generate-all
        name: cargo dev generate-all
        entry: cargo dev generate-all
        language: system
        types: [rust]
        pass_filenames: false
        files: ^crates/(uv-cli|uv-settings)/

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --ignore-unknown
        language: node
        additional_dependencies: ["prettier@3"]
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

Revert "Benchmark CLI construction and configuration parsing" (#22349)
  Cargo.lock
  crates/uv-bench/Cargo.toml
  crates/uv-bench/benches/uv.rs
  crates/uv-bench/benches/uv_startup.rs
Due: cargo-fmt

Separate Python environment discovery from inspection (#22296)
  crates/uv-dev/src/compile.rs
  crates/uv-environment-operations/src/error.rs
  crates/uv-environment-operations/src/lib.rs
  crates/uv-installer/src/installer.rs
  crates/uv-pip-commands/src/check.rs
  crates/uv-pip-commands/src/freeze.rs
  crates/uv-pip-commands/src/install.rs
  crates/uv-pip-commands/src/list.rs
  crates/uv-pip-commands/src/show.rs
  crates/uv-pip-commands/src/sync.rs
  crates/uv-pip-commands/src/tree.rs
  crates/uv-pip-commands/src/uninstall.rs
  crates/uv-python-context/src/script.rs
  crates/uv-python/src/environment.rs
  crates/uv-python/src/installation.rs
  crates/uv-python/src/lib.rs
  crates/uv-tool/src/lib.rs
Due: cargo-fmt

Separate Python request matching from request values (#22297)
  crates/uv-project-commands/src/check.rs
  crates/uv-python-commands/src/list.rs
  crates/uv-python-context/src/script.rs
  crates/uv-python/src/discovery.rs
  crates/uv-python/src/downloads.rs
  crates/uv-python/src/implementation.rs
  crates/uv-python/src/installation.rs
  crates/uv-python/src/interpreter.rs
  crates/uv-python/src/lib.rs
  crates/uv-tool-commands/src/common.rs
  crates/uv-tool-commands/src/run.rs
Due: cargo-fmt

Separate Python download requests from installation metadata (#22298)
  crates/uv-python-commands/src/install.rs
  crates/uv-python-commands/src/uninstall.rs
  crates/uv-python/src/downloads.rs
  crates/uv-python/src/installation.rs
  crates/uv-python/src/lib.rs
  crates/uv-python/src/managed.rs
Due: cargo-fmt

Separate managed Python detection from interpreter queries (#22299)
  crates/uv-python/src/installation.rs
  crates/uv-python/src/interpreter.rs
  crates/uv-python/src/managed.rs
  crates/uv-virtualenv/src/virtualenv.rs
Due: cargo-fmt

Separate Windows Python registration from discovery (#22315)
  crates/uv-python-commands/src/install.rs
  crates/uv-python-commands/src/uninstall.rs
  crates/uv-python/src/lib.rs
  crates/uv-python/src/managed.rs
  crates/uv-python/src/managed/windows_registry.rs
  crates/uv-python/src/windows_registry.rs
Due: cargo-fmt

Decouple Python requests from package and discovery context (#22300)
  Cargo.lock
  crates/uv-build-commands/src/lib.rs
  crates/uv-project-commands/src/init.rs
  crates/uv-python-context/src/project.rs
  crates/uv-python-context/src/script.rs
  crates/uv-python/Cargo.toml
  crates/uv-python/src/discovery.rs
  crates/uv-python/src/lib.rs
  crates/uv-tool-commands/src/common.rs
Due: cargo-fmt

Compare CI pull requests against their merge parent
  .github/workflows/plan.yml
Due: none

Skip unused build indexes for locked wheel installations
  crates/uv-environment-operations/src/sync.rs
  crates/uv-install-operations/src/lib.rs
  crates/uv/tests/sync/sync.rs
Due: cargo-fmt

Use one codegen unit for release builds (#22303)
  .github/workflows/build-release-binaries.yml
  Cargo.toml
Due: none

Add `no-editable` setting for `uv sync`, `uv run`, and `uv export`
  crates/uv-cli/src/settings.rs
  crates/uv-settings/src/lib.rs
  crates/uv-settings/src/settings.rs
  crates/uv/tests/project/export.rs
  crates/uv/tests/sync/sync.rs
  uv.schema.json
Due: cargo-fmt, cargo-dev-generate-all

Clarify `no-editable` setting docs and pass `EnvFlag` by value
  crates/uv-cli/src/settings.rs
  crates/uv-settings/src/settings.rs
  uv.schema.json
Due: cargo-fmt, cargo-dev-generate-all

Fix Python discovery documentation references
  crates/uv-python-discovery/src/installation.rs
  crates/uv-python-types/src/request.rs
Due: cargo-fmt

Clarify CI comparison comments
  .github/workflows/plan.yml
Due: none

Explain CI comparison base and failure handling
  .github/workflows/plan.yml
Due: none

Add dedicated tests for unused build indexes
  crates/uv/tests/sync/sync.rs
Due: cargo-fmt

Prune orphaned dependencies on remove
  crates/uv-cli/src/lib.rs
  crates/uv-environment-operations/src/lib.rs
  crates/uv-environment-operations/src/sync.rs
  crates/uv-install-operations/src/lib.rs
  crates/uv-installer/src/lib.rs
  crates/uv-installer/src/site_packages.rs
  crates/uv-lock/src/lib.rs
  crates/uv-lock/src/lock/installable.rs
  crates/uv-lock/src/lock/mod.rs
  crates/uv-project-commands/src/remove.rs
  crates/uv-project-edit/src/lib.rs
  crates/uv-types/src/lib.rs
  crates/uv-types/src/once_queue.rs
  crates/uv/tests/project/edit.rs
  test/scenarios/extras/remove-prune-extra.md
  test/scenarios/extras/remove-prune-extra.toml
Due: cargo-fmt, cargo-dev-generate-all

Retain resolved Python requests when creating environments
  crates/uv-build-frontend/src/lib.rs
  crates/uv-environment-operations/src/environment.rs
  crates/uv-environment-operations/src/lib.rs
  crates/uv-project-commands/src/check.rs
  crates/uv-project-commands/src/run.rs
  crates/uv-python-commands/src/find.rs
  crates/uv-python-discovery/src/project.rs
  crates/uv-python-discovery/src/script.rs
  crates/uv-python-interpreter/src/lib.rs
  crates/uv-python-interpreter/src/requested.rs
  crates/uv-python-managed/src/lib.rs
  crates/uv-python-managed/src/managed.rs
  crates/uv-tool/src/lib.rs
  crates/uv-virtualenv/src/lib.rs
  crates/uv-virtualenv/src/virtualenv.rs
  crates/uv/src/commands/venv.rs
  crates/uv/tests/python/python_upgrade.rs
Due: cargo-fmt

Retain managed Python uninstall error sources
  crates/uv-python-commands/src/uninstall.rs
  crates/uv-python-managed/src/windows_registry.rs
Due: cargo-fmt

Update to hyperfine 2.0.0 and use native environment overrides
  scripts/benchmark/pyproject.toml
  scripts/benchmark/src/benchmark/__init__.py
  scripts/benchmark/src/benchmark/resolver.py
  scripts/benchmark/src/benchmark/tools.py
Due: none

feat(pip compile): PyToml, Extras/Groups support
  Cargo.lock
  crates/uv-lock/src/lock/export/pylock_toml.rs
  crates/uv-pep508/src/marker/algebra.rs
  crates/uv-pep508/src/marker/tree.rs
  crates/uv-requirements/src/source_tree.rs
  crates/uv-resolver-types/src/distribution.rs
  crates/uv-resolver-types/src/lib.rs
  crates/uv-resolver-types/src/output.rs
  crates/uv-resolver-types/src/root_selections.rs
  crates/uv-resolver/src/lib.rs
  crates/uv-resolver/src/resolution/output.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-resolver/src/resolver/resolution.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/operations.rs
  crates/uv/src/commands/pip/sync.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/tests/pip_compile/pip_compile.rs
Due: cargo-fmt

Update configuration error snapshots for no-editable
  crates/uv/tests/pip_install/pip_install.rs
  crates/uv/tests/sync/show_settings.rs
Due: cargo-fmt

Keep global no-editable configuration with package-specific flags
  crates/uv-cli/src/settings.rs
  crates/uv-settings/src/settings.rs
  crates/uv/tests/project/export.rs
  crates/uv/tests/sync/sync.rs
  uv.schema.json
Due: cargo-fmt, cargo-dev-generate-all

Reject malformed requirements file options
  crates/uv-requirements-txt/src/lib.rs
Due: cargo-fmt

Refine Mach-O command dispatch and region validation
  Cargo.lock
  crates/uv-macho/Cargo.toml
  crates/uv-macho/src/lib.rs
  crates/uv-macho/src/macho.rs
  crates/uv-macho/src/macho/snapshots/uv_macho__macho__tests__command_boundaries.snap
  crates/uv-macho/src/macho/snapshots/uv_macho__macho__tests__malformed_inputs.snap
  crates/uv-macho/src/macho/tests.rs
Due: cargo-fmt

Add bounded parsing for thin macOS Mach-O dylibs
  Cargo.lock
  Cargo.toml
  crates/uv-macho/Cargo.toml
  crates/uv-macho/src/bytes.rs
  crates/uv-macho/src/format.rs
  crates/uv-macho/src/lib.rs
  crates/uv-macho/src/macho.rs
  crates/uv-macho/src/macho/snapshots/uv_macho__macho__tests__command_boundaries.snap
  crates/uv-macho/src/macho/snapshots/uv_macho__macho__tests__malformed_inputs.snap
  crates/uv-macho/src/macho/tests.rs
  crates/uv-macho/tests/fixtures/README.md
  crates/uv-macho/tests/fixtures/arm64.dylib
  crates/uv-macho/tests/fixtures/dylib.c
  crates/uv-macho/tests/fixtures/entitlements.plist
  crates/uv-macho/tests/fixtures/info.plist
  crates/uv-macho/tests/fixtures/signed-arm64.dylib
  crates/uv-macho/tests/fixtures/x86_64.dylib
Due: cargo-fmt

Use standard types in the Mach-O reader and relocate fixture generation
  crates/uv-macho/src/bytes.rs
  crates/uv-macho/src/lib.rs
  crates/uv-macho/src/macho.rs
  crates/uv-macho/tests/fixtures/README.md
  scripts/generate-macho-fixtures.py
  scripts/generate-macho-fixtures.py.lock
Due: cargo-fmt

Use standard typed byte conversions at Mach-O record boundaries
  crates/uv-macho/src/bytes.rs
  crates/uv-macho/src/format.rs
  crates/uv-macho/src/macho.rs
  crates/uv-macho/src/macho/tests.rs
Due: cargo-fmt

Simplify Mach-O file references and automate fixture generation
  crates/uv-macho/src/macho.rs
  crates/uv-macho/src/macho/tests.rs
  crates/uv-macho/tests/fixtures/README.md
  crates/uv-macho/tests/fixtures/generate.py
Due: cargo-fmt

Retain bounded Mach-O data and section records while parsing
  crates/uv-macho/src/bytes.rs
  crates/uv-macho/src/format.rs
  crates/uv-macho/src/macho.rs
  crates/uv-macho/src/macho/tests.rs
Due: cargo-fmt

Include unsupported Mach-O command and platform values in errors
  crates/uv-macho/src/format.rs
  crates/uv-macho/src/lib.rs
  crates/uv-macho/src/macho.rs
  crates/uv-macho/src/macho/tests.rs
Due: cargo-fmt

Remove the unused workspace scroll dependency
  Cargo.toml
Due: none

Name fixed Mach-O segments and sections with constants
  crates/uv-macho/src/format.rs
  crates/uv-macho/src/macho.rs
Due: cargo-fmt

Add Mach-O dylib install-name editing
  Cargo.lock
  crates/uv-macho/Cargo.toml
  crates/uv-macho/src/lib.rs
  crates/uv-macho/src/macho.rs
  crates/uv-macho/src/macho/tests.rs
  crates/uv-macho/src/names.rs
  crates/uv-macho/tests/common/mod.rs
  crates/uv-macho/tests/edit.rs
Due: cargo-fmt

Add ad-hoc signing for Mach-O dylibs
  Cargo.lock
  Cargo.toml
  crates/uv-macho/Cargo.toml
  crates/uv-macho/src/lib.rs
  crates/uv-macho/src/macho.rs
  crates/uv-macho/src/names.rs
  crates/uv-macho/src/regions.rs
  crates/uv-macho/src/signature.rs
  crates/uv-macho/tests/sign.rs
Due: cargo-fmt

Consolidate install-name test cases
  crates/uv-macho/src/names.rs
  crates/uv-macho/tests/common/mod.rs
  crates/uv-macho/tests/edit.rs
Due: cargo-fmt

Use standard byte conversions in Mach-O editing tests
  Cargo.lock
  crates/uv-macho/Cargo.toml
  crates/uv-macho/tests/common/mod.rs
Due: cargo-fmt

Borrow signing identifiers and test loading with managed Python
  Cargo.lock
  crates/uv-macho/src/lib.rs
  crates/uv-macho/src/macho.rs
  crates/uv-macho/src/names.rs
  crates/uv-macho/src/signature.rs
  crates/uv-macho/tests/sign.rs
  crates/uv/Cargo.toml
  crates/uv/tests/it/macho.rs
  crates/uv/tests/it/main.rs
Due: cargo-fmt
