Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-dev-generate-all:
  name: cargo dev generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

Deduplicate wheel hash validation
  crates/uv-distribution/src/distribution_database.rs
Due: cargo-fmt

Verify newly fetched source distributions against index hashes
  crates/uv-distribution/src/source/validated_archive.rs
  crates/uv/tests/build/cache.rs
Due: cargo-fmt

Update snapshots for wheels rejected before caching
  crates/uv/tests/build/cache.rs
  crates/uv/tests/pip/pip_sync.rs
  crates/uv/tests/pip_install/pip_install.rs
Due: cargo-fmt

Preserve caller hashes during index validation
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-distribution/src/source/validated_archive.rs
  crates/uv/tests/pip_compile/pip_compile.rs
Due: cargo-fmt

Update spin to avoid yanked-version release warnings
  Cargo.lock
Due: none

Update uv used for release manifests
  .github/workflows/release.yml
Due: none

Match macOS PGO training to the release deployment target
  .github/workflows/build-release-binaries.yml
Due: none

Make CI Python and Conda setup explicit
  .github/workflows/check-docs.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-system.yml
Due: none

Preserve local path intent when merging dependency metadata (#20631)
  crates/uv-cli/src/lib.rs
  crates/uv-distribution-types/src/requirement.rs
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-distribution/src/metadata/mod.rs
  crates/uv-pep508/src/verbatim_url.rs
  crates/uv-requirements-txt/src/lib.rs
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__line-endings-whitespace.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-unix-bare-url.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-unix-editable.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-whitespace.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-windows-bare-url.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-windows-editable.txt.snap
  crates/uv-requirements/src/source_tree.rs
  crates/uv-resolver/src/lock/export/pylock_toml.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-resolver/src/manifest.rs
  crates/uv-resolver/src/resolution/output.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-resolver/src/resolver/urls.rs
  crates/uv-types/src/requirements.rs
  crates/uv-workspace/src/pyproject.rs
  crates/uv-workspace/src/pyproject_mut.rs
  crates/uv/tests/lock/lock.rs
  crates/uv/tests/pip_compile/pip_compile.rs
  crates/uv/tests/sync/show_settings.rs
  crates/uv/tests/workspace/workspace_metadata.rs
Due: cargo-fmt, cargo-dev-generate-all

Update cargo-auditable to fix macOS linker warnings
  scripts/install-cargo-extensions.sh
Due: none

Look up reconstructed lock dependencies by package ID
  crates/uv-resolver/src/lock/mod.rs
  crates/uv/tests/lock/lock.rs
Due: cargo-fmt

Avoid empty-workdir warnings in PyPI publishing jobs
  .github/workflows/publish-pypi.yml
Due: none

Run wheel-content checks as a locked PEP 723 script
  .github/workflows/build-release-binaries.yml
  .github/workflows/sign-release-binaries.yml
  scripts/check_uv_wheel_contents.py
  scripts/check_uv_wheel_contents.py.lock
Due: none

Apply dependency policies before flattening recursive extras
  crates/uv-resolver/src/lock/mod.rs
  crates/uv/tests/lock/lock.rs
Due: cargo-fmt

Recognize group extra edges that cover base dependencies
  crates/uv-resolver/src/lock/mod.rs
  crates/uv/tests/lock/lock.rs
Due: cargo-fmt

Use resolved versions when collecting dependency sources
  crates/uv-resolver/src/lock/mod.rs
  crates/uv/tests/lock/lock.rs
Due: cargo-fmt

Verify distribution hashes (#21562)
  crates/uv-distribution-types/src/hash.rs
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-distribution/src/source/validated_archive.rs
  crates/uv/tests/build/cache.rs
  crates/uv/tests/it/network.rs
  crates/uv/tests/lock/lock.rs
  crates/uv/tests/pip/pip_sync.rs
  crates/uv/tests/pip_compile/pip_compile.rs
  crates/uv/tests/pip_install/pip_install.rs
Due: cargo-fmt

Clarify build dependency hash documentation
  docs/concepts/projects/build.md
Due: none

Verify supplied build dependency hashes
  crates/uv-distribution-types/src/specified_requirement.rs
  crates/uv-requirements/src/lib.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-scripts/src/lib.rs
  crates/uv-settings/src/settings.rs
  crates/uv-tool/src/tool.rs
  crates/uv-types/src/hash.rs
  crates/uv-workspace/src/pyproject.rs
  crates/uv-workspace/src/workspace.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/sync.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/lock_target.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/tool/common.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/src/commands/tool/upgrade.rs
  crates/uv/src/settings.rs
  crates/uv/tests/build/build.rs
  crates/uv/tests/lock/lock.rs
  crates/uv/tests/sync/sync.rs
  crates/uv/tests/tool/tool_install.rs
  docs/concepts/projects/build.md
  uv.schema.json
Due: cargo-fmt, cargo-dev-generate-all

Clarify requirement path conversion docs
  crates/uv-distribution-types/src/specified_requirement.rs
Due: cargo-fmt

Refine build-hash fixtures and documentation
  crates/uv/tests/sync/sync.rs
  docs/concepts/projects/build.md
Due: cargo-fmt

review feedback
  crates/uv-types/src/hash.rs
  crates/uv-workspace/src/pyproject.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/sync.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/tool/common.rs
  crates/uv/tests/build/build.rs
  crates/uv/tests/sync/sync.rs
  uv.schema.json
Due: cargo-fmt

Handle unpinned constraints and locked script build hashes
  crates/uv-distribution-types/src/requirement.rs
  crates/uv-distribution-types/src/specified_requirement.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-types/src/hash.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/project/lock_target.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/tests/build/build.rs
  crates/uv/tests/sync/sync.rs
  crates/uv/tests/tool/tool_install.rs
  docs/concepts/projects/build.md
Due: cargo-fmt

Update build hash verification for current APIs
  crates/uv-client/src/flat_index.rs
  crates/uv-requirements/src/lib.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/tests/build/build.rs
  crates/uv/tests/sync/sync.rs
  crates/uv/tests/tool/tool_install.rs
Due: cargo-fmt

Validate archive sizes before reusing cached distributions
  crates/uv-distribution/src/index/built_wheel_index.rs
  crates/uv-distribution/src/index/cached_wheel.rs
  crates/uv-distribution/src/index/registry_wheel_index.rs
  crates/uv-installer/src/plan.rs
  crates/uv/tests/pip/pip_sync.rs
Due: cargo-fmt

Allow manually specifying build dependency hashes in configuration (#21467)
  crates/uv-client/src/flat_index.rs
  crates/uv-distribution-types/src/requirement.rs
  crates/uv-distribution-types/src/specified_requirement.rs
  crates/uv-requirements/src/lib.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-scripts/src/lib.rs
  crates/uv-settings/src/settings.rs
  crates/uv-tool/src/tool.rs
  crates/uv-types/src/hash.rs
  crates/uv-workspace/src/pyproject.rs
  crates/uv-workspace/src/workspace.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/sync.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/lock_target.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/tool/common.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/src/commands/tool/upgrade.rs
  crates/uv/src/settings.rs
  crates/uv/tests/build/build.rs
  crates/uv/tests/lock/lock.rs
  crates/uv/tests/sync/sync.rs
  crates/uv/tests/tool/tool_install.rs
  docs/concepts/projects/build.md
  uv.schema.json
Due: cargo-fmt, cargo-dev-generate-all

Honor hashed uv-build version pins in bundled builds
  crates/uv-dispatch/src/lib.rs
  crates/uv-types/src/hash.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/tests/build/build.rs
Due: cargo-fmt

Apply requirement build settings only when markers match
  crates/uv-requirements/src/specification.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/sync.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/tests/pip/pip_sync.rs
  crates/uv/tests/project/edit.rs
  docs/pip/compatibility.md
Due: cargo-fmt

Clarify merged package build settings ownership
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/sync.rs
Due: cargo-fmt

Return structured requirement entries from parser
  crates/uv-requirements-txt/src/lib.rs
Due: cargo-fmt

Store imported build settings in the workspace root
  crates/uv/src/commands/project/add.rs
  crates/uv/tests/project/edit.rs
Due: cargo-fmt

Keep uv run resolver settings immutable
  crates/uv/src/commands/project/run.rs
Due: cargo-fmt

Simplify package build settings helpers
  crates/uv-distribution-types/src/config_settings.rs
  crates/uv/src/commands/project/add.rs
Due: cargo-fmt

Document unnamed requirements build settings limitation
  crates/uv-requirements/src/specification.rs
  docs/pip/compatibility.md
Due: cargo-fmt

Keep command resolver settings immutable
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/run.rs
Due: cargo-fmt

Use conventional package config settings naming
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/sync.rs
Due: cargo-fmt

Apply requirement build settings in run and tool commands
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/tests/project/run.rs
  crates/uv/tests/tool/tool_install.rs
  crates/uv/tests/tool/tool_run.rs
Due: cargo-fmt

Support per-requirement build settings in requirements files
  crates/uv-distribution-types/src/config_settings.rs
  crates/uv-requirements-txt/src/lib.rs
  crates/uv-requirements/src/specification.rs
  crates/uv-resolver/src/resolution/display.rs
  crates/uv-workspace/src/pyproject_mut.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/sync.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/tests/pip/pip_sync.rs
  crates/uv/tests/pip_compile/pip_compile.rs
  crates/uv/tests/pip_install/pip_install.rs
  crates/uv/tests/project/edit.rs
Due: cargo-fmt

Keep config-setting option spelling during parsing
  crates/uv-requirements-txt/src/lib.rs
Due: cargo-fmt

Cover unscoped build settings on marked requirements
  crates/uv/tests/pip/pip_sync.rs
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/(snapshots)/.*|
)$

  cargo-dev-generate-all: any of: ^crates/(uv-cli|uv-settings)/ and \.rs$ and not ((?x)^(
  .*/(snapshots)/.*|
)$
)
