Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-dev-generate-all:
  name: cargo dev generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

Authorize issue-comment context persistence
  .github/ost-simple-sts.json
Due: none

Authorize issue-comment context persistence (#21091)
  .github/ost-simple-sts.json
Due: none

Allow publishing fixes after regression promotion
  .github/workflows/fix-bug.yml
Due: none

Forward `uv check` terminal settings to ty (#21086)
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/project/check.rs
  crates/uv/src/commands/project/check/ty.rs
  crates/uv/src/lib.rs
  crates/uv/src/printer.rs
  crates/uv/src/settings.rs
  crates/uv/tests/project/check.rs
Due: cargo-fmt, cargo-dev-generate-all

Report physical disk usage with uv cache size
  crates/uv-dev/src/generate_preview_features_reference.rs
  crates/uv-fs/src/lib.rs
  crates/uv-fs/src/space.rs
  crates/uv-preview/src/lib.rs
  crates/uv/src/commands/cache_size.rs
  crates/uv/tests/build/cache_size.rs
  docs/concepts/cache.md
Due: cargo-fmt

Name physical filesystem and extent types
  crates/uv-fs/src/space.rs
Due: cargo-fmt

Use shared helpers for cache filesystem tests
  crates/uv-test/src/lib.rs
  crates/uv/tests/build/cache_clean.rs
  crates/uv/tests/build/cache_prune.rs
  crates/uv/tests/build/cache_size.rs
Due: cargo-fmt

Make cache size filters a context builder
  crates/uv-test/src/lib.rs
  crates/uv/tests/build/cache_clean.rs
  crates/uv/tests/build/cache_prune.rs
  crates/uv/tests/build/cache_size.rs
Due: cargo-fmt

Restore cache snapshot filter rationale
  crates/uv-test/src/lib.rs
Due: cargo-fmt

Fix relative indexes in PEP 723 scripts
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/tests/project/edit.rs
  crates/uv/tests/project/run.rs
Due: cargo-fmt

Apply suggestion from @zanieb
  crates/uv/tests/project/run.rs
Due: cargo-fmt

Make snapshot size filtering opt in
  crates/uv-test/src/lib.rs
  crates/uv/tests/build/cache_clean.rs
  crates/uv/tests/build/cache_prune.rs
  crates/uv/tests/build/cache_size.rs
  crates/uv/tests/it/publish.rs
  crates/uv/tests/pip/pip_sync.rs
  crates/uv/tests/project/tree.rs
Due: cargo-fmt

Improve automated bug-fix pull request metadata
  .github/workflows/fix-bug.yml
  agents/prompts/fix-reproduced-bug.md
  agents/schemas/fix-reproduced-bug.json
Due: none

Reuse bug-fix summary for pull request descriptions
  .github/workflows/fix-bug.yml
  agents/prompts/fix-reproduced-bug.md
  agents/schemas/fix-reproduced-bug.json
Due: none

Remove arbitrary automated pull request title limits
  .github/workflows/fix-bug.yml
Due: none

Remove trailing period from automated issue references
  .github/workflows/fix-bug.yml
Due: none

Improve regression coverage for related bug manifestations
  agents/prompts/create-bug-test.md
Due: none

improve fix-bug automations PR title/summary (#21100)
  .github/workflows/fix-bug.yml
  agents/prompts/fix-reproduced-bug.md
  agents/schemas/fix-reproduced-bug.json
Due: none

Use context filters for cache file counts
  crates/uv-test/src/lib.rs
  crates/uv/tests/build/cache_clean.rs
  crates/uv/tests/build/cache_prune.rs
  crates/uv/tests/pip/pip_sync.rs
Due: cargo-fmt

Keep build snapshot filters on test contexts
  crates/uv/tests/build/build.rs
Due: cargo-fmt

Improve automated fixes for related bug manifestations
  agents/prompts/fix-reproduced-bug.md
Due: none

Configure redirect snapshot filters on test contexts
  crates/uv/tests/project/edit.rs
Due: cargo-fmt

Configure derivation-chain filters on test contexts
  crates/uv/tests/lock/lock.rs
  crates/uv/tests/pip_compile/pip_compile.rs
  crates/uv/tests/pip_install/pip_install.rs
  crates/uv/tests/sync/sync.rs
Due: cargo-fmt

Configure snapshot filters without rebinding test contexts
  crates/uv/tests/pip_compile/pip_compile.rs
  crates/uv/tests/pip_install/pip_install.rs
  crates/uv/tests/project/check.rs
  crates/uv/tests/project/edit.rs
  crates/uv/tests/project/format.rs
  crates/uv/tests/project/run.rs
  crates/uv/tests/tool/tool_install.rs
Due: cargo-fmt

Resolve script filesystem options relative to scripts
  crates/uv-settings/src/lib.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/lib.rs
  crates/uv/tests/project/run.rs
Due: cargo-fmt, cargo-dev-generate-all

Refine 0.12.4 changelog entries
  CHANGELOG.md
Due: none

Handle Windows paths in derivation-chain snapshot filters
  crates/uv/tests/lock/lock.rs
  crates/uv/tests/pip_compile/pip_compile.rs
  crates/uv/tests/pip_install/pip_install.rs
  crates/uv/tests/sync/sync.rs
Due: cargo-fmt

Fix overlapping version JSON snapshot filters
  crates/uv/tests/it/version.rs
Due: cargo-fmt

Use test context for HTTP read timeouts
  crates/uv/tests/it/network.rs
Due: cargo-fmt

Ensure version cache-independence tests use an invalid cache
  crates/uv/tests/it/version.rs
Due: cargo-fmt

Use test contexts for tool directories
  crates/uv-test/src/lib.rs
  crates/uv/tests/tool/tool_uninstall.rs
Due: cargo-fmt

Remove redundant test context working-directory overrides
  crates/uv/tests/it/branching_urls.rs
  crates/uv/tests/it/publish.rs
  crates/uv/tests/it/version.rs
  crates/uv/tests/lock/lock.rs
  crates/uv/tests/pip/pip_sync.rs
  crates/uv/tests/pip_compile/pip_compile.rs
  crates/uv/tests/pip_install/pip_install.rs
  crates/uv/tests/project/edit.rs
  crates/uv/tests/project/init.rs
Due: cargo-fmt

Isolate resource limit integration test commands
  crates/uv/tests/it/resource_limits.rs
Due: cargo-fmt

Fix centralized environment cache pruning test coverage
  crates/uv/tests/sync/centralized_project_envs.rs
Due: cargo-fmt

Keep pip table snapshot filters on test contexts
  crates/uv/tests/pip/pip_list.rs
  crates/uv/tests/pip/pip_tree.rs
Due: cargo-fmt

Isolate reproduction publishing credentials from agent execution
  .github/workflows/reproduce-bug.yml
Due: none

Add fast HTTP retry test context configuration
  crates/uv-test/src/lib.rs
  crates/uv/tests/it/network.rs
Due: cargo-fmt

Compose fast HTTP retries from context builders
  crates/uv-test/src/lib.rs
Due: cargo-fmt

Fix needless snapshot filter borrow
  crates/uv/tests/build/build.rs
Due: cargo-fmt

Keep cache override regression tests after library items
  crates/uv-test/src/lib.rs
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/(snapshots)/.*|
)$

  cargo-dev-generate-all: any of: ^crates/(uv-cli|uv-settings)/ and \.rs$ and not ((?x)^(
  .*/(snapshots)/.*|
)$
)
