Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

.pre-commit-config.yaml:

fail_fast: true

exclude: |
  (?x)^(
    .*/(snapshots)/.*|
  )$

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.20.2
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.26.0
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: local
    hooks:
      - id: cargo-dev-generate-all
        name: cargo dev generate-all
        entry: cargo dev generate-all
        language: system
        types: [rust]
        pass_filenames: false
        files: ^crates/(uv-cli|uv-settings)/

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

fix formatting
  crates/uv/src/commands/project/mod.rs
Due: cargo-fmt

renamed OnExisting to RemovableReason
  crates/uv-build-frontend/src/lib.rs
  crates/uv-tool/src/lib.rs
  crates/uv-virtualenv/src/lib.rs
  crates/uv-virtualenv/src/virtualenv.rs
  crates/uv/src/commands/project/environment.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/run.rs
Due: cargo-fmt

added UV_NO_SOURCES enviroment variable, updated tests and documentation
  crates/uv-cli/src/lib.rs
  crates/uv-static/src/env_vars.rs
  crates/uv/tests/it/pip_install.rs
  docs/reference/environment.md
Due: cargo-fmt, cargo-dev-generate-all

fixed missing backticks
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

updated docs
  docs/reference/cli.md
  docs/reference/environment.md
Due: none

Ignore inferred conflict marker when determining if lockfile is up-to-date
  crates/uv-pypi-types/src/conflicts.rs
Due: cargo-fmt

Add regression test
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Update snapshot
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

guides/integration/github.md: Upgrade checkout action to v5
  docs/guides/integration/github.md
Due: none

guides/integration/github.md: Upgrade checkout action to v5 (#15887)
  docs/guides/integration/github.md
Due: none

packse: Use our own rendering exclusively, and use pylock.toml
  crates/uv-static/src/env_vars.rs
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/lock_scenarios.rs
  crates/uv/tests/it/pip_compile_scenarios.rs
  crates/uv/tests/it/pip_install_scenarios.rs
  scripts/scenarios/generate.py
  scripts/scenarios/pylock.toml
  scripts/scenarios/pyproject.toml
  scripts/scenarios/requirements.in
  scripts/scenarios/requirements.txt
  scripts/sync_scenarios.sh
Due: cargo-fmt

Review
  crates/uv-cli/src/lib.rs
  crates/uv-virtualenv/src/virtualenv.rs
  crates/uv/tests/it/venv.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Re-use the `err`
  crates/uv-virtualenv/src/virtualenv.rs
Due: cargo-fmt

Add `--no-clear` to `uv venv` to disable removal prompts (#15795)
  crates/uv-cli/src/lib.rs
  crates/uv-virtualenv/src/virtualenv.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/venv.rs
Due: cargo-fmt, cargo-dev-generate-all

packse: Use our own rendering exclusively, and use pylock.toml (#15796)
  crates/uv-static/src/env_vars.rs
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/lock_scenarios.rs
  crates/uv/tests/it/pip_compile_scenarios.rs
  crates/uv/tests/it/pip_install_scenarios.rs
  scripts/scenarios/generate.py
  scripts/scenarios/pylock.toml
  scripts/scenarios/pyproject.toml
  scripts/scenarios/requirements.in
  scripts/scenarios/requirements.txt
  scripts/sync_scenarios.sh
Due: cargo-fmt

Add a 45-day cooldown to reqwest upgrades
  .github/renovate.json5
Due: none

Infer check URL from publish URL when known
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/publish.rs
  crates/uv/src/lib.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Show organization name after authenticating (#15823)
  crates/uv-auth/src/lib.rs
  crates/uv-auth/src/pyx.rs
  crates/uv/src/commands/auth/login.rs
Due: cargo-fmt

Allow uv to install from Pyodide's index
  crates/uv-distribution-types/src/index_url.rs
  crates/uv-platform-tags/src/platform_tag.rs
  crates/uv-platform/src/os.rs
  crates/uv-python/src/lib.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/sync.rs
Due: cargo-fmt

Infer check URL from publish URL when known (#15886)
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/publish.rs
  crates/uv/src/lib.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

remove Option
  crates/uv-build-frontend/src/lib.rs
  crates/uv-tool/src/lib.rs
  crates/uv-virtualenv/src/virtualenv.rs
  crates/uv/src/commands/project/environment.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/run.rs
Due: cargo-fmt

renamed ClearFlag to UserRequest
  crates/uv-virtualenv/src/virtualenv.rs
Due: cargo-fmt

update
  crates/uv-virtualenv/src/virtualenv.rs
Due: cargo-fmt

fix conflict
  crates/uv-virtualenv/src/virtualenv.rs
Due: cargo-fmt

fix linting
  crates/uv-virtualenv/src/virtualenv.rs
Due: cargo-fmt

review
  docs/guides/integration/github.md
Due: none

Don't user display empty string for absolute path CWD
  crates/uv-fs/src/path.rs
Due: cargo-fmt

Better warning for no direct build
  crates/uv-build-backend/src/metadata.rs
  crates/uv/src/commands/build_frontend.rs
Due: cargo-fmt

removed Requested variant
  crates/uv-tool/src/lib.rs
  crates/uv-virtualenv/src/virtualenv.rs
Due: cargo-fmt

snapshot
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Revert that again
  crates/uv-workspace/src/dependency_groups.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Rustfmt
  crates/uv/src/commands/build_frontend.rs
Due: cargo-fmt

Don't user display empty string for absolute path CWD (#15897)
  crates/uv-fs/src/path.rs
  crates/uv-workspace/src/dependency_groups.rs
Due: cargo-fmt

Review
  crates/uv-virtualenv/src/virtualenv.rs
Due: cargo-fmt

nit: update docs
  crates/uv-virtualenv/src/virtualenv.rs
Due: cargo-fmt

fix misleading debug message in uv sync (#15881)
  crates/uv-build-frontend/src/lib.rs
  crates/uv-tool/src/lib.rs
  crates/uv-virtualenv/src/lib.rs
  crates/uv-virtualenv/src/virtualenv.rs
  crates/uv/src/commands/project/environment.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/run.rs
Due: cargo-fmt

Sync latest Python releases
  crates/uv-python/download-metadata.json
Due: none

Migrate to sync model
  crates/uv-dispatch/src/lib.rs
  crates/uv-installer/src/lib.rs
  crates/uv-installer/src/plan.rs
  crates/uv-installer/src/satisfies.rs
  crates/uv-installer/src/site_packages.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/operations.rs
  crates/uv/src/commands/pip/sync.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/tool/run.rs
Due: cargo-fmt

Run Clippy
  crates/uv-installer/src/plan.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/tool/install.rs
Due: cargo-fmt

Rename
  crates/uv-dispatch/src/lib.rs
  crates/uv-installer/src/lib.rs
  crates/uv-installer/src/plan.rs
  crates/uv-installer/src/satisfies.rs
  crates/uv-installer/src/site_packages.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/operations.rs
  crates/uv/src/commands/pip/sync.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/run.rs
Due: cargo-fmt
