Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

.pre-commit-config.yaml:

fail_fast: true

exclude: |
  (?x)^(
    .*/(snapshots)/.*|
  )$

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.42.3
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: local
    hooks:
      - id: cargo-dev-generate-all
        name: cargo dev generate-all
        entry: cargo dev generate-all
        language: system
        types: [rust]
        pass_filenames: false
        files: ^crates/(uv-cli|uv-settings)/

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --ignore-unknown
        language: node
        additional_dependencies: ["prettier@3"]
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

More hawk fixes, fix integration test
  crates/uv-cache/src/lib.rs
  crates/uv-client/src/registry_client.rs
  crates/uv-distribution-types/src/hash.rs
  crates/uv-distribution/src/source/validated_archive.rs
  crates/uv-pypi-types/src/simple_json.rs
  crates/uv-resolver/src/lock/export/pylock_toml.rs
  crates/uv/tests/build/cache_clean.rs
  crates/uv/tests/build/cache_prune.rs
  crates/uv/tests/lock/lock.rs
  crates/uv/tests/pip/pip_sync.rs
  crates/uv/tests/pip_install/pip_install.rs
Due: cargo-fmt

Read local wheel metadata in a blocking task (#21619)
  crates/uv-client/src/registry_client.rs
  crates/uv-metadata/src/lib.rs
  crates/uv-publish/src/lib.rs
Due: cargo-fmt

Remove additional fresh cache tests
  crates/uv-client/tests/it/cached_client.rs
Due: cargo-fmt

Decode fresh HTTP cache entries in the read task (#21621)
  crates/uv-client/src/cached_client.rs
Due: cargo-fmt

Test wheel installs without Windows long-path opt-in
  crates/uv/tests/pip_install/pip_install.rs
Due: cargo-fmt

Update Windows long-path error snapshot
  crates/uv/tests/pip_install/pip_install.rs
Due: cargo-fmt

Fix atomic copies to long Windows paths
  crates/uv-fs/src/lib.rs
  crates/uv/tests/pip_install/pip_install.rs
Due: cargo-fmt

Mark batch exports as a preview feature
  crates/uv-cli/src/lib.rs
  crates/uv-dev/src/generate_preview_features_reference.rs
  crates/uv-preview/src/lib.rs
  crates/uv/src/commands/project/export.rs
  crates/uv/tests/project/export.rs
  uv.schema.json
Due: cargo-fmt, cargo-dev-generate-all

Update preview feature snapshot for batch exports
  crates/uv/tests/sync/show_settings.rs
Due: cargo-fmt

Wrap temporary files to handle long Windows paths
  crates/uv-fs/src/lib.rs
  crates/uv-fs/src/named_temp_file.rs
Due: cargo-fmt

Document and simplify temporary file wrapper
  crates/uv-fs/src/named_temp_file.rs
  crates/uv-test/src/vendor.rs
Due: cargo-fmt

Remove redundant tempfile unit test
  crates/uv-fs/src/named_temp_file.rs
Due: cargo-fmt

Remove unused public tempfile path accessor
  crates/uv-fs/src/named_temp_file.rs
Due: cargo-fmt

Bound Python installation concurrency in CI
  .config/nextest.toml
Due: none

Cache bootstrap Python installations in Windows CI
  .github/workflows/test.yml
Due: none

Remove duplicate macOS system Python checks
  .github/workflows/test-system.yml
Due: none

Skip retry delays when testing rejected source archives
  crates/uv/tests/lock/lock.rs
Due: cargo-fmt

Keep Windows registry-writing tests serialized
  .config/nextest.toml
Due: none

Remove duplicate tests and correct copied scenarios
  crates/uv/tests/it/version.rs
  crates/uv/tests/pip_compile/pip_compile.rs
  crates/uv/tests/project/edit.rs
  crates/uv/tests/python/python_module.rs
  crates/uv/tests/python/python_upgrade.rs
Due: cargo-fmt

Use small local wheel fixtures in tool tests
  crates/uv/tests/tool/main.rs
  crates/uv/tests/tool/tool_install.rs
  crates/uv/tests/tool/tool_test_index.rs
  crates/uv/tests/tool/tool_upgrade.rs
Due: cargo-fmt

Remove duplicate tests and correct copied scenarios (#21633)
  crates/uv/tests/it/version.rs
  crates/uv/tests/pip_compile/pip_compile.rs
  crates/uv/tests/project/edit.rs
  crates/uv/tests/python/python_module.rs
  crates/uv/tests/python/python_upgrade.rs
Due: cargo-fmt

Skip retry delays when testing rejected source archives (#21629)
  crates/uv/tests/lock/lock.rs
Due: cargo-fmt

Measure Windows Python bootstrap locations and cache restore
  .github/workflows/ci.yml
  scripts/measure-python-bootstrap.ps1
Due: none

Keep bootstrap benchmark on streaming download path
  .github/workflows/ci.yml
  scripts/measure-python-bootstrap.ps1
Due: none

Use monotonic timing across benchmark steps
  scripts/measure-python-bootstrap.ps1
Due: none

Exclude Python version aliases from benchmark installation count
  scripts/measure-python-bootstrap.ps1
Due: none

Keep Windows bootstrap Python installs uncached
  .github/workflows/test.yml
Due: none

Measure production Python paths and record restore failures
  .github/workflows/ci.yml
  scripts/measure-python-bootstrap.ps1
Due: none

Wrap temporary files to handle long Windows paths (#21627)
  crates/uv-fs/src/lib.rs
  crates/uv-fs/src/named_temp_file.rs
  crates/uv-test/src/vendor.rs
Due: cargo-fmt

Configure managed Python in the Dev Drive setup script
  .github/workflows/setup-dev-drive.ps1
  .github/workflows/test.yml
Due: none

Retain default macOS Python system coverage
  .github/workflows/test-system.yml
Due: none

Reuse Python downloads and prerelease test setup
  crates/uv/tests/python/python_install.rs
Due: cargo-fmt

Share Python download cache by default in integration tests
  crates/uv-test/src/lib.rs
  crates/uv/tests/it/network.rs
  crates/uv/tests/pip/pip_sync.rs
  crates/uv/tests/pip_compile/pip_compile.rs
  crates/uv/tests/pip_install/pip_install.rs
  crates/uv/tests/python/python_find.rs
  crates/uv/tests/python/python_install.rs
  crates/uv/tests/python/python_upgrade.rs
  crates/uv/tests/sync/centralized_project_envs.rs
  crates/uv/tests/sync/sync.rs
Due: cargo-fmt

Remove redundant Homebrew Python system job on macOS (#21631)
  .github/workflows/test-system.yml
Due: none

Reuse the shared index server in tool tests
  crates/uv-test/src/packse/mod.rs
  crates/uv-test/src/packse/server.rs
  crates/uv/tests/tool/fixtures.rs
  crates/uv/tests/tool/main.rs
  crates/uv/tests/tool/tool_install.rs
  crates/uv/tests/tool/tool_upgrade.rs
Due: cargo-fmt

Install Windows CI bootstrap Python on the Dev Drive (#21630)
  .github/workflows/setup-dev-drive.ps1
Due: none

Share Python download cache by default in integration tests (#21632)
  crates/uv-test/src/lib.rs
  crates/uv/tests/it/network.rs
  crates/uv/tests/pip/pip_sync.rs
  crates/uv/tests/pip_compile/pip_compile.rs
  crates/uv/tests/pip_install/pip_install.rs
  crates/uv/tests/python/python_find.rs
  crates/uv/tests/python/python_install.rs
  crates/uv/tests/python/python_upgrade.rs
  crates/uv/tests/sync/centralized_project_envs.rs
  crates/uv/tests/sync/sync.rs
Due: cargo-fmt

Add entry points to Packse scenarios
  crates/uv-test/src/packse/mod.rs
  crates/uv-test/src/packse/scenario.rs
  crates/uv-test/src/packse/server.rs
  crates/uv-test/src/packse/wheel.rs
  crates/uv/tests/pip_install/direct_url_hashes.rs
  crates/uv/tests/pip_install/pip_install.rs
  crates/uv/tests/tool/fixtures.rs
  crates/uv/tests/tool/main.rs
  crates/uv/tests/tool/tool_install.rs
  crates/uv/tests/tool/tool_upgrade.rs
Due: cargo-fmt

Allow more time for walltime benchmarks
  .github/workflows/bench.yml
Due: none

Update installation.md
  docs/getting-started/installation.md
Due: none
