Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-dev-generate-all:
  name: cargo dev generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

Add a fake exe for Windows
  crates/uv/tests/it/python_module.rs
  scripts/packages/fake-uv/scripts/uv.exe
Due: cargo-fmt

Fix warnings when running tests with a subset of features (#15120)
  crates/uv/tests/it/export.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Add filter for the lib directory
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/pip_uninstall.rs
  crates/uv/tests/it/python_module.rs
Due: cargo-fmt

support gui overlays
  crates/uv/src/commands/project/run.rs
  crates/uv/tests/it/run.rs
Due: cargo-fmt

Ensure symlink warning is shown
  crates/uv-cli/src/lib.rs
  crates/uv-install-wheel/src/linker.rs
  crates/uv-settings/src/settings.rs
  docs/reference/cli.md
  docs/reference/settings.md
  uv.schema.json
Due: cargo-fmt, cargo-dev-generate-all

Consolidate CI keyring tests
  .github/workflows/ci.yml
Due: none

Use vendored keyring
  Cargo.lock
  Cargo.toml
  crates/uv-auth/Cargo.toml
  crates/uv-auth/src/keyring.rs
  crates/uv-auth/src/middleware.rs
Due: cargo-fmt

Integrate system keyring via `native` keyring provider backend
  Cargo.lock
  Cargo.toml
  crates/uv-auth/Cargo.toml
  crates/uv-auth/src/keyring.rs
  crates/uv-auth/src/middleware.rs
  crates/uv-configuration/src/authentication.rs
  docs/reference/cli.md
  uv.schema.json
Due: cargo-fmt

Add test cases for `find_uv_bin` (#15110)
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/main.rs
  crates/uv/tests/it/pip_uninstall.rs
  crates/uv/tests/it/python_module.rs
  scripts/packages/fake-uv/README.md
  scripts/packages/fake-uv/pyproject.toml
  scripts/packages/fake-uv/scripts/uv
  scripts/packages/fake-uv/scripts/uv.exe
  scripts/packages/fake-uv/src
Due: cargo-fmt

Update `find_uv_bin` to locate uv in the base prefix
  crates/uv/tests/it/python_module.rs
  python/uv/_find_uv.py
Due: cargo-fmt

Sync latest Python releases
  crates/uv-dev/src/generate_sysconfig_mappings.rs
  crates/uv-python/download-metadata.json
  crates/uv-python/src/sysconfig/generated_mappings.rs
  crates/uv/tests/it/python_install.rs
Due: cargo-fmt

Upgrade h2 again (#15111)
  Cargo.lock
  Cargo.toml
Due: none

Ensure symlink warning is shown (#15126)
  crates/uv-cli/src/lib.rs
  crates/uv-install-wheel/src/linker.rs
  crates/uv-settings/src/settings.rs
  docs/reference/cli.md
  docs/reference/settings.md
  uv.schema.json
Due: cargo-fmt, cargo-dev-generate-all

Validate streaming zips to reject repeated entries and other malformed files
  Cargo.lock
  Cargo.toml
  crates/uv-dev/Cargo.toml
  crates/uv-dev/src/lib.rs
  crates/uv-dev/src/validate_zip.rs
  crates/uv-extract/Cargo.toml
  crates/uv-extract/src/error.rs
  crates/uv-extract/src/stream.rs
  crates/uv-metadata/src/lib.rs
  crates/uv-static/src/env_vars.rs
  crates/uv/Cargo.toml
  crates/uv/tests/it/extract.rs
  crates/uv/tests/it/main.rs
  crates/uv/tests/it/pip_install.rs
  docs/reference/environment.md
Due: cargo-fmt

Harden ZIP streaming to reject repeated entries and other malformed ZIP files (#15136)
  Cargo.lock
  Cargo.toml
  crates/uv-dev/Cargo.toml
  crates/uv-dev/src/lib.rs
  crates/uv-dev/src/validate_zip.rs
  crates/uv-extract/Cargo.toml
  crates/uv-extract/src/error.rs
  crates/uv-extract/src/stream.rs
  crates/uv-metadata/src/lib.rs
  crates/uv-static/src/env_vars.rs
  crates/uv/Cargo.toml
  crates/uv/tests/it/extract.rs
  crates/uv/tests/it/main.rs
  crates/uv/tests/it/pip_install.rs
  docs/reference/environment.md
Due: cargo-fmt

Bump version to v0.8.6
  CHANGELOG.md
  Cargo.lock
  crates/uv-build/Cargo.toml
  crates/uv-build/pyproject.toml
  crates/uv-version/Cargo.toml
  crates/uv/Cargo.toml
  docs/concepts/build-backend.md
  docs/concepts/projects/init.md
  docs/concepts/projects/workspaces.md
  docs/getting-started/installation.md
  docs/guides/integration/aws-lambda.md
  docs/guides/integration/docker.md
  docs/guides/integration/github.md
  docs/guides/integration/pre-commit.md
  pyproject.toml
Due: none

Consider pythonw when copying entrypoints in uv run (#15134)
  crates/uv/src/commands/project/run.rs
  crates/uv/tests/it/run.rs
Due: cargo-fmt

Add 2 missing dots to MD lists
  docs/getting-started/features.md
Due: none

Bump version to v0.8.6 (#15137)
  CHANGELOG.md
  Cargo.lock
  crates/uv-build/Cargo.toml
  crates/uv-build/pyproject.toml
  crates/uv-version/Cargo.toml
  crates/uv/Cargo.toml
  docs/concepts/build-backend.md
  docs/concepts/projects/init.md
  docs/concepts/projects/workspaces.md
  docs/getting-started/installation.md
  docs/guides/integration/aws-lambda.md
  docs/guides/integration/docker.md
  docs/guides/integration/github.md
  docs/guides/integration/pre-commit.md
  pyproject.toml
Due: none

Fixup changelog
  CHANGELOG.md
Due: none

Fixes to the 0.8.6 changelog (#15139)
  CHANGELOG.md
Due: none

Add links to CHANGELOG
  CHANGELOG.md
Due: none

Add links to CHANGELOG (#15140)
  CHANGELOG.md
Due: none

Add keyring integration test
  crates/uv-auth/Cargo.toml
  crates/uv/Cargo.toml
  crates/uv/tests/it/edit.rs
Due: cargo-fmt

Update `find_uv_bin` to locate uv in the base prefix (#14181)
  crates/uv/tests/it/python_module.rs
  python/uv/_find_uv.py
Due: cargo-fmt

Refactor `find_uv_bin` and add a better error message
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/python_module.rs
  python/uv/_find_uv.py
Due: cargo-fmt

chore(ci): fix lint findings in build-docker
  .github/workflows/build-docker.yml
Due: none

refactor(uv-trampoline): use PE resources to store trampoline type + path to python binary
  Cargo.lock
  Cargo.toml
  crates/uv-distribution/src/metadata/requires_dist.rs
  crates/uv-install-wheel/Cargo.toml
  crates/uv-install-wheel/src/lib.rs
  crates/uv-install-wheel/src/wheel.rs
  crates/uv-python/Cargo.toml
  crates/uv-python/src/managed.rs
  crates/uv-trampoline-builder/Cargo.toml
  crates/uv-trampoline-builder/src/lib.rs
  crates/uv-trampoline/Cargo.toml
  crates/uv-trampoline/README.md
  crates/uv-trampoline/src/bounce.rs
  crates/uv-trampoline/trampolines/uv-trampoline-i686-console.exe
  crates/uv-trampoline/trampolines/uv-trampoline-i686-gui.exe
  crates/uv-trampoline/trampolines/uv-trampoline-x86_64-console.exe
  crates/uv-trampoline/trampolines/uv-trampoline-x86_64-gui.exe
  crates/uv/Cargo.toml
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/python/install.rs
Due: cargo-fmt

chore(ci): add zizmor workflow
  .github/workflows/zizmor.yml
Due: none

Add a regression test for `--require-hashes` with unpinned build requirements
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

chore(ci): fix lint findings in build-docker (#15145)
  .github/workflows/build-docker.yml
Due: none

Add a regression test for `--require-hashes` with unpinned build requirements (#15147)
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Refactor `find_uv_bin` and add a better error message (#14182)
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/python_module.rs
  python/uv/_find_uv.py
Due: cargo-fmt

Add support for `--prefix` installations in `find_uv_bin`
  python/uv/_find_uv.py
Due: none

Require matching parents
  crates/uv/tests/it/python_module.rs
  python/uv/_find_uv.py
Due: cargo-fmt

chore(ci): add zizmor workflow (#15148)
  .github/workflows/zizmor.yml
Due: none

Improve testing
  crates/uv-platform/src/arch.rs
  crates/uv-platform/src/lib.rs
  crates/uv-python/src/installation.rs
Due: cargo-fmt

Fix handling for Windows
  python/uv/_find_uv.py
Due: none

Add missing periods (`.`) to list elements in `Features` docs page (#15138)
  docs/getting-started/features.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/(snapshots)/.*|
)$

  cargo-dev-generate-all: any of: ^crates/(uv-cli|uv-settings)/ and \.rs$ and not ((?x)^(
  .*/(snapshots)/.*|
)$
)
