Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

.pre-commit-config.yaml:

fail_fast: true

exclude: |
  (?x)^(
    .*/(snapshots)/.*|
  )$

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.42.3
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: local
    hooks:
      - id: cargo-dev-generate-all
        name: cargo dev generate-all
        entry: cargo dev generate-all
        language: system
        types: [rust]
        pass_filenames: false
        files: ^crates/(uv-cli|uv-settings)/

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --ignore-unknown
        language: node
        additional_dependencies: ["prettier@3"]
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

Add preview feature for build dependency hashes
  crates/uv-dev/src/generate_preview_features_reference.rs
  crates/uv-preview/src/lib.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/sync.rs
  crates/uv/tests/pip/pip_sync.rs
  crates/uv/tests/pip_install/pip_install.rs
  crates/uv/tests/sync/show_settings.rs
  uv.schema.json
Due: cargo-fmt

Borrow build exclude patterns to avoid quadratic deduplication (#21650)
  crates/uv-build-backend/src/source_dist.rs
  crates/uv-build-backend/src/wheel.rs
Due: cargo-fmt

Separate requirement scope from diagnostic origin
  crates/uv-distribution-types/src/requirement.rs
  crates/uv-distribution/src/metadata/lowering.rs
  crates/uv-distribution/src/metadata/requires_dist.rs
  crates/uv-lock/src/lock/mod.rs
  crates/uv-resolver/src/pubgrub/dependencies.rs
  crates/uv-resolver/src/resolver/fork_map.rs
  crates/uv-resolver/src/resolver/requirements.rs
  crates/uv-types/src/hash.rs
  crates/uv-workspace/src/workspace.rs
  crates/uv/src/commands/pip/operations.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/run.rs
Due: cargo-fmt

Update requirement scope in verbose lock snapshot
  crates/uv/tests/lock/lock.rs
Due: cargo-fmt

Refresh libc snapshots for widened required-environment forks
  crates/uv/tests/lock/minimum_libc.rs
Due: cargo-fmt

Clarify requirement scope documentation
  crates/uv-distribution-types/src/requirement.rs
Due: cargo-fmt

Restore the locked tempfile dependency selection
  Cargo.lock
Due: none

Separate requirement scope from diagnostic origin (#21799)
  Cargo.lock
  crates/uv-distribution-types/src/requirement.rs
  crates/uv-distribution/src/metadata/lowering.rs
  crates/uv-distribution/src/metadata/requires_dist.rs
  crates/uv-lock/src/lock/mod.rs
  crates/uv-resolver/src/pubgrub/dependencies.rs
  crates/uv-resolver/src/resolver/fork_map.rs
  crates/uv-resolver/src/resolver/requirements.rs
  crates/uv-types/src/hash.rs
  crates/uv-workspace/src/workspace.rs
  crates/uv/src/commands/pip/operations.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/tests/lock/lock.rs
  crates/uv/tests/lock/minimum_libc.rs
Due: cargo-fmt

Refactor test_publish
  scripts/publish/test_publish.py
Due: none

Fix ty
  scripts/publish/test_publish.py
Due: none

Trim
  scripts/publish/test_publish.py
Due: none

Bound Python installation concurrency in CI
  .config/nextest.toml
Due: none

Limit Python test scheduling changes to macOS
  .config/nextest.toml
Due: none

Keep Windows registry-writing tests serialized
  .config/nextest.toml
Due: none

Remove CLAUDE.md
  CLAUDE.md
Due: none

Remove CLAUDE.md (#21830)
  CLAUDE.md
Due: none

Format installation-order documentation
  docs/pip/compatibility.md
Due: none

Hush more logs
  .github/workflows/ci.yml
  scripts/publish/test_publish.py
Due: none

Support additional wheel files in Packse scenarios
  crates/uv-test/src/packse/scenario.rs
  crates/uv-test/src/packse/server.rs
  crates/uv-test/src/packse/wheel.rs
  crates/uv/tests/pip_install/install_order.rs
  crates/uv/tests/pip_install/pip_install.rs
  crates/uv/tests/sync/sync.rs
  crates/uv/tests/tool/tool_install.rs
Due: cargo-fmt

Use Packse scenarios for installation-order tests
  crates/uv/tests/pip_install/install_order.rs
Due: cargo-fmt

Remove pdm-backend
  scripts/publish/build-requirements.in
  scripts/publish/build-requirements.txt
  scripts/publish/test_publish.py
Due: none

Add `uv publish --output-format=json`
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/publish.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/publish.rs
  crates/uv/tests/sync/show_settings.rs
Due: cargo-fmt, cargo-dev-generate-all

fix docs publication to astral-sh/docs
  .github/workflows/publish-docs.yml
Due: none

fix docs publication to astral-sh/docs (#21832)
  .github/workflows/publish-docs.yml
Due: none

Add code coverage + HTML report machinery
  .cargo/coverage.toml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/plan.yml
  .github/workflows/test.yml
  CONTRIBUTING.md
  Cargo.lock
  crates/uv-dev/Cargo.toml
  crates/uv-dev/src/coverage.rs
  crates/uv-dev/src/lib.rs
  crates/uv-dev/src/main.rs
  scripts/coverage-html-report.py
  scripts/coverage-html-report.py.lock
Due: cargo-fmt

Fix paths
  CONTRIBUTING.md
Due: none

Simplify command building nastiness
  .github/workflows/test.yml
Due: none

Add --frozen to tip
  crates/uv-dev/src/coverage.rs
Due: cargo-fmt

Typo
  CONTRIBUTING.md
Due: none

Simplify test
  crates/uv/tests/it/publish.rs
Due: cargo-fmt

Collect dependency component lookup
  crates/uv-distribution-types/src/resolution.rs
Due: cargo-fmt

Clarify resolution component terminology
  crates/uv-distribution-types/src/resolution.rs
  crates/uv-installer/src/install_order.rs
Due: cargo-fmt

ci: watch Dockerfile in trampoline repro check
  .github/workflows/plan.yml
Due: none

Validate wheel compatibility against each Python fork
  crates/uv-distribution-types/src/prioritized_distribution.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv/tests/lock/lock.rs
Due: cargo-fmt

Limit fork wheel validation to Python upper bounds
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv/tests/it/snapshots/it__ecosystem__transformers-lock-file.snap
  crates/uv/tests/it/snapshots/it__ecosystem__transformers-uv-lock-output.snap
  crates/uv/tests/lock/lock.rs
Due: cargo-fmt

Update tikv-jemallocator to 0.7.0
  Cargo.lock
  crates/uv-performance-memory-allocator/Cargo.toml
Due: none

Skip cached releases with proven dependency conflicts
  crates/uv-resolver/src/resolver/batch_prefetch.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-test/src/packse/server.rs
  crates/uv/tests/lock/lock.rs
  docs/reference/internals/resolver.md
Due: cargo-fmt

Validate wheel compatibility against each Python fork (#21835)
  crates/uv-distribution-types/src/prioritized_distribution.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv/tests/it/snapshots/it__ecosystem__transformers-lock-file.snap
  crates/uv/tests/it/snapshots/it__ecosystem__transformers-uv-lock-output.snap
  crates/uv/tests/lock/lock.rs
Due: cargo-fmt

Use implied markers to validate Python wheel compatibility
  crates/uv-distribution-types/src/prioritized_distribution.rs
  crates/uv/tests/lock/lock.rs
Due: cargo-fmt

Use implied markers to validate Python wheel compatibility (#21836)
  crates/uv-distribution-types/src/prioritized_distribution.rs
  crates/uv/tests/lock/lock.rs
Due: cargo-fmt
