Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-dev-generate-all:
  name: cargo dev generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

Update pip-and-uv strictness example (#8822)
  docs/pip/compatibility.md
Due: none

Remove all special-casing for local version identifiers
  crates/uv-requirements/src/lookahead.rs
  crates/uv-resolver/src/manifest.rs
  crates/uv-resolver/src/resolver/locals.rs
  crates/uv-resolver/src/resolver/locals/tests.rs
  crates/uv-resolver/src/resolver/mod.rs
  docs/pip/compatibility.md
Due: cargo-fmt

Enable support for arbitrary git transports
  crates/uv-pep508/src/verbatim_url.rs
Due: cargo-fmt

Clippy fixes
  crates/uv-pep508/src/verbatim_url.rs
Due: cargo-fmt

Enable support for arbitrary git transports (#8769)
  crates/uv-pep508/src/verbatim_url.rs
Due: cargo-fmt

Use `Ranges::from_iter` over `Ranges::iter_mut`
  Cargo.lock
  Cargo.toml
  crates/uv-resolver/src/error.rs
Due: cargo-fmt

Warn on failure to query system configuration file
  crates/uv-settings/src/lib.rs
Due: cargo-fmt, cargo-dev-generate-all

Warn on failure to query system configuration file (#8829)
  crates/uv-settings/src/lib.rs
Due: cargo-fmt, cargo-dev-generate-all

uv-pep440: DRY up VersionSmall implementation
  crates/uv-pep440/src/version.rs
Due: cargo-fmt

Show dedicated error for trailing ; on URL and path requirements
  crates/uv-pep508/src/lib.rs
  crates/uv-pep508/src/tests.rs
  crates/uv-pep508/src/unnamed.rs
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

uv-pep440: DRY up VersionSmall implementation (#8834)
  crates/uv-pep440/src/version.rs
Due: cargo-fmt

Show dedicated error for trailing ; on URL and path requirements (#8835)
  crates/uv-pep508/src/lib.rs
  crates/uv-pep508/src/tests.rs
  crates/uv-pep508/src/unnamed.rs
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Using `--build-backend` in `uv init` implies `--package`
  crates/uv/src/commands/project/init.rs
Due: cargo-fmt

Add further examples of git+https support
  docs/guides/tools.md
Due: none

Using `--build-backend` in `uv init` implies `--package` (#8837)
  crates/uv/src/commands/project/init.rs
Due: cargo-fmt

Allow semicolons directly after direct URLs
  crates/uv-pep508/src/lib.rs
  crates/uv-pep508/src/tests.rs
  crates/uv-pep508/src/unnamed.rs
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-unix-editable.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-unix-hash.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-unix-semicolon.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-windows-editable.txt.snap
  crates/uv-requirements-txt/test-data/requirements-txt/editable.txt
  crates/uv-requirements-txt/test-data/requirements-txt/semicolon.txt
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/pip_sync.rs
Due: cargo-fmt

Fork
  crates/uv-resolver/src/candidate_selector.rs
  crates/uv-resolver/src/resolution_mode.rs
  crates/uv-resolver/src/resolver/batch_prefetch.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv/tests/it/pip_compile.rs
Due: cargo-fmt

Allow semicolons directly after direct URLs (#8836)
  crates/uv-pep508/src/lib.rs
  crates/uv-pep508/src/tests.rs
  crates/uv-pep508/src/unnamed.rs
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-unix-editable.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-unix-hash.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-unix-semicolon.txt.snap
  crates/uv-requirements-txt/src/snapshots/uv_requirements_txt__test__parse-windows-editable.txt.snap
  crates/uv-requirements-txt/test-data/requirements-txt/editable.txt
  crates/uv-requirements-txt/test-data/requirements-txt/semicolon.txt
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/pip_sync.rs
Due: cargo-fmt

Respect fork markers in `--resolution-mode=lowest-direct` (#8839)
  crates/uv-resolver/src/candidate_selector.rs
  crates/uv-resolver/src/resolution_mode.rs
  crates/uv-resolver/src/resolver/batch_prefetch.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv/tests/it/pip_compile.rs
Due: cargo-fmt

docs: fix `uv python install` docs to use an exisigin pypy version
  docs/guides/install-python.md
Due: none

docs: fix `uv python install` docs to use an exisigin pypy version (#8845)
  docs/guides/install-python.md
Due: none

Revert "Using `--build-backend` in `uv init` implies `--package` (#8837)"
  crates/uv/src/commands/project/init.rs
Due: cargo-fmt

Revert "Using `--build-backend` in `uv init` implies `--package` (#8837)" (#8850)
  crates/uv/src/commands/project/init.rs
Due: cargo-fmt

Use 3.13 in CI (#8014)
  .github/workflows/ci.yml
  .python-versions
  crates/uv/tests/it/venv.rs
Due: cargo-fmt

Improve interactions between color environment variables and CLI options (#8215)
  crates/uv-cli/src/lib.rs
  crates/uv/src/settings.rs
Due: cargo-fmt, cargo-dev-generate-all

do not imply pre-release when `!=` operator is used (#7974)
  crates/uv-resolver/src/prerelease.rs
  crates/uv/tests/it/pip_compile.rs
Due: cargo-fmt

Error when disallowed settings are defined in `uv.toml` (#8550)
  crates/uv-settings/src/combine.rs
  crates/uv-settings/src/lib.rs
  crates/uv-settings/src/settings.rs
  crates/uv-workspace/src/pyproject.rs
  crates/uv/tests/it/pip_install.rs
  docs/reference/settings.md
Due: cargo-fmt, cargo-dev-generate-all

Use XDG (i.e. `~/.local/bin`) instead of the Cargo home directory in the installer (#8420)
  Cargo.toml
  docs/configuration/installer.md
  docs/getting-started/installation.md
Due: none

Treat the base Conda environment as a system environment (#7691)
  crates/uv-python/src/discovery.rs
  crates/uv-python/src/tests.rs
  crates/uv-python/src/virtualenv.rs
  crates/uv-static/src/env_vars.rs
  docs/configuration/environment.md
Due: cargo-fmt

Use base executable to set virtualenv Python path (#8481)
  crates/uv-python/python/get_interpreter_info.py
  crates/uv-python/src/interpreter.rs
  crates/uv-virtualenv/src/virtualenv.rs
Due: cargo-fmt

Make `--allow-insecure-host` a global option (#8476)
  crates/uv-cli/src/lib.rs
  crates/uv-cli/src/options.rs
  crates/uv-settings/src/settings.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/sync.rs
  crates/uv/src/commands/pip/uninstall.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/environment.rs
  crates/uv/src/commands/project/export.rs
  crates/uv/src/commands/project/init.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/remove.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/project/tree.rs
  crates/uv/src/commands/publish.rs
  crates/uv/src/commands/python/install.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/src/commands/tool/upgrade.rs
  crates/uv/src/commands/venv.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/help.rs
  crates/uv/tests/it/show_settings.rs
  docs/reference/cli.md
  docs/reference/settings.md
  uv.schema.json
Due: cargo-fmt, cargo-dev-generate-all

Eliminate dependencies on `directores` and `dirs-sys` (#8048)
  Cargo.lock
  Cargo.toml
  crates/uv-dirs/Cargo.toml
  crates/uv-dirs/src/lib.rs
  crates/uv-settings/Cargo.toml
  crates/uv-settings/src/lib.rs
  crates/uv-tool/src/lib.rs
Due: cargo-fmt, cargo-dev-generate-all

Discover and respect `.python-version` files in parent directories (#6370)
  crates/uv-python/src/lib.rs
  crates/uv-python/src/version_files.rs
  crates/uv-scripts/src/lib.rs
  crates/uv-workspace/src/workspace.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/export.rs
  crates/uv/src/commands/project/init.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/remove.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/project/tree.rs
  crates/uv/src/commands/python/find.rs
  crates/uv/src/commands/python/install.rs
  crates/uv/src/commands/python/pin.rs
  crates/uv/src/commands/venv.rs
  crates/uv/src/lib.rs
  crates/uv/tests/it/init.rs
  crates/uv/tests/it/python_find.rs
  crates/uv/tests/it/sync.rs
  crates/uv/tests/it/venv.rs
Due: cargo-fmt

working local version semantics
  crates/uv-pep440/src/lib.rs
  crates/uv-pep440/src/version.rs
  crates/uv-pep440/src/version/tests.rs
  crates/uv-pep440/src/version_ranges.rs
  crates/uv-pep440/src/version_specifier.rs
  crates/uv-pep440/src/version_specifier/tests.rs
  crates/uv-python/src/discovery.rs
  crates/uv-resolver/src/error.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv/tests/it/lock_scenarios.rs
  crates/uv/tests/it/pip_compile.rs
  crates/uv/tests/it/pip_install_scenarios.rs
  crates/uv/tests/it/snapshots/it__ecosystem__transformers-lock-file.snap
  crates/uv/tests/it/snapshots/it__ecosystem__transformers-uv-lock-output.snap
  scripts/scenarios/generate.py
Due: cargo-fmt

Implement PEP 440-compliant local version semantics (#8797)
  crates/uv-pep440/src/lib.rs
  crates/uv-pep440/src/version.rs
  crates/uv-pep440/src/version/tests.rs
  crates/uv-pep440/src/version_ranges.rs
  crates/uv-pep440/src/version_specifier.rs
  crates/uv-pep440/src/version_specifier/tests.rs
  crates/uv-python/src/discovery.rs
  crates/uv-resolver/src/error.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv/tests/it/lock_scenarios.rs
  crates/uv/tests/it/pip_compile.rs
  crates/uv/tests/it/pip_install_scenarios.rs
  crates/uv/tests/it/snapshots/it__ecosystem__transformers-lock-file.snap
  crates/uv/tests/it/snapshots/it__ecosystem__transformers-uv-lock-output.snap
  scripts/scenarios/generate.py
Due: cargo-fmt

Remove all special-casing for local version identifiers (#8818)
  crates/uv-requirements/src/lookahead.rs
  crates/uv-resolver/src/manifest.rs
  crates/uv-resolver/src/resolver/locals.rs
  crates/uv-resolver/src/resolver/locals/tests.rs
  crates/uv-resolver/src/resolver/mod.rs
  docs/pip/compatibility.md
Due: cargo-fmt

Incorporate [max] local version into VersionSmall
  crates/uv-cache/src/lib.rs
  crates/uv-pep440/src/version.rs
  crates/uv/tests/it/cache_clean.rs
  crates/uv/tests/it/cache_prune.rs
Due: cargo-fmt

Incorporate `[max]` local version into `VersionSmall` (#8843)
  crates/uv-cache/src/lib.rs
  crates/uv-pep440/src/version.rs
  crates/uv/tests/it/cache_clean.rs
  crates/uv/tests/it/cache_prune.rs
Due: cargo-fmt

Use a + for the visual max local
  crates/uv-pep440/src/version.rs
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/(snapshots)/.*|
)$

  cargo-dev-generate-all: any of: ^crates/(uv-cli|uv-settings)/ and \.rs$ and not ((?x)^(
  .*/(snapshots)/.*|
)$
)
