Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-dev-generate-all:
  name: cargo dev generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

Update crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Update snapshot
  crates/uv/tests/it/tool_run.rs
Due: cargo-fmt

Use DisplaySafeUrl to readact a URL in a trace log
  crates/uv-client/src/base_client.rs
Due: cargo-fmt

Use DisplaySafeUrl to readact a URL in a trace log (#17346)
  crates/uv-client/src/base_client.rs
Due: cargo-fmt

clippy
  crates/uv-client/src/html.rs
Due: cargo-fmt

Initial PEP 792 types and index parsing
  Cargo.lock
  crates/uv-client/src/flat_index.rs
  crates/uv-client/src/html.rs
  crates/uv-client/src/registry_client.rs
  crates/uv-pypi-types/Cargo.toml
  crates/uv-pypi-types/src/lib.rs
  crates/uv-pypi-types/src/project_status.rs
  crates/uv-pypi-types/src/simple_json.rs
Due: cargo-fmt

DRY up attribute extraction
  crates/uv-client/src/html.rs
Due: cargo-fmt

clippy
  crates/uv-client/src/html.rs
  crates/uv-pypi-types/src/project_status.rs
Due: cargo-fmt

update snapshots
  crates/uv-client/src/html.rs
  crates/uv-pypi-types/src/simple_json.rs
Due: cargo-fmt

squish snapshots
  crates/uv-client/src/html.rs
Due: cargo-fmt

drop inline marker
  crates/uv-client/src/html.rs
Due: cargo-fmt

docs, add Status::new test
  crates/uv-pypi-types/src/project_status.rs
Due: cargo-fmt

single-source status logic, push logging up
  crates/uv-client/src/html.rs
  crates/uv-pypi-types/src/project_status.rs
Due: cargo-fmt

Initial PEP 792 types and index parsing (#17311)
  Cargo.lock
  crates/uv-client/src/flat_index.rs
  crates/uv-client/src/html.rs
  crates/uv-client/src/registry_client.rs
  crates/uv-pypi-types/Cargo.toml
  crates/uv-pypi-types/src/lib.rs
  crates/uv-pypi-types/src/project_status.rs
  crates/uv-pypi-types/src/simple_json.rs
Due: cargo-fmt

Fix Windows trampoline CI rustfmt scope
  .github/workflows/ci.yml
Due: none

Add tests for URL auth with empty username but password
  crates/uv-auth/src/credentials.rs
  crates/uv-auth/src/middleware.rs
Due: cargo-fmt

Use ty to type-check Python files (#17229)
  .github/workflows/ci.yml
  pyproject.toml
  python/uv/_find_uv.py
Due: none

Avoid checking formatting of all files during windows trampoline checks (#17348)
  .github/workflows/ci.yml
Due: none

Only write portable paths in RECORD (#17339)
  crates/uv-install-wheel/src/wheel.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/tool_run.rs
Due: cargo-fmt

Update toml-edit API usage
  crates/uv-workspace/src/pyproject_mut.rs
Due: cargo-fmt

Add Renovate automation for maturin version bumps
  .github/renovate.json5
Due: none

Enable uploads via pre-signed URLs
  crates/uv-cli/src/lib.rs
  crates/uv-preview/src/lib.rs
  crates/uv-publish/src/lib.rs
  crates/uv/src/commands/publish.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
Due: cargo-fmt, cargo-dev-generate-all

Add Renovate automation for maturin version bumps (#17353)
  .github/renovate.json5
Due: none

Add authentication tests for URLs with an empty username (#17347)
  crates/uv-auth/src/credentials.rs
  crates/uv-auth/src/middleware.rs
Due: cargo-fmt

Add llms.txt for LLM documentation consumption
  docs/llms.txt
Due: none

Condense documentation fetch guidance in llms.txt
  docs/llms.txt
Due: none

Add index.md path guidance to llmstxt plugin config
  docs/llms.txt
  mkdocs.template.yml
Due: none

Fix missing dependencies on synthetic root in SBOM export
  crates/uv-resolver/src/lock/export/cyclonedx_json.rs
  crates/uv/tests/it/export.rs
Due: cargo-fmt

Add `index.md` suggestion to `llms.txt` (#17362)
  mkdocs.template.yml
Due: none

Fix missing dependencies on synthetic root in SBOM export (#17363)
  crates/uv-resolver/src/lock/export/cyclonedx_json.rs
  crates/uv/tests/it/export.rs
Due: cargo-fmt

Allow `--bump post` with pre-release bumps
  crates/uv/src/commands/project/version.rs
  crates/uv/tests/it/version.rs
Due: cargo-fmt

Document why parse_xdg_path requires absolute paths
  crates/uv-dirs/src/lib.rs
Due: cargo-fmt

Clarify that `uv run` uses inexact syncing by default
  docs/concepts/projects/sync.md
  docs/guides/projects.md
  docs/js/extra.js
Due: none

Document why `parse_xdg_path` requires absolute paths (#17365)
  crates/uv-dirs/src/lib.rs
Due: cargo-fmt

Support relative paths in override variables for `user_executable_directory`
  crates/uv-dirs/src/lib.rs
Due: cargo-fmt

Review feedback
  crates/uv-publish/src/lib.rs
  crates/uv/src/commands/publish.rs
  crates/uv/tests/it/show_settings.rs
Due: cargo-fmt

Enable uploads via pre-signed URLs (#17349)
  crates/uv-cli/src/lib.rs
  crates/uv-preview/src/lib.rs
  crates/uv-publish/src/lib.rs
  crates/uv/src/commands/publish.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/show_settings.rs
Due: cargo-fmt, cargo-dev-generate-all

Use latest Pyodide version for each python version
  crates/uv-python/fetch-download-metadata.py
Due: none

Use explicit manylinux/musllinux target
  .github/workflows/build-binaries.yml
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/(snapshots)/.*|
)$

  cargo-dev-generate-all: any of: ^crates/(uv-cli|uv-settings)/ and \.rs$ and not ((?x)^(
  .*/(snapshots)/.*|
)$
)
