Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-dev-generate-all:
  name: cargo dev generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

Don't fail if credentials.toml is empty
  crates/uv-auth/src/store.rs
  crates/uv/tests/it/auth.rs
Due: cargo-fmt

Don't fail if credential.toml is empty (#19815)
  crates/uv-auth/src/store.rs
  crates/uv/tests/it/auth.rs
Due: cargo-fmt

Quote prompts in Python activation scripts
  crates/uv-virtualenv/src/activator/activate_this.py
  crates/uv-virtualenv/src/virtualenv.rs
  crates/uv/tests/python/venv.rs
Due: cargo-fmt

Quote prompts in PowerShell activation scripts
  crates/uv-virtualenv/src/activator/activate.ps1
  crates/uv-virtualenv/src/virtualenv.rs
  crates/uv/tests/python/venv.rs
Due: cargo-fmt

Update cargo publish nightly to 2026-06-12
  .github/workflows/publish-crates.yml
Due: none

Update cargo publish nightly to 2026-06-12 (#19789)
  .github/workflows/publish-crates.yml
Due: none

Sync index format when `uv add --index` updates an existing index URL
  crates/uv-workspace/src/pyproject_mut.rs
Due: cargo-fmt

Conditionalize a few new tests on the test-pypi feature
  crates/uv/tests/it/upgrade.rs
Due: cargo-fmt

Add code coverage + HTML report machinery
  .cargo/coverage.toml
  .github/workflows/coverage.yml
  .github/workflows/test.yml
  CONTRIBUTING.md
  Cargo.lock
  crates/uv-dev/Cargo.toml
  crates/uv-dev/src/coverage.rs
  crates/uv-dev/src/lib.rs
  scripts/coverage-html-report.py
Due: cargo-fmt

Remove bz/lzma/xz support from ZIP handling
  Cargo.toml
  crates/uv-bin-install/src/lib.rs
  crates/uv-dev/src/validate_zip.rs
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-distribution/src/source/mod.rs
  crates/uv-extract/Cargo.toml
  crates/uv-extract/src/error.rs
  crates/uv-extract/src/lib.rs
  crates/uv-extract/src/stream.rs
  crates/uv-extract/src/sync.rs
  crates/uv-metadata/src/lib.rs
  crates/uv-python/src/downloads.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/tests/build/extract.rs
  crates/uv/tests/pip_install/pip_install.rs
Due: cargo-fmt

Deconflict
  crates/uv-bench/Cargo.toml
  crates/uv-bench/benches/uv.rs
Due: cargo-fmt

Remove xz support entirely (#19143)
  Cargo.lock
  Cargo.toml
  crates/uv-bench/Cargo.toml
  crates/uv-bin-install/src/lib.rs
  crates/uv-dev/Cargo.toml
  crates/uv-distribution-filename/src/extension.rs
  crates/uv-distribution-filename/src/lib.rs
  crates/uv-distribution-filename/src/source_dist.rs
  crates/uv-distribution-types/src/error.rs
  crates/uv-distribution-types/src/lib.rs
  crates/uv-distribution-types/src/prioritized_distribution.rs
  crates/uv-distribution/Cargo.toml
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-extract/Cargo.toml
  crates/uv-extract/src/stream.rs
  crates/uv-pep508/src/lib.rs
  crates/uv-resolver/src/flat_index.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-resolver/src/version_map.rs
  crates/uv/Cargo.toml
  crates/uv/src/commands/project/lock.rs
  crates/uv/tests/pip/pip_sync.rs
  crates/uv/tests/sync/sync.rs
  docs/concepts/resolution.md
Due: cargo-fmt

Remove WARN chaff
  crates/uv/tests/pip_install/pip_install.rs
  crates/uv/tests/sync/sync.rs
Due: cargo-fmt

Rename "Check wheel contents" job for consistency with the rest of CI
  .github/workflows/build-release-binaries.yml
Due: none

Use plan job to determine coverage run
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/test.yml
Due: none

Rename "Check wheel contents" job for consistency with the rest of CI (#19820)
  .github/workflows/build-release-binaries.yml
Due: none

release: interpose some templates
  .github/workflows/release.yml
Due: none

Add TY and RUFF env overrides for project commands
  crates/uv-static/src/env_vars.rs
  crates/uv/src/commands/project/check/ty.rs
  crates/uv/src/commands/project/format.rs
  crates/uv/tests/project/check.rs
  crates/uv/tests/project/format.rs
Due: cargo-fmt

Remove a blanket permission
  .github/workflows/release.yml
Due: none

Remove coverage.yml
  .github/workflows/coverage.yml
Due: none

Remove test-only changes
  .github/workflows/test.yml
Due: none

Run macos tests if we're collecting coverage
  .github/workflows/ci.yml
  .github/workflows/test.yml
Due: none

Make pool size a property of concurrency
  crates/uv-dev/src/coverage.rs
Due: cargo-fmt

Address review feedback for tool overrides
  crates/uv-settings/src/lib.rs
  crates/uv/src/commands/project/check.rs
  crates/uv/src/commands/project/check/ty.rs
  crates/uv/src/commands/project/format.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/project/check.rs
  crates/uv/tests/project/format.rs
Due: cargo-fmt, cargo-dev-generate-all

Conditionalize a few new tests on the test-pypi feature (#19819)
  crates/uv/tests/it/upgrade.rs
Due: cargo-fmt

Normalize ty version output across platforms
  crates/uv/tests/project/check.rs
Due: cargo-fmt

Add `TY` and `RUFF` env vars for providing paths of binaries used by `format` and `check` (#19821)
  crates/uv-settings/src/lib.rs
  crates/uv-static/src/env_vars.rs
  crates/uv/src/commands/project/check.rs
  crates/uv/src/commands/project/check/ty.rs
  crates/uv/src/commands/project/format.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/project/check.rs
  crates/uv/tests/project/format.rs
Due: cargo-fmt, cargo-dev-generate-all

Redact sensitive parts of URLs in reqwest errors
  crates/uv-client/src/error.rs
  crates/uv-publish/src/lib.rs
  crates/uv-publish/src/trusted_publishing.rs
  crates/uv-publish/src/trusted_publishing/pypi.rs
  crates/uv-publish/src/trusted_publishing/pyx.rs
  crates/uv/tests/it/publish.rs
Due: cargo-fmt

Only instrument workspace members
  .cargo/coverage.toml
  crates/uv-dev/src/coverage.rs
  crates/uv-dev/src/lib.rs
  crates/uv-dev/src/main.rs
Due: cargo-fmt

Don't capture secrets in tracing
  crates/uv-auth/src/keyring.rs
  crates/uv-python/src/downloads.rs
Due: cargo-fmt

Allow uv upgrade to target dependency patterns
  Cargo.lock
  crates/uv-cli/src/lib.rs
  crates/uv/Cargo.toml
  crates/uv/src/commands/project/upgrade.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/upgrade.rs
Due: cargo-fmt, cargo-dev-generate-all

Don't capture secrets in tracing (#19826)
  crates/uv-auth/src/keyring.rs
  crates/uv-python/src/downloads.rs
Due: cargo-fmt

Use remove_dir for Windows junctions
  crates/uv-fs/src/lib.rs
Due: cargo-fmt

Inline minor version link target check
  crates/uv-python/src/managed.rs
Due: cargo-fmt

Use fs_err::read_link to read Windows junctions
  crates/uv-fs/src/lib.rs
  crates/uv-python/src/managed.rs
Due: cargo-fmt

Avoid traversing links in remove_virtualenv
  crates/uv-fs/src/lib.rs
  crates/uv-virtualenv/src/virtualenv.rs
Due: cargo-fmt

Preserve project environment selection provenance
  crates/uv-workspace/src/lib.rs
  crates/uv-workspace/src/workspace.rs
Due: cargo-fmt

Refactor project environment discovery
  crates/uv/src/commands/project/mod.rs
Due: cargo-fmt

Enforce sdists-before-wheels when publishing
  crates/uv/src/commands/publish.rs
  crates/uv/tests/it/publish.rs
Due: cargo-fmt

Flip it and reverse it
  crates/uv/src/commands/publish.rs
  crates/uv/tests/it/publish.rs
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/(snapshots)/.*|
)$

  cargo-dev-generate-all: any of: ^crates/(uv-cli|uv-settings)/ and \.rs$ and not ((?x)^(
  .*/(snapshots)/.*|
)$
)
