Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

.pre-commit-config.yaml:

fail_fast: true

exclude: |
  (?x)^(
    .*/(snapshots)/.*|
  )$

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.42.3
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: local
    hooks:
      - id: cargo-dev-generate-all
        name: cargo dev generate-all
        entry: cargo dev generate-all
        language: system
        types: [rust]
        pass_filenames: false
        files: ^crates/(uv-cli|uv-settings)/

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --ignore-unknown
        language: node
        additional_dependencies: ["prettier@3"]
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

Avoid toml document overhead
  crates/uv-workspace/src/pyproject.rs
Due: cargo-fmt

Add spans for toml reading
  Cargo.lock
  crates/uv-build-backend/src/metadata.rs
  crates/uv-cache-info/src/cache_info.rs
  crates/uv-distribution/src/metadata/lowering.rs
  crates/uv-distribution/src/metadata/requires_dist.rs
  crates/uv-distribution/src/source/mod.rs
  crates/uv-pypi-types/src/metadata/metadata_resolver.rs
  crates/uv-pypi-types/src/metadata/pyproject_toml.rs
  crates/uv-requirements/src/specification.rs
  crates/uv-requirements/src/unnamed.rs
  crates/uv-requirements/src/upgrade.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-scripts/Cargo.toml
  crates/uv-scripts/src/lib.rs
  crates/uv-settings/src/lib.rs
  crates/uv-workspace/src/pyproject.rs
  crates/uv-workspace/src/workspace.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/sync.rs
  crates/uv/src/commands/project/lock_target.rs
Due: cargo-fmt, cargo-dev-generate-all

Warn if `--project` directory does not exist
  crates/uv/src/lib.rs
  crates/uv/tests/it/run.rs
Due: cargo-fmt

Review
  crates/uv-preview/src/lib.rs
  crates/uv/src/lib.rs
  crates/uv/tests/it/run.rs
  crates/uv/tests/it/show_settings.rs
Due: cargo-fmt

Use a single global workspace cache
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/sync.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/environment.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/remove.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/project/tree.rs
  crates/uv/src/commands/project/version.rs
  crates/uv/src/commands/python/find.rs
  crates/uv/src/commands/python/pin.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/src/commands/tool/upgrade.rs
  crates/uv/src/commands/venv.rs
  crates/uv/src/commands/workspace/dir.rs
  crates/uv/src/commands/workspace/list.rs
  crates/uv/src/commands/workspace/metadata.rs
  crates/uv/src/lib.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Follow style conventions in `WorkspaceError`
  crates/uv-distribution/src/metadata/requires_dist.rs
  crates/uv-workspace/src/workspace.rs
  crates/uv/tests/it/init.rs
  crates/uv/tests/it/version.rs
  crates/uv/tests/it/workspace.rs
Due: cargo-fmt

Remove `ProjectDiscovery`
  crates/uv-distribution/src/metadata/dependency_groups.rs
  crates/uv-distribution/src/metadata/requires_dist.rs
  crates/uv-workspace/src/lib.rs
  crates/uv-workspace/src/workspace.rs
  crates/uv/src/commands/project/version.rs
  crates/uv/tests/it/version.rs
Due: cargo-fmt

Implement workspace-level caching
  crates/uv-workspace/src/workspace.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/remove.rs
  crates/uv/src/commands/project/version.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Hold `Workspace` in `Arc`
  crates/uv-workspace/src/workspace.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/commands/project/init.rs
Due: cargo-fmt

Improve workspace modification naming
  crates/uv-workspace/src/workspace.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/remove.rs
  crates/uv/src/commands/project/version.rs
Due: cargo-fmt

Introduce `VirtualProject::discover_with_package`
  crates/uv-workspace/src/workspace.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/export.rs
  crates/uv/src/commands/project/remove.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/project/version.rs
Due: cargo-fmt

Remove `ProjectDiscovery`
  crates/uv-distribution/src/metadata/dependency_groups.rs
  crates/uv-distribution/src/metadata/requires_dist.rs
  crates/uv-workspace/src/lib.rs
  crates/uv-workspace/src/workspace.rs
  crates/uv/src/commands/project/version.rs
Due: cargo-fmt

Use released cargo-auditable
  Dockerfile
  scripts/install-cargo-extensions.sh
Due: none

Add test for tool upgrade failure after Python version removal
  crates/uv/tests/it/tool_upgrade.rs
Due: cargo-fmt

Use `--no-project` in graalpy integration test
  .github/workflows/test-integration.yml
Due: none

Warn when using `uv_build` settings without `uv_build` (#15750)
  crates/uv-build-frontend/src/lib.rs
  crates/uv/tests/it/build_backend.rs
Due: cargo-fmt

Use `--no-project` in graalpy integration test (#18314)
  .github/workflows/test-integration.yml
Due: none

Contributing: Require a human in the loop for LLM contributions
  CONTRIBUTING.md
Due: none

Add `--outdated` flag to `uv tool list`
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/tool/list.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/tool_list.rs
Due: cargo-fmt, cargo-dev-generate-all

Add spans for toml reading (#18305)
  Cargo.lock
  crates/uv-build-backend/src/metadata.rs
  crates/uv-cache-info/src/cache_info.rs
  crates/uv-distribution/src/metadata/lowering.rs
  crates/uv-distribution/src/metadata/requires_dist.rs
  crates/uv-distribution/src/source/mod.rs
  crates/uv-pypi-types/src/metadata/metadata_resolver.rs
  crates/uv-pypi-types/src/metadata/pyproject_toml.rs
  crates/uv-requirements/src/specification.rs
  crates/uv-requirements/src/unnamed.rs
  crates/uv-requirements/src/upgrade.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-scripts/Cargo.toml
  crates/uv-scripts/src/lib.rs
  crates/uv-settings/src/lib.rs
  crates/uv-workspace/src/pyproject.rs
  crates/uv-workspace/src/workspace.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/sync.rs
  crates/uv/src/commands/project/lock_target.rs
Due: cargo-fmt, cargo-dev-generate-all

Use a single global workspace cache (#18307)
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/sync.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/environment.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/remove.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/project/tree.rs
  crates/uv/src/commands/project/version.rs
  crates/uv/src/commands/python/find.rs
  crates/uv/src/commands/python/pin.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/src/commands/tool/upgrade.rs
  crates/uv/src/commands/venv.rs
  crates/uv/src/commands/workspace/dir.rs
  crates/uv/src/commands/workspace/list.rs
  crates/uv/src/commands/workspace/metadata.rs
  crates/uv/src/lib.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Review
  crates/uv/src/lib.rs
Due: cargo-fmt

Remove `ProjectDiscovery` (#18309)
  crates/uv-distribution/src/metadata/dependency_groups.rs
  crates/uv-distribution/src/metadata/requires_dist.rs
  crates/uv-workspace/src/lib.rs
  crates/uv-workspace/src/workspace.rs
  crates/uv/src/commands/project/version.rs
Due: cargo-fmt

Shorten tests
  crates/uv-auth/src/pyx.rs
Due: cargo-fmt

Make APIs owning
  crates/uv-auth/src/middleware.rs
  crates/uv-auth/src/pyx.rs
  crates/uv/src/commands/auth/helper.rs
Due: cargo-fmt

Shorten lock scope
  crates/uv-auth/src/middleware.rs
Due: cargo-fmt

Custom error for illegal state
  crates/uv-auth/src/pyx.rs
Due: cargo-fmt

Remove two uses of setup-python
  .github/workflows/test-integration.yml
Due: none

Use `origin()`
  crates/uv-auth/src/pyx.rs
Due: cargo-fmt

Add a pyx API key registry test
  .github/workflows/test-integration.yml
  scripts/registries-test.py
Due: none

Fix pyx auth
  scripts/registries-test.py
Due: none

Emit initial results for `uv audit`
  Cargo.lock
  Cargo.toml
  _typos.toml
  crates/uv-audit/src/service/osv.rs
  crates/uv-audit/src/types.rs
  crates/uv/Cargo.toml
  crates/uv/src/commands/project/audit.rs
  crates/uv/src/commands/reporters.rs
Due: cargo-fmt

Fix #18285: Restore `sysconfig.get_platform()` `android` behaving as `linux`
  crates/uv-python/python/get_interpreter_info.py
Due: none

Add regression test
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Filter down to auditable packages
  crates/uv/src/commands/project/audit.rs
  crates/uv/src/commands/reporters.rs
Due: cargo-fmt
