Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-dev-generate-all:
  name: cargo dev generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

Stop forking wiremock; the necessary change is in 0.6.4
  Cargo.lock
  Cargo.toml
Due: none

Limit visibility for GitHubRateLimitStatus::new
  crates/uv-git/src/rate_limit.rs
Due: cargo-fmt

Update wiremock to 0.6.4 (#14238)
  Cargo.lock
  Cargo.toml
Due: none

Update tests
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Treat path sources as `package = true` by default
  crates/uv-distribution/src/metadata/lowering.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Remove wheel filename benchmark
  Cargo.lock
  crates/uv-bench/Cargo.toml
  crates/uv-bench/benches/distribution_filename.rs
Due: cargo-fmt

Add python-eol feature to Sphinx tests
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Add a link to PyPI FAQ to clarify what per-project token is.
  docs/guides/package.md
Due: none

Add `"python-eol"` feature to Sphinx tests (#14241)
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Update dev-dep. on hyper-util in uv-client to 0.1.14
  crates/uv-client/Cargo.toml
Due: none

Unpin reqwest
  Cargo.lock
  Cargo.toml
  crates/uv/tests/it/network.rs
Due: cargo-fmt

Don't log GitHub fast path usage if it's cached (#14235)
  crates/uv-distribution/src/source/mod.rs
  crates/uv-git/src/resolver.rs
Due: cargo-fmt

Remove wheel filename benchmark (#14240)
  Cargo.lock
  crates/uv-bench/Cargo.toml
  crates/uv-bench/benches/distribution_filename.rs
Due: cargo-fmt

Add a link to PyPI FAQ to clarify what per-project token is. (#14242)
  docs/guides/package.md
Due: none

Update CONTRIBUTING.md with instructions to format markdown files
  CONTRIBUTING.md
Due: none

Normalize index URLs to remove trailing slash
  crates/uv-distribution-types/src/index_url.rs
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/lock_scenarios.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Fix lint
  crates/uv-git/src/resolver.rs
Due: cargo-fmt

Use reqwest 0.12.20
  Cargo.toml
Due: none

Skip GitHub fast path when rate-limited (#13033)
  crates/uv-git/src/git.rs
  crates/uv-git/src/lib.rs
  crates/uv-git/src/rate_limit.rs
  crates/uv-git/src/resolver.rs
  crates/uv-static/src/env_vars.rs
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Consistently use `Ordering::Relaxed` for standalone atomic use cases (#14190)
  crates/uv-configuration/src/threading.rs
  crates/uv-warnings/src/lib.rs
  crates/uv/src/lib.rs
Due: cargo-fmt

Update schemars 1.0.0 (#13693)
  Cargo.lock
  Cargo.toml
  crates/uv-configuration/src/name_specifiers.rs
  crates/uv-configuration/src/required_version.rs
  crates/uv-configuration/src/trusted_host.rs
  crates/uv-dev/src/generate_json_schema.rs
  crates/uv-distribution-types/src/index_url.rs
  crates/uv-distribution-types/src/pip_index.rs
  crates/uv-distribution-types/src/status_code_strategy.rs
  crates/uv-fs/src/path.rs
  crates/uv-pep508/Cargo.toml
  crates/uv-pep508/src/lib.rs
  crates/uv-pep508/src/marker/tree.rs
  crates/uv-pypi-types/src/conflicts.rs
  crates/uv-pypi-types/src/identifier.rs
  crates/uv-python/src/python_version.rs
  crates/uv-resolver/src/exclude_newer.rs
  crates/uv-settings/src/settings.rs
  crates/uv-small-str/src/lib.rs
  crates/uv-workspace/src/pyproject.rs
  uv.schema.json
Due: cargo-fmt, cargo-dev-generate-all

Try reading directly is it's not a directory
  crates/uv-build-backend/src/lib.rs
  crates/uv-build-backend/src/source_dist.rs
  crates/uv-build-backend/src/wheel.rs
Due: cargo-fmt

GCP Artifact Registry download URLs must have /simple path
  docs/guides/integration/alternative-indexes.md
Due: none

Add check for using minor version link on Windows
  crates/uv-virtualenv/src/virtualenv.rs
  crates/uv/tests/it/venv.rs
Due: cargo-fmt

Docs: JFrog Artifactory authentication instructions.
  docs/guides/integration/alternative-indexes.md
Due: none

Allow symlinks in the build backend (#14212)
  crates/uv-build-backend/src/lib.rs
  crates/uv-build-backend/src/source_dist.rs
  crates/uv-build-backend/src/wheel.rs
  crates/uv/tests/it/build_backend.rs
Due: cargo-fmt

docs: add missing $
  docs/guides/integration/alternative-indexes.md
Due: none

docs: fix formatting with prettier
  docs/guides/integration/alternative-indexes.md
Due: none

Require disambiguated relative paths for `--index` (#14152)
  Cargo.lock
  crates/uv-cli/src/lib.rs
  crates/uv-distribution-types/Cargo.toml
  crates/uv-distribution-types/src/index_url.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/edit.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Add check for using minor version link when creating a venv on Windows (#14252)
  crates/uv-virtualenv/src/virtualenv.rs
  crates/uv/tests/it/venv.rs
Due: cargo-fmt

Bump version to 0.7.15
  CHANGELOG.md
  Cargo.lock
  crates/uv-build/Cargo.toml
  crates/uv-build/pyproject.toml
  crates/uv-version/Cargo.toml
  crates/uv/Cargo.toml
  docs/concepts/build-backend.md
  docs/getting-started/installation.md
  docs/guides/integration/aws-lambda.md
  docs/guides/integration/docker.md
  docs/guides/integration/github.md
  docs/guides/integration/pre-commit.md
  pyproject.toml
Due: none

Remove internal and tracing changes from CHANGELOG.md
  CHANGELOG.md
Due: none

Normalize registry source URLs before validating lockfile
  crates/uv-distribution-types/src/file.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

..
  CHANGELOG.md
Due: none

Bump version to 0.7.15 (#14254)
  CHANGELOG.md
  Cargo.lock
  crates/uv-build/Cargo.toml
  crates/uv-build/pyproject.toml
  crates/uv-version/Cargo.toml
  crates/uv/Cargo.toml
  docs/concepts/build-backend.md
  docs/getting-started/installation.md
  docs/guides/integration/aws-lambda.md
  docs/guides/integration/docker.md
  docs/guides/integration/github.md
  docs/guides/integration/pre-commit.md
  pyproject.toml
Due: none

Ensure preview default Python installs are upgradeable
  crates/uv/src/commands/python/install.rs
  crates/uv/tests/it/python_install.rs
Due: cargo-fmt

GCP Artifact Registry download URLs must have /simple path (#14251)
  docs/guides/integration/alternative-indexes.md
Due: none

updated installation instruction - added usage of wget
  README.md
Due: none

docs: add instructions for installing dependencies for entire workspace or specific packages
  docs/concepts/projects/workspaces.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/(snapshots)/.*|
)$

  cargo-dev-generate-all: any of: ^crates/(uv-cli|uv-settings)/ and \.rs$ and not ((?x)^(
  .*/(snapshots)/.*|
)$
)
