Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-dev-generate-all:
  name: cargo dev generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

Set 4MB stack size for all threads
  crates/uv-configuration/src/lib.rs
  crates/uv-configuration/src/rayon.rs
  crates/uv-configuration/src/threading.rs
  crates/uv/src/lib.rs
Due: cargo-fmt

Revert "feat: Error on dependency object specifier (#12811)"
  crates/uv-workspace/src/dependency_groups.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Revert "feat: Error on dependency object specifier (#12811)" (#12840)
  crates/uv-workspace/src/dependency_groups.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Revert "Revert "feat: Error on dependency object specifier (#12811)" (#12840)"
  crates/uv-workspace/src/dependency_groups.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Support build constraints in `uv tool`
  crates/uv-cli/src/lib.rs
  crates/uv-tool/src/tool.rs
  crates/uv/src/commands/project/environment.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/tool/common.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/src/commands/tool/upgrade.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/run.rs
  crates/uv/tests/it/sync.rs
  crates/uv/tests/it/tool_install.rs
  crates/uv/tests/it/tool_run.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Clippy
  crates/uv/src/commands/tool/run.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

docs: add explicit source (matching PyTorch guide)
  docs/concepts/projects/dependencies.md
Due: none

Add missing git feature dep to preserve_executable_bit test
  crates/uv/tests/it/build_backend.rs
Due: cargo-fmt

Collapse whitespace in python_list tests
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/python_list.rs
Due: cargo-fmt

Fix pre-release exclusive comparison operator in uv-pep440 (#12836)
  crates/uv-pep440/src/version_specifier.rs
Due: cargo-fmt

Fix typo in a reference
  docs/js/extra.js
Due: none

Write requested python variant to pin file in `uv init`
  crates/uv/src/commands/project/init.rs
Due: cargo-fmt

Add test
  crates/uv/src/commands/project/init.rs
  crates/uv/tests/it/init.rs
Due: cargo-fmt

Address #12836 review comment
  crates/uv-pep440/src/version_specifier.rs
Due: cargo-fmt

Address #12836 review comment (#12873)
  crates/uv-pep440/src/version_specifier.rs
Due: cargo-fmt

Fix typo in a reference (#12858)
  docs/js/extra.js
Due: none

Unix-gate symlink-dependent test
  crates/uv/tests/it/ecosystem.rs
  crates/uv/tests/it/pip_sync.rs
Due: cargo-fmt

System language independent tests
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/run.rs
Due: cargo-fmt

docs: add explicit source (matching PyTorch guide) (#12844)
  docs/concepts/projects/dependencies.md
Due: none

Collapse whitespace in python_list tests (#12851)
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/python_list.rs
Due: cargo-fmt

Run generate-all
  docs/reference/cli.md
Due: none

Misc. tweaks
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/sync.rs
Due: cargo-fmt

Fix tests
  crates/uv/tests/it/run.rs
Due: cargo-fmt

Avoid duplicate
  crates/uv/src/commands/project/sync.rs
Due: cargo-fmt

Enable `--dry-run` with `--locked` / `--frozen` for `uv sync` (#12778)
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt, cargo-dev-generate-all

Misc. tweaks
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/tests/it/tool_install.rs
Due: cargo-fmt

Fix snapshot
  crates/uv/tests/it/show_settings.rs
Due: cargo-fmt

Support build constraints in `uv tool` and PEP723 scripts. (#12842)
  crates/uv-cli/src/lib.rs
  crates/uv-tool/src/tool.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/project/environment.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/tool/common.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/src/commands/tool/upgrade.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/run.rs
  crates/uv/tests/it/show_settings.rs
  crates/uv/tests/it/sync.rs
  crates/uv/tests/it/tool_install.rs
  crates/uv/tests/it/tool_run.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

fix cargo-dist config
  Cargo.toml
Due: none

Fix tests on non-English Windows (#12878)
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/ecosystem.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/pip_sync.rs
  crates/uv/tests/it/run.rs
Due: cargo-fmt

Generate docs
  docs/configuration/environment.md
Due: none

Rewrite
  crates/uv-configuration/src/threading.rs
  crates/uv-static/src/env_vars.rs
  docs/configuration/environment.md
Due: cargo-fmt

fix cargo-dist config (#12879)
  Cargo.toml
Due: none

Respect build constraints for `uv run --with` dependencies
  crates/uv/src/commands/project/run.rs
  crates/uv/tests/it/run.rs
Due: cargo-fmt

Respect build constraints for `uv run --with` dependencies (#12882)
  crates/uv/src/commands/project/run.rs
  crates/uv/tests/it/run.rs
Due: cargo-fmt

make distability opt-in
  Cargo.toml
  crates/uv/Cargo.toml
Due: none

make distability opt-in (#12885)
  Cargo.toml
  crates/uv/Cargo.toml
Due: none

Fix highlight line to be the explicit line in docs
  docs/concepts/projects/dependencies.md
Due: none

Fix glob walking across cache-keys for relative paths
  Cargo.lock
  Cargo.toml
  crates/uv-cache-info/Cargo.toml
  crates/uv-cache-info/src/cache_info.rs
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/(snapshots)/.*|
)$

  cargo-dev-generate-all: any of: ^crates/(uv-cli|uv-settings)/ and \.rs$ and not ((?x)^(
  .*/(snapshots)/.*|
)$
)
