Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

.pre-commit-config.yaml:

fail_fast: true

exclude: |
  (?x)^(
    .*/(snapshots)/.*|
  )$

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.42.3
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: local
    hooks:
      - id: cargo-dev-generate-all
        name: cargo dev generate-all
        entry: cargo dev generate-all
        language: system
        types: [rust]
        pass_filenames: false
        files: ^crates/(uv-cli|uv-settings)/

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --ignore-unknown
        language: node
        additional_dependencies: ["prettier@3"]
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

Use warning-based preview handling for locked tools
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/tests/it/tool_install.rs
  crates/uv/tests/it/tool_run.rs
Due: cargo-fmt

Do not allow `uv venv --clear` to remove non-virtual environments (#19595)
  Cargo.lock
  crates/uv-cli/src/lib.rs
  crates/uv-preview/src/lib.rs
  crates/uv-virtualenv/Cargo.toml
  crates/uv-virtualenv/src/lib.rs
  crates/uv-virtualenv/src/virtualenv.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/show_settings.rs
  crates/uv/tests/it/venv.rs
Due: cargo-fmt, cargo-dev-generate-all

Test locked tool install from Git workspace member
  crates/uv/tests/it/tool_install.rs
Due: cargo-fmt

Model user-facing failures explicitly
  crates/uv/src/commands/diagnostics.rs
  crates/uv/src/commands/mod.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/sync.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/audit.rs
  crates/uv/src/commands/project/export.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/remove.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/project/tree.rs
  crates/uv/src/commands/project/version.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/src/commands/workspace/metadata.rs
  crates/uv/src/lib.rs
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/tool_run.rs
Due: cargo-fmt

fixup CHANGELOG
  CHANGELOG.md
Due: none

Update Rust toolchain to 1.96 and MSRV to 1.94
  Cargo.toml
  crates/uv-build/rust-toolchain.toml
  rust-toolchain.toml
Due: none

Update trampoline nightly for Rust 1.94 MSRV
  crates/uv-trampoline/rust-toolchain.toml
Due: none

Update Rust toolchain to 1.96 and MSRV to 1.94 (#19600)
  Cargo.toml
  crates/uv-build/rust-toolchain.toml
  crates/uv-trampoline/rust-toolchain.toml
  rust-toolchain.toml
Due: none

Add dependency-aware check tests with VIRTUAL_ENV support
  crates/uv/src/commands/project/check.rs
  crates/uv/tests/it/check.rs
Due: cargo-fmt

Use uv project sync in `uv check` with full project options
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/project/check.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/check.rs
Due: cargo-fmt, cargo-dev-generate-all

Add `uv check` command that runs `ty check`
  crates/uv-bin-install/src/lib.rs
  crates/uv-cli/src/lib.rs
  crates/uv-preview/src/lib.rs
  crates/uv-test/src/lib.rs
  crates/uv/src/commands/mod.rs
  crates/uv/src/commands/project/check.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/check.rs
  crates/uv/tests/it/main.rs
Due: cargo-fmt, cargo-dev-generate-all

Fix uv check after rebasing onto main
  crates/uv-bin-install/src/lib.rs
  crates/uv/src/commands/project/check.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/check.rs
Due: cargo-fmt

fixup
  crates/uv-bin-install/src/lib.rs
Due: cargo-fmt

fixup some snapshots
  crates/uv-bin-install/src/lib.rs
  crates/uv/tests/it/help.rs
  crates/uv/tests/it/show_settings.rs
Due: cargo-fmt

update some cli flag handling
  crates/uv-cli/src/lib.rs
  crates/uv/src/settings.rs
Due: cargo-fmt, cargo-dev-generate-all

more cli flag additions
  crates/uv/src/commands/project/check.rs
  crates/uv/src/lib.rs
  crates/uv/tests/it/check.rs
Due: cargo-fmt

normalize impl
  crates/uv-bin-install/src/lib.rs
Due: cargo-fmt

fixup test
  crates/uv-bin-install/src/lib.rs
Due: cargo-fmt

cleanup tests
  crates/uv/tests/it/check.rs
  crates/uv/tests/it/main.rs
Due: cargo-fmt

Add WSL1 and WSL2 CI coverage
  .github/workflows/test-integration.yml
Due: none

Add test coverage for both WSL1 and WSL2 (#19608)
  .github/workflows/test-integration.yml
Due: none

fix filter
  crates/uv/tests/it/check.rs
Due: cargo-fmt

Use array_windows for adjacent slice checks
  crates/uv-fs/src/path.rs
  crates/uv-install-wheel/src/uninstall.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-workspace/src/pyproject.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/install_source.rs
  crates/uv/tests/it/network.rs
Due: cargo-fmt

Add vendored Google Artifact Registry auth
  .github/workflows/test-integration.yml
  crates/uv-auth/src/credentials.rs
  crates/uv-auth/src/lib.rs
  crates/uv-auth/src/middleware.rs
  crates/uv-auth/src/providers.rs
  crates/uv/src/commands/publish.rs
  docs/concepts/authentication/http.md
  docs/guides/integration/google.md
  scripts/registries-test.py
Due: cargo-fmt

more cli cleanups
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/project/check.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/check.rs
Due: cargo-fmt, cargo-dev-generate-all

Install mold in release builds
  .github/workflows/ci.yml
  scripts/install-cargo-extensions.sh
Due: none

Add `uv check` to run `ty` from uv (#19605)
  crates/uv-bin-install/src/lib.rs
  crates/uv-cli/src/lib.rs
  crates/uv-preview/src/lib.rs
  crates/uv-test/src/lib.rs
  crates/uv/src/commands/mod.rs
  crates/uv/src/commands/project/check.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/check.rs
  crates/uv/tests/it/help.rs
  crates/uv/tests/it/main.rs
  crates/uv/tests/it/show_settings.rs
Due: cargo-fmt, cargo-dev-generate-all

Use curl to install mold in release containers
  scripts/install-mold.sh
Due: none

Use Rust 1.94.0 features (#19612)
  crates/uv-fs/src/path.rs
  crates/uv-install-wheel/src/uninstall.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-workspace/src/pyproject.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/install_source.rs
  crates/uv/tests/it/network.rs
Due: cargo-fmt

Fix Google Artifact Registry credential fallbacks
  crates/uv-auth/src/providers.rs
  crates/uv/src/commands/publish.rs
  docs/guides/integration/google.md
Due: cargo-fmt

Skip mold installation on 32-bit x86
  scripts/install-cargo-extensions.sh
Due: none

Use runners from namespace
  .github/workflows/bench.yml
  .github/workflows/build-release-binaries.yml
  .github/workflows/check-publish.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  dist-workspace.toml
Due: none

Use Windows runners from namespace
  .github/workflows/build-dev-binaries.yml
  .github/workflows/build-release-binaries.yml
  .github/workflows/check-lint.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-smoke.yml
  .github/workflows/test-system.yml
  .github/workflows/test-windows-trampolines.yml
  .github/workflows/test.yml
Due: none

Format Namespace Windows runner matrix
  .github/workflows/test-windows-trampolines.yml
Due: none

Allow CodSpeed simulation on Namespace runner
  .github/workflows/bench.yml
Due: none

Allow filesystem mounts on Namespace Linux runner
  .github/workflows/test.yml
Due: none

Initialize a keychain on Namespace macOS runners
  .github/workflows/test.yml
Due: none
