Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-dev-generate-all:
  name: cargo dev generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

Clear `XDG_DATA_HOME` during test runs (#14075)
  crates/uv/tests/it/common/mod.rs
Due: cargo-fmt

Fix test isolation from managed Python installations
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/network.rs
  crates/uv/tests/it/python_install.rs
  crates/uv/tests/it/python_list.rs
Due: cargo-fmt

Create devcontainer.json
  .devcontainer/devcontainer.json
Due: none

Support transparently upgradeable Python bin installations (#13531)
  Cargo.lock
  crates/uv-fs/Cargo.toml
  crates/uv-python/src/managed.rs
  crates/uv-python/src/python_version.rs
  crates/uv-trampoline/src/bounce.rs
  crates/uv-trampoline/trampolines/trampolines/uv-trampoline-aarch64-console.exe
  crates/uv-trampoline/trampolines/trampolines/uv-trampoline-aarch64-gui.exe
  crates/uv-trampoline/trampolines/trampolines/uv-trampoline-i686-console.exe
  crates/uv-trampoline/trampolines/trampolines/uv-trampoline-i686-gui.exe
  crates/uv-trampoline/trampolines/trampolines/uv-trampoline-x86_64-console.exe
  crates/uv-trampoline/trampolines/trampolines/uv-trampoline-x86_64-gui.exe
  crates/uv-trampoline/trampolines/uv-trampoline-aarch64-console.exe
  crates/uv-trampoline/trampolines/uv-trampoline-aarch64-gui.exe
  crates/uv-trampoline/trampolines/uv-trampoline-i686-console.exe
  crates/uv-trampoline/trampolines/uv-trampoline-i686-gui.exe
  crates/uv-trampoline/trampolines/uv-trampoline-x86_64-console.exe
  crates/uv-trampoline/trampolines/uv-trampoline-x86_64-gui.exe
  crates/uv/Cargo.toml
  crates/uv/src/commands/python/install.rs
  crates/uv/src/commands/python/uninstall.rs
  crates/uv/tests/it/pip_compile_scenarios.rs
  crates/uv/tests/it/pip_install_scenarios.rs
  crates/uv/tests/it/python_install.rs
  crates/uv/tests/it/python_upgrade.rs
Due: cargo-fmt

Support finer-grained control when upgrading Python versions (#13712)
  Cargo.lock
  crates/uv-python/Cargo.toml
  crates/uv-python/src/installation.rs
  crates/uv-python/src/lib.rs
  crates/uv-python/src/managed.rs
  crates/uv-virtualenv/src/virtualenv.rs
  crates/uv/src/commands/python/install.rs
  crates/uv/src/commands/python/uninstall.rs
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/python_install.rs
  crates/uv/tests/it/python_list.rs
Due: cargo-fmt

Simplify Python version link construction in discovery (#13980)
  crates/uv-python/src/discovery.rs
Due: cargo-fmt

Update prerelease in `python_install_314` test on upgrades feature branch (#13965)
  crates/uv/tests/it/python_install.rs
Due: cargo-fmt

Rename `DirectorySymlink` to the more descriptive `PythonMinorVersionLink` (#13953)
  crates/uv-python/src/discovery.rs
  crates/uv-python/src/managed.rs
  crates/uv-virtualenv/src/virtualenv.rs
  crates/uv/src/commands/python/install.rs
  crates/uv/src/commands/python/uninstall.rs
Due: cargo-fmt

Follow-up minor refactoring of transparent Python upgrade code (#14029)
  crates/uv-python/src/discovery.rs
  crates/uv-python/src/installation.rs
  crates/uv-python/src/managed.rs
  crates/uv-trampoline/trampolines/trampolines/uv-trampoline-aarch64-console.exe
  crates/uv-trampoline/trampolines/trampolines/uv-trampoline-aarch64-gui.exe
  crates/uv-trampoline/trampolines/trampolines/uv-trampoline-i686-console.exe
  crates/uv-trampoline/trampolines/trampolines/uv-trampoline-i686-gui.exe
  crates/uv-trampoline/trampolines/trampolines/uv-trampoline-x86_64-console.exe
  crates/uv-trampoline/trampolines/trampolines/uv-trampoline-x86_64-gui.exe
  crates/uv-trampoline/trampolines/uv-trampoline-aarch64-console.exe
  crates/uv-trampoline/trampolines/uv-trampoline-aarch64-gui.exe
  crates/uv-trampoline/trampolines/uv-trampoline-i686-console.exe
  crates/uv-trampoline/trampolines/uv-trampoline-i686-gui.exe
  crates/uv-trampoline/trampolines/uv-trampoline-x86_64-console.exe
  crates/uv-trampoline/trampolines/uv-trampoline-x86_64-gui.exe
  crates/uv-virtualenv/src/virtualenv.rs
  crates/uv/src/commands/python/install.rs
  crates/uv/src/commands/python/uninstall.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/pip_compile_scenarios.rs
  crates/uv/tests/it/pip_install_scenarios.rs
  crates/uv/tests/it/python_install.rs
Due: cargo-fmt

doc: Sync PyTorch integration index for CUDA and ROCm versions
  docs/guides/integration/pytorch.md
Due: none

Review updates
  Cargo.lock
  crates/uv-python/Cargo.toml
  crates/uv-python/src/discovery.rs
  crates/uv-python/src/installation.rs
  crates/uv-python/src/managed.rs
  crates/uv/Cargo.toml
  crates/uv/src/commands/python/install.rs
  crates/uv/src/commands/python/uninstall.rs
Due: cargo-fmt

Refactors to transparent python upgrades (#14101)
  Cargo.lock
  crates/uv-python/Cargo.toml
  crates/uv-python/src/discovery.rs
  crates/uv-python/src/installation.rs
  crates/uv-python/src/managed.rs
  crates/uv/Cargo.toml
  crates/uv/src/commands/python/install.rs
  crates/uv/src/commands/python/uninstall.rs
Due: cargo-fmt

Add allow clippy::struct_excessive_bools to workspace lint config
  Cargo.toml
  crates/uv-cli/src/compat.rs
  crates/uv-cli/src/lib.rs
  crates/uv-client/src/httpcache/control.rs
  crates/uv-python/src/virtualenv.rs
  crates/uv-resolver/src/resolution/display.rs
  crates/uv-resolver/src/version_map.rs
  crates/uv/src/settings.rs
Due: cargo-fmt, cargo-dev-generate-all

Turn off `clippy::struct_excessive_bools` rule (#14102)
  Cargo.toml
  crates/uv-cli/src/compat.rs
  crates/uv-cli/src/lib.rs
  crates/uv-client/src/httpcache/control.rs
  crates/uv-python/src/virtualenv.rs
  crates/uv-resolver/src/resolution/display.rs
  crates/uv-resolver/src/version_map.rs
  crates/uv/src/settings.rs
Due: cargo-fmt, cargo-dev-generate-all

..
  crates/uv-resolver/src/lock/mod.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

doc: Sync PyTorch integration index for CUDA and ROCm versions from PyTorch website. (#14100)
  docs/guides/integration/pytorch.md
Due: none

Restore the `--force` option for `uv python upgrade`
  crates/uv-cli/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/python_upgrade.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Warn when upgrade encounters a non-managed Python in `bin`
  crates/uv-cli/src/lib.rs
  crates/uv-python/src/installation.rs
  crates/uv/src/commands/python/install.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/python_upgrade.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Fix handling of changes to `requires-python` (#14076)
  crates/uv-resolver/src/lock/mod.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Fix `uv run -p 3.7`: Don't use walrus operator
  crates/uv-python/python/packaging/_manylinux.py
Due: none

Don't use walrus operator in interpreter query script (#14108)
  crates/uv-python/python/packaging/_manylinux.py
Due: none

Fix Ruff linting
  crates/uv-build/ruff.toml
  crates/uv-python/fetch-download-metadata.py
  crates/uv-python/python/get_interpreter_info.py
  crates/uv-python/python/packaging/_elffile.py
  crates/uv-python/python/packaging/_manylinux.py
  crates/uv-python/python/ruff.toml
  ruff.toml
  scripts/transform_readme.py
  scripts/workspaces/albatross-in-example/src/albatross/__init__.py
Due: none

Fix Ruff linting (#14111)
  crates/uv-build/ruff.toml
  crates/uv-python/fetch-download-metadata.py
  crates/uv-python/python/get_interpreter_info.py
  crates/uv-python/python/packaging/_elffile.py
  crates/uv-python/python/packaging/_manylinux.py
  crates/uv-python/python/ruff.toml
  ruff.toml
  scripts/transform_readme.py
  scripts/workspaces/albatross-in-example/src/albatross/__init__.py
Due: none

Allow project-less pyprojects in more places
  crates/uv-workspace/src/workspace.rs
  crates/uv/tests/it/run.rs
Due: cargo-fmt

Allow run to work in projectless contexts
  crates/uv-workspace/src/workspace.rs
  crates/uv/src/commands/project/run.rs
Due: cargo-fmt

Serialize Python requests for tools as canonicalized strings
  crates/uv-python/src/discovery.rs
  crates/uv-tool/src/tool.rs
  crates/uv/src/commands/tool/common.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/upgrade.rs
Due: cargo-fmt

simplify defined_indexes method in IndexUrls
  crates/uv-distribution-types/src/index_url.rs
Due: cargo-fmt

filter out empty index directories
  crates/uv/src/commands/project/add.rs
  crates/uv/tests/it/edit.rs
Due: cargo-fmt

Fix PyPI publish test script
  scripts/publish/test_publish.py
Due: none

Avoid cross-reading versions
  scripts/publish/test_publish.py
Due: none

Unify test venv `python` command creation
  crates/uv/tests/it/build.rs
  crates/uv/tests/it/build_backend.rs
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/pip_install_scenarios.rs
  crates/uv/tests/it/pip_sync.rs
  crates/uv/tests/it/pip_uninstall.rs
  scripts/scenarios/templates/compile.mustache
  scripts/scenarios/templates/install.mustache
  scripts/scenarios/templates/lock.mustache
Due: cargo-fmt

Remove preview label from --torch-backend
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/sync.rs
  docs/guides/integration/pytorch.md
Due: cargo-fmt

add virtual tests for various commands
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/export.rs
  crates/uv/tests/it/python_find.rs
  crates/uv/tests/it/run.rs
  crates/uv/tests/it/sync.rs
  crates/uv/tests/it/venv.rs
  crates/uv/tests/it/version.rs
Due: cargo-fmt

allow sync to handle full virtual pyprojects
  crates/uv/src/commands/project/sync.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

allow remove to handle full virtual pyprojects
  crates/uv/src/commands/project/remove.rs
  crates/uv/tests/it/edit.rs
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/(snapshots)/.*|
)$

  cargo-dev-generate-all: any of: ^crates/(uv-cli|uv-settings)/ and \.rs$ and not ((?x)^(
  .*/(snapshots)/.*|
)$
)
