Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-dev-generate-all:
  name: cargo dev generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

.
  README.md
Due: none

CI Perf: fast-build (#16780)
  .github/workflows/ci.yml
  Cargo.toml
  README.md
  pyproject.toml
Due: none

Fix version reference in resolver example
  docs/concepts/resolution.md
Due: none

Fix version reference in resolver example (#17085)
  docs/concepts/resolution.md
Due: none

Don't duplicate exit status
  crates/uv-python/src/interpreter.rs
Due: cargo-fmt

Show a better hint for broken PBS venvs
  crates/uv-python/src/interpreter.rs
  crates/uv/tests/it/python_install.rs
Due: cargo-fmt

Windows clippy
  crates/uv/tests/it/python_install.rs
Due: cargo-fmt

docs(settings): better document `exclude-newer*` (#17079)
  crates/uv-settings/src/settings.rs
  uv.schema.json
Due: cargo-fmt, cargo-dev-generate-all

Remove threads cli option
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/cache_size.rs
  crates/uv/src/lib.rs
  crates/uv/tests/it/cache_size.rs
Due: cargo-fmt, cargo-dev-generate-all

Wording?
  crates/uv-python/src/interpreter.rs
Due: cargo-fmt

Remove tests
  crates/uv-resolver/src/exclude_newer.rs
Due: cargo-fmt

Start implementing --force flag for python update-shell (#16782)
  crates/uv/src/commands/python/update_shell.rs
Due: cargo-fmt

uv python install --compile-bytecode support
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/python/install.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/help.rs
  crates/uv/tests/it/python_install.rs
Due: cargo-fmt, cargo-dev-generate-all

Speed up cache size command (#17015)
  Cargo.lock
  Cargo.toml
  crates/uv/Cargo.toml
  crates/uv/src/commands/cache_size.rs
Due: cargo-fmt

Add --force flag to python update-shell (#16782)
  crates/uv-cli/src/lib.rs
  crates/uv-shell/src/windows.rs
  crates/uv/src/commands/python/update_shell.rs
  crates/uv/src/commands/tool/update_shell.rs
  crates/uv/src/lib.rs
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/main.rs
  crates/uv/tests/it/python_update_shell.rs
Due: cargo-fmt, cargo-dev-generate-all

fix: windows some formatting issue
  crates/uv-shell/src/windows.rs
Due: cargo-fmt

Fix Windows --force: make helpers public, add read-only check, fix clippy warnings
  crates/uv-shell/src/windows.rs
  crates/uv/src/commands/python/update_shell.rs
  crates/uv/src/commands/tool/update_shell.rs
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/main.rs
  crates/uv/tests/it/python_update_shell.rs
Due: cargo-fmt

Initialize S3 signer once
  crates/uv-auth/src/middleware.rs
  crates/uv-auth/src/providers.rs
Due: cargo-fmt

Initialize S3 signer once (#17092)
  crates/uv-auth/src/middleware.rs
  crates/uv-auth/src/providers.rs
Due: cargo-fmt

fix: validate --project directory exists before use
  crates/uv/src/lib.rs
  crates/uv/tests/it/run.rs
Due: cargo-fmt

Fix clippy warning in run_project_not_found
  crates/uv/tests/it/run.rs
Due: cargo-fmt

Address review feedback: fix Windows implementation and clippy warnings
  crates/uv-shell/src/windows.rs
  crates/uv/tests/it/python_update_shell.rs
Due: cargo-fmt

fix: formatter
  crates/uv/tests/it/python_update_shell.rs
Due: cargo-fmt

fix: skip --project directory validation for uv init
  crates/uv/src/lib.rs
Due: cargo-fmt

fix: Change use windows::core::HSTRING; to use windows_registry::HSTRING; in both files
  crates/uv/src/commands/python/update_shell.rs
  crates/uv/src/commands/tool/update_shell.rs
Due: cargo-fmt

fix: imports HSTRING
  crates/uv/src/commands/python/update_shell.rs
  crates/uv/src/commands/tool/update_shell.rs
Due: cargo-fmt

replace import with a helper
  crates/uv-shell/src/windows.rs
  crates/uv/src/commands/python/update_shell.rs
  crates/uv/src/commands/tool/update_shell.rs
Due: cargo-fmt

fix: edit tests to be windows-compatible
  crates/uv/tests/it/python_update_shell.rs
Due: cargo-fmt

Refactor the Changelog for use in `report_dry_run` (#17039)
  crates/uv-distribution-types/src/lib.rs
  crates/uv/src/commands/mod.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/loggers.rs
  crates/uv/src/commands/pip/operations.rs
  crates/uv/src/commands/venv.rs
Due: cargo-fmt

Remove superfluous `mut`
  crates/uv/src/commands/project/sync.rs
Due: cargo-fmt

Fix VersionOrUrlRef::url lifetimes
  crates/uv-distribution-types/src/lib.rs
Due: cargo-fmt

Inline `SyncReport` construction
  crates/uv/src/commands/project/sync.rs
Due: cargo-fmt

Don't eagerly stringify
  crates/uv/src/commands/project/sync.rs
Due: cargo-fmt

Add initial work
  crates/uv/src/commands/pip/operations.rs
  crates/uv/src/commands/project/remove.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/project/version.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Better error handling for publish
  crates/uv-publish/src/lib.rs
  crates/uv/src/commands/reporters.rs
Due: cargo-fmt

Avoid panics due to reads on failed requests
  crates/uv/src/commands/reporters.rs
Due: cargo-fmt

Rename `packages` to `changes`
  crates/uv/src/commands/project/sync.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

add --no-frozen flag to commands for flexible lockfile management fixes #17044
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/export.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/remove.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/tree.rs
  crates/uv/src/settings.rs
Due: cargo-fmt, cargo-dev-generate-all

Include Docker images with the alpine version, e.g., `python3.x-alpine3.23`
  .github/workflows/build-docker.yml
Due: none

Include Docker images with the alpine version, e.g., `python3.x-alpine3.23` (#17100)
  .github/workflows/build-docker.yml
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/(snapshots)/.*|
)$

  cargo-dev-generate-all: any of: ^crates/(uv-cli|uv-settings)/ and \.rs$ and not ((?x)^(
  .*/(snapshots)/.*|
)$
)
