Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-dev-generate-all:
  name: cargo dev generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

refactored a lot of code
  crates/uv-configuration/src/excludes.rs
  crates/uv-configuration/src/lib.rs
  crates/uv-requirements/src/sources.rs
  crates/uv-workspace/src/workspace.rs
  crates/uv/src/commands/pip/operations.rs
  crates/uv/src/commands/project/lock_target.rs
  crates/uv/src/lib.rs
  docs/reference/settings.md
Due: cargo-fmt

Fix implied platform_machine marker for win_amd64 platform tag
  crates/uv-distribution-types/src/prioritized_distribution.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Fix test_implied_markers
  crates/uv-distribution-types/src/prioritized_distribution.rs
Due: cargo-fmt

Take account of path dependency source indexes when validating lockfile
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-workspace/src/workspace.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/src/commands/project/lock_target.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

use requires-python of tool.uv.dependency-groups
  crates/uv-distribution-types/src/requires_python.rs
  crates/uv-pep440/src/version.rs
  crates/uv-pep440/src/version_specifier.rs
  crates/uv-workspace/src/pyproject_mut.rs
  crates/uv/src/commands/project/update.rs
Due: cargo-fmt

add automatic cursor rules creation
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/project/cursor_rules_template.mdc
  crates/uv/src/commands/project/init.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

add tests
  crates/uv/tests/it/init.rs
Due: cargo-fmt

Fix implied `platform_machine` marker for `win_amd64` platform tag (#14041)
  crates/uv-distribution-types/src/prioritized_distribution.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

linting
  crates/uv/tests/it/init.rs
Due: cargo-fmt

clippy
  crates/uv/src/commands/project/init.rs
  crates/uv/tests/it/init.rs
Due: cargo-fmt

Show retries for HTTP status code errors
  .gitignore
  Cargo.lock
  Cargo.toml
  crates/uv-client/src/cached_client.rs
  crates/uv-client/src/error.rs
  crates/uv-client/src/flat_index.rs
  crates/uv-client/src/registry_client.rs
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-distribution/src/source/mod.rs
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/network.rs
Due: cargo-fmt

Show retries for Python download start error too
  crates/uv-python/src/downloads.rs
  crates/uv/tests/it/network.rs
Due: cargo-fmt

Use astral fork
  Cargo.lock
  Cargo.toml
Due: none

Draft mid-streaming error retry
  crates/uv/tests/it/network.rs
Due: cargo-fmt

Review
  crates/uv-client/src/cached_client.rs
  crates/uv-client/src/registry_client.rs
  crates/uv-distribution/src/distribution_database.rs
Due: cargo-fmt

Remove reqwest pin
  Cargo.toml
Due: none

Show retries for HTTP status code errors (#13897)
  .gitignore
  Cargo.lock
  Cargo.toml
  crates/uv-client/src/cached_client.rs
  crates/uv-client/src/error.rs
  crates/uv-client/src/flat_index.rs
  crates/uv-client/src/registry_client.rs
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-distribution/src/source/mod.rs
  crates/uv-python/src/downloads.rs
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/network.rs
Due: cargo-fmt

Add `rustfmt.toml`
  rustfmt.toml
Due: none

Add `rustfmt.toml` (#14072)
  rustfmt.toml
Due: none

WIP unused sources warning
  Cargo.lock
  crates/uv-distribution/Cargo.toml
  crates/uv-distribution/src/metadata/build_requires.rs
  crates/uv-distribution/src/metadata/dependency_groups.rs
  crates/uv-distribution/src/metadata/lowering.rs
  crates/uv-distribution/src/metadata/requires_dist.rs
Due: cargo-fmt

Fix @@
  .github/workflows/build-docker.yml
Due: none

Fix pin
  .github/workflows/build-docker.yml
Due: none

Clear `XDG_DATA_HOME` during test runs
  crates/uv/tests/it/common/mod.rs
Due: cargo-fmt

Panic at the CI workflow
  .github/workflows/ci.yml
  crates/uv-build-backend/src/metadata.rs
  crates/uv-git/src/credentials.rs
Due: cargo-fmt

Revert "Stack traces from Windows CI crashes (#13656)"
  .github/workflows/ci.yml
Due: none

Show backtraces for crashes
  .github/workflows/ci.yml
Due: none

Use public runners
  .github/workflows/build-binaries.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Cargo.toml
Due: none

Show backtraces for CI crashes (#14081)
  .github/workflows/ci.yml
Due: none

Fix handling of changes to `requires-python`
  crates/uv-resolver/src/lock/mod.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Fixes
  .github/workflows/build-docker.yml
Due: none

Avoid login on extra from fork
  .github/workflows/build-docker.yml
Due: none

Tweak docs
  .github/workflows/build-docker.yml
Due: none

Tweak names
  .github/workflows/build-docker.yml
Due: none

Refactor Docker image builds to use Depot (#13459)
  .github/workflows/build-docker.yml
Due: none

chore: add `unused_qualifications` lint rule to `[workspace.lints.rust]`
  Cargo.toml
  crates/uv-auth/src/cache.rs
  crates/uv-cli/src/options.rs
  crates/uv-client/src/cached_client.rs
  crates/uv-client/src/registry_client.rs
  crates/uv-configuration/src/required_version.rs
  crates/uv-dirs/src/lib.rs
  crates/uv-dispatch/src/lib.rs
  crates/uv-distribution-types/src/file.rs
  crates/uv-fs/src/lib.rs
  crates/uv-git-types/src/oid.rs
  crates/uv-installer/src/site_packages.rs
  crates/uv-macros/src/options_metadata.rs
  crates/uv-normalize/src/extra_name.rs
  crates/uv-normalize/src/group_name.rs
  crates/uv-options-metadata/src/lib.rs
  crates/uv-pep440/src/version.rs
  crates/uv-pep440/src/version_specifier.rs
  crates/uv-pep508/src/lib.rs
  crates/uv-pep508/src/verbatim_url.rs
  crates/uv-pypi-types/src/dependency_groups.rs
  crates/uv-python/src/discovery.rs
  crates/uv-python/src/downloads.rs
  crates/uv-python/src/virtualenv.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-resolver/src/lock/tree.rs
  crates/uv-resolver/src/resolution/display.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-resolver/src/universal_marker.rs
  crates/uv-workspace/src/pyproject.rs
  crates/uv-workspace/src/pyproject_mut.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/pip/freeze.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/python/install.rs
  crates/uv/src/commands/tool/common.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/src/lib.rs
Due: cargo-fmt, cargo-dev-generate-all

chore: fmt
  crates/uv-fs/src/lib.rs
  crates/uv-installer/src/site_packages.rs
  crates/uv-python/src/downloads.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-workspace/src/pyproject.rs
Due: cargo-fmt

fix: clippy
  crates/uv-fs/src/lib.rs
  crates/uv-pep440/src/version.rs
Due: cargo-fmt

Add a `docker-plan` step to consolidate push and tag logic
  .github/workflows/build-docker.yml
Due: none

improves from comments
  docs/guides/projects.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/(snapshots)/.*|
)$

  cargo-dev-generate-all: any of: ^crates/(uv-cli|uv-settings)/ and \.rs$ and not ((?x)^(
  .*/(snapshots)/.*|
)$
)
