Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

.pre-commit-config.yaml:

fail_fast: true

exclude: |
  (?x)^(
    .*/(snapshots)/.*|
  )$

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.42.3
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: local
    hooks:
      - id: cargo-dev-generate-all
        name: cargo dev generate-all
        entry: cargo dev generate-all
        language: system
        types: [rust]
        pass_filenames: false
        files: ^crates/(uv-cli|uv-settings)/

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --ignore-unknown
        language: node
        additional_dependencies: ["prettier@3"]
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

Avoid including `schemars` in the production build (#19482)
  crates/uv-cli/Cargo.toml
  crates/uv-configuration/Cargo.toml
  crates/uv-distribution-types/Cargo.toml
  crates/uv-settings/Cargo.toml
  crates/uv-workspace/Cargo.toml
  crates/uv/Cargo.toml
Due: none

Move `wiremock` to dev dependencies (#19481)
  crates/uv-publish/Cargo.toml
Due: none

Remove unused reqwest blocking feature
  Cargo.toml
  crates/uv-git/Cargo.toml
Due: none

Remove unused tracing JSON feature (#19483)
  Cargo.lock
  crates/uv/Cargo.toml
Due: none

Remove unused reqwest blocking feature (#19484)
  Cargo.toml
  crates/uv-git/Cargo.toml
Due: none

Fix passing --runs to hyperfine
  scripts/benchmark/src/benchmark/resolver.py
  scripts/benchmark/src/benchmark/tools.py
Due: none

Add a benchmark interface to the `uv` crate
  Cargo.lock
  crates/uv-bench/Cargo.toml
  crates/uv-bench/benches/invocation.rs
  crates/uv/Cargo.toml
  crates/uv/src/lib.rs
Due: cargo-fmt

Simplify diagnostic hint rendering
  crates/uv-build-frontend/src/error.rs
  crates/uv-errors/Cargo.toml
  crates/uv/src/commands/diagnostics.rs
  crates/uv/tests/it/build.rs
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/pip_compile.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/sync.rs
  crates/uv/tests/it/tool_install.rs
Due: cargo-fmt

Fix auth test snapshots for hint ordering
  crates/uv/tests/it/auth.rs
Due: cargo-fmt

Fix remaining auth test snapshots for hint ordering
  crates/uv/tests/it/auth.rs
Due: cargo-fmt

Review
  Cargo.lock
  crates/uv-build-frontend/src/error.rs
  crates/uv-dispatch/src/lib.rs
  crates/uv-distribution/src/error.rs
  crates/uv-errors/src/lib.rs
  crates/uv-globfilter/src/portable_glob.rs
  crates/uv-installer/src/plan.rs
  crates/uv-python/src/discovery.rs
  crates/uv-python/src/interpreter.rs
  crates/uv-python/src/lib.rs
  crates/uv-resolver/src/error.rs
  crates/uv-resolver/src/lock/export/pylock_toml.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-resolver/src/pubgrub/report.rs
  crates/uv-types/src/traits.rs
  crates/uv-workspace/src/pyproject.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/commands/diagnostics.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/operations.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/remove.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/version.rs
  crates/uv/src/commands/python/find.rs
  crates/uv/src/commands/python/install.rs
  crates/uv/src/commands/tool/common.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/src/lib.rs
Due: cargo-fmt

Review
  crates/uv-distribution/src/metadata/lowering.rs
  crates/uv-virtualenv/src/lib.rs
  crates/uv-virtualenv/src/virtualenv.rs
  crates/uv/src/commands/diagnostics.rs
  crates/uv/src/lib.rs
  crates/uv/tests/it/venv.rs
Due: cargo-fmt

Update missed snapshots
  crates/uv/tests/it/auth.rs
  crates/uv/tests/it/build.rs
  crates/uv/tests/it/cache_prune.rs
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/lock_exclude_newer_relative.rs
  crates/uv/tests/it/lock_scenarios.rs
  crates/uv/tests/it/pip_compile.rs
  crates/uv/tests/it/pip_compile_scenarios.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/pip_install_scenarios.rs
  crates/uv/tests/it/pip_sync.rs
  crates/uv/tests/it/sync.rs
  crates/uv/tests/it/tool_install.rs
  crates/uv/tests/it/tool_run.rs
  crates/uv/tests/it/workspace.rs
Due: cargo-fmt

Review
  crates/uv-build-frontend/src/error.rs
  crates/uv-distribution/src/metadata/lowering.rs
  crates/uv-errors/src/lib.rs
  crates/uv-globfilter/src/portable_glob.rs
  crates/uv-installer/src/plan.rs
  crates/uv-python/src/interpreter.rs
  crates/uv-python/src/lib.rs
  crates/uv-resolver/src/error.rs
  crates/uv-resolver/src/lock/export/pylock_toml.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-virtualenv/src/lib.rs
  crates/uv-workspace/src/pyproject.rs
  crates/uv/src/commands/diagnostics.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/operations.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/remove.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/project/version.rs
  crates/uv/src/commands/python/install.rs
  crates/uv/src/commands/tool/run.rs
  crates/uv/src/lib.rs
Due: cargo-fmt

Restore newline in build hints
  crates/uv-build-frontend/src/error.rs
Due: cargo-fmt

Update snapshot filters for new hint rendering format
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Refactor IncompatibleWheelHint from String newtype to enum
  crates/uv-installer/src/plan.rs
Due: cargo-fmt

Fix clippy on pip relative exclude-newer test
  crates/uv/tests/it/pip_exclude_newer_relative.rs
Due: cargo-fmt

docs: remove '7 days' as possible value for 'exclude-newer'
  docs/concepts/resolution.md
Due: none

Document and test relative exclude-newer support for uv pip (#19475)
  crates/uv-settings/src/settings.rs
  crates/uv/tests/it/main.rs
  crates/uv/tests/it/pip_exclude_newer_relative.rs
  uv.schema.json
Due: cargo-fmt, cargo-dev-generate-all

uv-shell/shlex: quote posix paths with any shell-unsafe characters, not just spaces
  crates/uv-shell/src/shlex.rs
Due: cargo-fmt

Address hint handling review feedback
  crates/uv-build-frontend/src/error.rs
  crates/uv-distribution/src/error.rs
  crates/uv-distribution/src/metadata/mod.rs
  crates/uv-errors/src/lib.rs
  crates/uv-resolver/src/exclude_newer.rs
  crates/uv-resolver/src/pubgrub/report.rs
  crates/uv-workspace/src/pyproject.rs
  crates/uv/src/commands/diagnostics.rs
  crates/uv/src/commands/pip/install.rs
  crates/uv/src/commands/pip/operations.rs
  crates/uv/src/commands/tool/common.rs
  crates/uv/src/lib.rs
  crates/uv/tests/it/build.rs
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Preserve sources schema during staged parsing
  crates/uv-workspace/src/pyproject.rs
Due: cargo-fmt

uv-shell/shlex: fix rustfmt violations and update venv apostrophe snapshot
  crates/uv-shell/src/shlex.rs
Due: cargo-fmt

Fix benchmark CI regressions
  Cargo.lock
  crates/uv-bench/Cargo.toml
  crates/uv-bench/benches/invocation.rs
  crates/uv/src/lib.rs
Due: cargo-fmt

Tighten hint spacing and Clippy cleanup
  crates/uv-errors/src/lib.rs
  crates/uv-installer/src/plan.rs
  crates/uv/src/commands/build_frontend.rs
Due: cargo-fmt

Move diagnostics test module after items
  crates/uv/src/commands/diagnostics.rs
Due: cargo-fmt

Update hint spacing snapshots
  crates/uv/tests/it/tool_install.rs
  crates/uv/tests/it/tool_run.rs
Due: cargo-fmt

uv-shell/shlex: update create_venv_apostrophe test for new quoting
  crates/uv/tests/it/venv.rs
Due: cargo-fmt

Preserve sources during project refresh
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/remove.rs
  crates/uv/src/commands/project/version.rs
  crates/uv/tests/it/auth.rs
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/pip_compile.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/sync.rs
  crates/uv/tests/it/version.rs
Due: cargo-fmt

Stabilize environment hint snapshots
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/pip_compile.rs
Due: cargo-fmt

fix(audit): skip empty branch in malformed OSV range events Fixes astral-sh/uv#19492
  crates/uv-audit/src/service/osv.rs
  crates/uv/tests/it/audit.rs
Due: cargo-fmt

uv-netrc: fix multi-word no-space comment lines causing parse errors
  crates/uv-netrc/src/netrc.rs
Due: cargo-fmt

Apply suggestion from @zanieb
  docs/concepts/configuration-files.md
Due: none

Apply suggestion from @zanieb
  crates/uv-static/src/env_vars.rs
Due: cargo-fmt

Centralize error hint test formatting
  crates/uv-build-frontend/src/error.rs
  crates/uv-errors/src/lib.rs
Due: cargo-fmt

Fix commit message generation
  crates/uv-build-backend/src/metadata.rs
  crates/uv/tests/it/build.rs
Due: cargo-fmt

Render package context as hints
  Cargo.lock
  crates/uv-build-backend/Cargo.toml
  crates/uv-build-backend/src/lib.rs
  crates/uv-build-frontend/src/error.rs
  crates/uv-globfilter/src/portable_glob.rs
  crates/uv-resolver/src/pubgrub/report.rs
  crates/uv-workspace/src/pyproject.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/commands/diagnostics.rs
  crates/uv/src/commands/pip/operations.rs
  crates/uv/src/commands/project/add.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/src/commands/python/find.rs
  crates/uv/src/commands/python/install.rs
  crates/uv/src/commands/tool/common.rs
  crates/uv/src/lib.rs
  crates/uv/tests/it/auth.rs
  crates/uv/tests/it/branching_urls.rs
  crates/uv/tests/it/build.rs
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/pip_compile.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/run.rs
  crates/uv/tests/it/sync.rs
  crates/uv/tests/it/tool_install.rs
Due: cargo-fmt

Preserve tool no-entrypoints output
  crates/uv/src/commands/tool/common.rs
  crates/uv/tests/it/tool_install.rs
Due: cargo-fmt
