Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

.pre-commit-config.yaml:

fail_fast: true

exclude: |
  (?x)^(
    .*/(snapshots)/.*|
  )$

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.42.3
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: local
    hooks:
      - id: cargo-dev-generate-all
        name: cargo dev generate-all
        entry: cargo dev generate-all
        language: system
        types: [rust]
        pass_filenames: false
        files: ^crates/(uv-cli|uv-settings)/

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --ignore-unknown
        language: node
        additional_dependencies: ["prettier@3"]
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

Use pub(crate) scope instead of pub
  crates/uv-audit/src/types.rs
Due: cargo-fmt

Update lock test to use iniconfig==2.1.0
  crates/uv/tests/lock/lock.rs
Due: cargo-fmt

Reuse workspace discovery after settings resolution
  crates/uv/src/lib.rs
  crates/uv/tests/workspace/workspace_list.rs
Due: cargo-fmt

Error on unsupported `--cert` in pip compat layer (#20351)
  crates/uv-cli/src/compat.rs
  crates/uv/tests/pip/pip_sync.rs
  crates/uv/tests/pip_compile/pip_compile.rs
Due: cargo-fmt, cargo-dev-generate-all

Update lock snapshot for reused workspace discovery
  crates/uv/tests/lock/lock.rs
Due: cargo-fmt

Restore legacy lock schema for ordinary resolutions
  crates/uv-resolver/src/lock/mod.rs
  crates/uv/tests/build/audit.rs
  crates/uv/tests/it/branching_urls.rs
  crates/uv/tests/it/snapshots/it__ecosystem__github-wikidata-bot-lock-file.snap
  crates/uv/tests/it/snapshots/it__ecosystem__home-assistant-core-lock-file.snap
  crates/uv/tests/it/snapshots/it__ecosystem__packse-lock-file.snap
  crates/uv/tests/it/snapshots/it__ecosystem__saleor-lock-file.snap
  crates/uv/tests/it/snapshots/it__ecosystem__warehouse-lock-file.snap
  crates/uv/tests/it/version.rs
  crates/uv/tests/lock/lock.rs
  crates/uv/tests/lock_scenarios/lock_exclude_newer_relative.rs
  crates/uv/tests/lock_scenarios/lock_scenarios.rs
  crates/uv/tests/project/check.rs
  crates/uv/tests/project/edit.rs
  crates/uv/tests/project/export.rs
  crates/uv/tests/project/run.rs
  crates/uv/tests/project/snapshots/project__workflow__packse_add_remove_existing_package_noop-2.snap
  crates/uv/tests/project/snapshots/project__workflow__packse_add_remove_one_package-2.snap
  crates/uv/tests/project/snapshots/project__workflow__packse_promote_transitive_to_direct_then_remove-2.snap
  crates/uv/tests/project/tree.rs
  crates/uv/tests/sync/sync.rs
  crates/uv/tests/workspace/workspace.rs
Due: cargo-fmt

Reuse workspace discovery after settings resolution (#20356)
  crates/uv/src/lib.rs
  crates/uv/tests/lock/lock.rs
  crates/uv/tests/workspace/workspace_list.rs
Due: cargo-fmt

Harden build lock validation and runtime isolation
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__hash_optional_missing.snap
  crates/uv/tests/it/upgrade.rs
Due: cargo-fmt

Replay locked builds across frozen runtime consumers
  crates/uv-resolver/src/lock/mod.rs
  crates/uv/src/commands/project/check.rs
  crates/uv/src/commands/project/environment.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/commands/project/toolchain.rs
  crates/uv/src/commands/tool/install.rs
  crates/uv/src/commands/tool/upgrade.rs
  crates/uv/tests/lock/lock_build_frozen.rs
  crates/uv/tests/lock/lock_runtime_consumers.rs
  crates/uv/tests/lock/main.rs
  crates/uv/tests/project/check_build.rs
  crates/uv/tests/project/check_build_frozen.rs
  crates/uv/tests/project/main.rs
Due: cargo-fmt

Replay locked bootstrap and build hook stages
  RFC.md
  crates/uv-build-frontend/src/lib.rs
  crates/uv-dispatch/src/lib.rs
  crates/uv/tests/lock/lock_build.rs
Due: cargo-fmt

Invalidate mutable locked build artifacts correctly
  crates/uv-installer/src/plan.rs
  crates/uv-types/src/builds.rs
  crates/uv/tests/lock/lock_build.rs
Due: cargo-fmt

Skip unreachable registry source build hooks
  crates/uv-resolver/src/lock/mod.rs
  crates/uv/src/commands/project/lock.rs
  crates/uv/tests/lock/lock_build.rs
Due: cargo-fmt

Ignore unsupported tool lock schemas
  crates/uv/src/commands/tool/common.rs
  crates/uv/tests/tool/tool_install.rs
Due: cargo-fmt

Avoid recursive build lookahead stack overflow
  crates/uv-requirements/src/lookahead.rs
Due: cargo-fmt

Remove unused build lock API surface
  crates/uv-dispatch/src/lib.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-resolver/src/universal_marker.rs
  crates/uv-types/src/builds.rs
  hawk.toml
Due: cargo-fmt

Format preview feature documentation
  docs/concepts/preview.md
Due: none

Update preview feature settings snapshot
  crates/uv/tests/sync/show_settings.rs
Due: cargo-fmt

Avoid unnecessary setup for version reads
  crates/uv/src/commands/project/version.rs
  crates/uv/src/lib.rs
  crates/uv/tests/it/version.rs
Due: cargo-fmt

Avoid cache initialization for frozen project reads
  crates/uv/src/lib.rs
  crates/uv/tests/it/main.rs
  crates/uv/tests/it/read_only_cache.rs
Due: cargo-fmt

Reuse complete workspace discovery for frozen sync
  crates/uv-workspace/src/workspace.rs
  crates/uv/tests/sync/sync.rs
Due: cargo-fmt

Request JSON metadata for exclude-newer
  Cargo.lock
  crates/uv-client/Cargo.toml
  crates/uv-client/src/lib.rs
  crates/uv-client/src/registry_client.rs
  crates/uv-resolver/src/resolver/provider.rs
  crates/uv/src/commands/pip/latest.rs
  crates/uv/tests/pip_install/pip_install.rs
Due: cargo-fmt

Reuse temporary cache during settings resolution
  crates/uv/src/lib.rs
  crates/uv/tests/workspace/workspace_list.rs
Due: cargo-fmt

Mention project in missing extra errors
  crates/uv/src/commands/project/install_target.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/tests/lock_scenarios/lock_conflict.rs
  crates/uv/tests/sync/sync.rs
Due: cargo-fmt

Reuse workspace discovery in project inspection commands
  crates/uv/src/commands/project/audit.rs
  crates/uv/src/commands/project/export.rs
  crates/uv/src/commands/project/format.rs
  crates/uv/src/commands/project/tree.rs
  crates/uv/src/lib.rs
  crates/uv/tests/build/audit.rs
  crates/uv/tests/project/export.rs
  crates/uv/tests/project/format.rs
  crates/uv/tests/project/tree.rs
Due: cargo-fmt

Mention project in missing extra errors (#20358)
  crates/uv/src/commands/project/install_target.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/tests/lock_scenarios/lock_conflict.rs
  crates/uv/tests/sync/sync.rs
Due: cargo-fmt

Avoid unnecessary setup for version reads (#20360)
  crates/uv/src/commands/project/version.rs
  crates/uv/src/lib.rs
  crates/uv/tests/it/version.rs
Due: cargo-fmt

Reuse workspace discovery in project inspection commands (#20359)
  crates/uv/src/commands/project/audit.rs
  crates/uv/src/commands/project/export.rs
  crates/uv/src/commands/project/format.rs
  crates/uv/src/commands/project/tree.rs
  crates/uv/src/lib.rs
  crates/uv/tests/build/audit.rs
  crates/uv/tests/project/export.rs
  crates/uv/tests/project/format.rs
  crates/uv/tests/project/tree.rs
Due: cargo-fmt

Reuse complete workspace discovery for frozen sync (#20363)
  crates/uv-workspace/src/workspace.rs
  crates/uv/tests/sync/sync.rs
Due: cargo-fmt

Defer sync client setup until installation is needed
  crates/uv/src/commands/pip/operations.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/tests/sync/sync.rs
Due: cargo-fmt

Defer sync client setup until installation is needed (#20364)
  crates/uv/src/commands/pip/operations.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/tests/sync/sync.rs
Due: cargo-fmt

Simplify related issue prompt
  agents/prompts/triage-issue.md
Due: none

Reject disjoint runtime candidates during build lock validation
  crates/uv-resolver/src/lock/mod.rs
Due: cargo-fmt

Add issue creation automation to find related issues and pull requests (#20340)
  .github/workflows/issue-triage.yml
  agents/codex/config.toml
  agents/prompts/triage-issue.md
  agents/schemas/issue-triage.json
Due: none

Classify triaged issues
  agents/prompts/triage-issue.md
Due: none

Add issue type schema
  agents/schemas/issue-triage.json
Due: none

Allow manual issue triage
  .github/workflows/issue-triage.yml
Due: none

Revert "Error on unsupported `--cert` in pip compat layer (#20351)"
  crates/uv-cli/src/compat.rs
  crates/uv/tests/pip/pip_sync.rs
  crates/uv/tests/pip_compile/pip_compile.rs
Due: cargo-fmt, cargo-dev-generate-all

Invalidate cached environments for locked build settings
  crates/uv/src/commands/project/environment.rs
  crates/uv/tests/project/check_build.rs
Due: cargo-fmt

Capture hooks for selected registry source distributions
  crates/uv/src/commands/project/lock.rs
  crates/uv/tests/lock/lock_build.rs
Due: cargo-fmt

Replay bootstrap-only nested build dependencies
  RFC.md
  crates/uv-resolver/src/lock/mod.rs
  crates/uv/tests/lock/lock_build.rs
Due: cargo-fmt
