Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-dev-generate-all:
  name: cargo dev generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

Deactivate tracing for choose version
  crates/uv-resolver/Cargo.toml
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv/Cargo.toml
Due: cargo-fmt

Add Send bounds to cache deserialization
  crates/uv-client/src/cached_client.rs
Due: cargo-fmt

Windows clippy: Fix too large future
  crates/uv/src/lib.rs
Due: cargo-fmt

Deactivate tracing for choose version (#10351)
  crates/uv-resolver/Cargo.toml
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv/Cargo.toml
Due: cargo-fmt

Add `Send + 'static` bounds to cache deserialization (#10352)
  crates/uv-client/src/cached_client.rs
Due: cargo-fmt

docs: github actions example: remove unneeded install step
  docs/guides/integration/github.md
Due: none

docs: add that uv sync and install include dev dependencies by defaulta
  docs/concepts/projects/dependencies.md
  docs/reference/cli.md
Due: none

Buffer file reads in `serde_json::from_reader` (#10341)
  crates/uv-distribution-types/src/installed.rs
Due: cargo-fmt

Don't revalidate Python cache entry with `--upgrade`
  crates/uv-python/src/interpreter.rs
Due: cargo-fmt

docs: github actions example: remove unneeded install step (#10356)
  docs/guides/integration/github.md
Due: none

Accept requirements in `uv remove` (#10338)
  crates/uv-cli/src/lib.rs
  crates/uv-settings/src/settings.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/edit.rs
Due: cargo-fmt, cargo-dev-generate-all

Simplify `requirements_for_extra` (#10347)
  crates/uv-resolver/src/resolver/mod.rs
Due: cargo-fmt

Speed up file pins (#10346)
  crates/uv-resolver/src/pins.rs
Due: cargo-fmt

Refactor batch prefetch (#10349)
  Cargo.lock
  crates/uv-resolver/Cargo.toml
  crates/uv-resolver/src/resolver/batch_prefetch.rs
Due: cargo-fmt

Clippy fix: Unnecessary closure
  crates/uv-resolver/src/resolver/batch_prefetch.rs
Due: cargo-fmt

Avoid overcounting versions in batch prefetcher
  crates/uv-resolver/src/resolver/batch_prefetch.rs
  crates/uv-resolver/src/resolver/mod.rs
Due: cargo-fmt

Optimize `requirements_for_extra`
  crates/uv-configuration/src/overrides.rs
  crates/uv-resolver/src/resolver/mod.rs
Due: cargo-fmt

uv-pep440: adds an explicit test for trailing zeros
  crates/uv-pep440/src/version.rs
Due: cargo-fmt

Optimize `requirements_for_extra` (#10348)
  crates/uv-configuration/src/overrides.rs
  crates/uv-resolver/src/resolver/mod.rs
Due: cargo-fmt

Avoid overcounting versions in batch prefetcher (#10350)
  crates/uv-resolver/src/resolver/batch_prefetch.rs
  crates/uv-resolver/src/resolver/mod.rs
Due: cargo-fmt

Improve docs
  crates/uv-pep440/src/version.rs
Due: cargo-fmt

uv-pep440: adds an explicit test for trailing zeros (#10362)
  crates/uv-pep440/src/version.rs
Due: cargo-fmt

Remove `[u64; 4]` from small version to move `Arc` to full version (#10345)
  crates/uv-distribution-types/src/lib.rs
  crates/uv-pep440/src/version.rs
  crates/uv-pep440/src/version_ranges.rs
  crates/uv-pep440/src/version_specifier.rs
  crates/uv-pep508/src/marker/algebra.rs
  crates/uv-pep508/src/marker/simplify.rs
  crates/uv-python/src/discovery.rs
  crates/uv/src/commands/python/list.rs
  crates/uv/src/lib.rs
Due: cargo-fmt

uv-pep440: fix bad merge
  crates/uv-pep440/src/version.rs
Due: cargo-fmt

uv-pep440: fix bad merge (#10368)
  crates/uv-pep440/src/version.rs
Due: cargo-fmt

Re-enable zlib-ng on x86 platforms
  Cargo.lock
  crates/uv-performance-flate2-backend/Cargo.toml
Due: none

(PYI044) Remove unnecessary future import from generated .pyi files
  crates/uv/src/commands/project/init.rs
  crates/uv/tests/it/init.rs
Due: cargo-fmt

(I001) Add blank line after import of hello_from_bin to fix un-formatted warning from ruff/isort
  crates/uv/src/commands/project/init.rs
  crates/uv/tests/it/init.rs
  docs/concepts/projects/init.md
Due: cargo-fmt

Re-enable `zlib-ng` on x86 platforms (#10365)
  Cargo.lock
  crates/uv-performance-flate2-backend/Cargo.toml
Due: none

Attempt to enable zlib-ng on all platforms
  Cargo.lock
  crates/uv-performance-flate2-backend/Cargo.lock
  crates/uv-performance-flate2-backend/Cargo.toml
Due: none

Update libz-ng-sys
  Cargo.lock
Due: none

Fix ruff linting warnings from generated template files for extension modules (#10371)
  crates/uv/src/commands/project/init.rs
  crates/uv/tests/it/init.rs
  docs/concepts/projects/init.md
Due: cargo-fmt

Attempt to fix s390x
  Cargo.lock
  crates/uv-performance-flate2-backend/Cargo.lock
  crates/uv-performance-flate2-backend/Cargo.toml
Due: none

Re-enable zlib-ng on all platforms (except s390x, PowerPC, and FreeBSD) (#10370)
  crates/uv-performance-flate2-backend/Cargo.lock
  crates/uv-performance-flate2-backend/Cargo.toml
Due: none

Avoid enforcing project-level required version for uv self
  crates/uv/src/lib.rs
Due: cargo-fmt

Avoid enforcing project-level required version for `uv self` (#10374)
  crates/uv/src/lib.rs
Due: cargo-fmt

Upgrade zlib-ng
  .cargo/config.toml
  Cargo.lock
  crates/uv-performance-flate2-backend/Cargo.lock
  crates/uv-performance-flate2-backend/Cargo.toml
Due: none

Add AWS Lambda integration guide
  docs/guides/integration/aws-lambda.md
  docs/guides/integration/index.md
  mkdocs.template.yml
Due: none

Add deployment commands
  docs/guides/integration/aws-lambda.md
  pyproject.toml
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/(snapshots)/.*|
)$

  cargo-dev-generate-all: any of: ^crates/(uv-cli|uv-settings)/ and \.rs$ and not ((?x)^(
  .*/(snapshots)/.*|
)$
)
