Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-dev-generate-all:
  name: cargo dev generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

uv-python: Refactor ManagedPythonDownload state management
  Cargo.lock
  Cargo.toml
  crates/uv-python/Cargo.toml
  crates/uv-python/src/downloads.rs
  crates/uv-python/src/installation.rs
  crates/uv/src/commands/python/install.rs
  crates/uv/src/commands/python/list.rs
  crates/uv/src/lib.rs
Due: cargo-fmt

Add a version backwards incompatibility scheme for the JSON Python download list
  crates/uv-python/src/downloads.rs
Due: cargo-fmt

Support http/https URLs in uv python --python-downloads-json-url
  crates/uv-python/src/downloads.rs
Due: cargo-fmt

comments from Konsti
  crates/uv/src/commands/python/list.rs
Due: cargo-fmt

update docs
  crates/uv-cli/src/lib.rs
  crates/uv-settings/src/settings.rs
  crates/uv-static/src/env_vars.rs
  crates/uv/tests/it/help.rs
  docs/reference/cli.md
  docs/reference/environment.md
  docs/reference/settings.md
  uv.schema.json
Due: cargo-fmt, cargo-dev-generate-all

Rename ManagedPythonDownloadList methods for readability
  crates/uv-python/src/downloads.rs
  crates/uv-python/src/installation.rs
  crates/uv/src/commands/python/install.rs
  crates/uv/src/commands/python/list.rs
Due: cargo-fmt

review comment
  crates/uv-python/src/downloads.rs
Due: cargo-fmt

Implement Copy on PackageType
  crates/uv-resolver/src/lock/export/cyclonedx_json.rs
Due: cargo-fmt

Replace `write_fmt` with `Write` implementation
  crates/uv/src/commands/mod.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/project/export.rs
Due: cargo-fmt

Sync latest Python releases
  crates/uv-dev/src/generate_sysconfig_mappings.rs
  crates/uv-python/src/sysconfig/generated_mappings.rs
Due: cargo-fmt

Allow multiple packages in uv sync
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/project/install_target.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt, cargo-dev-generate-all

Refactors
  crates/uv/src/commands/project/install_target.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/tests/it/sync.rs
  docs/reference/cli.md
Due: cargo-fmt

Allow non-root packages in uv sync
  crates/uv-resolver/src/lock/installable.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Allow for unnormalized names in the METADATA file (#16547)
  crates/uv-build-backend/src/metadata.rs
Due: cargo-fmt

Add UV_TOOL_MAN_DIR environment variable support
  crates/uv-tool/src/lib.rs
Due: cargo-fmt

Add man page display in tool list output
  crates/uv/src/commands/tool/list.rs
Due: cargo-fmt

Add empty directory cleanup after man page removal
  crates/uv/src/commands/tool/common.rs
Due: cargo-fmt

Add comprehensive test coverage for man pages
  crates/uv/tests/tool_install.rs
  crates/uv/tests/tool_list.rs
  crates/uv/tests/tool_upgrade.rs
Due: cargo-fmt

Add documentation for man pages feature
  CHANGELOG.md
  docs/configuration/environment.md
  docs/guides/publish.md
  docs/guides/tools/man-pages.md
Due: none

Fix formatting by removing unnecessary whitespace in `name` method of `PyProjectToml`
  crates/uv-build-backend/src/metadata.rs
Due: cargo-fmt

Use a verbatim name
  crates/uv-build-backend/src/metadata.rs
Due: cargo-fmt

Allow for unnormalized names in the `METADATA` file (#16547) (#16548)
  crates/uv-build-backend/src/metadata.rs
Due: cargo-fmt

expand on the storage documentation and add links back to it
  docs/concepts/configuration-files.md
  docs/concepts/python-versions.md
  docs/concepts/tools.md
  docs/reference/installer.md
  docs/reference/storage.md
  mkdocs.template.yml
Due: none

reformat
  docs/concepts/python-versions.md
  docs/concepts/tools.md
  docs/reference/storage.md
Due: none

Add a "storage" reference document
  docs/getting-started/installation.md
  docs/reference/index.md
  docs/reference/installer.md
  docs/reference/storage.md
  mkdocs.template.yml
Due: none

Rewrite the Directory Strategies section
  docs/reference/storage.md
Due: none

update
  crates/uv/tests/it/show_settings.rs
Due: cargo-fmt

Add prerelease guidance for build-system resolution failures
  crates/uv-resolver/src/pubgrub/report.rs
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Format
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

update
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/show_settings.rs
Due: cargo-fmt

Update the spdx dependency to version 0.12
  Cargo.lock
  Cargo.toml
Due: none

insta update
  crates/uv/tests/it/show_settings.rs
Due: cargo-fmt

Update the spdx dependency to version 0.12 (#16552)
  Cargo.lock
  Cargo.toml
Due: none

Tweak message
  crates/uv-resolver/src/pubgrub/report.rs
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Add prerelease guidance for build-system resolution failures (#16550)
  crates/uv-resolver/src/pubgrub/report.rs
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Use existing path
  crates/uv-cache-info/src/cache_info.rs
Due: cargo-fmt

Log most recently modified file for cache-keys (#16338)
  Cargo.lock
  crates/uv-cache-info/Cargo.toml
  crates/uv-cache-info/src/cache_info.rs
Due: cargo-fmt

Tweak docs
  crates/uv-cli/src/lib.rs
  docs/reference/cli.md
Due: cargo-fmt, cargo-dev-generate-all

Tweak tests
  crates/uv/src/commands/cache_size.rs
  crates/uv/tests/it/cache_size.rs
Due: cargo-fmt

Add annotation
  crates/uv-cli/src/lib.rs
  crates/uv-static/src/env_vars.rs
  docs/reference/environment.md
Due: cargo-fmt, cargo-dev-generate-all

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/(snapshots)/.*|
)$

  cargo-dev-generate-all: any of: ^crates/(uv-cli|uv-settings)/ and \.rs$ and not ((?x)^(
  .*/(snapshots)/.*|
)$
)
