Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

.pre-commit-config.yaml:

fail_fast: true

exclude: |
  (?x)^(
    .*/(snapshots)/.*|
  )$

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.42.3
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: local
    hooks:
      - id: cargo-dev-generate-all
        name: cargo dev generate-all
        entry: cargo dev generate-all
        language: system
        types: [rust]
        pass_filenames: false
        files: ^crates/(uv-cli|uv-settings)/

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --ignore-unknown
        language: node
        additional_dependencies: ["prettier@3"]
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

Ignore automation changes in the changelog
  pyproject.toml
Due: none

Prefer local artifacts when installing pylock files (#20393)
  crates/uv-resolver/src/lock/export/pylock_toml.rs
  crates/uv/tests/pip_install/pip_install.rs
Due: cargo-fmt

Avoid panics for invalid cloud endpoint URLs (#20372)
  crates/uv-auth/src/middleware.rs
  crates/uv-auth/src/providers.rs
  crates/uv/tests/it/auth.rs
Due: cargo-fmt

Ignore automation changes in the changelog (#20411)
  pyproject.toml
Due: none

Fix temporary storage for bug reproduction (#20409)
  .github/workflows/reproduce-bug.yml
  agents/codex/config.toml
  agents/prompts/reproduce-bug.md
Due: none

Fix pull request security review checkout
  .github/workflows/pull-request-security-review.yml
Due: none

Set a default Codex permission profile
  agents/codex/config.toml
Due: none

Move pull request security review into CI
  .github/workflows/ci.yml
  .github/workflows/pull-request-security-review.yml
Due: none

Preserve Git process errors when redacting credentials
  crates/uv-git/src/git.rs
Due: cargo-fmt

Fix pull request security review setup (#20412)
  .github/workflows/pull-request-security-review.yml
  agents/codex/config.toml
Due: none

Redact credentials from failed Git fetches (#20401)
  crates/uv-git/src/git.rs
  crates/uv/tests/pip_install/pip_install.rs
Due: cargo-fmt

Add URL redaction for embedded messages
  crates/uv-git/src/git.rs
  crates/uv-redacted/src/lib.rs
Due: cargo-fmt

Avoid panic for non-UTF-8 virtualenv paths (#20375)
  crates/uv-virtualenv/src/lib.rs
  crates/uv-virtualenv/src/virtualenv.rs
  crates/uv/tests/python/venv.rs
Due: cargo-fmt

Add URL redaction for embedded messages (#20415)
  crates/uv-git/src/git.rs
  crates/uv-redacted/src/lib.rs
Due: cargo-fmt

Add `--cert` support to `uv pip` (#20367)
  crates/uv-cli/src/compat.rs
  crates/uv-cli/src/lib.rs
  crates/uv-client/src/base_client.rs
  crates/uv-client/src/lib.rs
  crates/uv-client/src/tls.rs
  crates/uv-client/tests/it/ssl_certs.rs
  crates/uv/src/lib.rs
  crates/uv/tests/it/help.rs
  crates/uv/tests/pip/pip_sync.rs
  crates/uv/tests/pip_compile/pip_compile.rs
  docs/concepts/authentication/certificates.md
Due: cargo-fmt, cargo-dev-generate-all

Revert "Add `--cert` support to `uv pip` (#20367)"
  crates/uv-cli/src/compat.rs
  crates/uv-cli/src/lib.rs
  crates/uv-client/src/base_client.rs
  crates/uv-client/src/lib.rs
  crates/uv-client/src/tls.rs
  crates/uv-client/tests/it/ssl_certs.rs
  crates/uv/src/lib.rs
  crates/uv/tests/it/help.rs
  crates/uv/tests/pip/pip_sync.rs
  crates/uv/tests/pip_compile/pip_compile.rs
  docs/concepts/authentication/certificates.md
Due: cargo-fmt, cargo-dev-generate-all

Revert "Add `--cert` support to `uv pip`" (#20417)
  crates/uv-cli/src/compat.rs
  crates/uv-cli/src/lib.rs
  crates/uv-client/src/base_client.rs
  crates/uv-client/src/lib.rs
  crates/uv-client/src/tls.rs
  crates/uv-client/tests/it/ssl_certs.rs
  crates/uv/src/lib.rs
  crates/uv/tests/it/help.rs
  crates/uv/tests/pip/pip_sync.rs
  crates/uv/tests/pip_compile/pip_compile.rs
  docs/concepts/authentication/certificates.md
Due: cargo-fmt, cargo-dev-generate-all

Revert "Error on unsupported `--cert` in pip compat layer" (#20366)
  crates/uv-cli/src/compat.rs
  crates/uv/tests/pip/pip_sync.rs
  crates/uv/tests/pip_compile/pip_compile.rs
Due: cargo-fmt, cargo-dev-generate-all

Add `--cert` support to `uv pip` (#20418)
  crates/uv-cli/src/compat.rs
  crates/uv-cli/src/lib.rs
  crates/uv-client/src/base_client.rs
  crates/uv-client/src/lib.rs
  crates/uv-client/src/tls.rs
  crates/uv-client/tests/it/ssl_certs.rs
  crates/uv/src/lib.rs
  crates/uv/tests/it/help.rs
  crates/uv/tests/pip/pip_sync.rs
  crates/uv/tests/pip_compile/pip_compile.rs
  docs/concepts/authentication/certificates.md
Due: cargo-fmt, cargo-dev-generate-all

chore: freeze pre-commit hook refs
  .pre-commit-config.yaml
Due: none

Freeze pre-commit hook refs (#20143)
  .pre-commit-config.yaml
Due: none

docs: clarify that system and UV_SYSTEM_PYTHON apply only to uv pip (#12987)
  crates/uv-settings/src/settings.rs
  crates/uv-static/src/env_vars.rs
  uv.schema.json
Due: cargo-fmt, cargo-dev-generate-all

Move pull request security review into CI jobs (#20413)
  .github/workflows/ci.yml
  .github/workflows/pull-request-security-review.yml
Due: none

Scope OSV fixes to matching packages (#20399)
  crates/uv-audit/src/service/osv.rs
  crates/uv/tests/build/audit.rs
Due: cargo-fmt

Check locked tools for malware before cache reuse
  crates/uv/src/commands/project/check.rs
  crates/uv/src/commands/project/environment.rs
  crates/uv/src/commands/project/sync.rs
  crates/uv/tests/project/check.rs
Due: cargo-fmt

Deduplicate malware checks across project syncs
  crates/uv/src/commands/project/sync.rs
Due: cargo-fmt

Abort panics in dev builds
  Cargo.toml
Due: none

Use Namespace runners for macOS
  .github/workflows/build-release-binaries.yml
  .github/workflows/test.yml
Due: none
