Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

.pre-commit-config.yaml:

fail_fast: true

exclude: |
  (?x)^(
    .*/(snapshots)/.*|
  )$

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.20.2
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.26.0
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: local
    hooks:
      - id: cargo-dev-generate-all
        name: cargo dev generate-all
        entry: cargo dev generate-all
        language: system
        types: [rust]
        pass_filenames: false
        files: ^crates/(uv-cli|uv-settings)/

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

add wiremock test
  crates/uv/tests/it/python_list.rs
Due: cargo-fmt

removed the (confusing) comment about the URL parsing ability
  crates/uv-cli/src/lib.rs
  crates/uv-settings/src/settings.rs
  crates/uv/tests/it/help.rs
  docs/reference/cli.md
  docs/reference/settings.md
  uv.schema.json
Due: cargo-fmt, cargo-dev-generate-all

Apply docs suggestions from code review
  crates/uv-python/src/installation.rs
  crates/uv-static/src/env_vars.rs
  docs/reference/environment.md
Due: cargo-fmt

CI check fixes
  _typos.toml
  crates/uv/tests/it/show_settings.rs
  docs/reference/cli.md
  docs/reference/settings.md
  scripts/uvx_usage_on_gh/fetch_uvx_usage.py
  uv.schema.json
Due: cargo-fmt

add context for errors
  crates/uv-python/src/downloads.rs
  crates/uv/tests/it/python_list.rs
Due: cargo-fmt

Support http/https URLs in `uv python --python-downloads-json-url` (#16542)
  Cargo.lock
  Cargo.toml
  crates/uv-cli/src/lib.rs
  crates/uv-python/Cargo.toml
  crates/uv-python/src/downloads.rs
  crates/uv-python/src/installation.rs
  crates/uv-settings/src/settings.rs
  crates/uv-static/src/env_vars.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/python/find.rs
  crates/uv/src/commands/python/install.rs
  crates/uv/src/commands/python/list.rs
  crates/uv/src/commands/python/pin.rs
  crates/uv/src/lib.rs
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/help.rs
  crates/uv/tests/it/python_list.rs
  docs/reference/cli.md
  docs/reference/environment.md
  docs/reference/settings.md
  uv.schema.json
Due: cargo-fmt, cargo-dev-generate-all

Allow `--with-requirements` to load extensionless inline-metadata scripts
  crates/uv-requirements/src/sources.rs
  crates/uv-requirements/src/specification.rs
  crates/uv-scripts/src/lib.rs
  crates/uv/tests/it/tool_run.rs
Due: cargo-fmt

Ensure path is file before reading
  crates/uv-requirements/src/sources.rs
Due: cargo-fmt

Prevent `uv export` from overwriting pyproject.toml
  crates/uv/src/commands/project/export.rs
  crates/uv/tests/it/export.rs
Due: cargo-fmt

Fix issues
  crates/uv-auth/src/middleware.rs
Due: cargo-fmt

Migrate sys_info to sysinfo
  Cargo.lock
  Cargo.toml
  crates/uv-client/Cargo.toml
  crates/uv-client/src/linehaul.rs
  crates/uv-client/tests/it/user_agent_version.rs
  crates/uv-python/Cargo.toml
  crates/uv-python/src/interpreter.rs
Due: cargo-fmt

Add note about output
  crates/uv-cli/src/lib.rs
  crates/uv/tests/it/workspace_list.rs
Due: cargo-fmt, cargo-dev-generate-all

cargo fmt
  crates/uv-client/src/linehaul.rs
  crates/uv-client/tests/it/user_agent_version.rs
  crates/uv-python/src/interpreter.rs
Due: cargo-fmt

Migrate sys_info to sysinfo
  crates/uv-client/src/linehaul.rs
  crates/uv-client/tests/it/user_agent_version.rs
  crates/uv-python/src/interpreter.rs
Due: cargo-fmt

clippy
  crates/uv-client/src/linehaul.rs
  crates/uv-client/tests/it/user_agent_version.rs
Due: cargo-fmt

Fix fs_err import issue in cross-compilation
  crates/uv-client/src/linehaul.rs
  crates/uv-client/tests/it/user_agent_version.rs
Due: cargo-fmt

cargo fmt
  crates/uv-client/tests/it/user_agent_version.rs
Due: cargo-fmt

Remove unused fs_err import in test file
  crates/uv-client/tests/it/user_agent_version.rs
Due: cargo-fmt

fix: prefer env var credentials over index URL username; guard cache & git-store; add tests
  Cargo.lock
  crates/uv-auth/src/lib.rs
  crates/uv-distribution-types/Cargo.toml
  crates/uv-distribution-types/src/index.rs
  crates/uv-git/src/credentials.rs
Due: cargo-fmt

Fix linting
  crates/uv-auth/src/lib.rs
  crates/uv-distribution-types/src/index.rs
  crates/uv-git/src/credentials.rs
Due: cargo-fmt

chore: fix clippy warnings in uv-distribution-types (remove unit exprs, use ToString::to_string)
  crates/uv-distribution-types/src/index.rs
Due: cargo-fmt

don't overwrite retires to 0 when not needed
  crates/uv-python/src/installation.rs
  crates/uv/src/commands/pip/compile.rs
  crates/uv/src/commands/python/find.rs
  crates/uv/src/commands/python/pin.rs
Due: cargo-fmt

add network tests for `python_list_remote_python_downloads_json_url`
  crates/uv/tests/it/network.rs
Due: cargo-fmt

Revert "Fix CMD path in FastAPI Dockerfile (#16701)"
  docs/guides/integration/fastapi.md
Due: none

Add support for SSL_CERT_DIR (#16473)
  Cargo.lock
  Cargo.toml
  crates/uv-client/Cargo.toml
  crates/uv-client/src/base_client.rs
  crates/uv-client/tests/it/http_util.rs
  crates/uv-client/tests/it/main.rs
  crates/uv-client/tests/it/remote_metadata.rs
  crates/uv-client/tests/it/ssl_certs.rs
  crates/uv-client/tests/it/user_agent_version.rs
  crates/uv-static/src/env_vars.rs
  docs/reference/environment.md
Due: cargo-fmt

Bullets -> numbers
  docs/reference/storage.md
Due: none

Fix typos in Windows directories and add links to constants
  docs/reference/storage.md
Due: none

Move code to method
  crates/uv-redacted/src/lib.rs
Due: cargo-fmt

Make code easier to format
  crates/uv-redacted/src/lib.rs
Due: cargo-fmt

Don't check file URLs for credentials
  crates/uv-redacted/src/lib.rs
Due: cargo-fmt

Clippy
  crates/uv-redacted/src/lib.rs
Due: cargo-fmt

Add comment
  crates/uv-redacted/src/lib.rs
Due: cargo-fmt

Don't check file URLs for ambiguously parsed URLs (#16759)
  crates/uv-redacted/src/lib.rs
Due: cargo-fmt

Add a "storage" reference document (#15954)
  docs/concepts/configuration-files.md
  docs/concepts/python-versions.md
  docs/concepts/tools.md
  docs/getting-started/installation.md
  docs/reference/index.md
  docs/reference/installer.md
  docs/reference/storage.md
  mkdocs.template.yml
Due: none

more debugging
  scripts/publish/test_publish.py
Due: none

Bump version to 0.9.10
  CHANGELOG.md
  Cargo.lock
  crates/uv-build/Cargo.toml
  crates/uv-build/pyproject.toml
  crates/uv-static/src/env_vars.rs
  crates/uv-version/Cargo.toml
  crates/uv/Cargo.toml
  docs/concepts/build-backend.md
  docs/concepts/projects/init.md
  docs/concepts/projects/workspaces.md
  docs/getting-started/installation.md
  docs/guides/integration/aws-lambda.md
  docs/guides/integration/docker.md
  docs/guides/integration/github.md
  docs/guides/integration/pre-commit.md
  docs/reference/environment.md
  pyproject.toml
Due: cargo-fmt

Editing
  CHANGELOG.md
Due: none

Add `uv workspace list` to list workspace members (#16691)
  crates/uv-cli/src/lib.rs
  crates/uv-preview/src/lib.rs
  crates/uv/src/commands/mod.rs
  crates/uv/src/commands/workspace/list.rs
  crates/uv/src/commands/workspace/mod.rs
  crates/uv/src/lib.rs
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/main.rs
  crates/uv/tests/it/show_settings.rs
  crates/uv/tests/it/workspace_list.rs
  docs/concepts/preview.md
Due: cargo-fmt, cargo-dev-generate-all

#16691
  CHANGELOG.md
Due: none
