Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-dev-generate-all:
  name: cargo dev generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

Initial support for ARMv5TE platform via cross compilation (#10234)
  Cargo.toml
  crates/uv-platform-tags/src/platform.rs
  crates/uv-python/src/platform.rs
  crates/uv-python/template-download-metadata.py
Due: cargo-fmt

Respect static metadata for already-installed distributions
  crates/uv-distribution-types/src/dist_error.rs
  crates/uv-distribution-types/src/lib.rs
  crates/uv-distribution-types/src/requested.rs
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-distribution/src/error.rs
  crates/uv-installer/src/preparer.rs
  crates/uv-requirements/src/lib.rs
  crates/uv-resolver/src/error.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-resolver/src/resolver/provider.rs
  crates/uv/src/commands/diagnostics.rs
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Respect static metadata for already-installed distributions (#10242)
  crates/uv-distribution-types/src/dist_error.rs
  crates/uv-distribution-types/src/lib.rs
  crates/uv-distribution-types/src/requested.rs
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-distribution/src/error.rs
  crates/uv-installer/src/preparer.rs
  crates/uv-requirements/src/lib.rs
  crates/uv-resolver/src/error.rs
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv-resolver/src/resolver/provider.rs
  crates/uv/src/commands/diagnostics.rs
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Bump version to v0.5.13 (#10188)
  docs/guides/integration/pre-commit.md
Due: none

Accept directories with space names in uv init
  crates/uv/src/commands/project/init.rs
  crates/uv/tests/it/init.rs
Due: cargo-fmt

Accept directories with space names in `uv init` (#10246)
  crates/uv/src/commands/project/init.rs
  crates/uv/tests/it/init.rs
Due: cargo-fmt

feat: add loongarch64 platform support
  crates/uv-platform-tags/src/platform.rs
  crates/uv-python/src/platform.rs
Due: cargo-fmt

Add loongarch64 to supported Python platform tags (#10223)
  crates/uv-platform-tags/src/platform.rs
  crates/uv-python/src/platform.rs
Due: cargo-fmt

docs: Explicitly specify to add a new repo to the repos list item in the .pre-commit-config.yaml
  docs/guides/integration/pre-commit.md
Due: none

Add a required version setting to uv
  Cargo.lock
  crates/uv-configuration/Cargo.toml
  crates/uv-configuration/src/lib.rs
  crates/uv-configuration/src/required_version.rs
  crates/uv-settings/src/combine.rs
  crates/uv-settings/src/settings.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/show_settings.rs
  docs/reference/settings.md
  uv.schema.json
Due: cargo-fmt, cargo-dev-generate-all

Add a required version setting to uv (#10248)
  Cargo.lock
  crates/uv-configuration/Cargo.toml
  crates/uv-configuration/src/lib.rs
  crates/uv-configuration/src/required_version.rs
  crates/uv-settings/src/combine.rs
  crates/uv-settings/src/settings.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/pip_install.rs
  crates/uv/tests/it/show_settings.rs
  docs/reference/settings.md
  uv.schema.json
Due: cargo-fmt, cargo-dev-generate-all

Avoid stripping query parameters from URLs
  crates/uv-distribution-types/src/file.rs
  crates/uv-resolver/src/lock/mod.rs
Due: cargo-fmt

Avoid stripping query parameters from URLs (#10253)
  crates/uv-distribution-types/src/file.rs
  crates/uv-resolver/src/lock/mod.rs
Due: cargo-fmt

Add tests for UrlString methods
  crates/uv-distribution-types/src/file.rs
Due: cargo-fmt

Add tests for `UrlString` methods (#10256)
  crates/uv-distribution-types/src/file.rs
Due: cargo-fmt

Add s to change to fix typo
  docs/pip/packages.md
Due: none

Detect cyclic dependencies during builds
  circular-one/.python-version
  circular-one/README.md
  circular-one/pyproject.toml
  circular-one/src/circular_one/__init__.py
  circular-one/src/circular_one/py.typed
  circular-two/.python-version
  circular-two/README.md
  circular-two/pyproject.toml
  circular-two/src/circular_two/__init__.py
  circular-two/src/circular_two/py.typed
  crates/uv-build-frontend/src/error.rs
  crates/uv-build-frontend/src/lib.rs
  crates/uv-dispatch/src/lib.rs
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-distribution/src/source/mod.rs
  crates/uv-installer/src/preparer.rs
  crates/uv-types/src/traits.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/commands/venv.rs
  crates/uv/tests/it/pip_compile.rs
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

RevertS
  circular-one/.python-version
  circular-one/README.md
  circular-one/pyproject.toml
  circular-one/src/circular_one/__init__.py
  circular-one/src/circular_one/py.typed
  circular-two/.python-version
  circular-two/README.md
  circular-two/pyproject.toml
  circular-two/src/circular_two/__init__.py
  circular-two/src/circular_two/py.typed
  crates/uv-dispatch/src/lib.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/pip_compile.rs
Due: cargo-fmt

Detect cyclic dependencies during builds (#10258)
  crates/uv-build-frontend/src/error.rs
  crates/uv-build-frontend/src/lib.rs
  crates/uv-dispatch/src/lib.rs
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-distribution/src/source/mod.rs
  crates/uv-installer/src/preparer.rs
  crates/uv-types/src/traits.rs
  crates/uv/src/commands/build_frontend.rs
  crates/uv/src/commands/venv.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Fix small typo in editable packages docs (#10257)
  docs/pip/packages.md
Due: none

docs: Clarify build system specific features usage
  docs/concepts/projects/config.md
Due: none

Parse URLs lazily in resolver
  crates/uv-client/src/error.rs
  crates/uv-client/src/registry_client.rs
  crates/uv-distribution-types/src/file.rs
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-distribution/src/error.rs
  crates/uv-distribution/src/source/mod.rs
  crates/uv-requirements/src/upgrade.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-resolver/src/lock/requirements_txt.rs
Due: cargo-fmt

Parse URLs lazily in resolver (#10259)
  crates/uv-client/src/error.rs
  crates/uv-client/src/registry_client.rs
  crates/uv-distribution-types/src/file.rs
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-distribution/src/error.rs
  crates/uv-distribution/src/source/mod.rs
  crates/uv-requirements/src/upgrade.rs
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-resolver/src/lock/requirements_txt.rs
Due: cargo-fmt

Fix multi-user file locking
  Cargo.lock
  crates/uv-fs/Cargo.toml
  crates/uv-fs/src/lib.rs
  crates/uv-python/Cargo.toml
  crates/uv-python/src/managed.rs
Due: cargo-fmt

Use BTreeMap::range to avoid iterating over unnecessary versions
  crates/uv-resolver/src/version_map.rs
Due: cargo-fmt

Use `BTreeMap::range` to avoid iterating over unnecessary versions (#10266)
  crates/uv-resolver/src/version_map.rs
Due: cargo-fmt

Fix musl cdylib warning
  crates/uv-pep508/Cargo.toml
Due: none

Actually use jemalloc
  crates/uv/src/bin/uv.rs
Due: cargo-fmt

Fix `lock_pytorch_cpu`
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Fix `lock_pytorch_cpu` (#10271)
  crates/uv/tests/it/lock.rs
Due: cargo-fmt

Fix musl cdylib warning (#10268)
  crates/uv-pep508/Cargo.toml
Due: none

using clap to use UV_PYTHON env variable
  crates/uv-cli/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/python_install.rs
Due: cargo-fmt, cargo-dev-generate-all

Actually use jemalloc (#10269)
  crates/uv/src/bin/uv.rs
Due: cargo-fmt

added env UV_PYTHON to the help message
  crates/uv/tests/it/build.rs
  crates/uv/tests/it/help.rs
  crates/uv/tests/it/lock.rs
  docs/reference/cli.md
Due: cargo-fmt

Avoid forking on version in non-universal resolutions
  crates/uv-resolver/src/resolver/mod.rs
Due: cargo-fmt

Avoid forking on version in non-universal resolutions (#10274)
  crates/uv-resolver/src/resolver/mod.rs
Due: cargo-fmt

Gate performance feature on cfg
  .github/workflows/ci.yml
  crates/uv/src/bin/uv.rs
Due: cargo-fmt

Add gate
  .github/workflows/ci.yml
  crates/uv/src/bin/uv.rs
Due: cargo-fmt

Gate performance feature on cfg (#10277)
  crates/uv/src/bin/uv.rs
Due: cargo-fmt

Ignore empty or missing hrefs in Simple HTML
  crates/uv-client/src/html.rs
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*/(snapshots)/.*|
)$

  cargo-dev-generate-all: any of: ^crates/(uv-cli|uv-settings)/ and \.rs$ and not ((?x)^(
  .*/(snapshots)/.*|
)$
)
