Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

.pre-commit-config.yaml:

fail_fast: true

exclude: |
  (?x)^(
    .*/(snapshots)/.*|
  )$

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.20.2
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.26.0
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: local
    hooks:
      - id: cargo-dev-generate-all
        name: cargo dev generate-all
        entry: cargo dev generate-all
        language: system
        types: [rust]
        pass_filenames: false
        files: ^crates/(uv-cli|uv-settings)/

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

Show changed semver digit (1=major, 2=minor, 3=patch, 4=build number)
  crates/uv-pep440/src/version.rs
  crates/uv-pep440/src/version_specifier.rs
  crates/uv-workspace/src/pyproject_mut.rs
  crates/uv/src/commands/project/update.rs
Due: cargo-fmt

feat: upgrade dependencies in pyproject.toml
  Cargo.lock
  crates/uv-cli/src/lib.rs
  crates/uv-distribution-types/src/index_url.rs
  crates/uv-fs/src/lib.rs
  crates/uv-pep440/src/version.rs
  crates/uv-pep440/src/version_specifier.rs
  crates/uv-pep508/src/lib.rs
  crates/uv-workspace/src/pyproject_mut.rs
  crates/uv/Cargo.toml
  crates/uv/src/commands/mod.rs
  crates/uv/src/commands/project/mod.rs
  crates/uv/src/commands/project/remove.rs
  crates/uv/src/commands/project/update.rs
  crates/uv/src/lib.rs
Due: cargo-fmt, cargo-dev-generate-all

fix tests
  crates/uv/tests/it/help.rs
Due: cargo-fmt

feature: --types=prod,dev,extra,group
  crates/uv-cli/src/lib.rs
  crates/uv-static/src/env_vars.rs
  crates/uv-workspace/src/pyproject.rs
  crates/uv-workspace/src/pyproject_mut.rs
  crates/uv/src/commands/project/update.rs
Due: cargo-fmt, cargo-dev-generate-all

fetch latest versions in parallel
  crates/uv-workspace/src/pyproject_mut.rs
  crates/uv/src/commands/project/update.rs
Due: cargo-fmt

UV_UPGRADE_ALLOW or --allow=1,2,3,4 filters version digits
  crates/uv-cli/src/lib.rs
  crates/uv-pep440/src/lib.rs
  crates/uv-pep440/src/version.rs
  crates/uv-pep440/src/version_specifier.rs
  crates/uv-static/src/env_vars.rs
  crates/uv-workspace/src/pyproject_mut.rs
  crates/uv/src/commands/project/update.rs
Due: cargo-fmt, cargo-dev-generate-all

feature: UV_UPGRADE_RECURSIVE=true or --recursive
  crates/uv-cli/src/lib.rs
  crates/uv-static/src/env_vars.rs
  crates/uv/src/commands/project/update.rs
Due: cargo-fmt, cargo-dev-generate-all

support refresh args (default: cache for 10 minutes)
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/project/update.rs
  crates/uv/src/lib.rs
Due: cargo-fmt, cargo-dev-generate-all

group fetches by requires-python
  crates/uv-workspace/src/pyproject_mut.rs
  crates/uv/src/commands/project/update.rs
Due: cargo-fmt

use requires-python of tool.uv.dependency-groups
  crates/uv-distribution-types/src/requires_python.rs
  crates/uv-pep440/src/version.rs
  crates/uv-pep440/src/version_specifier.rs
  crates/uv-workspace/src/pyproject_mut.rs
  crates/uv/src/commands/project/update.rs
Due: cargo-fmt

fix tilde equal
  crates/uv-pep440/src/version.rs
  crates/uv-pep440/src/version_specifier.rs
Due: cargo-fmt

--packages-only
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/project/update.rs
Due: cargo-fmt, cargo-dev-generate-all

De-duplicate MacOSVersion
  Cargo.lock
  crates/uv-configuration/Cargo.toml
  crates/uv-configuration/src/target_triple.rs
  crates/uv-delocate/Cargo.toml
  crates/uv-delocate/src/delocate.rs
  crates/uv-delocate/src/lib.rs
  crates/uv-delocate/src/macho.rs
  crates/uv-platform/src/lib.rs
  crates/uv-platform/src/macos.rs
Due: cargo-fmt

Use fixed permissions
  crates/uv-delocate/src/wheel.rs
Due: cargo-fmt

Add support for delocating macOS wheels
  Cargo.lock
  Cargo.toml
  README.md
  _typos.toml
  crates/uv-delocate/Cargo.toml
  crates/uv-delocate/src/delocate.rs
  crates/uv-delocate/src/error.rs
  crates/uv-delocate/src/lib.rs
  crates/uv-delocate/src/macho.rs
  crates/uv-delocate/src/wheel.rs
  crates/uv-delocate/tests/data/fakepkg1-1.0-cp36-abi3-macosx_10_9_universal2.whl
  crates/uv-delocate/tests/data/fakepkg2-1.0-py3-none-any.whl
  crates/uv-delocate/tests/data/fakepkg_namespace-1.0-cp36-abi3-macosx_10_9_universal2.whl
  crates/uv-delocate/tests/data/fakepkg_rpath-1.0-cp36-abi3-macosx_10_9_universal2.whl
  crates/uv-delocate/tests/data/fakepkg_toplevel-1.0-cp36-abi3-macosx_10_9_universal2.whl
  crates/uv-delocate/tests/data/liba.dylib
  crates/uv-delocate/tests/data/liba_12.dylib
  crates/uv-delocate/tests/data/liba_12_1.dylib
  crates/uv-delocate/tests/data/liba_both.dylib
  crates/uv-delocate/tests/data/libam1-arch.dylib
  crates/uv-delocate/tests/data/libam1.dylib
  crates/uv-delocate/tests/data/libam1_12.dylib
  crates/uv-delocate/tests/data/libb.dylib
  crates/uv-delocate/tests/data/libc.dylib
  crates/uv-delocate/tests/data/libc_12.dylib
  crates/uv-delocate/tests/data/libextfunc.dylib
  crates/uv-delocate/tests/data/libextfunc2_rpath.dylib
  crates/uv-delocate/tests/data/libextfunc_rpath.dylib
  crates/uv-delocate/tests/data/np-1.24.1_arm_random__sfc64.cpython-311-darwin.so
  crates/uv-delocate/tests/data/np-1.24.1_x86_64_random__sfc64.cpython-311-darwin.so
  crates/uv-delocate/tests/data/test-lib
  crates/uv-delocate/tests/integration_test.rs
  crates/uv-static/src/env_vars.rs
Due: cargo-fmt

Review feedback
  crates/uv-configuration/src/target_triple.rs
  crates/uv-delocate/src/delocate.rs
  crates/uv-delocate/src/error.rs
  crates/uv-delocate/src/lib.rs
  crates/uv-delocate/src/macho.rs
  crates/uv-delocate/src/wheel.rs
  crates/uv-delocate/tests/arch_checking.rs
  crates/uv-delocate/tests/code_signing.rs
  crates/uv-delocate/tests/delocate_integration.rs
  crates/uv-delocate/tests/install_name_modification.rs
  crates/uv-delocate/tests/integration_test.rs
  crates/uv-delocate/tests/macho_parsing.rs
  crates/uv-delocate/tests/macos_version.rs
  crates/uv-delocate/tests/rpath_handling.rs
  crates/uv-delocate/tests/wheel_metadata.rs
  crates/uv-delocate/tests/wheel_operations.rs
Due: cargo-fmt

Use with_platform_tags
  crates/uv-delocate/src/delocate.rs
  crates/uv-delocate/src/wheel.rs
  crates/uv-delocate/tests/install_name_modification.rs
  crates/uv-delocate/tests/macho_parsing.rs
  crates/uv-delocate/tests/wheel_metadata.rs
  crates/uv-distribution-filename/src/expanded_tags.rs
  crates/uv-distribution-filename/src/snapshots/uv_distribution_filename__wheel__tests__ok_build_tag.snap
  crates/uv-distribution-filename/src/snapshots/uv_distribution_filename__wheel__tests__ok_multiple_tags.snap
  crates/uv-distribution-filename/src/wheel.rs
  crates/uv-distribution-filename/src/wheel_tag.rs
Due: cargo-fmt

Use peek_bytes
  crates/uv-delocate/src/macho.rs
  crates/uv-delocate/tests/integration_test.rs
Due: cargo-fmt

Reuse code from uv-install-wheel
  Cargo.lock
  Cargo.toml
  crates/uv-delocate/Cargo.toml
  crates/uv-delocate/src/delocate.rs
  crates/uv-delocate/src/error.rs
  crates/uv-delocate/src/wheel.rs
  crates/uv-delocate/tests/delocate_integration.rs
  crates/uv-delocate/tests/install_name_modification.rs
  crates/uv-distribution-filename/src/wheel_tag.rs
  crates/uv-install-wheel/src/lib.rs
  crates/uv-install-wheel/src/record.rs
  crates/uv-install-wheel/src/wheel.rs
Due: cargo-fmt

Misc. changes to wire up Git cache
  Cargo.lock
  crates/uv-client/src/registry_client.rs
  crates/uv-distribution/Cargo.toml
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-distribution/src/lib.rs
  crates/uv-distribution/src/remote.rs
  crates/uv-distribution/src/source/mod.rs
  crates/uv-static/src/env_vars.rs
  foo/.python-version
  foo/README.md
  foo/main.py
  foo/pyproject.toml
  foo/uv.lock
  hash_test.py
  server/v1/git/astral-sh/9e/d1/54a640517fe5836f86a0844598bda6a7ad5c46321d0e2f4efa0362bf0b0b/anyio/anyio-4.11.0.post24-py3-none-any.whl
  server/v1/git/astral-sh/9e/d1/54a640517fe5836f86a0844598bda6a7ad5c46321d0e2f4efa0362bf0b0b/anyio/anyio-4.11.0.post24.tar.gz
  server/v1/git/astral-sh/9e/d1/54a640517fe5836f86a0844598bda6a7ad5c46321d0e2f4efa0362bf0b0b/anyio/index.html
  server/v1/git/astral-sh/9e/d1/54a640517fe5836f86a0844598bda6a7ad5c46321d0e2f4efa0362bf0b0b/index.html
Due: cargo-fmt

Remove subdirectory support
  crates/uv-dev/src/list_packages.rs
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-distribution/src/remote.rs
Due: cargo-fmt

Remove test infra
  crates/uv-client/src/registry_client.rs
  crates/uv-dev/src/list_packages.rs
  crates/uv-distribution/src/remote.rs
  crates/uv-distribution/src/source/mod.rs
  crates/uv-static/src/env_vars.rs
  crates/uv/tests/it/pip_install.rs
  foo/.python-version
  foo/README.md
  foo/main.py
  foo/pyproject.toml
  foo/uv.lock
  hash_test.py
  server/v1/git/astral-sh/9e/d1/54a640517fe5836f86a0844598bda6a7ad5c46321d0e2f4efa0362bf0b0b/anyio/anyio-4.11.0.post24-py3-none-any.whl
  server/v1/git/astral-sh/9e/d1/54a640517fe5836f86a0844598bda6a7ad5c46321d0e2f4efa0362bf0b0b/anyio/anyio-4.11.0.post24.tar.gz
  server/v1/git/astral-sh/9e/d1/54a640517fe5836f86a0844598bda6a7ad5c46321d0e2f4efa0362bf0b0b/anyio/index.html
  server/v1/git/astral-sh/9e/d1/54a640517fe5836f86a0844598bda6a7ad5c46321d0e2f4efa0362bf0b0b/index.html
Due: cargo-fmt

Add subdirectory support; add upload support
  crates/uv-distribution/src/distribution_database.rs
  crates/uv-distribution/src/error.rs
  crates/uv-distribution/src/remote.rs
Due: cargo-fmt

Use server-provided keys
  Cargo.lock
  crates/uv-client/src/base_client.rs
  crates/uv-distribution/Cargo.toml
  crates/uv-distribution/src/error.rs
  crates/uv-distribution/src/remote.rs
  crates/uv-static/src/env_vars.rs
Due: cargo-fmt

Add `--compile-bytecode` to `uv python install` and `uv python upgrade` to compile the standard library (#17088)
  crates/uv-cli/src/lib.rs
  crates/uv/src/commands/python/install.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/common/mod.rs
  crates/uv/tests/it/help.rs
  crates/uv/tests/it/python_install.rs
  docs/guides/integration/docker.md
Due: cargo-fmt, cargo-dev-generate-all

Make pyx credential error message reflect the realm
  crates/uv-auth/src/middleware.rs
Due: cargo-fmt

Add PYX_API_URL in the error message
  crates/uv-auth/src/middleware.rs
Due: cargo-fmt

Enable pyx integration tests
  scripts/publish/test_publish.py
Due: none

Fix error message to show free-threaded Python indicator
  crates/uv-installer/src/plan.rs
Due: cargo-fmt

Clear the env vars for tests
  crates/uv-macros/src/lib.rs
  crates/uv/tests/it/common/mod.rs
Due: cargo-fmt

Re-enable pyx integration tests (#17414)
  scripts/publish/test_publish.py
Due: none

Only run trampoline checks in CI when trampolines change (#17386)
  .github/workflows/ci.yml
Due: none

Add fast-path validation for remote-cached wheels
  crates/uv-distribution/src/remote.rs
Due: cargo-fmt

Fix required checks
  .github/workflows/ci.yml
Due: none

Bump timeout
  .github/workflows/bench.yml
Due: none

Update release binary build job nameg
  .github/workflows/ci.yml
Due: none

Update name of required jobs check
  .github/workflows/ci.yml
Due: none

Split up `ci.yml` (#17388)
  .github/workflows/bench.yml
  .github/workflows/build-dev-binaries.yml
  .github/workflows/build-release-binaries.yml
  .github/workflows/check-docs.yml
  .github/workflows/check-fmt.yml
  .github/workflows/check-generated-files.yml
  .github/workflows/check-lint.yml
  .github/workflows/check-publish.yml
  .github/workflows/check-zizmor.yml
  .github/workflows/ci.yml
  .github/workflows/publish-docs.yml
  .github/workflows/release.yml
  .github/workflows/test-ecosystem.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-smoke.yml
  .github/workflows/test-system.yml
  .github/workflows/test-windows-trampolines.yml
  .github/workflows/test.yml
  .github/workflows/zizmor.yml
Due: none

Speedup walltime benchmarks by splitting build and run jobs
  .github/workflows/bench.yml
Due: none

Detect workspace from uv run target
  crates/uv-preview/src/lib.rs
  crates/uv/src/commands/project/run.rs
  crates/uv/tests/it/run.rs
  crates/uv/tests/it/show_settings.rs
Due: cargo-fmt
