Repository astral-sh/uv: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-dev-generate-all

.pre-commit-config.yaml:

fail_fast: true

exclude: |
  (?x)^(
    .*/(snapshots)/.*|
  )$

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.42.3
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: local
    hooks:
      - id: cargo-dev-generate-all
        name: cargo dev generate-all
        entry: cargo dev generate-all
        language: system
        types: [rust]
        pass_filenames: false
        files: ^crates/(uv-cli|uv-settings)/

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --ignore-unknown
        language: node
        additional_dependencies: ["prettier@3"]
        types_or: [yaml, json5]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

Review
  .github/workflows/test.yml
  crates/uv-fs/src/link.rs
  crates/uv-static/src/env_vars.rs
  crates/uv-test/src/lib.rs
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Review
  .github/workflows/test.yml
  crates/uv-cli/src/lib.rs
  crates/uv-fs/src/link.rs
  crates/uv-settings/src/settings.rs
  crates/uv-static/src/env_vars.rs
  crates/uv-test/src/lib.rs
  crates/uv/tests/it/pip_install.rs
  docs/guides/integration/docker.md
Due: cargo-fmt, cargo-dev-generate-all

Warn when using uv_build settings without uv_build
  crates/uv-build-frontend/src/lib.rs
  crates/uv/tests/it/build_backend.rs
Due: cargo-fmt

Address review comments: simplify tests and update documentation
  docs/guides/integration/docker.md
Due: none

Attempt to use reflink on Windows
  .github/workflows/test.yml
  crates/uv-fs/src/link.rs
Due: cargo-fmt

Fix install_cross_device: don't recreate venv that test_context already created
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Update MLflow guide to match current implementation
  docs/guides/integration/mlflow.md
Due: none

Fix install_cross_device snapshot: warning appears during install, not before resolve
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Debug: add -vv to venv calls in reflink integration tests
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Contributing: Do not use LLMs for communication (#18110)
  CONTRIBUTING.md
Due: none

Fix install_cross_device snapshot: correct continuation line indentation (9 spaces)
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Fix reflink integration tests on Windows: pass explicit Python version
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Fix DEV_DRIVE path: append trailing backslash for Windows root
  .github/workflows/test.yml
Due: none

Improve performance of repeated conflicts with an extra (#18094)
  crates/uv-resolver/src/resolver/mod.rs
  crates/uv/tests/it/lock_conflict.rs
Due: cargo-fmt

Inline snaps
  crates/uv-resolver/src/lock/mod.rs
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__hash_optional_missing.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__hash_optional_present.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__hash_required_present.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__missing_dependency_source_unambiguous.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__missing_dependency_source_version_unambiguous.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__missing_dependency_version_dynamic.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__missing_dependency_version_unambiguous.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__source_direct_has_subdir.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__source_direct_no_subdir.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__source_directory.snap
  crates/uv-resolver/src/lock/snapshots/uv_resolver__lock__tests__source_editable.snap
  crates/uv/tests/it/lock_build.rs
  crates/uv/tests/it/snapshots/it__lock_build__lock_build_dependencies_shared_package-2.snap
  crates/uv/tests/it/snapshots/it__lock_build__lock_build_dependencies_transitive_marker_filtering-2.snap
Due: cargo-fmt

Address review: add FS name to test filters and inline canonical variable
  crates/uv-test/src/lib.rs
Due: cargo-fmt

Fix filter to match backslash path separators on Windows
  crates/uv/tests/it/python_module.rs
Due: cargo-fmt

Add cross-device tests for explicit copy and symlink link modes
  crates/uv/tests/it/pip_install.rs
Due: cargo-fmt

Warn if `--project` directory does not exist
  crates/uv/src/lib.rs
  crates/uv/tests/it/run.rs
Due: cargo-fmt

Implement IndexArgStrategy to configure between directory-first and index-name only.
  crates/uv-cli/src/options.rs
  crates/uv-distribution-types/src/index.rs
  crates/uv-distribution-types/src/index_url.rs
Due: cargo-fmt, cargo-dev-generate-all

Just exit during index resolution to avoid the Result mess
  crates/uv-cli/src/options.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
Due: cargo-fmt, cargo-dev-generate-all

Fix origin tracking on indexes
  crates/uv-distribution-types/src/origin.rs
  crates/uv-settings/src/lib.rs
  crates/uv-settings/src/settings.rs
Due: cargo-fmt, cargo-dev-generate-all

Basic test case
  crates/uv/tests/it/edit.rs
Due: cargo-fmt

prioritize package indexes when a package is specified
  crates/uv-cli/src/options.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/edit.rs
Due: cargo-fmt, cargo-dev-generate-all

Remove support for `--default-index <name>`
  crates/uv-cli/src/lib.rs
  crates/uv-cli/src/options.rs
  crates/uv-distribution-types/src/index.rs
  crates/uv/tests/it/edit.rs
Due: cargo-fmt, cargo-dev-generate-all

Remove serialisation and schema support from IndexArg
  crates/uv-distribution-types/src/index.rs
Due: cargo-fmt

Only add necessary indexes into pyproject.toml
  crates/uv/src/commands/project/add.rs
  crates/uv/tests/it/edit.rs
Due: cargo-fmt

More tests
  crates/uv/tests/it/edit.rs
Due: cargo-fmt

Some additional comments
  crates/uv-distribution-types/src/index.rs
Due: cargo-fmt

Basic `--index` by name support
  crates/uv-cli/src/options.rs
  crates/uv-distribution-types/src/index.rs
  crates/uv-settings/src/settings.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/edit.rs
Due: cargo-fmt, cargo-dev-generate-all

Add some useful debugging information for index resolution
  Cargo.lock
  crates/uv-cli/Cargo.toml
  crates/uv-cli/src/options.rs
Due: cargo-fmt, cargo-dev-generate-all

Preview feature alternative resolution
  crates/uv-cli/src/options.rs
  crates/uv-preview/src/lib.rs
  crates/uv/src/lib.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/show_settings.rs
  docs/concepts/preview.md
Due: cargo-fmt, cargo-dev-generate-all

Document new `--index <name>` behaviour
  docs/concepts/indexes.md
Due: none

Tests for sync, run, and lock
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/run.rs
  crates/uv/tests/it/sync.rs
Due: cargo-fmt

Write the error chain for index name resolution errors
  crates/uv-cli/src/options.rs
Due: cargo-fmt, cargo-dev-generate-all

Explicit index warning
  crates/uv-cli/src/options.rs
  crates/uv/src/settings.rs
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/lock.rs
Due: cargo-fmt, cargo-dev-generate-all

Use warn_user_once for index ambiguity warning
  crates/uv-distribution-types/src/index.rs
Due: cargo-fmt

More sophisticated precedence testing
  crates/uv/tests/it/edit.rs
Due: cargo-fmt

Adjust CLI documentation
  crates/uv-cli/src/lib.rs
Due: cargo-fmt, cargo-dev-generate-all

More tests
  crates/uv/tests/it/edit.rs
  crates/uv/tests/it/lock.rs
  crates/uv/tests/it/run.rs
  crates/uv/tests/it/sync.rs
  crates/uv/tests/it/tool_install.rs
  crates/uv/tests/it/tool_run.rs
Due: cargo-fmt
